[2020-11-04 11:29] ZhaoZeqing commented on #251
@dathudeptrai I trained a multispeaker Tacotron2 model (modified **n_speakers** in config file), then converted it from .h5 to pb sucessfully, but loaded the pb model with the following error:

ValueError: indices.shape[-1] must be <= params.rank, but saw indices shape: [?,1] and params shape: [] for '{{node encoder/embeddings/speaker_embeddings/GatherNd}} = ResourceGatherNd[Tindices=DT_INT32, _ou

[2020-11-04 11:45] ZhaoZeqing commented on #251
@dathudeptrai It's OK when I fixed it the same to fastspeech2 at https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L79-L80 :)

[2020-11-04 13:05] dathudeptrai commented on #346
you mean tflite @fly2mun . if yes you can add this code:

[code]
before `converter.convert()`

[2020-11-04 13:06] dathudeptrai commented on #349
yes, you can contry it by adjust `f0_ratios`, `energy_ratios`,

[2020-11-04 13:18] dathudeptrai commented on #296
@ZDisket @ronggong

[2020-11-04 13:23] machineko commented on #296
@OscarVanL  Are u trim dataset using multispeaker preprocessing? (This remove both SIL and END token from the end of the sentence if yes you need to also remove END and SIL token from the end of the sentence in your inference example)

[2020-11-04 13:26] dathudeptrai commented on #325
@ronggong yeah :D i'm interested with ur libriTTS demo :D.

[2020-11-04 13:30] machineko commented on #325
@ronggong  If u used preprocessing based on multispeaker there is a part of trimming END and SIL from the end based on MFA alignment and in my case models was working a lot better with trimmed based on both END and SIL token in the end of the sentence. Also it wasnt trimmed on librosa but only based on MFA phonmes :)

If u use this trimming in inference time you should also remove SIL and END from

[2020-11-04 13:45] azraelkuan commented on #347
@hudsonx1123 seems you train a bad tacotron, can u share me you Groud Truth Align mels or Train result using tacotron.
u can check it in your log dir

[2020-11-04 13:56] OscarVanL commented on #296
@dathudeptrai Thanks for the link. Based on that I should train at `hop_size: 300` instead of 240, and set `fft_size: 2048` to match the `multiband_melgan.v1_24k` universal vocoder.

Should `hop_size` in the preprocess config and the model hyperparameters both be set to 300? I noticed I have been training with `hop_size` mismatched as 256 and 240 all this time.

@machineko
For the preprocessing, I

[2020-11-04 14:12] machineko commented on #296
@OscarVanL Yes hop_size should be the same in the model parameters as in the config params (i was training on 256 hop_size but it really shouldn't make a difference).

[2020-11-04 14:18] OscarVanL commented on #296
Awesome, I'll try re-training with these new params :)

[2020-11-04 14:19] machineko commented on #296
@OscarVanL Ok one more thing, try to remove every SIL token from input_ids and push it again (it for sure will fix few problems with performance :D )

[2020-11-04 14:22] machineko commented on #350
You need to reinstall the package to take effect of ur changes (as its build in this way) => https://github.com/TensorSpeech/TensorFlowTTS/blob/e42595abbf21208c81e0fabaa0b1eaeaca2c4053/setup.py#L55

This should be added to readme :P @dathudeptrai

[2020-11-04 14:24] OscarVanL commented on #296
It does make it sound better (but very fast), I remember reading your comment in https://github.com/TensorSpeech/TensorFlowTTS/issues/243 you added the SIL just for testing purposes :)

[2020-11-04 14:26] machineko commented on #296
Speed can be adjusted by using speed_ratios params

[2020-11-04 16:53] fly2mun commented on #346
When I changed it as follows, there was a problem that it worked well.
I used the default tacotron2 h5 and it worked fine before changing the code.

converter = tf.lite.TFLiteConverter.from_concrete_functions(
    [tacotron2_concrete_function]
)
# converter.optimizations = [tf.lite.Optimize.DEFAULT]
# converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
#

[2020-11-04 19:08] thorstenMueller commented on #209
Hi @monatis and @dathudeptrai .
Just being curious if there's any updates.

Personally i'm playing around with WaveGrad training on my public "thorsten" dataset.

[2020-11-04 19:48] ronggong commented on #325
@machineko ok, thanks for the tips, let me try another trimmed version.

[2020-11-04 20:11] ronggong commented on #345
@manmay-nakhashi Thanks, tried Phonetisaurus, but it seems me there obvious parsing mistakes.

[2020-11-04 20:29] OscarVanL commented on #345
@manmay-nakhashi
Unless I am mistaken, there isn't any way to use this on Android / Java.

[2020-11-04 20:40] machineko commented on #325
@ronggong  Also this => https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-721758530

[2020-11-04 20:47] OscarVanL commented on #325
I made the changes mentioned earlier in this thread and my model performs way better, and the end of the speech is not cut off after adding SIL and END to the end of my input ids :)

[2020-11-05 01:28] hudsonx1123 commented on #347
@azraelkuan ,here are image and event data of my train result(I trained 80k steps this time). Thanks for your reply and help.

![taco2_train_01](https://user-images.githubusercontent.com/45844949/98185741-36a7b900-1f48-11eb-83a5-4833a766855e.png)
[events.out.tfevents.1604042982.ND6TensorFlowAndCaldi.24689.505.v2.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5491334/events.out.tfevents.1

[2020-11-05 01:58] zhangsanfeng86 commented on #349
@dathudeptrai  Thank you！！！

[2020-11-05 01:58] #349 closed

[2020-11-05 08:14] azraelkuan commented on #347
it seems that your have some bad data in you dataset, u need to filter it out, or add grad norm to handle this.

[2020-11-05 08:39] TiramisuJ opened #352 "About the variant_predictor in FastSpeech2"
Hi, When I read the code of fastspeech 2, I was a little confused about the output of variant_predictor. The shape of the energy_outputs is [batch_size, character_length, feature], while the shape of the ground truth is  [barch_size, mel_length, feature]. Different shapes seem to represent different meanings, one in character dimension and the other in time dimension.Is there a problem with this t

[2020-11-05 12:13] OscarVanL commented on #325
Hi, I have a question about the LibriTTS FS2 dataset.

My dataset is currently the 100 speakers from `train-clean-100` subset with the longest speech duration, however, some speakers have as little as 11.5 minutes of speech in this selection.

I noticed the larger subset `train-clean-360` has many speakers with >25mins of speech. I could select 100 speakers, each with a lot more speech.

Do you th

[2020-11-05 12:21] OscarVanL commented on #296
The new params improved the model performance significantly (green line).
![image](https://user-images.githubusercontent.com/7999692/98237534-f30b7a00-1f5c-11eb-9d6b-302e4771ff6a.png)

However, speech still has a lot of electronic noise/buzzing.

Speech: ["Oak is strong and also gives shade. Cats and dogs each hate the other. The pipe began to rust while new. Open the crate but don't break the gla

[2020-11-05 12:40] ahmedalbahnasawy commented on #252
@dathudeptrai Do you think this approach is correct by de-norm my mel-spectrogram based on Espnet stats then re-norm based-on your mb-gan stats. I did the first part by de-norm tacotron mels ( inverse of CMVN) . Then normalize using this repo "stats.npy" .

[code]
The generated samples are lacking clarity and the reading style is not correct.
I have zero doubt about your text2mel models and i'm al

[2020-11-05 13:26] dathudeptrai commented on #296
can you share me the mel-spectrogram figure of above sentences ?

[2020-11-05 13:46] OscarVanL commented on #296
@dathudeptrai
![image](https://user-images.githubusercontent.com/7999692/98248773-4e456880-1f6d-11eb-84da-46aa7fd08ed9.png)

[2020-11-05 15:00] dathudeptrai commented on #296
@OscarVanL a mel is good, i think you need fine-tune the mb-melgan, it should improve much.

[2020-11-05 15:27] OscarVanL commented on #296
@dathudeptrai

To go back to the original purpose of this thread, I aimed to clone a patient voice.  Currently, if I pass in the `speaker_id` for my patient voice (trained amongst LibriTTS speakers), it does not sound like the patient, because it still has an American accent.

Your suggestion was to take a pre-trained FS2 model (which I have now trained), then fine-tune it to transfer the British

[2020-11-05 15:36] dathudeptrai commented on #296
@OscarVanL the only layer that you should keep (not fine-tune) is phoneme embedding, it represents the content of the input text, the other layers, you can fine-tune.  I believe that if you have general phoneme embeddings, you can ez transfer the model to ur target voice.

[2020-11-05 15:41] Adazzh opened #353 "tensorflow-tts-preprocess the baker dataset but had raise value AssertionError"
when i preprocess audio features,h=there are some err,but i don't know why.
tensorflow-tts-preprocess --rootdir /home/data/tts/BZNSYP --outdir ./BZNSYP --config preprocess/baker_preprocess.yaml --dataset baker
2020-11-05 10:36:05.235793: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2020-11-05 10:36:17,289 (preprocess:368) INF

[2020-11-05 15:44] dathudeptrai commented on #352
the `energy_outputs` is `per_charactor_energy`, you can see the code here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/fastspeech2_dataset.py#L170-L171) that we calculate `per_charactor_energy` by its duration :D.

[2020-11-05 18:54] OscarVanL opened #354 "MB-MelGAN training runs out of memory when starting evaluation"
I started fine-tuning the `multiband_melgan.v1_24k` Universal Vocoder with command:

[code]

After 5000 steps it evaluates, at this point, it runs out of memory and stops.

[code]

Any ideas?

[2020-11-05 20:58] ronggong commented on #296
About this, I remember the universal vocoder is trained with hopsize 300 https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/multiband_melgan

Should the fastspeech2 model match to this hopsize if we want to use this vocoder? @dathudeptrai

[2020-11-05 21:07] OscarVanL commented on #296
@dathudeptrai

Hi, I was looking at the list of layers to ensure I include everything except the phoneme embeddings.

When you say to not fine-tune "phoneme embeddings", do you mean specifically to avoid the `tf_fast_speech2/embeddings/charactor_embeddings/weight:0` layer, or all of the embeddings layers?

My plan was to use this:

`var_train_expr: "speaker|embeddings/speaker_embeddings|embeddings

[2020-11-05 21:21] ronggong commented on #296
If you remove SIL in the text, then there is no pause between text right? Also in the MFA alignment preparation, the punctuations seem convert to SIL. So removing SIL means removing the pause between sentences. @machineko

[2020-11-05 21:28] OscarVanL commented on #296
@ronggong The processor adds SIL in-between every word. So it would be transcribed as: `Hello @SIL World @SIL`. This made the speech sound very unnatural.

Stripping out the SIL between words improved the speech a lot. But you should still keep the SIL at punctuation.

In fact, I thought it sounded good to add SIL and END every place there is a sentence break  `; , .`, but maybe this is not correc

[2020-11-05 23:09] machineko commented on #296
As i write earlier u need to add punctuation to processor and map it to SIL token or just add SIL to text but not using the processor method at it wasnt indended to be used in this way  and i dont know why but me or @dathudeptrai dont rember to change it before merging pull request before :) Ill fix it in this weekend and update this topic

[2020-11-05 23:17] machineko commented on #354
Batch size of the validation sample is probably bigger than the training sample

[2020-11-05 23:28] OscarVanL commented on #354
I'm not sure what that means, is there a particular setting I should check?

[2020-11-05 23:41] machineko commented on #354
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml

[code]
change valid max step its 10x bigger then training probably that is cause of OOM errors

[2020-11-06 02:16] TiramisuJ commented on #352
I see. Thank you very much for your answer :D

[2020-11-06 02:16] #352 closed

[2020-11-06 06:41] GavinStein1 opened #356 "Illegal memory access when training fastspeech2libritts"
Hi there,

I'm trying to train fastspeech2libritts based off the 150K pretrained ljspeech model. When I am training, very early (within the first 10 mins), I hit the following illegal memory access error:
<img width="1202" alt="Screen Shot 2020-11-05 at 3 12 20 pm" src="https://user-images.githubusercontent.com/46909879/98334504-b91aa080-204e-11eb-858d-f7a859e7d476.png">

I am using Cuda 10.1 amd

[2020-11-06 09:07] ronggong commented on #296
I think that's why I could not get it right with python processor, thanks for the info. @machineko @OscarVanL

[2020-11-06 11:14] OscarVanL commented on #354
Ah thank you, that was the config I was using. Looks like a typo :) I'll give it another go later today

[2020-11-06 11:21] machineko commented on #296
It's fixed in new master

[2020-11-06 12:01] manmay-nakhashi commented on #345
@OscarVanL @ronggong you can compile it using swig

[2020-11-06 12:07] machineko commented on #356
TF_FORCE_GPU_ALLOW_GROWTH=true can cause this error u can try to turn it off.

You can also try => https://github.com/NVIDIA/framework-determinism as its not tensorflowTTS error you should consider heading here => https://github.com/tensorflow/tensorflow/issues

[2020-11-06 14:12] altangerelc commented on #354
That is a typo in the repository, I think. For new comers this config should be corrected. I had the same issue #335 .

[2020-11-06 15:16] machineko commented on #354
Lets ask @dathudeptrai

[2020-11-06 15:18] dathudeptrai commented on #354
i will change the default value :)))

[2020-11-06 15:47] OscarVanL commented on #325
For those training FS2 on LibriTTS, I tried switching my LibriTTS subset from `train-clean-100` to `train-clean-360` and it made a big improvement with the same number of speakers.

My speaker selection involved picking the 100 speakers with the most speech from the subset. In `train-clean-100` they have an average of 17.5 mins (some speakers with as little as 12 minutes). In `train-clean-360` the

[2020-11-06 16:21] OscarVanL commented on #354
I tested this and training now passes the evaluation stage without running out of memory, so the fix worked :) Thanks

[2020-11-06 16:30] ronggong commented on #325
@dathudeptrai Here is the colab notebook with pretrained Libritts train-clean-100 data Fastspeech2 model. Any suggestions?

[2020-11-06 16:43] machineko commented on #354
Np. close issue then :P

[2020-11-06 17:26] ronggong commented on #325
@machineko @OscarVanL
Here is an experiment. model trained with trimmed libritts 100 data. When inference, from top to bottom:
(1) no SIL, no END at the end
(2) only SIL
(3) both SIL and END
(4) only END

Where there is no SIL and END (1), the phrase ends abruptly. In case (2), the last vowel prolonged. In case (3), a vowel-like sound is added at the end. In case (4), a short pause is added to the

[2020-11-06 17:33] ronggong commented on #345
Tried to use Phonetisaurus, if I input "It should be like that.". It returns the phoneme sequence:
IH2 T SH UH1 D B L AY1 K DH AE1 T

obviously, the vowel of "be" is missing.

[2020-11-06 17:34] OscarVanL commented on #325
Yes, this is what I have been doing, I add SIL and END to the end of every speech :)

[2020-11-06 17:43] OscarVanL commented on #345
Thanks for investigating this.
My temporary "workaround" is for my Android app to send the text to a remote Python server using the normal g2p-en library, which then returns the phoneme symbol IDs as a protocol buffer serialised array. (But this obviously is not very practical as it adds an internet connection constraint!)

It adds ~30ms of latency if the TCP socket is already open, so it's not te

[2020-11-06 17:47] ronggong commented on #325
@OscarVanL I am not sure if adding END make sense. If we use trim MFA, the text id of both SIL and END are also trimmed in the training text I suppose https://github.com/TensorSpeech/TensorFlowTTS/blob/43aa56e302d0a23337c19601d1e2fbb0c8223fc6/tensorflow_tts/bin/preprocess.py#L158

Which might means in training, the model probably never seen END symbol.

[2020-11-06 17:51] OscarVanL commented on #325
Interesting, maybe the END is unnecessary then.

[2020-11-06 22:29] ronggong commented on #345
@OscarVanL As @dathudeptrai suggested, we can port g2p-en into java or c++ with the help of tensorflow, I think it will be a good practice.

[2020-11-06 22:30] ronggong commented on #325
@OscarVanL In the example, it adds some vowel-like noise.

[2020-11-07 06:32] leijue222 commented on #201
@azraelkuan Hi! Thanks for your work. Compared with some other reproduction projects, your reproduced tacotron2 can synthesize very long sentences without stress or omission. Have you done any special treatment of long sentences?

[2020-11-07 09:54] #331 closed

[2020-11-07 13:02] OscarVanL commented on #354
So I don't get out of memory errors anymore, but training gets killed when starting evaluation while/after filling the shuffle buffer.

![image](https://user-images.githubusercontent.com/7999692/98441714-fbe48300-20f7-11eb-8a06-36cfac91bf0c.png)

Anyone know what the cause of this may be?

I've tried reducing the batch size from 64 to 32 and this didn't fix it.

[2020-11-07 13:27] peter05010402 commented on #354
maybe it's out of System memory，not GPU memory

[2020-11-07 13:35] OscarVanL commented on #354
I put the training into the background as I reached the Shuffle buffer filled stage, I noticed using SSH was extremely laggy and slow.

Even running `ls` took ~30 seconds to execute...

I entered `top` and it says python is using 94.7% RAM, and almost 35GB of Virtual memory. Is this abnormal?
![image](https://user-images.githubusercontent.com/7999692/98442660-ccd11000-20fd-11eb-948d-6a760866fa04.p

[2020-11-07 13:38] machineko commented on #354
Just debug it 🧠
Put breaking points in place which frezee and watch ram usage it's probably tf dataset problem

[2020-11-07 13:40] peter05010402 commented on #354
When Training melgan，VIRT is same to you, but RES is only 6.5g

[2020-11-07 13:42] machineko commented on #354
This should be opened as another issue :P

[2020-11-07 14:26] OscarVanL commented on #354
I will create a new issue and try and do some debugging :)

I would have tried debugging with breakpoints already, but I've never done this before on a headless SSH session, and I can't reproduce the same problem on my own Windows machine. But I'll investigate how to do this soon.

[2020-11-07 14:26] #354 closed

[2020-11-07 14:40] OscarVanL opened #359 "MB-MelGAN consumes a lot of memory while starting evaluation"
(Issue opened after https://github.com/TensorSpeech/TensorFlowTTS/issues/354 as this appears to be a separate issue)

I am fine-tuning the `multiband_melgan.v1_24k` Universal Vocoder with command:

[code]

After 5000 steps it begins evaluation...

![image](https://user-images.githubusercontent.com/7999692/98443760-6bad3a80-2105-11eb-97fc-68a68000bdaa.png)

Sometimes it gets killed while filling th

[2020-11-07 14:45] OscarVanL commented on #359
As for debugging in headless SSH, should I try the [TensorFlow Profiler](https://www.tensorflow.org/guide/profiler#:~:text=Profiling%20helps%20you%20understand%20the,make%20the%20model%20execute%20faster.&text=Note%3A%20You%20cannot%20use%20the,data.)? It seems to show a lot of memory usage details.

[2020-11-07 21:54] machineko commented on #359
https://www.jetbrains.com/help/pycharm/remote-debugging-with-product.html
Here is small tutorial for easier debugging using pycharm on a remote machine :)

[2020-11-08 02:43] dathudeptrai commented on #359
can you check https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L74. Maybe because ur ram is not enough to catch all dataset ? @OscarVanL

[2020-11-08 03:50] dathudeptrai commented on #209
@monatis :D

[2020-11-08 07:35] ahmedalbahnasawy commented on #347
@hudsonx1123 It might be data issue. What is your batch_size and ngpus ?

[2020-11-08 13:10] OscarVanL commented on #359
I think that solved the problem 👍

When you have `allow_cache` enabled, does it cache the entire dataset, or just the train/eval depending on whether it is training or evaluating?

If it is the former, I noticed `dump_LibriTTSFormatted` (with train and valid data) is 17.17GB, so if it caches the entire data it is too large for my 16GB memory :) I assume this is the problem!

[2020-11-08 13:10] #359 closed

[2020-11-08 13:11] OscarVanL commented on #359
Wow, this is a really nice method, I will try this out in the future :D

[2020-11-08 13:27] #353 closed

[2020-11-08 13:50] lalimili6 opened #360 "tacotron2 synthesize wave"
Hi Dears,
Is it possible to synthesize waves from only tacotron2 models (or FastSpecch2)? or we must train a vocoder?
best regards

[2020-11-08 17:20] OscarVanL commented on #360
I am not sure about Tacotron, but if you look at the [FastSpeech2 paper](hhttps://arxiv.org/abs/2006.04558) it designed FastSpeech2**s**, which generates the speech waveform directly, so is an end-to-end model.

However, this repository only includes normal FastSpeech2, not FastSpeech2s. People have asked about this before (https://github.com/TensorSpeech/TensorFlowTTS/issues/155, and https://gith

[2020-11-08 17:55] OscarVanL commented on #296
I fine-tuned on my speaker dataset (32 mins) as described [here](https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-722645393).

The resultant voice does sound more like the speaker, and definitely sounds like it has a British accent 😄, but the quality is reduced.

* The grey line is trained on 100 LibriTTS speakers. I took this at the 110k checkpoint for fine-tuning.
* The oran

[2020-11-08 17:59] lalimili6 commented on #360
Thank, In e.g. Mozilla tts repo, tacotron2 generates the waveform in wav format directly and they add vocoder to improve wave quality.
but in this repo, I think we **must** train a vocoder to get a wave, is it true?
Can we use English vocoder for other languages?

[2020-11-08 19:35] ronggong commented on #296
@OscarVanL It seems to me by looking the layer naming, the speaker embedding and speaker fc are the layers you need to retrain or fine tune. Your current fine-tuning seems involve many layers and parameters, it should be easy to overfit with that small amount of data.

[2020-11-08 20:16] machineko commented on #296
@OscarVanL But why did u fine-tune u should just mix ur speaker with other libritts spekaers and train it as one :)

[2020-11-08 20:21] OscarVanL commented on #296
I did do this, my speaker is included among the 100 LibriTTS speakers, but when I do inference with that speaker ID, it does not sound anything like my speaker (it sounds like an American man).

I think the problem is that my speaker is British and the LibriTTS dataset is all Americans.

The fine tuning step was an attempt to transfer the British accent.

If you have any other suggestions I will t

[2020-11-08 20:25] machineko commented on #296
Add few British speaking people to dataset :P

[2020-11-08 20:36] OscarVanL commented on #296
Yes that would probably help. I will have a look at which British speaker corpuses are available.

I see "M-AILABS Queen's English corpus", however the Queen's English likely does not represent how normal British people actually speak 😆

[2020-11-09 02:56] azraelkuan commented on #201
no, this tacotron is implemented by the author of this project, i just use
cn dataset to train it.
may be i use the phoneme as the input, and each phoneme has a token #0
after it.

yuze <notifications@github.com> 于2020年11月7日周六 下午2:32写道：

--
Kuan Chen  （陈宽）
Speech Lab, Shanghai Jiao Tong University
Tel: +86 17621207116

[2020-11-09 03:05] leijue222 commented on #201
What tools do you use to convert text into phonemes?
And and the text is Chinese characters or pinyin or which one？

[2020-11-09 03:08] GavinStein1 commented on #296
Hi there, quick question about your speech inference.

Where do you pass in the speaker_id? I am going through the colab and fastspeech2 notebooks and I can't see reference to it anywhere...

[2020-11-09 04:43] GavinStein1 commented on #356
Thanks! this seemed to fix it

[2020-11-09 04:43] #356 closed

[2020-11-09 07:31] monatis commented on #209
hi @dathudeptrai  and @thorstenMueller, I was busy with some commercial projects for some time, but I'll be able to play a little bit with Thorsten dataset later this week, thinking that I can use some TFRC credits for the compute power required to train a German model with it. Updates will come as I make progress.

[2020-11-09 07:59] OnceJune commented on #316
Will odd upsample scale lead to checkerboard artifacts?

[2020-11-09 09:53] jackiegeek commented on #316
in my case, no

[2020-11-09 10:14] OscarVanL commented on #296
Inference looks like this:

[code]

See the part speaker_ids=tf.convert_to_tensor([**0**], dtype=tf.int32), that number is changed to the speaker you desire.

After processing your dataset (assuming you use LibriTTS), you will see `libritts_mapper.json`, inside this there is a mapping from the speaker's folder name to the speaker ID you need to pass into the inference.

[2020-11-09 14:07] zhangsanfeng86 opened #361 "ERROR: LeakSanitizer: detected memory leaks"
Hi all
when inference in C++, LeakSanitizer detected memory leaks, as follow:
![image](https://user-images.githubusercontent.com/73547638/98551139-f180df80-22d7-11eb-9d8e-b0d07fa0e683.png)

[2020-11-09 16:00] dathudeptrai commented on #361
@ZDisket

[2020-11-09 16:54] ZDisket commented on #361
@zhangsanfeng86 That's Tensorflow C API related and I can't really do much about it. Besides, it's a small, one-time memory leak of the device definition when the model is created for the first time, and it's not really that concerning as the OS frees memory when the program closes. I'll see if I can do anything about it, if not then oh well, 24 bytes one time which is later taken care of by the O

[2020-11-10 01:23] zhangsanfeng86 commented on #361
@ZDisket  Thank you for ur quick and clear reply ：）

[2020-11-10 01:23] #361 closed

[2020-11-10 02:04] GavinStein1 commented on #296
I see what you are referring to, however when processing libriTTS, this `libritts_mapper.json` was not generated/editted. It is still the same as the file I cloned from this repo (i.e. only 20 speakers and the same 20 speakers). I followed the libriTTS setup steps and preproccessing steps. Am I missing something?

[2020-11-10 02:09] OscarVanL commented on #296
Maybe you're looking in the wrong folder, the one in `TensorFlowTTS/tensorflow_tts/processor/pretrained/` is for the pretrained models on this repo.

Instead, when you run the preprocessing stages, a new `libritts_mapper.json` file should appear in your `dump` folder. This is specific to the dataset you're training with.

[2020-11-10 02:27] GavinStein1 commented on #296
Now I feel embarrassed for not seeing that earlier... Thank you

[2020-11-10 02:27] OscarVanL opened #362 "MB-MelGAN fine-tuning has big loss spikes, loss does not improve"
Hi,

I am trying to fine-tune the pretrained `multiband_melgan.v1_24k` model on LibriTTS + my speaker.

I'm aware that MB-MelGAN requires a lot more steps, but I am making this because my Tensorboard curve looks very unusual with spikes in loss, and no improvement in loss.

I am training on a machine with Xeon E5-2623 v4 + 4x1080ti + 128GB RAM, so memory should not be an issue this time. (on this

[2020-11-10 02:29] OscarVanL commented on #296
Happens to the best of us :)

[2020-11-10 03:49] dathudeptrai commented on #362
@OscarVanL it's normal :)). After 200k, the model will stop and you need re-sume it then it will training both Generator and Discriminator, it should train around 1M steps to get best performance.

[2020-11-10 03:49] hudsonx1123 commented on #347
@azraelkuan  I tried to remove all the Chinese period symbol in the metadata file (000001-010000.txt) and train again.
for example:
000001	卡尔普#2陪外孙#1玩滑梯#4。
to
000001	卡尔普#2陪外孙#1玩滑梯#4

Then the issue was fixed and I get good result.
Thanks for your help!!

![ScreenHunter 52](https://user-images.githubusercontent.com/45844949/98624952-c33be800-2349-11eb-91bc-e38af883b284.png)

[2020-11-10 03:54] hudsonx1123 commented on #347
@ahmedalbahnasawy I just use default baker conf(tacotron2.baker.v1.yaml)  to do training.

[2020-11-10 03:54] #347 closed

[2020-11-10 08:31] OscarVanL commented on #362
Oh wow, that is many steps. Is that the case when fine tuning too, or only when training a new model?

[2020-11-10 14:09] jinfagang opened #363 "More simple code to inference tacotraon2?"
Hi, I have code like this to inference my trained Chinese model, but I don't know how to get the output and save a audio file as ouput:

[code]

Can anybody help?

[2020-11-10 17:00] OscarVanL commented on #296
@ronggong I tried tuning only these layers, but now the model does not converge. After 3 hours there is no improvement and the model still sounds American.
![image](https://user-images.githubusercontent.com/7999692/98705863-1330a400-2376-11eb-911f-76b896e4bf5a.png)

I think I will retrain the LJSpeech model with a mixture of LibriTTS and some British speaker dataset, hopefully, this will help it g

[2020-11-11 07:59] jun-danieloh commented on #272
@dathudeptrai @kb-rahul
I git pulled the latest code and the latest setting but it is still extremely slow compared to PyTorch model. It is about x5 times slower  than PyTorch.

Is it Tensorflow vs PyTorch issue? Or a model implementation issue?

[2020-11-11 08:02] jun-danieloh commented on #272
@dathudeptrai
Also, my training speed doesn't get improved when I moved from 1080Ti to V100. It is almost identical. Is it a known issue?

Why does TensorFlow use the full memory of GPU when it is unnecessary? Even if with the smaller number of batch size, TensorFlow tries to utilize the full memory of GPU always.

[2020-11-11 08:43] OnceJune commented on #360
Try griffin-lim if you don't want a neural vocoder.

Depends on the vocoder you're using. If it is speaker independent, yes, speaker dependent, you might get strange sound, DSP, yes.

[2020-11-11 12:20] OscarVanL commented on #296
@machineko's suggestion to use more British speakers was a great suggestion, because it led me to find [LibriVox accents table](https://wiki.librivox.org/index.php/Accents_Table) and [British Readers on LibriVox](https://golding.wordpress.com/home/other-british-readers-on-librivox/). As LibriTTS is based on LibriVox, I found nearly all these speakers within the `train-clean-100`, `train-clean-360`

[2020-11-11 13:40] jinfagang opened #364 "MelGan train on baker dataset got error"
[code]

Does this params delete or miss in baker's config file? It says doesn't have this params in config.

[2020-11-11 14:54] dathudeptrai commented on #364
@jinfagang https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.baker.v1.yaml#L32. I think you are using an old version of this repo

[2020-11-11 14:55] dathudeptrai commented on #363
@jinfagang ref the colab here (https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcVTWEQVbsUm1S?usp=sharing)

[2020-11-12 03:22] #342 closed

[2020-11-12 06:07] jinfagang commented on #364
@dathudeptrai OK, I will pull it this night, poor me copied that params from multiband_melgan.v1 and trained it for a long time...

[2020-11-12 06:09] jinfagang commented on #363
@dathudeptrai Thanks, So i have to train another melgan model on baker? Is this melgan necessary and what's the purpose of this model? I am barely new here.

[2020-11-12 11:49] OscarVanL opened #366 "FastSpeech2 Speaker IDs do not correlate with the voice at inference"
Hi,

I'm having some difficulties with inference on my FastSpeech2 model. I do not think the speaker IDs at inference correlate with those in `libritts_mapper.json`.

For example, my speakers_map says `"2999": 65`. Speaker 2999 is British male, but when doing inference with speaker_id 65, the voice is one of a Female American speaker instead.

[code]

My speakers_map says `"8382": 49`, Speaker 838

[2020-11-12 13:32] machineko commented on #366
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/fastspeech2_dataset.py#L119 => here you should load mapper from your processor mapper (as processors were added later this isn't done in master branch feel free to fix it :P )

[2020-11-12 19:04] OscarVanL commented on #366
OK, so if I'm understanding correctly, when you process the dataset it creates `libritts_mapper.json`, but then when training the model this is not used and speaker IDs are re-generated, therefore not matching those in `libritts_mapper.json`?

[2020-11-12 20:49] machineko commented on #366
Ye when u train from example folder you are not loading mapper from processor (as u can see in #TODO all over the place :P)

[2020-11-13 05:38] zhufengyun opened #368 "fastspeech2 crushed on multi-gpu training"
for the same dataset and same config
training is ok on [1, 2, 4] gpus
but chrushed on [8, 10] gpus

2020-11-13 04:48:49.761847: W tensorflow/core/framework/op_kernel.cc:1767] OP_REQUIRES failed at constant_op.cc:185 : Invalid argument: Dimension -2147483648 must be >= 0
Traceback (most recent call last):
  File "workspace/scripts/train_fastspeech2.py", line 462, in <module>
    main()
  File "work

[2020-11-13 06:15] zhufengyun commented on #368
after adding some print functions to fastspeech.py:

sum_durations = tf.reduce_sum(durations_gt, axis=-1)  # [batch_size]
max_durations = tf.reduce_max(sum_durations)
tf.print("sum_durations", sum_durations)
tf.print("max_durations", max_durations)

tf.print("max_durations before tf.zeros", max_durations)
encoder_masks = tf.zeros(shape=[0, max_durations], dtype=tf.int32)

logs:
[train]:   0%|▏

[2020-11-13 09:53] seicaratteri commented on #351
Up! :)

[2020-11-13 10:35] OscarVanL commented on #366
@GavinStein1
Hi, just letting you know what I told you in https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-723727913 about the `speaker_id` was not correct, due to this bug. I've made a PR which seems to fix it though :)

[2020-11-13 11:16] jun-danieloh opened #369 "What is an expected average training speed of Tacotron2?"
What I am seeing is about ~11s/it with v100 GPU. I just followed the latest instruction in this github. Did I miss something?

[2020-11-13 11:39] OscarVanL commented on #362
You were right, here it is after 1M steps :)
![image](https://user-images.githubusercontent.com/7999692/99068668-d72f5600-25a4-11eb-99e4-125926c5ba84.png)

3 days 9 hours of training though, wow!

[2020-11-13 11:39] #362 closed

[2020-11-13 11:57] OscarVanL commented on #296
I am really happy with the Britsh models I am getting from the dataset, I feel like I am getting some models I am really satisfied with now! 🤟

Fine-tuning the vocoder definitely helped reduce the buzzing, but didn't eliminate it, but at this point, I am happy with the results. It took 3 days 9 hours to reach 1M steps though 😴

Now to fine-tune it all over again with my British speakers 😅

[2020-11-13 12:47] vocajon commented on #296
@OscarVanL Well done! Great work.

Are you in a position to share or publish your base British dataset, or trained model please?

[2020-11-13 12:58] OscarVanL commented on #296
@vocajon I probably should not share my model because of academic integrity (this is for a University project), but I was just writing a Blog post about compiling the British speaker corpus I used. It is based entirely on speakers taken from the LibriTTS dataset, so in theory, it should be open source but I must check this :) I will let you know once it's published 😄

[2020-11-13 13:21] #366 closed

[2020-11-13 13:21] #333 closed

[2020-11-13 13:47] OscarVanL commented on #351
Some recommendations based on my experience creating my own voice recordings and merging them with LibriTTS:

1. Recordings should not exceed 15 seconds. I recommend splitting them where you would have logical splits in your speech, for example at sentence fullstops, commas, and semicolons. Recordings that are long will result in you running out of memory in training.

2. Keep a consistent samplin

[2020-11-13 14:16] seicaratteri commented on #351
Hello @OscarVanL! Thank you so much for sharing your insights, it's precious and I really appreciate it! :) Could you elaborate a little bit more on "match the fastspeech2 hop_size to the vocoder's hop_size"? As the vocoder is already pre-trained, you mean simply adapting the hop_size hyperparameter of fast speech2 to be equal to the one that was used to train the vocoder?

Thank you again! 🥇

[2020-11-13 14:25] OscarVanL commented on #351
Exactly!

[2020-11-13 14:27] seicaratteri commented on #351
Thanks a lot! :) one last question: hop_size aside, did you change any of the hyperparameters in the config files when you trained fast speech2 or did you stick with the default ones?

[2020-11-13 14:33] dathudeptrai commented on #369
@jun-danieloh it should be 3-4s / 1it :))). The dataloader use fixed shape for training tacotron2 (use max_length of ur training mel) so maybe because ur max mel length is too long :)). The maximum mel length in ur data should be <= 850.

[2020-11-13 14:37] OscarVanL commented on #351
I stuck with the hyperparameters in `TensorFlowTTS\examples\fastspeech2_libritts\conf\fastspeech2libritts.yaml`. The only parameter I changed was `n_speakers` to match the number of speakers in my dataset, and `batch_size` from 32 to 16 because I was running out of VRAM on my GPU.

[2020-11-13 15:45] seicaratteri commented on #351
Awesome! Thank you so much it's really helpful! 🥇 Just out of curiosity, on which GPU did you train and how long did it take?

[2020-11-13 15:56] OscarVanL commented on #351
I trained on a 2070. My FastSpeech2 models take 80-110k steps to be optimal, 8-11 hours typically. This is with 34 hours of speaker data.

[2020-11-13 15:57] OscarVanL commented on #296
@vocajon

I created a repo with my LibriTTS British dataset. I only used the `libritts-english` subset, because I did not need Welsh/Scottish/Irish accents.
https://github.com/OscarVanL/LibriTTS-British-Accents

[2020-11-13 16:16] seicaratteri commented on #351
Very good to know! Thanks a lot again! :)

[2020-11-13 17:40] vocajon commented on #296
Great, thank you very much. Just curious, the purpose for your work is for patients before losing their voices right? What led to you excluding the Welsh/Scottish/Irish accents? You think it is unlikely any will appear as a patient in England? Or you think it is better to maintain 4 models (if enough data can be found for the others) and tune using the closest model?

[2020-11-13 22:02] OscarVanL commented on #296
At the moment it's only a proof-of-concept phase.
The LibriTTS dataset only has 2 Scottish, 2 Welsh, and 3 Irish speakers, with this little data adding these speakers will probably not allow any model to effectively clone a voice in any of these accents. To support these accents, a larger dataset would be required, so there's no value adding them to the dataset at present.

In regards to 1 vs 4 mo

[2020-11-14 22:46] angelo0027 opened #370 "Unable to open table file ...\model-120000.h5: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?"
I'm trying to continue the training of a pretrained model using ljspeech, everything loads correctly until the point where I get this error:

` Unable to open table file ...\model-120000.h5: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?`

This is the command I launch:

`python examples/tacotron2/train

[2020-11-16 03:19] lalimili6 opened #371 "error to save checkpoint"
Hi Dear,
I got this error, how can fix it?
best regards

[code]

[2020-11-16 04:36] dathudeptrai commented on #371
@lalimili6 can you share ur command line ?

[2020-11-16 05:51] wannaphong opened #372 "How do you prevent fake voice?"
Hello. Is it possible to use pretrained from this package to make fake voice by Transfer Learning? How do you prevent fake voice?

[2020-11-16 06:11] ZDisket commented on #372
Depends. How much data do you have, and what is the quality?

What do you mean?

[2020-11-16 06:15] dathudeptrai commented on #372
you mean the voice generates by voice-cloning technique ?

[2020-11-16 06:15] wannaphong commented on #372
Yes

[2020-11-16 06:16] dathudeptrai commented on #370
@angelo0027 not sure what is the bug =))

[2020-11-16 06:19] dathudeptrai commented on #372
you can easily do voice-cloning with this repo if you already have a good speaker encoder (training by deep metric learning, i have a plan to create a speaker identification framework :))). So you want to know how to detect the voice is fake or not ?

[2020-11-16 06:19] wannaphong commented on #372
If i train pretrained voice with 30hrs dataset,  I am concerned about fake voice that could be caused from pretrained.

[2020-11-16 06:23] nukes commented on #369
3-4s/1it is still to slow, i think someone should solve this problem: AR decoding cell is quite inefficient in tensorflow. basically 5-10 days for training tacotron model, which is pretty slow...

[2020-11-16 06:26] wannaphong commented on #372
Yes

[2020-11-16 06:30] jun-danieloh commented on #369
@nukes I totally agree with you. My tacotron2 in PyTorch shows 0.7~0.8 sec/it which is 5x times faster with the better quality. Training speed is the biggest hurdle for me to use Tensorflow model.

[2020-11-16 06:32] jun-danieloh commented on #369
@nukes Can you add more details about how decoding cell is quite inefficient in TF? I can probably work on this stuff to speed up the training speed myself.

[2020-11-16 06:37] dathudeptrai commented on #369
with r = 1 ?. can you share that repo :)), i can not believe that tacotron2 can train with 0.7~0.8 sec/it with r = 1 even it's mixed precision.

[2020-11-16 06:39] jun-danieloh commented on #369
@dathudeptrai I am not able to share the repo at the moment. It is not mixed precision and r = 5.

[2020-11-16 06:42] dathudeptrai commented on #369
you can adjust my repo with r = 5 :)) it should run as fast as pytorch version.

[2020-11-16 06:46] jun-danieloh commented on #369
@dathudeptrai What it the r value for 3-4s/it??

[2020-11-16 06:50] dathudeptrai commented on #369
r  = 1

[2020-11-16 06:51] dathudeptrai commented on #369
the reason why my tacotron is slower caused by static shape. That mean the decoder steps always equal by maximum length of the training mel-spectrogram. So if ur training data have some samples that its length > 1000 then the training speed will so slow :)). The maximum length should be <= 850 :D.

[2020-11-16 06:54] jun-danieloh commented on #369
@dathudeptrai
Is it static for all batches? Static shape changes every batch or is it fixed at the beginning of the training?

[2020-11-16 06:54] angelo0027 commented on #370
Shouldn't it be able to open h5? 🤔 And by the way, before I installed CUDA it was able to run on CPU, after I installed it, I have this error

[2020-11-16 06:57] jun-danieloh commented on #369
@dathudeptrai
I think you originally had the code below in tacotron_dataset.py. Did you take this out?

[code]

[2020-11-16 07:02] dathudeptrai commented on #369
yes, you should do that :)). 750-850 is good.

[2020-11-16 07:09] jun-danieloh commented on #369
Is there any way to have it dynamic? Is the max length set at the beginning of the training and does it last for the remaining training iterations without any changes?

[2020-11-16 07:42] dathudeptrai commented on #369
the default value is dynamic, see here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/conf/tacotron2.v1.yaml#L55). But it will cause training 2x slower, static shape is much faster. You can switch it to True and only training the mel that its length <= 850.

[2020-11-16 07:49] jun-danieloh commented on #369
@dathudeptrai I really appreciate for your detailed explanations :) Let me go through README more carefully.

Can I ask one last question? Does static shape mean for every batch or for an entire training set? What I mean by that is the value of max length changes every batch based on the longest one in a batch or is it set at the beginning of the training?

[2020-11-16 07:53] dathudeptrai commented on #369
it set at the beginning of the training :)). That mean all batch will padded to maximum length :)))

[2020-11-16 07:54] jun-danieloh commented on #369
@dathudeptrai Really appreciate for your detailed explanations :):)

[2020-11-16 08:05] ma-siddiqui opened #373 "Exceptions and failures when use MultiWorkerMirroredStrategy"
When  I use tf.distribute.experimental.MultiWorkerMirroredStrategy to run training on multiple machine I face following errors. Please advise when other necessary changes are needed.

2020-11-16 12:03:50,968 (cross_device_ops:1130) INFO: Collective batch_all_reduce for IndexedSlices: 1 all-reduces, group_size = 2
2020-11-16 12:03:56.443402: W tensorflow/core/grappler/optimizers/scoped_allocator_op

[2020-11-16 08:14] fly2mun commented on #346
please update question.
thanks
moon.

[2020-11-16 08:52] aragorntheking commented on #325
@ronggong MFA replacing punctuations before training has side effects. Like question marks don't make the sentence sound like a question anymore. Should we try to put the punctuations back post MFA alignment somehow ?
Is there a better way to fix this ?

[2020-11-16 08:54] dathudeptrai commented on #373
can you try to replace AdamWeightDecay by simple Adam first ?

[2020-11-16 08:55] dathudeptrai commented on #346
can you share a colab reproduce a bug ?

[2020-11-16 19:30] monatis commented on #209
I added support for German with `Thorsten` dataset in [my fork](https://github.com/monatis/TensorFlowTTS), and I'm training `multiband_melgan` now. After it's finished as well as `Tacotron 2`, I'll make a PR.

[2020-11-16 19:51] qianhui-wan commented on #289
Hey @dathudeptrai I had the same error when extracting durations.

[code]

print(d) after `d = get_duration_from_alignment(alignment)`, I used `reduction_factor=2` for training.
[code]

And here is a pic of alignment:
![30_alignment](https://user-images.githubusercontent.com/58607002/99300819-11099200-281b-11eb-8f5a-66ba39af27e8.png)

[2020-11-16 20:20] trinitylundgren commented on #290
Hi @dathudeptrai - we're running into the same issue as above (the most recent error). This occurred while following along with the tutorial and trying to extract durations. As in the above, the error is:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: Trying to access element 148 in a list with 148 elements.`

Any suggestions on how to fix?

@luis-vera, any update on your issue? W

[2020-11-16 23:48] GavinStein1 commented on #296
Hi @OscarVanL,

Can I ask what model you used for pretraining? and did you end up training all layers or just some specific ones? and what processor did you end up using for inference after your PR?

[2020-11-16 23:54] OscarVanL commented on #296
@GavinStein1
I trained starting with the pretrained `fastspeech2.v1` model [here](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#pretrained-models-and-audio-samples).

I trained all layers.

I used this processor:
[code]

You could also use the `libritts_mapper.json` generated in the dataset dump, but for the processor it's only necessary to tell it which phoneme ID

[2020-11-17 00:11] fly2mun commented on #346
hello.
thanks for your co-operation.
This is the log in colab.
modify code ---- start !!
converter = tf.lite.TFLiteConverter.from_concrete_functions(
    [tacotron2_concrete_function]
)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
# converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
#                                        tf.lite.OpsSet.SELECT_TF_OPS]

# converter.opti

[2020-11-17 02:09] dathudeptrai commented on #289
@qianhui-wan can you try comment out this code (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/extract_duration.py#L184-L198)

[2020-11-17 02:22] dathudeptrai commented on #346
@fly2mun i need colab :)))

[2020-11-17 02:27] fly2mun commented on #346
@dathudeptrai

This is the execution of the colab shared on TensorflowTTS site.

2020/07/05 Support Convert Tacotron-2, FastSpeech to Tflite. Pls see the colab. Thank @jaeyoo from the TFlite team for his support.

If you enter and run it, you can reproduce it together.

https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing

thanks.
Moon.

[2020-11-17 02:28] dathudeptrai commented on #346
@fly2mun okay, i will fix it

[2020-11-17 02:47] dathudeptrai commented on #346
@fly2mun i fix it :)), use tf.2.3.1 :D

[2020-11-17 02:59] fly2mun commented on #346
@dathudeptrai
The same result(error) was obtained using the tf 2.3.1 cpu version.
Could you please tell me the colab you used?

Thanks.
Moon.

[2020-11-17 03:05] dathudeptrai commented on #346
@fly2mun replace tf.float16 -> tf.float32 fixed ur problem.

[2020-11-17 03:05] dathudeptrai commented on #346
FYI: @jaeyoo seem tflite float16 yield nan output for all my models :))).

[2020-11-17 03:37] #343 closed

[2020-11-17 03:37] #279 closed

[2020-11-17 03:38] #261 closed

[2020-11-17 03:38] #255 closed

[2020-11-17 03:38] #254 closed

[2020-11-17 04:25] nukes commented on #369
Some people told me the same result as yours:Pytorch is much faster for training tacotron. I saw your discussion with @dathudeptrai . Basically i think use static shape compromises between training data usage and training speed.

[2020-11-17 04:29] GavinStein1 commented on #296
So if the processor is used for only the phoneme ids, how do you know what speaker id is your one when it is mixed in with libritts speakers?

also how many speakers/hours of speaking did you find worked best for you?

[2020-11-17 05:17] luis-vera opened #374 "Windows doesnt recognize TTS"
Hi.  I installed TensorflowTTS and when I tried to execute tensorflow-tts-preprocess, I found this error message:

tensorflow-tts-preprocess --rootdir ../ljspeech --outdir dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
"tensorflow-tts-preprocess" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

I don't know why this command

[2020-11-17 05:51] jun-danieloh commented on #369
@dathudeptrai The `refer` below is not available. Can you point me to other similar commits or posts?
[code]

[2020-11-17 06:52] dathudeptrai commented on #369
@jun-danieloh i can confirm that in my case fixed_shapes = True is 2x faster. But there is a man report that fixed_shapes=False is faster, you can refer this comment (https://github.com/tensorspeech/TensorflowTTS/issues/34#issuecomment-642309118)

[2020-11-17 06:55] jun-danieloh commented on #369
@dathudeptrai I can also confirm that `fixed_shapes = True` shows 2x faster training speed. Let me check why this helps. Does `fixed_shapes` shows any quality degradation?

[2020-11-17 07:10] dathudeptrai commented on #369
there are no quality degradations here :D

[2020-11-17 10:52] OscarVanL commented on #296
Sorry if my reply was confusing, I meant the _Processor_ only uses the phoneme IDs from the mapper json (as the processor is used for mapping text to phoneme IDs).

You will of course need to also check your mapping for the correct speaker ID at inference :)

I used 120 speakers, with 17 hours of British speakers and 17 hours of American speakers.

My results were best when I picked the top 100 sp

[2020-11-17 11:00] dathudeptrai commented on #296
you can load the weights like this:

model.load_weights(path, by_name=True, skip_mismatch=True).

[2020-11-17 13:01] lalimili6 commented on #371
TensorFlow version = 2.3.1
OS: ubuntu 20.04.1
gpu:
[code]
my coomand is:
``` javad@javad-HP-ProDesk-600-G2-SFF:~/Documents/TensorFlowTTS$ CUDA_VISIBLE_DEVICES=0 python examples/tacotron2/train_tacotron2.py   --train-dir ./dump_ljspeech/train/   --dev-dir ./dump_ljspeech/valid/   --outdir ./examples/tacotron2/exp/train.tacotron2.v1   --config ./examples/tacotron2/conf/tacotron2.v1.yaml   --use-norm

[2020-11-17 13:20] qianhui-wan commented on #289
then there's a length mismatch at

[code]

[2020-11-18 03:10] OscarVanL commented on #374
This is because you have to do `pip install .` in the TensorFlowTTS folder to register these endpoints :)

Specifically, these endpoints are defined in:

https://github.com/TensorSpeech/TensorFlowTTS/blob/d1789e301215205745c9a7036cb37bd4dda76c20/setup.py#L54-L61

Just beware, if you install the TensorFlowTTS directory it will copy anything within the folder to your Python Environment (so don't hav

[2020-11-18 13:51] lalimili6 commented on #371
here is the issue
https://github.com/h5py/h5py/issues/1732
I use` h5py==2.10.0` and fix.
best regards

[2020-11-18 13:51] #371 closed

[2020-11-18 14:46] dipjyoti92 opened #375 "The Gaussian noise vector at the generator input in Multi-band MelGAN implementation"
First of all, I would like to thank for this wonderful repo. I have a small query regarding the Multi-band MelGAN.

According to the Multi-band MelGAN paper, they use Gaussian noise vector at the generator input along with mels in the loss (equation 1 and equation 8 in the original paper). Although, the noise vector is not used in the Generator while calculating multi-resolution  STFT  loss. Howev

[2020-11-19 00:54] luis-vera commented on #374
Hi OscarVanL  I tried it in another machine and it worked. I am new in this area and I will train the dataset with tacotron.

Thanks a lot

[2020-11-19 02:22] #374 closed

[2020-11-19 03:35] sszhangpengfei opened #376 "How to conver baker.py to java file?"
I want to use Chinese TTS on android,but i found just only python sripte to conver text to id , i need a java file.
please help me.

[2020-11-19 03:41] #376 closed

[2020-11-19 06:42] dathudeptrai commented on #375
i did not use Gaussian noise for simplicity :)).

[2020-11-19 08:07] #369 closed

[2020-11-19 15:33] #375 closed

[2020-11-19 23:28] xsr6064 opened #378 "About using eos in different corpora"
First of all, thank you very much for the excellent implementations.

I am currently reading parts of the code, and found the use of eos symbol is different for some corpora, specifically for libritts: while other processors append "eos" to the end of each sentence, libritts processor doesn't seem to do that (setup_eos_token() returns None). Could you please explain why libritts doesn't use "eos"

[2020-11-20 06:56] l4zyf9x commented on #378
I think EOS purpose is for training Tacotron, to let the model know when stop. Move on to FastSpeech, we have duration predictor, so we don't need EOS any more.

[2020-11-20 09:15] Some-random opened #379 "Strange looking spectograms"
Hi, I found some strange looking spectograms when using multiband melgan. Can someone take a look at it?

Case 1: bright horizontal line around 4k freq band
ref:
![image](https://user-images.githubusercontent.com/10830859/99782305-e89fd180-2b53-11eb-9f1f-12e9332abfd8.png)

gen:
![image](https://user-images.githubusercontent.com/10830859/99782247-d6be2e80-2b53-11eb-8f10-d517c642a8c8.png)

Case 2: h

[2020-11-20 09:16] Some-random commented on #379
This is my config

# This is the hyperparameter configuration file for Multi-Band MelGAN.
# Please make sure this is adjusted for the LJSpeech dataset. If you want to
# apply to the other dataset, you might need to carefully change some parameters.
# This configuration performs 1000k iters.

###########################################################
#                FEATURE EXTRACTION SETTING

[2020-11-20 10:16] OnceJune commented on #379
you need to run more iters, https://github.com/kan-bayashi/ParallelWaveGAN/issues/236

[2020-11-20 12:47] Some-random commented on #379
My tensorboard looks like this, it seems like the my model diverged after 600k iters. But the frequency noise was there before the divergence. I'm wondering whether this will have something to do with the fact that my training data is very small (only around 1k sentences)

[2020-11-20 15:06] Some-random commented on #379
![image](https://user-images.githubusercontent.com/10830859/99815213-fc176080-2b84-11eb-9a26-5f11a1fed32a.png)

[2020-11-20 15:08] Some-random commented on #379
Also I'm wondering why does the frequency band noise always appear at 1/4 the maximum frequency (4000 Hz for 16000 Hz audio in my case and 2000 Hz for 8000 Hz audio in espnet issue)?

[2020-11-20 18:42] xsr6064 commented on #378
Ahh, I see, I thought the libritts processor can also be used to train tacotron. Thank you very much for the clarification.

[2020-11-20 18:42] #378 closed

[2020-11-20 20:39] ma-siddiqui commented on #373
Yes. I did but faced the same error again.

[2020-11-21 01:48] OscarVanL commented on #237
I also have no idea how to use TFLite FS2 models in Python. I tried the colab notebook, but also tried the code you quoted above, and get the error:

[code]

[2020-11-21 02:24] OscarVanL opened #380 "FS2 + MBMelgan Speech sounds much worse when exported to TFLite in Android"
Hi,

I have trained a FS2 model and fine-tuned my MBMelgan model. Here is a sample of the speech produced in Python before exporting to TFLite: [Normal FS2 and MBMelgan](https://drive.google.com/file/d/1SrqUyFQfN1Oag3WbnMh9ejIgEoU9Ge7a/view?usp=sharing).

Once converted to TFLite and used in Android (based on TensorFlowTTS/examples/android/) the models sound much worse...

1. Using my FS2 model +

[2020-11-21 02:26] dathudeptrai commented on #380
Hi @OscarVanL you should use tf.float32 for tflite, the đefault code will use 8bit then the performance worse

[2020-11-21 02:27] dathudeptrai commented on #380
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float32]

[2020-11-21 02:27] OscarVanL commented on #380
Thanks for the fast reply! This line is currently:

[code]

Should I keep any of those existing values, or just have tf.float32?

[2020-11-21 02:29] OscarVanL commented on #380
Thanks, I did not have that set so I will try re-converting the models and trying again :D

[2020-11-21 02:29] dathudeptrai commented on #380
Should keep everything

[2020-11-21 02:46] OscarVanL commented on #380
This made an improvement and it sounds more like my speaker, but now there is a new type of audio issue.

https://drive.google.com/file/d/1INdXMROfKLnoxq_MzyzjN4JSkLQyJtqa/view?usp=sharing

[2020-11-21 02:47] OscarVanL commented on #380
My TFLite conversion code is:

FS2:
[code]

MB-Melgan:
[code]

[2020-11-21 02:54] dathudeptrai commented on #380
Is the output match 100% with python code ?

[2020-11-21 02:59] OscarVanL commented on #380
No it doesn't match, the quality is degraded still, it sounds like it is speaking through a pillow, it is muffled and there is a little rattle/crackle in words.

I converted the repo's pretrained `multiband_melgan.v1_24k` vocoder again, and the muffled voice and rattle/crackle is not present. It must be a problem with my MB-Melgan model, but I don't understand why because it sounds fine in Python

[2020-11-21 03:03] dathudeptrai commented on #380
If you use float32 the output of tflite should match with the python code, i am not at home now to figure out what is the problem but you can debug by ur self :)). Let check mb melgan tflite and python first, then check encoder/decoder of fastspeech if they generate a same output when the input is the same 😀

[2020-11-21 03:05] OscarVanL commented on #380
Yes, thank you for the help :) Sounds good. I am going to bed now so will have a look tomorrow.

[2020-11-21 03:11] OscarVanL commented on #380
I was mistaken, the muffled / rattle sound happens with the pretrained `multiband_melgan.v1_24k` when converted to float32 too, not just my model.

[2020-11-21 06:30] ma-siddiqui commented on #373
Yes. I did it but no luck and faced the same error again.

[2020-11-21 11:39] ErfolgreichCharismatisch opened #381 "Incompatible shapes: [2,40,2061] vs. [2,40,2000] +Errors may have originated from an input operation."
I am using batch size 2 in `tacotron2.v1.yaml` with a custom 16000 Hz, mono, 10h total `myDataset`.
I prepared it and normalized it.
I started

`python examples/tacotron2/train_tacotron2.py  --train-dir ./dump_myDataset/train/ --dev-dir ./dump_myDataset/valid/ --outdir ./examples/tacotron2/exp/train.tacotron2.v1/ --config ./examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0

[2020-11-21 13:46] angelo0027 commented on #370
Anyone knows why this is happening? That's the file provided by the README, should be working I guess?

[2020-11-21 14:02] OscarVanL commented on #380
Is TF>= 2.4.1 still necessary for TFLite conversion? I have been using TF 2.3.1, maybe this could be related to the problem.

[2020-11-21 17:10] dathudeptrai commented on #370
@angelo0027 ur script is wrong, it should be

[code]

[2020-11-21 17:11] dathudeptrai commented on #380
let try tf-nightly. I will debug tmr. Not sure what is the reason, but the ouput of python and tflite should match 100% in float32.

[2020-11-21 17:13] dathudeptrai commented on #381
@ErfolgreichCharismatisch

pls add below code to (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L197):

[code]

[2020-11-21 17:39] angelo0027 commented on #370
That won't do...

`tensorflow.python.framework.errors_impl.NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for examples/tacotron2/pretrained/ckpt-120000`

Is there another file I should be downloading? In the checkpoint folder at the link, all are called model-XXXXX.h5

[2020-11-21 17:42] dathudeptrai commented on #370
@angelo0027 you should training from scratch with the pretrained h5 file, so it's not resume, it's pretrained.

[code]

[2020-11-21 17:47] angelo0027 commented on #370
Ah! I see now. Yes that worked, thanks!

[2020-11-21 17:47] #370 closed

[2020-11-21 20:17] ErfolgreichCharismatisch opened #382 "Inference failed, ValueError: Shapes (149, 512) and (199, 512) are incompatible"
I am using batch size 2 in `tacotron2.v1.yaml` with a custom 22050 Hz, mono, 10h total `myDataset`.
I prepared it and normalized it.
I started

`python examples/tacotron2/train_tacotron2.py  --train-dir ./dump_myDataset/train/ --dev-dir ./dump_myDataset/valid/ --outdir ./examples/tacotron2/exp/train.tacotron2.v1/ --config ./examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0

[2020-11-21 22:24] ErfolgreichCharismatisch opened #383 "How do I match the hyperparameter configuration yaml to my dataset?"
The tacotron yaml states

[code]

How do I match the hyperparameter configuration yaml to my dataset?

[2020-11-22 01:33] luis-vera opened #384 "Killed training with Tacotron2"
Hi. I am training my dataset with Tacotron 2 in 2 different machines. In the first one I am using Windows 10 and I haven't problem until now. But in the second one I am using ubuntu 20.04 and the training process always has ended in the epoch 506 of 200.000. The message is:
[train] 0% | 506/200000
Terminado (killed)

Could you tell me what would be the problem with Ubuntu because Ubuntu machine ha

[2020-11-22 08:04] dathudeptrai commented on #382
@ErfolgreichCharismatisch can you share ur mapper.json ?. 149 is the number of ljspeech charactor, but seem ur model have 199 charactor/phoneme input.

[2020-11-22 14:04] ErfolgreichCharismatisch commented on #382
ljspeech_mapper.json

`{"symbol_to_id": {"pad": 0, "-": 1, "!": 2, "'": 3, "(": 4, ")": 5, ",": 6, ".": 7, ":": 8, ";": 9, "?": 10, " ": 11, "a": 12, "A": 13, "à": 14, "À": 15, "ả": 16, "Ả": 17, "ã": 18, "Ã": 19, "á": 20, "Á": 21, "ạ": 22, "Ạ": 23, "ă": 24, "Ă": 25, "ằ": 26, "Ằ": 27, "ẳ": 28, "Ẳ": 29, "ẵ": 30, "Ẵ": 31, "ắ": 32, "Ắ": 33, "ặ": 34, "Ặ": 35, "â": 36, "Â": 37, "ầ": 38, "Ầ": 39, "ẩ": 40

[2020-11-22 14:12] ErfolgreichCharismatisch commented on #382
How?

[2020-11-23 02:21] jackiegeek commented on #322
I assume this is the same problem when I convert fastspeech2 to tflite model ?

when I only import `tflite_runtime`
[code]

when I import tensorflow as well, it won't show error above

[2020-11-23 04:24] charlie-codes-choi opened #385 "Trying to run mfa for Korean Fastspeech2, does anyone know where I can find Korean lexicon?"
EoM

[2020-11-23 04:32] ZDisket commented on #385
@charlie-codes-choi You can find a pretrained acoustic and G2P Korean model here: https://montreal-forced-aligner.readthedocs.io/en/latest/pretrained_models.html
Since there are no dictionaries, you'll have to generate one. The documentation shows how to: https://montreal-forced-aligner.readthedocs.io/en/latest/g2p_dictionary_generating.html

[2020-11-23 04:35] charlie-codes-choi commented on #385
Fantastic. Thanks a lot ZDisket! I will try it and share how it went here.

[2020-11-23 07:33] Jackson-Kang commented on #385
Hello, @ZDisket and @charlie-codes-choi .

The pretrained Korean MFA model has an issue. Please see the below.
https://github.com/HGU-DLLAB/Korean-FastSpeech2-Pytorch/issues/3#issuecomment-731979268

I recommend to generate dictionary for your own dataset using g2pk module (https://github.com/Kyubyong/g2pK).

[2020-11-23 09:19] jackiegeek commented on #237
@dathudeptrai
Flex delegate is required for FastSpeech2 TFlite, if only import tflite_runtime (without tensorflow full package), it shows error:

[code]

Code here:
(dont work ) https://colab.research.google.com/drive/12PehpbPCPKYcLaFWX7B6VCCaIEq93E2j#scrollTo=y_h7FBydVNG_

(work) https://colab.research.google.com/drive/16tlyfE2Vdnd9hA5CkxaA5UvQ5zwKg6T2#scrollTo=y_h7FBydVNG_

convert to tflite mod

[2020-11-23 09:24] dathudeptrai commented on #237
@jackiegeek so, let import tensorflow :)).

[2020-11-23 09:27] jackiegeek commented on #237
@dathudeptrai I don't want to install tensorlfow T^T in some case

[2020-11-23 09:34] jackiegeek commented on #237
Let me try
`To get tflite working with an FS2 model you need to include the Flex delegate library, which bloats the size of tflite to 140+ MB.`

is there any other solution?

[2020-11-23 10:51] tingyang01 commented on #237
Yeah, sorry.
I am not using Flex delegate.
I've installed only tensorflow 2.3.1.

On Mon, Nov 23, 2020 at 5:35 PM raisongeek <notifications@github.com> wrote:

[2020-11-23 11:59] zcy618 opened #386 "when extracting duration, there is one error: "ValueError: Shapes (149, 512) and (219, 512) are incompatible""
Dear friends:
when I extracting duration in tacotron2 step 4, I met one issue:
2020-11-23 19:47:38.283307: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1402] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 7420 MB memory) -> physical GPU (device: 0, name: GeForce GTX 1080, pci bus id: 0000:04:00.0, compute capability: 6.1)
2020-11-23 19:47:38.912491: I tensorflow

[2020-11-23 12:16] ronggong commented on #325
@aragorntheking I think you are right, the punctuations have been removed from the MFA alignment and as well from the training labels, as the labels are generated from the MFA alignment. I think it's worth to investigate the effect of putting the punctuations back.

[2020-11-23 12:56] jackiegeek commented on #237
ok... then I will wait until tflite support more Select TensorFlow operators |ू･ω･` ), BTW, TensorFlow Lite with select TensorFlow ops are available in the TensorFlow pip package version since 2.3 for Linux and 2.4 for other environments.

[2020-11-23 15:35] dathudeptrai commented on #386
@zcy618 ur config is wrong, it should be : `--config ./examples/tacotron2/conf/tacotron2.baker.v1.yaml`

[2020-11-23 15:37] brendanxwhitaker commented on #237
@dathudeptrai I am getting a similar issue with attempting to run FS2. It appears to require the flex delegate. You mentioned above that you have a version of the model which doesn't require the flex delegate. Any chance you could share that or push it in a branch?

[2020-11-23 15:38] dathudeptrai commented on #384
@luis-vera not sure what is the problem.

[2020-11-23 15:39] dathudeptrai commented on #237
Hi, i'm still need flex delegate, to run the model that require a flex delegate, you should install tflite-support `implementation 'org.tensorflow:tensorflow-lite-support:0.0.0-nightly'` and use *REAL* android device rather than virtual machine.

[2020-11-23 15:43] brendanxwhitaker commented on #237
I'm not running on android, I'm running on a Raspberry Pi. Sorry so can you explain what you meant here:

What do I do if I'm not building an AAR?

[2020-11-23 15:44] dathudeptrai commented on #383
@ErfolgreichCharismatisch maybe you just need to follow the default config :v

[2020-11-23 15:45] dathudeptrai commented on #382
what is ur config u used for training and what is ur language ?

[2020-11-23 15:53] dathudeptrai commented on #237
hmm, in your case, you should build 2 tflite from fastspeech2 :))). Encoder  +  Decoder, they do not need flex delegate, for length regulator, you should code it by **raw** python (it's so simple). BTW, why don't you use saved model for Raspbery Pi rather than tflite :).

[2020-11-23 16:20] brendanxwhitaker commented on #237
How do I do that exactly? I've been exporting the models as done in the notebooks and then importing them in a C++ program, which I'm building using bazel as instructed in the TFLite docs. So only the length regulator requires the flex delegate?

Also, what do you mean by `use the saved model`?

Thanks very much for your patience.

[2020-11-23 16:22] dathudeptrai commented on #237
i mean tf.saved_model.save(....) (.pb file) and yes, only length regulator requires the flex delegate but it can be implement by raw python code easily :D .

[2020-11-23 20:06] brendanxwhitaker commented on #237
This is what the interpreter complains about when I attempt to run FS2 without compiling with flex delegate. What specific lines in the length regulator are responsible for this? I don't see anything related to `uniform` there.
[code]

[2020-11-24 02:11] zcy618 commented on #386
😅

[2020-11-24 02:11] #386 closed

[2020-11-24 03:23] dathudeptrai commented on #237
the randomuniform from dropout function here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/fastspeech2.py#L254-L259). In the inference, the model still enable dropout for f0/energy embedding :D.

[2020-11-24 05:27] Some-random opened #388 "Why is generator_mixed_precision set to 1 during stage 1 of training?"
I'm referring to the stage 1 training of multiband melgan

[2020-11-24 06:47] dathudeptrai commented on #388
faster for training step :))).

[2020-11-24 15:14] ErfolgreichCharismatisch commented on #383
22050 Hz

[2020-11-24 15:16] ErfolgreichCharismatisch commented on #382
language: german

config:

[code]

[2020-11-24 15:17] dathudeptrai commented on #383
so just use the ljspeech config

[2020-11-24 15:18] dathudeptrai commented on #382
i saw you use tacotron2.v1.yaml in ur training script ?.

[2020-11-24 15:44] ErfolgreichCharismatisch commented on #382
Yes, I did.
I am using the mapper that was being created in the dump folder after tensorflow-tts-preprocess and tensorflow-tts-normalize.

[2020-11-24 15:48] ErfolgreichCharismatisch commented on #382
To make this easier, can you outline the process of using your own dataset(german in my case) in the ljspeech format(

[code]
)
to first train to then use inference on.

Or show a general approach and point out the differences in a concise and structed manner either here or on the main site.

Would be highly appreciated.

[2020-11-24 16:01] dathudeptrai commented on #382
@ErfolgreichCharismatisch  did you add to here also ? (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L347-L366)

[2020-11-24 16:33] ErfolgreichCharismatisch commented on #382
@dathudeptrai Please refer to https://github.com/TensorSpeech/TensorFlowTTS/issues/382#issuecomment-733060825

[2020-11-24 16:38] dathudeptrai commented on #382
i will make the wiki for training new dataset with new languages. :D

[2020-11-24 16:40] ErfolgreichCharismatisch commented on #382
Great. Please reply here when done.

[2020-11-25 01:04] ZDisket opened #389 "Cannot train MFA-aligned FastSpeech2 with gradient accumulator: ValueError: None values not supported."
I tried training FastSpeech2 on LJSpeech resampled to 24KHz with `gradient_accumulation_steps: 1` and batch size 128 with mixed precision on a Tesla T4 (14GB of VRAM) and got this:
[code]
Any ideas?

[2020-11-25 02:49] dathudeptrai commented on #389
@ZDisket if you use `gradient_accumulation_steps: 1` the training behavior is the same as the old version. SO the bug shouldn't cause by gradient accumulator.

[2020-11-25 02:56] dathudeptrai commented on #389
here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L836) and here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L859), let try to replace it by:

[code]

[2020-11-25 02:59] ZDisket commented on #389
@dathudeptrai

Then what's the correct value? Also, I'll try that solution.

[2020-11-25 03:29] ZDisket commented on #389
@dathudeptrai

Now I'm getting OOM, so I guess that works.

[2020-11-25 03:33] dathudeptrai commented on #389
so let try to set batch_size 16 and gradient_accummulate: 8 :D then you can training with batch-size 128

[2020-11-25 04:27] ZDisket commented on #389
@dathudeptrai
Another error shortly in training
[code]

[2020-11-25 04:30] dathudeptrai commented on #389
@ZDisket did you pull the newest code in master, seems the bug come from dataloader.

[2020-11-25 05:16] Zegalryang commented on #389
@dathudeptrai Hi, I have same problem.

what should i do?

----------------------------------------

2020-11-25 05:12:18.352806: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2020-11-25 05:12:19.727529: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcuda.so.1
2020-11-25 0

[2020-11-25 05:17] dathudeptrai commented on #389
@Zegalryang pull newest code :)).

[2020-11-25 05:18] Zegalryang commented on #389
@dathudeptrai
I pulled already newest code
commit : ea72bab6cef40dff68b0b619ecf0d7c9cce3e3f0

[2020-11-25 05:22] dathudeptrai commented on #389
pull and pip install -e .

The newest code fixed ur problem.

[2020-11-25 05:39] ZDisket commented on #389
@dathudeptrai

Now it works well.

[2020-11-25 05:58] Zegalryang commented on #389
@dathudeptrai it works!! thanks!!

[2020-11-25 05:59] #389 closed

[2020-11-25 07:43] wsr692 opened #390 "use of _build for dummy input"
https://github.com/TensorSpeech/TensorFlowTTS/blob/ea72bab6cef40dff68b0b619ecf0d7c9cce3e3f0/tensorflow_tts/models/fastspeech2.py#L123

https://github.com/TensorSpeech/TensorFlowTTS/blob/ea72bab6cef40dff68b0b619ecf0d7c9cce3e3f0/tensorflow_tts/models/fastspeech2.py#L134

Hi, I thanks for keeping up this great work.
May I ask why you chose to make  _build execute  __call__(by self) by feeding the fak

[2020-11-25 07:51] dathudeptrai commented on #390
Hi, we need to feed a fake input to the call function to build a model so make it able to load_weights :D.

[2020-11-25 08:30] dathudeptrai commented on #342
@cookingbear tensorflow 2.3.1 is ok.

[2020-11-25 08:31] dathudeptrai commented on #379
is this ok now ?

[2020-11-25 15:15] dathudeptrai commented on #368
@zhufengyun sorry for reply late :(. Can you try the newest code ?

[2020-11-25 15:25] zhufengyun commented on #368
@dathudeptrai i found that the same bug appears when i use grad accumulation for, say, 8+ steps, with one gpu.
the debug log shows (batchsize=6, code in the second post):

sum_durations [820 359 847 665 1039 1440]
max_durations 1440
max_durations before tf.zeros 1440
sum_durations [879 160 1262]
max_durations 1262
max_durations before tf.zeros 1262
sum_durations []
max_durations -2147483648
max_du

[2020-11-25 15:40] dathudeptrai commented on #368
yes, you are right, the problem comes from an incomplete batch that I fixed in the private library :))).

[2020-11-25 15:40] #368 closed

[2020-11-25 15:41] zhufengyun commented on #368
cool 👍

[2020-11-26 00:49] OscarVanL commented on #380
I have tried the latest `tf-nightly`, but I am having a _very bizarre issue_ when converting.

My .h5 MBMelgan model is 8.24MB ([download](https://drive.google.com/file/d/1wZjfwj1joRtCoHx9ljOe969RK6L4lr-d/view?usp=sharing)) ([config](https://drive.google.com/file/d/1gfRXjYKMHZ4VZow5XkGHJrMFVOVVOyz2/view?usp=sharing)).

When I convert this to TFLite, sometimes it's 5.29MB, sometimes it's 8.26MB, bu

[2020-11-26 01:11] OscarVanL commented on #380
OK I have debugged the issue. On the first run of the notebook it outputs 8.26MB, but if I run the notebook again without restarting the kernel it is 5.29MB. How weird!

[2020-11-26 02:46] OscarVanL commented on #380
I converted the model with `!pip install tf-nightly` (2.5.0-dev20201125), and it fixes the muffled/rattle sound, but the quality is still not as good as on desktop.

I did an experiment as you described. I pass the same FS2 Mel into both versions of the same vocoder.

![image](https://user-images.githubusercontent.com/7999692/100300289-94e71b00-2f8d-11eb-81eb-239afe9c3d0d.png)

There are some diff

[2020-11-26 02:51] dathudeptrai commented on #380
@OscarVanL Hi

That's ok :)) the differences are very small.

Here (https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing) :D. You can see the link at `What's new` Section. :D

[code]

[2020-11-26 03:00] OscarVanL commented on #380
Thank you, I can't believe I forgot about this Collab 😵 I will check this tomorrow. Thanks 👍

[2020-11-26 03:38] ZDisket commented on #389
@dathudeptrai Training with gradient accumulator for effective batch_size 128 is slow, about 2.7s/it, on a GPU that would normally get 2.9it/s. Is this normal?

[2020-11-26 04:22] dathudeptrai commented on #389
normally, we train with batch_size 16 so you can obtain 3it/s but now you are training with batch-size 128 so 2.7s/it is normal.

[2020-11-26 06:10] hdmjdp opened #391 "Why hifigan loss used stft_loss instead of mel_loss?"
Hi, Why hifigan loss used stft_loss instead of mel_loss?

[2020-11-26 06:13] dathudeptrai commented on #391
@hdmjdp to reuse MelganSTFTTrainer :). I just so lazy, everything is ok :))). STFT loss and Mel-spectrogram loss are almost produced the same performance, it doesn't matter.

[2020-11-26 06:22] hdmjdp commented on #391
@dathudeptrai thanks, I will try 48k training using stft_loss. HifiGAN can train g and d together without pretrained generator?

[2020-11-26 06:27] dathudeptrai commented on #391
@hdmjdp wow, 48k :)), you should change some param in the training config and preprocessing config. Why don't you try to 22050 Hz first to see the performance :) (same config as ljspeech, you just need to resample ur dataset first.)

[2020-11-26 06:34] hdmjdp commented on #391
@dathudeptrai Actually, I have trained the torch version of hifigan on 48k, and it works but train slowly. I think the tf version of yours may train faster than the torch version?

[2020-11-26 06:36] dathudeptrai commented on #391
maybe :))). You can try the small config (v2) in this repo first :)).

[2020-11-26 06:59] hdmjdp commented on #391
@dathudeptrai I trained G and D together 1k, and I found real_loss and fake_loss is 0. Is that normal? The discriminator_train_start_steps has been seted to 0.

[2020-11-26 07:16] dathudeptrai commented on #391
@hdmjdp weird, @ZDisket

[2020-11-26 07:29] dathudeptrai commented on #391
@hdmjdp did you check that u use the config that `discriminator_train_start_steps` is 0 ?.

[2020-11-26 07:39] hdmjdp commented on #391
@dathudeptrai  step 600 real_loss and fake_loss is not zero,  but later it decrease to 0.
2020-11-26 14:00:20,781 (train_hifigan:177) INFO: gradient_accumulation_steps = 1
2020-11-26 14:00:20,781 (train_hifigan:177) INFO: discriminator_train_start_steps = 0
2020-11-26 14:00:20,781 (train_hifigan:177) INFO: train_max_steps = 2000000
2020-11-26 14:00:20,781 (train_hifigan:177) INFO: save_interval_st

[2020-11-26 07:45] dathudeptrai commented on #391
i think you should follow my instruction. Training 100k steps then training Discriminator + generator.

[2020-11-26 07:49] hdmjdp commented on #391
@dathudeptrai That's wired, the torch version no need pretrained 100k.

[2020-11-26 07:55] dathudeptrai commented on #391
the training process is different :D. But i do not know, ur spectral + log loss should be < 1.0 after around 3k-5k steps.

[2020-11-26 08:39] hdmjdp commented on #391
@dathudeptrai thanks，i will try to refine code to align tf version with torch version.

[2020-11-26 08:40] dathudeptrai commented on #391
no need to align :))) i finish my hifigan in my private library and that ok.

[2020-11-26 09:15] hdmjdp commented on #391
@dathudeptrai Does your private library version train 100k steps for generator only then training Discriminator + generator?
Have you train g and d from scratch?

[2020-11-26 09:16] dathudeptrai commented on #391
pretrained G before training both always better.

[2020-11-26 09:17] hdmjdp commented on #391
@dathudeptrai Ok, got it. thanks.

[2020-11-26 14:03] seicaratteri commented on #351
Hello @OscarVanL! :) I have a question for you: I am trying to train fastspeech2 on a custom dataset - to do it, should I first extract the durations using tacotron? if yes, does this mean that I have to train tacotron before I train fastspeech2? How was your experience in this case?

Thank you a lot in advance! :)

[2020-11-26 15:47] seicaratteri opened #392 "Is it possible to use MFA on LJSpeech?"
Hello all! First of all thanks for the repo, the work is incredible! 🥇

I am trying to train FastSpeech2 on LJSpeech, but I am finding this blocking error when extracting the durations using MFA. What I have run is:

`!python examples/mfa_extraction/run_mfa.py \
  --corpus_directory ./ljspeech/ \
  --output_directory ./mfa/parsed \
  --jobs 1`

And the output I get is:

`Setting up corpus informat

[2020-11-26 19:20] machineko commented on #392
Your folder structure should be changed to this => dataset/**LJ**/lj-000.wav etc. cause MFA is searching speakers inside ur dataset foders.

For example => Dataset/speaker_id/speaker_001.wav

[2020-11-27 01:47] xiaoyangnihao commented on #380
@OscarVanL @dathudeptrai  hi, can you share you code for converting mb_melgan model to tflite format ?  The following is my code,
[code]
the error is like:
[code]
can you give me some advices ?

[2020-11-27 02:17] Miralan commented on #379
Because the predict of  subbands of top frequency is difficult.
In my opinion, fisrtly, high frequency has lower energy (for mse loss , smaller weight of total loss); secondly, top subbands of frequecy represent high frequency waveform which is difficult for transposed convolution to simulate.
Continuing to train may lighten this noise.

[2020-11-27 02:17] Miralan commented on #379
Because the predict of subbands of top frequency is difficult.
In my opinion, fisrtly, high frequency has lower energy (for mse loss , smaller weight of total loss); secondly, top subbands of frequecy represent high frequency waveform which is difficult for transposed convolution to simulate.
Continuing to train may lighten this noise.

[2020-11-27 06:46] hdmjdp opened #393 "hifigan tensorflow trained slowly"
I found the tf version is slower than the torch version of hifigan during training. Is that normal?

`[train]:   0%|          | 1901/2000000 [1:56:07<432417:49:49, 779.09s/it]2020-11-27 14:50:45,035 (base_trainer:140) INFO: (Steps: 1901) Finished 1 epoch training (1901 steps per epoch).
[train]:   0%|          | 1988/2000000 [1:57:26<477:51:38,  1.16it/s] `

[2020-11-27 08:48] dathudeptrai commented on #393
Share ur cỏnfig and ur command line, it should run much faster than ur report.

[2020-11-27 10:53] seicaratteri commented on #392
Hello @machineko! Thank you so much for your answer and help :)

I am a bit confused. The structure of my current folder is:

LJSpeech-1.1
|___wavs

Shouldn't MFA consider the folder wavs as the speaker id? Anyway, I also tried to rename it to LJ, like this:

LJSpeech-1.1
|___LJ

And as well to rename the parent directory like this:

Dataset
|___wavs

Dataset
|___LJ

But none of this worked, I alw

[2020-11-27 11:59] jun-danieloh opened #394 "tensorflow profiler"
Does anyone try tensorflow profiler? I have trouble running it :(

[2020-11-27 12:29] machineko commented on #392
It should looks like this =>
![image](https://user-images.githubusercontent.com/42299606/100449663-97906000-30b4-11eb-80a3-1903aee1115d.png)

[2020-11-27 12:49] seicaratteri commented on #392
I see! Then maybe what I am missing are the .txt file, because I only have the .wavs

Does the .txt files need to have the transcription for the related .wav file?

Thanks a lot again for your help! Is much appreciated! :)

[2020-11-27 13:16] machineko commented on #392
Yup they need to be transcription for .wav files you can check more here https://montreal-forced-aligner.readthedocs.io/en/latest/data_prep.html

[2020-11-27 13:33] machineko commented on #393
It looks like cpu training 🍡

[2020-11-27 15:34] seicaratteri commented on #392
Thank you so much! By adding the transcript, now it works!

Nonetheless, I am still stuck: when i try to train fastspeech2, i get the following error:

`AssertionError: Number of charactor, mel, duration, f0 and energy files are different`

What could be the cause of this?

[2020-11-27 15:48] machineko commented on #392
Open new issue for this problem :P (u can also check older issues for this error)

[2020-11-27 15:48] seicaratteri commented on #392
Make sense! Thanks a lot for your help! :)

[2020-11-27 15:48] #392 closed

[2020-11-27 17:49] ErfolgreichCharismatisch commented on #382
Just start with the wiki and leave it open for someone else to finish...

[2020-11-28 06:24] #360 closed

[2020-11-28 06:31] zcy618 commented on #289
Please try:
assert d[-1] >= 0 and d[0] >= 0, f'{d}, {np.sum(d)}, {real_mel_length}'

[2020-11-28 11:40] aragorntheking commented on #362
@OscarVanL did fine tuning MB-MelGAN, actually improve voice quality for your additional speaker ? Did you restrict the training to particular layers ?
It looks like you fine tuned with all speakers in your dataset not just the additional speaker. Since your speaker config won't match the pretrained model's speaker config, I wonder if speaker learning would get muddled without restricting it to fe

[2020-11-28 12:17] OscarVanL commented on #362
Yes it did, in particular, it reduced the buzzing/noise in the background.

I did not restrict any layers, I just started the training job over the pretrained `multiband_melgan.v1_24k` vocoder.

I did train with all speakers, not just my 1 voice. It did improve performance in general.

I think with just one voice it's likely to overfit (obviously, this depends on how much speech you have for that

[2020-11-28 22:09] augustfr opened #396 "Where to put ljspeech dataset"
Where to I put my ljspeech dataset? I'm confused on how to run the preprocessing

[2020-11-29 00:41] augustfr opened #397 "Preprocessing done, how to train model and use Text-to-speech"
I have completed the preprocessing for the ljspeech dataset. I'm unsure how to continue to train the model and then test the text-to-speech functionality. let me know how to do this!

[2020-11-29 00:41] #396 closed

[2020-11-29 06:47] dathudeptrai commented on #397
read the readme is all you need.

[2020-11-29 06:48] dathudeptrai commented on #394
@jun-danieloh what is ur bug :)). i never try to use tfprofiler because i don't have permission in my server :))).

[2020-11-29 12:21] jun-danieloh commented on #394
@dathudeptrai Not sure yet :) Tensorflow documentations from Google are not clear to understand :(

[2020-11-30 01:23] luis-vera opened #398 "What are the following steps after training"
Hi everybody. I am training a dataset with Tacotron2.  I understand the following steps are executing Step 3 and Step 4 according th e corresponding  README file.

In Step 3 and Step 4 you mention model-120000.h5 but in directory checkpoint I have only model-2000.h5 and model-4000.h5 but I can't find this file in my downloaded repository.

Next, in case I completed Step 3 and 4 how can I enter a t

[2020-11-30 02:11] augustfr opened #399 "fastspeech2-melgan error"
Not sure what's going on here. I had tacotron2-melgan and fastspeech-melgan running perfectly. But when I switched over to fastspeech2-melgan I'm getting this error:
File "fastspeech2-melgan.py", line 79, in <module>
    mels, audios = do_synthesis(input_text, fastspeech2, melgan, "FASTSPEECH2", "MELGAN")
TypeError: cannot unpack non-iterable NoneType object

[2020-11-30 02:14] #397 closed

[2020-11-30 02:21] hdmjdp commented on #393
@machineko @dathudeptrai It trained used gpu.

[2020-11-30 02:50] dathudeptrai commented on #393
pls share ur config and ur command line.

[2020-11-30 02:53] dathudeptrai commented on #398
@luis-vera how many steps did you train for tacotron2 now ? 4k ?

[2020-11-30 03:15] luis-vera commented on #398
Hi. I will use model-4000.h5 What is the difference with model-2000.h5?

[2020-11-30 03:31] dathudeptrai commented on #398
4000 mean 4k steps, 2000 mean 2k steps. You should run around 80k steps for tacotron2.

[2020-11-30 07:28] wsr692 opened #400 "fastspeech embeddings - layers.Embedding & layers.Layer"
Hi!
Thanks for your passion spent on keeping this project amazingly alive!

I have another question regarding embedding implementation in your fastspeech.
Below, I see that `TFEmbedding` is subclassing  `layers.Embedding`, which implicitly does `add_weight` in `build`. May I ask why you chose to subclass embedding for positional and speaker embeddings?

https://github.com/TensorSpeech/TensorFlowTT

[2020-11-30 07:31] wsr692 commented on #390
Oh, so that was for loading pretrained model. Thanks!

[2020-11-30 08:03] #394 closed

[2020-11-30 08:46] hdmjdp commented on #393
CUDA_VISIBLE_DEVICES=1 python /home/user/work/gan_vocoder/TensorFlowTTS/examples/hifigan/train_hifigan_mel.py

hifigan_generator_params:
    out_channels: 1
    kernel_size: 7
    filters: 512
    use_bias: true
    upsample_scales: [10, 5, 3, 2, 2]
    stacks: 3
    stack_kernel_size: [3, 7, 11]
    stack_dilation_rate: [[1, 3, 5], [1, 3, 5], [1, 3, 5]]
    use_final_nolinear_activation: true

[2020-11-30 09:30] dathudeptrai commented on #393
pls copy full command line and full config json.

[2020-11-30 11:46] hynkang opened #401 "how can i change num_mel in tacotron2?"
I just want to change dimension of mel-spectrum from 80 to 20 in tacotron2
so i change the value as n_mels = 20 in conf/tacotron2.v1.yaml

but i've got the error message

Exception has occurred: InvalidArgumentError

Even though I change the value of mel_outputs (1, 50, 80) in def _build()  as mel_outputs (1, 50, 20) i've got the same error

    def _build(self):
        input_ids = np.array([[1,

[2020-11-30 12:49] manmay-nakhashi opened #402 "hifigan uses more cpu then mb_melgan even though it is smaller model then mb_melgan !!! why ?"

[2020-11-30 12:49] qianhui-wan commented on #289
Yes this would run, thanks!
When tacotron2 outputs some zeros in the alignments/durations, does it mean the tacotron itself is not good enough?

[2020-11-30 12:50] dathudeptrai commented on #402
@manmay-nakhashi hifigan v1 is much larger. Hifigan v2 is smaller but discriminator is much larger :)))

[2020-11-30 12:52] manmay-nakhashi commented on #402
@dathudeptrai i trained Hifigan v2 , it's params are lesser then mb_melgan and while deploying we use only generator , will bigger discriminator will affect in inference time ?

[2020-11-30 12:54] dathudeptrai commented on #402
@manmay-nakhashi it affects training tỉme :)))

[2020-11-30 12:57] manmay-nakhashi commented on #402
@dathudeptrai is there any paper on that ? , or is it like i use hifigan to give 4 subband output ?

[2020-11-30 12:58] dathudeptrai commented on #402
We do not need any paper about mb_hifigan :))) just implement it like mb_melgan

[2020-11-30 13:01] manmay-nakhashi commented on #402
@dathudeptrai ok i'll try that , i managed to train hifigan with only Trainable params: 232,113 , which gives a decent output , but it still takes more cpu then my mb_melgan model.

[2020-11-30 13:41] manmay-nakhashi commented on #402
@dathudeptrai in paper they claim that v3 is much faster have you implemented that ?

[2020-11-30 14:30] luis-vera commented on #398
Ok thanks. Could you tell me where I can find model-80000.h5 to download it please?

Sorry but I am new in this area and I make many questions abut this. At this moment I am executing epoch 3728/200000 in training stage in Windows 10. I tried to execute the same code in Ubuntu 20.04 but this operating system didn't recognize Cuda (10.1 nor 11.1)

[2020-11-30 14:42] dathudeptrai commented on #398
@luis-vera https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/tacotron2#pretrained-models-and-audio-samples here :D

[2020-11-30 14:43] dathudeptrai commented on #289
that means that phoneme is silent

[2020-11-30 14:43] dathudeptrai commented on #402
i will.

[2020-11-30 14:46] manmay-nakhashi commented on #402
@dathudeptrai  i have made a change for v3 i am training it , let's see what is the result

[2020-11-30 20:10] ma-siddiqui commented on #373
Hi, any update?

[2020-11-30 20:14] ma-siddiqui commented on #373
Hi, just to confirm, the fix added (given below) will solve my problem? Please confirm if the fix is against this bug.

Support Multi-GPU gradient Accumulate for trainer. #377

[2020-12-01 06:36] OnceJune commented on #401
you might need to redo preprocess to get 20 dim mel.

[2020-12-01 09:12] hynkang commented on #401
I already redo preprocess but it does not work

[2020-12-01 10:05] dathudeptrai commented on #401
you should change the `n_mels` value in config.yaml also.

[2020-12-01 17:30] dathudeptrai commented on #400
@wsr692 all embedding layer in `TFFastSpeechEmbeddings` is trainable except `positional_embedding`. `TFEmbedding` layer is a replacement of `tf.keras.layers.Embedding` that fix this slow bug (https://github.com/tensorflow/tensorflow/issues/38287).

[2020-12-01 17:32] dathudeptrai commented on #399
not sure what is a bug, can you give me a google colab to reproduce this bug ?

[2020-12-02 04:35] monatis commented on #209
I'm sharing a quick preview with `multiband_melgan` at 820k steps and `tacotron2` at 81.5k steps. I will continue to train both of them till they converge around 950k and 100k steps respectively, but it already sounds like a decent model to my non-native ear. Here is the [Colab with inference code](https://colab.research.google.com/drive/1W0nSFpsz32M0OcIkY9uMOiGrLTPKVhTy?usp=sharing). @thorstenMue

[2020-12-02 08:32] Zegalryang opened #404 "tacotron2 extract duration failure"
in commit 0a95e31,
I tried to extract duration using tacotron2
(use kss dataset)

but, error occurred

Traceback (most recent call last):
  File "examples/tacotron2/extract_duration.py", line 237, in <module>
    main()
  File "examples/tacotron2/extract_duration.py", line 141, in main
    tacotron2 = TFTacotron2(
  File "/TensorFlowTTS/tensorflow_tts/models/tacotron2.py", line 746, in __init__

[2020-12-02 08:48] dathudeptrai commented on #404
@Zegalryang remove this line of code (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/extract_duration.py#L143)

[2020-12-02 11:27] thorstenMueller commented on #209
Hi @monatis .
First of all a huge thanks to you for your effort 🥇
For comparison reasons i put together a github page with samples from different vocoders. I’ve generated a few samples with the notebook you provided and put them there. I hope that’s okay for you, if not i’ll remove them.

https://thorstenmueller.github.io/deep-learning-german-tts/audio_compare#tensorflowtts

For your training step

[2020-12-02 12:14] #404 closed

[2020-12-02 12:24] monatis commented on #209
Hi @thorstenMueller. Thanks a lot for your efforts to prepare audio samples and share them publically --it's totally fine for me.

I will let you know if I can improve the quality with more training steps. Now it's time to make PR to the main repo :D

[2020-12-03 00:38] augustfr opened #406 "Realtime"
What do I need to do to get the TTS to run in realtime? I've attached the python file I'm using to get the output. It takes about 15 seconds until it prompts the user for the text input. Then takes about 7 seconds to make the .wav file after receiving the text input. I'm running it on an EC2 instance with a Tesla K80 gpu. Is there a way to make this much faster without upgrading the computer I'm r

[2020-12-03 02:10] Zegalryang opened #407 "extra_duration problem"
I tried to extract duration follow command

python examples/tacotron2/extract_duration.py   --rootdir ./dump_kss/train/   --outdir ./dump_kss/train/durations/   --checkpoint tacotron2-100k.h5  --use-norm 1   --config ./examples/tacotron2/conf/tacotron2.kss.v1.yaml   --batch-size 32

after done, durations had different file count

(base) [root@f5238eaec1ac durations]# ls -al *npy | wc -l
12192

(ba

[2020-12-03 02:15] dathudeptrai commented on #407
@Zegalryang try to set to False (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L241)

[2020-12-03 02:18] 980202006 opened #408 "i can not train mb_melgan on 48000 sampling rate"
![image](https://user-images.githubusercontent.com/24452502/100954901-7adea700-3550-11eb-95ff-8b6517e1af53.png)
hi, i got this output when train mb_melgan
this is my config, is anything with the config
[code]

[2020-12-03 03:29] Zegalryang commented on #407
@dathudeptrai It works!! thanks

[2020-12-03 03:29] #407 closed

[2020-12-03 05:04] crux153 commented on #406
Tacotron2 is slow. Use FastSpeech2 with MB-MelGAN :)

[2020-12-03 13:49] #209 closed

[2020-12-03 14:15] brendanxwhitaker commented on #237
Removed the dropout calls (but leaving the embeddings) fixed this issue. Flex delegate was no longer needed for inference/compilation, and inference appears to work correctly.

[2020-12-03 15:06] r7sa opened #409 "Error at train GAN on resume from checkpoint"
Resume training of GAN (in my case - HiFiGAN) from 900k step (far beyond the discriminator_train_start_steps) lead to great increasing fm_loss and decreasing real/fake_loss. I think this is due to incorrect step of descriminator that restored in line https://github.com/TensorSpeech/TensorFlowTTS/blob/26f9e0096b90e0f79c7893495e4bb75978dbf778/tensorflow_tts/trainers/base_trainer.py#L617
It seems tha

[2020-12-03 15:11] dathudeptrai commented on #409
@r7sa you are right, i will fix it .

[2020-12-03 15:16] #409 closed

[2020-12-03 16:51] Freddy-pp opened #410 "max_position_embeddings for pretrained model."
Hi, @dathudeptrai. First, I want to thank you for the great TTS project.

I have a noob question. When I try to synthesize a long (>450 characters) sentence with FS2 LJSpeech pretrained model, I got error similar to https://github.com/TensorSpeech/TensorFlowTTS/issues/142 . As I understand it's caused by long input that is greater than **max_position_embeddings** from config file.
In the issue thr

[2020-12-04 05:13] dathudeptrai commented on #410
i will implement the method that allows you to change the `max_position_embeddings` value in the inference but don't you think 400 characters is so long and it's not present in the real-world problems?

[2020-12-04 08:46] Freddy-pp commented on #410
Thank you for quick reply.Yes, probably such tasks will not often occur in the real world. At least for English. At the same time, in Slavic languages, sentences can sometimes be so long that two consecutive sentences may well exceed the limit of 400 characters. And sometimes even one. Therefore, it is possible that someone will train a model with a 2048 limitation on the mel length and then face

[2020-12-04 09:42] wsr692 commented on #400
got it, thanks!

[2020-12-04 09:47] dathudeptrai commented on #410
did you know that almost TTS system now use **streaming** ?

[2020-12-04 09:47] #400 closed

[2020-12-04 10:39] Freddy-pp commented on #410
Yes, I understand that.

[2020-12-04 16:56] Nistrian opened #412 "Need advice on training Russian model"
Hello! I am very impressed with your work, it provides me with many opportunities and I rely on it a lot. Some time ago I asked questions about solving some problems when training a model in Russian. I overcame all these difficulties and trained the model using mfa. However, the results were disappointing. The model produces speech that is really similar to Russian, but it cannot be called "good".

[2020-12-04 17:20] dathudeptrai commented on #412
hi, can you provide some information about ur dataset (hz, number of sample, multi-speaker or not, ...) and what you did.

[2020-12-05 10:23] ZhaoZeqing opened #413 "Error in Tacotron2 when doing evaluation: Incompatible shapes: [16,267,635] vs. [16,267,61]"
I trained Tacotron2 model with this error when doing evaluation, and I tried this [solution ](https://github.com/TensorSpeech/TensorFlowTTS/issues/381) but not worked.

Model: "tacotron2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
encoder (TFTacotr

[2020-12-05 11:37] dathudeptrai commented on #413
@ZhaoZeqing fixed.

[2020-12-05 11:37] #413 closed

[2020-12-05 11:44] ZhaoZeqing commented on #413
Thanks!

[2020-12-05 12:46] dathudeptrai commented on #410
@Freddy-pp

[code]

[2020-12-05 12:46] #410 closed

[2020-12-05 13:36] lalimili6 opened #414 "suggestion to train model"
Hi Dears,
Thanks for this project.
I train a TTS model on own dataset for Farsi language. I segment an audiobook from one speaker.
I create my dataset like ljspeech and use ljspeech preprocessing, using custom symbols #350.
The dataset contain 25 hours voice, 12k wave tracks, average time of waves is 5.90 seconds.
I train an TTS model follow tacotron2 model and configure in examples and use multib

[2020-12-06 06:59] monatis commented on #209
I exported models to `saved_model` and `TF Lite` formats, so it became independent from the `TensorFlowTTS` package during inference. See [my repo](https://github.com/monatis/german-tts) for exported model artifacts and inference examples.

[2020-12-07 01:01] Zegalryang opened #415 "I'm trying to train with KSS Model"
Hello everyone!

I'm trying to train KSS model following instruction.
after train, it can not synthesis. (but your pretrained model is working)

1. tensorflow-tts-preprocess --rootdir ./kss --outdir ./dump_kss --config preprocess/kss_preprocess.yaml --dataset kss

2. tensorflow-tts-normalize --rootdir ./dump_kss --outdir ./dump_kss --config preprocess/kss_preprocess.yaml --dataset kss

3. python e

[2020-12-07 01:50] ZhaoZeqing opened #416 "OOM Error when evaluation(generate_and_save_intermediate_result) in Tacotron2"
I used one V100 training Tacotron2 and my batch size is 16, the longest mel spectrogram length in my data is 799, but when doing evaluation, OOM error occurred:

2020-12-06 22:14:19.846616: W tensorflow/core/common_runtime/bfc_allocator.cc:439] _____________________***********************_**********_________________************_____**_____****
2020-12-06 22:14:19.846663: W tensorflow/core/framewor

[2020-12-07 02:08] dathudeptrai commented on #416
@ZhaoZeqing to be sure pls add this code below these line (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L195-L197):

[code]

[2020-12-07 02:12] dathudeptrai commented on #415
can you provide tensorboard ?

[2020-12-07 02:31] yfq512 commented on #201
@dathudeptrai 你好，感谢你的分享，您这个训练好的模型怎么下载啊？或者能提供个百度云的下载链接么？万分感谢

[2020-12-07 02:41] leijue222 commented on #201
有提供colab呀，你读一下colab的代码就能找到了，而且你用中文提问母语非中文的人是几个意思……细心一点啊！

[2020-12-07 02:44] yfq512 commented on #201
草率了，还以为是都是chinese

[2020-12-07 03:37] monatis commented on #380
Hi @OscarVanL, this is what I also observed in [German model](https://github.com/monatis/german-tts) I trained. Basically, I obtained good results after removing optimizations with:
[code]

Default optimizations do not disturb the performance of `Tacotron 2` seriously, but the performance of `Multi-band MelGAN` quickly degrades with optimizations. So I applied them to the former but not to the lat

[2020-12-07 03:56] monhoney opened #417 "Failed to run decode_parallel_wavegan.py"
I trained parallel wavegan model with the latest version(d3b1bc5a52f095dac9855d789d27b8cfc0ee4856) of the source. The following error occurred while decoding the model:

[code]

For reference, there is no problem with the model trained on the old source version(8f421003f10f61ed017d47380d034f9c3fbcae7c).

[2020-12-07 04:22] dathudeptrai commented on #417
@monhoney can you provide the inference code ?

[2020-12-07 04:40] ZhaoZeqing commented on #416
@dathudeptrai I tried it but not worked. I'll pull the newest code. Thanks!

[2020-12-07 05:21] dathudeptrai commented on #414
can you try the newest code ?  Based on the tensorboard, seem everything is ok. Maybe you should try extract duration and train fastspeech2 to check if the problem is about Tacotron-2 or dataset.

[2020-12-07 05:26] Zegalryang commented on #415
is this right?

![Untitled](https://user-images.githubusercontent.com/2080839/101312823-11380300-3898-11eb-8e28-1fee93c7ea64.png)

[2020-12-07 05:28] dathudeptrai commented on #415
ur durations loss is very high, it should be < 0.1. BTW, can you give me a full tensorboard figure ?

cc : @crux153

[2020-12-07 05:29] dathudeptrai commented on #408
can you pull the newest code?

[2020-12-07 05:31] Zegalryang commented on #415
of course.

would i send you this file 'events.out.tfevents.xxxx.v2' ?

[2020-12-07 05:31] dathudeptrai commented on #415
just need to capture full screen :D

[2020-12-07 05:36] Zegalryang commented on #415
thanks!!

![fullscreen](https://user-images.githubusercontent.com/2080839/101313494-9243ca00-3899-11eb-9238-64816664fad8.png)

[2020-12-07 07:27] yfq512 commented on #201
@leijue222 Hi, I don't have GPU, whether it means I can't run this project? thanks for your reply!

[2020-12-07 09:01] OscarVanL commented on #380
@monatis Wow, thank you for this reply! I will try this soon!

[2020-12-07 10:07] zcy618 opened #418 "save fastspeech2 pb model error"
Dear friends:
I use below code to save h5 file as PB model:

import yaml
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow_tts.inference import AutoConfig
from tensorflow_tts.inference import TFAutoModel
from tensorflow_tts.inference import AutoProcessor

processor = AutoProcessor.from_pretrained(
    pretrained_path="./tensorflow_tts/processor/pretrained

[2020-12-07 10:17] dathudeptrai commented on #418
@zcy618 try tensorflow 2.2.0.

cc: @monatis I think you already fix this issue, right ? .

[2020-12-07 11:29] #393 closed

[2020-12-07 11:30] #391 closed

[2020-12-07 12:26] monatis commented on #418
Hi @dathudeptrai and @zcy618!
I was able to export Tacotron 2 to `saved_model` format by modifying `call()` method of the model class, and the same can be used for Fastspeech 2. My change is on [a separate branch on my fork](https://github.com/monatis/TensorFlowTTS/blob/savedmodel/tensorflow_tts/models/tacotron2.py), and I published a [notebook here](https://github.com/monatis/german-tts/blob/main

[2020-12-07 18:17] Freddy-pp commented on #410
Hi @dathudeptrai . Thanks for your updates.

But looks that something goes wrong when I use latest commit. I update my code to latest version (d3b1bc5a52f095dac9855d789d27b8cfc0ee4856) and update installation with "pip install ." After that all sound that I could generate with the following code
[code]
using your pretrained model from https://drive.google.com/drive/folders/158vFyC2pxw9xKdxp-C5WPEt

[2020-12-07 22:08] OscarVanL commented on #380
Unfortunately, that didn't fix the issue, but thanks for the suggestion.

[2020-12-07 22:40] OscarVanL commented on #380
Hi @dathudeptrai I'm using the same FS2 TFLite inference code as used in the Colab example and my Jupyter Notebook's kernel is still crashing...

It crashes when I call my FS2 TFLite inference:
![image](https://user-images.githubusercontent.com/7999692/101413822-dc01d400-38dc-11eb-8736-d5652d82c244.png)

I have made a small modification, to pass in the input phoneme IDs rather than input text. (Yo

[2020-12-07 22:53] OscarVanL commented on #380
Hmm, interestingly I can only reproduce this kernel crash problem in my Jupyter Notebook, not on Colab.

[2020-12-08 01:32] OscarVanL commented on #380
In Windows, my model sounds the same for TFLite and normal models, so I am confident these model is good now.

I think I have found one potential cause of the degradation in quality, it is on the Android side.

In the Android example, you can see that `outputMap` is passed to `runForMultipleInputsOutputs()`:
https://github.com/TensorSpeech/TensorFlowTTS/blob/d3b1bc5a52f095dac9855d789d27b8cfc0ee485

[2020-12-08 02:40] zcy618 commented on #418
hi dathudeptrai and monatis:
after try tf2.2, this issue is gone, and I did not try monatis's code.

and now I have two questions:
1, if I keep two tf version2.3 and 2.2, it seems a little trouble for me, so I want to know if I could use tf2.2 to train the whole project.
2, I use tf2.3 to generate the h5 file, and use tf2.2 to generate pb file, so I want to know if there will be some problems on i

[2020-12-08 04:44] dathudeptrai commented on #410
i will fix it.

[2020-12-08 10:07] zhangsanfeng86 opened #419 "Train multispeaker got Err!"
set  "speaker = 3" in config.py
change fastspeech2_dataset.py as follow:

![image](https://user-images.githubusercontent.com/73547638/101469705-09ec2480-3980-11eb-90d3-709483aab6b5.png)

but got Err,as follow:
![image](https://user-images.githubusercontent.com/73547638/101469850-343de200-3980-11eb-8f3c-6b55f91f21ec.png)

[2020-12-08 10:20] zhangsanfeng86 commented on #419
2020-12-08 08:53:51.921671: W tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1908] No (suitable) GPUs detected, skipping auto_mixed_precision graph optimizer
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/context.py", line 1986, in execution_mode
    yield
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/data/o

[2020-12-08 10:25] #419 closed

[2020-12-08 16:09] mapledxf commented on #380
@OscarVanL Android's TfLite should has same result as Windows' TfLite model.

Here are some suggestions that you should try to find out where the problem is:
1. Check the TfLite version in Android project's gradle file.
2. The text converter's logic might be different between Windows and Android. In order to test the FS2 model, you should use the exactly the same inputs (the converted ids, not the

[2020-12-08 16:23] OscarVanL commented on #380
Hi, thanks for the reply.

1. My build gradle has these TFLite imports:
[code]
I have gone `gradle build --refresh-dependencies` to ensure they're the latest nightly builds and not using an old cached build.

2. This is what I have been doing :) I generate the phoneme IDs on a desktop PC using the same `g2p-en` library and have used the same phoneme IDs on Android as in Windows.

3. I will try thi

[2020-12-08 16:42] OscarVanL commented on #380
@mapledxf I have one more question about the Android MB-MelGAN `getAudio` function:

https://github.com/TensorSpeech/TensorFlowTTS/blob/e7a6a3de2a5e1670078a37d88a4211d10ff9fe67/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/module/MBMelGan.java#L49

In this, the inference is done on a ByteBuffer, from TensorBuffer.getBuffer():
https://github.com/TensorSpeech/TensorFlowTTS/blob/e

[2020-12-08 18:01] Nistrian commented on #412
My dataset consists of 25 hours of recording from one speaker. Sample length from 3 to 10 seconds, 22050 Hz.
I followed the scripts described in examples/mfa_extraction

Initially, I extracted the durations by specifying the configuration for one speaker (examples/fastspeech2/conf/fastspeech2.v1.yaml), as well as specifying the type of dataset ljspeech, which entailed an error with the dimensions.

[2020-12-08 19:01] luis-vera opened #420 "OOM error while training tacotron2"
HI. I am training dataset using tacotron2 but this stage didn't start because a OOM error . I updated tacotron_dataset.py as you told to another person but the error is the same:

2020-12-08 15:56:49.608579: I tensorflow/core/common_runtime/bfc_allocator.cc:1046] Stats:
Limit:                      8999199884
InUse:                      8989584640
MaxInUse:                   8998987264
NumAllocs:

[2020-12-08 20:22] brendanxwhitaker opened #421 "Fine tuning fastspeech-150k.h5 (v3) on ljspeech for 2k more steps results in poor audio quality."
I've downloaded LJSpeech, preprocessed, normalized, extracted durations, and set up for finetuning. I have a dataset for a different voice to do transfer learning, but I was getting poor results, so as a sanity check I tried finetuning on LJSpeech for 2k steps, so total training steps is 152k. This is the result: https://drive.google.com/file/d/1OpcTOx0ozBCVjc8xOHzvPYonyk7I17h5/view?usp=sharing

R

[2020-12-09 00:16] mapledxf commented on #380
@OscarVanL does the android fs2 has the same output as the windows fs2 with same phoneme ids input?

there is a java lib that can load npy file. i will post the link here later. I will also write some sample code about how to convert the float[] to tensorbuffer.

you can use float[] instead of buyebuffer but it cost more memory.

[2020-12-09 01:35] luis-vera commented on #398
Hi again. Well, I tried to train dataset with tacotron2 (I entered another issue about this) and I couldn't. After that I tried to train using another model, fastspeech using extract_duration.py as you said in README with model-65000.h5 and model-120000 and I had problems because Windows message was the same:

Traceback (most recent call last):
  File "examples/fastspeech/train_fastspeech.py", lin

[2020-12-09 01:56] mapledxf commented on #380
@OscarVanL  You can use this to load npy file on Android.
https://github.com/dreamolight/JavaNpy

[2020-12-09 02:01] augustfr commented on #406
I'm using FastSpeech2 with MB-MelGAN now, it definitely is faster than Tacotron2, but still doesn't feel like it could be used in realtime. It takes about 7 seconds for mine to run the do_synthesis function and output the .wav file. Has anyone been able to increase that speed without upgrading computer hardware?

[2020-12-09 02:03] mapledxf commented on #380
And you can create a TensorBuffer like this:

        float[] npyData = null; //data loaded from npy file
        int[] inputShape = new int[]{1234, 5678};   //the data shape
        TensorBuffer tensorBuffer = TensorBuffer.createFixedSize(inputShape, DataType.FLOAT32);
        tensorBuffer.loadArray(npyData);

[2020-12-09 02:10] ZDisket commented on #406
@augustfr What do you mean? FS2 + MB-MelGAN can run about 2.5x faster than realtime on the average consumer PC (CPU).

[2020-12-09 02:14] OscarVanL commented on #380
Thank you for the link and code sample!

I passed the same phoneme IDs into FS2 TFLite on Android and on Windows...
`[10, 48, 46, 27, 58, 71, 67, 70, 30, 45, 5, 48, 10, 59, 39, 56, 74, 39, 60, 58, 10, 48, 46, 20, 45, 46, 41, 25, 8, 60, 71, 67, 71, 67, 72, 25, 10, 70, 30, 24, 22, 51, 60, 58, 70, 32, 48, 38, 48, 27, 69, 57, 41, 24, 33, 45, 6, 48, 69, 29, 58, 33, 59, 10, 48, 74, 58, 51, 39, 60, 58, 1

[2020-12-09 02:18] augustfr commented on #406
I've attached the code I'm running. If anyone could let me know why it takes about 7 seconds to process after the text is inputted that would be great. I'm running it on Ubuntu p2.xlarge instance.

[fastspeech2-mb_melgan copy.txt](https://github.com/TensorSpeech/TensorFlowTTS/files/5663128/fastspeech2-mb_melgan.copy.txt)

[2020-12-09 02:58] mapledxf commented on #380
@OscarVanL
You should also check the sample rate.
https://github.com/TensorSpeech/TensorFlowTTS/blob/e7a6a3de2a5e1670078a37d88a4211d10ff9fe67/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/tts/TtsPlayer.java#L23
https://github.com/TensorSpeech/TensorFlowTTS/blob/e7a6a3de2a5e1670078a37d88a4211d10ff9fe67/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/tts/TtsPlay

[2020-12-09 03:02] OscarVanL commented on #380
OK, I got this to work. I made my Android app play the .npy Spectrogram generated in Python, followed by the spectrogram generated in the Android. The audio sounded exactly the same.

OMG I just changed this to 24000 and it sounds perfect now. I can't believe I missed this... 🤦‍♂️

Thank you for the help!!!

[2020-12-09 03:02] #380 closed

[2020-12-09 03:14] OscarVanL commented on #380
Sometimes it's so easy to narrow your vision on something you miss the obvious...

Thanks for your excellent Android example model, it works really well.

[2020-12-09 05:57] ZhaoZeqing commented on #416
@dathudeptrai I pulled the newest code and trained Tacotron2 with LJSpeech on P100, my batch size is 32, the OOM error occurred randomly when doing evaluation, but not each evaluation.

[2020-12-09 08:08] JunjunCui opened #422 "Question about training fastspeech2 with v1.yaml vs y2.yaml"
Hi~ Thanks for your contribution. It's a real meaningful work.
I trained a fastspeech2 model on own dataset for Chinese language.
I trained well on v2.yaml,  but I couldn't converge good on v1.yaml，this is their loss trajectory.
Would you mind suggesting me to improve the v1 fastspeech2 .
![image](https://user-images.githubusercontent.com/37209860/101600924-f354d480-3a36-11eb-983c-c9d58b52d770.png

[2020-12-09 10:11] dathudeptrai commented on #422
i'm not sure what is a problem but the `v` should be better than `v2` :)).

[2020-12-09 10:18] dathudeptrai commented on #421
the problem is caused by the optimizer state. When you re-train with the pretrained 150k fastspeech, the optimizer is reset at `0` step rather than  `150k` steps.

[2020-12-09 10:21] dathudeptrai commented on #420
@luis-vera can you provide me ur training command line ?. What is ur GPU ?

[2020-12-09 10:21] dathudeptrai commented on #418
Training with tensorflow 2.3, 2.4 and use 2.2 for freeze model is fine. I will fix the bug in Tf 2.3, 2.4.

[2020-12-09 10:24] dathudeptrai commented on #398
The assertion is clear, there is no duration file in ur folder. You should check this line (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech/fastspeech_dataset.py#L60)

[2020-12-09 10:25] dathudeptrai commented on #416
is that ok when training ?. If yes, please use small batch_size when evaluation. (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L434)

[2020-12-09 10:28] dathudeptrai commented on #380
it took a long time to debug :)))

[2020-12-09 10:42] dathudeptrai commented on #406
@augustfr what is ur text :)) and what is ur CPU ?

[2020-12-09 11:08] OscarVanL commented on #380
Hah I was not debugging it this whole time, I was working on other things, but yes it did 😵

[2020-12-09 11:50] ZhaoZeqing commented on #416
@dathudeptrai batch size 32 is ok when training LJSpeech on one P100, so evaluation's batch_size is 32 too. If I need use small batch_size when evaluation ?

[2020-12-09 12:09] dathudeptrai commented on #416
hmm, i do not know why it can be train with bsize 32 but inference can't. Maybe you just need ignore evaluation step and use tensorboard to monitor the training progress :)).

[2020-12-09 12:17] brendanxwhitaker commented on #421
What would you recommend to fix this issue? Finetuning for longer so the learning rate drops back down? Or is there a way to preserve or set the optimizer state when you resume?

________________________________
From: dathudeptrai <notifications@github.com>
Sent: Wednesday, December 9, 2020 5:18:53 AM
To: TensorSpeech/TensorFlowTTS <TensorFlowTTS@noreply.github.com>
Cc: Brendan Whitaker <whitaker.

[2020-12-09 12:31] brendanxwhitaker commented on #421
Ah okay I didn't see the bit about starting with the smaller learning rate. Thanks! Also, there is a lot of debate on what to set for `var_train_expr:` in https://github.com/TensorSpeech/TensorFlowTTS/issues/296. I was wondering if you could recommend which values to set for that field when finetuning for a different voice?

[2020-12-09 12:48] JunjunCui commented on #422
Thanks for your reply. There is a little badcase in my  results on V2, so I want to try V1, but the convergence is worse.

[2020-12-09 12:49] dathudeptrai commented on #422
@JunjunCui try to use smaller initalize learning rate for v1.

[2020-12-09 13:08] JunjunCui commented on #422
Thanks! i will try it

[2020-12-09 14:15] luis-vera commented on #420
Hi, I used the following training command:

python examples/tacotron2/train_tacotron2.py --train-dir dump_ljspeech/train/ --dev-dir dump_ljspeech/valid/ --outdir examples/tacotron2/exp/train.tacotron2.v1 --config examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0 --resume ""

My PC has NVIDIA GeForce RTX 2080Ti Rev A

[2020-12-09 14:18] luis-vera commented on #420
2 GPU of the same type joined by a bridge

[2020-12-09 14:37] dathudeptrai commented on #417
@monhoney can you try again? It should fix now.

[2020-12-09 14:55] OscarVanL commented on #421
Hi @brendanxwhitaker. The recommendation to fiddle with `var_train_expr` came from the particular problem I was trying to address in that issue, which was a tiny training dataset. In that case, it was to try and avoid overfitting.

In the end, it never led to fruitful results.

Instead, I finetuned an existing model, while merging my small dataset with a larger dataset, leaving `var_train_expr` as

[2020-12-09 15:00] brendanxwhitaker commented on #421
@OscarVanL I see, well that's really good to know! I won't mess with it then. Thanks for the advice!

[2020-12-09 15:05] OscarVanL commented on #421
The thing that made a huge difference to me was that `hop_size` and `fft_size` did not match between the model I was tuning, my training parameters, and the vocoder I was using. I'd suggest checking these values match.

[2020-12-09 15:35] OscarVanL commented on #296
I'm closing this as all the help I received helped me train a good model! 😄

To give a tl;dr of this thread, I found the best way to tune with a small speaker dataset is to merge it with a larger multi-speaker dataset (I used LibriTTS) and pass in the speaker ID at inference for the speaker I wished to clone.

Some other tricks that helped:

* Match the `hop_size` to the model you're fine-tuning,

[2020-12-09 15:35] #296 closed

[2020-12-09 19:33] brendanxwhitaker commented on #421
I'm still getting the same issue. I've changed the initial learning rate, as you can see below:

[2020-12-09 19:35] brendanxwhitaker commented on #421
The vocoder config:

[code]

[2020-12-09 19:36] brendanxwhitaker commented on #421
Command being used to finetune:
[code]

[2020-12-09 20:38] augustfr commented on #406
@dathudeptrai I was just doing one or two sentences. Something like "This is the new version of text to speech. Testing to see how it works"

I'm running it on a p2.xlarge ec2 instance which has 4 vCPU's.

[2020-12-10 02:10] JunjunCui commented on #422
@dathudeptra I used a smaller initial learning rate on V1 and got a good convergence, thank you!!
![image](https://user-images.githubusercontent.com/37209860/101711837-5003ce00-3acf-11eb-9831-42ec76e2affc.png)

[2020-12-10 02:14] dathudeptrai commented on #422
@JunjunCui :D

[2020-12-10 02:27] xiaoyangnihao commented on #408
@980202006 do you solve this problem, I met the same question. I use the my own dataset like baker, sr=24000.

[2020-12-10 03:09] dathudeptrai commented on #421
@brendanxwhitaker try fastspeech2.

[2020-12-10 04:32] aragorntheking commented on #174
@LLianJJun Did you succeed at this ? Can you share details ?

[2020-12-10 05:43] monhoney commented on #417
I received the latest version(93396e7961973b7bbe16d3beee374a988e125b9e), trained again, and I confirmed that it works. Thanks :)

[2020-12-10 05:43] #417 closed

[2020-12-10 06:47] ZhaoZeqing commented on #416
@dathudeptrai I tried add this code at this [line](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L126)

`def _one_step_predict_per_replica(self, batch):
        outputs = self._model(**batch, training=True)
        return outputs`

It's ok now, but why training=False will cause this error?

[2020-12-10 06:53] dathudeptrai commented on #416
ah, I forgot this. Yes, you should pass training = True for tacotron2 since it used teacher forcing when evaluating. When training=false, the model doesn't use teacher forcing so in the early of training progress, the model won't know when to stop decode so it caused OOM.

[2020-12-10 06:57] #416 closed

[2020-12-10 06:57] ZhaoZeqing commented on #416
@dathudeptrai Thanks for your quickly reply :)

[2020-12-10 08:03] xiaoyangnihao opened #423 "background noise in multi-band melgan"
Hi, I train the multi-band melgan with my own CN datasets, which is similar with baker. So  I use the dafauat config as baker. But there is some backgroud noise in the synthesized audio. Any ideas to solve this problems ?

[2020-12-10 08:14] dathudeptrai commented on #423
share tensorboard and audio samples, pls.

[2020-12-10 08:26] xiaoyangnihao commented on #423
![image](https://user-images.githubusercontent.com/14233490/101740927-6a0bd380-3b04-11eb-88eb-679b3293b30c.png)

here is my audio samples. I use the true mel as the test input. [test.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5671266/test.zip)

[2020-12-10 08:41] dathudeptrai commented on #423
the tensorboard is very good interns of loss value. Ur synthesize audio is good based on my non-native ear :))

[2020-12-10 08:44] xiaoyangnihao commented on #423
thx, I will try some other checkpoints.

[2020-12-10 12:07] #422 closed

[2020-12-10 22:02] OscarVanL commented on #420
Did you change the batch size since you're using 2 GPUs?

_I'm not sure if it's the same for Tacotron2_, but for some other algorithms, you need to tune the `batch_size` relative to how many GPUs you have.

I vaguely remember a ballpark figure mentioned, that if you have 1 GPU, leave it at the default. If you have 2 GPUs, halve the batch_size. If you have 4 GPUs, quarter the batch_size.

[2020-12-11 01:28] chanyong-owl opened #424 "background noise in multi-band melgan, MY custom Datasets"
Hi, I train the multi-band melgan with my custom datasets,

it's small datasts about 5,000 for test

so i used multiband_melgan.v1.yaml

and changed  unsample rate [2,4,8]  beacuse it's small datasets

I train about 700,000 iters.

but there is some background noise in multi-band melgan with my custom Datasets

the noise exists in 300,000 iters already. T.T

If i train more than 1M, 2M ..... , the

[2020-12-11 01:51] ZDisket commented on #424
It would help a lot for you to include audio samples.

[2020-12-11 01:55] chanyong-owl commented on #424
test for AWS POLLY Datasets (KOREAN)

custom is the result for training
aws is original voice

Thank you

[voice.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5676631/voice.zip)

[2020-12-11 02:07] xiaoyangnihao commented on #423
By the way, which loss value is not so good you think ? What should be the normal loss value?

[2020-12-11 02:11] dathudeptrai commented on #423
@xiaoyangnihao all ur loss value is very good :))).

[2020-12-11 02:13] #423 closed

[2020-12-11 07:51] unparalleled-ysj opened #425 "embedded system"
Hello, is there an example of deploying a model under an embedded system ?

[2020-12-11 12:29] luis-vera commented on #420
Hi. I changed batch_size from 32 to 16. After I changed batch_size to 8. However in both cases the error message was the same and training stage didn't start.

Model: "tacotron2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
encoder (TFTacotronEncoder

[2020-12-11 12:32] dathudeptrai commented on #420
Did you pull newest code ? It should fix oom error

[2020-12-11 12:37] luis-vera commented on #420
I modified examples/tacotron27conf/tacotron2.v1.py only here:

###########################################################
#                  DATA LOADER SETTING                    #
###########################################################
batch_size: 8             # Batch size for each GPU with assuming that gradient_accumulation_steps == 1.
remove_short_samples: true # Whether to remove sampl

[2020-12-11 13:12] dathudeptrai commented on #420
@luis-vera can you try to add this code below https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L195-L197:

[code]

[2020-12-11 14:02] brendanxwhitaker opened #426 "Fastspeech v2 sounds much worse during C++ tflite inference than in python"
When running inference using the same ``*.tflite`` file and the same input, the audio quality is markedly worse when using the C++ API. I was wondering what might be the issue, or what common bugs may cause this? Thanks for your help.

Here are some audio samples:

Run from C++ using tflite API:
https://drive.google.com/file/d/1JkI9lRjLWVWNYJ8OOwfGWKAHJsTSRQWt/view?usp=sharing

Run from python usi

[2020-12-11 14:03] brendanxwhitaker commented on #421
@dathudeptrai I have tried that and it fixed the finetuning issue. However, with FS2, I'm getting strange behavior when running inference from C++ (tflite). Please see https://github.com/TensorSpeech/TensorFlowTTS/issues/426

[2020-12-11 14:09] luis-vera commented on #420
Hi I tried using batch_size=16 in tacotron2.v1 and I added the following code in tacotron_dataset and the results was:

Model: "tacotron2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
encoder (TFTacotronEncoder)  multiple                  8218624
___

[2020-12-11 14:15] luis-vera commented on #420
As far, I am training the same model in another machine, using Windows 10 without GPU and I don't have had problems. At this moment It's executing 5616/200000 epochs. But I would  prefer executing in GPU machine because training stage It's slow. Thanks

[2020-12-11 14:22] brendanxwhitaker commented on #426
This was caused by a typo in the tensor index specification code in the C++ program.

[2020-12-11 14:22] #426 closed

[2020-12-11 14:44] luis-vera commented on #420
I have a question. I am new in this area so I don't understand when you refer about "pull the code". Thanks a lot

[2020-12-11 14:45] OscarVanL commented on #420
Have you tried it on an Ubundu 18.04 machine, because technically this repo is not tested on Windows. I had issues trying to get FastSpeech2 training to run in Windows 10, which then worked fine in Ubuntu.

Alternatively if you can't get access to an Ubuntu machine, _and you're on the Window 10 insider builds_ (which is required for WSL/Docker GPU passthrough) you could try the TensorFlowTTS docke

[2020-12-11 14:45] dathudeptrai commented on #420
that means you pull the newest code in github.

[2020-12-11 14:48] OscarVanL commented on #420
Go into your Windows CMD.exe, move into the TensorFlowTTS folder, then run `git pull`. This will grab the latest code for the project.

[2020-12-11 14:49] ronggong commented on #325
@aragorntheking I am going to have to time to investigate the punctuation of the MFA alignment. Do you want to collaborate on this?

[2020-12-11 14:58] #421 closed

[2020-12-11 15:02] ronggong commented on #424
There seems the same kind of noise in the English colab demo https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing#scrollTo=_ChvXMc8mF7K
The MB-melgan is 940k steps there. I am also curious if the noise will disappear by training more steps.

[2020-12-12 02:57] huseinzol05 opened #427 "OOM reduction factor 1 for Tacotron2"
First of all, thank you very much for this repository, Tacotron2 implementation very easy to understand.

Before that, my organization not actually use your code directly to pretrain Tacotron 2, we have a standard to stick to Tensorflow 1.15, so we convert your Tacotron 2 code (do not worry, we put your license at the top) to make it able to run in Tensorflow 1.15 using https://github.com/tensorfl

[2020-12-13 07:52] hynkang commented on #401
oh i did it but still i've got the error msg and the location is
(https://github.com/TensorSpeech/TensorFlowTTS/blob/73a9308d7083407f91051e2562e6ca2598ff55ff/tensorflow_tts/models/tacotron2.py#L329-331)

                self._ratio * self.targets[:, time, :]
                + (1.0 - self._ratio) * outputs[:, -self.config.n_mels :]
            )

[2020-12-13 12:38] ajay01994 opened #428 "Indian accent English voice cloning"
Hi team,

Thanks for your efforts to build this repo, i am looking for voice cloning over Indian English accent and other local languages. Can you please tell me they steps how to do that, i have the speech data of the mentioned accents but are not trained.

Thanks

Ajay sahu

[2020-12-14 03:09] ZhaoZeqing opened #429 "HiFiGAN v1 divergence on 16k Mandarin dataset"
Thanks for your quickly supported on HiFiGAN!

I trained HiFiGAN v1 & v2 on our 16k Mandarin dataset. v2 convergenced but the quality is not good, v1 divergenced. My conf and loss is here:

**v1:**
sampling_rate: 16000
hop_size: 200
upsample_scales: [5, 5, 4, 2]
batch_max_steps: 12800
batch_max_steps_valid: 64000

![image](https://user-images.githubusercontent.com/8464475/102035882-86598a00-3dfc-1

[2020-12-14 05:17] #418 closed

[2020-12-14 09:54] dathudeptrai commented on #429
how mb_melgan compared with hifigan-v2 ?

[2020-12-14 09:55] dathudeptrai commented on #425
i think you just need use tflite :)))

[2020-12-14 10:01] dathudeptrai commented on #427
I think it's because tf2, i saw many improvements of Tensorflow2 compared with tf1.

[2020-12-14 10:01] ZhaoZeqing commented on #429
@dathudeptrai mb_melgan is very good, but hifigan-v2 is not so good

[2020-12-14 10:02] dathudeptrai commented on #429
maybe you want to try mb_hifigan_v2 :))))

[2020-12-14 10:26] huseinzol05 commented on #427
I guess I will close this issue, thanks!

[2020-12-14 10:26] #427 closed

[2020-12-14 10:28] ZhaoZeqing commented on #429
@dathudeptrai Thanks! I'll try it~

[2020-12-15 00:18] untitledvirtualperson opened #430 "ModuleNotFoundError: No module named 'examples'"
So I read the past (closed) issues reported on this that used docker etc (e.g. #80 ), though in my case I'm using Windows 10 and using the latest TFTTS (which includes the #41 fix).

Here's an example of the error while running train_tacotron2.py:
[code]

This occurs throughout the "examples" subfolders/files so it does seem related to a path issue potentially. (For the record I also put TFTTS and

[2020-12-15 06:13] c1a1o1 commented on #201
用声码器模型把mel频谱转为语音信号需要注意什么？
我的采样率是22050 hop size =100

[2020-12-15 13:29] luis-vera commented on #420
Hi everybody. I want to say you that OOM error was solved but now I haven't be able to solve this recent error message. I'll try with docker today as a second choice.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
encoder (TFTacotronEncoder)  multiple

[2020-12-15 21:23] ronggong commented on #325
@OscarVanL @aragorntheking Adding back the punctuations to the transcriptions to train has an effect, although minor. We can hear the pitch change:

1. Georgia recount confirmed as Biden builds lead over Trump in Pennsylvania?
2. Georgia recount confirmed as Biden builds lead over Trump in Pennsylvania!
3. Georgia recount confirmed as Biden builds lead over Trump in Pennsylvania.

Below are the sp

[2020-12-15 23:00] Zegalryang opened #431 "Can I getTacotron2 inference reference?"
I'd like to check my trained model in tacotron2 step(with melgan)

Inference sample in the main page didnt work..

so, can i get or refer to something about inference tacotoron2?

[2020-12-16 01:22] #145 closed

[2020-12-16 07:17] 980202006 commented on #408
thank you

[2020-12-16 07:18] #408 closed

[2020-12-16 07:39] #425 closed

[2020-12-16 07:47] unparalleled-ysj commented on #426
@brendanxwhitaker hey man, where is the example of loading tflite model under C++ api, I want to refer to it

[2020-12-16 12:04] #206 closed

[2020-12-16 12:04] #219 closed

[2020-12-16 12:04] #224 closed

[2020-12-16 12:04] #161 closed

[2020-12-16 12:04] #238 closed

[2020-12-16 12:04] #243 closed

[2020-12-16 12:04] #248 closed

[2020-12-16 12:04] #183 closed

[2020-12-16 12:04] #208 closed

[2020-12-16 12:04] #39 closed

[2020-12-16 12:04] #187 closed

[2020-12-16 12:04] #216 closed

[2020-12-17 10:03] xiaoyangnihao commented on #201
TTS交流群，VX:WorldSeal，欢迎相互交流和讨论~

[2020-12-17 10:50] dathudeptrai commented on #431
pls follow the inference colab (https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing)

[2020-12-17 11:24] tts-nlp commented on #348
@manmay-nakhashi ！ Has this problem been solved？

[2020-12-17 13:02] t-dan opened #432 "MelGan: TypeError: unsupported operand type(s) for *: 'int' and 'dict'"
Hello,
I have tried to train melgan model from scratch (on LJS dataset), but it failed with the `TypeError: unsupported operand type(s) for *: 'int' and 'dict'` error after shuffle is done.

Is there something I did wrong? The codes are the same as in git ...

The whole error stack is:
[code]

Running it as:
`python3 examples/melgan/train_melgan.py --train-dir ./datasets/data_LJS/train --dev-dir .

[2020-12-17 13:15] dathudeptrai commented on #432
@t-dan can you try to preprocess with the difference `rootdir` and `outdir` as the README ? . I just re-ran melgan training and everything was file.

[2020-12-17 13:17] dathudeptrai commented on #428
@ajay01994 maybe you need to read this discussion (https://github.com/TensorSpeech/TensorFlowTTS/issues/296).

@OscarVanL can you help him ?

[2020-12-17 13:28] t-dan commented on #432
Will do and send a report. However, it seems strange to me, since the preprocess steps only create new data, not touching the wavs and cvs file, don't they?

[2020-12-17 13:42] dathudeptrai commented on #432
@t-dan let try mb-melgan also :D

[2020-12-17 14:03] OscarVanL commented on #428
Hi ajay, as dathudeptrai suggested you can read that long thread where I tried to do the same with British accents with FastSpeech2 acoustic model and MB-MelGAN vocoder. My [final summary reply](https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-741850534) might save you some time if you don't want to read it all.

Here's what I did:

1. I took the existing LJSpeech [fastspeech2

[2020-12-17 14:10] t-dan commented on #432
OK, putting the preprocess data into separate directories, melgan started to work.... Don't understand why, but thank you.

[2020-12-17 14:11] #432 closed

[2020-12-18 06:23] Zegalryang commented on #431
@dathudeptrai Thanks!!

[2020-12-18 06:23] #431 closed

[2020-12-18 06:38] Zegalryang opened #433 "Train Multinband melgan"
I'd like to train multiband melgan

and i first, i trained stft losses and i want to train start training generator + discriminator
using instruction

[code]

but.. I cannot find resume checkpoint
in the folder of checkpoints like that.

<img width="835" alt="스크린샷 2020-12-18 오후 3 31 27" src="https://user-images.githubusercontent.com/2080839/102582613-5127a180-4146-11eb-9501-53f993b38fd5.pn

[2020-12-18 06:57] ZhaoZeqing opened #434 "Multi-speaker is slower than single speaker on Tacotron2 training"
I used a multi-speaker dataset with 101 speakers and I added speaker id in tacotron_dataset, but found that multi-speaker is slower than single speaker when training Tacotron2 on one P100:

**Multi-speaker**
n_speakers: 101
batch_size: 8
about 12s/it

**Single speaker**
n_speakers: 1
batch_size: 16
about 3s/it

I added these code at tacotron_dataset:
`
datasets = datasets.filter(
            lambd

[2020-12-18 08:02] #125 closed

[2020-12-18 08:46] #414 closed

[2020-12-18 23:33] #433 closed

[2020-12-20 02:55] ajay01994 commented on #428
Hi @OscarVanL, Thanks for your steps and suggestions, I'll try this out and see how it performs.. @dathudeptrai  highly appreciate your efforts to look into this issue and put forward help..

Thanks!

Ajay

[2020-12-20 07:28] sayakpaul opened #435 "TensorFlowTTS_FastSpeech_with_TFLite.ipynb errors out"
Hi folks.

I am working to make the [TensorFlowTTS_FastSpeech_with_TFLite.ipynb](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/TensorFlowTTS_FastSpeech_with_TFLite.ipynb) notebook fully runnable on Colab. After successfully converting the Fastspeech2 model to TensorFlow Lite I am unable to run inference and here's what I am getting -

[code]

I am using TensorFlow 2.4.0 (have

[2020-12-20 22:19] jackiegeek commented on #348
I comment out padding when inference,  "apply overlapping windowing with queue implementation". overlapping window size depend on your upsample scaler.

[2020-12-21 06:31] tts-nlp commented on #348
@jackiegeek If my upsample scaler is [4,4,4,4], how do I set the  overlapping window size? thanks!

[2020-12-21 08:42] dathudeptrai commented on #434
@ZhaoZeqing is this problem still exist ?

[2020-12-21 08:44] ZhaoZeqing commented on #434
@dathudeptrai Yes, it still exists.

[2020-12-21 08:46] dathudeptrai commented on #434
how about 2,3,4,5,6 speakers ? did you test it ?

[2020-12-21 08:49] dathudeptrai commented on #435
@sayakpaul tf 2.3.1 is fine :)))

[2020-12-21 08:51] ZhaoZeqing commented on #434
@dathudeptrai I'll try it, many thanks!

[2020-12-21 08:58] dathudeptrai commented on #435
@abattery @thaink can you guys help? many thanks :D

[2020-12-21 09:08] sayakpaul commented on #435
@dathudeptrai I used TensorFlow 2.4.0 since it's mentioned in @jaeyoo's initial notebook too and it's currently the most stable version.

[2020-12-21 09:21] abattery commented on #435
```Here's my Colab Notebook for reproducibility.```

The above colab notebook works fine.

[2020-12-21 09:25] dathudeptrai commented on #435
I just explicit force tf-gpu==2.3.1 so the notebook works fine :D.

[2020-12-21 09:42] sayakpaul commented on #435
I just tried TensorFlow 2.3.1 and the inference results have gotten messed up now. Here's the updated [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/6b279c132742bfa9d3bb1a5ac0b2b9fd/tensorflowtts-fastspeech-with-tflite.ipynb). Anything I am missing out on?

[2020-12-21 09:46] abattery commented on #435
@dathudeptrai I've tested it before tf-gpu==2.3.1 is added. The colab notebook was successfully ran with the tf-nightly version. Now, the tf-gpu==2.3.1 requirement prevents the tensorflow 2.4.0 or tensorflow nightly since the TensorFlowTTS project explicitly depends on the certain version.

[2020-12-21 13:58] sayakpaul commented on #435
@abattery possible for you to take my initial Colab Notebook and suggest any changes to run the TFLite model successfully?

[2020-12-21 14:58] abattery commented on #435
I did not change anythings. In my side, it just worked with tf-nightly.

[2020-12-21 15:02] sayakpaul commented on #435
Let me try then.

[2020-12-22 01:31] wsr692 opened #436 "[kss taco2] error while training : (0) Invalid argument: Incompatible shapes:"
I preprocessed & normalized kss as mentioned in readme, and ran tacotron2 training as below:

- GPU info : TITAN RTX (vram 24G)
- batch size = 2
- max length in data : 663
- Dataset shuffle = False

[code]

This is the full output error I get.
Every time I run the command above, the progress is different. Sometimes run stops at step 0/200000, somtimes 42/20000, 16/20000... and so on. I set dataset

[2020-12-22 02:24] sayakpaul commented on #435
@abattery with tf-nightly (2.5.0-dev20201221) the inference results get messed up. Here's my Colab Notebook - https://colab.research.google.com/gist/sayakpaul/91013bd6c48af59db8b63cdc50822fe3/tensorflowtts-fastspeech-with-tflite.ipynb.

Can you suggest further?

[2020-12-22 02:43] dathudeptrai commented on #435
you forgot load weight for fastspeech2. About tflite nightly, everything ok, there is no bug in tensorflowtts side and tflite side.

[code]

[2020-12-22 02:43] #435 closed

[2020-12-22 03:22] sayakpaul commented on #435
Really sorry about the pesky bug. Thanks for pointing it out. It all now runs end-to-end inside Colab (updated [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/5f43e1032a15cd0c0c8369eef3ecda5c/tensorflowtts-fastspeech-with-tflite.ipynb)).

@dathudeptrai would you like me to submit a PR including this Colab Notebook? This might be helpful for the community in case they are interest

[2020-12-22 03:26] dathudeptrai commented on #435
@sayakpaul the repo includes all colab and seems you did not realize that :D. (https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing, https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing, https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcVTWEQVbsUm1S?usp=sharing, https://colab.research.google.com/drive/1ybWwOS5tipgPFttNulp

[2020-12-22 03:33] sayakpaul commented on #435
@dathudeptrai I am aware. Probably I failed to convey. Let me retry.

The notebook [TensorFlowTTS_FastSpeech_with_TFLite.ipynb](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/TensorFlowTTS_FastSpeech_with_TFLite.ipynb) (located inside the `notebooks` directory) does not run end-to-end on Colab. It will error out in its current form. Hence, I was asking as I already created a v

[2020-12-22 04:38] brendanxwhitaker opened #437 "Pretraining FS2 on a custom dataset results in a model that gives silent output"
I've pretrained on a custom dataset set up in the same manner as LJSpeech, and the preprocessing, duration extraction, and training executed without any errors. However, after testing the model at 30k steps, the output is less than a second long, and only silence. Mixed precision is off. Finetuning the FS2 150k pretrained model on my new dataset results in similar output (voice begins to fade and

[2020-12-22 06:54] JunjunCui commented on #418
@zcy618  hi, I met the same problem. May I ask, how did you solve it?

[2020-12-22 08:25] ZhaoZeqing commented on #434
@dathudeptrai  I tried different number of speakers, it seems ok when use 101 speakers with 12s/it

batch size: 8
n_speakers:
  2   5.7s/it
  4   6.2s/it
  10  9.4s/it
  101 12s/it

[2020-12-22 09:14] unparalleled-ysj opened #438 "About eval data curve"
@dathudeptrai Hi, I have a question. Why does the training data loss curve look steady downward when training the fastspeech2 v2 model, but the eval data loss curve oscillates so much?
<img width="1064" alt="截屏2020-12-22 下午5 12 38" src="https://user-images.githubusercontent.com/39238619/102871205-1b9df380-4479-11eb-8df2-c300e1eeba34.png">
<img width="1063" alt="截屏2020-12-22 下午5 12 56" src="https:/

[2020-12-22 09:18] sayakpaul commented on #435
@dathudeptrai a gentle ping in case you missed my previous comment.

[2020-12-22 09:45] dathudeptrai commented on #435
let create a PR :D.

[2020-12-22 10:11] sayakpaul commented on #435
Thanks for the go-ahead, I will proceed @dathudeptrai :)

[2020-12-22 12:54] CrossEntropy opened #439 "Sequence mask in Tacotron2"
Hi @dathudeptrai Thank you for your open source contribution! Now, I have some questions about making input sequence mask in `TFTacotron2 call`(https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L810) .

  During training, we padd the input character sequence, and at the same time, `input_lengths` stores the true length of the character sequence. `maxlen=t

[2020-12-23 08:51] mingkzhou commented on #419
Have you solved the problem?I have the same problem.

[2020-12-23 10:29] DabiaoMa opened #441 "Is fastspeech training slow?"
![SSB00430433](https://user-images.githubusercontent.com/24405575/102987097-d0551500-454c-11eb-93a5-0ed47d6c585d.png)ave
![SSB01330002](https://user-images.githubusercontent.com/24405575/102987101-d0edab80-454c-11eb-8ac2-96bd01890201.png)

 I have trained a multi speaker (Aishell dataset) fastspeech model for 60K steps with batch_size 32, lr 1e-4. But the eval mel figs are still blurring, what is

[2020-12-23 10:40] 980202006 opened #442 "why use mish act funtion?"

[2020-12-24 03:24] dathudeptrai commented on #442
@980202006 just want to use a new activation function :D. In my experiments, mish improve the loss value a bit.

[2020-12-24 03:25] dathudeptrai commented on #441
@DabiaoMa fastspeech1 and fastspeech2  are convergences at around 100->150k. Fastspeech2 is much better.

[2020-12-24 03:37] dathudeptrai commented on #439
pls see official doc here (https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM?version=nightly):

[code]

[2020-12-24 03:39] dathudeptrai commented on #438
that's ok. You can see that the vertical value of eval loss curves is very small that is why you see it oscillates so much :D.

[2020-12-24 06:38] CrossEntropy commented on #439
I have learned it, thanks for your reply!

[2020-12-24 06:38] #439 closed

[2020-12-24 06:46] #438 closed

[2020-12-24 09:38] amrahsmaytas commented on #428
Hi @OscarVanL @dathudeptrai ,

Very thanks for the steps and details,
But, being a beginner in fields like tts and voice synthesis, I am quite confused regarding few terms like tts, voice cloning,

For eg: by reading above details, I understand that, if we train on Indian dataset, we can get tts in Indian accent (which does not include my voice),

But, not voice cloning, that is my voice cloned, a

[2020-12-25 08:27] ZhaoZeqing opened #443 "Saved PB model error in the newest code"
I used the newest code training a Tacotron2 model with Tensorflow **2.3.1** and want to save it from .h5 model to a PB model, but got this error (Tensorflow **2.2** also got this error):

Traceback (most recent call last):
  File "h5_to_pb.py", line 86, in <module>
    h5_to_pb.h5_to_pb_tacotron2(tacotron2_config, tacotron2_checkpoint, tacotron2_pb_path)
  File "h5_to_pb.py", line 65, in h5_to_pb_

[2020-12-25 08:35] dathudeptrai commented on #443
@ZhaoZeqing
https://github.com/TensorSpeech/TensorFlowTTS/issues/418#issuecomment-739887308

[2020-12-25 09:53] DabiaoMa commented on #441
Thanks

[2020-12-25 10:17] #441 closed

[2020-12-25 10:26] ZhaoZeqing commented on #443
@dathudeptrai  It worked! Thanks!

[2020-12-26 22:54] #315 closed

[2020-12-27 04:34] #443 closed

[2020-12-27 06:25] CrossEntropy opened #444 "Have you considered adding DeviceTTS code?"
Hi @dathudeptrai Good job!

Have you considered adding DeviceTTS code? It seems that this [article](https://arxiv.org/abs/2010.15311) is quite interesting.Thanks

[2020-12-28 03:02] crux153 commented on #415
I don't think that tensorboard is normal. It should look like this as in #130.

![](https://user-images.githubusercontent.com/10908841/88132963-d51f4100-cc1b-11ea-8efc-9e24cfc73c93.png)

It's strange since I don't see any problem with your commands, except that I **didn't** used mixed precision. Maybe try again without mixed precision?

I'm now training tacotron2, and will try to train fastspeech2

[2020-12-28 03:21] martinXie commented on #310
i have same issue

[2020-12-28 03:40] xiaoyangnihao opened #445 "Trills and jitters in Chinese TTS demo wav"
In Chinese TTS demo: https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcVTWEQVbsUm1S?usp=sharing#scrollTo=BcrLl7j_fbE2.

The wavs in the colab demo seems to have distinct trills and jitters，no matter the model is tacotron or fastspeech. I think it is caused by mb-melgan, so any ideas to slove this probem?  I also try databaker dataset by myself, there are same problems, even I train the

[2020-12-28 04:04] dathudeptrai commented on #418
@JunjunCui see #446

[2020-12-28 04:05] dathudeptrai commented on #443
@ZhaoZeqing i created a pull request to fix this problem :D #446

[2020-12-28 04:06] #143 closed

[2020-12-28 04:13] dathudeptrai commented on #445
cc: @candlewill @azraelkuan

[2020-12-28 04:14] dathudeptrai commented on #310
Let me try to reproduce the bug, i will run from A-Z based on the repo's README.

[2020-12-28 04:34] dathudeptrai commented on #444
@CrossEntropy let me see.

[2020-12-28 06:30] ZhaoZeqing commented on #443
@dathudeptrai Many thanks! And is there any suggestion about add speaker embedding (i-vector, d-vector...) into Tacotron2 and Fastspeech2?

[2020-12-28 06:39] monatis commented on #444
I was also interested in this paper, but the closed Chinese dataset they're using already has prosody annotations and phone-level timestamps (see 3.1 Speech corpus in the paper), so it may be hard to reproduce with public datasets.

[2020-12-28 07:25] CrossEntropy commented on #444
@monatis  This article cleverly embeds the autoregressive into the hidden layer of the encoder and uses a simple module to replace the FFT (feed forward transformer). However, not using the self-attention mechanism still makes me confused.

[2020-12-28 08:02] monatis commented on #444
@CrossEntropy Yes, the proposed DFSMN architecture comes from [this paper (PDF)](https://arxiv.org/pdf/1803.05030.pdf) by the same authors. Unfortunately there are not many uses of this architecture in the literature and end-to-end implementations in the public domain. So the results remain questionable until we actually implement and train it from scratch.

[2020-12-28 11:26] CrossEntropy commented on #444
@CrossEntropy Thank you for your interpretation. I found this article (DFSMN) published in ICASSP 2018. I think the most magical part of DeviceTTS is DFSMN, which greatly reduces the amount of network calculations (0.099G FLOPs/ second in the result of paper). It would be better if the author could provide more details of model construction :)

[2020-12-29 09:07] tulasiram58827 opened #447 "Hifi GAN pre-trained model"
Can you provide the pre-trained model of Hifi GAN trained on LJSpeech dataset.

@dathudeptrai

[2020-12-29 09:15] CrossEntropy commented on #389
Hi @ZDisket  @dathudeptrai
When I run this for ljspeech, do i need to change the `--yaml_path` ? Thanks
[code]

[2020-12-29 09:17] CrossEntropy commented on #392
Hi @seicaratteri   @machineko
When I run this for ljspeech, do i need to change the `--yaml_path` ? Thanks
[code]

[2020-12-29 09:46] CrossEntropy opened #448 "MFA on LJSpeech"
Hi @machineko @dathudeptrai @ZDisket  I have two questions.

Q1: I cleaned the text in ljspeech using `english_cleaners`, but when I run:

[code]

the result is very poor:
`
Setting up corpus information...
Number of speakers in corpus: 1, average number of utterances per speaker: 12828.0
Creating dictionary information...
Done with setup.
There were 3275 segments/files not aligned. Please see ./m

[2020-12-29 13:53] monatis commented on #143
Linking a relevant paper: [Building Multi lingual TTS using Cross Lingual Voice Conversion](https://arxiv.org/abs/2012.14039)

[2020-12-29 15:52] machineko commented on #448
Hey @CrossEntropy MFA is package build not by us but not aligned can happen by multiple reasons mostly failing of beam search and not enough phonemes in dictionary.

Questions related to MFA u should make here => [MFA_REPO](https://github.com/MontrealCorpusTools/Montreal-Forced-Aligner/issues)

About second question =>
Yes u should point to config based on ljspeech not libritts this are 2 differen

[2020-12-29 16:31] brendanxwhitaker commented on #437
This was the result of improper conversion from mp3 to wav.

[2020-12-29 16:31] #437 closed

[2020-12-29 18:43] ZDisket opened #449 "Cannot train with MultiGPU: RuntimeError: `merge_call` called while defining a new graph or a tf.function"
I tried training Multi-Band MelGAN in an instance with 2xV100s but got this error as soon as training started. Also, in my fork I already merged the branch to fix GAN 2 steps.
Here's the full log:
[code]

[2020-12-30 01:00] CrossEntropy commented on #448
Thank you for your reply @machineko  One step further, can I train a tacotron2 that uses phonemes to get better alignment?

[2020-12-30 01:09] machineko commented on #448
Yup u can very easy train Tacotron2 using phonemes just swap characters to phonemes in ur input files :).
but still MFA give better alignment in most cases :)

[2020-12-30 01:53] CrossEntropy commented on #448
Thanks @machineko

[2020-12-30 01:53] #448 closed

[2020-12-30 04:26] dathudeptrai commented on #447
i have no time to train it on a Public dataset but it's ok in my private dataset :D, need community contribution :D.

[2020-12-30 04:26] dathudeptrai commented on #449
@ZDisket it's happened in all TensorflowTTS version branch?

[2020-12-30 04:31] ZDisket commented on #449
@dathudeptrai Aside from the fix gan 2 steps merge, I only tried it once with a branch that's synchronized with current master. I don't have the instance anymore to test.

[2020-12-30 04:32] ZDisket commented on #447
@dathudeptrai Did you try both v1 and v2? I couldn't get v2 to even sound similar.

[2020-12-30 09:30] monatis commented on #447
hi @dathudeptrai I can give it a go with your dataset, plus with Thorsten dataset in German 🙂

[2020-12-30 14:07] brendanxwhitaker opened #450 "Duration loss stops dropping at ~0.32 for custom dataset"
Here's how the model sounds after 5k steps training on LJSpeech. You can more or less make out the text `there's no need to call me sir, Professor.`

https://drive.google.com/file/d/1xRl62kncYAab4oQGGW4pSv079g2MRj2b/view?usp=sharing

Now here's the model after 5k steps on the custom dataset I've put together. Same input text. The dataset is about half the size of LJSpeech. 15 hours or so.

https:/

[2020-12-30 15:20] miohtama opened #451 "WebGL / in-browser synthetisation opportunity?"
The latest WebGL supports TensorFlow:

https://www.tensorflow.org/js/guide/platform_environment

My question is that are there any technical limitations, like model sizes or specific used TensorFlow features, which would prevent running TensorFlowTTS within a web browser using WebAssembly and WebGL. As this would open a door dor dynamic dubbing and would be a huge accessibility win in many uses. A

[2020-12-30 17:33] brendanxwhitaker commented on #450
@dathudeptrai I would appreciate your input on this if you have the time. Here is what the durations look like:
[code]

[2020-12-31 06:43] azraelkuan commented on #445
@xiaoyangnihao maybe cayse by the mismatch between predicted mels and groundtruth mels. can u try to refine the mbmelgan using tacotron's gta mels?

[2020-12-31 06:56] xiaoyangnihao commented on #445
there is still same problem in gta mode

[2020-12-31 08:11] dathudeptrai commented on #450
@brendanxwhitaker how did you extract duration for ur dataset, can you share some duration groundtruths here ?

[2020-12-31 08:12] dathudeptrai commented on #451
i never try to use webGL :)))

[2020-12-31 11:39] brendanxwhitaker commented on #450
I used this:

[code]

What are groundtruth durations?

[2020-12-31 19:45] ronggong commented on #325
@dathudeptrai Just reminder, the pretrained multispeaker libritts fastspeech2 colab is here https://colab.research.google.com/drive/1K-4KxwUGaElMxcLzbFXX1oGAaAJXROpf?usp=sharing if we want to share with others.

[2021-01-01 11:45] dathudeptrai commented on #450
@brendanxwhitaker did you re-train tacotron-2 on ur dataset ?

[2021-01-01 13:43] ronggong commented on #201
@azraelkuan It seems there is a mismatch between the hopsize 300 in preprocess and in tacotron/fastspeech2 and melgan: 256

https://github.com/TensorSpeech/TensorFlowTTS/blob/master/preprocess/baker_preprocess.yaml
[code]

https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/conf/tacotron2.baker.v1.yaml
[code]

https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examp

[2021-01-01 13:45] ronggong commented on #201
@azraelkuan May I know how many gpus and batch_size you have used to train the tacotron2/fastspeech2 and melgan model in the colab? https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcVTWEQVbsUm1S?usp=sharing

[2021-01-01 17:22] brendanxwhitaker commented on #450
I didn't! That must be the issue. I'll try it and let you know how it goes. Thanks!

[2021-01-01 17:25] #317 closed

[2021-01-02 17:14] ronggong opened #452 "[tacotron2 baker] Extra repetitive syllables synthesized at the end of the audio."
@azraelkuan

## Subject of the issue
Retrained tacotron2 with baker dataset, mel spectrogram generated has extra repetitive syllables at the end. Please see the figure and check the audio.
![alignment_tacotron2](https://user-images.githubusercontent.com/9578307/103462287-73174b80-4d24-11eb-8f5b-c81424b64825.png)
![mel_spec_tacotron2](https://user-images.githubusercontent.com/9578307/103462285-6f83

[2021-01-03 08:19] #332 closed

[2021-01-04 06:59] OnceJune commented on #452
try use gmm attention

[2021-01-04 07:02] OnceJune commented on #445
try:
1. norm your wav files, avoid clip
2. adjust fmax in audio process config

[2021-01-04 07:47] #326 closed

[2021-01-04 10:17] ronggong commented on #452
@OnceJune Thanks, however, the pre-trained model in the colab doesn't exhibit this problem. https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcVTWEQVbsUm1S?usp=sharing , and apparently, there is no gmm attention implemented in TensorflowTTS

[2021-01-04 10:37] dathudeptrai commented on #452
@azraelkuan

[2021-01-05 04:30] azraelkuan commented on #452
@ronggong
have u checked that your training dataset have eos in the end?
also can u try more training steps?

[2021-01-05 17:10] ronggong commented on #452
@azraelkuan Thanks,
preprocess baker dataset, the ids contains the "eos" symbol 218 at the end. e.g.
[  1,   6, 208,   2,  13,  41,   2,  25, 216,   4,  16, 106,   2,
         6, 179,   4,  10, 194,   2,  20, 200,   3,   6,  51,   2,   6,
       216,   3,  14, 118,   2,  19,  34,   2,  10,  57,   3,  21,  64,
         2,  25, 205,   1, 218]

Sure, let me try to train more steps

[2021-01-05 17:11] dathudeptrai commented on #452
@ronggong you can also checkout the old branch and re-train, maybe there is a mismatch between each version :))).

[2021-01-05 19:27] machineko opened #453 "Reformat package to not include packages needed for specifical language and clean repo"
Right now we don't have any way to stop dependency hell from growing as everything is imported in `__init__.py` and thru different utils scripts we have tons of useless package dependencies for most projects.

We should remove every langue-based dependence from `__init__` imports and push it thru extra installers same as is done in other bigger repositories (for example pip install "dask[array]" i

[2021-01-05 20:00] machineko opened #454 "TenosrflowTTS and german_transliterate licences are not compatible"
https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licences

[2021-01-06 01:45] xiaoyangnihao commented on #445
thanks, I will try and reply later.

[2021-01-06 07:22] altangerelc opened #456 "duration from lab files"
Hi all,

I have a question about duration alignment import from HTS aligned phoneme data.
I wanna elude the step to get durations with Tacotron2 and/or MFA.
How should I import from .lab file? Is there any script developed?
If no, how should I convert the aligned .lab file millisecond to mel ?
I am using "ljspeech" dataset.

[2021-01-06 11:00] monatis commented on #454
Hi @machineko This was my mistake unfortunately, sorry for that.
I'll reach out to the author of german_transliterate immediately and ask if there is a possibility to re-license it with a compatible license. Otherwise, I'll introduce my own implementation with Apache 2.0. Thanks a lot for raising this issue.

[2021-01-06 13:48] machineko commented on #456
For mfa https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction

[2021-01-06 16:54] altangerelc commented on #456
@machineko Thanks for the pointer.
Does this mean mel_duration = second_duration * ( sample_rate / hop_size) ?
I checked it on 4.52 second speech but the sum of the phonemes length comes as 313 which should be about 389 mels.
It is not so precise. Is there any problem or am I wrong ?

[2021-01-06 17:25] machineko commented on #456
Not sure if u have problem with that u need to give me sample file to check it myself

[2021-01-07 06:33] dtx525942103 commented on #406
@augustfr Time taken to initialize the model is long ,but speech synthesis just need 200ms

[2021-01-07 07:24] augustfr commented on #406
@dtx525942103 is there a way to initialize the model ahead of time?

[2021-01-08 05:48] fkwong commented on #430
@untitledvirtualperson I think replaceing "from examples.tacotron2.tacotron_dataset import CharactorMelDataset" to
"from tacotron_dataset import CharactorMelDataset" will work

[2021-01-08 07:54] #336 closed

[2021-01-08 08:20] wangwindlong commented on #452
I have the same problem. But It just happened on my baker dataset mixed with English words in every line. If only baker dataset, It is all fine. Even if I mix some alphabet letters into every baker line. It is also perfect, but It just could synthese mandarin and  alphabet letters.

[2021-01-08 08:54] #319 closed

[2021-01-08 15:20] altangerelc commented on #456
@machineko Sample rate is 22050 hz, and hop size is 256. a sample wav file length is 5.28 seconds long and after preprocessing step its corresponding raw-feats length is 443. How should I send you the sample, by email?

[2021-01-08 16:30] machineko commented on #456
upload to google drive/dropbox

[2021-01-08 21:24] ronggong commented on #452
@wangwindlong It's strange that English words can trigger this problem. For me I didn't use any English words. Can I know how many step have you trained the tacotron2 model?

[2021-01-09 03:01] o20021106 commented on #201
Hi

I noticed there are no punctuation pauses. Is there a way to add pauses for punctuations?

[2021-01-09 06:58] wangwindlong commented on #452
English words I trained tacotron2 model 90K steps with batch_size 16. When I use just alphabet letters mixed, It is all OK in step 30k. I don't know why, maybe It's my dataset problem. I should learn deep in this project. Thank you all.

[2021-01-09 12:22] ronggong commented on #452
@azraelkuan @wangwindlong @dathudeptrai This issue is solved by simply training with batch_size=32 😄
batch_size=128 might be the reason of this issue. I suspect that some short samples are mixed in a mini-batch, and large number of padding zeros confused the model. Any suggest to use large batch size? bucket_by_sequence_length?

[2021-01-09 15:32] wangwindlong commented on #452
Nice work!!! I will try it. Thanks very much

[2021-01-09 17:09] ronggong commented on #201
@o20021106 In the original baker transcription there is punctuation, but they have been removed from the training data. https://github.com/ronggong/TensorFlowTTS/blob/e3d2469f8e917a13f86eb3165739039bbb05b3ff/tensorflow_tts/processor/baker.py#L645

So it's possible to add them back.

[2021-01-11 02:39] o20021106 commented on #201
@ronggong Yes, thank you. I noticed that the processor removes punctuation and other non-verbal characters when they specify [`error='ignore'`](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/processor/baker.py#L657) . So for anyone who wants to use the pretrained model and still produce pauses with puncutation, ignore should be set to `default` and some further processing

[2021-01-11 03:42] #350 closed

[2021-01-11 06:54] wangwindlong commented on #452
Oh,  maybe I found my problems. It's really my dataset fault. I use the wrong way to process my mixed English-word data, for there are some special punctuations in it. I will try again.

[2021-01-11 07:18] mrezai opened #457 "German TTS with Thorsten dataset doesn't work"
Hi
@monatis below code generates correct audio with [https://www.dropbox.com/s/ixsp0bxck2di4rs/TensorFlowtts.zip?dl=1](url)(from colab) but doesn't with the latest commit f046e824f18b4c7b7db2b65705a6f98f09cf9b48. There is a difference in output logs and with code cloned from repository we will see this warning:
`WARNING:tensorflow:Skipping loading of weights for layer encoder due to mismatch in sh

[2021-01-11 07:53] monatis commented on #457
Hi @mrezai,
Add:
```tacotron2_config.__dict__['vocab_size'] = 156```
right after
```tacotron2_config = AutoConfig.from_pretrained('./examples/tacotron2/conf/tacotron2.v1.yaml')```

This is a known bug, and it will be fixed when my new training is complete.

[2021-01-11 08:01] mrezai commented on #457
Thanks, it works!

[2021-01-11 08:01] #457 closed

[2021-01-11 22:28] StoneCypher commented on #451
[so, ... half a cent per page view](https://aws.amazon.com/cloudfront/pricing/)?

This isn't realistic.

[2021-01-12 07:20] altangerelc commented on #456
@machineko Here are the sample files. I would like to create a duration file for this.
 https://drive.google.com/file/d/1ojIynYmfHP6ZWbXLoqB7C8e1bVcO7Rvj/view?usp=sharing
I got this
 https://drive.google.com/file/d/1PdmuK_2hbZXN4Mt2_QhK1IFCyOGHifG0/view?usp=sharing

[2021-01-12 08:07] tulasiram58827 opened #458 "Parallel WaveGAN TFLite"
Hi @dathudeptrai,

We(@sayakpaul)  successfully converted the PyTorch pre-trained model(from the [repository](https://github.com/kan-bayashi/ParallelWaveGAN)) to TFLite Format with the help of [Notebook](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/parallel_wavegan/convert_pwgan_from_pytorch_to_tensorflow.ipynb) from this repository.

You can find the conversion notebook [her

[2021-01-12 08:28] dathudeptrai commented on #458
@tulasiram58827 great works, let creat a PR then I can review and merge it :D. It's good if you can publish TTS model to tfhub, i also tried it before but the tfhub-team answered too slowly:))))

[2021-01-12 08:31] tulasiram58827 commented on #458
Sure then I will proceed with PR and TFHub. Do you want me to publish models like Tacotron2, Fastspeech2, MelGAN also to TFHub?

[2021-01-12 08:34] dathudeptrai commented on #458
that would be great :)).

[2021-01-12 09:23] tulasiram58827 commented on #458
Created [PR](https://github.com/tensorflow/tfhub.dev/pull/37) to publish to TFHub. Will inform you once they are published.

[2021-01-12 09:23] #458 closed

[2021-01-12 22:58] #345 closed

[2021-01-15 02:46] panyongfeng opened #460 "Muliti GPU tkinter doesnot work? need mtTkinter? Please have a look, thanks a lot."
RuntimeError: main thread is not in main loop
Exception ignored in: <function Image.__del__ at 0x7f638333b0e0>
Traceback (most recent call last):
  File "/home/yons/miniconda3/envs/tf23/lib/python3.7/tkinter/__init__.py", line 3507, in __del__
    self.tk.call('image', 'delete', self.name)
RuntimeError: main thread is not in main loop
Exception ignored in: <function Image.__del__ at 0x7f638333b0e0

[2021-01-15 02:47] panyongfeng commented on #460
CUDA_VISIBLE_DEVICES=0,1

[2021-01-15 03:01] dathudeptrai commented on #460
@panyongfeng can you give me a command line to reproduce this bug ?.

[2021-01-15 03:04] dathudeptrai commented on #460
maybe you can refer (https://github.com/r9y9/deepvoice3_pytorch/issues/5)

[2021-01-15 03:07] panyongfeng commented on #460
Dear:
here is the cmdline:(it is completely follow the LJspeech tutorial)
CUDA_VISIBLE_DEVICES=0,1 python examples/tacotron2/train_tacotron2.py   --train-dir ../dump_ljspeech/train/   --dev-dir ../dump_ljspeech/valid/   --outdir ./examples/tacotron2/exp/train.tacotron2.v1/   --config ./examples/tacotron2/conf/tacotron2.v1.yaml   --use-norm 1   --mixed_precision 0   --resume ""

If I use CUDA_VISIB

[2021-01-15 03:18] wangwindlong commented on #452
After checking my dataset, I'm OK now. It is really my dataset and preprocess mismatch problem. Maybe this issue could be closed?

[2021-01-15 03:20] dathudeptrai commented on #452
@ronggong pls close the problem if the issue resolved:D

[2021-01-15 03:21] dathudeptrai commented on #460
seem the bug is related to matplotlib.

[2021-01-15 10:05] panyongfeng commented on #460
Thanks, I removed all matplotlib related code in train_tacotron.py, now it works.

[2021-01-15 10:05] #460 closed

[2021-01-15 21:15] #452 closed

[2021-01-15 22:14] ronggong commented on #201
@o20021106 I see what you mean. I guess you can add a lambda mapping function to convert the punctuations to pause https://pypinyin.readthedocs.io/zh_CN/master/usage.html#handle-no-pinyin

[2021-01-15 22:36] ronggong opened #461 "[baker fastspeech2 MFA] MFA aligned durations gives a worse speech quality than tacotron2 extracted durations"
### the issue
I modified the libritts example to use MFA alignment extracted durations to train a baker fastspeech2 model, it sounds much worse and noise than the tacotron2 extracted duration trained model. Audio samples:
[audios.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5823205/audios.zip)

The transcription, target ids for training both models are exactly the same. When doing the

[2021-01-16 03:29] altangerelc commented on #461
@ronggong What about your training samples? did they have silence at the beginning and end ?
I also tried importing alignment from HTS label file (with ljspeech format). But FastSpeech2 model trained gives bad result.
I suspect some accuracy issues converting to -durations from those of MFA. Or MFA and tacortron2 are taking pauses into account internally. I am coming to a conclusion that we do not

[2021-01-16 16:21] ronggong commented on #461
@altangerelc

The wav for training has been trimmed the beginning and ending silence by the preprocess tool. In tacotron2 extracted durations case, the trimming is done by librosa, which detecting the silence from the audio itself. In MFA durations case, they are trimmed by the alignment.

I compared two duration examples extracted by MFA and by tacotron2. They have the same total length, but indi

[2021-01-16 22:17] OscarVanL commented on #345
@ronggong If you are still looking for a C++ implementation of g2p, it looks like @ZDisket has done it!

[2021-01-17 09:03] #272 closed

[2021-01-18 03:25] panyongfeng opened #464 "anyone convert MelGAN to tflite format?"
Dears,
anyone had done this?
from MelGan Generator h5 to tflite.
thanks

[2021-01-18 03:55] dathudeptrai commented on #464
@panyongfeng can you refer this notebook (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/Parallel_WaveGAN_TFLite.ipynb) first ?

[2021-01-18 06:39] #364 closed

[2021-01-18 06:39] #363 closed

[2021-01-18 07:41] xxoospring commented on #445
Hi, how about your result?

[2021-01-18 08:12] xiaoyangnihao commented on #445
I try to norm wav files, but the synthed audios sound even worse, I don't know why.

[2021-01-18 08:13] xxoospring commented on #445
I also encountered this problem with LJSpeech

[2021-01-18 08:17] xxoospring commented on #445
I also check the [demo page](https://drive.google.com/drive/u/0/folders/1NG7oOfNuXSh7WyAoM1hI8P5BxDALY_mU),  LJ002-0303.wav also have this problem

[2021-01-18 08:25] xiaoyangnihao commented on #445
Someone says this is caused by GAN network itself. So have you try to do some optimazations to solve this probems ?
By the way, have you try to set  is_weight_norm=true, I tried, but the error curve does not converge. @dathudeptrai@candlewill @azraelkuan

[2021-01-18 08:32] xxoospring commented on #445
No, I didn't do optimizations, maybe its just because of the "GAN", not about the model, I have also encountered this on melgan last year

[2021-01-18 08:35] xiaoyangnihao commented on #445
So what is your choice for vocoder now?

[2021-01-18 08:37] xxoospring commented on #445
I am choosing right now, not decided yet:smile:

[2021-01-18 10:18] panyongfeng commented on #464
Dear Dathudeptrai,
thanks for the inforamtion, and now i can convert the melgan model to tflite format.
Then I am facing another problem: the tflite models(fastspeech2 and melgan converted from same H5 weights) generated wav files is not as good as from the model loading H5 weight, there is background noise in the tflite gen wave.
I attached the wave from fastspeech2 tflite + melgan tflite, and th

[2021-01-18 10:20] dathudeptrai commented on #464
i think u are using quantization, please use "float16" to convert ur melgan. :D

[2021-01-18 10:39] panyongfeng commented on #464
You are right, I will try to use float16 later.
as far as I know, Quant model is faster about 2-4 times than float32 model running on mobile device like iphone(also 4 times smaller). So if there anyway to balance the good wav result and the model speed. :D

[2021-01-19 08:02] #464 closed

[2021-01-19 09:42] arunraja-hub opened #466 "Multi-speaker TTS"
In [Towards End-to-End Prosody Transfer for Expressive Speech Synthesis with Tacotron](https://arxiv.org/pdf/1803.09047.pdf), the authors have implemented multi-speaker models by conditioning on speaker identity.

However, in [E2E-TensorflowTTS Demo colab notebook](https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing), the example only gives the audio output for on

[2021-01-19 19:40] ronggong commented on #461
@altangerelc problem solved. The key is really to trim all the beginning and trailing silence. Some MFA alignment has the text "SIL ... SIL EOS", the current preprocess script can not trim the sil before eos.

[2021-01-19 19:40] #461 closed

[2021-01-19 19:42] miohtama commented on #451
There are open source-oriented CDNs like [KeyCDN](https://www.keycdn.com/open-source-cdn and others. These CDN services are happy to absorb the distribution cost if the service for the public good in the exchange of brand and promotion value. The internal price of delivery is way lower than half a cent per user, so it is not unrealistic. You do not need to load the set for every page view.

[2021-01-19 23:58] ZDisket commented on #466
@arunraja-hub The mel generation models can do multispeaker, you just have to modify the dataloader. You can see how I did it for FastSpeech2 [here](https://github.com/ZDisket/TensorflowTTS/commit/616a70cb3981771bdfcd44e8a1d7c5f5dd7d1fd5#diff-9a53aa155125bb4b5f51f8d85f2fe438ca461b7ec88dfa27acd04dfd8712e790). This one takes a `-speakers.npy` file for every utt id containing `[speaker_id]` as numpy

[2021-01-20 04:27] arunraja-hub commented on #466
Thank you very much!
Another question: Is it possible to produce multi-speaker data by ourselves or is the compute power required only feasible by Google?
I just want to get my expectations right regarding producing multi-speaker data for the [MGB-1 dataset](http://www.mgb-challenge.org/MGB-1.html)

[2021-01-20 04:29] ZDisket commented on #466
@arunraja-hub By producing data I assume you mean training model. And no, training doesn't require that much computing power, one V100 which you can rent for cheap hourly rates from various sites is enough.

[2021-01-20 04:50] altangerelc commented on #461
@ronggong Thanks for the update. I got the clue from your posts, for my issue #456. Yes the issue was the trimming silences. Thanks again.

[2021-01-20 04:52] altangerelc commented on #456
Dear all, Thanks for the help. I got the clue from the issue #461.
The issue was the trimming silences.

[2021-01-20 04:52] #456 closed

[2021-01-20 05:40] tulasiram58827 commented on #458
@dathudeptrai Models are now available on TFHub. You can find [here](https://tfhub.dev/tulasiram58827)

[2021-01-20 06:24] lr2582858 commented on #201
@o20021106 In fact, # 3 in the baker transcription rerepresents the end of utterance. Generally the punctuations having pause meaning in Chinese, like "，。；！",  are replaced with # 3。So adding # 3 in chinese text could create pause prosody in audio, you can see my [demo](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/cpptflite).

 - Replacing all punctuations with some so-called

[2021-01-20 08:01] dathudeptrai opened #467 "Feature Request Thread"
Don't hesitate to tell me what features you want in this repo :)))

[2021-01-21 01:27] unparalleled-ysj commented on #467
@dathudeptrai What do you think of voice cloning

[2021-01-21 02:07] JoeyHeisenberg opened #468 "how to avoid the nltk_data loading error"
when I use tensorflow-tts-preprocess to process the data, I meet this kind of problem, how can I avoid this by code?

2021-01-21 10:04:47.290576: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [Errno 111] Connection refused>

[2021-01-21 02:27] #468 closed

[2021-01-21 23:00] mikus commented on #467
I would like to see better componentization. There are similar blocks (groups of layers) implemented multiple times, like positional encoding, speaker encoding or postnet. Others relates on configuration specific just for one particular network like self-attention block used in FastSpeech. With a little rework, making those block more generic it would be easier to create new network types. Similar

[2021-01-22 02:12] dathudeptrai commented on #467
Hmm, in this case, users just need to read and understand hifigan without reading mb-melgan.

[2021-01-22 02:29] ZDisket commented on #467
@unparalleled-ysj What do you mean by voice cloning? You mean zero-shot?

[2021-01-22 03:00] unparalleled-ysj commented on #467
For example, given a short segment of the target person’s voice, the model does not need to be retrained to synthesize the voice of the speaker’s timbre, such as using voiceprint technology to extract speaker embedding to train a multi-speaker TTS model

[2021-01-22 03:03] ZDisket commented on #467
@unparalleled-ysj That's what I was thinking about. Relevantly, @dathudeptrai I saw https://github.com/dipjyoti92/SC-WaveRNN, could SC-MB-MelGAN be possible?

[2021-01-22 04:02] lr2582858 commented on #467
@unparalleled-ysj @ZDisket That is also what I’m doing. I'm trying to train a multi-speaker fastspeech2 model replacing current hardcoding speaker-ID with bottleneck feature extracted by a voiceprint model.  The bottleneck feature of continuous softcoding represents a speaker-related space. If the unknown voice is similar to a voice in the training space, voice cloning may be realized. But judging

[2021-01-22 08:58] X-CCS commented on #376
Hello! @sszhangpengfei   Has this been solved?

[2021-01-22 15:57] #372 closed

[2021-01-22 21:46] #290 closed

[2021-01-23 03:22] #346 closed

[2021-01-23 12:06] ronggong commented on #345
@OscarVanL Thanks, it's good to know :)

[2021-01-23 19:29] jimtalksdata opened #469 "Documentation issue - preprocess"
In documentation:

---

Prepare Dataset
Prepare a dataset in the following format:

|- [NAME_DATASET]/
|   |- metadata.csv
|   |- wav/
|       |- file1.wav
|       |- ...
Where metadata.csv has the following format: id|transcription. This is a ljspeech-like format; you can ignore preprocessing steps if you have other format datasets.

Note that NAME_DATASET should be [ljspeech/kss/baker/libritts]

[2021-01-24 14:21] #252 closed

[2021-01-25 01:52] MMingabc opened #471 "cross sentence prosody discontinourity"
Hi,

I am using FastSpeech v2 and MB-MelGAN for a Chinese TTS task. The training set is the Open Acess Biaobei BZNSYP.

The result of a single sentence with medium length is pretty satisfying, but there are notable discontinourities cross sentences in a long text.

I cut a long text into short sentences accroding to punctuations. As for a single sentence, the result is good enough, but the prosodi

[2021-01-25 02:19] dathudeptrai commented on #471
@MMingabc you may need to use the overlap technique to fix this problem. For example, ur sentence length is 30s. In the first sentence you can split it from 0 -> 10s, a second sentence from 8s -> 18s, a third sentence from 16s -> 26s ,... So we have 2s overlaps. Everything you need to do is merge those sentence (do not forget to remove an overlaps segment :D)

[2021-01-25 02:24] lr2582858 commented on #471
@MMingabc The existing models all have the problem of pronunciation errors due to the long input sentences. I think this is due to the input length mismatch between inferencing and training. But Fastspeech2 is still the best I test. In addition to the split sentence you said, I think of two ways:
1. Adding long sentences data in the training set.
2. The global attention of fastspeed2 for a sentenc

[2021-01-25 07:29] 980202006 opened #472 "how to use it on unseen speakers?"
Hi, thanks for the contribution of this project. Are there any suggestions for use with unseen speakers？

[2021-01-25 10:37] dathudeptrai commented on #472
@980202006 you mean vocoder or melspectrogram network ?

[2021-01-25 11:11] ZhaoZeqing opened #473 "Does the batch size need to be divisible by the number of training data?"
Hi~ I used the latest code with TF2.3.1, when I wanted to extract duration from a Tacotron2 model, it seems that the batch size need to be divisible by the number of training/valid data, otherwise, the total number of durations is less than other feats.
This error also occurred when using multi-gpu to train Tacotron2 model sometimes, a little puzzled about this :(

[2021-01-25 13:18] dathudeptrai commented on #473
@ZhaoZeqing  i think I fixed it a long time ago (https://github.com/TensorSpeech/TensorFlowTTS/issues/407).

[2021-01-25 13:22] #469 closed

[2021-01-25 19:20] OscarVanL opened #474 "Are there any techniques to improve pronunciation of short one-word texts?"
Hi,

I am using FastSpeech2 with MB-MelGAN. When passing a short input text, like "Yes" into the model, this sounds very robotic and noisy/buzzy.

Someone explained to me in the past that these models prefer sentences to short input texts.

I have two questions:

1. Why do these models perform worse for short texts than longer ones?
2. Is there anything I can do to improve the model's quality for

[2021-01-25 23:27] Zegalryang opened #475 "Melgan TFLite reference"
Is there any TFLite Melgan inference reference to refer to?

[2021-01-26 01:07] MMingabc commented on #471
@dathudeptrai @lr2582858 Thank you both so much for your valuable advices. I tried the overlap strategy, and it eased this problem to a great extent. I found that a 10-phoneme-length overlap helps improve the consistency of long text. But because overlapping increases the length of a sentence I noticed that the performance on longer sentences degraded. So the ultimate sulotion as @lr2582858 had sa

[2021-01-26 01:16] dathudeptrai commented on #474
@OscarVanL try seq2seq model such as Tacotron2, if tacotron2 can generate good sound for short one-word texts, let use its generates audio as soft-ground-truth for FastSpeech2 training :))), you can generate as many as you want :D .

[2021-01-26 01:17] OscarVanL commented on #474
I see, so if FS2 is trained with short one-word utterances then it will generate better ones too?

[2021-01-26 01:21] dathudeptrai commented on #474
Sure :))

[2021-01-26 01:24] #474 closed

[2021-01-26 01:24] OscarVanL commented on #474
Thanks!

[2021-01-26 02:05] ZhaoZeqing commented on #473
@dathudeptrai Many thanks! It worked! :)

[2021-01-26 02:29] #473 closed

[2021-01-26 02:29] neng668 opened #476 "Evaluation issues for Tacotron2 during training"
I'm currently trying to train a voice using Tacotron2, basically following the Tacotron2 example. I'm using the LJSpeech pre-trained model as a base model and am using additional data (150 English sentences in LJSpeech format) to adapt the voice to that of a target speaker. At the moment I'm running it off Google Colab due to personal hardware restrictions so therefore
would sometimes need to rein

[2021-01-26 02:32] dathudeptrai commented on #476
@neng668 i do not know why it happened, see the code here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L897), i don't think there is a bug ?

[2021-01-26 05:35] lr2582858 commented on #471
@MMingabc You can refer this [paper](https://arxiv.org/abs/1910.10288). It is purely location-based attention mechanism and allowing it to generalize to very long utterances as well.
The method of splitting sentences has a certain risk of deteriorating the effect: If you don't have a good sentence splitting strategy, the split sentence is likely not in line with human speaking habits (For example,

[2021-01-26 11:21] zyj008 opened #477 "How to add an additional input to tacotron2?"
Hello, I want  to add an additional input to tacotron2.
I modified the funtion _load_data in  tacotron_dataset.py and its corresponding item, padding_values, padded_shapes and output_types.
Then, I modifed the model file tacotron2.py in tensorflowtts/model/.  I added additional input to function _build() call() in class TFTacotron2.
But when I run the whole system, there is a bug like this:
Traceb

[2021-01-26 12:14] #477 closed

[2021-01-26 12:20] PedroDKE opened #478 "training custom fastspeech2 model"
Hi all! Let me start by saying thank you for this amazing github repo.

As the title says I want to train a custom fastspeech2 model.
My problem is that I already get stuck at the first step / preprocessing (https://github.com/tensorspeech/TensorFlowTTS/tree/master/examples/fastspeech2)

My data consists out of simple audio,sentence pairs and i'm unsure on how to do all the steps such that i can g

[2021-01-27 17:50] #381 closed

[2021-01-28 06:53] dathudeptrai commented on #478
@PedroDKE what is ur bug now ?

[2021-01-28 07:51] ZhaoZeqing opened #479 "ValueError in dynamic_decode, shape (None None) after one iteration"
Hi~ I concat a speaker vector with context in Tacotron2, train and build is ok, but got this error when inference.
I tried TF 2.3.1 & 2.4.0, but the error was still occurred.

[code]

[2021-01-28 08:00] dathudeptrai commented on #479
can you pass ur modified code here ? @ZhaoZeqing

[2021-01-28 08:07] ZhaoZeqing commented on #479
@dathudeptrai In tensorflow_tts/models/tacotron2.py, I mainly modified the following code:

[code]

[2021-01-28 08:15] dathudeptrai commented on #479
@ZhaoZeqing try add instead concat first, i'm not sure what is a problem now :D.

[2021-01-28 08:23] ZhaoZeqing commented on #479
@dathudeptrai I considered add before, but the shape is not equal between context and speaker vectors, 512 vs 400, I used the i-vector which dim is 400.

[2021-01-28 08:24] dathudeptrai commented on #479
let use 1 layer dense :D

[2021-01-28 08:25] ZhaoZeqing commented on #479
I'll try it. Thanks!

[2021-01-28 09:18] rustam opened #480 "getting error while training data"
getting following error while training data by using tacotron2

_Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 513, in <module>
    main()
  File "examples/tacotron2/train_tacotron2.py", line 505, in main
    resume=args.resume,
  File "/lib/python3.7/site-packages/tensorflow_tts/trainers/base_trainer.py", line 999, in fit
    self.run()
  File "/lib/pytho

[2021-01-28 09:31] dathudeptrai commented on #480
@rustam can you pull the newest code ?. BTW, you can check by urself this line of code (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L903) to see what is the problem, i do not see any bug here. @ZhaoZeqing did you get this problem ?

[2021-01-28 09:38] PedroDKE commented on #478
Well, it isnt really a bug, i'm just lost on which preprocessing steps and toold i have to take/use to train a FastSpeech2 model on a custom dataset. I saw that there is support for some datasets but i just get lost on how to do it for a custom dataset (audio,transcript pairs)

[2021-01-28 09:43] dathudeptrai commented on #478
you need extract duration first :D. You can use tacotron2 or MFA.

[2021-01-28 09:45] JohnWalker-dev opened #481 "No speech in audio file"
First of all I am really thankful for this repository. I guess my spectogram is quite okay, since it is very similar to the actual spectogram of audio. For vocoder I am using a multiband wavegan universal vocoder.
But I am getting a void (no sound) audio of only 1 second for every sentence. I would like to know, where I am doing wrong. Any help will be appreciated.

[2021-01-28 09:47] rustam commented on #480
I checked the code , following part of the code in bold , shouldn't be included by for loop?

`    def _eval_epoch(self):
        """Evaluate model one epoch."""
        logging.info(f"(Steps: {self.steps}) Start evaluation.")

        # calculate loss for each batch
        for eval_steps_per_epoch, batch in enumerate(
            tqdm(self.eval_data_loader, desc="[eval]"), 1
        ):

[2021-01-28 09:49] JohnWalker-dev commented on #481
![image](https://user-images.githubusercontent.com/78144006/106119889-8678d380-6177-11eb-8fc4-61604eb30c21.png)
Here is the screen shot of my spectogram. And here is the array returned by fastspeech2 inference (masked_mel_after value).

<tf.Tensor: shape=(1, 15, 80), dtype=float32, numpy=
array([[[-6.1786294 , -6.0646076 , -6.1002197 , ..., -6.6326623 ,
         -6.6525187 , -6.690618  ],

[2021-01-28 09:51] rustam commented on #480
checked the code before submit issue .
shouldn't the following part be included to for loop?

`            if eval_steps_per_epoch <= self.config["num_save_intermediate_results"]:
                # save intermedia
                self.generate_and_save_intermediate_result(batch)

        logging.info(
            f"(Steps: {self.steps}) Finished evaluation "
            f"({eval_steps_per_epoch} s

[2021-01-28 09:52] JohnWalker-dev commented on #481
@dathudeptrai @erogol @candlewill @cclauss @mapledxf Any bit of insight from you guys will be a never-ending favor for me.

[2021-01-28 09:52] PedroDKE commented on #478
okay, thank you! But i assume that i also need f0 and energy, how would i extract those?

[2021-01-28 09:54] dathudeptrai commented on #478
you should ran tensorflow-tts-preprocess, the code to extract f0/energy here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L266-L285)

[2021-01-28 09:55] dathudeptrai commented on #481
@JohnWalker-dev do not tag everyone :))). you just need create issue :))).

[2021-01-28 09:57] dathudeptrai commented on #480
I think a code is correct and that code did not change a long time ago so everything should fine ?. Can you try to debug ?

[2021-01-28 09:59] PedroDKE commented on #478
okay, but the readme says that only ljspeech, kss, baker, libritts and thorsten are supported datasets arguments? Should i take one of the .yaml files and adapt it to fit my dataset or would this not work?

also i tried to look for the file that does the normalization (tensorflow-tts-normalize) but i can't seem to find it, is it the same file as the preprocessing one?

[2021-01-28 10:05] rustam commented on #480
i tried, got error until i have change the script as i described above.

change following part :
[code]
to :

[code]

[2021-01-28 10:16] dathudeptrai commented on #480
@rustam hmm, i think you should keep an old code and remove this line of code:

[code]

[2021-01-28 10:19] dathudeptrai commented on #478
for the preprocessing code you can see here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/setup.py#L56-L62) to know :D

[2021-01-28 10:21] PedroDKE commented on #478
okay i will look into it, thank you! :D

[2021-01-28 11:13] rustam commented on #480
@dathudeptrai  thank you as you suggested remove above line is enough. rerun the training comment out the suggested line without error .

[2021-01-28 11:36] ZhaoZeqing commented on #480
@dathudeptrai I have not got this error in the newst code:)

[2021-01-28 11:55] rustam commented on #480
@ZhaoZeqing have you waited till the steps done which configured for eval_interval_steps, in example the value is 500. in my case just after finished 500th step , the error come out.

[2021-01-28 12:02] ZhaoZeqing commented on #479
@dathudeptrai In tensorflow_tts/models/tacotron2.py, I also modified the call function:

[code]

If I need change the code to this?

[code]

[2021-01-28 13:45] dathudeptrai commented on #479
@ZhaoZeqing no need :D

[2021-01-28 20:18] JohnWalker-dev opened #482 "Fine tuning questions"
Thankyou so much for an amazing repository.

I would really appreciate response from any one for the questions below:
1) During fine tuning our fastspeech2 model, what is the criteria to stop. If we are fine tuning a data set on LJ speech weights. What would be the iterations to tune it with a data of ~30 minutes?
2) I am using a universal decoder. But the problem is that model is able to give a g

[2021-01-28 20:18] #481 closed

[2021-01-29 03:49] #322 closed

[2021-01-29 04:15] HenrySZP opened #483 "convert H5 file to pb file error"
I've tried to run this demo,then telled me :"ValueError: No model found in config file". I can't load this model in this way,how can i do?
Demo:
[code]

[2021-01-29 05:40] ZhaoZeqing commented on #480
@rustam Yes, I have trained after the eval_interval_steps, it was ok :)

[2021-01-29 07:11] 980202006 commented on #472
melspectrogram network

[2021-01-29 08:13] OnceJune opened #484 "[Question] Question on STFT loss"
https://github.com/TensorSpeech/TensorFlowTTS/blob/c0377a34ba04c9ebb962b4057ece7bc48a57559e/tensorflow_tts/losses/stft.py#L55
Hi, when read the paper https://arxiv.org/pdf/1910.11480.pdf, I found the mag loss is calculated by divide number of elements in the magnitude，but the code didn't do this.
https://github.com/kan-bayashi/ParallelWaveGAN apply this by using torch.nn.functional.l1_loss, which

[2021-01-29 16:09] ZhaoZeqing opened #485 "Fine tuned Tacotron2 error on a multi-speaker base model"
Hi~ I used a multi-speaker dataset training a base model then fine tuned on a target speaker dataset, I set n_speakers value to 107. The base model training was ok but got this error when fine tuned on the target speaker data:

[code]

[2021-01-29 16:49] #385 closed

[2021-01-29 16:49] #384 closed

[2021-01-29 21:11] ZDisket commented on #482
@JohnWalker-dev
1. Based on my experience I'd stop training at about 20-30k when finetuning on LJSpeech data.
2. Then that's a problem with your text2mel, not the vocoder
3. Again, bad performance on your FS2.

[2021-01-30 05:01] vinamramunot-tech commented on #478
@PedroDKE were you able to figure out to synthesize someone else's voice?

[2021-01-30 07:17] zhouyong64 opened #486 "tacotron2 training throws error when enable_tflite_convertible is true"
I'm trying to train a tacotron2 model that can be converted to tflite. However, whenever enable_tflite_convertible is set to be true, the training will not work. The following is the error:

  File "examples/tacotron2/train_tacotron2.py", line 108, in _train_step
    self.one_step_forward(batch)
  File "/root/sw/env4py36_tftts/lib/python3.6/site-packages/tensorflow/python/eager/def_function.py", l