[2021-08-16 08:58] nmfisher commented on #353
The error from `pool.py` is misleading (and annoying), the actual error probably stems from a sample rate mismatch.

The Baker processor has a hardcoded 24000Hz sample rate:
https://github.com/TensorSpeech/TensorFlowTTS/blob/29595017ab1b2a3bdef444b2195648383fa5ed05/tensorflow_tts/processor/baker.py#L546

which will throw an error inside `gen_audio_features` (meaning the generator passed to `pool`

[2021-08-16 15:50] ttsking commented on #637
Update: I modified the batch_size from 32 to 16. I tested the models of 10k, 15k, 20k, 25k, 30k. It looks that the qulity of the model is more predictable. I think i can close this issue.

[2021-08-16 15:50] #637 closed

[2021-08-17 04:41] ttsking opened #648 "About resampled ljspeech"
I have a customized dataset like ljspeech, except the sampling-rate is 24000.

for the preprocess configuration based on ljspeech_preprocess.yaml, besides modifying sampling_rate from 22500 to 24000, should i modify hop_size from 256 to 300, and how about fft_size. I' m new for tacotron, i didn't find any reference content on this.

[2021-08-17 07:29] jialesmu opened #649 "speech voice speed"
thanks for the project, I tried the demo and seems the voice speed is a little bit too fast, is there any way to control the voice speed?

[2021-08-17 07:55] ZDisket commented on #648
There is already a preprocessing config for 24KHz: https://github.com/TensorSpeech/TensorFlowTTS/blob/master/preprocess/libritts_preprocess.yaml
Yes, `hop_size` to 300. FFT size remains the same.

[2021-08-17 12:54] dathudeptrai commented on #649
@jialesmu what is a model you are using ?

[2021-08-18 02:32] tongtianchedi commented on #172
hello, I met the same question, but  did not solve it  with https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/fastspeech2_inference.ipynb
can you tell me how to solve it in detail? Thank you.

[2021-08-18 06:25] jialesmu commented on #649
tensorspeech/tts-tacotron2-baker-ch

this one~

[2021-08-18 14:49] samuel-lunii commented on #644
@ZDisket
Yes, I was planning on doing something similar too :) I will follow your advice and try all this with FS2.

[2021-08-18 15:00] zhangsanfeng86 opened #650 "Train Multi-speaker Fastspeech2 with same transcription"
Hi @dathudeptrai,
There are 5000 transcriptions,and speak by 5 speakers.
Then record 25000 wavs.  The transcriptions of each speaker are the same.
When feed them into FS2 training, got a error.
I guess the "same transcription" cause the error
How could I solve this problem?
The error as follow:
![image](https://user-images.githubusercontent.com/73547638/129925186-a583355c-e8aa-4761-a2b7-5589947d68

[2021-08-18 15:02] dathudeptrai commented on #649
@jialesmu it's not easy to control speed in tacotron2, if you want to do this, let use FS2 that supports control speed through `speed_ratios`.

[2021-08-18 15:24] zhangsanfeng86 commented on #650
If only feed data of one speaker  into FS2, due to all the transcriptio are different ,the training process is OK.

[2021-08-18 22:43] skolesnyk opened #652 "Installation issue: not compatible with Anaconda tensorflow 2.5, cudatoolkit"
When installing TensorflowTTS through pip  in the env with tensorflow 2.5 already installed , the installation fails on llvme compitation step.

I have tried to first install TensorFlowTTS through git clone, pip install ., but then CUDA drivers are not found and GPU support isn't enabled. Though it's testing GPU support perfectily fine when I install tensorflow2.5 through anaconda.

[2021-08-19 10:20] #642 closed

[2021-08-19 10:21] Cosjimmy commented on #642
Nevermind, I tried Ubuntu, and it works now

[2021-08-19 13:35] skolesnyk commented on #652
Never mind. I decided to use docker instead of anaconda.

[2021-08-19 13:35] #652 closed

[2021-08-20 18:21] TarasevichArtem opened #653 "Colab notebook not working"
When trying to run the main demo in Colaboratory (https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing), I get an error importing tensorflow.
ImportError                               Traceback (most recent call last)
<ipython-input-5-06a1fb1092f3> in <module>()
----> 1 import tensorflow as tf
      2
      3 import yaml
      4 import numpy as np
      5 import ma

[2021-08-20 20:55] ZDisket commented on #653
@TarasevichArtem
It's a fairly recent bug with Google Colaboratory, looks like the environment doesn't take kindly to having its Tensorflow version replaced anymore. Thankfully, we can infer (and train) just fine with Tensorflow 2.6.0, the latest release. I don't have write access to the original E2E notebook, but here's my copy that you can use for now: https://colab.research.google.com/drive/1FK

[2021-08-21 06:56] zhangsanfeng86 commented on #650
@dathudeptrai  Could help to check : the "outputs" and "repeat_encoder_hidden_states"  in shape 1 is different.

https://github.com/TensorSpeech/TensorFlowTTS/blob/acf3dac1301958431e17ba6f3616dbcaa522ee1c/tensorflow_tts/models/fastspeech.py#L705

[2021-08-21 08:09] dathudeptrai commented on #650
@zhangsanfeng86 The shape is different because the duration is wrong, you must ensure that sum(duration) == len(mel) for each sample.

[2021-08-21 08:49] ttsking commented on #648
Ok, thanks for your quick responds. I have tested the config provided. It's work. Thanks you two again.

[2021-08-21 08:49] #648 closed

[2021-08-21 09:17] zhangsanfeng86 commented on #650
@dathudeptrai Thank you for your quick reply!
1. I have check the sum for duration and len of mel, it equal. the code as follow
2.
`  1 import numpy as np
  2 import os
  3
  4 wav_list = os.listdir("norm-feats/")
  5 dur_list = os.listdir("durations")
  6 for i in wav_list:
  7     wavs = np.load("norm-feats/" + i)
  8     dur = np.load("durations/" + i[:6] + "-durations.npy")
  9     if np.sum(d

[2021-08-21 09:32] dathudeptrai commented on #650
@zhangsanfeng86 here, before training https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/train_fastspeech2.py#L402

[2021-08-21 09:58] zhangsanfeng86 commented on #650
it got an error,as follow:
![image](https://user-images.githubusercontent.com/73547638/130318286-d9aee699-b6b6-4b5a-8f8a-f465c555fbe6.png)

![image](https://user-images.githubusercontent.com/73547638/130318279-8193c945-79a9-47c4-8697-c8220ad63aea.png)

[2021-08-21 10:00] dathudeptrai commented on #650
@zhangsanfeng86 the code above is just an example code :D. The exactly code should be

[code]

[2021-08-21 10:03] dathudeptrai commented on #653
@ZDisket i can upgrade the pip requirements to install latest tf version if someone confirm that it work just fine :D

[2021-08-21 10:10] ZDisket commented on #653
@dathudeptrai While maintaining training and testing notebooks for a community I tested both fastspeech2 with mixed precision, multi band melgan with hifigan discriminator train and infer on tf 2.6.0, all works fine, only that it gives some warnings. I haven't tested tacotron2 train but I am 99.99% sure there shouldn't be a problem

[2021-08-21 10:19] dathudeptrai commented on #653
@ZDisket okay, i will upgrade to tf2.6 in the next release and if there is a bug , i will fix =))

[2021-08-21 23:06] zhangsanfeng86 commented on #650
@dathudeptrai Thank you!

[2021-08-21 23:06] #650 closed

[2021-08-23 06:03] jialesmu commented on #649
Thanks for your help~

[2021-08-23 06:03] #649 closed

[2021-08-23 07:16] jialesmu opened #654 "pretained model saving path"
thanks for your help, I tried the demo and saw some downloading while
`fastspeech2 = TFAutoModel.from_pretrained("tensorspeech/tts-fastspeech2-ljspeech-en")`
this run, however I can't find the download's saving path, it seems downloads a model and loaded it
where does the model saved with these downloads?
thanks !

[2021-08-23 10:27] dathudeptrai commented on #654
@jialesmu the pretrained model in `home/.cache/tensorflow_tts/`. BTW, after loads model, you can save its pretrained then reload it as the code here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/test/test_auto.py#L72-L78)

[2021-08-24 02:08] jialesmu commented on #654
thank you very much~ It solves my problem!

[2021-08-24 02:08] #654 closed

[2021-08-24 02:49] jialesmu opened #655 "tensorflow.python.framework.errors_impl.NotFoundError: No algorithm worked! [Op:Conv2D]"
OP_REQUIRES failed at conv_ops.cc:1094 : Not found: No algorithm worked!

Traceback (most recent call last):
  File "demo.py", line 11, in <module>
    fastspeech2 = TFAutoModel.from_pretrained("tensorspeech/tts-fastspeech2-ljspeech-en")
  File "/home/TensorFlowTTS/tensorflow_tts/inference/auto_model.py", line 104, in from_pretrained
    model._build()
  File "/home/TensorFlowTTS/tensorflow_tts/in

[2021-08-24 11:32] ZDisket commented on #655
@jialesmu Are you using GPU? If so, try
[code]

[2021-08-25 02:08] jialesmu commented on #655
it is not work this way, however, i fix this problem by reinstall the .h5 file and it solved.
it seems .h5 file damaged someway.
thanks for your help~

[2021-08-25 02:08] #655 closed

[2021-08-25 12:13] biofoolgreen opened #656 "How can I get intermediate weights/gradients/layer_outputs while training?"
Hi, I'm debugging a numerial issue on FastSpeech2. I'd like to printing/saving weights/gradients/outputs of each layer. I've tried add logger to `_calculate_gradient_per_batch` function in `base_trainer.py` but only got tensors not numpy values.

How could I get intermediate weights/gradients of each layer while training? It's very appreciated if you have any convienient way to debug numerical iss

[2021-08-25 14:30] dathudeptrai commented on #656
can you tell me what exactly a bug is?

[2021-08-29 09:43] yingfenging opened #657 "how to add clipnorm in the multiband melgan training ?"
Hello, when I run the multiband melgan, I add the clipnorm in the "gen_optimizer", like this
[code]
it  report error  as blow
_Gradient clipping in the optimizer (by setting clipnorm or clipvalue) is currently unsupported when using a distribution strategy._

I check my code, and the GPU's number is 1, and "STRATEGY = tf.distribute.OneDeviceStrategy(device="/gpu:0")".

How can I add the clipnorm i

[2021-08-29 13:27] #601 closed

[2021-08-30 01:57] dathudeptrai commented on #657
@yingfenging I do not know but Tacotron2/FastSpeech2 can be applied clipnorm without any problems. See here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/optimizers/adamweightdecay.py#L124)

[2021-08-30 07:03] yingfenging commented on #657
@dathudeptrai   ok，thanks. I will try it.

[2021-08-30 11:50] #588 closed

[2021-08-30 11:53] #592 closed

[2021-08-31 03:12] TheHonestBob commented on #634
you can use sonic, but you have to package it if you use python

[2021-08-31 08:06] abaddon-moriarty opened #658 "hugging face problem - New implementation"
Hi,

# We are having some issues using the newest code.
We tried adapting the old code to the new implementation (Glad there's French now, thanks @samuel-lunii !), but we're running into the following problem:

Traceback (most recent call last):
  File "tts_ca_fr.py", line 32, in <module>
    processor = AutoProcessor.from_pretrained("/usr/local/TensorFlow/French/SIWIS-dump/ljspeech_mapper.json")

[2021-08-31 08:50] #658 closed

[2021-08-31 21:05] #600 closed

[2021-09-02 02:46] #603 closed

[2021-09-02 03:21] TheHonestBob opened #659 "About voice cloning"
Thanks for your project, about voice cloning, the way of multi-speaker or loading pretrained models train on few other data can achieve voice cloning?

[2021-09-02 03:30] TheHonestBob commented on #605
You have to python setup.py if you want to use command tensorflow-tts-preprocess, you also can use python preprocess.py just change a little code

[2021-09-02 11:54] ZDisket commented on #659
@TheHonestBob Yes. You can generally finetune Tacotron2 on 30 minutes of data, sometimes less if it's good quality and easy to learn (not much variance between samples, etc). FastSpeech2 is more tolerant of worse datasets, so it's worth looking into that. From my experience usually 6000 - 15k steps of Tac2 to get a good result and 15k - 30k of FS2. I'm preparing something that will include finetun

[2021-09-03 07:40] karrdy89 opened #660 "How to train new voices with a pre-trained model"
Hello.
First of all, thanks for the great project.
Before the question, please forgive me for asking a stupid question as I am a beginner.

I want to make a model that reads text with my voice. I can use a pre-trained model(kss) to make inferences, but I'm not sure how to train a new voice and generate inferences from that voice.

What I understand is this:
1. preprocessing new data
[code]
2. defi

[2021-09-03 08:07] tongtianchedi opened #661 "Can't save the SavedModel of FastSpeech2"
Hi, experts,
when I try to save the SavedModel of FastSpeech2, I modified both parts of the code:

In the script of fastspeech2.py:
[code]

In the script of train_fastspeech2.py:
[code]

but error occurs:

Traceback (most recent call last):
  File "examples/fastspeech2/train_fastspeech2.py", line 442, in <module>
    main()
  File "examples/fastspeech2/train_fastspeech2.py", line 421, in main

[2021-09-03 13:50] dathudeptrai commented on #661
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/fastspeech2_inference.ipynb

[2021-09-04 13:35] #567 closed

[2021-09-05 09:21] mlrober opened #662 "KeyError: '@Gallantry' while running preprocessing command"
Hi Team,

I have tried to replicate training fastspeech2 from scratch with libritts dataset.
I have followed the steps in the repo as follows:

Step1: Run the dataset on this Jupyter Notebook: https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/libri_experiment/prepare_libri.ipynb
Step2: then i have cloned the repo and ran setup.py install
Step3: Created "Train.

[2021-09-07 02:32] Pydataman commented on #659
can achieve unseen speaker clone?

[2021-09-07 02:57] Pydataman opened #663 "how to fine tune on unseen speakers small dataset?"

[2021-09-07 06:48] karrdy89 opened #664 "extract duration for fastspeech2"
Hello.
Thanks for the great repo.
I am trying to train a pre-trained fastspeech2 model(kss).
It seems that a duration is needed for learning, which can be extracted by training a tacotron.
I have a question here. isn't the duration necessary for learning tacotron2? also, how many epoch is required for accurate extraction?

[2021-09-07 07:22] dathudeptrai commented on #664
@karrdy89 you need training tacotron2 to extract duration for fs2. Around 50k-80k is good enough for extract duration.

[2021-09-07 08:15] karrdy89 commented on #664
I get it.
Thanks for the reply :)

[2021-09-07 10:06] Pydataman commented on #664
if there is small unseen speaker data, hot to extract duration info?

[2021-09-07 13:33] ZDisket commented on #663
@Pydataman I recommend formatting your dataset in the same format that one of the built in processors takes (like LJSpeech), then starting training of your preferred models with the` --pretrained` argument

[2021-09-08 00:57] Pydataman commented on #663
@ZDisket  thx,   Is it fine tune on any speaker ID?

[2021-09-09 14:02] shachar-ug commented on #515
@ariG23498 how did you end up resolving it?

[2021-09-10 00:58] #549 closed

[2021-09-11 11:07] MostafaAlaviyan opened #665 "hifigan model weight"
hello
firstly thanks for your valuable repository.
I want to utilize hifigan to produce a .wav file, but I can not find the model weights in the hugging face.
could you please provide me hifigan.h5 model? or guide me to download it?

[2021-09-11 11:14] MostafaAlaviyan commented on #665
@karrdy89

[2021-09-11 11:19] MostafaAlaviyan commented on #665
@ZDisket

[2021-09-11 12:09] #565 closed

[2021-09-13 08:52] jialesmu opened #666 "Question for chinese text to voice"
First of all, thanks again for your amazing work.
I tried several models, and there is one problem when I deal with Chinese words.
The polyphone characters will produce same pronunciation in result which it should give different pronunciation, is there any way to fix this problem?
for example,word 乐, can pronounced like 'le' means happy; however this word also can pronounced like 'yue' means music

[2021-09-13 08:54] dathudeptrai commented on #666
@azraelkuan

[2021-09-13 08:54] dathudeptrai commented on #666
@azraelkuan

[2021-09-13 09:47] shachar-ug opened #667 "LibriTTS out-of-box produces incoherent speech"
Using out of the box training produces results that are not forming coherent words.
Initially running prepare_libri.ipnb with 20 speakers, then running as MFA instructed, I encountered size mismatches, to which I saw running tacotron's extract_duration.py should resolve - and it has.

So running

[code]
-> running the MFA since it generates the train.txt required later

and then extracting duratio

[2021-09-13 09:47] shachar-ug commented on #667
@OscarVanL , I saw you had some success with it?

[2021-09-13 11:32] OnceJune commented on #666
sounds like your frontend gives wrong pronunciation prediction, can you print the network input?

[2021-09-13 11:43] azraelkuan commented on #666
@jialesmu, in this repo, we do not have a polyphone model to judge this, because we do not have such data.
if u want to train a  polyphone  model, u can buy data from databaker and train a model like [g2pM](https://github.com/kakaobrain/g2pM).

[2021-09-13 16:51] #604 closed

[2021-09-14 06:40] ymzlygw opened #668 "Which vocoder for training multi-speaker dataser?"
Hi , I  see many vocoder implementation in your project.
I want to train a vocoder on **multi-speaker dataset,** which vocoder can be used for it?
 And the mel-files (containing **audio.npy and mels.npy, mels.npy is generated by Tacotron** )in dataset that I want to  use is from RTVC-project:https://github.com/CorentinJ/Real-Time-Voice-Cloning.

[2021-09-14 07:36] ymzlygw commented on #511
@zhouyong64  Hi，Can you tell me the waveRNN you try is based on Pytorch or TF? I want to find a TF2 impementation of waveRNN.Thanks!

[2021-09-14 08:05] dathudeptrai commented on #668
@ymzlygw you can use multiband melgan for training multi-speaker :D

[2021-09-14 08:06] dathudeptrai commented on #665
@MostafaAlaviyan we don't have any pretrained for hifigan model now :D. PRs are wellcome :D

[2021-09-14 08:19] ymzlygw commented on #668
Thanks for your suggestion. How about Mel-GAN? Could you tell me why use MB-MelGAN not Mel-GAN ?

[2021-09-14 09:34] ZDisket commented on #668
@ymzlygw Use HiFi-GAN for multispeaker. The MPD is very helpful in that regard (or you can combine mb-melgan with hifi-gan discriminator)

MB-MelGAN is preferable to MelGAN simply because it is faster and better. But if you're using multispeaker or want your model to be finetuneable HiFi-GAN's training strategy works much better.

[2021-09-14 09:36] ZDisket commented on #667
@shachar-ug What Tacotron2 model are you using for extracting durations? It has to match the exact same dataset you're trying to train it on.

[2021-09-14 13:59] shachar-ug commented on #667
@ZDisket That's a good pointer, thanks

I donwloaded from the [link](https://drive.google.com/drive/folders/1FQG8XC5c5JJ0jpCUl7Oqu5u2fC8IarP3) in the [tacotron2 page](https://github.com/TensorSpeech/TensorFlowTTS/blob/ba46b472f99b09bbdfc6b9261626c10fb2f2be14/examples/tacotron2/README.md)

which I now see is trained for LJspeech.

So my questions would be

1. Is there one trained for LibriTTS or do

[2021-09-15 01:24] ymzlygw commented on #668
**Thanks!   And Could you help me with followings two questions?**
1.   Because I have preprocessed the data and can get the  **wav.npy path** and corresponding **mel.npy path** from metadata by index, so in config["format"] , I just need to change the audio_query and mel_query to the path, right?

if config["format"] == "npy":
        audio_query = "*-wave.npy"
        mel_query = "*-raw-feats.np

[2021-09-15 08:46] yanglin187 opened #669 "The outliers are replaced by max, not by mean in outliers.py"
In the file: utils/outliers.py

    # replace by mean f0.
    x[indices_of_outliers] = np.max(x)

all the outliers are replaced by max, not by mean ?

[2021-09-15 14:12] dathudeptrai commented on #669
@yanglin187 seems it is a bug, but i think it doesn't affect the general performance so I will keep it for backward compatibility.

[2021-09-16 02:07] ymzlygw commented on #668
@ZDisket  Could you please tell me about this ?
'Generator function should return [audio, mel]'----Here **'audio'** means raw audio wav file with npy format, and **'mel'** means mel-gta.npy that  generated from tts model , not from ground truth of audio file. Right?

[2021-09-16 06:03] ZDisket commented on #668
@ymzlygw Normally it's ground truth mel, but if you have GTA mels (or postnets, as I call them) then it's better to use them.

[2021-09-16 06:06] ymzlygw commented on #668
OK, Thanks !

[2021-09-16 07:31] shachar-ug commented on #667
@ZDisket since I see no libritts-tacotron2 in this repo, I figured I might as well train my own

if I'm not missing anything, I just generated tacotron2.libritts.v1.yaml with tacotron2_params: dataset: libritts parameter and then ran

`CUDA_VISIBLE_DEVICES=0,1 python ttsexamples/tacotron2/train_tacotron2.py   --train-dir ./dump_libritts/train/   --dev-dir ./dump_libritts/valid/   --outdir ./ttsexa

[2021-09-16 08:04] pin240 opened #671 "Can I do based on TensorFlow with DirectML to work with AMD video cards?"
Сan I do it on the basis of Tensorflow with DirectML to work with AMD graphics cards? CPUs are slow and Nvidia cards are almost unavaimable.
I have 3 AMD graphics cards (2pcs - R9 Nano and Vega64) and a big 19GB set.(audio)
I'm even willing to give it up for common use.
As I understood, you need a video card with CUDA for training, but I do not have one. A lot of rummaging through the Internet and

[2021-09-16 17:40] shachar-ug opened #672 "Libritts 100 speakers fail to train"
Changing the code to train on 100 speakers, seems that training fails due to attention map

Error seems to be in fastspeech

In fastspeec.py, line 413 I've printed some debugging shapes and got

[code]

the following output shape: shape=(None, None, 1)

Preprocessed with Libri experiment ipynb + MFA (wiithout tactron2)

the output error:

[code]

[2021-09-17 02:39] #657 closed

[2021-09-17 10:39] ymzlygw opened #673 "No Error killed when training HiFiGAN!"
Hi, I am training hifiGAN with a dataset including 150k samples.But in **Step 2: Training from scratch**: it is  always **killed**  without any error message: also the step when killed is almost the same.
.....
....
2021-09-17 10:13:40,362 (base_trainer:658) INFO: (Step: 2000) train_fake_loss = 0.0000.
2021-09-17 10:13:40,363 (base_trainer:658) INFO: (Step: 2000) train_dis_loss = 0.0000.
2021-09-1

[2021-09-18 09:43] ymzlygw commented on #673
@ZDisket Could you give me some solutions about this ? Thanks!

[2021-09-18 10:27] ZDisket commented on #673
@ymzlygw Looks like it's running out of RAM. Try downgrading Tensorflow to 2.3.1, and CUDA version accordingly.

[2021-09-18 10:32] ymzlygw commented on #673
I am using CUDA Version: 10.1  and tensorflow2.3 exactly. And my dataset size is about 151908.
Also , watch nvidia-smi: Memory usage when training is 5200MiB/11178MiB.

[2021-09-18 11:31] ymzlygw commented on #673
@ZDisket After I set the allow_cache=False. Killed not occur and first eval step succeed!Thanks!
Also, about this info -**No (suitable) GPUs detected, skipping auto_mixed_precision_cuda graph optimizer**. It's right? Ihave GPU and using it when trainging, but what's this message mean?

[2021-09-18 14:10] mlrober commented on #662
Hi Team,

Is this bug is fixed?

[2021-09-18 23:15] #572 closed

[2021-09-20 09:11] ihshareef opened #674 "Garbled speech in the Android app"
I modified the Android example such that a `TtsManager` instance is being called at different parts of the application. I noticed that the application resulted in a garbled, incomprehensible voice.

This is probably due to some kind of memory leak. Has anyone else incurred such a problem?

[2021-09-21 11:38] abylouw opened #675 "Multidimensional input: adding phonological features"
Hi,

I am trying an experiment where instead of just adding a segment id (character/phoneme) as input, I would like to add some phonological features as well. I am looking at using FastSpeech2 as a base, but I am struggling to find a simple way to change the architecture to add multidimensional input.

Has anyone played around with such an architecture and willing to share some tips?

Thanks

[2021-09-22 06:56] engineergun opened #676 "MB-MELGAN generated and groundtruth speech lengths are not the same."
Hi everybody,

Firstly, thanks for this awesome repository :). I'm trying to train multi band melgan model with 8 speakers. In the evaluation step, generated speech and the groundtruth speech have different lengths. When i listen to audio files, some phones are repating itself. How can i solve this problem?

In the multiband_melgan config file "batch_max_steps" and "batch_max_steps_valid" are the

[2021-09-22 16:59] #624 closed

[2021-09-22 16:59] #614 closed

[2021-09-22 17:01] dathudeptrai commented on #671
@pin240 I don't know, not try yet :D

[2021-09-22 17:21] abylouw commented on #675
I currently have about 56 binary phonological features. My plan now is to make the vocab size = 56 and then input a matrix of these features for each phoneme. For each phonone I then mask the phonological features that are off, gather the others from the embedding and sum them all to get a phonological feature vector of size 256 for each phoneme.

Any thoughts on this scheme?

[2021-09-22 17:54] pin240 commented on #671
@dathudeptrai
Sad (
I hope in the future you will have free time to do this.

[2021-09-23 02:09] jialesmu commented on #666
Thanks for your suggestion, I will try g2pM~

[2021-09-23 02:09] #666 closed

[2021-09-23 05:23] dathudeptrai commented on #675
@abylouw that scheme is ok i think, WDYT @ZDisket

[2021-09-23 10:11] #626 closed

[2021-09-23 10:11] #467 closed

[2021-09-23 11:54] dathudeptrai commented on #676
@engineergun can you share your mb-melgan config file ?

[2021-09-24 06:04] engineergun commented on #676
@dathudeptrai
ofc i can :)
###########################################################
#                FEATURE EXTRACTION SETTING               #
###########################################################
sampling_rate: 16000
hop_size: 160            # Hop size.
format: "npy"

###########################################################
#         GENERATOR NETWORK ARCHITECTURE SETTING          #

[2021-09-24 08:50] ZDisket commented on #675
@abylouw @dathudeptrai Looks good to me.

[2021-09-24 08:51] ZDisket commented on #673
@ymzlygw Sorry for late reply, but that means there are no GPUs that can do mixed precision. It's not a problem unless you were intending to train with mixed precision.

[2021-09-24 11:06] EmreOzkose commented on #656
@biofoolgreen did you reach mid-layers? I wanna reach too, to just observe.

[2021-09-24 23:15] #625 closed

[2021-09-25 13:59] dathudeptrai commented on #676
@engineergun multiply all elements in `upsample_scales` must be equal to `hop_size` / `out_channels`

[2021-09-25 14:13] engineergun commented on #676
thank you very much @dathudeptrai

[2021-09-25 14:13] #676 closed

[2021-09-25 17:39] abylouw commented on #675
Hi @dathudeptrai,

Is the attention mask at https://github.com/TensorSpeech/TensorFlowTTS/blob/cd3a5e1f9915fa7dd646771fd50fe6fef94fe9fc/tensorflow_tts/models/fastspeech2.py#L153
to mask out padding? or what is it for?

Thank you

[2021-09-26 15:03] dathudeptrai commented on #675
@abylouw yes :D

[2021-09-26 15:03] #628 closed

[2021-09-27 11:28] Greeksilverfir opened #677 "ValueError: Inconsistent shapes: saw (None,) but expected (None, 1)"

[2021-09-27 11:46] crystal-lee opened #678 "The Chinese model does not break sentences"
I deployed a TTS service according to this document
[code]
but it does not break sentences and does not speak letters and numbers。

who can help me ? Give me a perfect Chinese model, or teach me how to train such a model。

thanks!!!

[2021-09-27 12:57] dathudeptrai commented on #677
@Greeksilverfir can you share with me where is a bug comes from ?

[2021-09-27 12:58] dathudeptrai commented on #678
@azraelkuan

[2021-09-27 14:19] EmreOzkose commented on #656
we can do something like that for multiband-melgan:
[code]

[2021-09-28 06:08] #607 closed

[2021-09-28 07:59] ymzlygw commented on #673
@ZDisket Thanks!
BTW, I have trained a generator using multi-band melgan , but When inference, it always generated wav file with just 5 seconds. How to generated a wav file with the same duration as raw audio?

[2021-09-29 02:54] iamanigeeit opened #679 "Does hop_size in tacotron2 conf have any impact?"
I see that in `baker_preprocess.yaml` the hop size is 300, but in `tacotron2.baker.v1.yaml` the hop size is 256. My understanding is the hop size in `preprocess` should be adjusted according to sample rate, but should we also change the tacotron conf? I cannot find anywhere that uses the tacotron conf hop size.

[2021-09-29 03:34] ymzlygw commented on #429
@ZhaoZeqing Hi, I am also try to train mb-melgan with 16kHZ dataset , but I don't know how to change config file in mb-melgan, can you tell me what your config is or share it if possible? Thanks a lot!

[2021-09-29 06:30] ymzlygw opened #680 "In ference of MB-MelGAN, it generated slow audio than raw?"
Hi,  I trained a mb-melgan model with 16kHz dataset. But after inference, I found that generated audio speed is slow than raw audio.

I just change the config file's two params when training:  **sampling_rate-> 16000,  hop_size-> 200.**

Is there anything wrong?
**Here are the generated and raw samples:**
Because they have same length but different speed, so the generated wav sounds cut at the end

[2021-09-29 06:50] MMingabc opened #681 "MB-MelGAN weight normalization doesn't converge"
Hi,

I'm trying to apply weight normalization to MB-MelGAN's generator.
But it doesn't converge even during the pre-training phase.
How can I fix this problem?
According to MelGAN paper, normalization is _extremely crucial_. Is this true for other datasets?

Thank you.

[2021-09-29 08:02] dathudeptrai commented on #681
@MMingabc The weight normalization in TF is something wrong :D. BTW, the performance of melgan without weight norm is still ok :D

[2021-09-29 08:03] dathudeptrai commented on #680
@ymzlygw the mel input for Melgan is ground-truth?

[2021-09-29 08:15] ymzlygw commented on #680
Not ground-truth, it uses the mel-output generated directly by tacotron model. and then normalize it to (-1,1)

[2021-09-29 09:33] MMingabc commented on #681
@dathudeptrai Thank you! I just replaced TFTTS's built-in weight normalization by TF-addon's implementation. MB-MelGAN has started to converge. I will update the result after finishing training.

[2021-09-29 09:35] dathudeptrai commented on #681
@MMingabc I think the implementation is similar but maybe they already fix some bugs :D

[2021-09-29 13:03] dathudeptrai commented on #680
@ymzlygw then the problem come from tacotron2 :D

[2021-09-29 16:05] Sahanaka opened #682 "No module named 'german_transliterate'"
**from tensorflow_tts.inference import AutoProcessor**

This line fails due to the Error **No module named 'german_transliterate'**

[2021-09-29 19:42] #627 closed

[2021-09-30 02:29] dathudeptrai commented on #682
pip install git+https://github.com/repodiac/german_transliterate.git#egg=german_transliterate @Sahanaka

[2021-09-30 02:29] #682 closed

[2021-09-30 06:35] Sahanaka commented on #682
@dathudeptrai thank you for your help. But shouldn't TensorSpeech get rid of this dependency? From the looks of it, this package  (german_transliterate) is not properly maintained.

[2021-10-01 04:56] #615 closed

[2021-10-01 11:46] Mareike-RTY opened #683 "Preprocessing German multi-speaker dataset for training FastSpeech2"
Hi, I would like to train the FastSpeech2 model on a German multi-speaker dataset (4 speakers, 13 hours of audio material for now). Following [this](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_libritts) guide, I have triggered preprocessing using `thorsten_preprocess.yaml` as config and the `libritts` processor as `--dataset` argument. For this purpose, I have ad

[2021-10-01 14:25] dathudeptrai commented on #679
@iamanigeeit the hop_size in Tacotron2 conf doesn't have any impact

[2021-10-01 14:27] dathudeptrai commented on #683
@monatis can you help ?

[2021-10-01 14:47] ZDisket commented on #683
@Mareike-RTY `thorsten `processor is okay for multi-speaker, but you need to modify dataloader to load your `speaker_id `from files you must manually create: https://github.com/TensorSpeech/TensorFlowTTS/blob/cd3a5e1f9915fa7dd646771fd50fe6fef94fe9fc/examples/fastspeech2/fastspeech2_dataset.py#L176

[2021-10-01 14:53] ZDisket commented on #679
@iamanigeeit From what I've been told, `hop_size` in Tacotron2 changes horizontal resolution of the spectrogram. Lower = higher quality, but more compute heavy. This is in relation to `hop_size` of the vocoder (which has to be adjusted for sampling rate); if it is equal, then it's the standard 12.5ms. So 256 hop size vocoder with 256 hop_size Tacotron2 is the same as 512 hop size vocoder with 512

[2021-10-01 14:58] Mareike-RTY commented on #683
@ZDisket Thank you very much for your guidance. I will do so!

[2021-10-01 20:42] #618 closed

[2021-10-02 02:56] ymzlygw opened #684 "Why predictions's time step is different in MB-MelGAN?"
As follows:
ex1:
![b'036'](https://user-images.githubusercontent.com/17065855/135701576-e16a0eb6-a427-4f79-95a9-95bbf7232212.png)
ex2:
![b'088'](https://user-images.githubusercontent.com/17065855/135701577-f42d65d9-8fc1-435e-971d-3f1cad55072d.png)

**generated speech is always 2000 longer than ground-truth speech**.
 Is this the correct prediction?

[2021-10-03 04:05] dathudeptrai commented on #684
@ymzlygw can you share your mb-melgan config ?

[2021-10-03 06:18] ymzlygw commented on #684
@dathudeptrai  Ok, Here is:

sampling_rate: 16000
hop_size: 200            # Hop size.  256 for 22050HZ. 200 for 16KHZ
format: "npy"

###########################################################
#         GENERATOR NETWORK ARCHITECTURE SETTING          #
###########################################################
model_type: "multiband_melgan_generator"

multiband_melgan_generator_params:
    out_c

[2021-10-03 07:25] dathudeptrai commented on #684
@ymzlygw hop_size should be 256

[2021-10-03 07:26] #639 closed

[2021-10-03 07:26] #638 closed

[2021-10-03 07:31] ymzlygw commented on #684
@dathudeptrai
While, My sample_rate is 16kHz, hop_size=sample_rate * 0.0125, not this?

[2021-10-03 14:58] psalajka opened #685 "Fastspeech 2 phoneme 'Invalid argument: Incompatible shapes' during training"
Hello, I'm trying to train a phoneme-based FS2 model. Our dataset has the same structure (and settings) as the LJ Speech Dataset, therefore I use its configs. We're generating our own durations, so I triple-checked everything.

This issue is probably closely related to https://github.com/TensorSpeech/TensorFlowTTS/issues/518 and https://github.com/TensorSpeech/TensorFlowTTS/issues/512, for that I

[2021-10-03 17:35] dathudeptrai commented on #684
@ymzlygw no, 0.016 :D

[2021-10-04 00:11] #586 closed

[2021-10-04 01:38] ymzlygw commented on #684
@dathudeptrai But after I set hop_size=256, and train with 200k step, the prediction fig is strange compared with hop_size=200 at 200k step:
**step=200k, hop_size=200**
![b'088'](https://user-images.githubusercontent.com/17065855/135781552-14a06a68-695c-4d98-826b-adb65594d9c1.png)
**step=200k, hop_size=256**
![b'036'](https://user-images.githubusercontent.com/17065855/135781593-c0d1b1ff-2fec-4a56-

[2021-10-04 06:17] ymzlygw commented on #684
@dathudeptrai
Maybe set hop_size=200 is correct for training with sr=16000hz. But it should change some  others's config to correct the time step (there are 2000 time-steps wrong in prediction that cause generated audio is speed slow than raw auido)

[2021-10-04 07:07] engineergun commented on #684
I had the same problem and @dathudeptrai said [https://github.com/TensorSpeech/TensorFlowTTS/issues/676#issuecomment-927125526](url) then it was solved. Additionally, according to multiband melgan paper for 16khz data hopsize is 200 and upsample scales are 2,5,5.

[2021-10-04 07:11] ymzlygw commented on #684
@engineergun  Thanks! And sorry i can't open the url, can you check it ?

[2021-10-04 07:15] ymzlygw commented on #684
@engineergun Now I am change the config: sample_rate=16kHz, hop_size=200, up_scasle=[2,5,5]. And begin training it, if there are other problems or preprocess I'll tell you. Thanks for your reply!

[2021-10-04 10:09] engineergun commented on #684
@ymzlygw you'r welcome. i hope get good results :)

[2021-10-04 10:30] engineergun commented on #251
@ZhaoZeqing i have same problem can u share more info, i couldnt understand.

[2021-10-04 10:56] iamanigeeit commented on #679
@ZDisket Thanks for the reply, but since Tacotron2 only outputs the spectrogram and does not have a vocoder, can i assume `hop_size` is merely to inform vocoders of the horizontal resolution? That is, it has no function in the Tacotron code?

[2021-10-04 18:03] psalajka commented on #685
Update: The debugging tool

[code]

generated after several (many) iterations some results. I already identified 3 samples that appeared at least 2 times in outputs and their removal increased training stability. I managed to make more than 6000 steps.

Unfortunately, I still don't understand what's happening. Now I try to fix the seed to allow reproducibility.

[2021-10-08 01:50] ymzlygw commented on #684
Thanks for your reply! I have changed it and now it looks work fine. I will close the issue.

[2021-10-08 01:50] #684 closed

[2021-10-08 07:49] ZhaoZeqing commented on #429
It maybe the wrong lr value in config file, use the latest config file is ok:)

[2021-10-08 08:47] ZhaoZeqing commented on #429
@ymzlygw I modified the **upsample_scales** in config file, the product of **upsample_scales** must be divisible by **hopsize**.

[2021-10-08 08:50] ymzlygw commented on #429
Thanks! I have changed it!

[2021-10-08 10:57] #683 closed

[2021-10-08 18:54] engineergun commented on #251
thank you for your reply. i tried it but just first speaker's voice was understandable other speakers were generating pure noise. by the way in the evaluation steps genereted sounds were very good.

[2021-10-09 07:22] ZhaoZeqing commented on #251
@engineergun If you give the correct speaker id in when processing dataset? like this https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/fastspeech2_dataset.py#L121

[2021-10-10 13:41] riproskaie opened #686 "Tacotron2 training won't proceed with KSS dataset"
A few weeks ago, I successfully trained FastSpeech2 for the Korean language with my preprocessed KSS dataset. I've been trying to duplicate the training with Tacotron 2. I'd like to train the model from scratch, but Google Colab Pro will only detect the GPU and proceed no further. Any suggestions?

Here's the console output:

[code]

[2021-10-12 02:32] #635 closed

[2021-10-13 10:09] Mareike-RTY opened #687 "InvalidArgumentError during training Tacotron2 on German multi-speaker dataset"
Hi, I am trying to train Tacotron2 on a multi-speaker German dataset (4 speakers, 13 hours of audio material for now). I preprocessed it with the `thorsten` processor and adjusted the config files according to [this](https://github.com/ZDisket/TensorflowTTS/commit/616a70cb3981771bdfcd44e8a1d7c5f5dd7d1fd5#diff-9a53aa155125bb4b5f51f8d85f2fe438ca461b7ec88dfa27acd04dfd8712e790) guide in terms of multi

[2021-10-14 09:58] iamanigeeit opened #688 "Losses are not correct"
There is a problem with `calculate_3d_loss` in `tensorflow_tts.utils.strategy`.

The mel ground truth (`y_gt`) should not be truncated if the mel prediction (`y_pred`) is shorter. If the prediction is shorter, it should be penalized. One way to do this is to pad the prediction to the ground truth length.

In practice, this rarely happens, because `stop_token_loss` is wrongly set up and usually cau

[2021-10-14 10:09] dathudeptrai commented on #688
@iamanigeeit the len of y_gt and y_pred are always equal. Please read this (https://github.com/TensorSpeech/TensorFlowTTS/pull/455).  len(y_gt) > len(y_pred) is only happend when you are using multi-gpu.

[2021-10-14 16:04] #576 closed

[2021-10-15 07:54] albertswiecicki opened #689 "License question -> Follow-up"
Dear creators,
I work in a multinational company, and I write to you on behalf of my team.
We would like to use and contribute to TensorflowTTS, but we cannot due to a non-standard license.
I saw that a similar question #279  was asked over a year ago, and I wonder if something has changed since then.

We believe that we are not the only ones interested in using and contributing to this repository

[2021-10-19 09:54] Zhang-Nian commented on #672
Two monthes ago, That code was ok on libritts corpus, but now I have the same problem, and I don't know what happened !

[2021-10-19 12:44] lianghongyi opened #690 "install error (llvmlite error)"
I tried to install this project on window10, I have tried to install this on two different machine.But this problem always happen.
what can I do?

![image](https://user-images.githubusercontent.com/812418/137911251-3540392d-30ef-47f4-8854-c90147199d33.png)

[2021-10-19 13:18] dathudeptrai commented on #689
@albertswiecicki i will change the license soon :D

[2021-10-19 13:25] #689 closed, assigned to dathudeptrai

[2021-10-19 15:42] #616 closed

[2021-10-20 11:48] t-dan opened #691 "Vocoder fine-tuning on synthetic data"
Hello,
in default setting, the vocoders are trained on mel-spectra computed from the real speech signals. When they are fed by the Tacotron-generated spectra, the quality is a bit lower.

I would like to try to fine-tune (or train from scratch, it does not matter) a vocoder from the synthesized (i.e. the Tacotron-generated) mel-spectrogram. However, there is an issue in it - while the real spectro

[2021-10-21 15:47] #687 closed

[2021-10-22 10:48] riproskaie opened #692 "Tacotron2 training error (Esperanto)"
I constructed a dataset of Esperanto speech under the name "koreto." I'd like to make it work on TensorFlowTTS. My forked repository is available here: https://github.com/riproskaie/TensorFlowTTS

I created/modified the following files:

- tensorflow_tts/bin/preprocess.py
- tensorflow_tts/processor/koreto.py
- tensorflow_tts/processor/__init__.py
- tensorflow_tts/configs/tacotron2.py
- tensorflow_

[2021-10-24 22:43] #692 closed, assigned to nobody

[2021-10-28 02:03] TheHonestBob opened #693 "The volume of the original audio is different，when train mutil speaker"
when I use baker and aishell to train fastspeech2, but volume of the original audio is different, what can I do to solve it，thanks every much。

[2021-10-28 12:16] riproskaie opened #694 "My Esperanto TTS is overfitting"
Hello, I've been working on implementing an Esperanto fork of TensorflowTTS, but for the past few days, I haven't been so successful. My 6k-trained model spits random scrapped sounds (about 46 seconds long) from my audio input. I gave the model a bigger dataset, and it now talks nonsense for about 5~10 seconds for my 15-character input string. This is much shorter, but I'm not sure I can call it a

[2021-10-28 14:31] zhangsanfeng86 opened #695 "Question: @tf_function(input_signature: .....)"
Hello,

One question about: @tf_function(input_signature: .....)
Why "@tf_function(input_signature: .....)" was used in gan.py.but not use in fastspeech.py?

Thank you!

[2021-10-29 06:35] #695 closed, assigned to dathudeptrai

[2021-10-30 01:12] hasnin24 opened #696 "Not able to generate train.txt file to run multi-speaker libritts for FastSpeach 2"
I tired to use MFA based extraction for FastSpeech2 on Windows 10 but I kept getting:

    OSError: [WinError 193] %1 is not a valid Win32 application

    when running:
      python examples/mfa_extraction/run_mfa.py \
        --corpus_directory ./libritts \
        --output_directory ./mfa/parsed \
        --jobs 8
I was wondering what is the format for train.txt. In the comments  section for /e

[2021-11-02 09:10] TheHonestBob opened #697 "Is this a bug when calculate f0？"
when process data，the result of remove_outlier(f0) is all zero，after that I can't run scaler_f0.partial_fit(f0[f0 != 0].reshape(-1, 1)), I have checked my audio，I don't know what should I do with this data, del this audio or keep this audio and don't run scaler_f0.partial_fit(f0[f0 != 0].reshape(-1, 1))，this is my audio [https://github.com/TheHonestBob/HonestBob/blob/master/Azhi001507.wav](url), t

[2021-11-03 03:19] #697 closed

[2021-11-03 04:59] TheHonestBob opened #698 "Is it a bug in preprocess.py?"
In preprocess.py line 461 to 467 duplicate code, I don't know it is a bug or not , another question is that why not del outliers audio, in preprocess.py line 459, thanks a lot.

[2021-11-03 08:01] X-CCS opened #699 "How to reduce the complexity of melgan's model and accelerate the inference of the model?"
+ Hi! I transferred `fs2 + melgan` to `tflite` model and deployed it to mobile devices. I found that the inference of `melgan` model was too complex and occupied too much `CPU` resources.I'd like to ask you what can reduce the complexity of `melgan` model.
+ I think it should be summarized into the following points
    + (1).Without affecting the effect, can we remove some network layers of `melga

[2021-11-04 01:18] twister11211 opened #700 "why does FastSpeech2 tflite model need np.expand_dims"
Is there a way to have the tflite model running with a array on its own without needing to be a array inside another array?
Is there a functional reason why it needs to be formatted like  [[15,34,58,75]] instead of [15,34,58,75]?

[2021-11-06 03:41] #634 closed

[2021-11-07 09:53] MostafaAlaviyan opened #701 "training fastspeech2 from scratch on a new dataset"
hi
thanks for the valuable repository.
I want to train fastspeech2 from scratch on a Persian dataset, but it is expressed that  ''Right now we only support ljspeech, kss, baker, libritts, thorsten and synpaflex for dataset argument. In the future, we intend to support more datasets.'' on the main page of the repo.
now, how can I train the model on my dataset?
best regards
@ZDisket

[2021-11-08 06:44] #605 closed

[2021-11-08 13:42] dathudeptrai commented on #700
the input must be in the form [batch_size, ...]

[2021-11-08 13:44] dathudeptrai commented on #698
that is a bug but does not affect anything :D. How can you define outliers in audio ?

[2021-11-08 13:46] dathudeptrai commented on #699
@X-CCS maybe you need try float16 or int8 for melgan model ?. In my case, melgan is fast (actually MB-melgan), and the CPU resources needed are low.

[2021-11-08 16:56] ZDisket commented on #696
@hasnin24 I see you're using Windows, you should try Linux.

[2021-11-09 00:43] ZDisket commented on #701
@MostafaAlaviyan
It only supports those datasets out of the box, but you can add your own by analyzing how they're implemented and adding your own. I trained on a Spanish dataset, it's easy.

[2021-11-09 00:49] hasnin24 commented on #696
I was able to run it on google colab!!! Thanks for replying. I do have one quick question, is there any way I add a new voice to an existing one for FB2 if so is there any docs to follow? thanks again.

[2021-11-09 01:46] #700 closed

[2021-11-09 04:57] MostafaAlaviyan commented on #701
thanks a lot, can u  explain the way of defining a new dataset to the main repo clearly? where do I add the dataset? and how to add it?
@ZDisket

[2021-11-09 16:21] #661 closed

[2021-11-11 08:54] lianghongyi commented on #690
still have no clue....

[2021-11-12 01:48] TheHonestBob opened #702 "The result of training fs2 + mb_melgan on baker and LJspeech is not good."
I have tried to train fs2+mb_melgan on baker and LJspeech at the same time, baker speaker id is 0 and LJspeech speaker id is 1. my conf is follow: sampling_rate: 22050, fft_size: 2048, hop_size: 300, win_length: 1200, MFA create duration file，speaker 0 or speaker 1 is good at chinese or english, I want speaker 0 or speaker 1 to be good at english or chinese, can I train a good model by this way? I

[2021-11-12 19:06] ZDisket commented on #702
@TheHonestBob You're training a two-speaker, two language model, and you want both speakers to be good at the two languages despite only speaking one language per speaker? Not sure whether it'll work out.

[2021-11-13 18:59] #664 closed

[2021-11-13 18:59] #660 closed

[2021-11-13 18:59] #659 closed

[2021-11-14 04:05] #663 closed

[2021-11-16 05:45] TheHonestBob commented on #702
Thank you for your reply，I’m not sure whether conf has effect，I'll try

[2021-11-18 11:11] Aksh97 commented on #687
Hi, any solution for this?

[2021-11-19 08:21] Aksh97 commented on #619
How did you fixed it?

[2021-11-21 03:31] twister11211 opened #703 "TensorFlow Lite in C++ doesn't support the TensorFlow operation of Dropout"
In the CPP tflite example it says the inference function need delete Dropout before converting tflite model.
I have opened the colab after cloning the repository in tensorflow_tts/models/fastspeech2.py I changed training to false on both lines but the runtime crashes, I have also tried deleting the dropout from here like the example describes but it still needs tf.lite.OpsSet.SELECT_TF_OPS

f0_emb

[2021-11-22 00:34] #669 closed

[2021-11-22 02:12] TheHonestBob opened #704 "About process baker dataset"
I have two question：
1.when process baker dataset, in get_phoneme_from_char_and_pinyin function, 'sil' is added in result, but in preprocess.py gen_audio_features function, trim_silence parameter is True，is there a conflict?
2.when define train dataset, '#0,#1,#2,#3' is added in return, but in inference is not, so what's the effect of '#0,#1,#2,#3' 。
thanks a lot!

[2021-11-22 07:33] ymzlygw opened #705 "Support Voice-Clone for multi-speaker dataset?"
HI, Thanks for your work and , could you please tell me if you have any implementation for voice-clone using multi-speaker dataset? Or some advice about how to merge your work with the synthesizer in [Real-Time-Voice-Cloning](https://github.com/CorentinJ/Real-Time-Voice-Cloning). I aims to convert  a voice-clone model to tflite and test the performence.
Really thanks and waiting for your reply!

[2021-11-22 10:18] dathudeptrai commented on #703
@twister11211 the last time i tried this model on tensorflow lite was successfully (just need to remove dropout layer). Maybe there is a bug come from tflite itself rather than the code from this repo.

[2021-11-22 10:18] dathudeptrai commented on #704
@azraelkuan can you help ?

[2021-11-22 11:39] #667 closed

[2021-11-22 11:39] #668 closed

[2021-11-22 16:08] SinaArdehali opened #706 ""from tensorflow_tts.inference" -> AlreadyExistsError: Another metric with the same name already exists."
@samuel-lunii  I cannot run the french colab file "E2E-TensorflowTTS-Synpaflex.ipynb", since the imports "from tensorflow_tts.inference " create the error:

AlreadyExistsError: Another metric with the same name already exists.

After searching on the web, it seems like this is a version error, but i cannot manage to solve it.

[2021-11-23 01:32] azraelkuan commented on #704
@TheHonestBob
for 1, for my understand, "trim_silence = True" do not have conflict, if use mfa as align, u will get the sil label in the begin and end, so we can cut the silence from the audio begining and end according to the mfa result, this will be much more accurate.

for 2, because we have a prosody label in training dataset, so we can use #1-#4 to train, but in inference, usually we only hav

[2021-11-23 02:02] TheHonestBob commented on #704
thanks for your reply，for 1，I get duration by this way before, now ,I want to use tacotron2 to extract duration, as follow steps:
1. run preporcess.py, if I don't use mfa, preprocess.py will use librosa.effects.trim.
2. create tf.dataset by 1.
3. run extract_duration.py
in 1, sil is trimed, so tacotron2 predict 'sil' has no effect, should I set trim_silence = Flase when train tacotron2 or extract

[2021-11-23 03:04] azraelkuan commented on #704
we process the mel after the trim silence, so we just need to extract duration, so the mel and duration is aligned by tacotron2.
we do not need to run preprocess again.

[2021-11-23 03:33] TheHonestBob commented on #704
mean that when I use tacotron2 to extract duration, trim silence by  librosa.effects.trim, not like mfa use 'sil' to trim silence.

[2021-11-23 04:20] azraelkuan commented on #704
i think that u do not need to trim silence after extract duration.

[2021-11-23 04:22] TheHonestBob commented on #704
thank you every much.

[2021-11-23 07:46] #704 closed

[2021-11-24 01:35] ymzlygw commented on #705
Thanks, so it means need to change the structure of tacotron2 by adding a speaker embedding layer? Is there any doc about how to change it?

[2021-11-24 04:19] zb121 commented on #706
You can go to the setup.py file,change the line 25 `tensorflow-gpu==2.6.0`  to `tensorflow-gpu==2.6.2` ,and I only change this config and then the AlreadtExistsError disappear.

[2021-11-24 21:36] #662 closed

[2021-11-25 02:02] TheHonestBob opened #707 "about training mb_melgan with female and male voice dataset."
I’m here again, thanks for your help. Recently, I use baker and other male voice about 40 min to train fs2 and mb_melgan, I found that the loss of mb_melgan will change suddenly after 5000 steps, from less than 1 to  thousand，I also found that when I use baker and other five speaker dataset which include 3 male and 2 female voice about 30 min ~1 hour for each other， the same thing happened again a

[2021-11-25 04:18] Aksh97 opened #708 "How to change gender of Speech"
Amazing Project and great Results.
By default we get the voice of female, is there any parameter to select or change for Male voice?

[2021-11-25 06:43] ZDisket commented on #708
@Aksh97 You have to get a dataset of male voice and train one yourself with the same tools -- it's gender-agnostic.

[2021-11-25 06:46] Aksh97 commented on #708
Okay, Thanks.

[2021-11-25 08:23] TheHonestBob commented on #647
hi，I get the same problem，have you solved it?

[2021-11-26 09:31] TheHonestBob commented on #705
I think that ur just modify inference func by tf.add() or other way.

[2021-11-26 23:37] twister11211 commented on #703
@dathudeptrai  would you be able to confirm the steps for me so I can focus my energy in the correct place
1: open the colab in the C++ example
https://colab.research.google.com/drive/1Ma3MIcSdLsOxqOKcN1MlElncYMhrOg3J?usp=sharing#scrollTo=KCm6Oj7iLlu5
2: run the first cell
3: open the file /content/TensorFlowTTS/tensorflow_tts/models/fastspeech2.py
4: delete the dropout on lines 254 to 259
5: run

[2021-11-29 00:02] #671 closed

[2021-11-29 00:02] #674 closed

[2021-11-29 12:12] hertz-pj opened #710 "how to set the mbmelgan's parameters"
if i want to train by the wav with "sampling_rate=16k, hop_size=200，win_size=800"。
The mbmelgan's parameters i set upsampling_scale=[2,5,5].
Do i need to set downsample_scale=[2,5,5]？
Or keep [4,4,4] unchanged?

[2021-11-29 16:13] ZDisket commented on #710
@hertz-pj
I've trained mb-melgan on many different sampling rates and got good results without changing the downsample scales, so I believe you should keep it as-is. But if you do have the spare time and compute feel free to experiment; who knows, you might just discover something!

[2021-11-29 17:08] abaddon-moriarty opened #711 "failed to initialize batched cufft plan with customized allocator"
Hello everyone,
I am currently training a phoneme-based HiFi-GAN model and I recently ran into the following issue. It started when I tried using multiple GPUs, but now I can't even train on a single GPU.

It is written that it is reducing the batch size, but these are the settings in my hifigan.v1.yaml file

![image](https://user-images.githubusercontent.com/56978503/143911596-8df58083-94b3-44ad-

[2021-11-30 07:10] TheHonestBob opened #712 "when train mb melgan shuffle log didn't print."
![image](https://user-images.githubusercontent.com/58240629/144001445-c3b0ae8b-cf5e-4d33-9cea-06e8235993e5.png)
when i train mb melgan ,shuffle log didn't print , I am not sure whether the dataset shuffle or not. my datatset include baker and private data about 70 min.

[2021-12-01 15:10] ttsking opened #713 "training mb_melgan with baker gets noise at the end of sample"
when i train the mb_melgan with baker dataset (offical or my own dataset), i found if there has silence at the end of sample, then the result become noise.

for example:
![b'7094'-marked](https://user-images.githubusercontent.com/74232385/144259231-dfd780d2-3d20-4dec-8d3e-618edd757a3b.png)
and:
![b'7849'-marked](https://user-images.githubusercontent.com/74232385/144259232-feb6f53a-0e8b-4f7a-abf4-a

[2021-12-02 02:53] Moonmore commented on #680
you solved this problem?

[2021-12-02 02:57] #680 closed

[2021-12-02 02:58] #673 closed

[2021-12-02 13:00] basbrs opened #714 "Bad GPU performance training on dual 3090s [Windows]"
I'm trying to train a slightly modified version of Tacotron2.
When training on PC 1 (one GPU: RTX 3080, 10 GB VRAM) I'm able to compute about one iteration every 4 seconds according to the tqdm training bar. This utilizes all of my VRAM and only works when I reduce the batch size parameter in the config yaml to 1.
When training on PC 2 (dual RTX 3090, 24 GB VRAM each) however, I'm only able to com

[2021-12-03 18:32] #678 closed

[2021-12-03 18:32] #677 closed

[2021-12-03 18:32] #656 closed

[2021-12-05 09:21] ihshareef opened #715 "Runtime error in Android when running inference on Tflite"
I've trained FastSpeech 2 successfully, and it works as expected on Python. However, when I converted it to TFLITE and deployed it on Android, I'm getting the following run-time error.
[code]
I was able to run the whole pipeline successfully earlier this year. Since I used Google Colab for the training, I ended up using `tensorflow-gpu==2.4.1` for the training. I attempted doing the Tflite convers

[2021-12-05 16:28] dathudeptrai commented on #714
@basbrs We never test a code on Windows so we can't know how to fix those problems. About mixed-precision, the implementation of tacotron2 now  can't speed-up training progress (don't know why and this problem existed for a long time)

[2021-12-05 16:29] dathudeptrai commented on #715
@ihshareef I think a bug comes from TFLite, you should ask a TensorFlow repo for this problem. TFlite always make a new bug in a new version :)))

[2021-12-05 16:30] dathudeptrai commented on #711
@ZDisket do you know what is a problem here ?

[2021-12-05 16:32] dathudeptrai commented on #713
@ttsking It is not a problem in a real inference process since you know the length of the mel then you know exactly the length of audio generated then you can remove these noises at the end (the noise you hear corresponding to a padding mel in training)

[2021-12-05 16:33] dathudeptrai commented on #712
@TheHonestBob can you share your training config here ?

[2021-12-06 00:49] #681 closed

[2021-12-06 01:28] TheHonestBob commented on #712
here is my config:
# This is the hyperparameter configuration file for Multi-Band MelGAN.
# Please make sure this is adjusted for the AiShell dataset. If you want to
# apply to the other dataset, you might need to carefully change some parameters.
# This configuration performs 1000k iters.

###########################################################
#                FEATURE EXTRACTION SETTING

[2021-12-06 02:41] ZDisket commented on #712
@TheHonestBob Your dataset seems small, I don't think it will print "filling shuffle buffer" if it's below a certain size.

[2021-12-06 03:03] TheHonestBob commented on #712
when I use the same dataset to train fastspeech2, it print filling shuffle buffer, but not always，the training result is ok, should I ignore this problem？

[2021-12-06 06:39] X-CCS commented on #699
+ thank you！ @dathudeptr
+ I tried the `float16` method. Although it has been reduced a lot, I expect it to be smaller. Now I'm trying to do it in the `int8` way. I refer to [this scheme](https://www.tensorflow.org/lite/performance/post_training_integer_quant) to convert the`.h5` model into `int8` model, and the generation is always unsuccessful. Would you like to ask if you have a ready-made sche

[2021-12-06 17:36] ihshareef commented on #715
I managed to fix the problem.
I retrained FastSpeech2 on Tensorflow 2.3.1 and used the Colab notebook associated with this repo to convert it to Tflite. It worked perfectly on Android, unlike before. So, as far as I can tell--models trained on Tensorflow 2.3.1 can be used stably with Android.
I'm just leaving this comment here so that others may benefit.
The only reason I ended up working with Ten

[2021-12-06 17:36] #715 closed

[2021-12-08 07:25] Aksh97 opened #716 "How to use Cuda for inference"
Hi, which parameter needs to be passed to enable GPU for inference?

[2021-12-08 10:54] supreet21 opened #717 "NaN output while infering/decoding"
I trained a Tactoron2 model using custom data,
while the training is going fine as the losses are converging also the predictions from validation set while training also shows, the mel spectograms.
but when I use the same model in the decoding script the mels in .npy files have NaN value.
Can someone explain why this could be the case?

[2021-12-09 00:08] #703 closed

[2021-12-09 07:40] NiklasBrandstaeter opened #718 "Install Error (Could not build wheels for pyworld wich use PEP 517 and cannot be installed directly)"
I have tried to install TensorFlowTTS on Ubunutu 18.04 with Python 3.7. But I got the Error from the topic.
I have also tried to install TensorFlowTTS on Ubuntu 20.04 with Python 3.8. After installing and importing tensorflow, the process finished with exit code 132 (interrupted by signal 4: SIGILL).

[2021-12-10 03:36] TheHonestBob commented on #716
CUDA_VISIBLE_DEVICES=0 python xx.py

[2021-12-10 12:25] #679 closed

[2021-12-10 15:19] godspirit00 commented on #706
Or `pip install keras==2.6.0`

[2021-12-10 22:39] #685 closed

[2021-12-12 16:21] dathudeptrai commented on #717
Can you check the inference and decoding on validation data as well ?

[2021-12-12 16:22] dathudeptrai commented on #718
@ZDisket do you have any idea ?

[2021-12-13 20:37] jmif opened #719 "New word pronunciation vs Voice Cloning"
First of all thank you _so much_ for the work you put into this project, you're doing amazing work.

We've got a pre trained model deployed and working (fastspeech2 + mbmelgan) and we're beginning to work on ways to improve these models over time.  There are two things we'd like to achieve:

1. Custom voices / voice cloning
2. Improved pronunciation of specific words

We're trying to understand ho

[2021-12-16 05:29] MostafaAlaviyan opened #720 "shape error in trainning of fastspeech2 on new dataset"
hi
thanks to your valuable repo!
I want to train fastspeech2 on a Persian dataset and extract durations from MFA. after preprocessing, when I began the train the bellow error occurred:

[code]
how can I solve the error?

[2021-12-16 05:49] MostafaAlaviyan commented on #720
i check the preprocessed items and i found that:
x-special/nautilus-clipboard
copy
file:///home/mostafaalavian/Desktop/error1.png

[2021-12-20 02:22] Moonmore commented on #316
hello, I am using fastspeech2 and mb_melgan's scheme to train 8k data. I use 8k data with hop_size 100, and I set upsample_scales to [2, 5, 5]. by the way,my data is obtained by down-sampling data with high sampling rate. The problem  is that the voice synthesized by the gl algorithm is fine, but the voice through the mb_melgan model becomes very slow, and the configuration has not been improved a

[2021-12-20 02:45] OnceJune commented on #316
@Moonmore make sure product of upsample_scales and bind_nums equals to hop_size, in your case, 2*5*5*4(mbmelgan uses 4 bands, so here bind_nums is 4)=200, which is not your hop_size 100.
maybe try using upsample_scales [5, 5] to see if it will help.

[2021-12-22 11:34] xuezhongfei2008 opened #721 "MB melgan batch inference but inference speed has not improved"
start_time=time.time()
audio=mblemgan.inference(mels)
print("use_time:",time.time()-start_time)

test1:
mels.shape (1, 13040, 80)
use_time: 1.916731595993042

test2:
mels.shape (40, 326, 80)
use_time: 1.9499073028564453

[2021-12-22 13:01] nahuelproietto opened #722 "Spanish models"
Hello, I tried the _default english pre-trained model_ on cpptflite example and sounds fine, really nice work.
I want to know if any of you has trained some spanish dataset to tell me about the experience. Thanks!

[2021-12-22 13:15] dathudeptrai commented on #721
you need warm-up tensorflow model around 5 iterations before calculate its real inference time (tf model always slow at some first iterations)

[2021-12-22 13:17] dathudeptrai commented on #720
@MostafaAlaviyan you need to feed a Fastspeech model to every samples to detect  what samples caused this problem by the code bellow:

[code]

note that you should set batch_size is 1.

[2021-12-22 13:29] dathudeptrai commented on #722
@nahuelproietto we have not trained any Spanish model before

[2021-12-22 13:29] dathudeptrai commented on #722
@nahuelproietto we have not trained any Spanish model before

[2021-12-22 16:31] ZDisket commented on #722
@nahuelproietto I have trained a few Spanish models, the process is simple but I haven't made time to formally contribute it.

[2021-12-22 16:35] nahuelproietto commented on #722
sounds good. I'm going to try it.

[2021-12-23 01:24] xuezhongfei2008 commented on #721
mels = np.load(ff)
num=int(40)
mels=mels.repeat(num,axis=1) #feats.repeat(num)

mels = mels[None, ...]
print("mels.shape",mels.shape)
mels = mels.reshape([40,-1,80])
start_time=time.time()
print("mels.shape",mels.shape)
for i in range(50):
    audio=mblemgan.inference(mels)
    if i == 25:
        start_time1=time.time()
print("use_time:",time.time()-start_time)
print("use_time2:",time.time()-star

[2021-12-23 14:52] mapledxf opened #723 "Multi-band MelGAN training very slow."
Hi,

I am trying to train a MB-MelGAN by using 3080 Ti. But it turns out that the training speed  is really slow  compared to the training on a Titan RTX with same code and config.

3080 TI:
tensorflow-gpu: 2.7.0
cuda: 11.4
cudnn: 8.2.4
training speed:
[train]:   1%|          | 48772/4000000 [6:46:27<553:43:57,  **1.98**it/s]

Titan RTX:
tensorflow-gpu: 2.3.0
cuda: 10.1
cudnn: 7.6.5
training speed

[2021-12-23 15:01] dathudeptrai commented on #723
@mapledxf About multi-GPU, the real batch_size is the batch_size in config file multiplied with the number of GPU so a bit slower is understandable because they need time to communicate with each other (for example aggregating gradients ...). I used to train mb-melgan on 3090 and 3080 and it was fine, i don't know if there is a problem with 3080Ti, maybe you need check the time inference first.

[2021-12-23 15:20] mapledxf commented on #723
I have checked the IO traffic and it does not have any issue.
I also tried tacotron2 and the training speeds are similar on both machine.

[2021-12-25 13:36] mapledxf commented on #723
@dathudeptrai
what is generator_mixed_precision used for?
can I add this option for the second phase of Multi-band MelGAN?

i.e.
python examples/multiband_melgan/train_multiband_melgan.py \
  --train-dir $out_dir/train/ \
  --dev-dir $out_dir/valid/ \
  --outdir $out_dir/train.multiband_melgan.v1/ \
  --config ./examples/multiband_melgan/conf/multiband_melgan.vwm.v1.yaml \
  --use-norm 1 \
  --gen

[2021-12-25 13:45] #672 closed

[2021-12-27 04:31] dathudeptrai commented on #723
Yeah you can try but i think it make the training progress slower with unknow reason (maybe caused by discriminator)

[2021-12-27 09:21] MostafaAlaviyan opened #724 "local variable 'eval_steps_per_epoch' referenced before assignment"
hi
I want to train fastspeech2 on a new dataset, I extract duration by MFA. when I start the training, after 499 epochs when the model wants to  do the evaluation step the bellow error was accrued:

[code]
how can I fix the error?

[2021-12-27 09:23] MostafaAlaviyan commented on #724
@dathudeptrai

[2021-12-27 09:23] MostafaAlaviyan commented on #724
@ZDisket

[2021-12-28 05:37] ZhaoZeqing opened #725 "Multi-GPU when training Fastspeech2"
Hi guys,

I use python3.7.9, tensorflow 2.3.1, cuda-10.1, 1080 Ti, It's ok when training on one GPU. But when training Fastspeech2 on multi-gpu, it got this error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: 3 root error(s) found.
  (0) Invalid argument:  Incompatible shapes: [16,2,99,99] vs. [16,1,1,81]
         [[node replica_1/tf_fast_speech2_end/encoder/layer_._0/attention/s

[2021-12-29 02:44] dathudeptrai commented on #724
@MostafaAlaviyan you need debug by yourself why this bug happened (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L897)

[2021-12-29 11:49] riebeb opened #726 "Issues with example notebooks and Huggingface models"
So i guess there are some updates needed, first i tried to use:

1.
https://huggingface.co/tensorspeech/tts-tacotron2-thorsten-ger?text=M%C3%B6chtest+du+das+meiner+Frau+erkl%C3%A4ren%3F+Nein%3F+Ich+auch+nicht.

where the sample and also the provided code is not working.

After pip install TensorFlowTTS and pip install git+https://github.com/repodiac/german_transliterate

(AlreadyExistsError: Anoth

[2021-12-30 15:38] ttsking commented on #723
Maybe it does not cause by 3080 TI and 3080 TI. I use nVidia docker to train MB-MelGAN. I found when i use nVidia docker 21.09 based on CUDA 11.4, the training become much slower than nVidia docker 21.06 based on CUDA 11.3.

Maybe there have some differences between CUDA 11.4 and 11.3

[2021-12-31 12:43] #653 closed

[2022-01-01 00:34] mapledxf commented on #723
yeah, nvidia docker solved this problem, thx!

[2022-01-01 00:34] #723 closed

[2022-01-01 19:01] ttsking commented on #713
Ok, Thanks for your comments.

[2022-01-01 19:01] #713 closed

[2022-01-02 13:09] #688 closed

[2022-01-02 16:28] Hierosme opened #727 "Debian 11 Installation"
Hello,

pip install Instructions not work at all due to llvm installation and unfortunally after one hour of researh i simply not understand how install TensorFlowTTS.

LLVM version... 11.0.1
....
RuntimeError: Building llvmlite requires LLVM 7.0+ Be sure to set LLVM_CONFIG to the right executable path.
Read the documentation at http://llvmlite.pydata.org/ for more information about building llvml

[2022-01-03 09:49] abaddon-moriarty commented on #711
I have re-initialised everything and started from zero again, I no longer have this issue.

[2022-01-03 09:49] #711 closed

[2022-01-03 10:00] abaddon-moriarty opened #728 "inference issue HiFi-GAN -gibberish output"
Hi,

I have been trying to hear my french model, but I still cannot get a good output when running inference with Tacotron 2 and HiFi-GAN, I get gibberish instead.

  When I run inference, the following line arises, I think it is refering to what is causing the problem, but I don't know what to do with it. full log at the end

_________________________________________________________________
**202

[2022-01-03 10:28] ZDisket commented on #728
@abaddon-moriarty Looks like a CUDA/CuDNN issue. Versions? Run `nvidia-smi` and show the output. that ptxas error in general may be problematic

[2022-01-03 13:10] abaddon-moriarty commented on #728
Hi @ZDisket, thank you for the reply.

This is the output I get with `nvidia-smi` command:

I will follow the tutorial for the ptxas error too thank you !

[2022-01-04 08:46] godspirit00 opened #729 "About merging small dataset with large datasets"
I read the post [here](https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-741850534) about fine-tuning on small dataset, it has been very helpful.
I have some questions: does the large dataset have to include many speakers? How much data should there be for each speaker? almost the same amount for each speaker?
Specifically, I intend to fine-tune on a dataset of ~30 min, British

[2022-01-04 09:33] MostafaAlaviyan commented on #724
ok, thanks, I can fixed the error.

[2022-01-04 09:33] #724 closed

[2022-01-04 09:33] #720 closed

[2022-01-04 09:34] #701 closed

[2022-01-04 10:25] grausof opened #730 "Italian models"
Hello, I'm trying to train the model also for Italian language and I would like to use the [MLS dataset](http://www.openslr.org/94/) which always derives from LibriVox. My question is whether I have to use a single speaker in the dataset, or can I use more than one. Also I ask you if you have already tried this dataset! Thanks

[2022-01-04 19:35] abaddon-moriarty commented on #728
I have tried following the tutorial you linked, I get stuck at this command `cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2 ` the file exists but does not have MAJOR and MINOR details.
but I did run these commands,  cuda and cudnn seem to be installed correctly

[code]
[code]
[code]

[2022-01-04 20:05] ZDisket commented on #728
@abaddon-moriarty The issue might be caused by MultiGPU.
Whatever script you use to run inference you might want to run by prepending `CUDA_VISIBLE_DEVICES=0` before the command

[2022-01-04 20:24] ZDisket commented on #730
@grausof You probably want to try single speaker first. You can try multiple speakers but you'll have to modify the dataloader and Tacotron2 multispeaker seems broken, as it failed to learn attention at all during all my experiments, which I think is the fault of adding speaker embeddings to both encoder and decoder, keith ito's implementation only has them on the encoder.

[2022-01-05 01:36] #693 closed

[2022-01-05 01:36] #691 closed

[2022-01-05 01:36] #694 closed

[2022-01-05 08:07] TheHonestBob commented on #721
ur code is wrong, mels.shape (1, 13040, 80) == mels.shape (40, 326, 80), batch inference is mels.shape (10, 13040, 80)

[2022-01-05 08:09] abdullah-saal opened #731 "Tacotron2 MultiGPU training is slower than Single GPU"
The GPUs are **NVIDIA GeForce GTX 1080 Ti**
Tried with 4 GPUs, got around 5s-6s/it

Tried 1 GPU, got around 4s/it, which is still slow, tried the recommended options like static_shapes and max_mel_length from the discussions, didn't get any speed up.

Any Idea what might be wrong?

[2022-01-05 08:20] TheHonestBob commented on #729
In my experience（fs2+mb-melgan for mandarin）， you just need a large dataset as speaker1,other speaker just need 30min，if you need high performance, you should train male or female only.

[2022-01-05 11:43] godspirit00 commented on #729
@TheHonestBob Thanks for the reply!
That means all the speakers in the dataset should be of the same gender?

[2022-01-05 15:38] abaddon-moriarty commented on #728
@ZDisket I ran synthesis by adding this in the command. The same error arises, when using only one GPU.

[code]

[2022-01-06 02:07] TheHonestBob commented on #729
yes，if you have the same size of male and female dataset, you can try train male and female at the same time, In my experience, I use baker dataset and 30min male dataset, I can get good result, although male is not good, if you get good result, please share result.

[2022-01-06 07:23] #729 closed

[2022-01-06 07:38] godspirit00 opened #732 ""Invalid argument: required broadcastable shapes" when trying to train FS2"
I was trying to train Fastspeech 2 on the [Nancy Corpus](https://www.cstr.ed.ac.uk/projects/blizzard/2011/lessac_blizzard2011/). I extracted the durations with MFA, and did preprocessing as described in the README. But when I start training, I met the following error:
[code]

This is exactly the same issue as #672 . That issue was labeled as "Bug" and it looks like it was not solved?

So what can

[2022-01-06 07:39] abaddon-moriarty commented on #731
We had the same issue.

1 GPU training was at 2.5s/it for tacotron2 and 3it/s for HiFi-GAN
multi-gpu was at 5s/it and 3s/it respectively.

We finished training on a single GPU.

you might want to read this issue: https://github.com/TensorSpeech/TensorFlowTTS/issues/723#issuecomment-1000360082
dathudeptrai gives at least an explanation of why multi-GPU training can be slower :)

Hope this helps

[2022-01-06 08:05] abaddon-moriarty commented on #728
Quick update,
We managed to correct the ptxas issue.
There is still the main issue of gibberish output from the Error in PredictCost() ..

[2022-01-07 08:17] dathudeptrai commented on #732
This bug comes from data, not a model itself. I think you need to check what samples cause this problem by the code below:

[code]

Note that you need to set batch_size = 1 so you can easily check what is a real problem with those samples :D

[2022-01-07 12:44] riebeb commented on #726
I have found a solution for the
""AlreadyExistsError: Another metric with the same name already exists.""

pip install keras==2.6.*

https://stackoverflow.com/questions/58012741/error-importing-tensorflow-alreadyexistserror-another-metric-with-the-same-nam

[2022-01-07 13:14] riebeb opened #733 "Unrecognized config of ger model"
Even thou the configs of this french model and the german are nearly the same
and both define the 'model_type' the german one leads to an error:

*working*:
https://huggingface.co/tensorspeech/tts-tacotron2-synpaflex-fr/blob/main/config.yml
tacotron2 = TFAutoModel.from_pretrained("tensorspeech/tts-tacotron2-synpaflex-fr")

*not working*:
https://huggingface.co/tensorspeech/tts-tacotron2-thorsten-g

[2022-01-10 09:22] abaddon-moriarty commented on #731
Did you manage to find a solution to your problem ?

[2022-01-10 09:32] abdullah-saal commented on #731
Nope, training with a single GPU :(

[2022-01-10 13:56] Tian14267 commented on #732
@godspirit00
Hellow, Did you solve this problem ?
I get same error ,but I don't know how to solve it.

[2022-01-10 16:06] godspirit00 commented on #732
@Tian14267 not yet. I'm still waiting for @dathudeptrai 's reply.

[2022-01-11 13:56] Kamilbentounes opened #734 "Reproducing colab inference script on local doesn't work"
Hello,

Im trying to run the french TTS model on my computer:

* Linux: Ubuntu 18.04
* Python 3.7 (tested also with 3.8)
* nvidia Geforce RTX 2070

Here is all error log:

[code]

Can you please help me ?

[2022-01-11 16:32] psalajka commented on #727
Hello,

I'd like to report the same issue with Ubuntu 21.10 . It looks like the main problem is that there are no pre-compiled `llvmlite` binaries for Python 3.9 (current default) and `llvmlite==0.31` needs LLVM==8 for compilation, which is not available (9 and 13 are).

I Installed **Python 3.8** (by [this recipe](https://askubuntu.com/questions/1261775/why-i-cant-install-python-3-8)) and everyth

[2022-01-13 06:19] AliNGatGeeks opened #735 "Import error"
Hi

when trying to run on colab
from tensorflow_tts.inference import TFAutoModel
I get the following error
AlreadyExistsError: Another metric with the same name already exists.
can anyone help me with this issue?

[2022-01-13 17:28] AliNGatGeeks commented on #735
I made the following changes:
changed tensorflow 2.6 to 2.5 in the setup.py
and after that another series of installations

It worked for me! but I wonder if that was it?!

[2022-01-14 11:54] yorkshiremaster commented on #690
I had the same issue with python 3.9.
Finally, I downgrade python to 3.7.4 to fix it.

[2022-01-14 15:35] #698 closed

[2022-01-16 01:15] #696 closed

[2022-01-18 03:08] Jzow opened #736 "Error using official demo test"
1. Here is my code

[code]

2. This is the text I will enter. This is an IELTS article:
[code]

3. The error log is as follows:
[code]

[2022-01-18 03:08] Jzow commented on #736
environment：

windows 11
python3.8

[2022-01-18 11:03] Jzow commented on #736
When I changed to `tts-tacotron2-ljspeech-en`, The reasoning result is only half, and then it is not very complete. How should I configure it and how to do it? Here is my code

[code]

[2022-01-19 14:14] AliNGatGeeks opened #737 "ParallelWaveGan converted into TF model outputs noise"
Hi

I wanted to test the pytorch to tensorflow conversion code.
I run the conversion code and save the tf and torch model.
then I use the E2E example. I load the TF model and then do inference with it!

However, The output sound is nose.

I this how I should do it?

[2022-01-21 08:51] zheng-xing commented on #664
Hi @dathudeptrai, I have a question, if I understand correctly, the fs2 paper suggest it does not require a teacher model to extract durations as fs1 do, right?

[2022-01-22 12:49] #702 closed

[2022-01-27 07:56] wxyhv commented on #161
Have you solved this problem?

[2022-01-27 07:57] wxyhv commented on #732
Have you solved this problem?

[2022-01-28 06:11] #736 closed

[2022-01-30 06:04] bemnet4u commented on #125
I am experiencing this issue when training non english data set. I have about 1 hour audio with text to test this model and after 18k steps, i see the mel_loss gets to nan and won't recover. I tried seting attention loss as suggested by multiplying it to 0 like below.

I realize that the data set I have might be too small but all I was hopping to aquire more data set if I got a small light of succ

[2022-01-31 05:00] #707 closed

[2022-02-02 05:38] #708 closed

[2022-02-02 08:46] NeonBohdan commented on #384
The same thing
While thaining tacotron2 after ~10K epochs killed with PAM usage constanly increasing
Nothing changed even after
[code]

[2022-02-03 18:04] egerong opened #739 "c++"

[2022-02-03 18:05] #739 closed

[2022-02-05 06:45] #710 closed

[2022-02-05 16:39] ttsking opened #740 "I found that the model trained from ljspeech has no rising intonation"
The model trained by tacotron has no rising intonation for general question sentences like: "May I transfer you to their line?"

[2022-02-05 20:03] #705 closed

[2022-02-06 05:20] ttsking commented on #740
And i also tested the commercial TTS like Azure TTS. Both "May I transfer you to their line?" and "May I transfer you to their line." have rising intonation at the end of sentences. I wonder that the question intonation is not determined by question mark for the TTS Model?

[2022-02-08 05:07] rashimihup opened #741 "Disrupted mel with Tacotron2 model using studio recorded wav files."
@dathudeptrai I have been trying to use Tacotron2 + fs2 model architecture to create audio from LJSpeech data format. The wav file used for the same is recorded in studio and has a very nice quality to it , but the mels generated are completely disrupted [image attached below].
![Screenshot from 2022-02-08 08-09-10](https://user-images.githubusercontent.com/93311580/152921873-5269be07-a988-4ba5-bb

[2022-02-08 11:36] MostafaAlaviyan opened #743 "fastspeech2 multiple GPU training error"
hi
thanks for the valuable implementation.
I trained fastspeech2 on LJSpeech like datasets. I extract duration from MFA and train the model with a single GPU. the model train very well.
when I want to train the model with two or multiple GPUs, the training process begins, but the below error happens:
[code]
have any idea?

[2022-02-08 11:36] MostafaAlaviyan commented on #743
@ZDisket

[2022-02-08 11:37] MostafaAlaviyan commented on #743
[code]

[2022-02-08 13:02] ttsking commented on #740
I tested Azure TTS more. "And then we can talk?" has question intonation and "And then we can talk." not. So Azure TTS works fine for question intonation. What's the main point to train a Model with question intonation?

[2022-02-10 17:41] rtb523 opened #744 "does not work at all without manually installing packages and changing scripts on windows"
im running windows 10 and its in a venv and i had to manually install many of the packages because one of them kept failing to build but it worked fine when manually installed but a bunch kept trying to reinstall it then i had to change things in the example to get them to work and now its saying that create_target_machine() got an unexpected keyword argument 'jitdebug' so something is obviously b

[2022-02-11 05:33] #714 closed

[2022-02-12 08:42] Brokenwind opened #745 "zipfile.BadZipFile: File is not a zip file"
$tensorflow-tts-preprocess --rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
Traceback (most recent call last):
  File "/disk1/hault.wk/.local/miniconda3/envs/tf2/bin/tensorflow-tts-preprocess", line 5, in <module>
    from tensorflow_tts.bin.preprocess import preprocess
  File "/disk1/hault.wk/.local/miniconda3/envs/tf2/lib/python3.7/sit

[2022-02-12 13:09] #745 closed

[2022-02-12 14:22] ttsking commented on #740
I sovled this problem by switch model to fastspeech. But for the same training data, the tacotron cannot learn the question intonation.

[2022-02-12 14:22] #740 closed

[2022-02-12 23:13] #712 closed

[2022-02-12 23:13] #699 closed

[2022-02-12 23:46] jmif commented on #719
Bump, would love to hear thoughts on this, thanks 🙏

[2022-02-14 00:50] ZDisket commented on #731
In terms of `secs per it`, training is slower because of the overhead from communicating from multiple GPUs, but the trick to maximize it is to increase the batch size per GPU which doesn't affect speed that much but greatly decreases time to epoch. In one training run I had with 4xV100s with 64 per GPU (that is, 256 total batch size), each iteration goes through 8x the dataset than a single V100/

[2022-02-14 07:25] #728 closed

[2022-02-16 05:57] p0p4k commented on #619
@PandaForce1 Can you help me to fix the same OOM issue, please? Thanks

[2022-02-17 06:11] #716 closed

[2022-02-17 06:11] #706 closed

[2022-02-17 09:17] zheng-xing commented on #546
Hi @Livjxbill993, did you figure out why? I have met the same problem @ 5000 step when evaluation starts. At first I suppose the val set data has some problem so I use the train set data to evaluation step but the same problem appears. It's weird the same data works for training step but fails at evaluation step.

[2022-02-18 06:34] jeevan-revaneppa-hirethanad opened #746 "Fastspeech Data preparation--- How to extract duration (duration_query (str): Query to find duration files in root_dir.)"
I'm unable to understand how to get **'duration_query (str): Query to find duration files in root_dir',** while **preparing data** for training a **fast speech** model. It would be helpful if someone could suggest me how to proceed.

[2022-02-18 08:01] #717 closed

[2022-02-18 08:01] #718 closed

[2022-02-23 12:28] NeonBohdan commented on #453
Agree. Waiting for implementation, as I can't use TensorflowTTS as dependency in my PyPi package
As german_transliterate need to be installed, but it isn't published on PyPi

[2022-02-23 12:35] zheng-xing commented on #349
Hi @dathudeptrai , I used ljspeech dataset and tried varying the f0_ratios and energy_rations with numbers 1.3 and 0.7 but the results seem the same as those using number 1.0. Do you know what possible reasons for these? BTW, I also change the speed_ratios with 1.3 and 0.7 and this has a clear effect on the results.

Thanks!

[2022-02-23 17:14] ttsking commented on #746
you should first train a model of Tacotron2. then use the script of  [extract_duration.py] (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/extract_duration.py) to generate duration files

[2022-03-03 21:58] #722 closed

[2022-03-05 15:41] #725 closed

[2022-03-06 15:07] JHuang251998 opened #747 "tensorflow-tts-preprocess: command not found"
Hello all, I have the ljspeech dataset and I want to run it through the preprocessing step, but whenever I run the tensorflow-tts-preprocess command it shows that the command is not found. Can someone help me?

Thank you in advance!

[2022-03-08 09:32] lawo123 opened #749 "Why use dropout when inference?"
`self.f0_dropout(f0_embedding, training=True)`
Why use dropout when inference?
Will the model get better or worse if it is removed?

[2022-03-09 07:19] abaddon-moriarty opened #750 "Does the number of chars in char set (processor) impacts the speed of learning."
Hi,

I was wondering how the size of the character set in the processor impacts the learning of the model. Would for example have a processor being able to handle most western European languages - so with all normal alphabet chars as well as special chars in each language - train slower ?

This would include all the accented character, in French, German, Czech, Slovak, as well as From countries fr

[2022-03-13 09:48] MostafaAlaviyan commented on #325
@ronggong  where do you add the punctuations?  do you change the MFA alignments or change the MFA to remain the punctuations? can you explain clearly what you do to solve this problem?

[2022-03-13 19:22] #721 closed

[2022-03-13 19:22] #730 closed

[2022-03-16 06:32] Tian14267 opened #751 "Error when train Multispeaker in Libritts"
**I get this error when train data `Libritts ` ( Multispeaker  )**
[code]

Does somebody know how to solve it ?

[2022-03-16 06:56] Tian14267 commented on #672
Did you ever solve this problem ? @Zhang-Nian @shachar-ug

[2022-03-16 08:04] #726 closed

[2022-03-16 08:04] #733 closed

[2022-03-17 03:44] GaryGao99 commented on #681
It will be converge when set  "data_init=False" in class "WeightNormalization", and faster converge if replace "tf.keras.initializers.GlorotNormal(seed=initializer_seed)"
 with
"tf.random_normal_initializer(mean=0.0, stddev=0.02, seed=initializer_seed)"
in function "get_initializer" .

[2022-03-18 06:58] lawo123 opened #752 "Extract Duration baker datasets"
Extract duration from alignments for FastSpeech2 use https://huggingface.co/tensorspeech/tts-tacotron2-baker-ch/blob/main/model.h5
The training results are not very good.
![LfnalR4Ary](https://user-images.githubusercontent.com/44777088/158952320-5be3e6a4-4a9a-44c0-960d-fec0c9932a89.png)
![zwbLIq5KWw](https://user-images.githubusercontent.com/44777088/158952332-64a37a50-4413-4a00-a2ee-a0a7672c9e02.

[2022-03-18 07:27] lawo123 commented on #623
Can I extract the duration using this pretrained model below?Model training results are not very good.
![image](https://user-images.githubusercontent.com/44777088/158956011-a2bfc6e1-078f-46ce-ad2a-deaf70f90493.png)

@[dathudeptrai](https://github.com/dathudeptrai)

[2022-03-19 22:20] #734 closed

[2022-03-20 16:28] BojanSof commented on #728
@abaddon-moriarty have you resolved the problem of gibberish output when doing inference?

[2022-03-20 16:58] #727 closed

[2022-03-21 01:25] #751 closed, assigned to nobody

[2022-03-21 12:46] GuangChen2016 opened #753 "Bad cases or artifacts for Tacotron2 + Melgan vocoder, Any suggestions?"
I have trained a Melgan vocoder using my own data, but when its used for end-to-end TTS, some of the synthesized results (about 3% utterances）has some artifacts (noise). In details, the mel-spectrum in corresponding ares discontinuous, shown as follows:
![LEEGHJGKZO(@0@F51_LO$XL](https://user-images.githubusercontent.com/23181283/159263605-8a380b78-ba29-4524-bb26-8e8ccbbda895.png)
Any suggestions

[2022-03-21 15:14] dathudeptrai commented on #753
@GuangChen2016 can you share your model training config and your data information?

[2022-03-22 02:34] GuangChen2016 commented on #753
I use default config with upsample_scales of [8 8 2 2], stacks number 4 and set weight norm to be false for both generator and discriminator.
And I use multi-resoluation stft loss for generator.
Data: samplerate 24Khz, hopsize 256.

[2022-03-22 02:53] #735 closed

[2022-03-22 03:27] GuangChen2016 commented on #565
@ZDisket
Hi, I also tested MPD for fullband melgan but found some distinct trills and jitters in the synthesized audios, did it appear in your experiments? In details, the mel-spectrum in corresponding ares discontinuous, shown as follows:
![LEEGHJGKZO(@0@F51_LO$XL](https://user-images.githubusercontent.com/23181283/159401940-825c8dd0-2bd5-4471-97de-9649f605fc14.png)
Do you have any ideas to solve

[2022-03-24 13:14] Hsn37 opened #754 "Loss becomes nan at 19k steps"
I am training tacotron2 from scratch on IPA symbols. the input is entirely based on IPA and the output is Urdu wav files.  I used your instructions and preprocessed my dataset according the ljspeech one, using the same format.

Setup:
Cuda: 11.2
cudnn: 8.1
GPU: RTX 3070
Driver: 510.54

The training started off smooth initially, and the loss is decreased steadily. The predictions and alignments als

[2022-03-24 23:49] #690 closed

[2022-03-27 17:40] #737 closed

[2022-04-04 06:59] cnamuangtoun opened #755 "Training multiband melgan on predicted mel"
Hi, I'm just curious if training the multiband melgan with predicted mel spectogram from fastspeech2 would imrpove the quality of the waveform output from the vocoder instead of using the ground truth mel spectogram straight from the dataset

[2022-04-06 17:41] #732 closed

[2022-04-07 05:51] hoangtrong2305 opened #756 "Tacotron2 model generates long Mel-spectrogram for a short input text"
I am a newbie to Text-to-speech (TTS) problems. I train the Tacotron2 model on the KSS dataset (Korean language dataset) from scratch. After training, this model can produce good speech audios. Performances on the validation set are:

- Stop token loss: 0.0000
- Mel spectrogram loss (before Postnet): 0.1331
- Mel spectrogram loss (after Postnet): 0.1089
- Guided attention loss: 0.0008

There is on

[2022-04-16 06:39] #741 closed

[2022-04-18 13:21] ttsking opened #757 "Does tacotron2.inference support multi-threading or thread-safe?"
I use gunicorn (gevent mode) + flask to setup a TTS webservice, if two requests come, the following code may raise exception. Should i add threading.Semaphore to look tacotron2.inference as a shared resource?
My environment is TensorFlow 2.6.2 with a single GPU card

`                    decoder_output, mel_outputs, stop_token_prediction, alignment_history = tacotron2.inference(

[2022-04-19 03:39] #744 closed

[2022-04-19 03:39] #743 closed

[2022-04-19 10:25] watersoft123 opened #758 "如何添加停顿？"
我在CSDN上看到一篇文章，通过链接找到这里。文章提到为了使音频人性化，可以添加#3停顿。请问这个是手动添加，还是有一个类似字典的文件自动添加？是否有示例可供参考？谢谢！

[2022-04-20 17:50] ttsking commented on #757
@dathudeptrai can you help to explain whether inference in Tensorflow is thread-safe?

[2022-04-21 18:13] 19991004 commented on #615
大佬，我是小白，我想问一下你安装这个TTS的时候是直接在cmd客户端python环境下用pip命令吗，我用了好多此都是无效命令

[2022-04-23 11:46] #731 closed

[2022-04-23 11:46] #719 closed

[2022-04-27 03:00] MichalKrass commented on #758
哪篇CSDN文章发一下？

[2022-04-27 15:25] watersoft123 commented on #758
我也忘了地址了，不过那篇文章写的就是你的这个TTS，我按着文章里的链接才找到Github。你也可以看看https://zhuanlan.zhihu.com/p/319978933

[2022-04-28 06:55] MichalKrass commented on #758
This module is missing, you need to add it yourself

[2022-04-28 17:45] abylouw commented on #467
Anybody working on VQTTS?

[2022-04-29 03:29] xianglan010 commented on #755
I try to use the mel spec generated from pertained tacotorn2 to train the MB-melgan, but the loss not convergence, have you tried it and how about ur result

[2022-05-02 08:03] #746 closed

[2022-05-04 12:38] neso613 opened #759 "Fastspeech2 training error : Not found any mels files in $./dump_ljspeech/train/."
Hi all,
I have just started learning TTS model building. I am trying to train fastspeech2 model using ljspeech dataset.
For that, I have donwloaded ljspeech dataset and run folllowing commands  -
`tensorflow-tts-preprocess --rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
`
![image](https://user-images.githubusercontent.com/31642462/16668

[2022-05-04 13:47] neso613 commented on #747
@JHuang251998  tensorflow-tts-preprocess maps with tensorflow_tts/bin/preprocess.py

You can use commands -
`python3 tensorflow_tts/bin/preprocess.py--rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
`

[2022-05-05 11:20] neso613 commented on #759
looking forward to hearing from the team and community.

[2022-05-10 06:45] neso613 commented on #759
@dathudeptrai can you pls share your thoughts on this.

[2022-05-11 10:37] neso613 commented on #759
@machineko @erogol pls help me in this regard.

[2022-05-13 07:00] yangboz commented on #682
File "/home/xibaoda/anaconda3/envs/py37metaavatar/lib/python3.7/site-packages/tensorflow/python/eager/monitoring.py", line 361, in __init__
    len(labels), name, description, *labels)
  File "/home/xibaoda/anaconda3/envs/py37metaavatar/lib/python3.7/site-packages/tensorflow/python/eager/monitoring.py", line 135, in __init__
    self._metric = self._metric_methods[self._label_length].create(*args)

[2022-05-13 07:32] yangboz opened #760 "tensorflowtts 1.8 depends on tensorflow-gpu==2.6.0"
ERROR: Cannot install tensorflowtts==0.11, tensorflowtts==0.7, tensorflowtts==0.8, tensorflowtts==0.9, tensorflowtts==1.1, tensorflowtts==1.6, tensorflowtts==1.6.1 and tensorflowtts==1.8 because these package versions have conflicting dependencies.

Collecting TensorFlowTTS
  Using cached https://mirrors.aliyun.com/pypi/packages/24/4b/68860f419d848d2e4fb57c03194563aed2f4317227f93b91839482aa0723/Te

[2022-05-13 09:40] ADNDiouf opened #761 "Getting requirements to build wheel did not run successfully"
Hi everybody,
I'm trying to install TensorFlowTTS usiing pip and git clone however I'm encountering a problem and I don't know how to solve it !
Can you help me please ?
<img width="761" alt="problem_tensorflowtts" src="https://user-images.githubusercontent.com/72380431/168256652-3bc8a395-c28b-4cca-b2ae-bbc05e6fffab.PNG">

[2022-05-14 06:06] Sahanaka commented on #682
What is your TensorFlow version? I used TensorFlow 2.6.0, it resolved the issues I faced

[2022-05-14 12:27] watersoft123 opened #762 "能否增加isSpeaking？"
在安卓原生的TTS中，有一个isSpeaking的布尔值，可以判断TTS的播放状态是否已经完成，能否在安卓的模块中增加这一功能？
另外tensorflow-lite的so库文件实在太大了，能不能提供经过裁剪的库，我在官网上看看到可以裁剪，但因为不懂C++，所以不太会弄，(https://tensorflow.google.cn/lite/guide/reduce_binary_size)

[2022-05-16 02:21] MyTrueSelf opened #763 "Inference error in colab on GPU run-time"
hello,

I just want to find why there is something wrong.

In the colab environment, your example worked well when the runtime environment was set to 'None'.

but when the runtime environment set to 'GPU', i encounter the problem.

I tried changing cuda version and installing cuDnn through conda, but it didn't work well

(at the same time, AutoConfig function form tensorflow_tts.inference worked w

[2022-05-16 03:23] yangboz commented on #682
maybe 2.8.0， and I tried reinstall again  and it works now

[2022-05-16 06:32] sphiNur commented on #724
@MostafaAlaviyan

---
I have same problem
[code]
can you tell me how to fix it?

[2022-05-17 06:41] Sahanaka commented on #682
You mean it worked for tf version 2.8.0?

[2022-05-17 07:51] MostafaAlaviyan commented on #724
@Qarnur . please see  the ''' https://github.com/TensorSpeech/TensorFlowTTS/issues/480#issuecomment-768942886 '''

[2022-05-17 13:33] XsNizx commented on #761
try to run  `apt-get install cmake`

[2022-05-18 00:37] yangboz commented on #682
yes tensorflow==2.8.0

[2022-05-18 04:37] Sahanaka commented on #682
That is good to know I think the version issues are now resolved then :)

[2022-05-18 08:39] yangboz commented on #682
to be verified.

[2022-05-21 07:59] MostafaAlaviyan opened #764 "compute_per_example_losses()"
hi
thank you for the valuable repo.
I trained fastspeech2 on multi-speaker datasets. When I add a new speaker, the Mel-spectra is very inaccurate. Now, I want to compute the loss to determine which sample(s) cases this issue.
I see an attribute named "compute_per_example_losses" in "train_fastspeech2.py ".
How can I use this function, could you please explain?
What is the batch parameter?
do you h

[2022-06-01 20:37] iprovalo opened #765 "Performance Benchmark"
Is there any data on performance benchmark for various GPU memory / batch size configurations?  I am using 15gb single GPU.   Unless I use 16 for batch size, it throws OOM.  With 16 batch size it takes 36 hours to run 16k steps on en_US data for `examples/tacotron2/train_tacotron2.py`.

It took 21 hours to run 200k steps for `examples/multiband_melgan/train_multiband_melgan.py`

Are these expected

[2022-06-04 02:43] #749 closed

[2022-06-04 02:43] #750 closed

[2022-06-04 02:43] #752 closed, assigned to nobody

[2022-06-04 02:43] #753 closed, assigned to dathudeptrai

[2022-06-04 02:43] #754 closed, assigned to nobody

[2022-06-15 13:37] arefekh opened #766 "training fastspeech2 on persian dataset"
Hi!
We trained fastspeech2 network with Persian dataset. The point that caught our attention after the training of the network was that if we add english g2p outputs to the persian valid symbols, the quality of the output audio will increase.
This is while we checked the dump/train/ids files and found that none of the english g2p outputs id are in these files.
Do you have an opinion in this regard

[2022-06-16 06:13] icyda17 opened #767 "Fastspeech2 F0 energy overfit"
Hi, I'm training Fastspeech2 with ~20 hours dataset and get tensorboard result as following:
![image](https://user-images.githubusercontent.com/73210249/173992243-fc0368a4-1139-422d-af34-4d6cb48ebad0.png)
As you can see, f0 and energy is overfitting. What can lead to this problem?

[2022-06-19 08:02] #756 closed, assigned to nobody

[2022-06-27 03:55] nqcccccc commented on #298
Hi @lolotica123, I know this issue was closed long time ago but did you solve it?
I just trained tacotron2 on my own Vietnamese dataset and ran into the same problem as you.
Thank you very much.

[2022-06-27 06:12] zhanggang11863976 opened #768 "InvalidArgumentError: Paddings must be non-negative: 0 -13480"
tensorflow-addons            0.17.1
tensorflow-estimator         2.7.0
tensorflow-gpu               2.7.0
tensorflow-io-gcs-filesystem 0.24.0
------------

python3 examples/melgan/train_melgan.py \
  2   --train-dir ./dump_baker/train/ \
  3   --dev-dir ./dump_baker/valid/ \
  4   --outdir ./examples/melgan/exp/train.melgan.v2/ \
  5   --config ./examples/melgan/conf/melgan.v1.yaml \
  6   --use-n

[2022-06-27 08:51] zhanggang11863976 commented on #768
change the conf file melgan.v1.yaml "batch_max_steps_valid" from 81920 to 8192 can fix this problem

[2022-06-29 02:31] mmseerrttt commented on #759
@neso613 I also encountered the same problem, but with tacotron2. have you solved it.

[2022-06-29 03:11] mmseerrttt commented on #759
you can try
[code]

[2022-06-30 03:44] l525889198 commented on #647
I have the same problem 。
Baker Dataset to train the Multi-band MelGAN model.
 It's fine at the beginning and the lost value suddenly goes huge， at 130K，then，
eval_subband_spectral_convergence_loss = nan.
eval_subband_log_magnitude_loss = nan.
eval_fullband_spectral_convergence_loss = nan.
eval_fullband_log_magnitude_loss = nan.

[2022-06-30 04:26] TheHonestBob commented on #647
baker data has no problem,if i use my data will have this problem, when you create dataset , you can set batch_max_steps=1s in  def collater func

[2022-06-30 04:31] l525889198 commented on #647
3Q，I will try it

[2022-07-01 07:47] lawo123 opened #769 "Why is the inference speed of fastspeech2_tflite much slower than tensorflow?"
As shown in the figure below, the inference speed of tflite is much slower than that of tensorflow.Why?
![image](https://user-images.githubusercontent.com/44777088/176849310-636b34b0-50fe-4529-842b-bdb2995f64c6.png)

[2022-07-01 12:45] #757 closed, assigned to nobody

[2022-07-06 22:59] #758 closed, assigned to nobody

[2022-07-07 15:37] binbinxue opened #770 "where are some of the procedures described in the fastspeech2 paper"
I read the paper and i was going through the code here. In the paper they've used montreal forced alignment to extract the phoneme durations, i did not see this being aligned in the code and extracted for training. Also some techniques like CWT for extracting pitch? the preprocessing code here simply used pyworld to extract the pitch.

[2022-07-08 10:28] #770 closed, assigned to nobody

[2022-07-10 01:08] #755 closed, assigned to nobody

[2022-07-12 13:37] binbinxue commented on #743
i checked the preprocessing scripts, the author used g2p_en package to convert text to phonemes, MFA however produces the phonemes differently even for the same language. have you checked the consistency of the phoneme outputs? The illegal memory access could be due to discrepancy in phonemes

[2022-07-12 14:55] binbinxue commented on #107
i have to ask, i checked the phoneme conversions of MFA vs the g2p_en phoneme conversions, they do not match. I can see that the base processor in your repo used g2p_en. The MFA produces different phoneme to the same word also g2p_en preserves punctuation but MFA doesn't. can you comment on this?

[2022-07-19 06:23] lawo123 opened #771 "Longer Chinese sentences use fastspeech2 to synthesize exceptions"
Longer Chinese sentences use fastspeech2 to synthesize exceptions.
TEXT:在一个拥有 2500 万人口的不发达且以孤立着称的国家，绝大多数人被认为没有接种疫苗，它有可能成为一场规模巨大的人道主义灾难，威胁到几乎任何政府的权力控制 在世界上。
WAVE：[2.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/9138051/2.zip)

@dathudeptrai

[2022-07-22 09:46] qxde01 commented on #771
1、例子中的baker没有做标点断句等处理，需要自己修改baker.py
2、baker数据句子都不长，对于长句的位置向量效果不佳，需做额外的后处理

[2022-07-23 10:49] lawo123 commented on #771
感谢您的回复。那长句的位置向量效果不好怎么做后处理解决这个问题呢？

[2022-07-24 13:53] qxde01 commented on #771
@lawo123 要把#1#2#3韵律以及标点加进去训练，简单的后处理先切分句子合成再语音拼接

[2022-07-26 20:54] egorsmkv opened #772 "Ukrainian TTS"
Hello.

If I will publish a high-quality dataset (around 8 hours of speech) for Ukrainian, then you can make a processor for it?

[2022-07-27 07:58] hlp-ai commented on #772
Processor is highly related to speech corpus. So, in order to preserve generality, the project would implement the processors for those common datasets. A simple way is to make your dataset compatible with those common datasets, and you can directly make use of the existing processors.

[2022-07-27 10:47] egorsmkv commented on #772
I have seen code for processors and in my opinion it's easy to write own one.

Your advice about common format is right, fully support it.

[2022-07-30 14:44] #747 closed

[2022-08-08 06:51] BridgetteSong opened #773 "Wrong HiFiGAN's MPD?"
1. for `HiFiGAN's` stable training, `feature_loss` of `MPD` should be computed, so in the each `PD`, it should return `all convolution's outputs`, not only `the last one`. But in each `PD`, it only returns `the last output`, and `middle outputs` are not saved.
https://github.com/TensorSpeech/TensorFlowTTS/blob/136877136355c82d7ba474ceb7a8f133bd84767e/tensorflow_tts/models/hifigan.py#L309-L329
2. m

[2022-08-10 01:46] #760 closed, assigned to nobody

[2022-08-10 01:46] #762 closed, assigned to nobody

[2022-08-10 01:46] #763 closed, assigned to nobody

[2022-08-10 01:46] #761 closed, assigned to nobody

[2022-08-10 01:46] #764 closed, assigned to nobody

[2022-08-20 06:22] RiuHDuo commented on #677
I met same error when i convert h5 to tflite

[code]

c.py

[code]

[2022-08-22 07:36] qalabeabbas49 opened #774 "Streaming TTS output in Real Time using Sockets (RTP/UDP)"
Hi,
I am trying to build a voice chatbot, which converts the received text into speech. I want the TTS conversion to be done on the server and transmit the output to the client side in a streaming fashion instead of saving it as wav file.

The given end-to-end example uses soundfiles library to save the output to a wav file.

My question is if it's possible to stream the output instead of saving i

[2022-09-01 11:50] Tian14267 opened #775 "Bad result with fastspeech2"
the result is  **bad** in tensorflowTTS (fastspeech2) with data `aishell3`， can you  updata the code ?
我用aishell3数据训练出来的模型，合成效果感觉挺差的哎。请问能更新一下aishell3的合成吗？

[2022-09-01 11:52] Tian14267 commented on #771
请问你有用aishell3做训练和合成吗？我出来的结果很差哎。请问你们效果如何

[2022-09-04 16:32] #766 closed, assigned to nobody

[2022-09-04 16:32] #765 closed, assigned to nobody

[2022-09-04 16:32] #767 closed, assigned to nobody

[2022-09-07 15:20] v-nhandt21 commented on #701
Hi @ZDisket , do you know any publish Spanish dataset for training TTS?

[2022-09-10 10:50] edwin-19 commented on #480
I encountered this issue before just wanted to say something even though this issue is closed, but you should check your batch size for the validation dataloader.

This happens because your total amount of data is less than your batch size.

Hope this helps to clarify

[2022-09-16 00:17] #759 closed, assigned to nobody

[2022-09-16 00:17] #768 closed, assigned to nobody

[2022-09-16 00:17] #769 closed, assigned to nobody

[2022-09-22 10:33] CharlieBickerton commented on #296
@OscarVanL thanks for this great thread!

You mentioned the aim of your project was to deploy onto low-end hardware, did you end up doing this? If so, what method did you use and how many mb was the model in the end?

[2022-09-27 09:17] tiendatAI opened #776 "Android examples crashing"
Recently, I've tried to use a demo in the example folder. And had a problem crashing for an unknown reason (in device emulator in Android Studio)

[2022-10-04 09:11] #776 closed

[2022-10-05 17:04] egorsmkv commented on #772
The dataset is here - https://github.com/egorsmkv/ukrainian-tts-datasets/tree/main/lada

[2022-10-05 17:04] #772 closed, assigned to nobody

[2022-10-15 21:13] #773 closed, assigned to nobody

[2022-11-03 11:38] avraamya commented on #142
i have same issue, i want to use large text with fastspeech, where exactly i need to make change in order to make in work? i try to change some paremater in configs files, but it not working for me. which file and which paremeter exactly i need to change?

mels, audios = do_synthesis(input_text, fastspeech, mb_melgan, "FASTSPEECH", "MB-MELGAN")

but i got error:

InvalidArgumentError:  indices[0,2

[2022-11-03 11:43] avraamya opened #777 "not working with large text."
i want to use large text with fastspeech, but as i understand in need to change the configs. i not able to find the exact place to make change in order to make in work. i try to change some parameter in configs files, but it not working for me. which file and which parameter exactly i need to change?

mels, audios = do_synthesis(input_text, fastspeech, mb_melgan, "FASTSPEECH", "MB-MELGAN")

but i

[2022-11-06 22:25] LxtteDev opened #778 "Fastspeech 2 Training error"
When training a fastspeech model with:
`python "examples\fastspeech2\train_fastspeech2.py"`
and valid arguments, the script run but then I get an error:
`AssertionError: Number of charactor, mel, duration, f0 and energy files are different`

Ive looked at other issues but none of them have solved my problem. The dataset is on a different hardrive, but it doesnt give any **"File not found"** errors

[2022-11-07 05:43] LxtteDev commented on #778
I kind of figured out how ***fix_mismatch.py*** works but i have no clue where **"dataset/durations"** is or what its a placeholder for.

[2022-11-07 07:31] HawkL327 commented on #778
you should generate duration files by your self. Training tactron2 and using it to extract durations

[2022-11-08 00:16] LxtteDev commented on #778
I'm trying to train the model now but ***train_tacotron2.py*** keeps saying that *--config* is not found even though I am supplying a value.

[2022-11-08 04:52] LxtteDev commented on #589
What was the fix? I have this exact issue.

[2022-11-08 09:30] twister11211 commented on #589
Remove the / sepirating the arguments and put them on the same line

[2022-11-08 14:55] LxtteDev commented on #589
I am doing that

[2022-11-08 15:07] LxtteDev commented on #589
I already was separating the arguments, and it looks like you were too. If you still have the command somewhere, can you post it? I would like to try and figure out what you did.

[2022-11-09 00:57] twister11211 commented on #589
python examples/tacotron2/train_tacotron2.py --train-dir ./dump/train/ --dev-dir ./dump/valid/ --outdir ./examples/tacotron2/exp/train.tacotron2.v1/ --config ./examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0 --resume ""

[2022-11-09 01:03] LxtteDev commented on #589
Thank you! Posting the command gave me the required brain cells to find out its because of the quotation marks.

[2022-11-09 05:32] LxtteDev commented on #778
I solved training error, your not supposed to have quotation marks in the arguments.

[2022-11-10 00:57] LxtteDev commented on #778
I've run into another error. After about 2 steps, the training fails with no clear error. The full error log is
[here](https://github.com/TensorSpeech/TensorFlowTTS/files/9976260/error.txt) but I think this is the important part:
[code]

[2022-11-12 01:32] #771 closed, assigned to nobody

[2022-11-12 01:32] #775 closed, assigned to nobody

[2022-11-18 09:09] dzcmingdi commented on #636
Do you solve it?
I'm confused with this problem now.

[2022-11-29 09:26] qxde01 commented on #467
I have tried [fastspeech2  voice cloning](https://github.com/qxde01/CTTS/tree/main/fastspeech2-vc/fastspeech2_vc) base on aishell3 and other data, total 200 speakers,But it didn't work well。Maybe  I couldn't train a good speaker embedding model，then I use a [wenet-wespeaker](https://github.com/wenet-e2e/wespeaker) pretrained Model(chinese) to  extract the speaker embedding vector,But it also works

[2022-11-29 22:39] StuartIanNaylor commented on #467
Just been looking at wenet but haven't really made an appraisal but so far seems 'very kaldi' :)

[2022-11-30 16:18] ghost commented on #778
as far as I could see the durations files are being generated but to the wrong folder. A quick fix for that would be to copy them over to the train/validation (or to place them there to begin with). I fixed it with the following:
`
#fix incorrect folder for durations

import shutil,os

for fol in ['train','valid']:
    os.makedirs(os.path.join("./dump_libritts",fol,"durations"),exist_ok=True)