[2020-07-19 03:29] MODAK27 commented on #121
yes sir, Thanx for your quick reply
https://colab.research.google.com/drive/1A4MBtu6jcHnnhY9oM-ERbEirc2RJKbjC?usp=sharing

[2020-07-19 04:21] dathudeptrai commented on #46
I think the FastSpeech2 implementation now stable, let move forward to MFA + phoneme implementation :D

[2020-07-19 04:21] #46 closed

[2020-07-19 04:37] ZDisket commented on #107
@dathudeptrai What do you think, 140k or 35k better? Also, I think there's not much to add at this moment.

[2020-07-19 05:28] manmay-nakhashi commented on #121
@MODAK27 you have to make your own language processor like LJSpeechProcessor  containing all the symbols and dont use english_cleaner make your own cleaner or use non_english cleaner you have to change your embedding size according to your max sentence length or you can dump some sentences to reduce your max_embedding_size because it increases training time and  vocab size= len(symbols) accordingl

[2020-07-19 18:07] dathudeptrai commented on #86
@ZDisket https://colab.research.google.com/drive/1YLFnb4Wwj-Hr7Rrau9SLERZISQnBjRIV?usp=sharing solved. Pls read the note at TFConvTranspose1d function to understand deeply.

[2020-07-19 18:07] #86 closed

[2020-07-19 18:26] dathudeptrai commented on #86
@abylouw give me the email then i will send you the notebook

[2020-07-19 18:31] abylouw commented on #86
@dathudeptrai Thank you very much, aby.meraka@gmail.com

[2020-07-19 18:33] dathudeptrai commented on #86
@abylouw i want to public the colab here but i found there is a man, who also do TTS, just copy and pass some core module here but didn't copyright and add reference, i don't want he continue to copy :)).

[2020-07-19 18:38] ZDisket commented on #86
@dathudeptrai I got the link in my email and I'm requesting access cause I wanna look at it too since the link is set to private, you already know my email

[2020-07-19 23:07] #118 closed

[2020-07-19 23:46] abylouw commented on #86
@dathudeptrai Thank you very much, it is working. I need to study it a bit more to understand it.

[2020-07-20 03:17] rgzn-aiyun commented on #119
@dathudeptrai

Recovery training failed?
: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?

[2020-07-20 03:51] dathudeptrai commented on #119
@rgzn-aiyun can you share ur command line to recovery training ?

[2020-07-20 04:49] rgzn-aiyun commented on #119
!python train_fastspeech2.py \
  --train-dir ./dump/train/ \
  --dev-dir ./dump/valid/ \
  --outdir ./model/ \
  --config ./examples/fastspeech2/conf/fastspeech2.v2.yaml \
  --use-norm 1 \
  --f0-stat ./dump/stats_f0.npy \
  --energy-stat ./dump/stats_energy.npy \
  --mixed_precision 1 \
  --resume ./model/checkpoints/model-15000.h5

[2020-07-20 04:50] dathudeptrai commented on #119
@rgzn-aiyun
[code]

[2020-07-20 04:56] rgzn-aiyun commented on #119
ok, I will try.

[2020-07-20 05:36] manmay-nakhashi commented on #53
@sujeendran use TFLITE_BUILTINS_INT8  as opset while tflite conversion

[2020-07-20 06:25] manmay-nakhashi commented on #107
@dathudeptrai i tried this streaming approach but it is affecting a naturalness of audio output , do you have any method where i can keep audio naturalness and also do a streaming?

[2020-07-20 07:40] sjainlucky commented on #121
@manmay-nakhashi  I have been trying to train Tacotron 2 on Non-english Dataset and I have changed cleaners to transliteration cleaner and changed valid symbol but while training  I incurred following error:-

 0% 0/200000 [00:00<?, ?it/s]2020-07-19 17:44:41.192324: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:184] Filling up shuffle buffer (this may take a while): 1377 of 2108
2020-07-19

[2020-07-20 07:51] manmay-nakhashi commented on #121
@MODAK27 what all files did you change ?

[2020-07-20 07:55] sjainlucky commented on #121
@manmay-nakhashi  I have just changed valid_symbols variable and _letters variable and I was trying to train it on Tacotron 2

[2020-07-20 07:57] manmay-nakhashi commented on #121
@sjainlucky you have to change examples/tacotron2/tacotron_dataset.py file for symbol import

[2020-07-20 08:00] sjainlucky commented on #121
@manmay-nakhashi  Thank you sir for your quick reply.

[2020-07-20 09:35] sjainlucky commented on #121
@manmay-nakhashi  Exactly what changes we have to implement in that I am not getting it.

[2020-07-20 11:15] manmay-nakhashi commented on #121
@sjainlucky can you upload your code somewhere so i can look into it ?

[2020-07-20 11:19] sjainlucky commented on #121
@manmay-nakhashi  This is the colab link for the implementation of the code
https://colab.research.google.com/drive/1_xSW32ivIk3itfWFsr0Yar4vCbNIv0cn?usp=sharing

[2020-07-20 13:06] MegaPanchamZ opened #124 "Using model without Tensorflow or TensorflowTTS?"
Is it possible to output the trained model, into a form where it can be loaded without TensorFlow on the system? For example, using the model on a system without AVX instructions (Like an Intel Pentium or android system).

[2020-07-20 13:20] manmay-nakhashi commented on #121
@sjainlucky change use_fixed_shapes: false in config file and increase max_iteration=4000 may be according to dataset or remove longer sentence from your data set

[2020-07-20 15:41] machineko commented on #124
https://www.tensorflow.org/xla/tfcompile

[2020-07-20 21:18] MegaPanchamZ commented on #124
I understand that there are ways to compile the graph, but have no idea where to start. I am using a slightly modified version of the jupyter notebook.

Thanks for the help!

[2020-07-21 03:01] mapledxf commented on #89
@miyoungvkim I have created a PR. So you can check it out or just wait for merged.

[2020-07-21 03:28] rgzn-aiyun commented on #119
@dathudeptrai
An error is reported when saving the model for a period of time after resuming training?

/checkpoints/checkpoint.tmp0030f793c7724ccaa4e3bed038d04f81; Permission denied

[2020-07-21 04:21] dathudeptrai commented on #124
@MegaPanchamZ I don't know :D, i think atleast we need tensorflow dependency ?

[2020-07-21 04:22] dathudeptrai commented on #107
@manmay-nakhashi that is the thing you should take a time to solve :)). I masked this question as **out-of-scope** :v

[2020-07-21 04:54] manmay-nakhashi commented on #107
@dathudeptrai i have spend some time and achieved streaming and still able to keep a quality with punctuation split , but i was thinking if there is better way :P , i can push that script to repo for better inference example

[2020-07-21 06:47] MegaPanchamZ commented on #124
Tensorflow models can be used on android (with a dependency) and that should be fine. My real problem is how? I don't understand much of what is going on. Really, I'm looking for some guidance.

[2020-07-21 06:50] dathudeptrai commented on #124
@MegaPanchamZ see this PR https://github.com/TensorSpeech/TensorflowTTS/pull/123

[2020-07-21 06:54] MegaPanchamZ commented on #124
Thank you so much. Just realised I am an actual spoon. The inference without TensorFlow begins with needing the .pb which you guys have graciously created notebooks for.

[2020-07-21 06:54] #124 closed

[2020-07-21 09:55] machineko commented on #107
@manmay-nakhashi  You can always train additional network to normalize split parts / or just normalize mels via python scripts.

[2020-07-21 09:58] manmay-nakhashi commented on #107
@machineko i don't think it's a normalization problem if i do a windowing , speech output is not natural means it speaks as if it is reading two or three words one after another there is no natural flow.

[2020-07-21 10:02] machineko commented on #107
@manmay-nakhashi Send examples i'll check it later, I've done streaming for flowtron and it works fine (I've added a bit of silence to end of the first mel and then join both, normalize and push thru waveglow you can try this idea here)

[2020-07-21 10:03] manmay-nakhashi commented on #107
@machineko i'll create a new issue and send examples over there

[2020-07-21 10:12] MODAK27 commented on #121
@dathudeptrai  sir can FS2 or tac02 ( ur model implementation ) be used for multi speaker corpus?

[2020-07-21 10:16] dathudeptrai commented on #121
@MODAK27 yes, you just need return proper speaker_id in the dataloader

[2020-07-21 10:24] sujeendran commented on #53
@manmay-nakhashi Thanks for the tip. I will try that. I'm not at the liberty for sharing the complete C++ code, but I can share a bit of minimal mbmelgan inference code sample once the interpreter is loaded. The same pattern can be used for fastspeech, but you just need to set the other input tensor buffers too and inputtensor will be int32_t type.
Hope this helps!
[code]

[2020-07-21 10:31] dathudeptrai commented on #107
@Dicksonchin93 how about ur training progress ?

@manmay-nakhashi each language has it own symbols :)), i think i can't help in this case :v

[2020-07-21 10:36] sjainlucky commented on #107
@ZDisket  Can you provide some link or resources through which you extract durations from the wav file.

[2020-07-21 10:59] machineko commented on #107
@sjainlucky check his fork everything is there

[2020-07-21 13:08] Dicksonchin93 commented on #107
![image](https://user-images.githubusercontent.com/28866718/88058646-c197ab80-cb31-11ea-8e2e-904ddc9e6b5f.png)
blue is without mixed precision, orange is with

[2020-07-21 13:18] dathudeptrai commented on #107
@Dicksonchin93 the result quite good i think, can you share what did you do ? what is the difference between ur implementation and @ZDisket implementation, we use the same MFA, is it right ?

[2020-07-21 13:25] Dicksonchin93 commented on #107
yeah same MFA, I added this
[code]
to get more matches to the dictionary for MFA. Additionally, I used rounding with a dynamic threshold if the sum of the durations doesn't match the Mel lengths otherwise it's 0.5. Also added in SPN as its own identifier as it is not silent but represents unknown words.

[2020-07-21 13:30] dathudeptrai commented on #107
@Dicksonchin93 what do you mean **dynamic threshold** ?, can you share a snippet code for this procedure ?

[2020-07-21 13:36] Dicksonchin93 commented on #107
sure, I explained it in my first comment here. If you don't mind to scroll above :D
[code]

[2020-07-21 13:56] dathudeptrai commented on #107
@Dicksonchin93 thanks, somehow i missed it :v. BTW, how about the quality of ur MFA + Fastspeech2  above, is it good ?

[2020-07-21 13:57] dathudeptrai commented on #107
@ZDisket what is ur thought ?

[2020-07-21 13:57] janson91 commented on #121
my  sum(durations) == len(mel) but I get this error:
Invalid argument:  ConcatOp : Dimensions of inputs should match: shape[0] = [0,450,384] vs. shape[1] = [1,790,384]
[[{{node tf_fast_speech2/length_regulator/while/body/_1/concat}}]]
[[tf_fast_speech2/mul_2/_212]]
@dathudeptrai can you give me some advice that what's wrong with my code

Thx

[2020-07-21 14:02] dathudeptrai commented on #121
@janson91 can you check again 2 things bellow:

1. all ur file have sum(durations) == len(mel)
2. all element of durations is positive ?

[2020-07-21 14:49] janson91 commented on #121
ur right. one element of a duration is negative，and the code worked when I delete the wrong file.

thx

[2020-07-21 14:53] dathudeptrai commented on #121
@janson91 glad to see i can help you, if you see this project is helpful, give our repo a star and share our work with ur friends =))).

[2020-07-21 14:54] tekinek opened #125 "Tacotron2: Everything become nan at 53k steps"
Hi,  I am not that experienced in TTS, so I've faced many problem before get the code running with my non-English dataset which has about 10k sentences (~26h long) . However, still some issues and questions.

1. When training process reaches at 53.5k steps, the model seems lost "everything".  The values of train, eval losses and model predictions became nan (but training continues without reportin

[2020-07-21 15:03] dathudeptrai commented on #125
hi @tekinek, i never get nan when training with Tacotron-2 but i can give you some suggests :)):

1. Can you disble guided attention loss when resume training at 50k steps. You can do this by simply multiple loss_att to 0.0.
2. Around 60k->80k is ok for duration extract.
3. when extract duration based on tacotron-2, we use teacher forcing, that mean the prev mel is groundtruth so that ok.
4. Let m

[2020-07-21 15:26] tekinek commented on #125
@dathudeptrai  thanks for your quick reply. I will try  loss_att * 0.0 if my current run gets nan again. Now it is at 51k.

By the way, here are some predicted alignments at 50k steps. Do they look fine? stopnet seems have long way to go, right? :)

![7_alignment](https://user-images.githubusercontent.com/68597606/88073569-e9762600-cba8-11ea-8c52-3ca69ce78308.png)
![14_alignment](https://user-imag

[2020-07-21 15:31] dathudeptrai commented on #125
@tekinek hmm, it's not as good as ljspeech and other datasets i tried before, the alignment is not strong but i hope it's still enough to get duration for fastspeech2 training with windown masking trick. Let try.

[2020-07-21 16:05] tekinek commented on #125
It seems I haven't done that explicitly. I've wrote a cleaner and processor based on cleaner.py and ljspeech.py, here is  ljspeech.py:

[code]

You mean, I should append `id` of `_eos` to `text_ids` in somewhere before `get_one_sample` returns?

No, because in the transscript used in dataset, lower and upper cases of same letter represent different character (that is because more than 26 letters i

[2020-07-21 17:18] adfost opened #126 "Error while training MelGAN"
I am currently trying to train MelGAN on a new dataset (in the same format as LJSpeech). I am getting the following error:

Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/gen_nn_ops.py", line 926, in conv2d
    "dilations", dilations)
tensorflow.python.eager.core._FallbackException: Expecting int64_t value for attr strides, got n

[2020-07-21 17:46] machineko commented on #119
@rgzn-aiyun chmod -R 777 checkpoints/
Also Preprocessing calculation is bugged I'll make pr with fix for time calculation and a lot more stuff in next few days.

[2020-07-21 19:13] Dicksonchin93 commented on #107
here is the 200k [audio](https://drive.google.com/file/d/1TnSmZDDl3mxTKIgJ35x5HkY4KQ7tjLI2/view?usp=sharing)

[2020-07-21 19:23] ZDisket commented on #107
@Dicksonchin93 I like it, do this so that we may see its performance on longer prompts:

[2020-07-21 20:22] Dicksonchin93 commented on #107
it's pretty unstable too [here](https://drive.google.com/file/d/1kH9FKk03uCSdf-H8ZPY5rmINazmlCQbA/view?usp=sharing)  There is no easy way to skip it if you'd like you can manually remove those unknown word periods in the audio and modify the textgrid accordingly. But adding to the vocabulary will be a much easier work lol

[2020-07-21 20:32] ZDisket commented on #107
@Dicksonchin93 I was thinking of skipping it like this in the postmfa.py script:
[code]
Also, while your code is innovative, I don't see much improvement especially in what I'm looking for (long prompt stability) to justify the added complexity.

[2020-07-21 20:35] Dicksonchin93 commented on #107
yeah you could but you should also remove it from the actual audio

[2020-07-21 22:20] MegaPanchamZ opened #127 "Problems with using Tensorflow==2.3.0rc0"
This issue was opened to advise that I find TensorFlow 2.3.0rc0 as not friendly with google collab and the TensorFlow addons module.

[2020-07-21 22:22] #127 closed

[2020-07-21 22:33] machineko commented on #107
OK guys one think if u really want to get better audio quality on longer sentences just retrain model on longer sentences its working pretty well :)

LJspeech stats:
Mean Clip Duration | 6.57 sec
Min Clip Duration | 1.11 sec
Max Clip Duration | 10.10 sec

It'll be hard to get a lot better results on longer sentences without tuning model on some longer sentences and maybe add some postnet for joini

[2020-07-21 23:03] Dicksonchin93 commented on #107
Or just concat samples in LJSpeech and train

[2020-07-21 23:38] dathudeptrai commented on #107
I do not know but the charactor model can infer stable long sentences, you can hear at the demo page https://tensorspeech.github.io/TensorflowTTS/ or play with our colab

[2020-07-22 01:31] ZDisket commented on #107
@machineko What he said, the model should be able to infer long sentences like the character one. Also @dathudeptrai, you have a better understanding of FastSpeech2 than me, can we ignore tokens without cutting them from the audio?

[2020-07-22 01:49] Dicksonchin93 commented on #107
I finetuned using my private data where the max length of all the audio is just 7 secs and didn't have the long sentence instability [here](https://drive.google.com/file/d/1k7JEDnpBBug2ZXd3f4GpfmJRpL7N8C1a/view?usp=sharing)

[2020-07-22 02:04] ZDisket commented on #107
@Dicksonchin93 I noticed that too with one of my datasets. Also what vocoder and model you using for that sample? There's a pretty good VCTK mb-melgan universal vocoder.

[2020-07-22 02:08] Dicksonchin93 commented on #107
I just finetuned both fastspeech and mbmelgan, where can I get that VCTK trained model?

[2020-07-22 02:09] dathudeptrai commented on #107
@ZDisket

we should check how many unknow word in the dataset first, i think add SPN is much easier to do and it's ok. You can skip but i think the self-attention model is not good to solve this case, CNN or LSTM can be easily adapt.

Did you try the pretrained VCTK and do inference? is that ok.

[2020-07-22 02:10] dathudeptrai commented on #107
@Dicksonchin93 i have a one version VCTK MB-melgan convert from pytorch to tensorflow. You can use it as universal vocoder or just load and do fintune :v.

[2020-07-22 02:12] Dicksonchin93 commented on #107
sounds perfect, do you mind sharing it to me? I still wonder why nobody combines VCTK, Librispeech, and LJSpeech together and train a model though

[2020-07-22 02:13] ZDisket commented on #107
@dathudeptrai
Yes, I saved the weights from that notebook you gave me into my Google Drive. The only flaw is that the audio is a little bit high on the low frequencies but this is nothing for some bass and treble manipulation. @Dicksonchin93 You can grab the link and see it in action with my notebook: https://colab.research.google.com/drive/1wXdeTQQdMdhkpvto7hDVgEfCanreNoE9?usp=sharing

[2020-07-22 02:24] dathudeptrai commented on #107
@Dicksonchin93 you can combine :)), i can't since i don't have enough disk space to train VCTK :v

[2020-07-22 02:57] ZhaoZeqing opened #128 "Error in TFLite of Fastspeech2 model"
I used the code [here](https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing#scrollTo=mKvX8awTaRRs) , saved the .h5 model to tflite model then inference, but this error occurred:

Traceback (most recent call last):
  File "inference.py", line 56, in <module>
    decoder_output_tflite, mel_output_tflite = infer(input_text)
  File "inference.py", line 40, in infer

[2020-07-22 03:00] dathudeptrai commented on #128
@ZhaoZeqing did you run exactly our colab notebook ?, i tested it yesterday and it ran fine.

[2020-07-22 03:03] dathudeptrai commented on #126
@adfost seems you not yet update our newest code. because the newest code, the train_melgan.py just have 503 lines while in ur bug, the line cause bug > 503 :)).

[2020-07-22 03:16] adfost commented on #126
I fixed it. Thanks

[2020-07-22 03:19] dathudeptrai commented on #126
@adfost glad to see ur problem was fixed :D. If you see the repo helpful, let star it and share our work with ur friends :)).

[2020-07-22 03:19] #126 closed

[2020-07-22 03:22] yanglu1994 opened #129 "preprocess"
hello, I am confused about where is the preprocess code?[tensorflow-tts-preprocess, tensorflow-tts-compute-statistics, tensorflow-tts-normalize]

tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
tensorflow-tts-compute-statistics --rootdir ./dump/train/ --outdir ./dump --config preprocess/ljspeech_preprocess.yaml
tensorflow-tts-normalize --

[2020-07-22 03:32] ZhaoZeqing commented on #128
**This is my code:**

`# -*- coding: utf-8 -*-

import numpy as np
import tensorflow as tf
import os

os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

from tensorflow_tts.processor import DB4Processor

# Load model
def load_model(tflite_model_path):
    ####### Fastspeech2 #######
    # Load the TFLite model and allocate tensors.
    interpreter = tf.lite.I

[2020-07-22 03:36] ZhaoZeqing commented on #128
This is my code:

`import numpy as np
import tensorflow as tf
import os

os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

from tensorflow_tts.processor import DB4Processor

def load_model(tflite_model_path):
    interpreter = tf.lite.Interpreter(model_path=tflite_model_path)

    input_details = interpreter.get_input_details()
    output_details = interpret

[2020-07-22 03:43] dathudeptrai commented on #129
all of them :v

[2020-07-22 03:50] dathudeptrai commented on #128
@ZhaoZeqing can you provide colab notebook so i can easily debug :))).

[2020-07-22 03:59] miyoungvkim commented on #89
@mapledxf Thank you very much :)

[2020-07-22 04:12] tekinek commented on #129
@yanglu1994  I did have same confusion I guess. They are here:
TensorflowTTS/tensorflow_tts/bin/
 -- preprocess.py
 -- compute_statistics.py
 -- normalize.py

so you can run prepossessing this way too:
python tensorflow_tts/bin/preprocess.py --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
...

[2020-07-22 04:21] tekinek commented on #125
@dathudeptrai   restarting from 50k seems solved the "nan" problem

<img width="990" alt="tensorboard2" src="https://user-images.githubusercontent.com/68597606/88133918-d3eb1580-cc15-11ea-93ff-a541ac541991.png">

[2020-07-22 06:06] yanglu1994 commented on #129
OK, I see it ,think you!

[2020-07-22 06:28] ZhaoZeqing commented on #128
Sorry, I'm not familiar with notebook. Can it be converted to a .pb model ?

[2020-07-22 06:46] dathudeptrai commented on #128
@ZhaoZeqing what is ur version of TF, you should install tf-nightly

[2020-07-22 07:26] janson91 commented on #121
haha.
and i get a problem again.
Invalid argument:  Incompatible shapes: [16,37,384] vs. [16,36,384]
[[node tf_fast_speech2/add (defined at ...tensorflow_tts/models/fastspeech2.py:160) ]]
[[tf_fast_speech2/mul_2/_212]]

and I check my durations. some element is zero. is that the cause of the error?

[2020-07-22 07:34] ZhaoZeqing commented on #128
This is my TF and tf-nightly version:

tensorflow-gpu 2.2.0
tf-estimator-nightly 2.4.0.dev2020071901
tf-nightly  2.3.0.dev20200523

[2020-07-22 07:47] dathudeptrai commented on #121
@janson91 pull the newest code and test again :D. zero is fine.

[2020-07-22 07:50] unparalleled-ysj opened #131 "MultiGPU ERROR"
Hello, I tried your latest MultiGPU solution, and encountered the following problem when running

(tts) [root@localhost TensorflowTTS]# CUDA_VISIBLE_DEVICES=0,1,2,3 python examples/tacotron2/train_tacotron2.py --train-dir ljspeech/train/ --dev-dir ljspeech/valid/ --outdir examples/tacotron2/exp/ljspeech/ --config examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0 --resume "

[2020-07-22 07:53] dathudeptrai commented on #131
@unparalleled-ysj what is ur version of TF, can u install tf2.3.0rc2 ?

[2020-07-22 07:56] unparalleled-ysj commented on #131
Already version 2.3.0-rc2

(tts) [root@localhost TensorflowTTS]# python
Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

2020-07-22 03:54:43.795747: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1

'2.3.0-rc2'

[2020-07-22 08:01] unparalleled-ysj commented on #131
and I use singleGPU to train, got this error

[train]:   0%|                                                                                                                                                                                     | 0/200000 [00:00<?, ?it/s]2020-07-22 03:58:20.486024: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:172] Filling up shuffle buffer (this may take a whi

[2020-07-22 08:11] dathudeptrai commented on #131
@unparalleled-ysj let me test it again :D

[2020-07-22 08:27] dathudeptrai commented on #131
@unparalleled-ysj can you replace: https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L86 to
[code]

[2020-07-22 08:34] alexbernier opened #132 "Error when training Tacotron2"
Hi,
When I try to trian a Tacotron2 moel, I get the erreor below:
/home/abernier/.local/lib/python3.6/site-packages/tensorflow_addons/utils/ensure_tf_install.py:68: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.2.0 and strictly below 2.3.0 (nightly versions are not supported).
 The versions of TensorFlow you are currently using is 2.3.0-rc

[2020-07-22 08:35] mapledxf commented on #131
I got same error after replacing with `tf.keras.layers.experimental.SyncBatchNormalization`.
Multi GPU:
ValueError: `handle` is not available outside the replica context or a `tf.distribute.Strategy.update()` call.

Single GPU:
ValueError: Index out of range using input dim 1; input has only 1 dims for '{{node strided_slice_3}} = StridedSlice[Index=DT_INT32, T=DT_INT32, begin_mask=5, ellipsis_mask

[2020-07-22 08:37] mapledxf commented on #131
@dathudeptrai
I also got warning like this:
[code]

[2020-07-22 08:39] dathudeptrai commented on #132
@alexbernier i think i just fixed it on https://github.com/TensorSpeech/TensorflowTTS/commit/7ae6e4e1f71a4363461dcecc018a3c4eff7ba409

[2020-07-22 08:40] dathudeptrai commented on #131
I just commit https://github.com/TensorSpeech/TensorflowTTS/commit/7ae6e4e1f71a4363461dcecc018a3c4eff7ba409. Let try again :)).

[2020-07-22 08:45] mapledxf commented on #131
@dathudeptrai
Training with single GPU seems OK now. But I still got the same error with multi-GPU.

[2020-07-22 08:54] unparalleled-ysj commented on #131
@dathudeptrai @mapledxf Me too

[2020-07-22 08:58] alexbernier commented on #132
@dathudeptrai Thanks, it actually fixes the issue with 1 GPu. When trying with 2 GPU, I get the following new error:

Traceback (most recent call last):
  File "./examples/tacotron2/train_tacotron2.py", line 471, in <module>
    main()
  File "./examples/tacotron2/train_tacotron2.py", line 424, in main
    tacotron2._build()
  File "/data/repositories-ubuntu1/TensorflowTTS/tensorflow_tts/models/ta

[2020-07-22 09:13] #131 closed

[2020-07-22 09:13] #132 closed

[2020-07-22 09:14] #129 closed

[2020-07-22 09:17] dathudeptrai commented on #128
@ZhaoZeqing did u use an old tflite file, in the newest code i remove `attention_mask` but i see ur tflite have it, let see:

[code]

[2020-07-22 09:19] dathudeptrai commented on #131
@mapledxf @unparalleled-ysj is that ok :)).

[2020-07-22 10:07] unparalleled-ysj commented on #131
@dathudeptrai When using multi-GPU training, how to set the batch size of each GPU? the batch_size parameter in conf/tacotron2.v1.yaml means the total batch size of all gpu?

[2020-07-22 10:09] dathudeptrai commented on #131
@unparalleled-ysj no, that is batch_size for each GPU, the global_batch_size will automatically multiple to n_gpus

[2020-07-22 10:12] unparalleled-ysj commented on #131
@dathudeptrai  got it , thank you for your reply

[2020-07-22 11:37] machineko opened #133 "NaNs in FS2 posnet"
So i've trained Fastespeech2 on my dataset using phones based on MFA extraction (pull request incoming later tomorrow).
But I meet weird NaNs in eval postnet after ~50k steps postnet is only producing nans.
I'm not an expert using tensorflow (last 2.5 years i've use mainly pytorch) so I have question if it is possible that it's caused by fp16 training [later i'll train fp32 model to confirm this b

[2020-07-22 12:06] dathudeptrai commented on #133
@machineko mixed precision is still on experimental module of tensorflow so it is not stable yet. In my case it ălways fine in my private dataset and ljspeech. If you get nan, you can training float32, the training speed is still very fast even it is float32. You just need < 1 day to train fastspeech. But if you still want to use float16, you can try this trick: resume training float32 at the step

[2020-07-22 12:10] tekinek commented on #133
Same problem #125 with tacotron2 training at 53.5k steps (1080ti, tensorflow 2.2). Restart training from 50k solved my problem so far.

[2020-07-22 12:14] machineko commented on #133
Sure I'll try both of ur solutions later and post updates here :)

[2020-07-22 12:22] tekinek commented on #125
@dathudeptrai  where is `_eos` actually used in prepossessing with ljspeech.py. Is it supposed to be attached to every sentence in `text_to_sequence` whatever phone or character based normalization?  but it is not the case there.

[2020-07-22 13:09] dathudeptrai commented on #125
@tekinek it is on generator function in tacotron_dataset.py

[2020-07-22 13:38] janson91 commented on #121
@dathudeptrai ok, thx

[2020-07-22 14:45] Dicksonchin93 commented on #107
@dathudeptrai @ZDisket Do you guys have any idea on how to reduce the metallic effect to make it more natural? I'm looking in some manual audio processing to remove some of these metallic sounds

[2020-07-22 14:48] ZDisket commented on #107
@Dicksonchin93 If you can isolate the metallic noise then a conventional noise reduction filter (like the one found in Audacity) might be enough. Otherwise, try to train it more or with a better dataset.

[2020-07-22 17:40] adfost opened #134 "How to fine tune FastSpeech/MelGAN"
I am working on fine tuning FastSpeech and MelGAN on a new dataset with similar format to LJSpeech to reduce preprocessing difficulties.

However, I trained both models, and have gotten an error. I suspect the problem to be with FastSpeech, since I used the MelGAN model with a FastSpeech model trained on another dataset, and I got a bad result, but not as bad as the one with the new FastSpeech mod

[2020-07-22 17:44] dathudeptrai commented on #134
@adfost can you share ur tensorboard ?

[2020-07-22 17:56] ZDisket commented on #134
@adfost What durations are you using for FastSpeech?

[2020-07-22 18:06] adfost commented on #134
@ZDisket I used the program suggested for the durations, extract_duration.py.

[2020-07-22 18:07] adfost commented on #134
@dathudeptrai I was training via the command line, not sure how to do that.

[2020-07-22 18:18] ZDisket commented on #134
@adfost What Tacotron2 model did you use to extract durations?

[2020-07-22 18:19] adfost commented on #134
examples/tacotron2/extract_duration.py as suggested

[2020-07-22 18:20] adfost commented on #134
@ZDisket @dathudeptrai yesterday, I updated the version of this repository I used, and apparently as a result of that when I try to run this file again, I get the following error

    ValueError: Index out of range using input dim 1; input has only 1 dims for '{{node strided_slice_3}} = StridedSlice[Index=DT_INT32, T=DT_INT32, begin_mask=5, ellipsis_mask=0, end_mask=7, new_axis_mask=0, shrink_axis

[2020-07-22 18:26] dathudeptrai commented on #134
I fixed it today. let pull newest code.

[2020-07-22 18:35] adfost commented on #134
thanks for that. I will try to train again. I suspect that part of the problem might be due to the version anyway, so I think that retraining will likely help

[2020-07-22 18:38] adfost commented on #134
Actually I think I caught a bug in your new implementation, you use both mel_length and mel_lengths for what looks like should be the same variable.

[2020-07-22 18:54] adfost commented on #134
<img width="575" alt="Screen Shot 2020-07-22 at 11 52 27 AM" src="https://user-images.githubusercontent.com/15642172/88216491-06930f00-cc12-11ea-9d17-0d32bfda1da7.png">
This is the model architecture after adding the extra layer btw.

[2020-07-22 19:09] adfost commented on #134
2020-07-22 19:09:06,046 (base_trainer:831) INFO: (Step: 200) train_duration_loss = 0.6136.
2020-07-22 19:09:06,047 (base_trainer:831) INFO: (Step: 200) train_mel_loss_before = 0.4136.
2020-07-22 19:09:06,047 (base_trainer:831) INFO: (Step: 200) train_mel_loss_after = 0.4130.

[2020-07-22 19:21] adfost commented on #134
2020-07-22 19:20:58,829 (base_trainer:831) INFO: (Step: 2800) train_duration_loss = 0.2757.
2020-07-22 19:20:58,830 (base_trainer:831) INFO: (Step: 2800) train_mel_loss_before = 0.2954.
2020-07-22 19:20:58,831 (base_trainer:831) INFO: (Step: 2800) train_mel_loss_after = 0.2936.

[2020-07-22 19:21] adfost commented on #134
So the loss has decreased, but I'm getting exactly the same error

[2020-07-23 02:48] MODAK27 commented on #121
@dathudeptrai  sir I have been trying it in different language but have been stuck. My new language has:
Sample rate: 48000
Channels: 1
Subtype: PCM_16
I have adopted basic_cleaners and have changed punctuations and letters in processor file.
I had to cmment it out coz of some problems being created
# assert (
        #     rate == config["sampling_rate"]
        # ), f"{utt_id} seems to have a di

[2020-07-23 02:57] yanglu1994 opened #135 "no duration file error"
after  data preprocessing,  I run train_fastspeech2.py but there is no duration file in /dump/train

[2020-07-23 03:00] dathudeptrai commented on #135
@yanglu1994 can you read the step 1 carefully :)). https://github.com/TensorSpeech/TensorflowTTS/tree/master/examples/fastspeech2#step-1-create-tensorflow-based-dataloader-tfdataset

[2020-07-23 03:06] ZhaoZeqing commented on #128
Thanks for your quickly reply, where is the newest code? I used the code [here](https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing#scrollTo=mKvX8awTaRRs)

[2020-07-23 03:19] yanglu1994 commented on #135
I need a pretrained tacotron2 model to extract duration for fastspeech?

  --rootdir ./dump/valid/ \
  --outdir ./dump/valid/durations/ \
  --checkpoint ./examples/tacotron2/exp/train.tracotron2.v1/checkpoints/model-65000.h5 \
  --use-norm 1 \
  --config ./examples/tacotron2/conf/tacotron2.v1.yaml \
  --batch-size 32
  --win-front 3 \
  --win-back 3

[2020-07-23 03:26] dathudeptrai commented on #135
@yanglu1994 ofc, you need to train ur own tacotron-2 to extract Duration at the momement or u can use MFA to extract :v

[2020-07-23 03:27] dathudeptrai commented on #128
@ZhaoZeqing use newest code on github also. You can see on that colab, we don't see `attention_mask` anymore.

[2020-07-23 04:02] dathudeptrai commented on #107
can anyone help me write a correct code for phoneme_to_sequence id in https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/processor/ljspeech.py :(. I just want to train tacotron-2 with phoneme now :(. Here is my code :(

[code]

[2020-07-23 04:42] MegaPanchamZ opened #136 "Error on inference of multi band melgan models"
Dropping the error below.

`
ValueError: Could not find matching function to call loaded from the SavedModel. Got:
  Positional arguments (1 total):
    * Tensor("mels:0", shape=(1, 789, 80), dtype=float32)
  Keyword arguments: {}

Expected these arguments to match one of the following 4 option(s):

Option 1:
  Positional arguments (1 total):
    * TensorSpec(shape=(None, 256, 80), dtype=tf.float3

[2020-07-23 04:50] dathudeptrai commented on #136
@MegaPanchamZ can you provide colab or the full code to reproduce ?

[2020-07-23 04:59] ZDisket commented on #107
@dathudeptrai I just take the phonetic equivalent of the transcription (I do it from the MFA output, you'll have to run G2P on it) and modify metadata.csv to have those wrapped between curly braces {AA1, ...} before doing any preprocessing steps. The LJSpeech preprocessor is capable of handling the rest.

[2020-07-23 05:42] dathudeptrai commented on #107
@ZDisket ok, i'm training with phoneme based on G2P now :D

[2020-07-23 05:51] ZhaoZeqing commented on #128
I'll try the newest code. Thanks!

[2020-07-23 06:33] yanglu1994 commented on #135
can you give me a example of duration file?
Does duration means the total time of wave file and every phoneme start and end time? there is a interval file in my data. like this.can I abstract duration directly from interval file?

Objectclass="TextGrid"
0
2.66
<exists>
1
"IntervalTier"
"000001.interval"
0
2.66
17
0
0.27958612055419324
"sil"
0.27958612055419324
0.406291189066745
"k"
0.4062911890667

[2020-07-23 07:49] manmay-nakhashi commented on #107
@dathudeptrai i have espeak based phoneme to sequence will it work ?

[2020-07-23 07:50] dathudeptrai commented on #107
@manmay-nakhashi i think G2P is faster than espeak :v.

[2020-07-23 07:53] manmay-nakhashi commented on #107
@dathudeptrai but less language support , i couldn't find anyway to load custom g2p model into python

[2020-07-23 07:56] dathudeptrai commented on #107
@manmay-nakhashi As you can see, every languages/datasets should have its own preprocessor.py. The important is not that G2p less language support, this is **divide and conquer*** strategy. Almost each language have its own framework to convert charactor to phoneme, we don't need use general framework for this :v.

[2020-07-23 08:00] manmay-nakhashi commented on #107
@dathudeptrai you are right in term of flexibility but if we can make a system as a custom model for G2P based on user defined phoneme output then we can make both flexible and generic.

[2020-07-23 08:03] dathudeptrai commented on #107
@manmay-nakhashi yes, that is on my plan, make preprocessing stage as class based so user can inherit base_preprocessing class to implement their preprocessing class. As base_trainer here :D

[2020-07-23 08:04] manmay-nakhashi commented on #107
@dathudeptrai exactly that would make this framework more robust, and scalable

[2020-07-23 08:49] MegaPanchamZ commented on #136
Sure, https://colab.research.google.com/drive/1wjEpn6-VoOCRrHN21NenEsX7XusRw0Ew?usp=sharing

[2020-07-23 09:20] dathudeptrai commented on #136
@MegaPanchamZ https://colab.research.google.com/drive/1EuXRO1Asl6YK1W0UFQWcPhFCUMf4oD2B?usp=sharing. You should saved mb_melgan by mb_melgan._inference function though signatures as fastspeech2 does.

[2020-07-23 10:31] machineko commented on #133
It's looks like fp16 stability turning off and retraining on 32precision didn't have any nans problem. (probably we can fix it excluding some layers from fp16 training and i'll test it in next week)

[2020-07-23 10:31] #133 closed

[2020-07-23 10:39] MegaPanchamZ commented on #136
Oh, thanks. I had no idea.

[2020-07-23 10:40] #136 closed

[2020-07-23 10:43] dathudeptrai commented on #136
@MegaPanchamZ glad to see it help you. If you see our framework helpful, let give it a star and share our work with ur friends :)).

[2020-07-23 11:52] MegaPanchamZ opened #138 "Problems with TFlite inference."
Hello, I am having a few issues with the inference of **fastspeech,** **fastspeech2** and **mb_melgan.**
``
Input shape: [1, 19] , interpreter shape: [1 1]
Warning: Latency might be affected due to change in input shape
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-22-07343f1be6

[2020-07-23 11:53] MegaPanchamZ commented on #136
I already did :) they are having fun experimenting with the framework.

[2020-07-23 11:56] dathudeptrai commented on #136
@MegaPanchamZ :)) do not forget give us a star so the repo will become more popular :))

[2020-07-23 13:19] manmay-nakhashi commented on #138
@MegaPanchamZ i think tflite inference input signature is different
int FastSpeechLite inference test
try calling with this
input_ids = tf.expand_dims(tf.convert_to_tensor(input_ids, dtype=tf.int32), 0)
    return (input_ids,
            tf.convert_to_tensor([0], tf.int32),
            tf.convert_to_tensor([1.0], dtype=tf.float32))

[2020-07-23 14:22] MegaPanchamZ commented on #138
Will test soon! and let you know.

[2020-07-23 14:36] dathudeptrai commented on #135
@yanglu1994 the duration file is a 1D vector and len(duration) = len(charactor/phoneme) and sum(durations) = len(mel).

[2020-07-23 15:41] adfost opened #139 "Time required for fine tuning on English language dataset"
I am trying to fine tune FastSpeech/MelGAN on a different English language dataset, but after several hours of training on both, I get sound files showing no progress. Do I just need to train longer? Or is there a deeper error?

[2020-07-23 15:46] dathudeptrai commented on #139
@adfost can you share a tensorboard for both?

[2020-07-23 16:34] adfost commented on #139
@dathudeptrai I didn't run this on colab (I trained the model on an AWS instance). I do think that the loss fell from about 1 to staying constant at 0.3 for both models.

[2020-07-23 16:37] dathudeptrai commented on #139
@adfost hi, tensorboard should be accessible in any case. or can you share me a `event.out.tfevents...` file?

[2020-07-23 16:48] adfost commented on #139
I'm going to email you the files, since they are of a supported type.

[2020-07-23 16:57] adfost commented on #139
I sent you the files under the previous email conversation. Hopefully they are not misclassified as a virus.

[2020-07-23 17:55] tekinek commented on #135
@yanglu1994  to me, your file looks like an alignment between phonemes and their durations (in second).

likely indicate that the phoneme "k" starts at 0.406291189066745 sec and ends at 0.5165142974475827. "sil" represent  silence -- break in utterance.

The duration needed by FastSpeech is something slightly different. It is, for your case, the alignment between phonemes and mel spectrogram which

[2020-07-23 22:03] MegaPanchamZ commented on #138
@manmay-nakhashi Unfortunately that did not work :(

[2020-07-23 22:49] adfost opened #140 "Suggestions for datasets other than LJSpeech"
I was able to pinpoint the problem as being the dataset, as I could train a model that drifted away from the pretrained model back to LJSpeech. I am under the impression that my dataset, with fewer than 2000 files in the training set is too small. Are there any other similar datasets you suggest, and if so any suggestions on formatting? Thanks again for your help.

[2020-07-23 22:50] adfost commented on #139
I think we can close this issue I pinpointed the problem.

[2020-07-23 22:50] #139 closed

[2020-07-24 00:55] machineko commented on #140
Use pretrained models as start point for your own model

[2020-07-24 01:38] learnerkun opened #141 "When I inference,how to change the tone?"
I do not find any param for tone change,if there are params for tone change in inferencing?

[2020-07-24 02:09] adfost commented on #140
No I understand that, but I'm more trying to find a suitable dataset to use, and a size requirement.

[2020-07-24 02:11] dathudeptrai commented on #141
@learnerkun For fastspeech2, you can change `f0_ratios`, `energy_ratios`, let see the code here https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/fastspeech2.py#L218-L220.

[2020-07-24 02:14] dathudeptrai commented on #140
@adfost 2000 file is so small, ur model will be overfitted very fast. The dataset should at least 5->10 hours for a single speaker.

[2020-07-24 02:15] dathudeptrai commented on #138
@MegaPanchamZ you should git pull the newest code and do converts tflite again.

[2020-07-24 03:58] learnerkun commented on #141
Ok，Thanks！

[2020-07-24 03:58] #141 closed

[2020-07-24 04:12] learnerkun opened #142 "There is some wrong in inference"
this is the first  log:
Traceback (most recent call last):
  File "examples/fastspeech2/decode_fastspeech2.py", line 169, in <module>
    main()
  File "examples/fastspeech2/decode_fastspeech2.py", line 142, in main
    energy_ratios=tf.ones(shape=[tf.shape(char_ids)[0]], dtype=tf.float32),
  File "/usr/local/anaconda3/envs/tf2.2/lib/python3.6/site-packages/tensorflow/python/eager/def_function.py"

[2020-07-24 04:15] dathudeptrai commented on #142
@learnerkun the bug shows that ur input length > 2048, the positional embedding in the model config is set to 2048.

[2020-07-24 05:41] tekinek commented on #140
@dathudeptrai I have a relevant question. My 25hour dateset is single speaker, but I realize that almost half the utterance have obvious background noise and their tone & space feeling are somehow different (maybe two recordings done in quite different time and soft & hardware settings).

1) Could this be a issue when training single speaker model?
2) Is it a worth try to train a multi speaker mod

[2020-07-24 06:12] learnerkun commented on #142
I  have checked my inputs,its lengths are no more than 2048,the max  length is 786.And I tried to print the tensor,but I did not get the information for my input.How could I solve this bug?

[2020-07-24 09:13] l4zyf9x opened #143 "Cross-Lingual speech synthesis discussion."
Hey you guy, Fastspeech and Tacotron achieved good results on a single language, but how about a voice synthesis of one speaker for many languages (>=2)? It is so obvious that we could create a dataset of single speaker for multiple languages, but it is not easy to create such that dataset because of many reasons (good speaker pronunciation for many languages, different phonemes between languages,

[2020-07-24 09:21] MegaPanchamZ commented on #138
Actually using this repository found @ https://github.com/sujeendran/TensorflowTTS seemed to fix the issue.

Currently, I have a working ipynb at colab  which anyone can copy, found @ https://colab.research.google.com/drive/14_mJCfDyxSLCfsintOiWSatIlZ0B1FmT?usp=sharing

I will try to pull the newest code once I finish learning the new tflite system.

[2020-07-24 09:52] candlewill commented on #143
Cross language synthesis is an interesting direction, but it's a more difficult problem than single speaker single lang synthesis I  think.

[2020-07-24 10:03] dathudeptrai commented on #143
if we have a large dataset for single speaker but multiple languages, that is fine, we just need mixing preprocessing text (for example, use character on target language + CMU for English language). But how can we solve this problem if we don't have enough data for single speaker + multiple languages ?.

[2020-07-24 10:54] machineko commented on #140
@tekinek
I have same problem with my dataset but with a lot fewer hours and training it as multi-speaker on tacotron2 (not in this repo) works, single speaker also works fine but then I've got a lot of artifacts in outputs.

[2020-07-24 12:55] manmay-nakhashi commented on #143
@dathudeptrai @l4zyf9x may be we can create a dataset from voice synthesis to get all multi-speaker to one speaker (style transfer) and the train the model :thinking:

[2020-07-24 13:47] manmay-nakhashi opened #144 "issue while running android app"
pushed uploaded model which is in assets folder.
not able load model from given path
W/System.err: java.lang.IllegalArgumentException: Contents of /storage/self/primary/fastspeech2_quant.tflite does not encode a valid TensorFlow Lite model: Could not open '/storage/self/primary/fastspeech2_quant.tflite'.

[2020-07-24 13:57] manmay-nakhashi commented on #144
@mapledxf

[2020-07-24 13:58] machineko opened #145 "Suggestion add universal vocoder"
It can be hard to test mel-generated from models without universal vocoder.

You can pin me to this issue when I've got some free time I'll check https://github.com/kan-bayashi/ParallelWaveGAN and see which smaller models can be considered universal vocoders and if mb-melgan can be then I'll try to train this repo version else we should consider adding smth like Waveglow or SqueezeWave(?).

[2020-07-24 14:17] ZDisket commented on #145
@machineko The VCTK model from converted weights is already a pretty good universal vocoder in my experience, although most of my tests are on bad models since this repo's FastSpeech2 isn't as resilient against bad datasets as ming024's

[2020-07-24 14:31] l4zyf9x commented on #143
@manmay-nakhashi you mean training multispeaker with diferrent language then generate soft dataset and distillate it on different model? In my opinion, soft dataset will not have good quality sound, so distillate on this dataset will not provide good result. I wonder whether  there be a way to distillate language infomation into embedding vector such like speaker embedding?

[2020-07-24 14:42] dathudeptrai commented on #145
@machineko You can test with Griffin-Lim on this repo to sanity check. I also convert the mb-melgan VCTK weight from kan's repo to this implementation with some trick, if you like i can share :D.

@ZDisket I think fine-tune VCTK pretrained on target dataset is better than just using it :D. The problem with fastspeech2 is that the model with overfit energy/f0, this problem can be solved with add mo

[2020-07-24 14:46] dathudeptrai commented on #144
@manmay-nakhashi you should change the path in the code to relative path or absolute path :)).

[2020-07-24 14:46] ZDisket commented on #145
@dathudeptrai

I would do that if it didn't become pure noise after 10k steps, although it might be my dataset being small. As for FastSpeech2, can you check what he did with his implementation? I can give you a dataset, models and audio samples.

[2020-07-24 14:53] dathudeptrai commented on #145
@ZDisket You can easily see in his tensorboard that the f0/energy loss is so high, that is because he used un-normalize value to train I think :D. And also he uses MAE for f0/energy predictor, not MSE (u can try my implementation with MAE for f0/energy), I didn't try because MSE can generate a good result, but maybe that can help you. The important thing i think it that, how the model adapts with

[2020-07-24 14:58] dathudeptrai commented on #89
I think this issue can be closed since all models support tflite and we already have a real android example. :D.

[2020-07-24 14:58] #89 closed

[2020-07-24 14:59] ZDisket commented on #145
@dathudeptrai I have many datasets, but I can share with you the one that I'm talking about by email.

[2020-07-24 15:17] machineko commented on #145
Dunno if fs2 have problems with overfit on my fork.
In my experiments f0/energy isnt overfitting also u can easily do a lot of stuff to stop it like changing weights, init on pretrained model and just fine tune or try Double descent curve training https://arxiv.org/pdf/1812.11118.pdf
I remember reading few newer papers about overfiting and there is a lot to learn on this still :P

[2020-07-24 15:22] dathudeptrai commented on #145
@machineko how large your dataset is?.

[2020-07-24 15:35] machineko commented on #145
@dathudeptrai ~9000 examples can't share but will upload multi-speaker MFA pull request in few h and u can retrain it on small subset of Libri/VCTK my first training was on ~1.9k examples and still didn't overfit on f0/energy.

[2020-07-24 15:44] tekinek commented on #140
@machineko
Thanks you. l'll give it a try: train with full dataset first and then firnetune by sub dataset that has less noise.

[2020-07-24 16:56] adfost opened #148 "Error when fine tuning MelGAN"
After importing generator and discriminator models, I get the following error:
Traceback (most recent call last):
  File "examples/melgan/train_melgan.py", line 505, in <module>
    main()
  File "examples/melgan/train_melgan.py", line 477, in main
    discriminator.load_weights("./examples/melgan/checkpoints/discriminator-1500000.h5")
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/ten

[2020-07-24 16:58] ZDisket commented on #148
Have you checked that the config of the MelGAN model you're trying to train matches that of the one you're fine-tuning from?

[2020-07-24 17:02] adfost commented on #148
Well, I don't know where the 41 is coming from. I think the configuration is right, but I will check again.

[2020-07-24 17:03] dathudeptrai commented on #148
@adfost can u share a command line :))). The best way you can do to help us is that provide us the code to reproduce the bug, you can fork or make colab -_-.

[2020-07-24 17:05] adfost commented on #148
CUDA_VISIBLE_DEVICES=0 python examples/melgan/train_melgan.py --train-dir ./dump2/train/ --dev-dir ./dump2/valid/  --outdir ./examples/melgan/exp/train.melgan.v1/ --config ./examples/melgan/conf/melgan.v1.yaml --use-norm 1 --generator_mixed_precision 0 --resume ""

[2020-07-24 17:07] adfost commented on #148
I used a subset of this dataset: https://www.caito.de/2019/01/the-m-ailabs-speech-dataset/, the male en-US voice.

[2020-07-24 17:07] adfost commented on #148
And went through the steps to preprocess (it is intentionally in the same format) as recommended.

[2020-07-24 17:13] dathudeptrai commented on #148
@adfost can you check if everything is fine if you training from scratch without loading pretrained?.

[2020-07-24 17:14] adfost commented on #148
The error comes from the discriminator

[2020-07-24 17:14] adfost commented on #148
If I train from scratch, how many epochs will I need to see any improvement?

[2020-07-24 17:21] dathudeptrai commented on #148
@adfost i will try to figure out the bug. But if you want fine-tune, you just need load generator, the discriminator should be train from scratch, so you won't face this error anymore :)). I recommend you training mb-melgan first. You should training atleast 1M steps for melgan model to get good performance. Around 100k, a generate audio can understandable. ^^.

[2020-07-24 17:27] adfost commented on #148
Thank you I guess I will let it train longer.

[2020-07-24 17:29] dathudeptrai commented on #148
@adfost 1000 epochs ?, how many steps did you trained ?

[2020-07-24 17:29] adfost commented on #148
I meant steps, misspoke

[2020-07-24 17:30] dathudeptrai commented on #148
@adfost you should training melgan around 1M steps :))).

[2020-07-25 00:11] adfost commented on #148
Well I did >35000 items of FastSpeech training and >100000 iters of mel training no sound of any voice.

[2020-07-25 00:16] dathudeptrai commented on #148
@adfost so you did something wrong in preprocessing step. In this case, it is very hard to help since i do not know what are you dọig before training. Btw, where is ur duration file come from ?

[2020-07-25 03:25] adfost commented on #148
I used the tacotron2 duration script to get durations. Also, I used
tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
tensorflow-tts-compute-statistics --rootdir ./dump/train/ --outdir ./dump --config preprocess/ljspeech_preprocess.yaml
tensorflow-tts-normalize --rootdir ./dump --outdir ./dump --stats ./dump/stats.npy --config preprocess/lj

[2020-07-25 04:10] dathudeptrai commented on #148
@adfost did you re train tacotron ?

[2020-07-25 04:24] adfost commented on #148
No

[2020-07-25 05:33] MegaPanchamZ opened #149 "Way to mitigate using tensorflow when inferencing .tflite"
Currently, after trying to create a way to inference the fastspeech2 model the need for tf to still exist is a nuisance.

[code]
Any way to remove the need for tf.(whatever)  when conferencing? Also is there anyone who has used the tflite binary instead of nightly for fastspeech2 ?

[2020-07-25 08:20] MegaPanchamZ commented on #138
Problem was solved, closing issue. :)

[2020-07-25 08:20] #138 closed

[2020-07-25 13:38] tekinek commented on #143
I think making a single speaker speak many languages fluently is something worth try.  Assume that we have
1) Three languages, possibly closer like Portuguese & Spanish or very different like English & Japanese.
2) A good quality single speaker dataset for each language (regardless of speaker gender; phoneme representation is obtainable)

What can we  expect from model trainings under following se

[2020-07-25 16:11] dathudeptrai commented on #148
@adfost that is a problem, pretrained ljspeech tacotron-2 can't use for other dataset to extract duration.

[2020-07-25 18:03] adfost commented on #148
Is there another way to extract duration?

[2020-07-25 18:17] adfost commented on #148
Also just wondering about dataloader. Training FastSpeech now

[2020-07-25 18:19] l4zyf9x commented on #143
@tekinek In setting 1 without step 5, I think it will meet a problem that generated audio will interweave multi-speaker voices together because we use non. This is not the thing we want

I prefer setting 2 because languages have often shared some phoneme pronunciation, So we leverage this information will help model just focus on learning different phonemes between two languages. But I would like

[2020-07-26 01:59] dathudeptrai commented on #148
you can using MFA to extract duration

[2020-07-26 01:59] adfost commented on #148
What is that?

[2020-07-26 02:00] dathudeptrai commented on #148
@adfost see this PR https://github.com/TensorSpeech/TensorflowTTS/pull/147. not yet merge

[2020-07-26 02:13] dathudeptrai commented on #149
I don't if there is a way to do that, inferencing by python with tflite is just to check output.

[2020-07-26 03:24] adfost commented on #148
I'm a bit confused about that, I will try using the model I am training first. Also, I'm a bit confused by the Generator function in
First, you need define data loader based on AbstractDataset class (see abstract_dataset.py). On this example, a dataloader read dataset from path. I use suffix to classify what file is a charactor, duration and mel-spectrogram (see fastspeech_dataset.py). If you alre

[2020-07-26 03:24] MegaPanchamZ commented on #149
Should there be a way to use java or js to run the tflite ?

[2020-07-26 03:26] dathudeptrai commented on #149
@MegaPanchamZ you mean server side or low end divices?. For mobile we can use C or java to inferencing tflite. For server we use saved model instead.

[2020-07-26 03:29] dathudeptrai commented on #148
@adfost there are many way to extract durarion now. We can use tacotron or MFA tool to extract duration. The MFA not yet merge to master. I am trying to make prprocessing stage abtracter.

[2020-07-26 03:31] adfost commented on #148
I think I can go for 10000 iterations of tacotron for a rudimentary model, then train the melgan and FastSpeech again to see if I can get something that isn't just unintelligible static

[2020-07-26 03:34] dathudeptrai commented on #148
@adfost it's good if you can make a fork of this repo and commit ur code, ur config, ... so I can easy to help.

[2020-07-26 03:36] ZDisket commented on #148
@adfost Try MFA first, it's not that complicated: https://github.com/ZDisket/TensorflowTTS/tree/master/examples/fastspeech2/mfa

[2020-07-26 03:39] adfost commented on #148
ok trying that

[2020-07-26 05:30] MegaPanchamZ commented on #149
I need to use the model on a Xeon CPU, no AVX instructions and can't run the tf-nightly build. I am hoping that there is a way to run the tflite model without the AVX instruction set. :/

[2020-07-26 08:30] adfost commented on #148
Calling tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml with the extra argument gives FileNotFoundError: [Errno 2] No such file or directory: './dump/train/wavs/poisoned_pen_04_f000129-wave.npy'. I thought that file wasn't supposed to exist yet.

[2020-07-26 08:59] dathudeptrai commented on #149
@MegaPanchamZ i do not know if there is a relation between tflite and avx. My laptop computer do not have avx also but can run tflite

[2020-07-26 13:36] mataym opened #151 "TensorflowTTS fastspeech training error."
After preprocessing, I ran the model training script, but the following error occurred:

2020-07-26 21:24:27,175 (train_fastspeech:340) INFO: hop_size = 256
2020-07-26 21:24:27,176 (train_fastspeech:340) INFO: format = npy
2020-07-26 21:24:27,176 (train_fastspeech:340) INFO: fastspeech_params = {'n_speakers': 1, 'encoder_hidden_size': 384, 'encoder_num_hidden_layers': 4, 'encoder_num_attention_hea

[2020-07-26 13:39] ZDisket commented on #151
Did you extract durations?

[2020-07-26 14:34] mataym commented on #151
no, i just do preprocessing, and then ran the training script.  Is it necessary to extract the duration before training?

[2020-07-26 14:48] ZDisket commented on #151
@mataym For FastSpeech and FastSpeech2 yes, it's necessary. You can either train a Tacotron 2 model first and use that or Montreal Forced Aligner.

[2020-07-26 14:50] mataym commented on #151
how do i extract durations? can u give me some instructions or give me a link ? thank advanced!

[2020-07-26 14:53] ZDisket commented on #151
@mataym See https://github.com/ZDisket/TensorflowTTS/tree/master/examples/fastspeech2/mfa

[2020-07-26 15:31] tekinek commented on #143
@l4zyf9x
Thanks for your insightful thoughts.

So you mean,  in case of multilingual training, what is important (and possibly difficult) is to learn a good language embedding which helps the model to decide how to pronounce a shared phoneme in each enrolled language? Why don't you think just one good dataset for each language is enough to learn this embedding? Introducing ASR dataset may confuse

[2020-07-26 15:55] mataym opened #152 "Tactron2 training error"
when i tried to run tacotron2 in tensorflowtts with training script , the error occurred  as follows:
CUDA_VISIBLE_DEVICES=1 python examples/tacotron2/train_tacotron2.py \

2020-07-26 23:44:19,431 (tacotron_dataset:106) WARNING: Some files are filtered by mel length threshold (4635 -> 4634).
2020-07-26 23:44:19,527 (train_tacotron2:519) INFO: hop_size = 256
2020-07-26 23:44:19,541 (train_tacotron2

[2020-07-26 15:59] dathudeptrai commented on #152
@mataym hi, tacotron-2 model support maximum decoder step is 2000 (https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L767). But in ur samples, there is a sample has length = 4993 (this is very very long sentence). You can solve that by change 2000 to 5000 in the tacotron-2 model but i bet with you that the training will OOM :v.

[2020-07-26 21:16] MegaPanchamZ commented on #149
How did you create the tflite file? When I created it with tf-nightly I get an error trying to run it. I assume you used colab to create, train and export the model.

[2020-07-27 02:15] unparalleled-ysj commented on #148
@dathudeptrai  Hi,  when I try to fine-tune mb-melgan I also I also encountered ValueError: Shapes (4, 4, 64) and (41, 4, 64) are incompatible ,  how to load generator only and train discriminator from scratch ?  I only know --resume modeler/checkpoints/ckpt-100000

[2020-07-27 02:23] Hongpeng1992 opened #154 "Tacotron2 stop sign did not work . Always equaled max decoding steps?"

[2020-07-27 02:33] WhiteFu opened #155 "FastSpeech2s"
hello, Great Job. Have you implemented fastSpeech2s?  How's the audio's quality generated by fastSpeech2s?
if you finished it, Could you give some examples?   Thanks a lot!

[2020-07-27 02:36] dathudeptrai commented on #155
@WhiteFu the audio quality generated by FastSpeech2s is the same as fastspeech2. The inference speed is slightly faster but it's not important. Now, I don't see any benefit of FastSpeec2 except it can train with single-stage rather than 2 stages. And it requires multi-gpu to train :)).

[2020-07-27 02:59] l4zyf9x commented on #143
@tekinek

I just think one good dataset for each language just are too small and not diversity to learn general ligual feature.
You right, ASR dataset could cause noise, but we could first train on a mixed dataset and then finetune just only target dataset. Hopefully, the model still remains lingual feature learned from the mixed dataset.

[2020-07-27 03:17] dathudeptrai commented on #154
@Hongpeng1992 can you share ur tensorboard?, and give me some information about ur dataset setting?

[2020-07-27 04:04] adfost opened #156 "Problems with MFA"
After running mfa and preprocessing as shown, I try to train FastSpeech, and I get the following error

Traceback (most recent call last):
  File "examples/fastspeech/train_fastspeech.py", line 379, in <module>
    main()
  File "examples/fastspeech/train_fastspeech.py", line 371, in main
    resume=args.resume,
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/tensorflow_tts/trainers/bas

[2020-07-27 04:19] dathudeptrai commented on #156
@adfost can you check if all sum(duration) == len(Mel) ?

[2020-07-27 04:51] adfost commented on #156
Where should I put this step?

[2020-07-27 04:53] dathudeptrai commented on #156
you just need load each (duration, mel) pair  then calculate sum to check if sum(duration) = len(Mel)

[2020-07-27 04:55] adfost commented on #156
Still not sure how to do it. But I think one or two files were truncated or ignored is that the cause?

[2020-07-27 05:11] ZDisket commented on #156
@adfost Using my guide? Did you run postmfa.py too? That should've corrected the mismatches.

[2020-07-27 05:11] adfost commented on #156
Yeah I ran postmfa.py

[2020-07-27 05:36] Hongpeng1992 commented on #154
41 tacotron2.setup_window(win_front=3, win_back=3)
 42
 43 #tacotron2.setup_maximum_iterations(3000)
 44
 45
 46 # initialize melgan model
 47
 48 with open('./examples/multiband_melgan/conf/multiband_melgan.v1.yaml') as f:
 49     mb_melgan_config = yaml.load(f, Loader=yaml.Loader)
 50
 51 # define model and load checkpoint
 52 mb_melgan = TFMelGANGenerator(
 53         config=MultiBandMelGANGene

[2020-07-27 05:40] Hongpeng1992 commented on #154
Hi ,  I trained the model  based on both your ljspeech pipeline and Chinese dataset.Based on the above code , I found  real_length  did always equal  the maximum_iterations.

[2020-07-27 05:41] adfost commented on #156
I might have made a mistake trying to get through this. I'll run it again to check.

[2020-07-27 05:43] dathudeptrai commented on #154
@Hongpeng1992 can you share ur tensorboard ?

[2020-07-27 06:01] Hongpeng1992 commented on #154
/media/ubuntu/TOSHIBA EXT/deeptts/prediction/tensorboard.png

[2020-07-27 06:02] Hongpeng1992 commented on #154
![tensorboard](https://user-images.githubusercontent.com/41531735/88508603-cd8fdb80-d011-11ea-8575-df5159e3506f.png)

[2020-07-27 06:17] yanglu1994 opened #157 "ERROR when i train the fastspeech2"
when I run train_fastspeech2 , something is wrong.and I print the shape of [charactor, duration, f0, energy, mel]

duration shape is [16, 47]
f0 shape is [16, 47]
energy shape is [16, 47]
mel shape is [16, 1193, 80]

  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "
2020-07-27 11:43:48.332178: I tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1873] Converted 1165

[2020-07-27 06:52] dathudeptrai commented on #154
@Hongpeng1992 a stop loss seems ok. This problem should not be occur.

[2020-07-27 06:54] dathudeptrai commented on #157
@yanglu1994 the bug tell that there is a sample that its sum(durations) != len(its Mel). Pls loop over all dataset and check.

[2020-07-27 10:57] adfost commented on #156
Apparently the command ./montreal-forced-aligner/bin/mfa_align ./datasets/wavs ./montreal-forced-aligner/pretrained_models/librispeech-lexicon.txt ./montreal-forced-aligner/pretrained_models/english.zip ./TextGrids -j 8 isn't filling the TextGrids file

[2020-07-27 13:29] sujeendran commented on #53
@manmay-nakhashi can you show your code for INT8 conversion of the fastspeech model? I tried several configurations but couldn't get INT8 to work. Did you provide any representative dataset while converting? and how is the quality of inference for INT8?

[2020-07-27 13:45] sjainlucky opened #158 "Training on Multispeaker Dataset"
Currently i am trying to train my model with Multispeaker dataset. What are the changes I need to apply in the model for training it on fastspeech2?

[2020-07-27 15:37] adfost opened #159 "More problems with MFA"
Apparently the command ./montreal-forced-aligner/bin/mfa_align ./datasets/wavs ./montreal-forced-aligner/pretrained_models/librispeech-lexicon.txt ./montreal-forced-aligner/pretrained_models/english.zip ./TextGrids -j 8 isn't filling the TextGrids file

[2020-07-27 15:58] mataym commented on #152
Thank you, as you said, I set maximum-iterations to 5000, and I deleted all audio files longer than 25 seconds, but as you said, there was still OOM occurred. How should I deal with this problem? Please give me some advice, thank you!

[2020-07-27 16:33] dathudeptrai commented on #152
@mataym the maximum mel length of training data should be < 1000. I suggest you move all mel file > 1000 frame to valid directory.

[2020-07-27 16:34] dathudeptrai commented on #159
@weird, everything is fine for me. It runs a bit slow :)). For Ljspeech, it took around 20-30m to fill TextGrid directory.

[2020-07-27 16:35] dathudeptrai commented on #158
@sjainlucky you just need return speaker_id in generator function in dataset loader.

[2020-07-27 17:01] adfost commented on #159
It worked before, but I decided to get rid of some data, and deleted the TextGrids file. I can't fill it up again.

[2020-07-27 19:50] ZDisket commented on #158
@dathudeptrai Do you see anything wrong in my implementation? https://github.com/ZDisket/TensorflowTTS/commit/59d546130c81b08d4f6cebe9309b915a1010d7ba#diff-d9ec9f8dbf92ba0ced95db127ecdafd1 I can't get my multispeaker models (249 speakers 15 hours of audio) to generate coherent speech after 50k steps even when I augment them with 160 LibriTTS (downsampled to 22KHz) speakers.
Every speakerid file co

[2020-07-28 01:11] #154 closed

[2020-07-28 01:18] dathudeptrai commented on #154
@Hongpeng1992 is it fixed ?

[2020-07-28 01:20] Hongpeng1992 commented on #154
No,  but it might be my problem

[2020-07-28 01:23] dathudeptrai commented on #154
@Hongpeng1992 do not forget to add stop token to ur sentences.

[2020-07-28 02:18] JoeyHeisenberg opened #160 "About some function in Fastspeech 2"
maybe some value minus the average value will go to zero, it means the value zero stand for two things? and it seems the value next to zero loss the meaning that is next to the average value?

![image](https://user-images.githubusercontent.com/33407667/88611419-8a8a4280-d0bb-11ea-8239-61bca7439e77.png)
![image](https://user-images.githubusercontent.com/33407667/88611450-9bd34f00-d0bb-11ea-950b-89b

[2020-07-28 02:36] dathudeptrai commented on #160
@JoeyHeisenberg you are right about the problem with this function is that the model hard to classify the unvoice part and the voice part that its f0 nearby mean value. I also tested a model remove the code above but the quality is the same, I think the network is already large enough to solve this problem. I will commit the change to be sure this problem is not affected in other dataset.

cc: @ca

[2020-07-28 02:50] dathudeptrai commented on #158
@ZDisket i don't see anything wrong in ur change. We just need return speaker_id in generator function and change n_speakers in config. It worked in my private muti speaker dataset. Do you think a problem is about ur dataset have so many speaker but the total durations of dataset is too small ?.

[2020-07-28 03:05] ZDisket commented on #158
@dathudeptrai Then it's probably my dataset, although I'm not too sure why adding LibriTTS speakers didn't work since I heard of someone doing a similar trick training Tacotron2

[2020-07-28 03:10] dathudeptrai commented on #158
@ZDisket let wait the pull request for LibriTTS.

[2020-07-28 03:23] adfost opened #161 "Error when training TensorflowTTS"
I got my dataset preprocessed using MFA. However, when I try to train FastSpeech I get this:

Traceback (most recent call last):
  File "examples/fastspeech/train_fastspeech.py", line 379, in <module>
    main()
  File "examples/fastspeech/train_fastspeech.py", line 371, in main
    resume=args.resume,
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/tensorflow_tts/trainers/base_trainer.

[2020-07-28 10:14] unparalleled-ysj opened #163 "TensorFlow Serving"
Hi, I want to use tensorflow-serving to deploy the fastspeech2 model. I successfully converted the model to saved_model format and used the tf.saved_model.load() API to verify that the model can be called correctly, but I use tensorflow-serving to deploy the model and use the RESTful API. Way to access, the following error occurred：

{'error': '[_Derived_]{{function_node __inference__inference_566

[2020-07-28 12:24] #144 closed

[2020-07-28 13:19] adfost commented on #157
I tried a similar fix, found no sample where sum(durations) != len(mel), but I have a similar problem.

[2020-07-28 13:40] adfost commented on #156
@dathudeptrai I tried comparing the lengths of the mel to the sum of the durations. I couldn't find an issue there. I guess it's something else. Any other ideas?

[2020-07-28 13:44] dathudeptrai commented on #156
@adfost You should also check if all duration value is positive :))

[2020-07-28 13:45] dathudeptrai commented on #157
@adfost @yanglu1994 sum(durations) == len(mel) and all element of duration must be positive.

[2020-07-28 14:08] adfost commented on #156
@dathudeptrai  not that either, other suggestions?

[2020-07-28 14:47] adfost commented on #156
@dathudeptrai Could I send you the data and you could try to run it? Maybe I have some other problem that is difficult to debug

[2020-07-28 15:11] dathudeptrai commented on #156
@adfost I mean all element in each duration file must be positive :D. The sum can be positive but for each element , I'm not sure.

[2020-07-28 15:16] adfost commented on #156
@dathudeptrai I took the absolute value and printed if there was any difference nothing was printed.

[2020-07-28 17:08] dathudeptrai commented on #161
@adfost all the problems about the mismatch between mel_predict and mel_gts should come from durations where sum(durations) != len(meals) or there is a duration file that its element is a negative value.

[2020-07-28 17:09] dathudeptrai commented on #163
@unparalleled-ysj sorry, I didn't use tf-serving, I just load the model by tf.saved_model.load then inferencing it as normal:v.

[2020-07-28 17:11] dathudeptrai commented on #159
@adfost maybe just delete the folder then run the script again -_-.

[2020-07-28 17:14] dathudeptrai commented on #53
@sujeendran https://www.tensorflow.org/lite/performance/post_training_quantization

[2020-07-28 17:41] #159 closed

[2020-07-28 23:04] MegaPanchamZ opened #164 "Possibility of using normal tensorflow= 2.2.0 to run inference on tflite models."
After doing some investigative work regarding tflilte, I found a python package on pypi 'tflite' which is compatible with tensorflow 2.2.0  not the nightly build. I was wondering if it was still possible to use tf 2.2.0  to 'convert' the model to tflite so I can run inference on the tflite model(s). I have a colab notebook and was trying to convert the model and came across this error:

[code]

An

[2020-07-29 04:03] adfost commented on #161
Any other possible sources of this error? I haven't found the error as either of these.

[2020-07-29 04:05] adfost commented on #156
Can I send you the data and you take a look?

[2020-07-29 04:13] dathudeptrai commented on #161
@adfost no, i can't find other possible reasons. Everything bug about mismatch length comes from durations.

[2020-07-29 04:15] ZDisket commented on #156
@adfost Send it to me too; I wanna know why my MFA implementation does that. Ideally upload to Google Drive.

[2020-07-29 04:26] dathudeptrai commented on #164
@MegaPanchamZ no, for tflite you should use tf-nightly.

[2020-07-29 04:29] ZDisket commented on #164
@dathudeptrai Will tflite C++ API compiled from this branch: https://github.com/tensorflow/tensorflow/tree/r2.3 work for inference?

[2020-07-29 04:41] dathudeptrai commented on #164
@ZDisket i always use tf-nightly for TFlite

[2020-07-29 04:56] adfost commented on #156
@ZDisket @dathudeptrai what are your email accounts?

[2020-07-29 05:00] ZDisket commented on #156
@adfost As for me, send it to daragor9021@gmail.com

[2020-07-29 05:10] adfost commented on #156
@ZDisket  I shared it with you

[2020-07-29 05:33] MegaPanchamZ commented on #164
With TFlite technology existing pre the nightly build, is there a way to still inference with the TFlite package and regular TensorFlow. I would like to use the model in another project, but I have qualms with conferencing. @dathudeptrai  you mentioned using it on a non-avx system, how did you still manage to run inference.

[2020-07-29 07:55] tekinek commented on #125
Hi @dathudeptrai

By your suggestion, I got back to the dataset and prepossessing.  Yes, there are some issues:  long silences between words, and bad min/max freq level settings for mel-spec.

I realize that inconsistent and long silences in between words are somehow common in my dataset. Sure, almost every utterance has long leading and trailing silence, but they should have been handled by `trim

[2020-07-29 08:01] dathudeptrai commented on #125
@tekinek it seem ok, the alignment is strong enough to extract duration for fastspeech. For stop token, I think the reason is that you don't add the stop_token to the end of sentence. And in you might need to train it to 100k to be able inference without teacher forcing :D.

[2020-07-29 08:10] tekinek commented on #125
@dathudeptrai  thanks for your quick response.

How should I interpret this sentence? Should I manually append stop_token "_"  to each sentence in my dataset before prepossessing? I see this happening as default behavior in tacotron_dataset.py (not in inference time?)

[2020-07-29 08:23] dathudeptrai commented on #125
@tekinek in inference time you should add eos token as tacotron2_dataset does :d

[2020-07-29 08:28] tekinek commented on #125
@dathudeptrai I got it, thanks.

[2020-07-29 10:51] tekinek commented on #125
@dathudeptrai  Sorry, wait a minute. The above figures are taken from predictions folder generated by `generate_and_save_intermediate_result` at certain training step. So corresponding sentences should have `_eos` appended already.

[2020-07-29 11:56] dathudeptrai commented on #125
@tekinek the yellow line you see is padding, everything is fine :)))

[2020-07-29 16:55] dathudeptrai commented on #164
@MegaPanchamZ i don't know everything about avx, i just saw that my laptop is non-avx system and it can run tflite ?

[2020-07-30 06:36] mapledxf opened #165 "Resample audio dataset"
How can I train on a resampled LJSpeech dataset?

I have convert all audios' sample rate to 24000 by using sox, and changed sampling_rate to 24000 in the config file.

Then I run
[code]

I got the following error:

Traceback (most recent call last):
  File "/home/xfding/miniconda3/envs/tf2/bin/tensorflow-tts-preprocess", line 8, in <module>
    sys.exit(preprocess())
  File "/home/xfding/miniconda

[2020-07-30 06:55] dathudeptrai commented on #165
@mapledxf the bug tell that there is an array with 0 samples. Pls check the f0 return here https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L407.

[2020-07-30 07:18] mapledxf commented on #165
@dathudeptrai  yeah. there is a audio's f0 is all 0s after remove_outlier. How is that happen?

[2020-07-30 07:44] dathudeptrai commented on #165
@mapledxf maybe you need to print and check by yourself in this case. remove_outlier can't make audio's F0 is all 0s.

[2020-07-30 08:15] mapledxf commented on #165
alright, i will try to figure it out. thx for help

[2020-07-30 08:15] #165 closed

[2020-07-30 09:22] jiayue198509 opened #166 "android demo无法运行"
andorid demo运行如下error，与不支持OP，是否有解决方案。
Failed to run on the given Interpreter: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.
    Node number 456 (FlexRandomUniform) failed to prepare

[2020-07-30 09:24] dathudeptrai commented on #166
@jiayue198509 i think you need install tflite nightly to make sure it work. If you install tflite before, you need delete tflite-nightly version in ur cache dir then re-run the app :)). @mapledxf can you help him.

[2020-07-30 09:57] mapledxf commented on #166
@jiayue198509 did u make any change on the android code?

[2020-07-30 09:59] mapledxf commented on #166
确认一下 的gradle里是不是用的 nightly版本

[2020-07-30 11:37] mapledxf opened #168 "Train Fastspeech2"
Do I have to train Tacotron2 module before training Fastspeech2?
In other words, is there any way to extract duration without Tacotron2 training?

[2020-07-30 11:55] jiayue198509 commented on #166
clean后这个异常已经没有了，但是提示如下error:
   Process: com.tensorspeech.tensorflowtts, PID: 23124
    java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/comparisons.cc:53 input1->type != input2->type (INT64 != FLOAT32)
    Node number 457 (GREATER_EQUAL) failed to prepare.

        at org.tensorflow.lite.NativeInterpreterWrapper.run(Native Method)

[2020-07-30 11:56] jiayue198509 commented on #166
demo代码没有任何修改

[2020-07-30 11:56] jiayue198509 commented on #166
demo代码没有任何修改

[2020-07-30 13:21] tekinek commented on #125
Hi @dathudeptrai,
I extracted duration using 50k tacotron2 without error and started a fastspeech2 training session. Whilst tac2 has been trained for almost 5 days to just see the door of 70k, fs2 passes 120k within a day and produces better sound (maybe tac2 is yet to be ready).

Here is learning curve and some mels from fs2:

![fs2_eval](https://user-images.githubusercontent.com/68597606/8892579

[2020-07-30 13:25] dathudeptrai commented on #125
@tekinek a mel for fastspeech2 very good i think. You need to train mb melgan to get better audio. GL always noise.

[2020-07-30 13:34] dathudeptrai commented on #168
@mapledxf you can use MFA to extract. There is an example to use MFA in pull request, you can ref

[2020-07-30 13:49] unparalleled-ysj opened #169 "multi-band melgan question"
Hi, When I converted mb_melgan to saved_models format and used a for loop to generate 10 audios, I encountered the following warning:

WARNING:tensorflow:6 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7fb36059bc20> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repe

[2020-07-30 13:52] dathudeptrai commented on #169
@unparalleled-ysj can you try the nestwest code :)) and follow the notebook here (https://github.com/TensorSpeech/TensorflowTTS/blob/master/notebooks/multiband_melgan_inference.ipynb). In the newest code, i use input_signature for mb_melgan on inference function so everything about shape related should be fine :D (https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/mb_m

[2020-07-30 14:13] mapledxf commented on #168
got it
thx！

[2020-07-30 14:13] #168 closed

[2020-07-30 14:21] mapledxf commented on #166
应该是你的inputtext有问题

[2020-07-30 14:22] mapledxf commented on #166
you can checkout my new PR which will fix some bugs and support long sentance.

[2020-07-30 21:36] abylouw opened #170 "problem with f0 outliers?"
Hi,

What is the idea of the `remove_outlier` function in tensorflow_tts/utils/outliers.py?
Is it to filter for pitch halving and doubling issues?

The reason I am asking is that I have one corpus with some utterances with very few and short voiced regions. Now the `np.percentile` function in `remove_outlier` calculates `p75` as `0` because the utterance is mostly unvoiced. This then makes that al

[2020-07-31 00:31] jiayue198509 commented on #166
已经更新到最新的代码，还是上面的error，log看像是输入类型有问题。或者您有编译好的可运行的apk，能否提供一下。十分感谢！
java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/comparisons.cc:53 input1->type != input2->type (INT64 != FLOAT32)
Node number 457 (GREATER_EQUAL) failed to prepare.

    at org.tensorflow.lite.NativeInterpreterWrapper.run(Native Method)
    at org.tensorflow.lite.Nat

[2020-07-31 01:32] jiayue198509 commented on #166
已经解决，lib问题，感谢！

[2020-07-31 02:17] dathudeptrai commented on #170
Hi, the `remove_outlier` function aim to filter the outlier pitch, let see the figure bellow:

1. output of pw.dio:
![before](https://user-images.githubusercontent.com/43868663/88992747-59ee1700-d30e-11ea-8057-3addf504495c.png)

2. output of remove_outlier:
![after](https://user-images.githubusercontent.com/43868663/88992741-58245380-d30e-11ea-99a0-1fee33a59669.png)

The problem you are mentioning

[2020-07-31 03:24] manmay-nakhashi commented on #156
@ZDisket @dathudeptrai i am also facing some issue with duration while extracting for non-english language with MFA
using @ZDisket code
[code]

[2020-07-31 03:39] dathudeptrai commented on #156
@manmay-nakhashi pls pull the newest code

[2020-07-31 03:42] manmay-nakhashi commented on #156
@dathudeptrai ok

[2020-07-31 05:53] manmay-nakhashi commented on #156
@dathudeptrai problem is still there
[code]

[2020-07-31 06:01] dathudeptrai commented on #156
@manmay-nakhashi can you change the line at (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech/train_fastspeech.py#L100) to:

[code]

It should solve ur problem but need to train to check the performance. BTW, you should trian fastspeech2 rather than fastspeech.

[2020-07-31 06:04] manmay-nakhashi commented on #156
@dathudeptrai sure i'll give it a try on both the things

[2020-07-31 06:06] manmay-nakhashi commented on #156
@dathudeptrai thanks it  solved this error with above change , what is the root cause of this problem i didn't understand can you tell me ?

[2020-07-31 06:08] dathudeptrai commented on #156
@manmay-nakhashi are u training with multiple gpu ?

[2020-07-31 07:12] manmay-nakhashi commented on #156
@dathudeptrai no, i am running with single gpu

[2020-07-31 07:55] abylouw commented on #170
Thanks, I'll try stonemask. I don't really mind if it is slower, it is just pre-processing.

[2020-07-31 08:17] superhg2012 opened #171 "any plan to implement parallelWavegan?"

[2020-07-31 08:37] abylouw commented on #170
I can confirm that stonemask has fixed my issue and I cannot see much difference in processing speed, although I have not tested it with  /usr/bin/time.

[2020-07-31 09:28] dathudeptrai commented on #170
@abylouw can you report here if the training process work fine or even better :)))

[2020-07-31 16:11] dathudeptrai commented on #171
@superhg2012 yes, but i need make the framework clearer and simpler + support more language first :)).

[2020-07-31 16:40] ZDisket commented on #164
@MegaPanchamZ You can use tensorflow==2.3.0, I managed to convert a model and almost run inference from C++ (need to recompile tflite with flux delegate)

[2020-08-01 00:24] MegaPanchamZ commented on #164
@ZDisket seems interesting. I will look into compiling it soon.

[2020-08-02 00:13] machineko commented on #145
@dathudeptrai Im back from work stuff and ready to train libritts would love to get this VCTK mb-melgan to add to logger :)

[2020-08-02 02:21] dathudeptrai commented on #145
@machineko thank :D. Looking for ur PR :D

[2020-08-02 10:17] tekinek commented on #125
Hi @dathudeptrai ,
When I try to train a multi band melgan model, I got an error syas "Paddings must be non-negative: 0 -6400". It happens in evaluation. Anything wrong with eval data?

[train]:   0%|                                                                                                                   | 0/4000000 [00:00<?, ?it/s]
2020-08-02 12:54:31.041261: I tensorflow/core/kernels/da

[2020-08-02 10:27] dathudeptrai commented on #125
@tekinek are u using newest code ? If no let try newest code then i can easily debug

[2020-08-02 11:42] machineko commented on #145
@dathudeptrai  " I also convert the mb-melgan VCTK weight from kan's repo to this implementation with some trick, if you like i can share :D" -> Can u share :P?

[2020-08-02 11:52] tekinek commented on #125
@dathudeptrai  Yes, it was an older code base. But updating to the newest introduced new error. It seems your recent update to the `multiband_melgan.v1.yaml ` is not fully compatible with `train_multiband_melgan.py`, where older naming "generator_params" still apears and causes problem when `remove_short_samples` is enabled.

[code]

[2020-08-02 11:58] dathudeptrai commented on #125
@tekinek let replace generator_params to multiband_generator_params

[2020-08-02 12:19] tekinek commented on #125
@dathudeptrai  now it seems fine. First validation phase passed without error. For your reference, there are some other naming mismatches between` train_multiband_melgan.py` and `multiband_melgan.v1.yaml`

https://github.com/TensorSpeech/TensorFlowTTS/blob/ddd3caf20bb0032852f04296f9192be6e80f3caf/examples/multiband_melgan/train_multiband_melgan.py#L430-L440

[2020-08-02 15:59] dathudeptrai commented on #145
@machineko ur email ?, BTW, to make the conversion work, i need modify the structure a bit, i hope we will have a mb-melgan trained with this repo. But we can use the converted model to check the performance of universal vocoder :D.

[2020-08-02 16:03] machineko commented on #145
@dathudeptrai machineko@protonmail.com also https://docs.github.com/en/github/building-a-strong-community/about-team-discussions maybe we can add this to repo for better comunication :)

[2020-08-02 16:05] dathudeptrai commented on #145
@machineko i know that :)) but let wait a bit :)), when the right time come :)) i will do that (soon !! ).

[2020-08-02 16:06] machineko commented on #145
there is also https://github.com/vercel/vercel/discussions/3874 but its in beta

[2020-08-03 01:15] ZDisket opened #172 "Cannot save FastSpeech2 model to .pb"
When I load a FastSpeech2 model to save to a SavedModel .pb (for inference with C++), as it says here: https://www.tensorflow.org/guide/keras/save_and_serialize#export_to_savedmodel doing `fastspeech2.save("fs2mdl")`, I get this error:
[code]
Full error log in attached text file
[allframes.txt](https://github.com/TensorSpeech/TensorFlowTTS/files/5013307/allframes.txt)

[2020-08-03 01:17] ZDisket commented on #163
@unparalleled-ysj

How?

[2020-08-03 01:19] dathudeptrai commented on #172
@ZDisket pls follow the instruction in this notebook (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/fastspeech2_inference.ipynb).

[2020-08-03 01:22] ZDisket commented on #172
@dathudeptrai Oh, didn't know that notebook had that function. Thanks!

[2020-08-03 01:22] #172 closed

[2020-08-03 01:28] unparalleled-ysj commented on #163
Just using tf.saved_model.save() like notebooks

[2020-08-03 02:13] mapledxf commented on #166
@jiayue198509 Could u plz close this issue?

[2020-08-03 02:17] #166 closed

[2020-08-03 08:28] LLianJJun opened #174 "How to use waveglow vocoder?"
Hi~

I want to check voice by combining your fastspeech, fastspeech2 and nvidia-waveglow [waveglow](https://github.com/NVIDIA/waveglow)

When training waveglow, if I train with min ~ max (80~7600),    (default values 0 ~ 8000)
is it possible to combine with your txt2mel results?

[2020-08-03 08:38] dathudeptrai commented on #174
@LLianJJun you should to check all parameter related with preprocessing steps. (hop_size, f0 min-max, ...). That mean you should check if the `raw melspectrogram` is the same for both model. My model can be revert to `raw` mels based-on mel stats pre-computed.

[2020-08-03 11:44] unparalleled-ysj commented on #169
@dathudeptrai Suppose I trained an mb-melgan with 16k sampling rate data, can I generate 8k sampling rate speech through parameter settings instead of post-processing ?

[2020-08-03 13:52] dathudeptrai commented on #169
can't use parameter settings to do that :D

[2020-08-03 14:45] r7sa opened #178 "Can't train MB-MelGAN"
When try to train Multiband MelGAN I got situation like this:
![Screenshot from 2020-08-03 17-32-47](https://user-images.githubusercontent.com/2682547/89194613-44981780-d5b0-11ea-97cb-2e0eb2303e65.png)
When trained only generator - all done normally. Generated sound looks good.
When at 200k step started discriminator training generator is improved slightly, but discriminator does not trained at al

[2020-08-03 15:00] dathudeptrai commented on #178
@r7sa master code ?

[2020-08-03 15:26] r7sa commented on #178
yes. current master.

[2020-08-03 15:29] r7sa commented on #178
Config (differ only in upsample_scales and batch_max_steps):
[code]

[2020-08-03 15:32] dathudeptrai commented on #178
@r7sa what is the size (MB) of .h5 weight ? (for both generator and discriminator ? )

[2020-08-03 15:35] r7sa commented on #178
$ ls -al discriminator-200000.h5 generator-200000.h5
 15976792  discriminator-200000.h5
  6914792   generator-200000.h5
Network summary:
[code]

[2020-08-03 15:37] dathudeptrai commented on #178
@r7sa ok :)), i will fix :D

[2020-08-03 15:43] dathudeptrai commented on #178
@r7sa fixed :D.

[2020-08-03 15:43] #178 closed

[2020-08-03 15:44] dathudeptrai commented on #148
Fixed :D.

[2020-08-03 15:44] #148 closed

[2020-08-03 15:48] #171 closed

[2020-08-03 15:49] dathudeptrai commented on #163
I will close this issue :D

[2020-08-03 15:49] #163 closed

[2020-08-03 15:50] dathudeptrai commented on #164
closed issue :D. feel free to re-open

[2020-08-03 15:50] #164 closed

[2020-08-03 15:51] #155 closed

[2020-08-04 00:15] ZDisket opened #179 "Cannot run mb_melgan inference with C API: You must feed a value for placeholder tensor 'saver_filename' with dtype string"
I converted the VCTK multiband melgan model which was made from converted weights from kan-bayashi's repo into a SavedModel as detailed in the multiband melgan inference notebook and it works fine in Python but when loading it into the C API (the same way I loaded a FastSpeech2 model and ran inference) and trying to run inference I get this:
[code]
When I feed it that value with anything, it first

[2020-08-04 02:26] dathudeptrai commented on #179
@ZDisket seems i can't help in this case since i didn't use c++ for inference :D. Pls refer this comment (https://github.com/TensorSpeech/TensorFlowTTS/issues/53#issuecomment-661772767). @sujeendran can you help him ?

[2020-08-04 02:32] ZDisket commented on #179
@dathudeptrai I'm using Tensorflow C API, he's using the Lite one. Can multiband melgan be converted to TFLite with just built in ops (therefore not requiring Flex delegate, which cannot be built for Windows)? It would be a bit of a mess, but I can use both if absolutely necessary.

[2020-08-04 02:34] dathudeptrai commented on #179
@ZDisket MB-melgan is just convolution, so only tflite built-in is enough :D

[2020-08-04 03:45] ZDisket commented on #179
@dathudeptrai I managed to pair Tensorflow C API FastSpeech2 and TFLite MB-melgan, but the audio comes out extremely fast, I think it's because I didn't give it a pass on the PQMF after synthesis as that happened in my notebook too when I removed that step, does the TFLite MB-melgan model have the PQMF?

[2020-08-04 03:59] dathudeptrai commented on #179
@ZDisket yes, pqmf is inside mb_melgan class. see https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/mb_melgan.py#L159-L187. You just need convert to tflite again :D.

[2020-08-04 04:06] ZDisket commented on #179
@dathudeptrai I see that the synthesis function already does one pass in in the PQMF
https://github.com/TensorSpeech/TensorFlowTTS/blob/9804aefab9dd600b0e9b70c9fc83590338988b8e/tensorflow_tts/models/mb_melgan.py#L185-L187
Can I make it so that it does another, or is there a reason why in the notebooks the second pass always happens outside of the class?

[2020-08-04 04:09] dathudeptrai commented on #179
:)))) the reason is because the notebook is outdate =))))))))))). I will update it later :v.

[2020-08-04 04:36] LLianJJun commented on #174
Thnaks!

[2020-08-04 04:36] #174 closed

[2020-08-04 04:40] ZDisket commented on #179
@dathudeptrai For some reason adding a second pass doesn't fix the problem, it seems that PQMF passes inside the MB-melgan class are ineffective, so I had to export it separately to TFLite.

[2020-08-04 07:26] ZhaoZeqing opened #180 "Fastspeech2 model bad with shorter vocab size ?"
I run preprocessor with my own symbols which is shorter than LJSpeech symbols, and trained Fastspeech2 model with this new symbols, but the audios synthesized by this model are not good.
If I didn't change this [line](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/configs/fastspeech.py#L19), just use LJSpeech symbols' length,  the audios are great.
A little puzzled about

[2020-08-04 07:31] dathudeptrai commented on #180
:))))))))))))) @ZhaoZeqing you make me puzzle also :)). BTW, chinese will be support tonight, or tmr :))). A quality is great :)).

[2020-08-04 16:39] Zak-SA opened #181 "TypeError when training new Tacotron2"
I am getting this error when start Training from scratch with Tacotron2
Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 471, in <module>
    main()
  File "examples/tacotron2/train_tacotron2.py", line 417, in main
    is_mixed_precision=args.mixed_precision,
TypeError: Can't instantiate abstract class Tacotron2Trainer with abstract methods _check_log_interva

[2020-08-04 16:53] machineko commented on #145
I've try vctk_multi_band_melgan.v2 from ParallelWaveGAN and it works awful compared to waveglow (next run i'll retrain model using 0-8000hz freq config to push output of models through waveglow and see results)

[2020-08-04 18:13] nurjan84 opened #182 "Non-english dataset. Tacotron2 generated mels from "infrence" method completely wrong, but validation spectrograms while training are good."
I have a non english dataset (cyrilic). Preprocessed with "transliteration_cleaners".
So, decode_tacotron2.py generates mess, but validation spectrograms (generated mels while traning) are good.
Tryed to call  inference method  with  the same input text from validation folder. It generates something random. Each time inference generates different random mel.

What I did wrong?

[2020-08-04 19:37] tekinek commented on #182
@nurjan84  Sounds like cleaner mismatch on prepossessing and inference. If you use non-default or custom cleaner, make sure that this place is changed accordingly:
https://github.com/TensorSpeech/TensorFlowTTS/blob/9804aefab9dd600b0e9b70c9fc83590338988b8e/tensorflow_tts/bin/preprocess.py#L261

When you create an instance of LJSpeechProcessor for inference, make sure to pass correct cleaner name:
[

[2020-08-04 19:49] ZDisket commented on #179
Alright, I got inference with PQMF as a separate TFLite model working, I'll just close this issue

[2020-08-04 19:49] #179 closed

[2020-08-05 01:03] #181 closed

[2020-08-05 03:02] unparalleled-ysj commented on #169
@dathudeptrai Hi, after I update this change, mbmelgan output shape is (1, 38250, 4) ,   the original version is (1, 153000, 1)

[2020-08-05 03:25] dathudeptrai commented on #169
@unparalleled-ysj that mean the output of mb_melgan should pass to pqmf to generate a final audios. 38250 * 4 = 153000. :D

[2020-08-05 03:30] unparalleled-ysj commented on #169
@dathudeptrai But the pqmf.synthesis function has been called in mbmelgan's inference, isn't it? Why is the output dimension still (1, 38250, 4)?

[2020-08-05 03:33] dathudeptrai commented on #169
@unparalleled-ysj i do not know, maybe you did something wrong ?. Pls see the notebook (https://github.com/TensorSpeech/TensorflowTTS/blob/master/notebooks/multiband_melgan_inference.ipynb), everything is fine

[2020-08-05 03:36] unparalleled-ysj commented on #169
I did it based on this notebooks. By the way, my model was trained before updating the auto_model code. Is the problem here?

[2020-08-05 03:38] dathudeptrai commented on #169
@unparalleled-ysj yes :)) that is the problem :D

[2020-08-05 03:45] unparalleled-ysj commented on #169
@dathudeptrai Okay, thanks, let me find the problem, so should I retrain a model?

[2020-08-05 03:46] dathudeptrai commented on #169
@unparalleled-ysj no need to retrain :D just pull the newest code and everything will be fine

[2020-08-05 03:51] unparalleled-ysj commented on #169
@dathudeptrai My current code is the latest, but the model was trained before updating the auto_model code. According to the notebooks steps, the model conversion and use are no problem, but the output dimension becomes (1, 38250, 4)

[2020-08-05 03:54] dathudeptrai commented on #169
@unparalleled-ysj i do not know what you did wrong but if the outshape is (1, 38250, 4) so let use pqmf.synthesize(ur_output) to get final audio first.

[2020-08-05 03:57] unparalleled-ysj commented on #169
@dathudeptrai I just tried it and the voice is ok

[2020-08-05 05:10] dathudeptrai commented on #169
@unparalleled-ysj hi, i know the problem, pls pull request the latest master :D. I just fixed :D.

[2020-08-05 05:10] #169 closed

[2020-08-05 05:14] dathudeptrai opened #183 "🇰🇷 Korean TTS now available 😘"
Korean TTS now available, thank Jaehyoung Kim (@crux153) for his support :D. The model used KSS dataset here (https://www.kaggle.com/bryanpark/korean-single-speaker-speech-dataset). Thank @Kyubyong for the opensource korea dataset :D. The pretrained model licensed under `CC BY-NC-SA 4.0` (https://creativecommons.org/licenses/by-nc-sa/4.0/) as same as the license of original KSS dataset.

Pls check

[2020-08-05 08:37] nurjan84 commented on #182
**bin/preprocess.py**

I did preprocessing with "transliteration_cleaners"

`processor = dataset_processor[config["dataset"]](
        config["rootdir"], cleaner_names="transliteration_cleaners"
    )`

**examples/decode_tacotron2.py**
Has no any settings for cleaners. It just takes ids from validation folder and then generates mels (tacotron2.inference()).

Evaluation sprectrograms generated duri

[2020-08-05 08:40] dathudeptrai commented on #182
@nurjan84 can you share your tensorboard and ur mel-predicted in valid ?

[2020-08-05 09:03] dathudeptrai commented on #179
that is my bug, sorry :D. The newest code fixed this problem :D

[2020-08-05 14:07] nurjan84 commented on #182
I'm trainig in Google Colab. Here is predicted spectrograms for same input ids.  Archive contains mel files and generated sound.
[predicted mels_and_sounds.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5028881/predicted.mels_and_sounds.zip)

Evaluation spectrograms and aligment while training at 3600 steps: It sounds good.

![1](https://user-images.githubusercontent.com/6967566/89419334

[2020-08-05 16:18] Zak-SA commented on #165
I am having the same issue, any suggestions how to solve it?
Thanks

[2020-08-05 16:19] dathudeptrai commented on #165
@Zak-SA https://github.com/TensorSpeech/TensorFlowTTS/issues/170

[2020-08-05 16:28] Zak-SA commented on #165
Thanks

[2020-08-05 17:36] tekinek commented on #125
Hi @dathudeptrai
My multiband melgan training seems to be in trouble.  Even at ~1m steps, it only generates strong continues BEEP sound. adversarial_loss, dis_loss and fake_loss are almost static. What might be wrong with it?
thanks!

![melgan_tb1](https://user-images.githubusercontent.com/68597606/89444800-d8224180-d784-11ea-80bb-2b72521dfd9d.png)

![melgan_ref1](https://user-images.githubusercon

[2020-08-05 17:51] tekinek commented on #182
@nurjan84 can you use following notebook to test your model?
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/tacotron2_inference.ipynb

It is good way to check your trained model step by step. You can do inference on custom text or just load the example ids from validation set.

What is that loop in your tensorboard loss figures? (resuming?)  by the way, "mmmmmm aaaaaaaa mmmmmm

[2020-08-05 17:53] dathudeptrai commented on #125
@tekinek if i were you, i would stop training after 10k steps :)). Your problem is related to stft loss, there are some samples makes stft loss very high. I think i can solve this problem, let pull the newest code and try replace (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/train_multiband_melgan.py#L153-L155) to:

[code]

that mean all samples in batch has

[2020-08-05 18:03] dathudeptrai commented on #182
@nurjan84 3600 steps is just too small. You need to train around 50k-80k steps.

[2020-08-05 18:32] tekinek commented on #125
I see, thanks @dathudeptrai. me and my dataset seem to be good trouble makers. I will report the update here.

[2020-08-05 20:35] Zak-SA commented on #170
Can you please post the changes you made to switch from remove_outlier to stonemask?

[2020-08-05 21:48] Zak-SA opened #185 "Switching from outlier to pw.stonemask"
Hi,
I am having the error:

ValueError: Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required by StandardScaler.

according to issue #170 discussion replacing the remove_outlier with pw.stonemask should solve this error.

Can anyone help with sharing the changes needed and the modified preprocess.py after the change?
Highly appreciate the help.

Thanks

[2020-08-05 21:59] Zak-SA commented on #185
And I have one more question,  can someone explain why the remove_outlier causing this error? Is it related to something with the audio files? Is there something we can do to avoid this error before preprocessing the data?
Thanks

[2020-08-06 02:04] dathudeptrai commented on #185
the problem with the remove_outlier is because:

[code]
I will push commit to fix that :D

[2020-08-06 02:10] Zak-SA commented on #185
thanks

[2020-08-06 02:13] dathudeptrai commented on #185
@Zak-SA i just commit the fix :)) let try again :D

[2020-08-06 02:13] #185 closed

[2020-08-06 02:19] Zak-SA commented on #185
I am applying the fix you committed, will let you know in few minutes. It usually crash at 31% .
Thank you

[2020-08-06 02:25] Zak-SA commented on #185
Awesome,  it worked! And it didn't take long.
Thank you so much.

[2020-08-06 02:32] tekinek commented on #125
@dathudeptrai
[code]

It seems that this code has filtered out everything?

![melgan_err2](https://user-images.githubusercontent.com/68597606/89483867-af736980-d7cf-11ea-88a6-03b39854c557.png)

[2020-08-06 02:36] dathudeptrai commented on #125
@tekinek let try only apply tanh :)), and tune the 2.0 value :)), it's just example :)), i think 4.0 or 5.0 is valid value :D

[2020-08-06 05:13] nurjan84 commented on #182
The loops in loss graphs are from previous training. I was experimenting.
Previously, tacotron2 was trained 21k steps, and I got same results : validations was good, inferece was bad.
Then, I started to experiment with preprocessing code.  Deleted some punctuations symbols , that not present in my dataset.
Now its like this:
`_punctuation = ",.? "`

Ok, I will train 50k steps and then we will see

[2020-08-06 07:10] manmay-nakhashi opened #186 "mb-melgan training from checkpoint shoots up loss in between"
[train]:   0%|                                                                                                                                                   | 1200/4000000
[WARNING] (Step: 1200) train_adversarial_loss = 0.7722.
[WARNING] (Step: 1200) train_subband_spectral_convergence_loss = 1.3400.
[WARNING] (Step: 1200) train_subband_log_magnitude_loss = 0.7954.
[WARNING] (Step: 1200) train_

[2020-08-06 07:12] dathudeptrai commented on #186
@manmay-nakhashi seems mb-melgan have a some data-related problems. Can you try to apply tanh function after pqmf.synthesis first ?

[2020-08-06 07:14] manmay-nakhashi commented on #186
@dathudeptrai sure

[2020-08-06 07:38] manmay-nakhashi commented on #186
@dathudeptrai it seems training is stabilized for now , i'll still monitor it for a while and get back to you. :))

[2020-08-06 07:39] tekinek commented on #125
@dathudeptrai  tuning the value 2.0 to 5.0 or 10.0, and applying tanh to syntheiss output  (`return tf.nn.conv1d(x, self.synthesis_filter, stride=1, padding="VALID")`) couldn't solve problem:(

![melgan_err3_5 0](https://user-images.githubusercontent.com/68597606/89504397-7d2b3180-d7fa-11ea-9f10-cdbbf6ee4ad9.png)

[2020-08-06 07:39] dathudeptrai opened #187 "[WARNING] Nan problem in PostNet of FastSpeech/FastSpeech2 when using Multi-GPU."
I just found that `tf.keras.layers.experimental.SyncBatchNormalization` in multi-gpu can yield `nan` loss sometimes. There are some issue already in github (https://github.com/tensorflow/tensorflow/issues/41980). The workaround right now is simply remove postnet in FastSpeech/FastSpeech2 (if you get nan before the model convergence :D, in my case, i got nan after model convergence so everything fi

[2020-08-06 07:42] dathudeptrai commented on #125
@tekinek it's already solve man :))). The discriminator will train after 200k steps :)).

[2020-08-06 07:45] dathudeptrai commented on #186
@tekinek, @ZDisket. Seem tanh is the solution :)).

[2020-08-06 07:46] mapledxf opened #188 "Dataset EOS symbol issue"
@dathudeptrai Hey, I have a question.

I can see Korean script has been added.
However, the following  code is still using the LJSpeech's EOS symbol
https://github.com/TensorSpeech/TensorFlowTTS/blob/7ae6e4e1f71a4363461dcecc018a3c4eff7ba409/examples/tacotron2/tacotron_dataset.py#L142

It might be wrong if some modules use different EOS symbol in their script.

[2020-08-06 07:49] dathudeptrai commented on #188
Yeah, i will solve this confuse issue. KSS for korea and Baker for chinese also use eos in the end of symbols so atleast rightnow there is no problem :D. I will re-design the processor :)))

[2020-08-06 08:03] tekinek commented on #125
@dathudeptrai good to know that:)  thanks! let me wait more training.

[2020-08-06 08:15] manmay-nakhashi commented on #186
@dathudeptrai
[WARNING] (Step: 5600) train_adversarial_loss = 0.6759.
[WARNING] (Step: 5600) train_subband_spectral_convergence_loss = 1.1389.
[WARNING] (Step: 5600) train_subband_log_magnitude_loss = 0.7037.
[WARNING] (Step: 5600) train_fullband_spectral_convergence_loss = 0.8178.
[WARNING] (Step: 5600) train_fullband_log_magnitude_loss = 0.8724.
[WARNING] (Step: 5600) train_gen_loss = 3.4561.
[W

[2020-08-06 08:18] dathudeptrai commented on #186
@manmay-nakhashi can you follow the solution here #125. Mask the loss >= value :)).

[2020-08-06 08:21] manmay-nakhashi commented on #186
@dathudeptrai i have started training from english checkpoint , do i still need to train generator separately ?

[2020-08-06 08:23] dathudeptrai commented on #186
@manmay-nakhashi even you load english checkpoint and continue to training, you still need follow the default config :)).

[2020-08-06 08:25] manmay-nakhashi commented on #186
@dathudeptrai ok , great , i'll do that :)

[2020-08-06 09:39] superhg2012 opened #189 "FastSpeech2 model implementation and alignments"
Hi,  I see that your  implementation of VariantPredictor is different from source paper's  description.

1  the inputs of  pitch predictor and energy predictor is outputs from  length regulator which is different with this repo. I am not sure whtether it will affect the quality of synthesis.

2 about the alignments, this repo still use alignments from Tacotron2 or TransformerTTS, not MFA.

[2020-08-06 09:44] dathudeptrai commented on #189
@superhg2012

1. I implemented exactly paper said but got bad performance then i changed a model a bit :)). You can train and see the performance :D.

2. We are working for MFA, there are some problem now :)) hope will finish soon.

[2020-08-06 11:38] tekinek commented on #188
Yes, this code can be an issue. In my model, I created a custom processor for my language bu didn't know that above code should be changed accordingly. Lucky I kept the same symbol for eos and used less symbols than ljspeech processor, so that eos id can still be consistent in prepossessing and inference. Actually above code would cause error if number of custom symbols is larger than ljspeech (14

[2020-08-06 11:43] dathudeptrai commented on #188
@tekinek yeah, we already know an issue, let us disscuss about this problem and re design processor class.

[2020-08-06 13:40] manmay-nakhashi commented on #125
@dathudeptrai i am getting beep sound at 75k generator only is it okay ? does only generator training give some kind of output or we have to wait  till discriminator starts ?

[2020-08-06 14:21] dathudeptrai commented on #125
@manmay-nakhashi it's not ok, around 10k steps it should be audible. This is a know issue of Mb-melgan. Even i adding clip for stft loss and apply tanh function for synthesis but it's still not solve this problem clearly. You should tune the upper bound value of stft loss to prevent this problem. Can you share ur tensorboard ?

[2020-08-06 14:47] manmay-nakhashi commented on #125
@dathudeptrai i'll send you tensorboard image shortly

[2020-08-06 16:02] dathudeptrai commented on #188
@mapledxf @tekinek we are trying to solve this problem by introduce the base_processor class. With the new abstract class, [eos, bos, unk, pad] will be an attribute of the processor class. Pls take a look https://github.com/TensorSpeech/TensorFlowTTS/blob/base_processor/tensorflow_tts/processor/base_processor.py. Let discuss.

[2020-08-06 17:03] manmay-nakhashi commented on #125
@dathudeptrai

before clipping
![mb_melgan](https://user-images.githubusercontent.com/17176700/89560531-c26c5500-d834-11ea-9f7c-01810d3f11f0.png)

after clipping at 5 and applying tanh , it fixes the issue i guess :))
![mb_melgan_after_clipping_5_tanh](https://user-images.githubusercontent.com/17176700/89560276-643f7200-d834-11ea-8a62-cdec09f9394b.png)

[2020-08-06 17:06] dathudeptrai commented on #125
@tekinek what is ur upper bound value :))). @manmay-nakhashi 5.0 is magic number haha :)) i guess 4.0 is a best number :v.

[2020-08-06 17:09] manmay-nakhashi commented on #125
@dathudeptrai haha i'll try it with 4.0 :P

[2020-08-06 19:58] ZDisket commented on #179
@dathudeptrai I'm almost finished with the implementation, my mb-melgan outputs noisy audio, do you think it's because the vocoder is TFLite?
[Sample 1](https://u.smutty.horse/lwjrnjlwmlt.wav)
[Sample 2](https://u.smutty.horse/lwjrnoldmuc.wav)

[2020-08-06 21:18] tekinek commented on #188
@dathudeptrai  It is good to have base_processor.py.
My concern is on overall structure of this project, which is still bit confusing to me. Let me write down what has crossed my mind for the moment.

When we have a new dataset, we do preprocessing to prepare training data. This process relies on a dataset-specific data loader, and a text util (let's call it frontend) to normalize transcript and c

[2020-08-07 01:19] dathudeptrai commented on #188
@machineko what do you think.

[2020-08-07 01:42] machineko commented on #188
As we were speaking before we need to refactor repo for better Developer usability. Start from processing and  dataset creation :P I Think base prepro branch will be first step in it :)

[2020-08-07 02:18] dathudeptrai commented on #188
we should make AutoProcessor Class as AutoConfig and TFAutoModel. when we preprocessing the dataset, we should save a pretrained file for AutoProcessor then we can reuse it by AutoProcessor.from_pretrained(path). The symbols can be save easily, the hard part is how can we save text_to_sequence to reuse later. In some cases, user change the function text_to_sequence frequently so to keep the code u

[2020-08-07 02:28] dathudeptrai commented on #179
@ZDisket seem the last samples is ok, there is no noise, what is the differences ?

[2020-08-07 02:57] ZDisket commented on #179
@dathudeptrai The first 2 are inferenced with TFLite API, the last one is with regular Tensorflow. I managed to fix the original problem and now I'm only using Tensorflow C API.

[2020-08-07 02:59] dathudeptrai commented on #179
@ZDisket any comment about inference speed/ latency ?

[2020-08-07 03:06] ZDisket commented on #179
@dathudeptrai According to my rough estimations (using my phone timer), this sentence: `Hello, I have cards and a Ford Mustang` takes about 08.79s from input to WAV saving the first time, then the rest slightly less than 2 seconds, in a dual-core A6-7400k CPU. Most people have way better hardware, so it's probably going to be way faster.

[2020-08-07 05:40] manmay-nakhashi commented on #125
@dathudeptrai
after starting a discriminator it again happened one time but after that it settles down
[WARNING] (Step: 205600) train_adversarial_loss = 1.0104.
[WARNING] (Step: 205600) train_subband_spectral_convergence_loss = 0.9997.
[WARNING] (Step: 205600) train_subband_log_magnitude_loss = 1.1088.
[WARNING] (Step: 205600) train_fullband_spectral_convergence_loss = 1.0251.
[WARNING] (Step: 205

[2020-08-07 05:43] tekinek commented on #188
@dathudeptrai
Recently added AutoConfig & TFAutoModel and their placement in tensorflow_tts/inference are nice.

why? for multiple languages?

For text_to_sequence reuse,  saving the char-to-id map into config along with pretrained may help.

I think as this project is becoming stable, many people hope an easy pip&train$inference works for their languages without much engineering issues (at least

[2020-08-07 05:48] superhg2012 commented on #189
@dathudeptrai  get it! I will try that. For mandarin, there are prodody tags line #1, #2, #3 and #4 ,  it seemed that  these tags can not be aligned with MFA alignment tools.

[2020-08-07 05:52] dathudeptrai commented on #188
Example for chinese, there are so many way to represent text. charactor, phoneme + tone, pyyinyin, ... or in case you want to train multi lingual, code switching, ...

Save symbols is ok, but how can we save a logic of this function ?. But saving only symbols is ok for now :D.

Okay, we will make it more general. Let begin with processor first :(.

[2020-08-07 05:53] dathudeptrai commented on #125
@manmay-nakhashi so for now, everything is still ok ?

[2020-08-07 05:57] manmay-nakhashi commented on #125
@dathudeptrai generator trained properly till 200k steps once i start discriminator it becomes unstable after 5k steps

[2020-08-07 06:01] dathudeptrai commented on #125
@manmay-nakhashi real/fake loss computed here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/train_multiband_melgan.py#L179-L198)

[2020-08-07 06:03] dathudeptrai commented on #189
@superhg2012 i don't know mandarin. @candlewill @azraelkuan can you guys help ?

[2020-08-07 06:12] tekinek commented on #188
@dathudeptrai  I see. So your point is how to bind text_to_sequence function to a pretrained model for inference when the frontend logic is outsize the tensorflow_tts (pip restriction? please correct me if I am wrong).

[2020-08-07 06:21] tekinek commented on #188
Besides, I have yet to work Chinese TTS. If character is used to represent text, than model needs uncertainly big number of vocab_size. This is also a consideration.

[2020-08-07 06:21] dathudeptrai commented on #188
Yes. I want the code as bellow:

[code]

if text_to_sequence is unchange, saving only symbols is ok :D. BUt i think there are some people try to train the model with many kind of text (charactor, phoneme, phoneme + tone, IPA, pyyinyin, ...) so if we can bring a text_to_sequence along with pretrained model, we will completely reproduce in the inference stage. Conclusion, we need processor_pretraine

[2020-08-07 06:39] tekinek commented on #188
@dathudeptrai
what about creating a separate repo for frontends, where people can find many text processors for their languages and choose one for their model.  So the your code can be something like this:

!pip install TensorflowTTS-frontend
!pip install TensorflowTTS

[code]

for user

[code]

[2020-08-07 06:40] ZDisket commented on #188
@dathudeptrai

With or without pip Tensorflow?

[2020-08-07 06:53] dathudeptrai commented on #188
@ZDisket with pip install TensorFlowTTS.

@tekinek that also ok, we will try to finish processor problem in this week :D.

[2020-08-07 07:00] manmay-nakhashi commented on #188
@dathudeptrai we can also try something like this
ids = processor.text_to_sequence("....", language = ['en_us','chines','ko',......etc], scheme = [symbols, phoneme])
under each language we can add different processors and [symbol schemes or phoneme schemes]

[2020-08-07 07:45] ZhaoZeqing commented on #180
@dathudeptrai  Thanks! I tried to get duration from 15w steps tacotron2, then both ljspeech symbols' length or my own symbols' length are great :)   Maybe the model I used to get duration is not so good before ?

[2020-08-07 08:41] manmay-nakhashi commented on #125
@dathudeptrai it's been 20k steps and traning is mimicking english graph pattern so i am hoping it'll converge better after sometime. i'll post tensorboard after 50k training steps

[2020-08-07 09:03] tekinek commented on #188
@manmay-nakhashi it is nice, I think.

@dathudeptrai
By the way, I suggest following "About" for this repo:
TensorFlowTTS: Real-Time State-of-the-art Speech Synthesis for Tensorflow 2 (Out of the box support for English and Korean; easy adaptable for others)

[2020-08-07 12:50] tekinek commented on #125
hi @dathudeptrai

opps here:( My mb-melgan training still seems problematic. Mine was 10.0 clip for stft losses and tanh to synthesis output. Should I try 4.0, and is resuming from 200k fine?

![melgan_err1_0807](https://user-images.githubusercontent.com/68597606/89646245-ffe0e900-d8ed-11ea-9adf-cc38200c9084.jpg)

![melgan_err2_0807](https://user-images.githubusercontent.com/68597606/89646809-0de3

[2020-08-07 12:54] dathudeptrai commented on #125
@tekinek what is ur discriminator parameter?

[2020-08-07 13:11] manmay-nakhashi commented on #125
@dathudeptrai i have tried sigmoid function , but as discriminator starts it stars adding beep to the waveform , then i replaced it with swish and it started working for me but there is an edge effect in the audio straight spikes , i think can be handled with padding or filtering (or may be it'll go away as model converges )

[2020-08-07 13:18] tekinek commented on #125
@dathudeptrai  I haven't touch the defaults.

[2020-08-07 13:21] dathudeptrai commented on #125
@tekinek there is no problem about stft loss in ur tensorboard. The problem is about discriminator :D. Let check ur current code and this line (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/melgan.py#L379-L380).

[2020-08-07 14:02] manmay-nakhashi commented on #125
@dathudeptrai have encountered edge effects in initial discriminator training ?

[2020-08-07 14:39] tekinek commented on #125
@dathudeptrai

It is like this:

[code]

[2020-08-07 14:48] azraelkuan commented on #189
yes, mfa can only align sp1, so if u want more prosody tags, u need to train a prosody predictor @superhg2012

[2020-08-07 15:44] dathudeptrai commented on #125
@tekinek what is a number of parameter on ur discriminator ?. All downsample_sacles are 4 is correct.

[2020-08-07 15:49] tekinek commented on #125
@dathudeptrai  Parameter number of discriminator is 3,981,507

[2020-08-07 15:50] tekinek commented on #125
FYI: this pytorch implementation of mb-melgan worked before with the same dataset.

https://github.com/TensorSpeech/TensorFlowTTS/blob/7d9e497592e90c0d2da8664e92ae0ae2d5e2b174/tensorflow_tts/models/melgan.py#L379-L380

[2020-08-07 15:52] dathudeptrai commented on #125
that is totally wrong somehow, the correct parameter is > 16M. That is why ur discrimiator loss convergence at 0.25 :)). everything is ok :)).

[2020-08-07 16:05] tekinek commented on #125
@dathudeptrai  I see. Then what causes such a big difference in #of params under default settings?

[code]

[2020-08-07 16:09] dathudeptrai commented on #125
@tekinek sorry. it should be:

[code]

[2020-08-07 22:18] Zak-SA opened #192 "synthesize test set"
Any tutorial on how to synthesize a test set or demo server using specific checkpoint while the training is ongoing?

Training is ongoing for Tacotron 2, I Decoded mel-spectrogram from folder ids for a checkpoint and I would like to listen to a synthesized sentences (wav)  generated by the checkpoint, because TensorFlowTTS is not synthesizing a sentence with every checkpoint  and only generating p

[2020-08-08 03:14] Zak-SA commented on #192
I tried the tacotron2_inference but I am getting the following error:

ValueError: Unable to load weights saved in HDF5 format into a subclassed Model which has not created its variables yet. Call the Model first, then load the weights.

tacotron2_inference saying not to build a model if we want to save it to PB

and how to synthesize the validation set to wav?

Thanks

[2020-08-08 04:16] dathudeptrai commented on #192
@Zak-SA if you run the notebook, you should use tensorflow-gpu==2.2.0

[2020-08-08 04:26] Zak-SA commented on #192
Thanks for your reply.

What other way to test the model and synthesize test sentences? And how to generate audio for the dev set?

[2020-08-08 04:29] dathudeptrai commented on #192
@Zak-SA you can use GL (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/griffin_lim_tensorflow.ipynb) here to convert mel predicted to audio. This is just for check because GL always noise, you should training vocoder. You can also try inference in colab https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing as reference

[2020-08-08 04:33] Zak-SA commented on #192
Thanks,

which vocoder you recommend to train and use?
Can you post the link to the vocoder you recommend?

Thanks

[2020-08-08 04:34] dathudeptrai commented on #192
https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/multiband_melgan

[2020-08-08 04:40] Zak-SA commented on #192
Thanks. Highly appreciated

[2020-08-09 08:17] Zak-SA commented on #192
what version of TensorFlowTTS required for training Multi-band MelGAN? I am getting this error when trying to train

File "examples/multiband_melgan/train_multiband_melgan.py", line 492, in <module>
    main()
  File "examples/multiband_melgan/train_multiband_melgan.py", line 366, in main
    ] + 2 * config["multiband_melgan_generator"].get("aux_context_window", 0)
KeyError: 'multiband_melgan_gene

[2020-08-09 08:18] dathudeptrai commented on #192
@Zak-SA the current master :D

[2020-08-09 08:19] Zak-SA commented on #192
sorry it was typo, I meant tensorflow

[2020-08-09 08:24] Zak-SA commented on #192
I updated the question, I am using Tensorflow-gpu==2.3 and getting am error when start training Multi-band MelGAN

[2020-08-09 08:31] dathudeptrai commented on #192
@Zak-SA can you replace all `multiband_melgan_generator` to `multiband_melgan_generator_params` ?

[2020-08-09 08:40] Zak-SA commented on #192
I did and it's working :)

one question, I got this message and i believe it's related to my gpu
2020-08-09 04:38:05.647319: W tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1972] No (suitable) GPUs detected, skipping auto_mixed_precision_cuda graph optimizer

would disabling the auto_mixed_precision affect the training?

Thanks again, I really appreciate how quick you respond to ques

[2020-08-09 08:43] dathudeptrai commented on #192
@Zak-SA what is ur GPU ? 2080TI or 1080Ti ?. This is jusst warning so everything should be ok :)).

[2020-08-09 09:01] Zak-SA commented on #192
thanks, I am currently using old GPU, it's Titan black, I will order 2080TI to replace my current gpu

thanks again

[2020-08-09 09:06] Zak-SA commented on #192
so it will be training generator with only stft loss for 400k step then resume and start training generator + discriminator starting from checkpoint 200k?

[2020-08-09 09:09] Zak-SA commented on #192
actually it's training limit is 4m not 400k

[train]:   0%|                       | 3744/4000000 [30:47<499:12:18

is that normal?

[2020-08-09 09:15] dathudeptrai commented on #192
@Zak-SA that normal, after 200k steps, the training progress will be stop :)) the nyou need resume and continue training. 1M steps is enough to get the best performance. 4M is just default setting, you can stop whenever you want :D.

[2020-08-09 09:25] Zak-SA commented on #192
Thanks,  I just got confused because the upper limit showed 4m. Thanks again

[2020-08-09 09:33] Zak-SA commented on #192
training stuck and the last message is:
2020-08-09 05:16:44.399937: F tensorflow/stream_executor/cuda/cuda_fft.cc:435] failed to initialize batched cufft plan with customized allocator:

[2020-08-09 09:36] dathudeptrai commented on #192
@Zak-SA this is a problem about CUDA version. Let try Cuda 10.1 and CuDNN 7.6.5. It should fix -_-.

[2020-08-09 09:37] Zak-SA commented on #192
That's what i have, I have Cuda 10.1 and CuDNN 7.6.5

[2020-08-09 15:26] wanfuse123 opened #193 "Data Sets How to Use?"
Hi! Thank you all for your hard work. I dont understand how to proceed from data sets to training the models . That is how to prepair and layout the datasets. It seems like from whats written you only support one dataset that being the LibriSpeech. But perhaps I am getting confused. Can you write more about using the different datasets, and also recommend which one is best to provide the most huma

[2020-08-09 19:18] Zak-SA commented on #192
I am re installing Ubuntu with Cuda 10.1 and CuDNN 7.6.5 and Tensorflow-gpu==2.3 then will try to train again

[2020-08-09 21:01] Zak-SA commented on #192
I re installed Ubuntu, Cuda 10.1 , CuDNN 7.6.5 and tensorflow-gpu==2.3 and still getting the same error
Any ideas? Could it be gpu issue?

[2020-08-10 02:14] dathudeptrai commented on #192
@Zak-SA https://github.com/keithito/tacotron/issues/300.  CUDA 10.0/CuDNN 7.5 is the solution ?

[2020-08-10 02:18] Zak-SA commented on #192
I will try with Cuda 10.0 and CuDNN 7.5

[2020-08-10 02:24] superhg2012 commented on #189
@azraelkuan thanks !!! by the way, The prosody predictor mentioned here is frontend models like lstm + crf?  or backend model?

[2020-08-10 03:32] unparalleled-ysj opened #194 "Tacotron2 fine-tune problem"
Hello, I trained a tacotron2 model with the A dataset. Based on this, I want to use the B dataset for fine-tuning, but something wrong:
![1](https://user-images.githubusercontent.com/39238619/89749643-32abfc80-dafb-11ea-8a37-42e8eaa25d12.png)
![1_alignment](https://user-images.githubusercontent.com/39238619/89749675-47889000-dafb-11ea-8f55-b6420045b0a5.png)

this is tensorboard:
<img width="1072"

[2020-08-10 04:18] mataym commented on #151
i have already created teh durations folder with MFA, but occurred following erro!
tensorflow-tts-preprocess --rootdir tensorflow_tts/datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
(tensorflowtts) [speechlab@localhost TensorflowTTS]$ tensorflow-tts-preprocess --rootdir tensorflow_tts/datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
Traceback (most recent

[2020-08-10 04:21] dathudeptrai commented on #194
@unparalleled-ysj let me expained the problem:

Fine-tune and resume are different. To fine-tune you just need add `tacotron2.load_weight(PATH_WEIGHT_MODEL_A)` after this line https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L425. The training progress sill begin at epoch = 0, iterations = 0. Use pretrained from model A may let the model convergence f

[2020-08-10 04:22] dathudeptrai commented on #151
@mataym replace _clean_text(m.group(1), self.cleaner_names) -> _clean_text(m.group(1), [self.cleaner_names])

[2020-08-10 04:34] ZDisket commented on #194
@dathudeptrai Why not include a `--pretrained` or `--finetune` command line option in the scripts that loads weights?

[2020-08-10 05:28] dathudeptrai commented on #194
@ZDisket i will do :(, just forgot about it :(

[2020-08-10 06:12] unparalleled-ysj commented on #194
@dathudeptrai  get it , thank you for your reply

[2020-08-10 06:37] mataym commented on #151
thank you so much ,it works. and when i train the model , another error is occurred as following:
2020-08-10 14:21:29.439049: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1703] Adding visible gpu devices: 0
Traceback (most recent call last):
  File "examples/fastspeech2/train_fastspeech2.py", line 38, in <module>
    from examples.fastspeech.train_fastspeech import FastSpeechTrainer
  File "

[2020-08-10 06:46] janson91 commented on #107
@dathudeptrai
hi, I have trained Phoneme-based  fastspeech2 and I get result like this:
It seemed to be over fitting. And the audio results generate by griffin lim sound bad. Can you give me some suggestion?
![image](https://user-images.githubusercontent.com/24793651/89757141-00a89380-db17-11ea-9d5a-12b475527239.png)
![image](https://user-images.githubusercontent.com/24793651/89757204-2d5cab00-db1

[2020-08-10 06:55] dathudeptrai commented on #107
@janson91 everything ok., the mel looks good. GL is just to check the output is correct or not, it always generates bad audios. You should train vocoder such as mb-melgan

[2020-08-10 06:58] dathudeptrai commented on #151
@mataym calculate_2d_loss is on tensorflow_tts.utils here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/utils/__init__.py#L11). I think there is something wrong, can you git pull then:
[code]

[2020-08-10 07:01] janson91 commented on #107
@dathudeptrai
ok， mb-melgan is training, but it is very slow. It will take hundreds of hours to train on 8 gpus(1080ti)

[2020-08-10 07:05] dathudeptrai commented on #107
@janson91 the batch_size in the config is for 1 gpu and it's 64. If you training with 8gpus, i suggest you training with batch_size = 8 or 16 :)). If you use batch_size = 64 that mean global_batch_size is 64 * 8 = 512 :))).

[2020-08-10 07:10] janson91 commented on #107
Ok thx @dathudeptrai

[2020-08-10 07:16] unparalleled-ysj commented on #194
@dathudeptrai I followed the method you said to fine-tune, but this problem still occurs。
this is my code
`with STRATEGY.scope():
        # define model.
        tacotron_config = Tacotron2Config(**config["tacotron2_params"])
        tacotron2 = TFTacotron2(config=tacotron_config, training=True, name="tacotron2")
        tacotron2._build()
        tacotron2.summary()
        # for finetune

[2020-08-10 07:37] dathudeptrai commented on #194
@unparalleled-ysj so let training from scratch ? and report here

[2020-08-10 07:47] orikama commented on #194
I also faced this problem, with fine-tuning tacotron with 2 of my small custom datasets, however my third dataset works completely fine for some reason.  You can spot this NaN problem a lot earlier if you set `log_interval_steps` to 100 or 50.
I also found out that restarting training can help when you see that loss turns to NaN, although you can waste hours by doing that (because you may need 10+

[2020-08-10 08:06] orikama commented on #194
@dathudeptrai Training from scratch is impossible in my case, because my datasets is too small for that. I will try your fix with `tf.keras.layers.BatchNormalization` when I'm done with fine-tuning your ljspeech tacotron2 checkpoint on arpabet phonemes.

[2020-08-10 08:11] dathudeptrai commented on #194
@orikama thanks for report. I'm working on new base_trainer that handle nan problem better. The simple solution is that relace all samples which has value = nan or its loss = nan by 0.0 :)).

[2020-08-10 08:18] unparalleled-ysj commented on #194
@dathudeptrai Training from scratch is okay, there will be no nan problem
![new](https://user-images.githubusercontent.com/39238619/89763315-d65dd280-db24-11ea-86ce-144ae246aafc.png)
![new_alignment](https://user-images.githubusercontent.com/39238619/89763333-e1186780-db24-11ea-9f36-6b733f361aa6.png)
but I want to use small data for fine-tuning. If you train from scratch, the amount of data is not

[2020-08-10 08:22] dathudeptrai commented on #194
Let try above suggestion and see if it fix this problem. BTW, let try 1 model from scratch and see if it's still good enough. You want to use tacotron-2 or just training it to extract duration for fastspeech2 ?.

[2020-08-10 08:29] unparalleled-ysj commented on #194
@dathudeptrai ok, I will try it . I training tacotron2 just want extract duration for fastspeech2

[2020-08-10 08:37] unparalleled-ysj commented on #194
@dathudeptrai BTW, when I was preprocessing, some utt caused this warning message: f"{utt_id} causes clipping. It is better to reconsider global gain scale value." Is this the key to causing nan and how should it be solved?

[2020-08-10 08:39] dathudeptrai commented on #194
it's not a problem :D.

[2020-08-10 08:41] orikama commented on #194
It can be, however, with [NVIDIA tacotron2](https://github.com/NVIDIA/tacotron2) i've never had such a problem.

I don't know how to do that :) I'm a c++/c# programmer, I have a very basic knowledge of machine learning, tensorflow and python. I've tried to fix NaN loss like this (borrowed it from stackoverflow) :
[code]
but it gives error when I start training.

[2020-08-10 08:42] orikama commented on #194
yeah, I didn't have issues with preprocessing and still get NaN loss

[2020-08-10 08:45] dathudeptrai commented on #194
i will commit the new_trainer tonight or tmr to try to fix this nan problem :)). Not sure if it can because i can't reproduce nan problem in my experiment ^^. BTW, can you compared my tacotron-2 quality with nvidia tacotron2?. :D.

[2020-08-10 09:13] orikama commented on #194
It is hard to compare them, because I used nvidia tacotron2 + waveglow(not finetuned), and now I'm using your tacotron2 + [WaveRNN](https://github.com/fatchord/WaveRNN). But overall I think both your and nvidia implementation gives almost the same result.
Plus I've only trained nvidia implementation with only 1 of my 3 datasets a long time ago. With my new dataset (which is only 55 minutes), you r

[2020-08-10 09:51] dathudeptrai commented on #193
@wanfuse123 i will write more about using other datasets in wiki soon. what you mean "creepy stage" ?.

[2020-08-10 10:08] unparalleled-ysj commented on #194
using 'tf.keras.layers.BatchNormalization' to replace 'tf.keras.layers.experimental.SyncBatchNormalization' still encount nan problem

[2020-08-10 10:16] dathudeptrai commented on #194
try other checkpoint, Tacotron-(40k, 65k, 75k, 85k, 100k, 120k) [here](https://drive.google.com/drive/u/1/folders/1FQG8XC5c5JJ0jpCUl7Oqu5u2fC8IarP3)

[2020-08-10 11:30] mapledxf commented on #188
@dathudeptrai I think it is better to save the symbol table to a local file. And this file is bound to the module since when we train a module, the symbol mapping might change, etc adding different punctuations.
So in the inference stage, we can look up the ids from the file.

[2020-08-10 11:44] tekinek commented on #194
@unparalleled-ysj  As in #125, resuming from a step where nan was about to happen worked for me. I guess this NaN is somehow dataset related. Some samples together as a batch can trigger NaN loss (batch normalization problem?). Resuming may prevent such a batch comes again, and if you are luckly, no NaN happens. But this is also dataset related trick. I did not have such problem with Mozilla TTS i

[2020-08-10 12:07] dathudeptrai commented on #194
@tekinek thank for ur insight. Actually, as you saw, the name
Of the framework focus to real-time that is why i spent more tỉme for fastspeech and fastspeech2 rather than tacotron. The reason why i still implement tacotron2 is because at the time i implement this framework, tacotron2 is still need to extract duration for fastspeech. So i just need to make my tacotron2 learn aignment as fast as pói

[2020-08-10 12:23] tekinek commented on #194
@dathudeptrai  Looking forward to your parallelwavegan:)

[2020-08-10 18:23] machineko commented on #193
If u are using multispeaker dataset u can check https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_multispeaker

just split train.txt file into and run all comands everything should works without changes (if u got 24k sampling_rate dataset else u'll need to change config)

train.txt
wav_path|text|speaker_name

[2020-08-10 18:31] Zak-SA commented on #192
I decided to have new GPU becauseI keep having issues, do you think RTX 2080 super will work fine for this task? And how different it's from RTX 2080TI ?
Thanks

[2020-08-10 18:44] mataym commented on #151
hello, when i ran the MFA aligner script there is an error occurred as follows:
[test@localhost TensorflowTTS]$ ./montreal-forced-aligner/bin/mfa_align .datasets/wavs ./montreal-forced-aligner/pretrained_models/mylatin-lexican.txt ./montreal-forced-aligner/pretrained_models/my_g2p_model.zip ./TextGrids -j 8
Setting up corpus information...
Number of speakers in corpus: 1, average number of utteran

[2020-08-10 23:00] wanfuse123 commented on #193
creepy stage. See this link!

Also, if one were to take two inputs, human spoken versions of output (with good orator) and two input from the other side of computer spoken version . And run them through a GAN it would likely improve the outputs (not sure of outputs of  this project, haven't seen the samples yet) but generally creepy stage is where most projects are at...

https://ibb.co/kDhjg72

[2020-08-11 01:29] dathudeptrai commented on #192
@Zak-SA what do you mean? I use 2080Ti and everything is fine

[2020-08-11 02:12] Zak-SA commented on #192
@dathudeptrai yes I know you using 2080TI, but I plan to get 2080 super not TI which have 8Gb memory instead of 11 for the TI. So i was asking if you think the 2080 super will be good for the task same as the one you are using (2080TI)

[2020-08-11 02:20] ZDisket commented on #192
@Zak-SA Perhaps you should wait for a few months before buying a new GPU? RTX 3000 series and Big Navi are coming soon, that way you might get better hardware or bargain prices for used equipment.

[2020-08-11 02:24] xgate1 opened #195 "how to train multi-speaker tacotron2 model"
hi. i have multi speaker dataset. and try to multi-speaker model training
and i check this issue [https://github.com/TensorSpeech/TensorFlowTTS/issues/158](url).
i have err `tf.Tensor` as a Python `bool` is not allowed
in compute_per_example_losses

i don't know where i change to train multi-speaker for tacotron2

[2020-08-11 02:41] Zak-SA commented on #192
@dathudeptrai if I managed to train the vocoder using my current gpu then I would wait for few more months  but if I couldn't then I will probably go with the 2080 super.  It should be much better than the 1080.
If I am not mistaken Cuda 10.0 and CuDNN 7.5 won't work with tensorflow-gpu==2.3 or even 2.2.
So I am still trying to debug the issues using Cuda 10.1 and CuDNN 7.6.5

[2020-08-11 02:53] dathudeptrai commented on #192
@Zak-SA i do not know why this problem occur since it's not related with the code or model itself. 2080 is enough to training fastspeech/melgan/mb-melgan.

[2020-08-11 02:55] dathudeptrai commented on #195
can you make the fork and update ur code so i can easy to help you :)), if you want training multi-speaker, the only thing you need is set n_speakers in config and return speaker id in the dataloader (tacotron2_dataset.py)

[2020-08-11 02:56] dathudeptrai commented on #151
@mataym we just commit the PR multi-speaker with MFA in (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_multispeaker) and (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction), pls refer the instruction and modify to work in ur case.

[2020-08-11 03:12] Zak-SA commented on #192
@dathudeptrai it could be my gpu, old gpu may have problems with new updates and packages and when it comes to cuda dn tensorflow,. I will keep trying to troubleshoot from my side and I don't beleive it's the code but rather it's something either with my hardware or software.  But I really appreciate your continuous help and quick response

[2020-08-11 03:39] najmuzsakib11 opened #196 "Tacotron2: mels are not getting aligned properly."
Hi, I am new in this field. I trained Tacotron2 from scratch with a different dataset. I am using same config as TensorflowTTS/examples/tacotron2/conf/tacotron2.v1.yaml. But it is not aligning properly for short sentences. There is noice at the end the audio. Can you think of anything that i might have done wrong. Thank you.
![1](https://user-images.githubusercontent.com/47039457/89854279-53d12380

[2020-08-11 03:41] dathudeptrai commented on #196
@najmuzsakib11 do you mean the yellow line ?

[2020-08-11 03:59] najmuzsakib11 commented on #196
Yes. Here is another example.
![Screenshot 2020-08-11 at 9 49 11 AM](https://user-images.githubusercontent.com/47039457/89855410-394c7980-dbb8-11ea-86de-226970965adb.png)
Text: As he crossed toward the pharmacy at the corner he involuntarily turned his head because of a burst.
The audio sounds like this
https://drive.google.com/file/d/1tkc5l9YDrkozWRi4Qv7jrwUGCJcUTmpr/view?usp=sharing

[2020-08-11 04:06] dathudeptrai commented on #196
@najmuzsakib11 that is normal :D, in training, we evaluation it by "batch" :)) so the charactor  and the mel will be padded to the longest sample in the batch :)) everything is ok :D

[2020-08-11 04:26] najmuzsakib11 commented on #196
Ok got it. Thank you.
I added eos symbols in the end like you said. But there is still a noice at the end at inference time. Yes i am using your notebook for inference.  I have trained more then 250K iters and still getting the noice. For long sentences the noice is shorter and for short sentences noice is longer. What is causing that any guess.

[2020-08-11 04:27] dathudeptrai commented on #171
@superhg2012 https://github.com/TensorSpeech/TensorFlowTTS/pull/197. I just finish implement pwgan model/config, you can use it to train :)) write ur trainer. I will write trainer code when i have free time.

[2020-08-11 04:30] dathudeptrai commented on #196
@najmuzsakib11 can you share ur tensorboard. Actually, we have some problem about `eos` symbols in the code that is a hard code for ljspeech eos in the tacotron daloader, when we change the symbols, that cause some problem :)). see here (https://github.com/TensorSpeech/TensorFlowTTS/issues/188).

[2020-08-11 04:31] manmay-nakhashi commented on #186
@dathudeptrai solved this issue from #125.

[2020-08-11 04:32] #186 closed

[2020-08-11 04:36] dathudeptrai commented on #186
@manmay-nakhashi can you share ur tensorboard, audio samples or the detail what you change to make ur training progress work ?

[2020-08-11 05:04] najmuzsakib11 commented on #196
Here is my tensorboard
![Screenshot 2020-08-11 at 11 00 30 AM](https://user-images.githubusercontent.com/47039457/89859090-fee7da00-dbc1-11ea-9b19-77875ea2d0a0.png)

[2020-08-11 05:07] dathudeptrai commented on #196
@najmuzsakib11 seem you are not monitor the training process frequently :)) at around 37-38k steps you got nan problem. The solution is disble guided attention loss and retrain :)). see (https://github.com/TensorSpeech/TensorFlowTTS/issues/125).

[2020-08-11 05:10] najmuzsakib11 commented on #196
Got it. Thanks for the help.

[2020-08-11 05:11] #196 closed

[2020-08-11 05:36] mapledxf opened #198 "someone deleted preprocess/ljspeech_preprocess.yaml"
preprocess/ljspeech_preprocess.yaml is missing

[2020-08-11 05:39] dathudeptrai commented on #198
@mapledxf thanks :)). https://github.com/TensorSpeech/TensorFlowTTS/commit/1303ab8db8830afa64af7e9f2e4a038fd52f7355

[2020-08-11 05:39] #198 closed

[2020-08-11 10:29] Jackson-Kang opened #199 "[FastSpeech2] question about f0 and energy estimation"
Hello, @dathudeptrai

First of all, I'd like to thank you due to your awesome works.
I've learned a lot from your repos.

Seeing your repos, I got a question regarding f0 and energy estimation.

[Question]
     Any reason that you have used the approach that FastPitch suggests? I think that learning pitch/energy embedding as FastSpeech2 is problematic due to sensitivity of outliers and insufficien

[2020-08-11 10:53] dathudeptrai commented on #199
@Jackson-Kang

In preprocessing step, i use pw.stonemask and write a `remove_outlier` so the problem about outlier is not the problem anymore :)). There are 2 reasons explain why i use continuous value for FastSpeech2 rather than concrete value (same as fastspeech2 paper said):

1. I found that it's very hard to tune the `number_of_bins` and the `max_min` value of F0/energy. I tried softmax classi

[2020-08-11 11:25] mapledxf opened #200 "Duration Format"
@dathudeptrai  Hi, the Chinese baker dataset comes with text grid files already.
[code]
I am trying to convert these files into duration files.
So could you explain a little bit about duration file's structure?
What is in the duration file exactly?
An example is appreciated. :)

[2020-08-11 13:03] machineko commented on #200
phoneme and time (start-end)

[code]
1.69 start of silence token
1.995 end of silence token

[2020-08-11 13:50] dathudeptrai opened #201 "🇨🇳 Chinese TTS now available 😘"
Chinese TTS now available, thank @azraelkuan for his support :D. The model used Baker dataset here (https://www.data-baker.com/open_source.htmlt). The pretrained model licensed under CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0/) since the dataset is non-commercial :D

Pls check out the colab bellow and enjoy :D.

https://colab.research.google.com/drive/1YpSHRBRPBI7cnTkQn1UcV

[2020-08-11 15:55] mapledxf commented on #200
I understand the text grid. I just don't know how to conver text grid to the duration used for training.
The format is different from the example. What do you save in the durations.npy file?

[2020-08-11 16:33] dathudeptrai commented on #200
@mapledxf ref [here](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/mfa_extraction/txt_grid_parser.py#L72-L102)

[2020-08-11 16:35] mataym opened #202 "MFA txtgrid parser error"
[testuser@localhost TensorflowTTS]$ python examples/mfa_extraction/txt_grid_parser.py \

  File "examples/mfa_extraction/txt_grid_parser.py", line 39
    sample_rate: int
               ^
SyntaxError: invalid syntax

this same error also occurred when i ran the run_mfa.py:
[testuser@localhost TensorflowTTS]$ python examples/mfa_extraction/run_mfa.py
  File "examples/mfa_extraction/run_mfa.py", lin

[2020-08-11 16:38] machineko commented on #202
Python version?

[2020-08-11 16:45] mataym commented on #202
my python version is 3.7.7 with conda env. i did not modify source code. i just ran the script.

[2020-08-11 16:47] machineko commented on #202
run python --version from terminal to be sure

[2020-08-11 18:24] mataym commented on #202
thanks a lot, it is just python version, after activated my conda env, it running with no error.

[2020-08-11 18:30] mataym opened #203 "fastspeech2 training error"
i have already created durations with MFA, and also ran well two preprocess script(tensorflow-tts-preprocess, tensorflow-tts-normalize) with no error. but when i ran the train script, there is an error occurred as follows:
2020-08-12 02:19:06,034 (train_fastspeech2:289) INFO: batch_size = 16
2020-08-12 02:19:06,034 (train_fastspeech2:289) INFO: remove_short_samples = True
2020-08-12 02:19:06,035 (

[2020-08-11 19:16] machineko commented on #203
Run fix mismatch to fix few frames difference in audio and duration files:

https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction

[2020-08-11 19:19] machineko commented on #203
Run fix mismatch to fix few frames difference in audio and duration files and save durations into dump directory:

https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction

[2020-08-12 02:35] dathudeptrai commented on #203
@mataym make sure all duration/charactor/mel/f0/energy files is in `./dump/train`, `./dump/valid` and the number of file of each input is the same.

[2020-08-12 02:35] #202 closed

[2020-08-12 03:31] mataym commented on #203
after i fixed the durations with mfa_extraction script, i ran the model train script(train_fastspeech2.py), but there is fatal error occurred:
(tensorflowtts) [speechlab@localhost TensorflowTTS]$  CUDA_VISIBLE_DEVICES=0 python examples/fastspeech2/train_fastspeech2.py \

2020-08-12 11:13:02.070006: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library

[2020-08-12 03:43] dathudeptrai commented on #203
@mataym can you check 2 things bellow:

1. sum(duration) == len(mel) in all files.
2. all element in each duration files is positive (>=0)

[2020-08-12 06:19] mataym commented on #203
sorry, im very new to tts,idont know how to do that? can you tell me how to do that in detail or give me link?thanks

[2020-08-12 06:52] dathudeptrai commented on #203
@mataym can you give me ur structure file in `./dump/train` and `./dump/valid` ?

[2020-08-12 07:25] marzieh-razavi commented on #142
Hello, I am having the same issue. @learnerkun did you find any solution for this bug?

[2020-08-12 07:35] dathudeptrai commented on #142
@marzieh-razavi give me a log.

[2020-08-12 07:44] marzieh-razavi commented on #142
Here is the log:
Traceback (most recent call last):
  File "synthesize_new.py", line 62, in <module>
    energy_ratios = tf.constant([1.0], dtype=tf.float32)
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/def_function.py", line 580, in __call__
    result = self._call(*args, **kwds)
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/def_function.py", lin

[2020-08-12 07:49] dathudeptrai commented on #142
@marzieh-razavi can you check the value of each element in your input ?

[2020-08-12 08:00] marzieh-razavi commented on #142
Yes, here is the id of each element in the input (the inputs are phonemes), and the number of phonemes in the sentence is 285.
[134, 70, 120, 116, 145, 141, 104, 78, 130, 116, 78, 117, 108, 120, 82, 97, 131, 98, 143, 73, 131, 131, 116, 94, 115, 136, 117, 108, 120, 148, 106, 82, 116, 137, 90, 86, 106, 94, 117, 129, 145, 141, 148, 116, 137, 90, 145, 141, 105, 109, 143, 118, 113, 145, 78, 130, 104, 1

[2020-08-12 08:02] dathudeptrai commented on #142
@marzieh-razavi can you inference by the `_inference` function and print the shape of `length_regulator_outputs` in here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/fastspeech.py#L817)

[2020-08-12 08:27] marzieh-razavi commented on #142
the shape of length_regulator_outputs is (1,10,384)

[2020-08-12 08:30] dathudeptrai commented on #142
1, 10, 384 is the shape of dummy input in `_build()` function. I need you pass ur input in above comment and print a shape again :D

[2020-08-12 08:53] mataym commented on #203
sorry, im very new to tts,idont know how to do that? can you tell me how to do that in detail or give me link?thanks

the structure of dump folder in my workspace is a follows:
dump/
├── --config
├── --dev-dir
├── --energy-stat
├── --f0-stat
├── --mixed_precision
├── _o
├── --outdir
├── --resume
├── stats_energy.npy
├── stats_f0.npy
├── stats.npy
├── train
│   ├── fix_dur
│   │   ├── 00000001-dura

[2020-08-12 08:57] dathudeptrai commented on #203
@mataym in ur `fix_dur`, can you load each file and check if all element is positive value ?. And check if sum(np.load(''./fix_dur/...-durations.npy")) == len(np.load("./norm-feats/...-norm-feats.npy"))

[2020-08-12 09:35] marzieh-razavi commented on #142
Sorry, I had put the print in the wrong place, the shape is (1, 2188, 384).

[2020-08-12 10:31] dathudeptrai commented on #142
yes :)), 2048 is maximum, you can adjust it in the config file :))). replace 2048 to 10000 for example :D.

[2020-08-12 12:04] mataym commented on #203
1. i checked the value in ...-fix_dur.npy in train and valid value, all of them is positive value.
2. i checked the sum(np.load(''./fix_dur/...-durations.npy")) == len(np.load("./norm-feats/...-norm-feats.npy")) in train and valid folder , the sum of ...-durations.npy is equal to ...-norm-feats.npy, there is no not equal values.
what can i do next?

[2020-08-12 12:12] machineko commented on #203
Upload dur and norm-feats files somewhere and send it to me ill check it locally

[2020-08-12 12:39] mataym commented on #203
thanks,raw-feats.npy in your crode should be changed to norm_feats.npy.  and after I run the program, assert is ok. does it mean that data preprocessing is ok?

[2020-08-12 12:49] machineko commented on #203
Ye it is, are u using some sort of debugger if yes check values in debugger before training breaks

[2020-08-12 12:50] mapledxf commented on #200
got it
thx

[2020-08-12 12:50] #200 closed

[2020-08-12 13:39] mataym commented on #203
in fix_mismatch.py script, what is  --trimmed_dur_path ./trimmed-durations ? i have mo ./trimmed-durations folder anyway.
python examples/mfa_extraction/fix_mismatch.py \
  --base_path ./dump \
  --trimmed_dur_path ./trimmed-durations \
  --dur_path ./durations

[2020-08-12 13:44] machineko commented on #203
I don't know where u saved trimmed durations it's up to u if u just follow mfa extraction steps everything is in dataset/ folder

[2020-08-13 03:45] janson91 commented on #107
@dathudeptrai hi,
I just adjusted sampling_rate: 48000 in config yaml for sampling rate of my raw data is 48000
however, I get the synthesis audio half length of original audio.
Do I leave out other parameters?
![image](https://user-images.githubusercontent.com/24793651/90092030-751f4480-dd5a-11ea-8cbc-ada8547ba446.png)

thx

[2020-08-13 03:54] dathudeptrai commented on #107
@janson91 the `sampling_rate` in processing config should be the same with the `sampling_rate` in training config :D.

[2020-08-13 04:07] janson91 commented on #107
@dathudeptrai sampling_rate of two config is same. So are there other possible parameters that  lead to incorrect result?

[2020-08-13 04:14] dathudeptrai commented on #107
@janson91 could you create a new issue ? and ofc, please give us ur preprocessing config and training config :D .

[2020-08-13 04:15] dathudeptrai commented on #107
fastspeech + MFA is supported in (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_multispeaker). I will close this issue, thanks for all ur help :D

[2020-08-13 04:15] #107 closed

[2020-08-13 04:26] #170 closed

[2020-08-13 04:27] #53 closed

[2020-08-13 04:28] #119 closed

[2020-08-13 04:28] #128 closed

[2020-08-13 07:25] mataym commented on #203
How to generate  the trimmed-durations folder in this project?

[2020-08-13 07:30] dathudeptrai commented on #203
@mataym see here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/preprocess/preprocess_libritts.yaml#L19). You should add `trim_mfa: true` in ur preprocesing config. The `trimmed-durations` dir created automatically when u run the `preprocessing` script (see https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L129).

[2020-08-13 07:38] manmay-nakhashi commented on #203
@dathudeptrai got same error in fastspeech2 , when i am attempting symbol based training for my dataset
[code]

[2020-08-13 07:42] dathudeptrai commented on #203
@manmay-nakhashi did you follow the instruction ?, pls add `trim_mfa: true` in the preprocess config, you should also run fix_mismatch script.

[2020-08-13 09:26] manmay-nakhashi commented on #203
@dathudeptrai still same error

[2020-08-13 09:29] dathudeptrai commented on #203
@manmay-nakhashi again, this bug is only cause by the mismatch between duration and mel length. Let check by yourself if the sum duration is equal len(mel) (both raw-feats and norm-feats), also make sure all element in each duration file is positive.

[2020-08-13 09:38] manmay-nakhashi commented on #203
@dathudeptrai ok i'll check that

[2020-08-13 16:36] mataym commented on #203
in ljspeech.py file, i cannot understand the list valid_symbols[], it has 84 element, what is that?is that english phones?but  i know english has just only 39 phones.
in my case, i have 32 different phones in my-lexicon.txt.
meta.yaml file's structure in test-g2p-model.zip(g2p model generated from test-lexicon.txt with MFA) as follows:
architecture: phonetisaurus
graphemes: [a, b, c, d, e, f, g, h

[2020-08-13 16:40] dathudeptrai commented on #203
@mataym you just need change the symbols :)). here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/processor/ljspeech.py#L110) to ur symbols :)). note that `pad` symbols always has id = 0 :D.

[2020-08-13 18:21] mataym commented on #203
hi @dathudeptrai , my symbols all of them are in _letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz", so it is not necessary to add my symbols there, isn't it? but my phonese is different from english phones.

[2020-08-14 02:12] dathudeptrai commented on #203
@mataym will u use phone or charactor ? , you just need make sure the symbols in the code cover all ur symbols :)).

[2020-08-14 07:33] Hymnhyz commented on #203
You also can download this extracted durations at 40k steps at [link](https://drive.google.com/drive/u/1/folders/1kaPXRdLg9gZrll9KtvH3-feOBMM8sn3_?usp=drive_open). Then put them in appropriate folders.
You can refer to the folder placement here.[Step 4: Extract duration from alignments for FastSpeech](https://github.com/dathudeptrai/TensorflowTTS/tree/master/examples/tacotron2#step-4-extract-durat

[2020-08-14 13:01] machineko commented on #203
@Hymnhyz If you're using your own dataset u need to retrain taco2 for extraction (otherwise it works pretty bad)

[2020-08-15 13:58] mataym opened #205 "debug tensorflow-tts-preprocess with pycharm"
i want to debug fastspeech2 preprocessing script with pycharm, the script is as follows:
tensorflow-tts-preprocess --rootdir tensorflow_tts/datasets --outdir ./dump --config preprocess/ljspeech_preprocess.yaml

can anyone tell me how to run above script with pycharm, i don't like debug by using ipdb. thanks

[2020-08-15 17:51] tekinek commented on #205
@mataym  I have no idea with Pycharm, but an easy way to "debug" preprocessing is to use logging.debug("message") at wherever you wish to monitor, then run the script with an additional argument --verbose 1.

[2020-08-15 18:23] machineko commented on #205
Add flags to pycharm run config that's all it's needed for that :)

[2020-08-16 10:50] mataym opened #206 "how to generate acoustic model for a corpus(or for a language) in order to using mfa-aligner"
when i want to generate TextGrid files for corpus with MFA, it needs a acoustic model for training. the mfa-align script as follows:
bin/mfa_align corpus_directory dictionary_path **acoustic_model_path** output_directory

there is no acoustic model for my language in [pretrained acoustic model] list(https://montreal-forced-aligner.readthedocs.io/en/latest/pretrained_models.html#pretrained-acoustic

[2020-08-16 14:31] machineko commented on #206
https://montreal-forced-aligner.readthedocs.io/en/latest/example.html#example-3-train-mandarin-g2p-model

[2020-08-16 14:56] nurjan84 commented on #182
Hello I think I have found the problem)))

**tacotron2.v1.yaml** example config has no **dataset** parameter , it was setted in
**Tacotron2Config** class as default value (dataset="ljspeech")  and vocab_size was computed according to default value.
So, all my training experimets was wrong. I was using that example tacotron2.v1.yaml file

[2020-08-16 15:01] nurjan84 commented on #182
Oh, I see that tacotron2.v1.yaml was updated in new release of tensorflowTTS.

[2020-08-17 03:28] mataym commented on #206
i think the link you provided is used to generate G2P model, not acoustic model. i downloaded english G2P and  acoustic model from the given link, the contents of the two model is different.

[2020-08-17 13:43] machineko commented on #206
G2P is just example u should contact MFA authors if u want tutorial.

Also second link is full alignment tutorial so if u want to train ur model follow that

[2020-08-18 10:52] azraelkuan commented on #189
@superhg2012 you can check this https://arxiv.org/pdf/1911.04111.pdf

[2020-08-18 15:20] dathudeptrai commented on #188
this problem is solved on #204. We do not need explicit adding `eos` token in the end anymore, it's automatically add into the end of `text_to_sequence` function. We also added `AutoProcessor` for all processor and load pretrained processor from file. Please see our new notebook or colab to see how it work :D. Pretrained for each processor uploads here [pretrained_processor](https://github.com/Ten

[2020-08-18 15:20] #188 closed

[2020-08-18 15:40] dathudeptrai opened #208 "Long sentences issue with FS2"
seem my fastspeech2 implementation can't handle long sentence in some dataset such as KSS. FOr Ljspeech and other dataset from other person report that it's still fine. I'm thinking about the maximum length in the training set that my FS2 need to be able to handle long sentences. In my private dataset, it always fine. Maybe 15s is enough.

[2020-08-18 15:53] dathudeptrai commented on #208
I think flow/glow model handle long sentence better than fastspeech. I heard some people got very good model from Glow-tts https://github.com/jaywalnut310/glow-tts even better than tacotron2 and handle long sentences very good on single speaker but not multi-speaker (didn't work for multi speaker). I think this glow-tts + our mb-melgan can get very robust end2end model :D. Has anyone to combine th

[2020-08-18 15:57] ZDisket commented on #208
@dathudeptrai I tried that Glow-TTS and while it does handle long sentences flawlessly (I can share notebooks if you want), I can tell from the generated audio that it sounds like it's been split up then audio spliced back together, not a trick one can't do manually. I personally still recommend Tacotron2-DDC: https://erogol.github.io/ddc-samples/, which can naturally align a 1 minute and 49 secon

[2020-08-18 16:01] dathudeptrai commented on #208
@ZDisket the very very very long sentence is not a real problem on deploy TTS. We just need the model can synthesis around 15-20s (this is the fact when you try to deploy ur model with low latency.). Actually, our tacotron model can handle very very long sentence as tacotron2-ddc does without ddc trick (you can try on the colab.). i'm still wondering about glow-tts + mb-melgan audio quality :D.

[2020-08-18 17:58] machineko commented on #208
I've tried by only with waveglow and audio quality was a lot better than FS2 but for single speaker, multi-speaker can't coverage in my my case

[2020-08-18 18:26] mataym commented on #203
1) i checked the the duration files with sum(duration) == len(mel) in all files, it is no problem
2) i checked each duration files is positive (>=0), it also no problem.
then, according to your suggestion, I put assert(len(charactor)== len(f0)==len(energy)) in fastspeech2_dataset generator function, and every file reported an error, and none of the files passed from this assert line.
I suspect tha

[2020-08-18 19:33] tekinek commented on #208
Maybe glow-tts is more sensitive to dataset quality compare to Tacotron or Fastspeech. I guess it could be a very nice addition to TensorflowTTS if the author's claim is true for most of the single speaker datasets. I yet to try it with my dataset because of busy GPU for a while.

It seems Mozilla TTS is working on glow-tts, too.
https://github.com/mozilla/TTS/issues/500#issue-680150289

[2020-08-18 19:47] monatis opened #209 "Add support for German TTS"
Hi all,
I searched for "German," and it didn't give any results, so I decided to open an issue to prevent duplicated work in this. Recently, I've just met [an open source dataset for TTS in German](https://github.com/thorstenMueller/deep-learning-german-tts) by @thorstenMueller, and it sounds pretty cool to train a TensorFlowTTS in German by using this dataset. Anyone interested?

p.s.:I'm also wo

[2020-08-18 19:57] machineko commented on #208
Dunno it was training fine on single speaker from same dataset :)

[2020-08-18 20:33] machineko commented on #209
There is a lot of free German datasets why using this I would probably prefer to first train multi-speaker model on M-AILABS

[2020-08-18 21:49] domcross commented on #209
Your mileage may vary, but to my experience the german M-AILABS datasets are not feasible for TTS training, at least without heavy pre-processing. A lot of audio files are not exactly trimmed to the word ends, e.g. cutting of the last syllable.

[2020-08-19 00:02] Zak-SA opened #210 "Error Preprocessing KeyError: 'eos'"
I am getting this error when trying to preprocess:

Traceback (most recent call last):
  File "/home/zak/venv/bin/tensorflow-tts-preprocess", line 8, in <module>
    sys.exit(preprocess())
  File "/home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/bin/preprocess.py", line 442, in preprocess
    for result, mel, energy, f0, features in train_map:
  File "/usr/lib/python3.8/multiprocessing/po

[2020-08-19 01:15] dathudeptrai commented on #210
@Zak-SA ah sorry :))). I forgot that you need to change the symbols a bit. Eos token should be 'eos' and padding token should be 'pad'.

[2020-08-19 01:16] dathudeptrai commented on #208
I hope it is a fork rather than intergrated glow tts to mozilla since the model is the same :))) and mozilla use pytorch too :3

[2020-08-19 02:09] dathudeptrai commented on #209
you want to support German to this framework or you are requesting support it ? :)).

[2020-08-19 02:14] dathudeptrai commented on #208
yes, literally, glow/flow is sensitive with dataset since it is designed based on pure math (probability) :))).

[2020-08-19 02:38] machineko commented on #208
@dathudeptrai  Yes I know :D Just saying dunno if its cause of my dataset its pretty good in quality and single speakers are working fine :)

[2020-08-19 03:17] dathudeptrai commented on #210
#211

[2020-08-19 03:17] #210 closed

[2020-08-19 03:21] Zak-SA commented on #210
@dathudeptrai ohh.  My bad didn't pay attention to this. The processor is one of the few I used from the old training. Thanks.  It worked

[2020-08-19 03:25] dathudeptrai commented on #210
let replace ur old processor with the new one. The new processor is more flexible and can be load from file :D.

[2020-08-19 03:45] Zak-SA commented on #210
@dathudeptrai after succesfully preprocessing I am getting this error when trying to train

AssertionError: Not found any mels files in $./dump/train/.

[2020-08-19 03:49] dathudeptrai commented on #210
@Zak-SA maybe folder name is changed :)). is there any folder name ./dump/train ?

[2020-08-19 03:51] Zak-SA commented on #210
@dathudeptrai yes I have the folder/dump/train and it have the preprocessed files when I preprocessed I used the name dump only without the speaker and I also tried adding the speaker name but the same issue

[2020-08-19 03:54] dathudeptrai commented on #210
the bug is clearly, "There is no any mels file in the ./dump/train". Can you check by yourself ?

[2020-08-19 03:58] Zak-SA commented on #210
@dathudeptrai I just noticed that no files got normalized , the result for normalization came as :+1: 2020-08-18 23:28:12,704 (preprocess:525) INFO: Files to normalize: 0
[Normalizing]: 0it [00:00, ?it/s]

[2020-08-19 04:02] dathudeptrai commented on #210
let copy and pass the command line u use to preprocessing ur data here. (include the tensorflow-tts-preprocess and tensorflow-tts-normalize)

[2020-08-19 04:03] Zak-SA commented on #210
@dathudeptrai

preprocess:
tensorflow-tts-preprocess --rootdir ./dataset --outdir ./dump_ZAKspeech --config preprocess/ZAKspeech_preprocess.yaml --dataset ZAKspeech

Normalize:
tensorflow-tts-normalize --rootdir ./datasets --outdir ./dump_ZAKspeech --config preprocess/ZAKspeech_preprocess.yaml --dataset ZAKspeech

[2020-08-19 04:05] dathudeptrai commented on #210
@Zak-SA change to tensorflow-tts-normalize --rootdir ./dump_ZAKspeech ....

[2020-08-19 04:09] Zak-SA commented on #210
@dathudeptrai normalization worked and training also worked, thanks

Highly appreciated

[2020-08-19 04:48] monatis commented on #209
Hi  @dathudeptrai, I'll give it a try to train German TTS with this dataset, and the issue is all about preventing us from duplicated work, i.e., I just wanted anyone with this idea to see someone is working on it. You can properly mark/label it.

[2020-08-19 04:54] Jackson-Kang commented on #199
Thank you for giving me information.

I tried with predicted f0/energy values and it also successfully generate speech.
But, I think there's almost no drastical change between g.t. and synthesis.

My experimental codes are below.
[code](https://github.com/HGU-DLLAB/Korean-FastSpeech2-Pytorch/blob/master/modules.py)

Sincerely,

[2020-08-19 05:06] Zak-SA commented on #210
@dathudeptrai I had a question,  so I installed the 2080 super that have 8gb memory,  I am getting about 8 seconds per step when training Tacotron2. Is that normal? And  I also get oom sometimes.

[2020-08-19 05:10] dathudeptrai commented on #209
@monatis thanks :D. looking forward german TTS :D

[2020-08-19 05:15] dathudeptrai commented on #199
@Jackson-Kang https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/fastspeech2.py#L250-L255. :))) i just add and let you know :)).

[2020-08-19 05:19] dathudeptrai commented on #210
@Zak-SA not normal, my training time is around 3.5s/1steps. Can you check ur config file if `use_fixed_shapes` is true or false. Let try both to see what is the best config for you. Also, the training need around 200 steps to get the fastest training speed. Normally when i train tacotron-2, the training speed is 7s at the begining then drop to 3.5s and stable after 200-300 steps :D.

[2020-08-19 05:24] Zak-SA commented on #210
@dathudeptrai ok, the current value for use_fixed_shapes is false. I will try true and let you know. What's the effect on this parameter on the training?

[2020-08-19 05:26] dathudeptrai commented on #210
please read the readme in tacotron example dir. https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/tacotron2#some-important-notes.

[2020-08-19 05:44] Zak-SA commented on #210
I am trying use_fixed_shapes=true

Meanwhile i also wanted to ask you about MB Melgan training.  I can only use batch size 32 and disable the cash in order to let it get pass step 5k which is when it starts eval. I can't use cash and I can't use batch size 64. Any ideas?

[2020-08-19 06:14] tekinek commented on #208
@dathudeptrai
This is nice:)  save effort for unavailables.

Training a new model is costly especially in term of time, so it is good to see portings between repos. I had a hard time to make my mozilla mb-melgan work with TensorflowTTS FastSpeech due to [pre-emphasis ](https://github.com/mozilla/TTS/blob/master/utils/audio.py#L192)was applied to waveform in vocoder but not in FS here. Actually, pr

[2020-08-19 06:16] manmay-nakhashi commented on #209
@monatis working on all European languages.

[2020-08-19 06:17] ZDisket commented on #208
@tekinek Do you have any experience using Mozilla/TTS mel generation models with TensorflowTTS vocoder?

[2020-08-19 06:25] tekinek commented on #208
@ZDisket Not yet. TensorflowTTS vocoder fails with my dataset (discriminator does not learn, I don't know if it is solved in recent updates),  but Mozilla vocoder is just fine. So I wanted to use vocoder from Mozilla and  FastSpeech from TensorflowTTS.

[2020-08-19 06:28] ZDisket commented on #208
@tekinek

You can always train kan-bayashi's repo then convert weights, that's what I'm doing for mb-melgan currently.

[2020-08-19 06:34] Zak-SA commented on #210
so when I tried use_fixed_shapes=true I got 4 seconds per step after step 300
when I used use_fixed shapes=false I got 9 seconds but the training crashed at step 97 with this OOM:

Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 473, in <module>
    main()
  File "examples/tacotron2/train_tacotron2.py", line 461, in main
    trainer.fit(
  File "/home/zak/ve

[2020-08-19 06:36] tekinek commented on #208
@ZDisket  Thanks, I will try it. Mozilla Tacotron2-DDC really makes good speech, but, with my dataset, works just until reduction factor 2.  Let me see how Glow-tts works.

[2020-08-19 06:39] ZDisket commented on #210
@Zak-SA Have you tried lowering the batch size in Tacotron 2 config?

[2020-08-19 06:40] ZDisket commented on #208
@tekinek

I'm interested. Can you explain in detail?

[2020-08-19 06:44] Zak-SA commented on #210
@ZDisket no I didn't,  I used batch size 32 for tacotron 2 . But previously I didn't have issues with tacotron 2 training except the slow training.  Today is the first time I am getting errors.
But I lowered the batch size in MB Melgan training to 32 instead of 64 and its working because i never had luck with batch size 64.

[2020-08-19 06:44] ZDisket commented on #54
@dathudeptrai

Does MFA-extracted duration FastSpeech2 now fit that description?

[2020-08-19 06:46] Zak-SA commented on #210
@ZDisket should i try batch size 16 for Tacotron  2?

[2020-08-19 06:46] ZDisket commented on #210
@Zak-SA Try 16, if it works increase it a bit, say 24, and see what your GPU can fit.

[2020-08-19 06:47] dathudeptrai commented on #208
maybe with r = 1 it's failed.

[2020-08-19 06:49] Zak-SA commented on #210
@ZDisket with use_fixed_shapes= true or false?

[2020-08-19 06:49] dathudeptrai commented on #210
@Zak-SA let lowering batch_size to 24 or 16, that's still fine. or you can change the version of tensorflow. I do not know if 2.3 is better than 2.2 or not :)).

[2020-08-19 06:54] Zak-SA commented on #210
@dathudeptrai are we talking about Tacotron 2 or MB Melgan?
And for Tacoteon 2 if I use_fixed_shapes =true with batch size 32 I get about 4 seconds per step with no OOM. So should I use the fixed shapes true?
And my problem was with MB Melgan which 8 can only use batxh size 32 and not 64

[2020-08-19 06:54] dathudeptrai commented on #208
@tekinek I think kan's vocoder is the most stable implementation, i just feel tensorflow is not yet stable as pytorch. It's weird when the implementation work with all my dataset, kss, baker, libritts, ljspeech but didn't work on ur dataset and @ZDisket dataset. I recommend you use kan's repo to training and convert it to this tensorflow implementation to faster training and ez to deploy :)). Para

[2020-08-19 06:57] dathudeptrai commented on #210
if `use_fixed_shapes ` is faster and can use batch_size = 32 so let use it :)). it's weird when some people said that set it to false is better than set it to true :)), but in my case, true is faster :)). MB-melgan batch_size 32 is also ok :)).

[2020-08-19 06:59] Zak-SA commented on #210
@dathudeptrai yeah it's weird because I always heard it should be faster. But here it's not.
What about Multi-band MelGanL? Can I uss batch size 32?

[2020-08-19 07:03] Zak-SA commented on #210
@dathudeptrai thanks again.  You are great help.

[2020-08-19 07:04] ZDisket commented on #208
@dathudeptrai Well, it could be because I always finetune, never train from scratch (except for FastSpeech2). Combining the pwgan discriminator with multi-band melgan generator might be a worthy investment.

[2020-08-19 07:09] tekinek commented on #208
@ZDisket Ok, I am still lacking insights, this is my observation.

In my case, tactron2-ddc does gradual_training by [[0, 7, 64], [1, 5, 64], [50000, 3, 32], [150000, 2, 32], [200000, 1, 32]], which means, you know,  the reduction factor reduces at certain steps gruadually.

Look at my tensorborad, in which every big drop in decoder loss happens when reduction rate decreases by one (sorry, these c

[2020-08-19 09:08] tekinek commented on #208
@dathudeptrai
As for the FS2 "issue" with long sentence, it seems that FS2 needs training with long sentences to synthesize longer speech stably. With my dataset, which doubles the average sentence length of KSS as shown in https://github.com/TensorSpeech/TensorFlowTTS/pull/130#issuecomment-668990753, FS2 is just fine.

My recommendation for KSS+FS2 is to try fine-tuning with an augmented KSS data

[2020-08-19 10:24] superhg2012 commented on #189
@azraelkuan  thanks a lot!

[2020-08-19 10:49] dathudeptrai opened #212 "Tacotron-2 renew"
Hmm, there is something wrong in my tacotron-2 implementation that can't apply mixed precision right now. About training speed, compared with nvidia tacotron-2 with my implementation with the same setting on both LJSpeech, 2080Ti, Cuda 10.1, Cudnn 7.6.5, r = 1, my training speed is 3.5s/1it while nvidia tacotron2 pytorch implementation is 3s/1it. In my private dataset, my implementation  convergen

[2020-08-20 01:21] jesinj opened #213 "Transfer learning using the pre-trained model"
Thanks a lot for providing these pre-trained models.
I have a variant of English and a small database of it - with 1000 sentences.
Do you have any ideas on how I can use transfer learning using your pre-trained model, and develop a voice for this language?
Thanks a lot

[2020-08-20 02:27] ZDisket commented on #213
@jesinj You add a call to `load_weights("model_name.h5")` for whatever model(s) you want to load after said model is built in the code. For example, this is my transfer learning snippet for FastSpeech2:
https://github.com/ZDisket/TensorflowTTS/blob/7ec3bdcf5097bd33aa869a0f7bd829406ec11069/examples/fastspeech2/train_fastspeech2.py#L355-L361
If you're basing a mel generation model on one that uses a

[2020-08-20 03:50] ZDisket commented on #208
@tekinek You still having trouble training vocoders? See if the pwgan and mb-melgan hybrid that was just merged into https://github.com/TensorSpeech/TensorFlowTTS/pull/197 do the job, it can be used to finetune on regular mb-melgan models.

[2020-08-20 05:28] dathudeptrai opened #216 "🌝 C++ inference now available 💃"
C++ inference now supported (thanks @ZDisket for his dedicated support). It will be improve and support more models to adapt with main repo over the time :D. Let check it out :D

Code: https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/cppwin

[2020-08-20 06:04] tekinek commented on #208
@ZDisket thanks for this information; I will give it a try. I've just started training mb-melgan from Kan Bayashi's repo:

![Firefox_Screenshot_2020-08-20T05-57-39 598Z](https://user-images.githubusercontent.com/68597606/90722561-a4e7c280-e2ed-11ea-9ed0-5b25c3f3b3ec.png)

[2020-08-20 06:08] ZDisket commented on #208
@tekinek Alrighty, I'll be interested in your results since I got a way better result than kan's repo with just 10% of the training time.

[2020-08-20 06:22] tekinek commented on #208
@ZDisket  And here is mb-melgan from Mozilla's repo. Eval speech is fine, but I am still unsatisfied. Did pwgan generage better speech in your experiment? (though slower)

I think these vocoders are too sensitive to factors like noise in dataset, fmin, fmax, pre-emphasis etc, which makes it difficult to find a good one.

![Firefox_Screenshot_2020-08-20T06-09-18 725Z](https://user-images.githubuser

[2020-08-20 06:30] dathudeptrai commented on #208
you can training mb-melgan G + pwgan D as @ZDisket did in his experiment. I do not know if there is a difference between mozilla's mb-melgan and kan's mb-melgan since mozilla mb-melgan implementation is based on kan's repo (i just glance the code and there is no difference between the model or training process).

[2020-08-20 10:37] tienanh-1999 opened #217 "'StandardScaler' object has no attribute 'mean_'"
- When I try to save statistics to file in the preprocessing step, I got an error: AttributeError: 'StandardScaler' object has no attribute 'mean_'.
- I find some answers in the Internet and it said that "starting from Scikit-Learn version 0.17, the attribute "mean_" and “std_”are no longer present as StandardScaler objects."
- But in the setup file, we need to use scikit-learn>=0.22.0.
Thank you

[2020-08-20 12:26] Jackson-Kang commented on #199
@dathudeptrai

Thank you for your kind advice. :)
I will refer it.

Sincerely,

[2020-08-20 12:27] #199 closed

[2020-08-20 12:48] tekinek commented on #217
I saw this error when I tried to use this repo at the begging, but forgot how it was solved exactly. It is not a versioning problem. I suggest you to make a python virtual environment and conduct setup inside; or put the followings into a text file req.txt, then run  $pip3 install -r req.txt

tensorflow-gpu==2.3.0
tensorflow-addons>=0.10.0
setuptools>=38.5.1
librosa>=0.7.0
soundfile>=0.10.2
matplo

[2020-08-20 16:56] ZDisket commented on #208
@tekinek

PWGAN didn't really generate better speech according to my ears, I just used to favor it because of its more stable training. Note that I never trained a vocoder from scratch, always finetune (I have no patience)

That shouldn't be an issue. Vocoders turn mel spectrograms, which look pretty similar for human speech regardless of language, into audio. I've successfully used the pretrained

[2020-08-21 01:30] sabby993 opened #218 "Getting error when training tacotron-2 from scratch"
Hi there. I am new to tensorflow and text to speech systems in general and I was following your example of training tacotron-2 from scratch and I ran into the following error when I am running train_tacotron2.py as follows:

!CUDA_VISIBLE_DEVICES=0 python examples/tacotron2/train_tacotron2.py \
  --train-dir ./dump/train/ \
  --dev-dir ./dump/valid/ \
  --outdir ./examples/tacotron2/exp/train.taco

[2020-08-21 01:33] dathudeptrai commented on #218
Hi thể, ./dump/train is just example, you need change to ur dir when u preprocessing, for example ./dump_ljspeech/train

[2020-08-21 07:58] cxcxcxcx commented on #125
Something is weird here. I ran into the same problem, and I notice that y_mb_hat become either 1 or -1. Once it's in that state, masking loss wouldn't help.
For the baker dataset, I also noticed it trains ok for some time if I don't interrupt it. But if I stop and then load the saved checkpoint, the loss becomes crazy fast (in <10 cycles).

[2020-08-21 08:56] sabby993 commented on #218
Thanks a lot. Got it working now.

[2020-08-21 08:56] #218 closed

[2020-08-23 08:07] dathudeptrai opened #219 "🥰 Parallel Wavegan now avaiable 😴"
[Parallel Wavegan](https://arxiv.org/abs/1910.11480) with tensorflow now supported. Please see [here](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/parallel_wavegan) to get more infomation. We strongly recommend the users use pytorch parallel wavegan implementation [ParallelWaveGAN](https://github.com/kan-bayashi/ParallelWaveGAN) to training (very stable) then convert the weig

[2020-08-23 15:28] jinfagang opened #220 "Chinese training example?"
Does there any example on Chinese training?

[2020-08-23 21:52] cclauss opened #222 "Undefined name 'generated_subbands' in decode_parallel_wavegan.py"
[generated_subbands](https://github.com/TensorSpeech/TensorFlowTTS/search?q=generated_subbands&unscoped_q=generated_subbands) is an undefined name in this context and should be defined in a similar way to the other two examples.

flake8 testing of https://github.com/TensorSpeech/TensorFlowTTS on Python 3.9.0rc1+

% __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]

[2020-08-24 02:35] #222 closed

[2020-08-24 03:40] jinfagang commented on #220
@dathudeptrai I will try it, thanks!

[2020-08-24 03:40] #220 closed

[2020-08-24 06:04] thorstenMueller commented on #209
Just in case it's interesting for you:
With support of @domcross i've released a version 02 of "thorsten" dataset which is normalized to -24dB. Both download links (dataset v01 and v02) are available on my github page (https://github.com/thorstenMueller/deep-learning-german-tts/)

[2020-08-24 16:48] abhijeetchauhan opened #223 "Preprocessing on Mobile"
In the colab notebook for tflite for tacotron 2 it is written.
The TFLite file doesn't have LJSpeechProcessor. So you need to run it before feeding input vectors.

Is there a way to invoke LJSpeechProcessor in Android to get on device inference?

[2020-08-24 17:05] dathudeptrai commented on #223
@abhijeetchauhan write it by naitive java is much simpler :)). You can see our anrdroid example, it is implemented :)). (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/utils/Processor.java)

[2020-08-24 17:34] abhijeetchauhan commented on #223
Thank you :))

[2020-08-24 18:11] Zak-SA commented on #210
@dathudeptrai I am trying to use realtime E2E-TTS and I am getting this error:

visualize_attention(alignment_history[0])
NameError: name 'alignment_history' is not defined

[2020-08-24 18:52] Zak-SA commented on #210
@dathudeptrai I am trying to use realtime E2E-TTS and I am not getting any audio, but no error reported, I am getting alignment diagram and Predicted-Mel-After Spectrogram but no audio, any ideas?

[2020-08-24 22:36] Zak-SA commented on #210
@dathudeptrai  with Notebooks I am getting this errorL

 [[node encoder/conv_batch_norm/tf_tacotron_conv_batch_norm/conv_._0/conv1d (defined at /home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/models/tacotron2.py:96) ]]
0 successful operations.
0 derived errors ignored. [Op:__inference_inference_9850]

Function call stack:
inference -> inference

[2020-08-24 23:24] #223 closed

[2020-08-25 01:22] jesinj commented on #213
Thanks a lot for this information. I will try this out and keep you updated. Would the same be applicable for Tacotron2 as well?

[2020-08-25 01:24] ZDisket commented on #213
@jesinj Yes, see this for information: https://github.com/ZDisket/TensorflowTTS/commit/366b3f1d617bab5632efb731aae3ce53747f2bbc

[2020-08-25 01:26] jesinj opened #224 "Run time for LJSpeech database based tacotron2 training"
Hello

We have been trying to train the tacotron2 based speech synthesis model from scratch using the LJSpeech database. Can anyone comment on how long it has taken for them to train this using Colab? When the training has reached approximately 2000 steps, it is taking 12 hours time. In total there are 200k steps for the training right. Are we looking at at-least a week's training from scratch the

[2020-08-25 01:28] dathudeptrai commented on #224
@jesinj 200k is just maxmimum steps, if you train to extract duration for fastspeech2, you just need 40k. If you want to use it for real inference, around 80k-100k is enough. The training speed of LJSpeech on 2080Ti is 3.3s/1it without mixed precision.

[2020-08-25 01:31] ZDisket commented on #224
@jesinj

Yeah, pretty much, although I think model's done training at about 120k. You can alleviate it by going to the config and turning on `use_fixed_shapes` which yielded an almost 2x increase in speed for me.
If you're looking at something feasible to train from scratch from Colab, try looking at FastSpeech2.

[2020-08-25 01:31] jesinj commented on #224
@dathudeptrai thanks a lot for your reply. Yes, it would be preferable to be able to use Colab at the moment. I will have alook into it and keep you updated with my progress.

[2020-08-25 01:33] jesinj commented on #224
Finally, my aim is to use the trained model and adapt it for another variant of English. Will FastSpeech2 be suitable for this? @ZDisket @dathudeptrai

[2020-08-25 01:36] ZDisket commented on #224
@jesinj What do you mean by "variant of English"? If you have enough data and a forced aligner can accurately predict durations then FastSpeech2 is worth looking into.

[2020-08-25 01:40] jesinj commented on #224
I am working on New Zealand English - my database is small - single speaker - with 1000 sentences - studio-quality recordings. And I think the forced aligner will be able to align the data well.

So, I think the database may not be sufficient to train a model from scratch. Hence, I am trying to use a pre-trained model and then adapt it to my data.

[2020-08-25 01:47] ZDisket commented on #224
@jesinj Why retrain your own model from scratch? Is there something preventing you from using one that's already here? There's one FastSpeech2 MFA-aligned trained on LJSpeech. The easiest way to test it is by checking out the C++ inference demo.

[2020-08-25 01:55] jesinj commented on #224
We wanted to familiarize with the process of training, so that we can train it for a non-English language that we are working for as well. I think it maybe better to adapt a pre-trained model then, atleast for this English variant. I will have a look. Thanks again.

[2020-08-25 02:17] dathudeptrai commented on #210
THe log tell nothing :(

[2020-08-25 02:17] dathudeptrai commented on #210
what colab you used ?

[2020-08-25 02:41] Zak-SA commented on #210
I solved the error above for notebooks by setting TF_FORCE_GPU_ALLOW_GROWTH to true, but still not being able to get audio. would appreciate the help.

[2020-08-25 02:42] ayush9096 opened #225 "multiprocess.pool.MaybeEncodingError : Error sending result"
2020-08-25 08:10:15.795375: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
[Preprocessing]:   0%|                                                                                                                                                            | 0/23223 [00:00<?, ?it/s]
[Preprocessing]:   0%|

[2020-08-25 02:43] Zak-SA commented on #210
@dathudeptrai I am trying now with notebooks, downgraded to tensorflow-gpu==2.2 and set the TF_FORCE_GPU_ALLOW_GROWTH to true to solve the bug with tensorflow-gpu 2+ but still not being able to get audio files

[2020-08-25 02:44] Zak-SA commented on #210
@dathudeptrai I couldn't use colab because I am using customized data. all what i need to do is toi generate audio using my trained tacotron2 and trained mb_melgan

[2020-08-25 02:47] dathudeptrai commented on #210
can you send me ur code ?, the code to load model and do inference.

[2020-08-25 02:49] Zak-SA commented on #210
@dathudeptrai  Do you want me to paste it here?

[2020-08-25 02:50] dathudeptrai commented on #225
seems you didn't use master code, can you pull the newest code then:

[code]

and do preprocessing again ?

[2020-08-25 03:03] Zak-SA commented on #210
@dathudeptrai so I tried multiple attempts, I will share them all. appreciate your help

trying mb_melgan:

import yaml
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow_tts.inference import AutoConfig
from tensorflow_tts.inference import TFAutoModel

config = AutoConfig.from_pretrained("./examples/multiband_melgan/conf/multiband_melgan.v1.yaml")
mb_melga

[2020-08-25 03:04] Zak-SA commented on #210
@dathudeptrai
Tacotron2

import yaml
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow_tts.inference import AutoConfig
from tensorflow_tts.inference import TFAutoModel
from tensorflow_tts.inference import AutoProcessor

import IPython.display as ipd

processor = AutoProcessor.from_pretrained("./dump_ZAKspeech/ZAKspeech_mapper.json")

input_text = "وفي مقد

[2020-08-25 03:06] Zak-SA commented on #210
@dathudeptrai loading tacotron2 and mb_melgan

import tensorflow as tf

import yaml
import numpy as np
import matplotlib.pyplot as plt

import IPython.display as ipd

from tensorflow_tts.inference import TFAutoModel
from tensorflow_tts.inference import AutoConfig
from tensorflow_tts.inference import AutoProcessor

tacotron2_config = AutoConfig.from_pretrained('./examples/tacotron2/conf/tacotron2.v

[2020-08-25 03:13] ayush9096 commented on #225
`Traceback (most recent call last):
  File "/home/ayush/TTS/tensorTTS/bin/tensorflow-tts-preprocess", line 11, in <module>
    load_entry_point('TensorFlowTTS', 'console_scripts', 'tensorflow-tts-preprocess')()
  File "/home/ayush/TTS/TensorFlowTTS/tensorflow_tts/bin/preprocess.py", line 438, in preprocess
    for result, mel, energy, f0, features in train_map:
  File "/home/ayush/anaconda3/lib/py

[2020-08-25 03:19] dathudeptrai commented on #225
@ayush9096  at line https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L437. Can you print (result, mel, energy, f0, features) and its dtype for me ?

[2020-08-25 03:39] ayush9096 commented on #225
`2020-08-25 09:06:00.998772: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2020-08-25 09:06:03,131 (preprocess:364) INFO: Selected 'ljspeech' processor.
2020-08-25 09:06:03,182 (preprocess:403) INFO: Training items: 12445
2020-08-25 09:06:03,182 (preprocess:404) INFO: Validation items: 655
[Preprocessing train]:   0%|

[2020-08-25 03:44] dathudeptrai commented on #210
@Zak-SA not yet see the bug. Can you tell me where the code show the bug ?

[2020-08-25 03:52] dathudeptrai commented on #225
@ayush9096 weird, i just re-run the ljspeech preprocessing and everything is fine so far. Did you use `pip install -e .` ?. I think there is a mismatch version. My numpy version is `1.18.5`

[2020-08-25 03:55] Zak-SA commented on #210
@dathudeptrai  now I don't have a bug, but no audio generated or saved. after running the tacotron2 code I get "test_saved" folder with:
|- test_saved/
|   |- saved_model.pb
|   |-assets/ (empty)
|   |-variables/
|                   |- variables.data-00000-of-00002
|                   |-variables.data-00001-of-00002
|                   |-variables.index

and for mb_melgan:
|- tmb_melgan/
|   |- sa

[2020-08-25 04:02] dathudeptrai commented on #210
@Zak-SA the code didn't save an audios to file. you can see this line of code `ipd.Audio(audios, rate=22050)`, it play audio directly in the notebook, if you want to save it into file, let try this line after:

[code]

[2020-08-25 04:08] Zak-SA commented on #210
@dathudeptrai it worked , Great!
but I noticed that the generated audio is 46 second, the test is only 5 seconds but it keeps mumbling for about 40 second. will this improve when I get more training steps or I need to change something?

Thank you so much

[2020-08-25 04:16] dathudeptrai commented on #210
ur tacotron is 14k Steps, you need to train around 80k steps if you want to use it for real inference.

[2020-08-25 04:19] Zak-SA commented on #210
@dathudeptrai that what I though too, but in the previous tacotron2 recipes I didn't have this issue, I will re install tensorflow-gpu==2.3 and resume training, thanks again for you help

[2020-08-25 04:37] Zak-SA commented on #210
@dathudeptrai I noticed when training mb_melgan that there is silence space in the waveform. please see attached, is this normal?
![3](https://user-images.githubusercontent.com/69210988/91123556-27b0aa80-e66b-11ea-8440-aacbe4b007ff.png)

[2020-08-25 04:48] ayush9096 commented on #225
@dathudeptrai  Yes, my numpy version are also same. I was setting fmin  " " and fmax " " , in lj_speech_processor.yaml, that's why it was coming. It worked after giving a pre-defined value.

[2020-08-25 04:50] ayush9096 commented on #225
@dathudeptrai How should I re-consider the global gain scale, if using some other dataset ?

[2020-08-25 05:12] dathudeptrai commented on #210
that is a padding part, normal :)). it won't happend in real inference.

[2020-08-25 12:57] dathudeptrai commented on #225
Can you give me ur setting so i can find the reason

[2020-08-25 19:49] ayush9096 commented on #225
@dathudeptrai  I was using null values for fmin and fmax.

`###########################################################
#                FEATURE EXTRACTION SETTING               #
###########################################################
sampling_rate: 22050     # Sampling rate.
fft_size: 1024           # FFT size.
hop_size: 256            # Hop size. (fixed value, don't change)
win_length: null

[2020-08-26 08:53] IPL opened #226 "Two small typos in the End-to-End Examples of README.md?"
**The first one:**
[code]
->
[code]

**The second one:**
[code]
->
[code]

[2020-08-26 08:59] dathudeptrai commented on #226
@IPL yes, i will fix it.

[2020-08-26 13:39] tekinek commented on #208
Hi @ZDisket Thanks. It seems fine-tuning should be preferred in most cases of training a vocoder.

My training of mb-melgan from Kan Bayashi's repo is ready. Is there any instruction on how to use it with TensorflowTTS FS2? so that I could save some effort.

![Firefox_Screenshot_2020-08-26T13-29-59 731Z](https://user-images.githubusercontent.com/68597606/91310350-5a31e300-e7e4-11ea-830d-35882f41e1

[2020-08-26 15:14] ZDisket commented on #208
@tekinek

I recall there was a notebook to convert weights from kan's repo to this one so you can use it like it was a model trained here, although I lost it(I think @dathudeptrai has it) because I discovered and switched to training multiband pwgan, which is able to give good results after just 500 steps of finetuning and I usually mostly train it to 5 or 50k: https://github.com/TensorSpeech/Tens

[2020-08-27 03:55] Zak-SA commented on #210
@dathudeptrai can you help me by pointing to the tutorial to convert tacotron2 and mb-melgan to tflite and use the android example?

By the way the results of tacotron2 training is improving. Highly appreciate your help.