[2020-04-11 09:55] erogol opened #5 "melgan missing weightnorm."
Maybe we can add using
https://www.tensorflow.org/addons/tutorials/layers_weightnormalization

[2020-04-11 13:17] #5 closed, assigned to dathudeptrai

[2020-05-31 12:41] zhouyong64 opened #16 "Does it support multi-speaker?"
Seems like the papers you implemented don't have multi-speaker support.

[2020-05-31 12:57] dathudeptrai commented on #16
@zhouyong64 hi, fastspeech already supported multi-speaker (tested and worked). For tacotron-2 i already implemented but not test yet. For melgan, you just need train it with multi-speakers datasets, it can be learn :)).

[2020-05-31 16:25] ZDisket opened #18 "Some questions"
1. Are the mel outputs generated compatible with kan-bayashi's ParallelWaveGAN?
2. There's a FastSpeech synthesis example, but not Tacotron2. How to generate speech with the Tacotron2 pretrained model and MelGAN-STFT?

[2020-05-31 16:32] dathudeptrai commented on #18
Hi,

We have different train/valid split. But generally, the preprocessing steps is the same and the mean/var of our training very close. So let say, i believe it's compatible, you can use Tacotron, Fastpeech generated from this repo and use pretrained models from ParallelWaveGAN.

To know how to inference, you can see detail at decode_tacotron2.py or decoder_melgan.py in examples directory. Melga

[2020-05-31 18:03] #18 closed

[2020-05-31 18:04] ZDisket opened #19 "tensorflow-tts-normalize: "UnboundLocalError: local variable 'subdir' referenced before assignment""
I've formatted my dataset like the LJSpeech one in the README so I can skip writing a dataloader for finetuning.
This is my directory
![image](https://user-images.githubusercontent.com/30500847/83359195-11869d00-a34f-11ea-88cf-c2279155f2f4.png)
And this is my metadata.csv. I've made it fileid|transcription|transcription because in ljspeech.py there was `text = parts[2]` which was giving me index o

[2020-05-31 18:13] dathudeptrai commented on #19
@ZDisket can u check the code in tensorflow_tts/bin/normalize.py. That mean somehow ur utt_id return not exist in both train_utt_ids.npy and valid_utt_ids.npy

[2020-05-31 18:24] ZDisket commented on #19
@dathudeptrai
I've gone over the function, added `subdir = "train"` to stop it from erroring out and some functions to dump the lists:
allids.txt is the ids dumped inside the` for items in tqdm(dataset):` loop
validids.txt and trainids.txt is the ids for each list defined beforehand.
[validids.txt](https://github.com/dathudeptrai/TensorflowTTS/files/4708155/validids.txt)
[allids.txt](https://githu

[2020-05-31 19:34] ZDisket commented on #19
I've replaced `utt_id = utt_id[0].numpy().decode("utf-8")` with `utt_id = utt_id[0].numpy().decode("utf-8").replace("-raw","")` and everything worked until I tried to train.
I pasted the training function with the snippet on **Finetune Tacotron-2 with ljspeech pretrained on other languages** but without the vocab size modification because I didn't know where the vocab size was so I assumed it was

[2020-05-31 23:34] dathudeptrai commented on #19
@ZDisket so it's not my bug, right ?. BTW, what model you will training ?

[2020-05-31 23:44] ZDisket commented on #19
@dathudeptrai

I think it's your bug, I haven't done anything to change its behavior so that it would act like that, only to fix it.

I'm trying to fine-tune the pre-existing LJSpeech model with that of a fictional character. By the way, is it normal for it to take 1 hour and 30 minutes for 1200 iterations on a Tesla P100? Seeing the alignment figures, I'm assuming 1 iteration from this implementa

[2020-05-31 23:48] dathudeptrai commented on #19
@ZDisket For tacotron-2, the training speed is 4s/1it on 2080Ti, Fs is 3it/1s, melgan is 5it/s, melgan.stft is 2.5it/s.

[2020-05-31 23:54] ZDisket commented on #19
@dathudeptrai
That's good, mine is 4.50s/it in Tacotron2.

Neither do I.
And one question just to know: since there's only one pretrained model available, would that make mine the 2nd one to ever be trained with this repo?

[2020-05-31 23:57] dathudeptrai commented on #19
@ZDisket

Maybe :)). The repo just released 18 hours ago.

BTW, if you see any models here training slower than other repo, let me know :)) i will focus to make it training and convergence faster :D

[2020-06-01 00:09] ZDisket commented on #19
@dathudeptrai

I can't say what compared to NVIDIA/Tacotron2, but your repo is already looking better than ESPNet.
[predictions.zip](https://github.com/dathudeptrai/TensorflowTTS/files/4708719/predictions.zip)
I'll say when I start doing inference at 20 epochs.

[2020-06-01 00:11] dathudeptrai commented on #19
@ZDisket what is ur dataset do u use ? and how many samples ?

[2020-06-01 00:14] ZDisket commented on #19
@dathudeptrai
9019 seconds of high-quality audio of a female speaker on varying emotions distributed over 3489 files.

[2020-06-01 00:43] dathudeptrai commented on #19
@dathudeptrai seem dataset small :)).

[2020-06-01 01:39] ZDisket commented on #19
@dathudeptrai

That's the best-case scenario of all the datasets I have. By the way, to fine-tune MelGAN-STFT, I load the pretrained weights for both the discriminator and generator or only one?

[2020-06-01 02:03] dathudeptrai commented on #19
@ZDisket

That is ur choice :))), i think both :D

[2020-06-01 02:45] dathudeptrai commented on #19
i close issue :D.

[2020-06-01 02:45] #19 closed

[2020-06-01 05:26] jinfagang opened #20 "Will it support Chinese?"
Will it support Chinese training and synthisis?

[2020-06-01 05:29] dathudeptrai commented on #20
@jinfagang I have no plan to support Chinese. I think a code is general enough to apply for all languages. FOr melgan, it can be apply for all languages and multi speakers datasets. FOr tacotron and Fastspeech you should write ur own preprocessing.

[2020-06-02 02:36] ZDisket opened #22 "Can't train MelGAN-STFT discriminator"
I have been training MelGAN-STFT by finetuning it on the LJSpeech model. When it gets to `discriminator_train_start_steps`, it stops and tells me to restart. When I restart with the discriminator on less than the steps of the latest checkpoint (210k vs 220k), I get this:

[code]
Also, all my [predictions ](https://drive.google.com/drive/folders/1-GYe5NPZ7MFRoz4NbX-oshPF-4cvlJKX?usp=sharing)have he

[2020-06-02 02:43] dathudeptrai commented on #22
@ZDisket https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/utils/group_conv.py#L283. Plese repce nn_ops.Convolution to Convolution. That is a mismatch between my local code and public code, sorry, fix now :)). You need to train around 700-800k to have a good quality :D.

[2020-06-02 02:45] #22 closed

[2020-06-02 02:52] dathudeptrai commented on #22
BTW, what is ur training speed :D

[2020-06-02 02:53] ZDisket commented on #22
@dathudeptrai

About 10.8it/s on a P100.

[2020-06-02 02:55] dathudeptrai commented on #22
@ZDisket too fast :)) how about tacotron now ?

[2020-06-02 02:58] ZDisket commented on #22
@dathudeptrai

I don't have it right now but I don't remember it changing from the last figure I told you earlier.

[2020-06-02 02:59] dathudeptrai commented on #22
ok :D. Ur dataset seem very good :)). I like the emotion speech :)))

[2020-06-02 03:02] ZDisket commented on #22
@dathudeptrai
If you like it that much then you can have it. It's the least I can do after you made this awesome repo and helped me.

[2020-06-02 03:05] dathudeptrai commented on #22
@ZDisket t thought that is private dataset and cann't be share ?

[2020-06-02 03:07] ZDisket commented on #22
@dathudeptrai
It's "private" as in only me and a few others know about its existence, but not private as in that it's forbidden or problematic to share it.

[2020-06-02 03:13] dathudeptrai commented on #22
@ZDisket it' good if you make pull request to share an audio samples end2end or pretrained model for that datasets (Don't need share dataset :D). That will prove that model in this repo can be train efficiently on expressive dataset

[2020-06-02 03:18] ZDisket commented on #22
@dathudeptrai If the model turns out good, can I email you the models and audio samples instead? I'm not entirely familiar with this repo's organization.

[2020-06-02 03:19] dathudeptrai commented on #22
@ZDisket  yes, you can. I will copyright of you.

[2020-06-02 03:35] #20 closed

[2020-06-02 03:35] #16 closed

[2020-06-02 15:21] anasvaf opened #23 "Saving entire model"
Hello I tried to save the entire model for Tacotron-2, instead of the weights, as an h5 file. However, I am getting the following error

I used the following code to successfully load the weights:
[code]

Then I tried to call `tacotron2.save("full_tacotron2.h5") ` and I got the afformentioned error. Should I modify the trainers/base_trainer.py as follows and re-train or is there another way to sav

[2020-06-02 16:15] xxoospring opened #24 "Is this mb-melgan possible to use taco2's or fastspeech's mel output directly? and how about the RTF on cpu inference?"

[2020-06-02 16:35] dathudeptrai commented on #23
@anasvaf i won't suggest you save entire model h5, It does not guarantee success. After you load weight from h5 file, you can save it into pb file then do inference on server.

[2020-06-02 16:42] dathudeptrai commented on #24
@xxoospring yes, it possible. About inference speed, i wil let you try :)), it really, really super fast :D

[2020-06-02 16:46] #24 closed

[2020-06-03 02:05] khanhlvg opened #25 "Tacotron2 end2end sample"
Could you provide a end2end sample showing how to use the Tacotron2 pretrained model? I tried to reach the source code but couldn't figure out what to feed to each parameter.

Thanks!

[2020-06-03 02:08] dathudeptrai commented on #25
@khanhlvg pls, decode_tacotron.py on examples/tacotron2. There are many thing for me todo now :)), i will create colab and github pages :)) it will take some times

[2020-06-03 04:25] dathudeptrai commented on #25
@khanhlvg https://github.com/dathudeptrai/TensorflowTTS/blob/master/notebooks/tacotron2_inference.ipynb

[2020-06-03 04:25] #25 closed

[2020-06-03 04:27] dathudeptrai commented on #18
@ZDisket https://github.com/dathudeptrai/TensorflowTTS/blob/master/notebooks/tacotron2_inference.ipynb. Just in case :D

[2020-06-03 07:31] manmay-nakhashi opened #26 "how to generate -durations.npy"
there is no documentation about generating -durations.npy

[2020-06-03 07:32] dathudeptrai commented on #26
See examples/tacotron2

[2020-06-03 07:38] manmay-nakhashi commented on #26
thanks

[2020-06-03 07:43] anasvaf commented on #23
@dathudeptrai Thank you for the prompt response!
Unfortunately, It did not work either when I added the save_format="tf".
I have read the API docs regarding the saved model, however I am still confused how to go from the saved HDF5 weights to a frozen pb file. I would still need the names for the input and output tensors from the graph. Is this right?

[2020-06-03 07:55] dathudeptrai commented on #23
@anasvaf i will do it for you tonight :)))

[2020-06-03 07:56] #26 closed

[2020-06-03 08:10] anasvaf commented on #23
@dathudeptrai Yes, saving the model as pb would be really helpful, so I can use post-training quantization and try to import it on a raspberry to check the latency on the inference of mel prediction :)
Thank you for all the help!

[2020-06-03 08:12] manmay-nakhashi opened #27 "inference time is more then pytorch version fastspeech , is there any additional layers added?"

[2020-06-03 08:14] dathudeptrai commented on #27
Can you provide a code to compare? In my experiment tf is faster

[2020-06-03 08:22] manmay-nakhashi commented on #27
experiment is done on single cpu
TensorTTS
i have put a time.time() before and after inference functions
encode time: 2.9387922286987305
decode time: 0.8694911003112793
decode time: 0.3629953861236572
Fastspeech Time Calculation:
6.878948211669922
Melgen Time Calculation:
0.5189647674560547
TTS Time Calculation:
8.024913549423218
Pytorch fastspeech
4.426220178604126

[2020-06-03 08:25] dathudeptrai commented on #27
Tf run 1 times or loop ? On the first time tf run so slow. You should run around 50
Times and average last 40 times, ignore first 10 times

[2020-06-03 08:26] manmay-nakhashi commented on #27
i have done this experiment on single cpu

[2020-06-03 08:27] manmay-nakhashi commented on #27
i have ignored data loading part in time calculation

[2020-06-03 08:27] manmay-nakhashi commented on #27
i have ignored data loading part in time calculation

[2020-06-03 08:29] manmay-nakhashi commented on #27
i have ignored data loading part in time calculation

i have ran it for single time , but time difference is already huge. ******on cpu*******

[2020-06-03 08:29] dathudeptrai commented on #27
Do you run many times and average ?. It does not make any sense for me, tf melgan run 2.5x faster than pytorch melgan. Fs 2x faster too. You must send me a code you use to calculate time.

[2020-06-03 08:34] manmay-nakhashi commented on #27
import numpy as np
import soundfile as sf
import yaml

import tensorflow as tf

from tensorflow_tts.processor import LJSpeechProcessor

from tensorflow_tts.configs import FastSpeechConfig
from tensorflow_tts.configs import MelGANGeneratorConfig

from tensorflow_tts.models import TFFastSpeech
from tensorflow_tts.models import TFMelGANGenerator
import time
# initialize fastspeech model.
with open('.

[2020-06-03 08:34] manmay-nakhashi commented on #27
encoder decoder time i have put it inside model code

[2020-06-03 08:35] manmay-nakhashi commented on #27
Command i ran for time calculation == >>> CUDA_VISIBLE_DEVICES=-1 taskset --cpu-list 0 python3 inference.py

[2020-06-03 08:46] dathudeptrai commented on #27
You ran 1 times, it will slow. You should loop and average time, ignore around first 5 iterations.

[2020-06-03 08:47] manmay-nakhashi commented on #27
sure let me do that

[2020-06-03 08:52] manmay-nakhashi commented on #27
where did you loop it ? inside script or in bash ?

[2020-06-03 08:53] dathudeptrai commented on #27
Loop inference function on script

[2020-06-03 09:05] manmay-nakhashi commented on #27
it is comparable now thanks , still pytorch fastspeech  time  : 0.09 and Tensorflow fastspeech time : 1.19 sec

[2020-06-03 09:07] dathudeptrai commented on #27
i think there is mismatch about paramer config, in my experiment, tf always faster than pytorch. I will let you check the speed :)

[2020-06-03 09:07] #27 closed

[2020-06-03 09:18] xiaoyangnihao opened #28 "How to implement Tacotron2 model without using tensorflow_addons library ?"
Api in tensorflow_addons  seems a little complicated, can somene implement tacotron2 model, especically the Attention module and Decode model, just like the way in Pytorch?

[2020-06-03 09:24] dathudeptrai commented on #28
@xiaoyangnihao why you don't want use tf_addons, it is great, better abstract. If you want to know how to implement tacotron 2 without tf_addons, pls ref https://github.com/dathudeptrai/TensorflowTTS/blob/c5970e5d5a2999f6f6a3b9631f75f2597658a960/tensorflow_tts/layers/tacotron2.py, https://github.com/dathudeptrai/TensorflowTTS/blob/c5970e5d5a2999f6f6a3b9631f75f2597658a960/tensorflow_tts/models/taco

[2020-06-03 09:24] #28 closed

[2020-06-04 04:38] ZDisket opened #29 "Does this Tacotron2 support phonetic training?"
Training with phonemes instead of raw text could improve the performance of the models. If it does, will there be a phonetic pretrained model like ESPNet's?

[2020-06-04 06:11] dathudeptrai commented on #29
Yes i have a plan, but there are still many thing i need to do now :(

[2020-06-04 08:28] dathudeptrai commented on #23
[code]

[2020-06-04 09:32] anasvaf commented on #23
@dathudeptrai Thank you so much! :) works like a charm :). I can get the pb file. Do you know the name of the mel_outputs tensor? I mean in the variables.data file what should be the name, as a string? Something like: "post_net/tf_tacotron_conv_batch_norm_9/batch_norm_._4/moving_variance"

[2020-06-04 14:09] dathudeptrai commented on #23
@anasvaf why you need the name, you can use tf.saved_model.load and do inference as above code ?. you can print(mel_outputs) to get a name.

[2020-06-04 14:12] #29 closed

[2020-06-04 14:17] ZDisket commented on #18
@dathudeptrai
Nice. It seems pretty similar to [my notebook](https://colab.research.google.com/drive/1SLl0tVT6tBu1zEn7atlrMWMIk1ucLRd0?usp=sharing).

[2020-06-04 14:34] dathudeptrai commented on #18
@ZDisket great :)). I just uploaded Tacotron pretrained 120K. I'm training multiband melgan, it will 3x faster and improve quality compared with melgan-stft :D.

[2020-06-04 14:44] dathudeptrai commented on #18
why mb-melgan on kan-bayashi not worked ?

[2020-06-04 14:48] ZDisket commented on #18
@dathudeptrai  All my [predictions](https://drive.google.com/drive/folders/1-Ep7YnBKO_YvXfSod9GQmaFu_63-85f9?usp=sharing) had heavy metallic noise, and when it reaches the discriminator train start steps (on another training run) they all become pure noise.

[2020-06-04 14:52] dathudeptrai commented on #18
okay, let see how mb melgan on this repo help you. It will finish training progress on saturday, i think :D.

[2020-06-04 16:23] manmay-nakhashi commented on #23
tensorflow.python.saved_model.nested_structure_coder.NotEncodableError: No encoder for object [tf.Tensor(2000, shape=(), dtype=int32)] of type [<class 'tensorflow.python.framework.ops.EagerTensor'>].
i am getting this error , can it be version issue ??

[2020-06-04 16:24] dathudeptrai commented on #23
@manmay-nakhashi i fixed it today :)) pls git pull :D

[2020-06-04 16:26] manmay-nakhashi commented on #23
ok thanks

[2020-06-04 16:34] dathudeptrai commented on #23
@manmay-nakhashi @anasvaf i think you guys need "watch" my repo, to be sure you guys won't missing any update. I will update multiban melgan soon, it's 3x faster than melgan and quality is better.

[2020-06-05 00:35] ZDisket commented on #18
@dathudeptrai
I can't see Tacotron2-120k in the pretrained models section in [here](https://github.com/dathudeptrai/TensorflowTTS/tree/master/examples/tacotron2). Where is it?

[2020-06-05 01:16] dathudeptrai commented on #18
https://drive.google.com/drive/u/1/folders/1kaPXRdLg9gZrll9KtvH3-feOBMM8sn3_
@ZDisket

[2020-06-05 07:36] anasvaf commented on #23
@dathudeptrai I will try printing the tf.Tensor to check the its node name. The reason that I asked is that if you build TF from source and deploy it on Android, my guess is that you would need to specify the node input/output name for the .pb file (as in line 74 https://github.com/googlecodelabs/tensorflow-for-poets-2/blob/master/android/tfmobile/src/org/tensorflow/demo/ClassifierActivity.java)

[2020-06-05 07:38] dathudeptrai commented on #23
@anasvaf

Send me a code that u are using.

[2020-06-05 08:23] superhg2012 opened #30 "fastspeech inference duration_outputs"
when run fastspeech in inference mode, why  use exp op after duration_output from duration predictor?

`duration_outputs = tf.math.exp(duration_outputs) - 1.0`

[2020-06-05 08:26] dathudeptrai commented on #30
@superhg2012 see https://github.com/dathudeptrai/TensorflowTTS/blob/master/examples/fastspeech/train_fastspeech.py#L126-L127. I use log loss for duration.

[2020-06-05 08:41] superhg2012 commented on #30
thanks @dathudeptrai  Also,  your params and activation are different with paper configs. Does mish activation and relu6 activation helps improve synthesized audio quality? Did you try params in fastspeech paper?

[2020-06-05 08:42] dathudeptrai commented on #30
@superhg2012 it improve a loss.

[2020-06-05 08:54] superhg2012 commented on #30
a lot?

[2020-06-05 08:55] dathudeptrai commented on #30
from 0.25 to 0.23 mae loss :))

[2020-06-05 09:01] superhg2012 commented on #30
I have two questions
1 dropout in postnet set to 0.1 rather than 0.5?
2 why use mask in each model and layer?

[2020-06-05 09:05] manmay-nakhashi commented on #23
@anasvaf @dathudeptrai i am trying to convert this model to tflite model , but saved_model dosen't have any signatures do you know why , and how can i add it ?

[2020-06-05 09:06] dathudeptrai commented on #30
I don't see any different between mel loss before and after postnet. Maybe ignore postnet is sill ok. For dropout i set it = 0.1 rather than 0.5 because i am not aware of it :)). Maybe 0.5 is better ^^.

Just for safe, that is my habit. Mask every where to make sure everything work correctly, i don't really want there is a bug related with "padding".

[2020-06-05 09:25] superhg2012 commented on #30
In multi-head self-attention part, why there is a dense layer before dropout and Layernorm? what's it for?

[2020-06-05 09:45] superhg2012 commented on #30
dk in self-attention softmax  is 64 in most fastspeech implementations, does it affect too much?

[2020-06-05 09:48] dathudeptrai commented on #30
@superhg2012 that is a thing i missed. But it's not important, in my implementation, 4 layers is enough, if use df=64, use should use 6 layers to get a comparable model with my models.

[2020-06-05 09:54] superhg2012 commented on #30
I am training fastspeech with post-cbhg for linear_spectrogram predicting, and also tried 6 and 4 FFT layers on a 6 hours dataset, on training dataset , audio is perfect ,but bad quality on test texts.  Also I am using noam learning rate scheduling. my loss is 0.6

[2020-06-05 09:57] dathudeptrai commented on #30
Can u share ur learning curves, loss 0.6 seem too high, my loss around 0.3

[2020-06-05 09:59] superhg2012 commented on #30
![image](https://user-images.githubusercontent.com/8817309/83863746-5ac35c00-a756-11ea-8d5b-3d6f7baf2a5b.png)

[2020-06-05 10:01] dathudeptrai commented on #30
@superhg2012  are u using my implementation ?

[2020-06-05 10:04] superhg2012 commented on #30
not yet, I wirte it with tensorflow1.0. I have post-cbhg for linear-spectrogram.  Does normalization for mel-spectrogram work?

[2020-06-05 10:05] dathudeptrai commented on #30
yes it work :D

[2020-06-05 10:07] superhg2012 commented on #30
where is your alignments  from?  Tacotron2 with r=1? I found that alignment data affects fastspeech training too much

[2020-06-05 10:09] dathudeptrai commented on #30
@superhg2012 yes, i use my tacotron-2 at 40K to extract durations. I will re-train fs with tacotron-2 at 120k steps with window masking. Yeah, duration affect fs too much.

[2020-06-05 10:17] superhg2012 commented on #30
yes, I see that in your tacotron2, teacher forcing ratio is constant 1.0 during training and during testing(extract durarion)  use  prev_predicted_outputs all the time.

[2020-06-05 10:18] dathudeptrai commented on #30
yes :)), i implement teacher forcing ratio for people who want to try :)). But training without is is enough to get good model :D.

[2020-06-05 10:22] superhg2012 commented on #30
I used teacher foring scheduled for training and extract alignment with gta

[2020-06-05 10:24] dathudeptrai commented on #30
@superhg2012 i think the best workflow is: training tacotron without scheduled teacher forcing ->>> extract alignment with gta and window masking to force monotonic alignment.

[2020-06-05 10:47] anasvaf commented on #23
@dathudeptrai This is the code for inference.

[code]

And the output I am getting is, since I have saved the pb file with a larger sentence:
[code]

[2020-06-05 10:49] anasvaf commented on #23
@manmay-nakhashi I am not sure if you can get a tflite from the pb file, since there are multiple @tf.function definitions in the model. E.g., on the call and infer function located at models/tacotron2.
Maybe I am wrong.

[2020-06-05 10:53] dathudeptrai commented on #23
ok, i will try to fix those issues tonight.

[2020-06-05 11:07] superhg2012 commented on #30
@dathudeptrai  thanks , I will try it

[2020-06-05 11:39] manmay-nakhashi commented on #23
@anasvaf
yes i have tried this but it seens like you can convert any function to tflite if we can add signature and make it a concrete function
https://github.com/tensorflow/tensorflow/issues/34350
i was looking into this issue

[2020-06-05 11:44] manmay-nakhashi commented on #23
@dathudeptrai @anasvaf i think it would be best if we can convert this to tflite for faster inference to mobile devices an embedded.

[2020-06-05 12:13] anasvaf commented on #23
@manmay-nakhashi you can still quantize the weights on the .pb file. At the moment it is only 2.6 MB (consisting of variableOPs). If you build TensorFlow for mobile from source you can still perform quite fast inference on mobile, utilizing only the CPU. Not sure how much you can speed up Tacotron-2 with the TFLite that can use the GPU. Notice that the most computationally intensive operations, ba

[2020-06-05 12:52] manmay-nakhashi commented on #23
@anasvaf tflite works on flat buffer and tensorflow pb file is protobuf , flat buffer is faster mostly on low end devices.

[2020-06-05 16:51] dathudeptrai commented on #23
@anasvaf https://github.com/dathudeptrai/TensorflowTTS/pull/31 for you.

[2020-06-05 17:02] dathudeptrai commented on #23
@anasvaf @manmay-nakhashi  pls close if it solve ur problem. I don't think we can convert Tacotron to tflite, even we can do that, there is no way make it can be run real-time on mobile devices.

[2020-06-05 17:14] #30 closed

[2020-06-05 17:59] anasvaf commented on #23
@dathudeptrai thank you so much for all your help!! :))

[2020-06-05 17:59] #23 closed

[2020-06-06 02:17] rgzn-aiyun opened #32 "Problems creating Tensorflow-based Dataloader"
Hi, I encountered the following problems when using it, do you know how to solve it?
tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
[Preprocessing]:   0% 0/10000 [00:00<?, ?it/s]
[Preprocessing]:   0% 0/10000 [00:01<?, ?it/s]
[Preprocessing]:   0% 0/10000 [00:01<?, ?it/s]
[Preprocessing]:   0% 0/10000 [00:01<?, ?it/s]
[Preprocessing]:

[2020-06-06 02:21] rgzn-aiyun commented on #32
Using csmsc data, amended the sampling rate, it seems invalid?

[2020-06-06 02:34] rgzn-aiyun commented on #32
@dathudeptrai

[2020-06-06 02:43] dathudeptrai commented on #32
@rgzn-aiyun the error said that the file 000001.wav seem to have a different sampling rate compared with sampling_rate on ljspeech_preprocess.yaml

[2020-06-06 02:55] rgzn-aiyun commented on #32
sampling_rate: 24000，Is consistent.

[2020-06-06 02:56] dathudeptrai commented on #32
@rgzn-aiyun pls change sampling rate on ljspeech_processes.yaml to 24000

[2020-06-06 02:57] rgzn-aiyun commented on #32
Doesn't seem to work?

[2020-06-06 03:00] dathudeptrai commented on #32
@rgzn-aiyun your bug here https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L164-L165. That mean a file  000001.wav has a sampling rate difference with config["sampling_rate"].

[2020-06-06 03:02] rgzn-aiyun commented on #32
The BZNSYP.rar data used should be reasonable.

[2020-06-06 03:11] rgzn-aiyun commented on #32
Looks like uncompressed PCM WAV format, sampling rate is 48kHz, 16bit？Before ParallelWaveGAN adopted 24000, it seemed no problem.

[2020-06-06 03:19] dathudeptrai commented on #32
@rgzn-aiyun you can ignore those sample, just modify tensorflow_tts/bin/preprocess.py

[2020-06-06 03:44] rgzn-aiyun commented on #32
Modified the code, it seems to run, but the data display seems to be a problem?
[Preprocessing]:   6% 625/10000 [01:30<22:35,  6.92it/s]
[Preprocessing]:   6% 625/10000 [01:39<24:59,  6.25it/s]
[Preprocessing]:   6% 625/10000 [01:43<25:47,  6.06it/s]
[Preprocessing]:   6% 625/10000 [01:48<27:01,  5.78it/s]
[Preprocessing]:   6% 625/10000 [03:13<48:27,  3.22it/s]
[Preprocessing]:   6% 625/10000 [03

[2020-06-06 03:54] dathudeptrai commented on #32
@rgzn-aiyun it's multi-processing so it's ok

[2020-06-06 04:42] rgzn-aiyun commented on #32
The direct sampling rate is changed to 24000, the error should be in the last step of saving data in p.map(save_to_file, range(len(processor.items))).

[2020-06-06 04:47] rgzn-aiyun commented on #32
There is an error:
CUDA_VISIBLE_DEVICES=0 python examples/fastspeech/train_fastspeech.py \
  --train-dir ./dump/train/ \
  --dev-dir ./dump/valid/ \
  --outdir ./examples/fastspeech/exp/train.fastspeech.v1/ \
  --config ./examples/fastspeech/conf/fastspeech.v1.yaml \
  --use-norm 1
  --mixed_precision 0 \
  --resume ""

--use-norm 1 is missing a symbol /

[2020-06-06 04:53] rgzn-aiyun commented on #32
Traceback (most recent call last):
  File "examples/fastspeech/train_fastspeech.py", line 31, in <module>
    from examples.fastspeech.fastspeech_dataset import CharactorDurationMelDataset
ModuleNotFoundError: No module named 'examples.fastspeech'

Can't find this file from the beginning of training?

[2020-06-06 04:59] dathudeptrai commented on #32
you should run the command line outside of the folder examples so it can understand module named examples.fastspeech, i guess you are running the script inside a folder example/fastspeech

[2020-06-06 05:10] rgzn-aiyun commented on #32
Run in the TensorflowTTS directory

[2020-06-06 07:33] rgzn-aiyun commented on #32
@dathudeptrai
tensorflow-tts-normalize --rootdir ./dump --outdir ./dump --stats ./dump/stats.npy --config preprocess/ljspeech_preprocess.yaml
2020-06-06 07:29:40.990457: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2020-06-06 07:29:40.992572: E tensorflow/stream_executor/cuda/cuda_driver.cc:313] failed call to cuInit: CUDA_ERROR_N

[2020-06-06 07:43] dathudeptrai commented on #32
I cannot reproduce those error. Pls see #19

[2020-06-06 08:16] rgzn-aiyun commented on #32
I've replaced utt_id = utt_id[0].numpy().decode("utf-8") with utt_id = utt_id[0].numpy().decode("utf-8").replace("-raw","") and everything worked.

There seems to be an error when starting training?
2020-06-06 08:10:26,781 (train_fastspeech:341) INFO: mixed_precision = False
2020-06-06 08:10:26,781 (train_fastspeech:341) INFO: version = 0.6.1
Traceback (most recent call last):
  File "train_fastsp

[2020-06-06 08:19] dathudeptrai commented on #32
Pls see the last sentence of step 1. You need extract duration from teacher model like tacotron to be able train fastspeech

[2020-06-06 08:39] rgzn-aiyun commented on #32
*-durations.npy？It seems that there are only four directories: id, raw-feat, norm-feats, and wave.

[2020-06-06 08:45] dathudeptrai commented on #32
Pls read step 1 again. You need extract duration files base on tacotron 2. You should train tacotron before you train fastspeech.

[2020-06-06 08:48] rgzn-aiyun commented on #32
What is the connection? Training tacotron alone will undoubtedly add more time!

[2020-06-06 08:55] dathudeptrai commented on #32
The duration files are extracted from tacotron alignments

[2020-06-06 09:58] rgzn-aiyun commented on #32
TensorflowTTS/examples is missing a __init__.py file.

[2020-06-06 09:59] dathudeptrai commented on #32
Ok i will fix those bugs tonight.

[2020-06-06 10:48] rgzn-aiyun commented on #32
@dathudeptrai
2020-06-06 10:06:22.365322: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:184] Filling up shuffle buffer (this may take a while): 9460 of 9500
2020-06-06 10:06:31.056826: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:233] Shuffle buffer filled.
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/context.py", line 198

[2020-06-06 11:20] dathudeptrai commented on #32
What is ur version of tf. I never have this problem. @ZDisket do u have this problem ? I see u can be train tacotron 2

[2020-06-06 14:15] ZDisket commented on #32
@dathudeptrai Never heard of it, and I've trained two Tacotron2 models (well actually three since I redid my first model on Tacotron2-120k), along with two MelGAN-STFTS
Although I did have the can't find 'examples.xxx' error in Google Colaboratory, but I solved it by renaming the folder to `ttsexamples `and doing a simple search and replace on all the .py files to adjust this accordingly.

[2020-06-07 15:51] dathudeptrai commented on #32
i fixed utt_ids wrong return, close issue

[2020-06-07 15:51] #32 closed

[2020-06-08 00:04] ZDisket opened #33 "Fine-tuning Multi-Band MelGAN yields pure noise as soon as discriminator starts training"
As the title says, I started fine-tuning the published mb-melgan v1 model and set the discriminator to start at 10k steps. As soon as it started, all the[ sample audios](https://drive.google.com/drive/folders/1DMkLKRLQ7Find-XtZwh9Chzlm2u5BsAU) became pure noise.
I can confirm it's not the dataset since I could train MelGAN-STFT. If it helps, I'm using mixed precision for the generator but not the

[2020-06-08 00:08] dathudeptrai commented on #33
did u train G 200k steps ?

[2020-06-08 00:13] ZDisket commented on #33
@dathudeptrai The audio sounded pretty good except for metallic noises at 10k, so I didn't train the generator for 200k, just 10k. And here's the [tensorboard](https://a97c91b97548.ngrok.io/#scalars).
I'll try messing with the config.

[2020-06-08 01:18] dathudeptrai commented on #33
@ZDisket There is something wrong, loss too high, can you try training from scratch ?. Or can u try just load weight for generator ?. Loss jump from 0.5x to 600, very weird

[2020-06-08 01:21] dathudeptrai commented on #33
In case training from scratch not work, you can share me thr dataset, i will try to fix

[2020-06-08 01:46] ZDisket commented on #33
@dathudeptrai I'll try training again only loading generator.

[2020-06-08 02:27] rgzn-aiyun commented on #32
Use tacotron 2,I ran it again today and still had the same problem.

[2020-06-08 02:38] rgzn-aiyun opened #34 "Data enhancement leads to increased training time"
The first thing to note is that tensorflow originally had a very useful library for data augmentation.
from tensorflow.keras.preprocessing.image import ImageDataGenerator

However, in the 2.0 official version, this library and the corresponding training method model.fit_generator() had problems, and the training time increased by 3-4 times. The answer given by the official staff of tensorflow is t

[2020-06-08 02:44] dathudeptrai commented on #32
@rgzn-aiyun did u use tf 2.2 ?

[2020-06-08 02:47] dathudeptrai commented on #34
@rgzn-aiyun

This mean the dataloader is calculating and cache dataset. After it finished, it will training model without preprocess anything.

[2020-06-08 03:05] rgzn-aiyun commented on #32
Use the latest tacotron2 version.

[2020-06-08 03:06] dathudeptrai commented on #32
@rgzn-aiyun i mean tensorflow version

[2020-06-08 03:08] rgzn-aiyun commented on #32
yes,tensorflow-2.2.0.dist-info.

[2020-06-08 03:12] dathudeptrai commented on #32
@rgzn-aiyun https://github.com/dathudeptrai/TensorflowTTS/blob/master/examples/tacotron2/conf/tacotron2.v1.yaml#L53-L54. Please modify max_char_length and max_mel_length based on ur dataset.

[2020-06-08 03:21] rgzn-aiyun commented on #32
Thanks, how to get this value through calculation?

[2020-06-08 03:23] dathudeptrai commented on #32
@rgzn-aiyun you can read all ur -ids.npy files and -norm-feats.npy files the u return maximum len ids and maximum len norm-feats.

[2020-06-08 03:57] ZDisket commented on #33
Loading generator only causes a different kind of noise. The only thing remaining is to train from scratch.
[15000steps.zip](https://github.com/dathudeptrai/TensorflowTTS/files/4743773/15000steps.zip)

[2020-06-08 04:05] dathudeptrai commented on #33
@ZDisket hmm let try, maybe the discriminator too strong even it's just start to train ?. In this case maybe you can try replace kernel_size=downsample_scale * 10 + 1 to kernel_size=downsample_scale * smaler_number + 1

[2020-06-08 04:07] ZDisket commented on #33
@dathudeptrai Where do I change kernel_size? I don't see it in the training python file.

[2020-06-08 04:13] dathudeptrai commented on #33
https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/models/melgan.py#L335 @ZDisket. I don't know what is the problem, but after u training from scratch if it's still bug, send me the dataset then i will try.

[2020-06-08 04:20] ZDisket commented on #33
@dathudeptrai Okay, I'll use `kernel_size=downsample_scale * 2 + 1` with fine tuning if training from scratch doesn't work.

[2020-06-08 06:52] superhg2012 opened #35 "fast speech mel normalization"
when compute mean and scaler for mel-spectrogram before normization,   mean and scaler are computed from all dataset and only the first frame mel?

` mel = mel[0].numpy()`

[2020-06-08 06:54] dathudeptrai commented on #35
@superhg2012 mean, var for all TRAINING SET.

[2020-06-08 07:00] superhg2012 commented on #35
All right, I get it, thanks! By the way replace relu activation in ffn layer of FFT block with mish activation function really works for me.

[2020-06-08 07:02] dathudeptrai commented on #35
@superhg2012 Fastspeech without duration from teacher model is comming :))) let see

[2020-06-08 07:34] superhg2012 commented on #35
any paper reference?

[2020-06-08 08:31] rgzn-aiyun commented on #32
Hi, it seems to be a problem with batch_size: 30, set to batch_size: 16 and run successfully.

[2020-06-08 08:32] rgzn-aiyun commented on #34
Is it normal to load data for half an hour?

[2020-06-08 08:35] dathudeptrai commented on #34
@rgzn-aiyun i will enhance it tonight, so it will take around 5 minutes :D

[2020-06-08 08:39] rgzn-aiyun commented on #34
Looking forward to the latest, I will continue to test!

[2020-06-08 10:38] dathudeptrai commented on #34
@rgzn-aiyun https://github.com/dathudeptrai/TensorflowTTS/commit/4add642af3920a7dd4bc07ec957664d3d1328847. Pls check if it work :)

[2020-06-08 18:32] ZDisket commented on #33
@dathudeptrai
I can confirm training from scratch with `kernel_size=downsample_scale * 2 + 1` yields the same results. I uploaded the [predictions](https://ufile.io/p0onqatj). 10k or less is before discriminator.
I can send you the dataset and notebook I use to train by email.

[2020-06-08 21:53] normandantzig1 opened #36 "Error"
I ran into an  error when I run

`tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml`

The error is
[code]
I am running Manjaro Linux 20.3 XFCE.
My folder structure is

datasets
│   ├── LJSpeech-1.1--
│   ├── metadata.csv
│   ├── README
│   └── wavs
├── dump
│   ├── train_utt_ids.npy
│   └── valid_utt_ids.npy
├── examples
│   ├── fastspeech

[2020-06-08 23:39] dathudeptrai commented on #36
@normandantzig1 sorry, i cann't reprodure, pls delete dump folder and run again.

[2020-06-08 23:44] #35 closed

[2020-06-08 23:44] dathudeptrai commented on #34
@rgzn-aiyun reopen if it donesn't work.

[2020-06-08 23:44] #34 closed

[2020-06-08 23:45] dathudeptrai commented on #33
@ZDisket that ok.

[2020-06-08 23:45] #33 closed

[2020-06-08 23:50] ZDisket commented on #33
@dathudeptrai You closed the issue. I assume you found a solution?

[2020-06-08 23:56] ZDisket commented on #33
@dathudeptrai Yes, MelGAN-STFT works well. I have my [notebook ](https://colab.research.google.com/drive/1SLl0tVT6tBu1zEn7atlrMWMIk1ucLRd0?usp=sharing)where you can use the model I'm training. I'll give you the dataset and explain more by email.

[2020-06-09 00:11] dathudeptrai commented on #35
@superhg2012 flow-tts, glow-tts

[2020-06-09 01:58] rgzn-aiyun commented on #34
It only takes 5 seconds to load data, which is great.

[2020-06-09 02:07] dathudeptrai commented on #34
Pls help me check if the output is same as the old code. :)))

[2020-06-09 02:46] rgzn-aiyun commented on #34
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
encoder (TFTacotronEncoder)  multiple                  8218624
_________________________________________________________________
decoder_cell (TFTacotronDeco multiple                  18246402
____________

[2020-06-09 02:52] dathudeptrai commented on #34
@rgzn-aiyun tacotron-2 training too slow because it's sequence to sequence. My 2080Ti run 4s/1it and it's normal, what is ur machine ?

[2020-06-09 03:10] rgzn-aiyun commented on #34
Tesla P100,It shouldn’t be so slow, less than 400 steps in an hour.

[2020-06-09 03:14] dathudeptrai commented on #34
@rgzn-aiyun what is ur max char len and max mel len ?

[2020-06-09 03:16] rgzn-aiyun commented on #34
max_char_length: 290
max_mel_length: 1300

[2020-06-09 03:22] dathudeptrai commented on #34
@rgzn-aiyun it's too long. You may need eliminate some sample to get smaller max_char and max_mel. On Ljspeech, max char is 170 and max_len is 800.

[2020-06-09 06:09] manmay-nakhashi opened #37 "converting fastspeech model to tflite"
can we convert Fastspeech model to tflite ?

[2020-06-09 08:18] myagues commented on #34
You can try to set `os.environ["TF_GPU_THREAD_MODE"] = "gpu_private"` in the global scope of `train_tacotron2.py`. Sometimes it helps to speed up the process a bit, and I don't know of any downsides.

[2020-06-09 08:44] rgzn-aiyun commented on #34
TF_GPU_THREAD_MODE: Whether and how the GPU device uses its own threadpool. Possible values:

global: GPU uses threads shared with CPU in the main compute thread-pool. This is currently the default.
gpu_private: GPU uses threads dedicated to this device.
gpu_shared: All GPUs share a dedicated thread pool.

I will test. For me, the average speed is 400 steps per hour. There are only 8,800 steps in

[2020-06-09 08:49] dathudeptrai commented on #34
100k is enough, if u use my pretrained and finetune i think 50k is ok. You should eliminate some samples to get smaller max char len and max mel length. Ur length is too long.

[2020-06-09 10:22] loretoparisi opened #38 "FastSpeech 2"
Hello, thank you for this project. I'm aware of two different implementations of FastSpeech, any plan to support the recent [FastSpeech 2](https://arxiv.org/abs/2006.04558) architecture?

Thank you very much.

[2020-06-09 11:18] dathudeptrai commented on #37
@manmay-nakhashi yes we can, absolutely :)). But it's not straight forward, you need some trick to do that :)) i will let you do :D.

[2020-06-09 11:18] #37 closed

[2020-06-09 11:26] dathudeptrai commented on #38
@loretoparisi yes, i have a plan :))). But because it's a new paper so i won't public it soon when i finished implementation :D.

[2020-06-09 12:52] manmay-nakhashi commented on #37
@dathudeptrai i have tried few things but i am stuck at saved_model not working while using model._build(), can you help me with that ?

[2020-06-09 12:55] dathudeptrai commented on #37
Hi, i can help you save entire model to pb file. For tflite you need modify a model class :)) eliminate build, inference function and use only call function :)). That is all thing i can help
You now, sorry.

[2020-06-09 12:57] manmay-nakhashi commented on #37
i can do that

[2020-06-09 12:59] manmay-nakhashi commented on #37
if you can help me with saving entire model to pb file that would be good. apparently i have been trying from some time but it is not working correctly.

[2020-06-09 14:08] dathudeptrai opened #39 "I want to create organization repo and need enroll more member :D"
after an open source time, I see a lot of things to do sụch as support more model like flow/glow, GAN, tensorrt, ...  but 1 or 2 people may not be enough to do that. I am thinking about creating a organization repo and enroll more members with us to develop. In the future, I want to change the repo name to TensorSpeech and support speech-related problems like voice conversion, speech recognition,

[2020-06-09 14:33] #38 closed

[2020-06-09 15:07] ZDisket commented on #39
I'm primarily a C++/Qt app developer so all I can offer is GUI front ends like [this ](https://drive.google.com/file/d/11XqKbg4aSAuU5fmgorS4I7ImuQSGEN8j/view?usp=sharing)for now but I can join.

[2020-06-10 03:10] UNPARALLELE opened #40 "An error was encountered during data preprocessing"
[root@localhost TensorflowTTS]# tensorflow-tts-normalize --rootdir ./dump --outdir ./dump --stats ./dump/stats.npy --config preprocess/ljspeech_preprocess.yaml
2020-06-10 11:07:41.220189: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2020-06-10 11:07:41.472070: E tensorflow/stream_executor/cuda/cuda_driver.cc:313] failed call to cu

[2020-06-10 03:19] dathudeptrai commented on #40
@UNPARALLELE I nerver get this error. what is ur sklearn version, mine 0.22.1

[2020-06-10 03:24] UNPARALLELE commented on #40
My sklean version is 0.23.1 ， when I dropped to 0.22.1, the error disappeared, thanks

[2020-06-10 03:24] #40 closed

[2020-06-10 05:43] dathudeptrai commented on #35
@superhg2012 i just added fastspeech samples, can you take a look and see if it's good or not :D. https://dathudeptrai.github.io/TensorflowTTS/

[2020-06-10 06:07] manmay-nakhashi commented on #39
you can count me in

[2020-06-10 06:58] wql7654 commented on #36
I also had this problem
Creating a folder was fixed.

mkdir dump/valid
mkdir dump/valid/raw-feats
mkdir dump/valid/wavs
mkdir dump/valid/norm-feats
mkdir dump/train
mkdir dump/train/raw-feats
mkdir dump/train/wavs
mkdir dump/train/norm-feats

[2020-06-10 07:00] dathudeptrai commented on #36
@wql7654 i don't know why this problem occur. See my code https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L115-L124.

[2020-06-10 13:27] UNPARALLELE opened #41 "Running path problem"
[root@localhost TensorflowTTS]# CUDA_VISIBLE_DEVICES=0 python examples/tacotron2/train_tacotron2.py --train-dir ./dump/train/ --dev-dir ./dump/valid/ --outdir ./examples/tacotron2/exp/train.tacotron2.v1/ --config ./examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mix_precision 0 --resume ""
Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 31, in <modu

[2020-06-10 23:04] myagues commented on #36
I think this happens because of [preprocess.py#L115](https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L115), when someone removes a child directory (e.g. `dump/valid/wavs`) but keeps `dump`, and then runs `preprocess.py` Directories will not be created because of the condition, and it will not find the place where `*-wavs.npy` need to be saved, thus prompt

[2020-06-10 23:15] dathudeptrai commented on #34
@myagues i use bucket sequence before too. But as the tacotron notes you can see i said that fixed shape training 2x faster than dynamic shape. Soni remove bucket sequence :(

[2020-06-11 02:38] rgzn-aiyun commented on #39
Hi, I am also interested in this!

[2020-06-11 02:53] rgzn-aiyun commented on #34
I will test the dynamic shape, because the fixed shape is always wrong when saving the model soon after training.

[2020-06-11 06:17] rgzn-aiyun commented on #34
File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/executor.py", line 67, in wait
    pywrap_tfe.TFE_ExecutorWaitForAllPendingNodes(self._handle)
tensorflow.python.framework.errors_impl.DataLossError: Attempted to pad to a smaller size than the input element.
[train]:   0% 2/200000 [00:50<1389:46:04, 25.02s/it]

Can't seem to run?

[2020-06-11 07:20] myagues commented on #34
@rgzn-aiyun are you running with `reduction_factor=1` and `n_mels=80` in config? It is the only thing that comes to my mind with this error, since `n_mels` is hard coded and I have not tested a reduction factor other than 1.

@dathudeptrai before sending the pull I want to test that it works correctly with different configurations. In your version there is bucketing too, in [tacotron_dataset.py#L1

[2020-06-11 07:23] dathudeptrai commented on #34
@myagues i know that. BTW, in my case, somehow fixed shape is still faster than bucket sequence.

[2020-06-11 07:38] myagues commented on #34
Oh, ok I thought you meant the `groupby`.
Well I don't know, I suppose fixed shape runs some optimizations that cannot be used in variable shape. For me fixed shape has a constant step of 3.76s/it (`batch_size=16`), and variable shape between 2.7 and 4s/it at maximum, but generally closer to 3s/it than 4s/it.

[2020-06-11 07:40] dathudeptrai commented on #34
@myagues what is ur version of tf and tf_addons?. I use batch_size 32, will check batch_size 16

[2020-06-11 07:51] myagues commented on #34
The same version as in `setup.py`, TF v2.2.0 and TF-addons v0.9.1

I run with fp32, have not tried fp16 yet, although my card does not have tensor cores, so I don't think it will have much benefit in my case. I will try it later and see if I can find any errors.

[2020-06-11 09:14] rgzn-aiyun commented on #34
@dathudeptrai

Calculate the maximum value of char_lengths

nums = char_lengths
nums.sort()
max=nums[len(nums)-1]
min=nums[0]
print("Maximum：",max)

[2020-06-11 09:17] rgzn-aiyun commented on #34
Yes, the default configuration file is used.

[2020-06-11 10:06] rgzn-aiyun commented on #34
[train]:   0% 0/200000 [00:00<?, ?it/s]2020-06-11 09:50:22.090650: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:184] Filling up shuffle buffer (this may take a while): 3244 of 9500
2020-06-11 09:50:32.089778: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:184] Filling up shuffle buffer (this may take a while): 6514 of 9500
2020-06-11 09:50:41.202193: I tensorflow/core/kernels/data/sh

[2020-06-11 13:02] myagues commented on #34
So it begins the training process, but at some point it encounters an item that cannot be padded because is larger than the pad applied.

I don't really know what could cause this, since all unknown dimensions should be padded to the largest in the batch.

[2020-06-12 08:08] superhg2012 opened #43 "Tacotron2 teacher forcing"
@dathudeptrai  Training Sampler used teacher forching(ground_truth mel-spectrogram frames) during all training period. Did you met Explosure bias problem?  audio quality  always good in inference time?

[2020-06-12 08:20] dathudeptrai commented on #43
@superhg2012 audio quality is good after 60k training steps. before that steps, the model bias on mel-groundtruth so the quality is not good when inference.

[2020-06-12 08:21] superhg2012 commented on #43
if training to 200K,  what about inferenced audio quality? will it be better?

[2020-06-12 08:23] dathudeptrai commented on #43
@superhg2012 i trained to 120k and i see the valid loss doesn't decrease so i stopped it. I think the quality is very good at 120k now, don't u think so ?

[2020-06-12 08:35] superhg2012 commented on #43
I trained  Tacotron without window when inference, audio quality is statisfying.  I want to know that whether window or monotonic constraint during inference help impoove audio quanlity or only useful for fastspeech alignment

[2020-06-12 08:39] dathudeptrai commented on #43
@superhg2012 window contraints use in case an alignment explode when inferencing very long sentences. But in my model, somehow it can be inference the samples > 3000k decoder steps ^^. I see the model without window contraint is better. For training fastspeech, you can đecode tacotron without alignment contraint and use output mel spectrogram of tacotron for fastspeech training, it's my FastSpeech

[2020-06-12 08:54] superhg2012 commented on #43
Do you mean training Fastspeech V3 use predicted mel-spectrogram from Tacotron2 and alignments from Tacotron2  instead of ground truth mel-spectrorgam?

[2020-06-12 08:56] dathudeptrai commented on #43
@superhg2012 yes. alignment from tacotron-2 120K without window masking trick and use predicted mel for fastspeech training. You  can hear a audio samples on valid set, this is an significant improvement.

[2020-06-12 09:02] superhg2012 commented on #43
thank u , your alignment were generated same way as mel-spectrogram? or genreated with GTA mode?

[2020-06-12 09:03] dathudeptrai commented on #43
no teacher forcing, no window masking, save durations and mels at the same time, you need modify the code a bit :d

[2020-06-12 09:07] dathudeptrai commented on #36
fell free to re-open if the problem still occur :))).

[2020-06-12 09:07] #36 closed

[2020-06-12 09:12] superhg2012 commented on #43
All right, thank you! There are many differences with other open implementions of Fastspeech like [Fastspeech](https://github.com/xcmyz/FastSpeech). it's alignment are generated with teacher forcing. Also, In Fastspeech2 , they pointed out that using predicted mel-spectrogram from Teacher model(TransformerTTS) have some information loss compared with ground-truth ones, since the quality of the aud

[2020-06-12 09:28] dathudeptrai commented on #43
@superhg2012 you can compared my results with other implementation to make decision :))). there are no puzzling here. On FastSpeech 1 they use alignment extracted from tacotron2 so they use predicted mel from tacotron to train fastspeech, it's make sense. On fastspeech 2, they use duration extracted from mel groundtruth by Montreal Forced Aligner so they use mel groundtruth to train :)).

[2020-06-12 09:44] superhg2012 commented on #43
more clear now, thanks again

[2020-06-12 09:55] #43 closed

[2020-06-12 17:08] dathudeptrai commented on #37
@manmay-nakhashi https://github.com/dathudeptrai/TensorflowTTS/blob/master/notebooks/fastspeech_inference.ipynb

[2020-06-13 09:32] superhg2012 commented on #38
Hi, I am reanding Fastspeech2 paper. could you help to explain how to perform quantize F0 and energy with log-scale bins for f0 and uniform bins for energy?

[2020-06-13 13:22] dathudeptrai commented on #38
@superhg2012 i haven't read paper in detail yet. This is what i think, when you compute F0 (f0 value in range 0 - 100 for example) then we have 10 bins (f0 from 0 - 9 in bin 1, f0 from 10-19 in bin 2...) then we will learn 10 f0 embeddings for each bin :))). The procedure is the same for energy

[2020-06-13 13:25] ZDisket commented on #38
Is the latest released FastSpeech V3 = FastSpeech 2?

[2020-06-13 13:28] dathudeptrai commented on #38
@ZDisket nope :)). it's fastspeech V3 :(. I'm trying to find free time to implement fastspeech v2, fastspeech v2 is not hard to implement, almost layers already implemented on this framework

[2020-06-13 14:13] superhg2012 commented on #38
In FastSpeech2 paper,  they quantize F0 and energy of each frame to 256 possible values.

[2020-06-13 14:18] dathudeptrai commented on #38
@superhg2012 yes, after you apply log function to F0, u can quantize it to any posible values. 256 is just 1 option :D. Example after apply log, min f0 is 0 and max f0 is 20, so you can calculate the range of each bins ((20 - 0) / 256) = 0.078125. So all f0 values in range 0, 0.078125 will quantize to 0, f0 values in range 0.078125, 0.078125*2 will quantize to 1, ... then we just need to learn 256

[2020-06-13 21:51] rishikksh20 commented on #38
@superhg2012 I have tried bit: https://colab.research.google.com/drive/1rGHRPuWMJkNW9g5AS4UhPQSVtdwXX7Nv?usp=sharing

[2020-06-14 00:37] superhg2012 commented on #38
@dathudeptrai  get it! thanks very much

[2020-06-14 15:59] dathudeptrai commented on #38
@rishikksh20 @superhg2012 note that the min and max should be compute on all traing set :))).

[2020-06-14 16:10] rishikksh20 commented on #38
Yes

[2020-06-15 03:46] Yablon commented on #39
I am also interested in this. I am a speech engineer in China, I only have time  on weekday nights and weekends.

[2020-06-15 06:27] superhg2012 commented on #38
@dathudeptrai  you mean the min and max should be computed from all dataset and then use it to compute bins and then apply bin to each wave?

[2020-06-16 02:50] dathudeptrai opened #46 "FastSpeech2 implementation"
Hi, i just fast implemented FastSpeech2 to check the contribution of F0 embedding and Energy embedding. See PR #45 for detail.

[2020-06-16 02:56] dathudeptrai commented on #46
This is a tensorboard of FastSpeech1 and FastSpeech2. Base on this, F0 and energy embeddings really help. But that is is a case we have a groundtruth F0 and energy, i'm wondering how fastspeech2 adapt with predicted F0/Energy :D.

![fastspeech2](https://user-images.githubusercontent.com/43868663/84726655-99a7ac00-afb7-11ea-8f3c-9188fb22d383.png)

[2020-06-16 08:50] superhg2012 commented on #46
@dathudeptrai  why f0 and energy are both integer types?

[2020-06-16 08:56] dathudeptrai commented on #46
f0 and energy is real value, but f0_quantize and energy_quantize is integer. We use quantize value to learn embeddings.

[2020-06-16 08:58] superhg2012 commented on #46
@dathudeptrai  at training time f0 and energy ground truths should be int type inferenced from your below codes, but f0 and energy ground truths should be stored as float type?
         f0_embedding = self.f0_embeddings(f0_gts)  # [barch_size, mel_length, feature]
        energy_embedding = self.energy_embeddings(energy_gts)  # [barch_size, mel_length, feature]

[2020-06-16 09:03] superhg2012 commented on #46
@dathudeptrai  sorry, I missed some codes in dataset

[2020-06-16 12:27] gongchenghhu opened #47 "optimizer further by using fake-quantize aware and pruning"
Thanks for your this great job.
I have trained Tacotron2 model as your repository.
Now I am trying to convert our model to a int8 quantization model with Tensorflow Lite.
But I encountered some errors，when I use
`converter = tf.lite.TFLiteConverter.from_saved_model("./test_saved")`
or
`converter = tf.lite.TFLiteConverter.from_keras_model(tacotron2)`.
And do you have any advise about optimizer furt

[2020-06-16 15:36] dathudeptrai commented on #47
@gongchenghhu hi, it's not ez to convert Tacotron2 to tflite, need to write custom C++ ops. Even you can convert and run it on low-device, it's still cann't run real time :(. I suggest you use FastSpeech instead. For fake-quantize aware and pruning, you can refer official doc here (https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide). I don't really know h

[2020-06-16 23:27] dathudeptrai commented on #46
I changed some code and now i can reproduce the result of fastspeech2. This is my sample at 80k steps fastspeech2-modify with batch_size 16.

![test](https://user-images.githubusercontent.com/43868663/84838025-9bc74480-b063-11ea-97af-79e48c7381ad.png)
[80k_steps.zip](https://github.com/dathudeptrai/TensorflowTTS/files/4789552/80k_steps.zip)

[2020-06-17 00:40] ZDisket commented on #46
@dathudeptrai Sounds great. Does FastSpeech2 train faster than Tacotron2? When will you be releasing that model?

[2020-06-17 02:17] superhg2012 commented on #46
@dathudeptrai  the vocoder you use is melgan? Did you meet  checkerboard artifacts when training melgan and how did you solved it ?

[2020-06-17 02:28] gongchenghhu commented on #23
@anasvaf Thanks for your discussion, and  would you mind tell me how do the post-training quantization on the pb file. And I use the Tensorflow Lite, but I encountered some errors.https://github.com/dathudeptrai/TensorflowTTS/issues/47#issue-639624372

[2020-06-17 02:31] gongchenghhu commented on #47
@dathudeptrai Thanks for your reply. I will try the fake-quantize aware and pruning (https://www.tensorflow.org/model_optimization/guide/quantization/training_comprehensive_guide)

[2020-06-17 13:24] anasvaf commented on #23
@gongchenghhu Unfortunately I was not able to do it. There are also some missing ops regarding Tacotron2 that need to be written in C++
I will try though with fastSpeech

[2020-06-18 01:55] abylouw commented on #39
I am also interested

[2020-06-18 01:57] abylouw commented on #46
@dathudeptrai I might be missing something, but I cannot find the AudioDataset class that is supposed to be in TensorflowTTS/tensorflow_tts/datasets/

[2020-06-18 02:03] dathudeptrai commented on #46
@abylouw i will update full code tonight :)), still tuning model

[2020-06-18 02:04] dathudeptrai commented on #46
@superhg2012 can u point out what is the checkerboard artifacts in speech domain ?. @ZDisket soon :))

[2020-06-18 02:29] dathudeptrai commented on #46
This is my audio samples of FastSpeech2 at 100k steps with batch_size 16.
[fastspeech2.100k.zip](https://github.com/dathudeptrai/TensorflowTTS/files/4795939/fastspeech2.100k.zip). Those samples in the valid set, let compared with original demo pages :D https://fastspeech2.github.io/fastspeech2/. There is still a gap but my fastspeech2 now outperforms Fastspeech1 considerably :D. Let see the perfor

[2020-06-18 03:07] abylouw commented on #46
Those samples sound good.

[2020-06-18 03:26] superhg2012 commented on #46
look at this image from melgan training
[[图片]](url)
and refer to this link which discuss about checkerboard artifacts [https://distill.pub/2016/deconv-checkerboard/](url)

[2020-06-18 03:44] dathudeptrai commented on #46
@superhg2012 i didn't meet this problem, i think. BTW, this thread should focus about FastSpeech2 rather than vocoder :D.

[2020-06-18 12:14] junryge opened #48 "Help me learn Melgan."
Melgan learning is not possible.
It says there is no voice file.
Help me.

![111](https://user-images.githubusercontent.com/66813375/85018801-ba832380-b1a8-11ea-9f4f-e39051d62019.JPG)

[2020-06-18 13:29] dathudeptrai commented on #46
hi all, i just updated FastSpeech2  samples on https://dathudeptrai.github.io/TensorflowTTS/. Compared with Tacotron-2 V1, i think it's comparable. The rest question is, when i will released the pretrained model and the code to reproduce it :D.

[2020-06-18 13:33] dathudeptrai commented on #48
did you follow with my preprocessin steps ?. here, https://github.com/dathudeptrai/TensorflowTTS#preprocessing. Pls check if there is a folder named ./dump/train/wavs/

[2020-06-18 14:06] junryge commented on #48
Yes, I did.
It's the same.
I don't know why.

![image](https://user-images.githubusercontent.com/66813375/85030188-1dc88200-b1b8-11ea-866e-b9d22301dd64.png)

[2020-06-18 14:09] dathudeptrai commented on #48
wavs file should be LJ001-0001-wave.npy. You can see in my code here https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L215-L216. The suffix of wave file is -wave.npy. I don't know why ur file don't have suffix :3

[2020-06-18 15:22] ZDisket commented on #46
@dathudeptrai

Right now?

[2020-06-18 15:23] dathudeptrai commented on #46
@ZDisket :D, this week :)). BTW, what do you think about the performance ?

[2020-06-18 15:39] ZDisket commented on #46
@dathudeptrai
The performance sounds identical to Tacotron2v1 to me, except for a very slight metallic noise. But I think that may go away with more training. By the way, how well does it align compared to Tacotron2v1? Do you have to keep generating them to get a good result?

[2020-06-19 01:26] junryge commented on #48
I'm trying to change the file name to what you're talking about.
There was an error.
*.npy

error code
(ff) D:\tensorflow_code\TensorflowTTS>tensorflow-tts-preprocess --rootdir /datasets/ --outdir /dump/ --conf preprocess/ljspeech_preprocess.yaml
2020-06-19 10:21:03.647199: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Tracebac

[2020-06-19 02:02] dathudeptrai commented on #48
can you change dill to 0.3.1.1 and pathos to 0.2.5 version ?

[2020-06-19 02:16] junryge commented on #48
Now you are changing the version to what you are talking about..

The symptoms are the same.

Should I use Ubuntu program?

![image](https://user-images.githubusercontent.com/66813375/85089635-189e1e00-b21e-11ea-9511-a1848ae21fe0.png)
![image](https://user-images.githubusercontent.com/66813375/85089651-2653a380-b21e-11ea-949b-a6a21c6c5ac9.png)

[2020-06-19 02:20] dathudeptrai commented on #48
i never test it in window @@.

[2020-06-19 02:25] junryge commented on #48
I'll try Ubuntu.

Challenge

[2020-06-19 02:25] #48 closed

[2020-06-19 02:29] junryge commented on #48
I'll try Ubuntu.

[2020-06-19 02:32] junryge commented on #48
I'll try to make a window.

[2020-06-19 08:07] manmay-nakhashi commented on #47
@gongchenghhu @dathudeptrai  i am also trying to convert fastspeech model to Tflite and it is crashing in length regulator

[2020-06-19 08:14] manmay-nakhashi commented on #47
@gongchenghhu  @dathudeptrai  you can follow this issue for TFLite conversion, https://github.com/tensorflow/tensorflow/issues/40504 , can you also tell help me with this ?

[2020-06-19 08:21] gongchenghhu commented on #47
@manmay-nakhashi ok, I will see your issue.

[2020-06-19 08:24] dathudeptrai commented on #47
@gongchenghhu @manmay-nakhashi sorry :)). Hope Tensorflower can help you in this case :D

[2020-06-19 08:25] manmay-nakhashi commented on #47
@dathudeptrai  haha :P

[2020-06-19 09:35] manmay-nakhashi commented on #47
@gongchenghhu i was able to convert melgan to tflite , i think we can try to convert Fastspeeh2 to tflite , structurally model code seems to be easier then tacotron2 and fastspeech
@dathudeptrai do you think that would be good addition to repo ?

[2020-06-19 19:25] dathudeptrai commented on #46
Finish reproduce FastSpeech2 https://github.com/dathudeptrai/TensorflowTTS/tree/master/examples/fastspeech2. The model can be further improve with phonemes and use durations from MFA :)).

[2020-06-19 20:49] ZDisket opened #49 "tensorflow-tts-preprocess: assert len(mel) == len(f0) == len(energy) AssertionError"
My dataset which always worked properly gave me this error when running the preprocessing step.
[code]
When I run the normalization step it only does 1314 iterations instead of 3431 as it should. In addition, when trying to train I get this.

[code]

I have no idea why this happens. My dataset is formatted exactly the same (like LJSpeech) as it was back when it was working.

[2020-06-19 20:52] rishikksh20 commented on #46
@dathudeptrai I have some questions regarding this implementation. As per your commit
[code]
Instead of predicting raw F0 and energy, you normalize both and instead of quantizing in bins followed by one hot code as mentioned in paper you apply Conv1d operation to learn embeddings, is any specific reason for that?
Also, why Calculate Character F0/Energy based on its duration and delay update for f0

[2020-06-20 02:33] dathudeptrai commented on #46
I think you already know if above thing can improve a quality or not :D. I will explaine below :D.

Log or mean/var normalization is also ok :)), but when training with log + mixed precision i get nan loss so i used mean-var.

When you pass Encoder Hidden States to Length regulator, the feature of each mel belong to each charactor is the same but the F0/energy is different. So when you sum it and

[2020-06-20 02:43] dathudeptrai commented on #49
@ZDisket I think the problem is about pw.dio :)) i think somehow its length is smaller than melspectrogram :)). In the code i use f0 = f0[:len(mel)]. But if len(f0) = len(mel) - 1 then assert len(mel) == len(f0) == len(energy) is false ^^. Pls help me check by print len of f0/mel/energy after the assert :v.

[2020-06-20 02:55] ZDisket commented on #49
@dathudeptrai I'll do that.

[2020-06-20 03:19] ZDisket commented on #49
@dathudeptrai I have gone over to the assertion part and replaced it with this:
[code]
This is the dumped output from a partial run (not all my files), but it should give you enough information to work with.
[lenlog.txt](https://github.com/dathudeptrai/TensorflowTTS/files/4807288/lenlog.txt)

[2020-06-20 03:22] dathudeptrai commented on #49
@ZDisket  all failed cases is because len(f0) = len(mel) - 1 :)). i will fix

[2020-06-20 03:27] dathudeptrai commented on #49
`        if len(f0) >= len(mel):
            f0 = f0[:len(mel)]
        else:
            f0 = np.pad(f0, ((0, 0), (0, 1)))`
@ZDisket  can you try ?

[2020-06-20 03:38] ZDisket commented on #49
@dathudeptrai
I replaced the `f0 = f0[:len(mel)]` after pw.dio with this:
[code]
because your one-liner was giving syntax errors. I got another error.
[code]

[2020-06-20 03:40] dathudeptrai commented on #49
@ZDisket  hah, sory :) f0 is a vector 1 dim :)). f0 = np.pad(f0, ((0, len(mel) - len(f0))))

[2020-06-20 03:49] ZDisket commented on #49
@dathudeptrai
This one worked well without any errors.

[2020-06-20 04:47] #49 closed

[2020-06-20 05:00] ZDisket commented on #49
When trying to train, I still get

[code]

[2020-06-20 05:26] dathudeptrai commented on #49
Hi, i didn’t use MFA to extract alignment :( still use duration from tacotron :(. I will fix a bug asap, i’m not at home right now, but i think a bug is ez to fix so let try to fix it :)), i didn’t meet ur problem.

[2020-06-20 07:27] abylouw opened #50 "TypeError: Input 'filter' of 'Conv2D' Op has type float32 that does not match type int32 of argument 'input'."
I am training on CPU machine to make sure everything is okay before moving to GPU machine.
I get to 500 steps (first evaluation) and get the following type error in the attached
[log.txt](https://github.com/dathudeptrai/TensorflowTTS/files/4807502/log.txt)

I figure out which feature is the issue?

[2020-06-20 07:41] dathudeptrai commented on #50
I can fix it when i come home :))) there is a mismatch between internal code and public code sorry :)). Can you remove input signature on eval steps and check?

[2020-06-20 12:06] gaoyu1983 opened #51 "pretrain model of melgan"
Hi, I tried to use run melgan on your pretrained model, but I found there is no ckpt data, only discriminator and generator's h5 files.
I read the train_melgan.py, found it needs --resume parameter, but I think it needs ckpt file to get steps and epochs.
Could you upload the ckpt files along with the pre-trained model or is there other way to do it ?

Thank you for your awesome repo. It is really

[2020-06-20 16:20] #50 closed

[2020-06-20 16:23] dathudeptrai commented on #51
@gaoyu1983 hi, sorry for this confusion :(. --resume is "Resume" the model and continue to training. While the h5 file is the weight is used as "Pretrained" weight to fine-tune for other datasets, in this case we don't need ckpt file. I think i will add --pretrained flag to solve this confution.

[2020-06-21 22:54] sujeendran opened #53 "SqueezeWave Implementation"
Hi,
Will it be possible to add a TF2 implementation of SqueezeWave vocoder to this system? The performance is really fast and promising. I'm working on the same. But I'm not well versed with TF2 yet. I had quite a struggle trying to train the PyTorch implementation from the authors with my custom dataset even though it had almost the same characteristics as LJSpeech but double the size of dataset.

[2020-06-21 23:25] ZDisket opened #54 "Double Decoder Consistency for Tacotron 2"
Hi, I found this [interesting post](https://erogol.com/solving-attention-problems-of-tts-models-with-double-decoder-consistency/) while regularly checking up on erogol's blog. Any chances of having it here? Having a Tacotron 2 that is practically immune to alignment problems sounds very state of the art.
For reference, Mozilla/TTS has it.

[2020-06-22 00:34] dathudeptrai commented on #54
@ZDisket training tacotron-2 take too much time for me but i will consider. There are many paper solve alignment problem and training very fast such as glow-tts, flow-tts, aligntts. I don't think we really need tacotron-2 because fastspeech2 can produce comparable results and alignTTS can learn very good alginment with serveral hours. So the problem is, if we can find a model can be inference real

[2020-06-22 00:44] dathudeptrai commented on #53
@sujeendran if you can prove the performance of squeezeWave better than MB-melgan, i will implement it :)). There are no reason to add new model in this framework that no faster and no stronger. Here audio samples and glance the paper i don't think squeezewave better than mb-melgan on both inference time and quality.

[2020-06-22 01:12] ZDisket commented on #54
@dathudeptrai I know that too. If you get any of these working well (or FastSpeech2 without teacher model) then just ignore my suggestion.

[2020-06-22 01:21] dathudeptrai commented on #54
Yeah :))) fastspeech2 without anh external aligner is comming :))) be patient

[2020-06-22 02:07] dathudeptrai commented on #54
BTW, to: @erogol is "Double Decoder" training slower than original Tacotron-2 ? cc: @ZDisket

[2020-06-22 04:53] #47 closed

[2020-06-22 10:39] sujeendran opened #55 "Fine-tuning does not work"
Hi,
I am trying to fine-tune the LJSpeech pretrained tacotron 2 model to fit custom voice dataset in English. I made the changes as mentioned for rebuilding with a new Embedding layer. But it fails to build it the second time. Since my dataset is also english but with different voice, I used the same vocab_size.
This is the change made for the finetuning code with respect to the training code.
`pr

[2020-06-22 10:46] dathudeptrai commented on #55
@sujeendran can you do:

`
pretrained_config.vocab_size = NEW_VOCAB_SIZE
tacotron2 = TFTacotron2(pretrained_config, training=True, name='tacotron2')

tacotron2._build()

tacotron2.summary()

tacotron2.load_weights(path, by_name=True, skip_mismatch=True)

....

`

[2020-06-22 10:46] jun-danieloh opened #56 "Docker image for this project."
Do you have any docker images for this project?

Thanks,
Daniel

[2020-06-22 12:15] #56 closed

[2020-06-22 12:21] dathudeptrai commented on #56
Hi, i do not have any docker images :(

[2020-06-22 13:10] sujeendran commented on #55
@dathudeptrai tried it. Still no success. But the continued training on the pretrained model has started slowly changing the voice of the model. So I think I will stick with this method for now.

[2020-06-22 13:15] dathudeptrai commented on #55
@sujeendran i don't know why it happend :)) but i think everything is still ok if you keep the same vocab_size and fine-tuning :d.

[2020-06-22 13:26] sujeendran commented on #55
@dathudeptrai ok will do that. By the way what learning rate would you suggest to continue training by loading weights from pretrained checkpoint h5 file?

[2020-06-22 13:27] dathudeptrai commented on #55
@sujeendran the same :)).

[2020-06-22 13:30] sujeendran commented on #55
@dathudeptrai thanks a lot!

[2020-06-22 13:51] dathudeptrai commented on #55
@sujeendran the mel-spectrograms itself contain speaker infomation so you don't need specific any speaker embedding for MB-melgan, it can be learn.

[2020-06-22 14:11] #55 closed

[2020-06-22 14:13] dathudeptrai commented on #53
@sujeendran

[2020-06-22 15:19] sujeendran commented on #53
@dathudeptrai I will need some time to test mb-melgan on my target platform. I suggested SqueezeWave mostly for the speed and possibility to run on CPU for resource restricted edge devices. TFLite and TFmicro are favorable for such solutions. In my case, I was able to run a combination of FastSpeech and SqueezeWave synthesis on Jetson Nano platform at 0.5 seconds with PyTorch. The quality was not

[2020-06-22 15:47] erogol commented on #54
@dathudeptrai it makes training only for 5% slower. And it definitely is worth it. It solves to attention problems once for all at least for my runs.

The problem with FastSpeech it requires initial alignments (from an aligner or a teacher model). Therefore to make the whole process easier and more accessible to everyone, I still believe targeting Tacotron like attention models is a worthy effort.

[2020-06-22 15:49] erogol commented on #54
you mean align-TTS?

[2020-06-22 15:51] dathudeptrai commented on #54
@erogol flow-tts :D

[2020-06-22 15:55] dathudeptrai commented on #54
@ZDisket i will read erogol's blog then i will consider to implement here but maybe you need training by urself :(. Tell me if it's ok ;v

[2020-06-22 15:57] erogol commented on #54
I can try a PR but I need at least one day being 48 hours :)

[2020-06-22 16:01] dathudeptrai commented on #54
@erogol what do you mean :)), one day cann't being 48 hours :))).

[2020-06-22 16:08] erogol commented on #54
not in Mars :)

[2020-06-22 16:10] dathudeptrai commented on #54
@erogol decoder (fine) is still 2 LSTM layers as normal and decoder (coarse) is 1 LSTM layers, am i right?

[2020-06-22 16:20] erogol commented on #54
no the architecture is the same bur reduction rate is larger. But its a good idea to use even less layers.

[2020-06-22 16:59] ZDisket commented on #54
@dathudeptrai I can train it from scratch myself although I estimate it'll take a week.

[2020-06-23 09:44] linhld0811 opened #57 "Error when loading pretrained model ljspeech to training another language"
When i tried to load pretrained model(model_65000.h5) like the tutorials in the examples/tacotron2/README.md to train on the other language, i got the error like this:

And when i used another pretrained(model_40000.h5), i got another error:

         [[node encoder/embeddings/LayerNorm/batchnorm/mul/ReadVariableOp (defined at /data/linhld6/Project/TensorflowTTS-master/tensorflow_tts/models/tacotr

[2020-06-23 09:48] linhld0811 commented on #57
my code to use pretrained model:

    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config["tacotron2_params"])
        pretrained_config.set_params(len(symbols))
        print("vocab_size of ne

[2020-06-23 09:48] linhld0811 commented on #57
my code to use pretrained model:
`tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
    config_ = Tacotron2Config(**config["tacotron2_params"])
    config_.set_params(len(symbols))
    print("vocab_size of pretrained_model:",config_.vocab_size)

    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:

[2020-06-23 09:49] linhld0811 commented on #57
my code to use pretrained model:
`tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(*

[2020-06-23 09:51] dathudeptrai commented on #57
@linhld0811 cay you try
[code]
btw, what is ur tensorflow version ?

[2020-06-23 10:27] linhld0811 commented on #57
yes, i used that code:
` tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
 tacotron2._build()
 #tacotron2.summary()
 if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config["tacotron2

[2020-06-23 10:29] linhld0811 commented on #57
yes, i used that code:
` tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
 tacotron2._build()
 tacotron2.summary()
 if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config["tacotron2_

[2020-06-23 10:29] linhld0811 commented on #57
yes, i used that code:
`  tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config[

[2020-06-23 10:30] dathudeptrai commented on #57
@linhld0811 no i mean this code, i just test and it worked.

[code]

[2020-06-23 10:30] linhld0811 commented on #57
This my code:
`  tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config["tacotron

[2020-06-23 10:32] linhld0811 commented on #57
Here my code:
`  tacotron2 = TFTacotron2(config=Tacotron2Config(**config["tacotron2_params"]), training=True, name='tacotron2')
    tacotron2._build()
    #tacotron2.summary()
    if args.pretrained_model != None:
        print("use pretrained_model ljspeech", args.pretrained_model)
        tacotron2.load_weights(args.pretrained_model)
        pretrained_config = Tacotron2Config(**config["tacotron

[2020-06-23 10:36] dathudeptrai commented on #57
@linhld0811 no i mean this code, i just test and it worked.

[code]

[2020-06-23 10:52] linhld0811 commented on #57
Thanks, i fixed this error. I loaded model but did not use the param skip_mismatch=True of the function tacotron2.load_weights

[2020-06-23 11:00] dathudeptrai commented on #57
@sujeendran Fixed.

[2020-06-23 11:03] linhld0811 commented on #57
I have a question, can you help me to figured out:
- Can i use your pretrained tacotron2 model to extract duration of my own dataset(not english) to teach fastspeech model?! Or i have to training tacotron2 model on my dataset and use best_model to extract duration?!

[2020-06-23 11:23] linhld0811 opened #58 "Error when loading data for train tacotron2 model"
when i load my own dataset to training tacotron2 model, i got this error:

Can anyone help me to fixed this error.

[2020-06-23 11:40] dathudeptrai commented on #58
Can u set use_fixed_shapes on config file to False or adjust max_mel_len and max_char_len to adapt with ur dataset

[2020-06-23 11:42] dathudeptrai commented on #57
You cannot do that :))

[2020-06-23 12:45] sujeendran commented on #57
@dathudeptrai I tried the same. Didn't work. I'm also running Tensorflow 2.2.0. To be clear, here is the code after your fix:
[code]

[2020-06-23 13:23] dathudeptrai commented on #57
@sujeendran  no, the code should be .

[code]

[2020-06-23 13:25] sujeendran opened #59 "Optimizer error at the start of training"
Hi,
I notice this error at the start of training every time after loading data although the training starts and progresses as usual. I have a bit of hard time trying to get the model to converge and that's when i started to doubt if the optimizer is having any issue. Is this normal?

![image](https://user-images.githubusercontent.com/30560413/85408820-51632d80-b565-11ea-97c3-46d8e504496b.png)

[2020-06-23 13:26] dathudeptrai commented on #59
Normal :)

[2020-06-23 13:31] sujeendran commented on #59
Ok thank you.

[2020-06-23 13:31] #59 closed

[2020-06-23 13:35] sujeendran commented on #57
@dathudeptrai Oh, in that case my fix was doing the same. Thanks! :) Maybe you can update the documentation for fine-tuning now that this is clear so others don't fall into this issue again.

[2020-06-23 13:37] dathudeptrai commented on #57
Yeah i will update it asap :))) maybe add some flags :3

[2020-06-23 14:08] jun-danieloh commented on #41
This is happening to me as well. I am using Docker environment...

[2020-06-23 17:28] #57 closed

[2020-06-23 17:28] dathudeptrai commented on #58
re-open if this issue still occur :D.

[2020-06-23 17:28] #58 closed

[2020-06-23 19:57] abylouw commented on #46
Below are my eval and train losses at 176k steps.

2020-06-23 19:39:49,443 (<ipython-input-8-00e9f6ad2cb6>:165) INFO: (Steps: 176000) eval_duration_loss = 0.0404.
2020-06-23 19:39:49,447 (<ipython-input-8-00e9f6ad2cb6>:165) INFO: (Steps: 176000) eval_f0_loss = 0.3211.
2020-06-23 19:39:49,450 (<ipython-input-8-00e9f6ad2cb6>:165) INFO: (Steps: 176000) eval_energy_loss = 0.0876.
2020-06-23 19:39:49,4

[2020-06-24 00:35] dathudeptrai commented on #46
@abylouw can you share ur samples, maybe we need fine-tune mb-melgan

[2020-06-24 02:39] azraelkuan commented on #39
I am interested too.

[2020-06-24 04:54] manmay-nakhashi commented on #53
@dathudeptrai @sujeendran  it is fast but audio quality is  not so good
Intel® Core™ i5-6300U CPU

example 1

taskset --cpu-list 1 python3 synthesis.py "Fastspeech with Squeezewave vocoder in pytorch , very fast inference on cpu"

Speech synthesis time: 1.7220683097839355

soxi out:
Input File : 'results/Fastspeech with Squeezewave vocoder in pytorch , very fast inference on cpu_112000_squeezewave

[2020-06-24 07:37] abylouw commented on #46
I have not trained the particular voice with fastspeech1. Attached are synthesized samples together with GT. It is an Afrikaans voice.
[samples.zip](https://github.com/dathudeptrai/TensorflowTTS/files/4823818/samples.zip)

[2020-06-24 07:38] sujeendran opened #60 "Deployment of frozen models with tf-addons"
Hi,
For freezing the graph and deploying on target device, is it necessary to have Tensorflow-Addons installed on the device? Or will it be possible for just tensorflow 2.x package to perform inference from the frozen graph. Sorry but I have never used Tensorflow-Addons before and dont have much knowledge about it.

[2020-06-24 07:42] dathudeptrai commented on #60
Hi, can you refer the code to freeze entire tacotron 2 from notebooks dir? I think only tf dependency is enough, can you try?

[2020-06-24 09:02] dathudeptrai commented on #46
you should fine-tune MB-melgan too since the dataset is difference. @abylouw

[2020-06-24 09:28] abylouw commented on #46
Can you please explain what you mean by fine-tuning?

[2020-06-24 09:29] dathudeptrai commented on #46
@abylouw i mean you load the pretrained mb-melgan then continue training on ur dataset :3.

[2020-06-24 09:30] abylouw commented on #46
Okay, thank you

[2020-06-24 09:46] dathudeptrai commented on #39
I'll wait for a while longer :)), i will create organization soon :D.

[2020-06-25 07:05] jun-danieloh opened #61 "Enabling mixed_precision for training"
Hi, I would like to turn on mixed_precision setting for training so set "1" for the command below, but mixed_precision is still False after that. Do I miss something?

[code]

[code]

[2020-06-25 07:18] dathudeptrai commented on #61
@jun-danieloh i don't know :)) maybe you need explicit set is_mixed_precision = True in Tacotron2Trainer Class, but i failed to enable mixed precision training for tacotron-2 :)), that is a tensorflow-related bug. FastSpeech is still ok :)).

[2020-06-25 11:07] zhouyong64 opened #62 "griffin-lim implementation for quick sanity check of tacotron output"
It'd be helpful if there is some griffin-lim code to check if tacotron training is OK before training vocoders like MelGAN.

[2020-06-25 13:15] linhld0811 opened #63 "config length of the melspectrogram input"
When i training tacotron2 model with my own data, some of mel-spetrogram has timestep  > 2000 so I always get this error:

I dkn that where to set the timestep to higher value to adapt my data.
Thanks

[2020-06-25 13:27] azraelkuan commented on #63
check this： https://github.com/dathudeptrai/TensorflowTTS/blob/493dae65b8b9979b507d87ae8330f956fa5176df/tensorflow_tts/models/tacotron2.py#L723

[2020-06-25 13:41] linhld0811 commented on #63
I set that to another number but still got this error with timestep = 2000

[2020-06-25 14:30] sujeendran commented on #60
@dathudeptrai Tested FastSpeech saved model inference in environment without tensorflow-addons. Works!
Will update once I check other models.

[2020-06-25 14:33] sujeendran commented on #60
How can I save mb-melgan in the same way? Is there a way to combine both the mb_melgan module and PQMF module into one?

[2020-06-25 16:55] dathudeptrai commented on #63
@linhld0811 try comment out https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L723, it could solve the problem. BTW, i think > 2000 steps is too long, maybe you need consider to move it into evaluation folder if you set "use_fixed_shapes=True" or you can set "use_fixed_shapes=False" to training with dynamic shape, but i'm not sure if dynamic faster than f

[2020-06-25 16:57] dathudeptrai commented on #62
@zhouyong64 i think a plot of mel-spectrogram, the loss value and the alignment is enough to check the quality of tacotron output. But, add GL is a good idea, i will add it asap :D.

[2020-06-25 17:01] dathudeptrai commented on #60
@sujeendran i will add notebook for mb-melgan saved model inference asap.

ofc, you can :))), i will do it for you :)).

[2020-06-25 18:21] C00reNUT opened #64 "MelNet & other dataset than ljspeech"
Hello,
thank you for this exellent and very intuitive implementation!

I am not familiar with TTS research, so my questions can probably be quite naive. :)

1) Do you also plan to implement MelNet? The audio results provided in the paper overview are quite impressive.
2) Is there any chance that in the long run you will train models with different dataset, other than ljspeech? This implementation

[2020-06-26 02:20] dathudeptrai commented on #64
Hi,

I will read the paper and consider to implement it later.

Actually, in the future i want to try other datasets, but now i just only on LJSpeech for fast experiments :D.

yeah, it's enough :D, maybe you can refer libriSpeech dataset for TTS here (http://www.openslr.org/60/)

[2020-06-26 03:47] C00reNUT commented on #64
Cool, thank you!

[2020-06-26 03:50] #64 closed

[2020-06-26 10:21] abylouw commented on #46
I think I am missing something, can a checkpoint be loaded from just h5 files (the discriminator and generator)? or are there some other required files? I get an error when I try to load from

```train.multiband_melgan.v1/checkpoints/ckpt-940000```

where I saved the discriminator and generator h5 files.

```NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching fil

[2020-06-26 10:25] dathudeptrai commented on #46
@abylouw you can load weight here https://github.com/dathudeptrai/TensorflowTTS/blob/master/examples/multiband_melgan/train_multiband_melgan.py#L415.

[code]

[2020-06-26 11:43] abylouw commented on #46
Thank you. Does the training then follow the normal procedure, i.e. up to 200000 steps generator and from there generator + discriminator?

[2020-06-26 11:49] dathudeptrai commented on #46
Yes normal :)))

[2020-06-26 12:08] zhouyong64 commented on #62
Thanks. I understand your point. If someone modified lots of things based on your code, having a quick way to syntheisize audio might be the best indicator as to whether the modification works.

[2020-06-26 15:46] dathudeptrai commented on #60
@sujeendran https://github.com/dathudeptrai/TensorflowTTS/blob/master/notebooks/multiband_melgan_inference.ipynb. I will close issue now.

[2020-06-26 15:46] #60 closed

[2020-06-27 12:31] superhg2012 opened #65 "melgan residual stack config"
Hi, In original melgan paper, the kernel size of the second conv1d layer is 3, I see that in this melgan residual config it's 1.  Is it a better config?

[2020-06-27 12:37] dathudeptrai commented on #65
Hi, i didn’t know that, i follow the official code on github and the kernel size is 1.

[2020-06-27 12:43] superhg2012 commented on #65
could you give a link on the official code?

[2020-06-28 02:09] dathudeptrai commented on #65
@superhg2012 here, https://github.com/descriptinc/melgan-neurips/blob/master/mel2wav/modules.py#L80

[2020-06-28 02:42] superhg2012 commented on #65
@dathudeptrai thxs

[2020-06-28 02:43] #65 closed

[2020-06-28 03:46] dathudeptrai commented on #62
@zhouyong64 i add GL-Tensorflow implementation here (https://github.com/dathudeptrai/TensorflowTTS/blob/master/tensorflow_tts/utils/griffin_lim.py). I also sanity check the output of GL on notebook (https://github.com/dathudeptrai/TensorflowTTS/blob/master/notebooks/Griffin_lim_tensorflow.ipynb)

[2020-06-28 03:46] #62 closed

[2020-06-29 05:21] superhg2012 opened #68 "pqmf synthesis filter"
Hi,  why  synthesis filter still use h_analysis here?
[code]

[2020-06-29 08:07] dathudeptrai commented on #68
@superhg2012 it's different at exand_dims op, you can see

[code]
while
[code]

[2020-06-29 08:43] superhg2012 commented on #68
@dathudeptrai  i mean whether  h_analysis should be  h_synthesis ?

[2020-06-29 08:46] dathudeptrai commented on #68
@superhg2012 no, it's still h_analysis. Synthesis is the inverse step of analysis, so we just need change the order of the filter.

[2020-06-29 08:50] superhg2012 commented on #68
there is some diffenence with here [](https://github.com/kan-bayashi/ParallelWaveGAN/blob/master/parallel_wavegan/layers/pqmf.py)

[2020-06-29 08:52] dathudeptrai commented on #68
@superhg2012 it's exactly the same. Pytorch/Tensorflow filter weight have different order :)). In tensor it's [filter_width, in_channels, out_channels] while pytorch is [out_channels, in_channels, filter_width] if i have no wrong :)).

[2020-06-29 09:03] superhg2012 commented on #68
here

 `synthesis_filter = np.expand_dims(h_analysis, 0)`

synthesis_filter  is used to sum sub_band signal into full band signal , then my point is  why  synthesis_filter  use  h_analysis  ?   why not h_synthesis ?

[2020-06-29 11:15] superhg2012 commented on #68
get it!! thanks!

[2020-06-29 11:17] superhg2012 commented on #68
Another problem, my multi_band melgan generated audio like below. I am training with 16000 sampling rate.  there is line around 4K sampleing rate.
what will cause this ?
![image](https://user-images.githubusercontent.com/8817309/85998116-f9cd3200-ba3c-11ea-9a4a-26b0ac1f6b57.png)

[2020-06-29 11:20] apsears commented on #46
What are your thoughts on the increasing eval loss? Should we change the loss to something else? It is clear that longer training improves voice quality, but the metric does not show that.

[2020-06-29 11:55] dathudeptrai commented on #46
@apsears you mean fastspeech2?

[2020-06-29 11:59] dathudeptrai commented on #68
@superhg2012 longer training will solve it :))) don’t worry :3

[2020-06-29 13:50] apsears commented on #46
Yes, for fastspeech2 -- except for the first few thousand steps, eval loss is increasing. In most projects, that means you stop early, but we all know that's not a good idea. Is this unique for FastSpeech2 here, or does this happen for other models in the repo as well? Is this a consequence of the limitations of the non-autoregressive approach?

[2020-06-29 14:02] dathudeptrai commented on #46
@apsears the loss has no meaning with fastspeech2 right now. The reason why eval loss is increasing (but not too much) is because we cann't predict a good F0/Energy in the real inference so the mel value will be different. Example if the groundtruth mel is **y** while ur prediction is **1.5Y** (cause by energy predicted is higher than grountruth energy) then the audio generated still good but the

[2020-06-29 15:45] sujeendran commented on #60
Hi @dathudeptrai,
Thanks for the update. I followed your notebook to save the model and later load it from another script for inference. Sorry to reopen this issue, but I'm facing an issue.
I noticed it takes twice as much time for inference compared to another script that builds the model and load weights manually like in your notebooks. I ran both scripts to generate 4 sentences in a loop using

[2020-06-29 15:57] dathudeptrai commented on #60
@sujeendran can you make a colab for this ?, including a code for downloading pretrained model, saved it into pb and above code, so i can easy to check and help :D.

[2020-06-29 17:04] sujeendran commented on #60
@dathudeptrai Hi! Sure. Here you go: https://colab.research.google.com/drive/1q065tbqWevKleMjiAJkp58cjR7LWJIj_?usp=sharing

I don't see the tf.function retracing warnings in colab, maybe because of some environment variable set. But the performance difference is as expected. Saved model is 2x slower.

[2020-06-29 17:27] dathudeptrai commented on #60
@sujeendran @tf.function and saved model should be a same because @tf.function will convert a code to graph as saved model does. Here saved model 2x slower is the bug of Tensorflow :))). Let say that saved model tensorflow will be slow with the shape of input that saved_model nerver seen before :)). In ur notebook, if you follow bellow code you will see that saved_model run as fast as @tf.function

[2020-06-29 20:48] CalebFenton opened #69 "Error following Tacotron2 tutorial"
First, great project. Thanks a ton for maintaining it. I'm learning a lot going through the code.

I tried following the Tacotron2 tutorial -- downloaded the dataset, ran the preprocessing steps, and tried training. I ran into this error:

[code]

Is this an error you've seen before? Unless I've made a dumb mistake, I imagine anyone might experience this error since I'm following the tutorial. Any

[2020-06-29 22:54] ZDisket commented on #69
I've trained a few Tacotron 2 models with my own datasets all of them formatted like LJSpeech and never ran into this bug. Have you checked your Python and Tensorflow versions? Try downgrading your Python to 3.6 because I had troubles with greater versions when trying to run inference.

[2020-06-30 01:25] superhg2012 commented on #68
all right, expect it !!

[2020-06-30 01:30] #68 closed

[2020-06-30 03:39] jcphong commented on #39
Can i join with u guys in tensorrt session :dancing_men:

[2020-06-30 04:33] LLianJJun opened #70 "decode_tacotron2.py Problem"
Hi~
After training tacotron2 with my data, the following problems occur during decoding.

Does anyone know the answer to this problem?

[code]

[code]

[2020-06-30 04:36] dathudeptrai commented on #70
@LLianJJun i will check it after lunch :))

[2020-06-30 05:15] #70 closed

[2020-06-30 05:15] dathudeptrai commented on #70
@LLianJJun ok i fixed it, the problem is that speaker_id need dtype=tf.int32 to be able feed to tacotron.inference. :D

[2020-06-30 05:18] dathudeptrai commented on #69
@CalebFenton i just re-run based on my command line on README, everything is fine with ljspeech. Can you delete folder dump, git pull and re-run to check it ?

[2020-06-30 05:21] LLianJJun commented on #69
@CalebFenton  Did you install cuDNN?

[2020-06-30 09:52] sujeendran commented on #60
@dathudeptrai Hmm you are right, the time does reduce from the second j loop. This is really a very bad issue with tf2 when it comes to deployment point of view. On lower-power machines the GPU overhead to load the model itself takes a long time, add to that warmup for 1000 fake samples, it will take a really long time to start any useful inferencing. I will have to see how it will behave with tfl

[2020-06-30 09:54] dathudeptrai commented on #60
@sujeendran tflite is ok, no problem. For server, i we can use @tf.function :))).

[2020-06-30 13:35] jun-danieloh opened #71 "How to continue running training from the checkpoint"
Hi, My run is unexpectedly stopped so I need to continue my run.

Below is my command.
[code]

But it failed as showing logs below.
[code]

Am I missing something or did I run in a wrong way?

[2020-06-30 13:43] dathudeptrai commented on #71
@jun-danieloh should be:

[code]

[2020-06-30 13:46] jun-danieloh commented on #71
@dathudeptrai Thanks :)

[2020-06-30 13:46] #71 closed

[2020-06-30 17:22] sujeendran commented on #47
@manmay-nakhashi Could it be possible for you to share how you managed to convert melgan to tflite? Is the tflite model capable of inferencing?

[2020-06-30 19:42] CalebFenton commented on #69
Thanks for all the suggestions. I got it working and I'll explain how for anyone else that has the same issue.

I reinstalled CUDA, cuDNN, and my Nvidia drivers. Then I updated the repo and ran the preprocessing steps again. I think the main fix was ensuring cuDNN was installed properly. I installed it by downloading a tarball and manually copying some stuff, but that wasn't working so I installed

[2020-06-30 19:42] #69 closed

[2020-06-30 21:32] MokkeMeguru commented on #41
We should use
[code]
instead of
[code]

in whole example script.

[2020-06-30 21:46] MokkeMeguru commented on #41
Sorry, my mistake. We should use

[code]

[2020-07-01 02:03] #61 closed

[2020-07-01 05:42] jun-danieloh opened #72 "Difference btw decode_tacotron2.py vs tacotron2_inference.ipynb"
The procedure of running inference of tacotron2 is not clear. It appears that running only "tacotron2_inference.ipynb" looks enough to me. What is "decode_tacotron2.py" for? Even running this code gives me errors as below.
[code]

[2020-07-01 05:46] dathudeptrai commented on #72
@jun-danieloh the error may because the GPU is used by another process i think. About the difference, tacotron2_inference demo the real inference on deployment including save it to pb file then load and do synthesis while decode_tacotron2 inference with input is the folder ids and it used in case you want inference all samples on the folders :D.

[2020-07-01 05:53] linhld0811 opened #73 "Extract duration from tacotron2 model"
I don't send any issue to this comment. Following to the tutorial in training model fastspeech2, we have to extract the duration from alignment of tacotron2 model( on function get_duration_from_alignment on file extract_duration.py).
I just want to know what exactly of this term "duration". Anyone help me to figure out this definition?!

[2020-07-01 05:57] jun-danieloh commented on #72
@dathudeptrai

Thanks for your quick response. Now I understand the diferences.

I have more questions. What's the output of "tacotron2_inference"? Is it mel? Then do I need to take this mel output to Griffin_lim inference code?

[2020-07-01 05:59] dathudeptrai commented on #72
@jun-danieloh yeah, you can use that mel and pass to GL inference to check the output. You can also train vocoder like melgan or multiband melgan as vocoder :D. GL is bad quality and just use to check :D

[2020-07-01 06:02] jun-danieloh commented on #72
@dathudeptrai Got it! Thanks for your clarity.

Last question. Do you know which tensorflow version is working properly with this repo, https://github.com/Rayhane-mamah/Tacotron-2? I saw your post in this repo so ask. I guess it would be 1.15? :)

[2020-07-01 06:04] xxoospring opened #74 "preprocessing"
why it loop again and again?
this is the command line i use as the readme instruction:
[code]
![image](https://user-images.githubusercontent.com/21218850/86208494-3fa40a80-bba3-11ea-967b-0324023369a5.png)
when processed about 20%， it seems loop back and start from scratch again

[2020-07-01 06:04] dathudeptrai commented on #72
:))) at the time i use that repo, i used tf 1.10

[2020-07-01 06:04] #72 closed

[2020-07-01 06:04] jun-danieloh commented on #72
@dathudeptrai Thanks :)

[2020-07-01 06:06] dathudeptrai commented on #74
@xxoospring because i use multi-processing :))), so the visualize looks a bit confuse haha :D but it's right behavior =)).

[2020-07-01 06:09] l4zyf9x commented on #73
Character and Mel-spectrogram have different lengths, len(character)< len(mel). In fast speech, we mapping from characters to mel so each character will represent for a chunk mel and length of this chunk,  we call duration.

[2020-07-01 06:11] xxoospring commented on #74
Thanks for your quick reply. So, when should I stop?, or just ignore it and wait till the process finish?

[2020-07-01 06:14] dathudeptrai commented on #74
@xxoospring wait till the process finish :)))

[2020-07-01 06:15] #74 closed

[2020-07-01 07:21] manmay-nakhashi opened #75 "Anyone succeded converting fastspeech to tflite ? : (."
for me it's always crashing in runtime and , it has problem converting Length regulator function

[2020-07-01 07:23] dathudeptrai commented on #75
:))) hope community can help you 😂😂😂

[2020-07-01 07:25] manmay-nakhashi commented on #75
@dathudeptrai  i hope :cry:

[2020-07-01 07:28] manmay-nakhashi commented on #75
@dathudeptrai can i add melgan tflite to repo ?

[2020-07-01 07:29] dathudeptrai commented on #75
Be patient, i need design contrib/experimental module :)

[2020-07-01 07:31] manmay-nakhashi commented on #75
@dathudeptrai ok , i'll wait till you design that :P

[2020-07-01 08:03] LLianJJun commented on #46
Hi~
I am training fastspeech2 using my data.
The amount of training data is about 100 hours.
On Tesla P40 (Memory ~22G)
It has been around 24 hours since started training.

The picture below is the current tensortbord capture.
Need more training yet? (currently 170k steps.)
When I check the synthesized sound, the quality is slightly lower,
but I don't know if the cause is fastspeech2-model or mb-m

[2020-07-01 08:04] xxoospring commented on #41
still not work...

[2020-07-01 08:06] dathudeptrai commented on #46
@LLianJJun can you provide a mel predicted on the real inference ? I mean the figure :)

[2020-07-01 08:29] LLianJJun commented on #46
![mel](https://user-images.githubusercontent.com/67306015/86221419-d979b080-bbbf-11ea-8fed-3e15df79255c.png)

It is a mel predicted figure on the real inference.
I didn't train using the pretrained model mb_melgan, It is 900k steps.

The voice is great overall. However, husky voices are generated from certain words.

[2020-07-01 08:31] linhld0811 commented on #73
I have a question: Can i use time alignment( duration in ms of each phoneme which is extracted by kaldi) for transform to duration format that you use for training fastspeech?!

[2020-07-01 08:34] azraelkuan commented on #73
@linhld0811 yes, but you should use the same phoneme in tts as you use in kalid.

[2020-07-01 08:40] azraelkuan commented on #75
@manmay-nakhashi how about the speed of tflite model? hardware? and real time factor?

[2020-07-01 09:04] dathudeptrai commented on #46
There are some things you can do to improve ur result:

1. Ur dataset seems too large compared with LJSpeech so i think futher training will improve it
2. Change **delay_f0_energy_step** to 1 in https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/fastspeech2/conf/fastspeech2.v1.yaml#L69. and hard code https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/fa

[2020-07-01 09:40] #73 closed

[2020-07-01 09:58] janson91 commented on #46
hi,
How can I generate duration_files?
Before I run python examples/fastspeech2/train_fastspeech2.py,  I have run tensorflow-tts-preprocess, tensorflow-tts-compute-statistics, tensorflow-tts-normalize for Preprocessing.

Thank you

[2020-07-01 09:59] dathudeptrai commented on #46
@janson91 you need extract duration from tacotron2 model or other tool :))). see https://github.com/TensorSpeech/TensorflowTTS/tree/master/examples/tacotron2#step-4-extract-duration-from-alignments-for-fastspeech

[2020-07-01 10:19] jun-danieloh opened #76 "A couple of questions regarding pre-processing."
1. Could you add short details regarding for each directories? What's ids, raw-feats and so on? Also, could you point any references regarding these if you have any?
[code]

2. I am running tacotron2 with my own wav files. My own metadata.csv has only two columns as below. Text are normalized so there are no numbers.
[code]
However, I noticed that metadata.csv of LJSpeech has 3 columns as below. I

[2020-07-01 10:35] manmay-nakhashi commented on #75
@azraelkuan it can be real-time if we use buffering , melgan vocoder is faster,you can even use more light weight vocoder if required according to hardware, integrated pytorch fastspeech and tensorflow melgan just to see the performance but some how voice is too robotic, so i want to see if we can convert this fastspeech model to tflite.

[2020-07-01 11:04] azraelkuan commented on #76
for 1:
check https://github.com/TensorSpeech/TensorflowTTS/blob/cabca9f9d656928e580c156718a6f655e987766e/tensorflow_tts/bin/preprocess.py#L279-L307
ids : text id
raw-feats: acoustic feature like mel spec
norm-feats: normliazed feature like mean-std norm
 energies and f0: please check fastspeech2 paper

for 2:
we should use normalized text: check here: https://github.com/TensorSpeech/TensorflowTTS/

[2020-07-01 11:37] jun-danieloh commented on #76
You are awesome! Thanks :)

[2020-07-01 11:37] #76 closed

[2020-07-01 12:01] jun-danieloh opened #77 "Running into issues with different dataset"
I am trying to train tacotron2 with my own dataset. Pre-processing is well completed and I am running into this issue when I try to run training. Can you help or give me an insight to fix this issue below? It looks to me that there are long sequence of sentences in my dataset which doesn't exist in LJSpeech dataset. I really appreciate if you can give me any hints on this.

[code]

[2020-07-01 12:24] jun-danieloh commented on #77
MelGAN is running fine with my dataset as below.
[code]

[2020-07-01 14:50] sujeendran commented on #75
@manmay-nakhashi Hi can you share some info about how to convert melgan to tflite? I tried few times and it complained about dimension issues when allocating tensors for inference.

[2020-07-01 17:20] dathudeptrai commented on #77
@jun-danieloh hi, pls git pull again a project. I fixed the tacotron2_dataset to be able apply for other datasets, max_mel_length and max_char_length now calculate based on target dataset automatically and don't need to explicit so above bug should be disappear :D.

[2020-07-02 01:45] LLianJJun commented on #46
@dathudeptrai
Thank you for your comment. ^^

[2020-07-02 02:06] jun-danieloh commented on #77
@dathudeptrai Which PR is it for this fix? I would like to see which codes have been changed.

[2020-07-02 02:07] dathudeptrai commented on #77
https://github.com/TensorSpeech/TensorflowTTS/commit/cabca9f9d656928e580c156718a6f655e987766e

[2020-07-02 02:11] superhg2012 commented on #68
after running nearly 500K steps, disconnections still exist. worrying...

![image](https://user-images.githubusercontent.com/8817309/86308591-4dfa3100-bc4c-11ea-93dd-3a25b8ac10e7.png)

[2020-07-02 02:13] dathudeptrai commented on #68
@superhg2012 don't worry :))) 400k steps is just apply for LJspeech :)). Maybe ur dataset is larger :)) can you share me a tensorboard :d

[2020-07-02 02:19] superhg2012 commented on #68
I am running a 6.4 hours Chinese dataset. far smaller than ljspeech dataset .  I am using  starting learning rate 1e-3, so loss decreased fast at very begining, after 40K steps, it grows very large. So I gess this result in the loss explode.

![image](https://user-images.githubusercontent.com/8817309/86309121-8cdcb680-bc4d-11ea-8655-d8f461083181.png)

[2020-07-02 02:21] dathudeptrai commented on #68
@superhg2012 you are not using our code ? right ?

[2020-07-02 02:22] Maxxiey commented on #68
got same problem here, trained on my own dataset of 1000 sentences(0.76 hour) for 500k.

mels and tensorboard chats:
![image](https://user-images.githubusercontent.com/42697295/86309128-8f3f1080-bc4d-11ea-9862-653eff347448.png)
![image](https://user-images.githubusercontent.com/42697295/86309248-d5946f80-bc4d-11ea-9451-6183b1af9d1d.png)

[2020-07-02 02:25] dathudeptrai commented on #68
@Maxxiey ur dataset too small, look at validation loss, you are overfiting now :))

[2020-07-02 02:25] superhg2012 commented on #68
yes, I am using my own code, but I have compared with this repo. almost the same.  Just talk  about this mb-melgan issue!

[2020-07-02 02:28] dathudeptrai commented on #68
@superhg2012 hmm, i don't know if the amount of data affect this :)) maybe training longer can solve or maybe not :D. BTW, we are training Baker chinese dataset and will support end2end chinese soon :D. After that maybe you can use our pretrained chinese model to train ur model.

[2020-07-02 02:32] superhg2012 commented on #68
great, by the way , will 16000 sampling rate configs supported?

[2020-07-02 02:35] dathudeptrai commented on #68
@superhg2012 yes, i use this framework for my private dataset 16k, you just need change the sampling_rate on preprocessing.

[2020-07-02 02:39] Maxxiey commented on #68
@dathudeptrai thanks a lot, looking forward to the pretrained model :D, and yes I will let the training continue and check the result later.

[2020-07-02 02:40] superhg2012 commented on #68
get it!   Another question , how  will n_fft  affect the model ?  like n_fft = 2048 and n_fft=1024 ?

[2020-07-02 02:42] dathudeptrai commented on #68
@superhg2012  i haven't tune those parameter yet :)) just follow almost preprocessing params on github repo for ljspeech :v. I'm not goot at signal processing, my major is computer vision and NLP, so ...

[2020-07-02 02:52] superhg2012 commented on #68
@dathudeptrai  whatever, this repo is a great work！

[2020-07-02 03:57] jun-danieloh commented on #77
@dathudeptrai I went through you codes and found that the code that I am using has fixed max_char_length=190 and max_mel_length=870. Thanks!!

[2020-07-02 03:57] #77 closed

[2020-07-02 04:57] jun-danieloh opened #80 "ModuleNotFoundError: No module named 'examples'"
I just pulled the latest version of this repository and am getting this error consistently.
[code]

Every time I get this error, this is what I am doing in train_tacotron2.py. Am I only one seeing this? I am running the code in Docker env.
[code]

[2020-07-02 04:58] jun-danieloh commented on #80
It looks like example package exists as well.

[2020-07-02 05:13] MokkeMeguru commented on #80
Sorry, our implementation mistake.
ref. https://github.com/TensorSpeech/TensorflowTTS/issues/41#issuecomment-652063420

[2020-07-02 05:13] MokkeMeguru commented on #80
I will fix it now...

[2020-07-02 05:20] jun-danieloh opened #82 "Is multi-gpu training possible?"
I am trying to train tacotron2 with my own dataset which is a little bit larger than LJSpeech and getting OOM errors with batch size 32 and 1 gpu as log below.

Is there any way to use multi-gpu training with the current code? Is reducing the batch size only option? I am not familiar with tf2.2 so can't come up with multi-gpu implementation right away, it is very simple with PyTorch though.

[code

[2020-07-02 05:21] dathudeptrai commented on #82
@jun-danieloh we will support multi-gpu soon. it take some time :))

[2020-07-02 05:33] #80 closed

[2020-07-02 05:33] jun-danieloh commented on #82
@dathudeptrai I can't come up with any way to parse long samples within training dataset. It consists of 40k wav files. Do you have anything in mind? I am planning to reduce the batch size.

[2020-07-02 05:36] dathudeptrai commented on #82
@jun-danieloh reduce batch_size is still ok. we will implement multi-gpu soon. You can write the function to check the length of mel on training samples then move it into dev folder :)), i think it's ez :D.

[2020-07-02 05:39] MokkeMeguru commented on #41
We now solve the problem I think.
Can you try below code

[code]

[2020-07-02 05:40] MokkeMeguru commented on #80
@jun-danieloh https://github.com/TensorSpeech/TensorflowTTS/issues/41#issuecomment-652794838

[2020-07-02 06:16] jun-danieloh commented on #82
@dathudeptrai What do you mean by dev folder?

[2020-07-02 06:17] dathudeptrai commented on #82
@jun-danieloh i mean dump/valid :))

[2020-07-02 06:18] jun-danieloh commented on #82
@dathudeptrai Do I need to modify metadata.csv file too?

[2020-07-02 06:27] dathudeptrai commented on #82
No :D

[2020-07-02 06:32] jun-danieloh commented on #82
@dathudeptrai
Then what I can do right away is just cut the half number of wav files and move them to dump/valid? Do you recommend this?

[2020-07-02 06:35] jun-danieloh commented on #82
My quick try with batch 16 also fails...

[2020-07-02 06:36] dathudeptrai commented on #82
can you provide ur length mel histogram ?

[2020-07-02 06:37] jun-danieloh commented on #82
how can I check mel length histogram?

[2020-07-02 06:43] jun-danieloh commented on #82
@dathudeptrai Then I need to filter out wav files based on max mel length, 1000. Is this because input dimension of Encoder is not big enough?

[2020-07-02 06:48] manmay-nakhashi commented on #75
posting a diff over here:
tensorflow_tts/models/melgan.py
[code]
examples/melgan/conf/melgan.v1.yaml
[code]
examples/melgan/train_melgan.py
[code]
put this line in
tensorflow_tts/trainers/base_trainer.py
save_checkpoint
[code]
convert pb to tflite
[code]

[2020-07-02 08:49] janson91 commented on #46
Thank you for your reply. After I extract duration, there is a new problem when I try to train fastspeech2 by
[https://github.com/TensorSpeech/TensorflowTTS/tree/master/examples/fastspeech2#step-2-training-from-scratch](url)

TypeError: examples/fastspeech2/train_fastspeech2.py:130 _one_step_fastspeech2  *
TypeError: apply_gradients() got an unexpected keyword argument 'experimental_aggregate_grad

[2020-07-02 08:57] dathudeptrai commented on #46
@janson91 my optimizer here https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/optimizers/adamweightdecay.py#L124. Can you try modifty to:

[code]
BTW, pls pull newest code :D.

[2020-07-02 10:09] sujeendran commented on #75
@manmay-nakhashi Thanks for sharing! I will give it a try!

[2020-07-02 13:07] abylouw commented on #46
@janson91 I got the same error when I used -``--mixed_precision 1``, with ``--mixed_precision 0`` everything worked as expected

[2020-07-02 13:14] dathudeptrai commented on #46
@janson91 @abylouw doing as my mentenioned above fixed this problem :))

[2020-07-03 01:43] janson91 commented on #46
It worked, thx

[2020-07-03 02:35] janson91 commented on #46
Thank you, but maybe my graphics card don't support mixed_precision.
[https://forums.developer.nvidia.com/t/issue-about-no-suitable-gpus-detected-when-using-mixed-precision-graph-optimizer/75458](url)

[2020-07-03 04:30] LLianJJun commented on #46
@dathudeptrai
As you advised, changing the hardcoded values ​​improved quality. (delay_f0_energy_step, self.is_use_f0_energy)
I am wondering why the values ​​are hardcoded. Is there any other reason?

[2020-07-03 04:40] dathudeptrai commented on #46
@LLianJJun in fact you don't need hard code =)). it should work, let see the code here https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/fastspeech2/train_fastspeech2.py#L91. Just want to sure =))). If delay_f0_energy_step = 1 is the best config, i will remove delay_f0_energy_step and is_use_f0_energy :D

[2020-07-03 09:02] #75 closed

[2020-07-03 09:20] l4zyf9x commented on #46
@LLianJJun Your eval mel_loss_after is pretty good. Do you use ground truth f0 energy, or predicted f0 energy in eval step?

[2020-07-03 09:28] dathudeptrai commented on #46
Hmm, eval_mel_loss use f0/energy grountruth in my implementation but the important is that his duration/f0/energy loss really good, there is no overfit problem so the exact value loss on evaluation is not important here. I just want to see his mel-predicted plot and an autio samples to prove that my implementation work well on other languages. The performance on ljspeech also proved :)).

[2020-07-03 11:01] jun-danieloh commented on #82
@dathudeptrai I got the mel length histogram as below. As you mentioned, I need to cut off ones having mel length more than 1000, right? Is your frame length 50ms as in paper? I am using 10ms frame length.

[code]

[2020-07-03 11:03] dathudeptrai commented on #82
My hope size is 256 so for ljspeech 22.05k it is 256/22.05k = 11.6 ms. What is ur gpu ?

[2020-07-03 11:13] jun-danieloh commented on #82
@dathudeptrai My GPU is 1080TI 12GB. I guess your code sets the max_mel_length based on the largest one and pads other shorter ones so it is OOM? But I still don't understand why OOM still happens with batch 1.

[2020-07-03 11:14] dathudeptrai commented on #82
There is something wrong if batch 1 oom, did you enable mixed precision? Pls set it to 0

[2020-07-03 11:39] jun-danieloh commented on #82
@dathudeptrai Sorry. With batch 1, it is not OOM issue but a dimension issue. I pasted the log below. Let me continue debugging it. Please give a hint if you have any.
[code]

[2020-07-03 13:45] dathudeptrai commented on #82
@jun-danieloh see the error
[code]

That mean there is a sample has a length = 2547 while in my implementation, max length for decoder is 2000 (see https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L745). So ur mel_length statistic is wrong somehow :D

[2020-07-03 14:26] DanBigioi opened #85 "Fast Speech 2 Inference"
Hi! I'm getting some errors when trying to run inference using fast speech 2. This is the code I'm using:

[code]

And this is the error I get:

[code]

I'm not really sure whats going on, so any sort of help is appreciated! Thank you!

[2020-07-04 01:30] superhg2012 commented on #68
after pretraining G 200K steps and correct training procedures errors, the disconnections is disappearing now after 300K steps for both nfft=2048 and nfft=1024 16000 sr.
![image](https://user-images.githubusercontent.com/8817309/86502737-0228c280-bdd9-11ea-8750-a8b38f95ff2d.png)

[2020-07-04 01:32] dathudeptrai commented on #68
What is ur error and how you fix it?

[2020-07-04 01:44] superhg2012 commented on #68
after training G 200K steps,  G and D are training at same but not  alternately！

[2020-07-04 05:11] manmay-nakhashi commented on #85
@DanBigioi you need to add two more params in inference call f0_ratios, energy_ratios

[2020-07-04 11:08] abylouw opened #86 "Are there any plans to train VCTK Multiband MelGAN model?"
I unfortunately do not have the computing resources to train a MB MelGAN model with VCTK.

My other option is to use the one from https://github.com/kan-bayashi/ParallelWaveGAN, and it is working nicely with my FastSpeech2 models from this repository trained on my languages, I would just prefer to have only tensorflow models as this will make the usage a lot simpler.

I have tried the conversion n

[2020-07-04 11:36] dathudeptrai commented on #86
@abylouw  i will help you convert weight from kan’s repo to my implementation :)) just be patient

[2020-07-04 11:40] abylouw commented on #86
@dathudeptrai Thank you very much

[2020-07-05 00:49] dathudeptrai opened #89 "TFLite support for FastSpeech and Tacotron-2"
Hi, good news, now TensorflowTTS support convert all models supported to TFlite ([colab](https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing)). Thank @jaeyoo from TFlite team for his support. The TTS's game has changed now :D. Let discuss here.

[2020-07-05 02:05] dathudeptrai commented on #41
i closed since it solved

[2020-07-05 02:05] #41 closed

[2020-07-05 02:05] #51 closed

[2020-07-05 02:06] #63 closed

[2020-07-05 13:01] osamasabri commented on #89
thank you for this repo
i tried using tacotron.tflite on android i got this error
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.arabic_tts, PID: 27703
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.arabic_tts/com.example.arabic_tts.MainActivity}: java.lang.RuntimeException: java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuff

[2020-07-05 16:17] dathudeptrai commented on #89
@osamasabri you need remove the tf-nightly on android on cache dir :)) then re-install it by this code:
[code]

[2020-07-06 00:33] khanhlvg commented on #89
You'll also need to add select ops to your dependencies.
https://www.tensorflow.org/lite/guide/ops_select#android_aar

[2020-07-06 03:22] Yablon opened #91 "What do you think about FastPitch ?"
I found that NVIDIA released a paper named [FastPitch: Parallel Text-to-speech with Pitch Prediction](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/FastPitch).

Do you have any plan to try and release some samples to compare with tacotron based models and fastspeech ?

[2020-07-06 03:23] dathudeptrai commented on #91
@Yablon samples here https://tensorspeech.github.io/TensorflowTTS/. FastSpeech2 ~ Tacotron2

[2020-07-06 03:36] Yablon commented on #91
@dathudeptrai Thank you for your quick relpy !

[2020-07-06 03:39] dathudeptrai commented on #91
@Yablon i think u have trained some **FastPitch** model, hope you can make some comments after hear our samples :). Note that nvidia use **Waveglow** which is much lower and larger compared with our **Mb-Melgan**.

[2020-07-06 03:52] sourangshupal commented on #39
I am interested too

[2020-07-06 04:39] vikrantsharma7 opened #92 "Extract Durations Tacotron2 with reduction_factor > 1"
Facing `AssertionError: different between sum_durations and len_mel` when using `reduction_factor` > 1.
[https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/tacotron2/extract_duration.py#L179](https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/tacotron2/extract_duration.py#L179)
Although it works fine with `reduction_factor` = 1.
Are there any changes to be made for

[2020-07-06 04:46] dathudeptrai commented on #92
@vikrantsharma7 hi you cann't do that, duration is extracted from alignment which produces from Tacotron-2 with reduction_factor=1.

[2020-07-06 04:50] vikrantsharma7 commented on #92
@dathudeptrai thanks for the quick reply.

[2020-07-06 05:26] Yablon commented on #91
@dathudeptrai Yes, I have trained the FastPitch model using NVIDIA repo and its recommended parameters, here are some audio samples. The vocoder is their pretrained WaveGlow.
[wavs_devset10-150.zip](https://github.com/TensorSpeech/TensorflowTTS/files/4876889/wavs_devset10-150.zip)

Following is audio samples from this repo,
[fastspeech2.100k.zip](https://github.com/TensorSpeech/TensorflowTTS/files

[2020-07-06 05:31] dathudeptrai commented on #91
@Yablon yeah, waveglow is better than mb-melgan. It's much larger and much slower too. BTW, can you generate **FastPitch + Waveglow** samples same as my samples on my demo page ? (https://tensorspeech.github.io/TensorflowTTS/) (pls see the FastSpeech-2 samples (BBC news) section)

[2020-07-06 05:37] Yablon commented on #91
@dathudeptrai Okay, I will generate them later.

[2020-07-06 08:07] #92 closed

[2020-07-06 11:06] DanBigioi commented on #85
Oh I see. Thanks a lot for the help!

[2020-07-06 11:45] DanBigioi commented on #85
@manmay-nakhashi I'm now getting an invalid argument error to do with the energy_ratio param. Have you any idea what could be causing it?
``
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-27-32971132e34d> in <module>
      5     speed_ratios=tf.convert_to_tensor([1.0], dtype=tf.float32),
      6     f0_ratios=tf.ones(shape=[tf.shape(input_ids)[0]], dtype

[2020-07-06 14:21] MODAK27 opened #93 "ModuleNotFoundError: No module named 'examples.fastspeech2'"
I am trying to reproduce fastspech2 tarining but when i  do this in colab it points to ModuleNotFoundError in training part
but prerpocessing part was succeeded

!CUDA_VISIBLE_DEVICES=0 python /content/TensorflowTTS/examples/fastspeech2/train_fastspeech2.py \
  --train-dir /content/dump/train/ \
  --dev-dir /content/dump/valid/ \
  --outdir /content/TensorflowTTS/examples/fastspeech2/exp/train.fas

[2020-07-06 15:46] dathudeptrai commented on #93
@MokkeMeguru can you check and help ?

[2020-07-06 16:16] ZDisket commented on #93
@MODAK27
Google Colab has a module (or it's the folder?) conveniently named examples that make it conflict with this repo. To fix it, in my training notebooks I always run a piece of code that renames the examples folder into ttsexamples and replaces` examples.` with `ttsexamples.` in all the code recursively right after cloning the repo.
Talking about notebooks, an example training one would be n

[2020-07-06 16:25] dathudeptrai commented on #85
@DanBigioi can you check our colab notebook, it should run fine :D (https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing)

[2020-07-06 16:29] DanBigioi commented on #85
Thanks a ton!! Didnt know that notebook existed :D That solves the issue, cheers!!

[2020-07-06 16:29] #85 closed

[2020-07-06 17:25] ZDisket opened #94 "Unnecessary lines in example inference Colab notebook"
I found these two lines in the [official E2E demo](https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing#scrollTo=mT1B4yaVfR-V) that are unnecessary, in the setup cell:
[code]
As shown in [my notebook](https://colab.research.google.com/drive/109UhmWq00XaNN1gZuiHEybp1AlZfdb-d?usp=sharing), which I assume they were copied from, those installations are for post-process

[2020-07-07 02:34] Hongpeng1992 opened #95 "max_mel_length = tf.reduce_max(mel_length) if self.config["use_fixed_shapes"] is False else [ self.config["max_mel_length"]]"
max_mel_length = tf.reduce_max(mel_length) if self.config["use_fixed_shapes"] is False else [                 self.config["max_mel_length"]]

Hi,  in config ,  did not get  max_mel_length

Thank you!

[2020-07-07 02:36] dathudeptrai commented on #95
@Hongpeng1992 https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L513-L514. It will compute max mel/char length automatically base on ur dataset then update it into config.

[2020-07-07 02:45] Hongpeng1992 commented on #95
Thank you !

[2020-07-07 02:45] #95 closed

[2020-07-07 03:02] dathudeptrai commented on #94
thanks :D, you are right :D

[2020-07-07 03:02] #94 closed

[2020-07-07 05:52] MODAK27 commented on #93
@ZDisket sorry it didn't help, even though colab has examples inbuilt, it will always first look on to path provided at first by user to look on to modules. I am sharing my colab ,could you please look onto it. it's editable

[2020-07-07 06:11] Mingrg opened #96 "pad() missing 1 required positional argument: 'mode'"
In examples/fastspeech2/fastspeech2_dataset.py, line 33.

I got an error like：

Seem like I used the wrong version of numpy or something? How should I pad in this situation?
My numpy version is 1.16.4.

[2020-07-07 06:13] dathudeptrai commented on #96
my numpy version is 1.18.1

[2020-07-07 06:22] MingRuigang commented on #96
thx! I found that in version 1.18, "mode" uses "constant" by default.

I changed the code to:

In numpy version 1.16.4 and it wored.

[2020-07-07 06:36] #96 closed

[2020-07-07 06:45] linhld0811 opened #97 "preprocess input"
I have a question about the preprocess of input for training fastspeech2.
as i know, for improve performance of tacotron2 model(based on the implement of NVIDIA), the text need add the character BOS(begin of sentences), EOS(end of sentences) and the wav(after strim silence) adding 5 frame to the end.
In your implement, i don't find anywhere you add that on text or wav?!
In the symbols, i find the

[2020-07-07 06:48] dathudeptrai commented on #97
@linhld0811 https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L198-L199. Everything is on generator function.

[2020-07-07 07:48] linhld0811 commented on #97
Sorry for my shortcoming. Can i delete the character space ( 11th in ur symbols) when convert input_text to idx for training?!

[2020-07-07 07:50] dathudeptrai commented on #97
@linhld0811 no, you can't delete space charactor.

[2020-07-07 08:02] MODAK27 commented on #93
I fixed the bug. python 3.6 even requires the__init__.py module to treat directories containing files as packages.
1. Add __init__.py inisde examples folder  with "#" inside it(to rep. null and search in it's subdirectories)
2. Add __init__.py inside examples/fastspeech2 folder with "from examples_tts.fastspeech2.fastspeech2_dataset import CharactorDurationF0EnergyMelDataset" in it
3. Add __init__

[2020-07-07 08:03] linhld0811 commented on #97
i wonder why fastspeech2 model dont need the eos character. maybe due to that fastspeech2 is non-autoregressive, is that right?!

[2020-07-07 08:10] dathudeptrai commented on #97
yes

[2020-07-07 10:17] MokkeMeguru commented on #93
I update the code of fastspeech2.

@MODAK27 __init__.py is not needed in our settings.
You can do our example in python 3.6. after my pull request (#98) is merged.

[code]

[2020-07-07 10:25] MokkeMeguru commented on #93
@ZDisket
I don't know colab well. It is th colab-dependencies problem.

[2020-07-07 10:45] MokkeMeguru commented on #93
And also, we can easily remove the example folder from colab environment with the below code.

[code]
and then
[code]

@MODAK27  Here is what you want, isn't it?

[2020-07-07 10:49] MODAK27 commented on #93
yeah thanx sir for looking into the prob. I solved it. Sir one more help is req, to extract durations for alignment in Fastspeech2 , do we need to train tacotron2 model to get checkpoints/model-65000.h5

[2020-07-07 10:51] #93 closed

[2020-07-07 10:57] dathudeptrai commented on #93
@MODAK27 you need train tacotron2 to extract duration on ur own dataset. If you train ljspeech, you can use our pretrained.

[2020-07-07 13:17] #97 closed

[2020-07-08 02:20] janson91 commented on #46
I want to train fastspeech2 model on other languages, and it seems that I need to train tacotron2 model first.
But the training speed of tacotron2 is very slow.
So can I get the duration in other ways, or can I extract duration from an undertrained tacotron2 model.
Thank you

[2020-07-08 02:23] dathudeptrai commented on #46
@janson91 hmm, that is the thing we are trying to solve. We are implementing alternative model to learn alignment. Right now you can extract duration from MFA (https://montreal-forced-aligner.readthedocs.io/en/latest/) or Tacotron-2. Training tacotron-2 is slow, it need train around 2-3 days on 2080TI to get a good duration for fastspeech2 :)).

[2020-07-08 02:30] janson91 commented on #46
@dathudeptrai ok, thank you. Btw, if the duration is extracted from Tacotron-2, would it be better? Or how different are the effects of the two methods?

[2020-07-08 02:36] dathudeptrai commented on #46
@janson91 i think MFA is better but it's not support for all languages :)).

[2020-07-08 02:59] ZDisket commented on #46
@janson91 @dathudeptrai MFA+FS2 performs extremely well for me in another repo, I'm interested in how it'd be here.

[2020-07-08 03:05] dathudeptrai commented on #46
@ZDisket we know that MFA, phoneme can improve the quality. The reason why i'm not yet support phoneme because i don't have much time :). And there is a reason why training is on **examples** folder, that is because it's just examples use case of this framework. Now this framework support tflite, that mean it's end2end process, from **text to production** :)). Phoneme or MFA is the only step that

[2020-07-08 03:21] ZDisket commented on #46
@dathudeptrai How long did it take you to train your FastSpeech2 model? I can probably glue enough code together to make it happen.

[2020-07-08 03:22] dathudeptrai commented on #46
@ZDisket 12 hours :D, you can make the Pull Request, i can train :D

[2020-07-08 03:31] ZDisket commented on #46
@dathudeptrai I can train it myself.

[2020-07-08 03:32] dathudeptrai commented on #46
@ZDisket ok, can you make the PR, so i can review and code with you faster :'(.

[2020-07-08 03:41] ZDisket commented on #46
@dathudeptrai I will when I have something. By another repo, I meant ming024's implementation.

[2020-07-08 03:43] dathudeptrai commented on #46
@ZDisket i knew, can you share ur sample ?. To be honest, this pytorch impelementation (https://github.com/rishikksh20/FastSpeech2) is better than the repo you are using IMO.

[2020-07-08 04:03] ZDisket commented on #46
@dathudeptrai Audio samples? I got something better, a [notebook](https://colab.research.google.com/drive/1PpoqHzm6BxUiicz3zy2zw8Cpv-aojqGA?usp=sharing)

[2020-07-08 04:09] dathudeptrai commented on #46
@ZDisket i don't know if the audio samples of ming024's is good or not interm of quality. He use pretrained nvidia waveglow which is very large model and performance is very good and that is why a audio sample may **smoother**. But IMO, the mel is not good, the audio sample has no **stress**, i mean **intonation**

[2020-07-08 04:17] ZDisket commented on #46
@dathudeptrai In my experience, more training when finetuning often makes the models sound more like their speakers, but also it's very easy to overfit.
But MFA+FS2 performs very well when compared to Tacotron2. The model that's loaded by default in the notebook? I had given up on training Tacotron2 on that dataset due to fatal alignment problems. That implementation looks nice, but trying to set

[2020-07-08 04:23] dathudeptrai commented on #46
@ZDisket looks good :D. i will try to use MFA and phoneme asap.

[2020-07-08 04:43] ZDisket commented on #46
@dathudeptrai

So do I leave the implementation up to you? Or still want help?

[2020-07-08 04:47] dathudeptrai commented on #46
@ZDisket still want to help :( i need implement some module before try to train mfa and phoneme

[2020-07-08 05:04] ZDisket commented on #46
@dathudeptrai Then I'll start working on it.

[2020-07-08 05:12] dathudeptrai commented on #46
@ZDisket thanks very much

[2020-07-08 06:43] MODAK27 opened #99 "IndexError: list index out of range FastSpeech2"
After taking trained durations from link at 40k and copying it to dump/train/durations folder I am getting an Indexerror while training the FastSpeeech2

File "/content/TensorflowTTS/examples/fastspeech2/train_fastspeech2.py", line 513, in <module>
    main()
  File "/content/TensorflowTTS/examples/fastspeech2/train_fastspeech2.py", line 456, in main
    return_utt_id=False,
  File "/usr/local/lib

[2020-07-08 06:45] dathudeptrai commented on #99
@MODAK27 did you also copy for dump/valid/durations/ ?

[2020-07-08 07:06] MODAK27 commented on #99
no i  didn't do that for now cause i was focusing on train

[2020-07-08 07:08] dathudeptrai commented on #99
@MODAK27 :3. you must to copy durations_40k/train to dump/train/durations and durations_40k/valid to dump/valid/durations. That is **MUST** to be able to run the code.

[2020-07-08 07:08] MODAK27 commented on #99
ok thanx a lot sir

[2020-07-08 07:12] #99 closed

[2020-07-08 13:17] abylouw commented on #46
I have used phonemes as input and the durations are from an HTK forced alignment system. The quality is better than our other DNN based systems.

I think using phonemes as input one can get away with less data. My first voice I trained with FS2 was with 3.5 hours.

[2020-07-08 13:21] apsears opened #100 "How to develop on this repo? (structural issue)"
Hi, this seems like a silly question, but what is the process for developing on a repo with this structure? It is very unlike others.

If I edit a file, say, tensorflow_tts/processor/ljspeech.py, the edits are not functional until I reinstall using "pip install --upgrade ."

Is there an easier way I'm missing? What would you call this structure?

[Edit: it was a silly question. You just work from

[2020-07-08 13:50] #100 closed

[2020-07-08 14:06] dathudeptrai commented on #100
@apsears you can git clone and use
[code]
Then u can modify tensorflow_tts folder :D without re-install

[2020-07-08 16:22] manmay-nakhashi opened #101 "crash in Android while running fastspeech"
Caused by: java.lang.IllegalArgumentException: DataType error: DataType 6 is not recognized in Java (version 2.4.0)
        at org.tensorflow.lite.DataType.fromC(DataType.java:79)
        at org.tensorflow.lite.Tensor.<init>(Tensor.java:484)
        at org.tensorflow.lite.Tensor.fromIndex(Tensor.java:44)
        at org.tensorflow.lite.NativeInterpreterWrapper.getInputTensor(NativeInterpreterWrappe

[2020-07-08 17:27] dathudeptrai commented on #101
@manmay-nakhashi can you try to ignore attention mask, you can calculate it by tf.math.not_equal(input_ids, 0) inside a function.

[2020-07-08 21:14] ZDisket commented on #46
@dathudeptrai Does your FastSpeech2 take durations in seconds or frames?

[2020-07-08 22:41] abylouw commented on #46
The durations are in frames.

[2020-07-09 00:36] ZDisket commented on #46
@abylouw I see, how do I convert seconds to frames? I think it was multiplying the seconds by (sampling_rate/hop_length)

[2020-07-09 03:31] manmay-nakhashi commented on #101
@dathudeptrai sure i can try that

[2020-07-09 03:39] ZhaoZeqing opened #103 "batch_max_steps and batch_max_steps_valid in melgan and multiband_melgan"
I had tried training multiband_melgan in my own dataset and found that **batch_max_steps_valid** is 10 times than **batch_max_steps**, but why?
https://github.com/TensorSpeech/TensorflowTTS/blob/db692cbbee3fcfa257bcaece6298905ef3fe25d9/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L69-#L70

And I also found that **batch_max_steps** is used to filter some short audios, a little puzzled
ht

[2020-07-09 03:46] dathudeptrai commented on #103
@ZhaoZeqing hi, in training we use batch_max_steps=8192 ->> len mel = (8192//256) = 32 frames. This audio segment is around 0.3-0.5s, but on inference, we want to hear longer audio to check the performance so we use 81920 ~ 4s audio :D. We also remove all short audio <= 32 frames (assumed it's noise audio :D).

[2020-07-09 06:17] abylouw commented on #46
That is correct, sampling_rate/hop_length x frame_length_in_sec

[2020-07-09 07:01] ZhaoZeqing commented on #103
@dathudeptrai Thanks for your prompt reply! The shortest audio in my valid datasets has 111 frams, when I set **batch_max_steps**->> 32 frams, **batch_max_steps_valid** ->>100 frams, this error occurred:

2020-07-09 14:43:58,812 (train_melgan:221) INFO: (Steps: 5) Start evaluation.
Traceback (most recent call last):
  File "anaconda3/lib/python3.7/site-packages/tensorflow/python/eager/context.py",

[2020-07-09 07:09] dathudeptrai commented on #103
@ZhaoZeqing is everything fine with batch_max_step_valid = 81920 ?

[2020-07-09 07:17] ZhaoZeqing commented on #103
Our sample rate is 48k, hop_size=600, when batch_max_step_valid=batch_max_steps=19200, everything is ok, but when batch_max_steps=19200, batch_max_step_valid=192000 or 60000, the error occurred

[2020-07-09 07:22] dathudeptrai commented on #103
@ZhaoZeqing check  this https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/train_multiband_melgan.py#L465-L471. Maybe because we forgot pass hop_size parameter into the function so the hop_size is still 256

[2020-07-09 07:38] mapledxf commented on #89
Thx for the work! The inference speed is really slow. It's take about 20 seconds to inference the demo input.
Is there any way to speed up the inference?

[2020-07-09 07:41] dathudeptrai commented on #89
@mapledxf sorry because this mis-understanding. The demo convert Model to 8bit so it run very slow on desktop x86. If you want to check the real latency, pls bring it on mobile devices or don't convert it to 8bit (keep 32bit) by comment out:
[code]

[2020-07-09 08:03] ZhaoZeqing commented on #103
Oh!!! I noticed this problem, but modified in melgan/train_melgan.py by mistake, many thanks!
But after I modified multiband_melgan/train_meltiband_melgan.py, a new error occurred:

Traceback (most recent call last):
  File "examples/multiband_melgan/train_multiband_melgan.py", line 544, in <module> main()
  File "examples/multiband_melgan/train_multiband_melgan.py", line 536, in main resume=args.

[2020-07-09 08:11] dathudeptrai commented on #103
@ZhaoZeqing weird, it should be the same shape. Can you make the fork of this repo and update what you changed then i can debug ?. It seem that len(audio_gts) != len(audio_preds). Thanks

[2020-07-09 08:21] l4zyf9x commented on #46
@abylouw I guess converting from seconds to frames, you must round it. So how do you ensure time resolution between total frame and sum of durations?

[2020-07-09 08:50] ZhaoZeqing commented on #103
@dathudeptrai I forked this repo and update my code on this branch: https://github.com/ZhaoZeqing/TensorflowTTS/tree/sr_48k
Many thanks!

[2020-07-09 08:56] dathudeptrai commented on #103
@ZhaoZeqing https://github.com/ZhaoZeqing/TensorflowTTS/blob/sr_48k/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L22 here, the upsamples scales is wrong. we set it to [8, 4, 2] because 8 * 4 * 2 * (n_bands) = 8 * 4 * 2 * 4 = 256 (hop_size). Also in https://github.com/ZhaoZeqing/TensorflowTTS/blob/sr_48k/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L40 is the same logic as abo

[2020-07-09 09:06] mapledxf commented on #89
@dathudeptrai Thx for the reply.
I am actually running the module on a real Android device (Mi Pad 4).

The following is the test result:

Inference time on a desktop: (**without** converter.optimizations = [tf.lite.Optimize.DEFAULT])
Tacotron2: 5.997615814208984
Fastspeech: 0.932093620300293
Fastspeech2: 0.9338972568511963

Inference time on Android device: (**with** converter.optimizations = [tf

[2020-07-09 09:10] dathudeptrai commented on #89
@mapledxf because Tacotron-2 have dynamic input but fixed output :)), if i remember correctly, it's 1000 frame output of Tacotron2 :v.

[2020-07-09 09:31] ZhaoZeqing commented on #103
@dathudeptrai Thank you very mucn! I will try 24k :)

[2020-07-09 09:33] dathudeptrai commented on #103
@ZhaoZeqing maybe you want follow https://github.com/TensorSpeech/TensorflowTTS/pull/105. He finished training mb-melgan for chinese dataset (24k) :))

[2020-07-09 09:36] ZhaoZeqing commented on #103
@dathudeptrai Cool~ :D

[2020-07-09 13:14] abylouw commented on #46
That is correct, I round after the calculation. To get the number of frames the same (or very close) I used hop_length/sampling_rate as the target rate in the forced alignment system. Therefore, the frame rate in the forced alignment system is the same as the FS2 system. There might still be one or two frames different, then I pad or drop frames like is done for f0 here:

https://github.com/Tensor

[2020-07-09 13:59] manmay-nakhashi commented on #101
@dathudeptrai this resolved my issue thanks : )

[2020-07-09 14:00] #101 closed

[2020-07-09 15:42] MODAK27 opened #106 "NameError: name 'alignment_history' is not defined"
On running the End-2-End demo on colab Tacotron 2 model gets an error
NameError                                 Traceback (most recent call last)
<ipython-input-14-4e6782468b4a> in <module>()
----> 1 mels, alignment_history, audios = do_synthesis(input_text, tacotron2, melgan, "TACOTRON", "MELGAN")
      2 visualize_attention(alignment_history[0])
      3 visualize_mel_spectrogram(mels[0])
      4

[2020-07-09 16:18] #106 closed

[2020-07-09 16:19] dathudeptrai commented on #106
@MODAK27 fixed :))

[2020-07-09 16:28] #103 closed

[2020-07-10 01:33] ZDisket opened #107 "FastSpeech2 training with MFA and Phoneme-based"
When training FastSpeech2 (fastspeech2_v2) with phonetic alignments extracted from MFA I get the error described:
[code]
I did everything I could think of to rule out my durations as the problem including verification that length is the same, so I don't know what happened.
Interestingly enough, when training with mixed_precision off the same error happens but with different values:

[code]
Am I mi

[2020-07-10 02:01] dathudeptrai commented on #107
@ZDisket see here https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/fastspeech2/train_fastspeech2.py#L116-L117. Loss f0/duration/energy is fine but loss mel-spectrogram missmatch length. I pretty sure that ur sum(duration) != len(mel)

[2020-07-10 02:01] l4zyf9x commented on #107
which duration value you use when training ground truth or predict? If you use gt duration then the only reason comes in my mind is that some sample has sum of duration different with length of Melspectrogram. You could use the following code to ignore outlined sample while loading data.
[code]
Then filtering difference ids

[2020-07-10 02:08] ZDisket commented on #107
@l4zyf9x @dathudeptrai Thanks, I'll see how deep the problem goes.

[2020-07-10 02:35] ZDisket commented on #107
It seems that the length of the normalized mels is slightly higher than that of the sum of durations.
[match(1).txt](https://github.com/TensorSpeech/TensorflowTTS/files/4900451/match.1.txt)
Plotting one mel, it looks like the difference is in silence. So I have to go through all the mels and cut them off where the duration stops.
In this image, the mel has len 586 while the duration sum is 554
![p

[2020-07-10 02:41] dathudeptrai commented on #107
@abylouw do you have any thought ?

[2020-07-10 02:52] ZDisket commented on #107
@dathudeptrai I don't think it's too much when considering that these are phonetic durations. I'm considering just adding the difference to the last duration for every utterance, but I want to hear what you guys think about it first.

[2020-07-10 03:01] dathudeptrai commented on #107
hmm, i don't have any experience in this case @ZDisket. maybe try to just adding to the last duration and see what happend when training :D

[2020-07-10 03:43] ZDisket commented on #107
@dathudeptrai I've gone ahead and it's training fine, the very first loss values look fine and predictions at [3000 steps.zip](https://github.com/TensorSpeech/TensorflowTTS/files/4900665/3000steps.zip) (very early) look normal. ming024 stated in his README.md that it only takes an hour of training on a GTX 1080 to start producing decent samples.

[2020-07-10 03:45] dathudeptrai commented on #107
@ZDisket let see, i don't know what is the proper way to solve the length missmatch is this case, hope the model don't have any problem at the end of the mel :D

[2020-07-10 04:34] l4zyf9x commented on #107
@ZDisket  One question. Do you train Tacotron and extract duration with the same Mel that you use to train FastSpeech2?

[2020-07-10 04:37] ZDisket commented on #107
@l4zyf9x Those are extracted durations on ground truth LJSpeech audio from Montreal Forced Aligner. I didn't use a teacher model.

[2020-07-10 04:52] l4zyf9x commented on #107
As @dathudeptrai  mention before. I think you should reference this comment https://github.com/TensorSpeech/TensorflowTTS/issues/46#issuecomment-656120059. I think the solution is that you config MFA have the same time resolution. For example: frame_rate=16000, hop_length=256. So you need set rate of MFA = 1000 * 256 / 16000 = 16(ms). Finally, it will be possible to mismatch 1 to 2 frame, you just

[2020-07-10 05:00] ZDisket commented on #107
@l4zyf9x If that was the problem then it'd be much worse. I already took that into account for my second to frame conversion, taking it from [here](https://github.com/ming024/FastSpeech2/blob/3ca60d4e58c2ddf8aa2c7faa5de9926ddcc573b2/utils.py#L36).

[2020-07-10 05:28] mapledxf commented on #89
@dathudeptrai Hi there, I am trying to make Fastspeech2 tflite working on Android device. However I found that Android's tflite nightly version doesn't not support `tf.bool` .
Any workaround for that?

[2020-07-10 05:30] dathudeptrai commented on #89
@mapledxf ignore attention_mask on input, you can change it by tf.math.not_equal(input_ids, 0) inside the function.

[2020-07-10 05:34] mapledxf commented on #89
I will try that. Thx!

[2020-07-10 05:50] mapledxf commented on #89
I got 2 seconds inference time with Fastspeech2 on Android device.

GREATE JOB HERE!

[2020-07-10 05:52] dathudeptrai commented on #89
@mapledxf  :)) so, let give us a star share our work with ur friend :)), and don't forget to **Watch** our repo, we will support more :))

[2020-07-10 06:01] ZDisket commented on #107
Although with some problems, the model at 30k is capable of generating speech. Here's a [notebook](https://colab.research.google.com/drive/1BIlkZ91Ov7KMYJsl_P2SVFcJ9nyFNaLT?usp=sharing).

[2020-07-10 06:04] dathudeptrai commented on #107
@ZDisket the mel looks good at 30k steps, let training it around 150k steps and compared the performance. note that fastspeech2_v2 is small version

[2020-07-10 06:06] ZDisket commented on #107
@dathudeptrai Does the small version lower quality, or is it supposed to be the same or higher?

[2020-07-10 06:08] dathudeptrai commented on #107
@ZDisket need to tune :)). I think we can tune and find the smaller version without worse quality. Let see the performance after 150k steps.

[2020-07-10 06:14] l4zyf9x commented on #107
@ZDisket I just have look at your code and MFA [documentation](https://montreal-forced-aligner.readthedocs.io/en/latest/configuration.html?highlight=frame_shift#feature-configuration). Following your code, when config MFA, frame_shift should be 1000*256/22050~11.61. What is your MFA frame_shift

[2020-07-10 06:19] ZDisket commented on #107
@l4zyf9x My relevant code is:
[code]

[2020-07-10 07:28] mapledxf commented on #89
Any plan to convert the MelGan to TFLite? :)

[2020-07-10 08:51] abylouw commented on #107
Is ``trim_silence`` true in your config? I did not use librosa to trim the silences, but rather trimmed them from the labels as aligned by our HTK implementation. We have a SIL start and end phone for all utterances, and in the pre-processing script instead of trimming with librosa as here:

https://github.com/TensorSpeech/TensorflowTTS/blob/84c004172d604ecb966e1a905b81d6e1db2fc2e0/tensorflow_tts/

[2020-07-10 10:17] linhld0811 opened #108 "Error when training fastspeech2"
After training some iteration, i get this

  (0) Invalid argument:  ConcatOp : Dimensions of inputs should match: shape[0] = [2,1139,384] vs. shape[1] = [1,1140,384]
         [[{{node tf_fast_speech2/length_regulator/while/body/_1/concat}}]]
         [[tf_fast_speech2/mul_2/_160]]
  (1) Invalid argument:  ConcatOp : Dimensions of inputs should match: shape[0] = [2,1139,384] vs. shape[1] = [1,1140,

[2020-07-10 13:32] l4zyf9x commented on #108
Following my guess, your dataset has some samples with total duration different from mel length, so when repeating it up, it does not match real Mel-spectrogram. You should check over your dataset and ensure that all samples have total duration equal to mel length.

[2020-07-10 15:21] sujeendran opened #109 "FastSpeech2 saved_model fails"
Hi @dathudeptrai,
I am trying to save fastspeech2 same as fastspeech and it always fails.
Here is my code:
![image](https://user-images.githubusercontent.com/30560413/87169883-e178d500-c2d0-11ea-9baf-cfe3f3f2d794.png)

And this is the error I'm getting:
![image](https://user-images.githubusercontent.com/30560413/87170061-2270e980-c2d1-11ea-89bc-47705b531d26.png)

I tried passing a concrete functio

[2020-07-11 02:47] dathudeptrai commented on #109
@sujeendran fix #109

[2020-07-11 02:47] #109 closed

[2020-07-11 04:30] ZDisket commented on #107
@dathudeptrai After 110k steps, the performance is pretty bad, you can see samples in the notebook. I think I'll instead cut the mels at the time of data loading and train fastspeech2_v1.

[2020-07-11 04:33] dathudeptrai commented on #107
@ZDisket thanks, i will take a look, phoneme based should better than charactor fastspeech2 v1 here.

[2020-07-11 04:50] ZDisket commented on #107
@dathudeptrai Are you going to train the current version which adds the difference to the last duration? There are a few problems in the ends of the audio samples, although I suspect it could be just fastspeech2 v2 being bad.

[2020-07-11 04:54] dathudeptrai commented on #107
@ZDisket not yet, i need to review and release first

[2020-07-11 09:13] abylouw commented on #86
@dathudeptrai I have looked at the  https://github.com/kan-bayashi/ParallelWaveGAN/blob/master/notebooks/convert_melgan_from_pytorch_to_tensorflow.ipynb notebook again but I am not having any success.

I have adapted the notebook to use this repository's TFMelGANGenerator class, instead of the ParallelWaveGAN's one (there are small differences, ParallelWaveGAN uses conv2d whilst TensorflowTTS uses

[2020-07-11 09:37] dathudeptrai commented on #86
@abylouw wait me a bit :)), i'm reviewing a repo then release the first version today then i will make all melgan/mb-melgan on kan's repo convertable to this framework, it should work since melgan already worked :D.

[2020-07-11 12:11] dathudeptrai commented on #86
@abylouw can you make the fork of this repo then update the notebook u are using to convert melgan from kan’s repo to this framework? So i can diẻctly modify from that notebook.

[2020-07-11 18:06] ZDisket commented on #107
As can be seen[ in the notebook with a 55k fastspeech2_v1 model ,](https://colab.research.google.com/drive/1BIlkZ91Ov7KMYJsl_P2SVFcJ9nyFNaLT?usp=sharing)the solution to the ending problem is to append SIL at inference time.

[2020-07-12 16:36] dathudeptrai commented on #107
@ZDisket let me take a look and tuning with you, phoneme should be better than charactor-based, we should found the way to solve the problem about MFA on silent part.

[2020-07-12 16:46] ZDisket commented on #107
@dathudeptrai The model at 110k presents those problems I suspect because I thought I could get away with using SIL both as regular silence and padding, so now I have to train with a dedicated PAD one.

[2020-07-12 16:48] dathudeptrai commented on #107
@ZDisket yeah. It seems that the phoneme-based right now is not good to predict stop/silence part except "," token :D

[2020-07-12 17:12] ZDisket commented on #107
@dathudeptrai Do you think [this ](https://github.com/ZDisket/TensorflowTTS/commit/49061db6e556931bc9e8fdf2d1af203c4b9e3047)could help?

[2020-07-12 17:36] dathudeptrai commented on #107
@ZDisket maybe, let try it. I will follow ur instruction and read the code carefully.

[2020-07-12 17:45] ZDisket commented on #107
@dathudeptrai If you want to train it then you can still follow the instructions [here ](https://github.com/ZDisket/TensorflowTTS/tree/master/examples/fastspeech2/mfa)but also add `--trimlist trimlist.npy` as an argument to `tensorflow-tts-preprocess`.

[2020-07-13 02:05] jun-danieloh commented on #82
@dathudeptrai I managed to run it finally. Thanks :)

[2020-07-13 02:05] #82 closed

[2020-07-13 02:09] dathudeptrai commented on #82
@jun-danieloh can you share ur problem and how you fix it ?, may helpful with other people.

[2020-07-13 02:18] jun-danieloh commented on #82
@dathudeptrai

As you suggested, I noticed that 5 out of ~40k wav files are over 20 secs. Your hop size is 11.6 ms and max_mel_length you set is 2000 so max wav file length would be 11.6m*2000=~20secs(without OOM issue). I didn't do math precisely but just cut out wav files longer than 20 sec and now it is running fine without OOM issues. In order to support wav files longer than 20 secs, we might

[2020-07-13 02:21] dathudeptrai commented on #82
@jun-danieloh padding dynamically also supported, you just need to set use_fixed_shapes=False, but note that i don't really know if dynamic shape is faster than fixed shape. In my experiments, fixed shape faster than dynamic shape but there is a man report that dynamic shape is faster, maybe you want try it by urself. Multigpu/tpu will support on the next version.

[2020-07-13 02:23] jun-danieloh commented on #82
@dathudeptrai Can we avoid OOM issues with dynamic shape at least? I didn't try this yet. When do you expect for the next version  release?

[2020-07-13 02:37] dathudeptrai commented on #82
@jun-danieloh no, it based on ur max sample length. Dynamic shape padding batch based on the max sample length, so if ur max sample length make OOM so dynamic shape can not solve this problem. Atleast 1 month for next release, it may include chinese support, multigpu/tpu support.

[2020-07-13 03:20] unparalleled-ysj opened #110 "preprocess question"
After I modify the preprocessing process, do I need to reinstall TensorflowTTS?

[2020-07-13 03:22] dathudeptrai commented on #110
@unparalleled-ysj you can use:
[code]
so you can edit everything without re-install.

[2020-07-13 04:26] jun-danieloh commented on #82
@dathudeptrai A quick question. Current code is running evaluation every 500 iterations. I think it too overheaded so how do I release this number?

[2020-07-13 04:28] dathudeptrai commented on #82
@jun-danieloh https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/tacotron2/conf/tacotron2.v1.yaml#L71

[2020-07-13 05:07] jun-danieloh opened #111 "Does TFLite support on-device training?"
I just noticed that TFLite colab was released so am trying to follow that. Is on-device training also possible with TFLite?

[2020-07-13 05:10] dathudeptrai commented on #111
@jun-danieloh you mean training on mobile or training to optimize for mobile ?

[2020-07-13 05:20] jun-danieloh commented on #111
@dathudeptrai training on mobile!

[2020-07-13 05:54] unparalleled-ysj commented on #110
Thanks

[2020-07-13 05:54] #110 closed

[2020-07-13 10:25] wannaphong opened #112 "How can I decode mel-spectrogram from folder ids during training?"
Hello. I training tacotron2 model. I want to create a Decode mel-spectrogram from folder ids while training. I want to use checkpoints for speech synthesis but it's error.
[code]

[2020-07-13 10:31] dathudeptrai commented on #112
@wannaphong i think you are using an old version. see this https://github.com/TensorSpeech/TensorflowTTS/issues/106. I already fixed this error. You can clone master or r0.7 branch to fix this issue.

[2020-07-13 11:09] wannaphong commented on #112
Thank you. It fixed this error. 👍

[2020-07-13 11:09] #112 closed

[2020-07-13 11:11] dathudeptrai commented on #112
@wannaphong hi :)), is there any public dataset for Thai language :)), i also want support Thai haha. i'm come from vietnam :D

[2020-07-13 11:12] dathudeptrai commented on #111
@jun-danieloh not yet i think :)). it's very hard :v. I don't think in the near future tflite can support this :))

[2020-07-13 13:05] manmay-nakhashi commented on #89
@mapledxf https://github.com/TensorSpeech/TensorflowTTS/blob/bddd8a70309924adebae7a50e9ed794ec00a5410/notebooks/TensorFlowTTS_FastSpeech%2BMBMelgan_TFLite.ipynb

[2020-07-14 01:33] ZDisket commented on #107
I think a dedicated pad character did the trick, it's got no ending issues although this depends on what is inserted after the text. Using the same text:  _Despite its shortness, it is the most transited motorway in Catalonia and one of the most transited highways in Spain It is also the first highway that has implemented_, the model at 130k gets a different result depending on what is appended to

[2020-07-14 01:43] crux153 opened #113 "Loss explodes at 16K when training MB-MelGAN"
Training MB-MelGAN with Korean dataset causes all loss to explode at around 16k. I'm training on V100 with mixed precision turned OFF, and training with `--generator_mixed_precision 1` even yields NaN loss at the same point (I forgot to save that, might reproduce if needed)

<img width="1042" alt="Screen Shot 2020-07-14 at 10 27 34 AM" src="https://user-images.githubusercontent.com/10908841/873702

[2020-07-14 01:49] ZDisket commented on #113
Are you finetuning or training from scratch? When does the discriminator start in your config?

[2020-07-14 01:57] crux153 commented on #113
@ZDisket I'm training from scratch. As I'm using the same config in this repo ([https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml](https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml)), discriminator training starts from 200k, which means I'm seeing the loss explosion befor

[2020-07-14 02:01] ishine commented on #113
reduce the learning rate

[2020-07-14 02:09] dathudeptrai commented on #113
@crux153 well, i also got this behavior on private dataset but rarely (ljspeech fine). I think there is some samples on dataset make stft loss expode somehow. You can solve this by clip, let replace 2 lines https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/losses/stft.py#L98-L99 by:

[code]

[2020-07-14 02:13] dathudeptrai commented on #107
@ZDisket hmm, i am wondering about f0 and energy loss, in all my experiments with ljspeech, it never overfit like above. there is a confict between duration loss and f0/energy loss. Example at the same position, the network need learn how to predict duration = 0 but f0/energy > 0.

[2020-07-14 02:14] crux153 commented on #113
@ishine @dathudeptrai I'll try out them. Thanks!

[2020-07-14 02:17] dathudeptrai commented on #113
@crux153 you may also try change https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L69 to 16384.

[2020-07-14 02:19] ZDisket commented on #107
@dathudeptrai Only thing I can think of is mixed precision, did you train with it on? (I do). In all my experiments the f0 started overfitting at 10k.

[2020-07-14 02:24] dathudeptrai commented on #107
@ZDisket i always use mixed_precision for training fastspeech. is there any position which have duration = 0 but f0/enery is large ? (i mean duration = 0 but f0/energy tell that position is voice ?)

[2020-07-14 02:27] ZDisket commented on #107
@dathudeptrai

Haven't checked yet. But I think ming024's model also had overfitted f0, so maybe it is a thing of MFA.

[2020-07-14 02:27] crux153 commented on #113
@dathudeptrai It generates audible speeches even though I only trained it until 40k. Currently I'm using GL for vocoder, and MelGAN LJSpeech model suffers highly metallic noise if not fine-tuned (as expected). I'm training MB-MelGAN to use with Tacotron, and will continue to train Tacotron2 (and FastSpeech2) after that. I'll open a PR for Korean (and models) if I can get good results :)

[2020-07-14 02:38] dathudeptrai commented on #113
@crux153 thanks :)) i will help you because i am plan to support more and more languages :)).

[2020-07-14 02:39] dathudeptrai commented on #107
@ZDisket we should re-think about punctuation on MFA, maybe we need sp insertion ?. BTW, i think fastspeech2 author's use another tool or some postprocess to make it works, hmm.

[2020-07-14 02:41] ZDisket commented on #107
@dathudeptrai sp insertion where, at the end?

[2020-07-14 02:48] dathudeptrai commented on #107
at punctuation, i think. BTW, can you see this https://github.com/ivanvovk/DurIAN/tree/master/filelists. He provide a duration and phoneme already for ljspeech. I'm reading his repo.

[2020-07-14 02:51] dathudeptrai commented on #107
cc: @azraelkuan , need ur help now :))

[2020-07-14 02:51] ZDisket commented on #107
@dathudeptrai I think the aligner already inserts sps at punctuation otherwise they wouldn't be there at all.

[2020-07-14 03:00] dathudeptrai commented on #107
@ZDisket can you just download this file https://github.com/ivanvovk/DurIAN/tree/master/filelists and training :)). He compute already, i'm reading his repo to see what he did.

[2020-07-14 03:11] ZDisket commented on #107
@dathudeptrai His transcriptions aren't different from mine. Here's his phonetic transcription of _LJ025-0076_ (pau is his silent token)

Here is mine

In the zip file there are my phonetic transcriptions
[metadata (4).zip](https://github.com/TensorSpeech/TensorflowTTS/files/4916322/metadata.4.zip)

[2020-07-14 03:14] dathudeptrai commented on #107
@ZDisket can you check his sum durations and the length of the mel ?

[2020-07-14 03:22] ZDisket commented on #107
@dathudeptrai That'd require me to grab the LJ dataset and run preprocessing again just to grab the lengths of some mels. But since he uses the exact same aligner (as I can tell because the transcriptions are matching), then the duration sums should be the same before my script that compensates for the shortness. We'd have to check how he deals with that issue, but it shouldn't make that much of a

[2020-07-14 03:31] dathudeptrai commented on #107
@ZDisket see this https://github.com/ivanvovk/DurIAN/issues/3

[2020-07-14 03:35] ZDisket commented on #107
@dathudeptrai Interesting, so I've been training for a long while with duration mismatches. Although you'll have to explain to me what using floor means since I'm not good at math, then I'll modify it and train yet another model.

[2020-07-14 03:46] dathudeptrai commented on #107
let me check after lunch :D. @azraelkuan where are you now :v

[2020-07-14 05:59] mapledxf commented on #89
@manmay-nakhashi Thx! It works, but the speed is really slow on Android device.

So I am trying to synthesize with Griffin Lim.
`def griffin_lim_lb(
    mel_spec, stats_path, dataset_config, n_iter=32, output_dir=None, wav_name="lb"
):`

Where can I get the **stats_path** for a pre-trained module, i.e. Fastspeech2?

[2020-07-14 07:23] crux153 commented on #113
Successfully trained MB-MelGAN to 200k after applying @dathudeptrai's fix!

<img width="1053" alt="Screen Shot 2020-07-14 at 4 14 44 PM" src="https://user-images.githubusercontent.com/10908841/87396307-9bcc4d00-c5ed-11ea-8d43-ad6a91ad3a50.png">

I'm training discriminator now. I think this issue can be closed :) Maybe it'll help other people if we add a note to this fix to [/examples/multiband_mel

[2020-07-14 07:23] #113 closed

[2020-07-14 07:26] dathudeptrai commented on #113
@crux153 i will commit a fix directly to stft.py :)). BTW, ur loss too small :)), seem this dataset very clear or very small ^^.

[2020-07-14 07:36] crux153 commented on #113
@dathudeptrai The dataset I used is 12+ hr dataset with 12,853 utterances, which is quite big. Actually the loss seems quite similar to your ljspeech (my tensorboard only shows til 200k). We'll see when it reaches 1000k :)

[2020-07-14 11:54] ZhaoZeqing opened #114 "[Run melgan.stft] TypeError: Unexpected keyword argument passed to optimizer: lr_fn"
My environment:

- Tensorflow 2.2.0
- cuda 10.1
- cudnn 7.6.4

When I run **melgan.stft** with own 22.05k dataset, all conf files are same to LJSpeech, this error occurred:

Traceback (most recent call last):
  File "examples/melgan/train_melgan.py", line 628, in <module>
    main()
  File "examples/melgan/train_melgan.py", line 608, in main
    gen_optimizer=tf.keras.optimizers.Adam(**config["gen

[2020-07-14 11:59] dathudeptrai commented on #114
@ZhaoZeqing seems u are running train_melgan script rather than train_melgan_stft :)

[2020-07-14 12:35] ZhaoZeqing commented on #114
Oh!! Thanks! Maybe there is a mistake in README file of melgan.stft :D

Also puzzled about upsample_scale and downsample_scale in **multiband_melgan**, why need 8*4*2*4==hopsize? If [8 4 2] can be anything like [4 4 4] or [1 8 8] ?

[2020-07-14 13:17] dathudeptrai commented on #114
@ZhaoZeqing we know that we use hop_size = 256, that mean 1 mel == 256 audio values (for example, if ur audio is = 8192 values (~8192/22050=0.37s) ->> len(mels) == 8192 / 256 = 32 frame.). For melgan/melgan.stft, we upsample the mel-spectrogram to 256x so we need upsample_scales = [8, 4, 2] (4, 4, 4 or 2, 4, 8 also ok). For multiband melgan, we have 4 subband, each subbands audio has length = 1/4

[2020-07-14 13:58] dathudeptrai commented on #107
@ZDisket why don't u use this dictionary ? (http://mlmlab.org/mfa/dictionaries/english.dict) instead of librispeech ?

[2020-07-14 15:24] dathudeptrai commented on #107
@ZDisket https://github.com/ZDisket/TensorflowTTS/blob/master/examples/fastspeech2/mfa/postmfa.py#L93 ->> change int() to round() :))

[2020-07-14 15:37] dathudeptrai commented on #107
@ZDisket after you replace **int** to **round**, you can follow this comment. You can add SIL at the begin and ending of phoneme then trimed audio based on its duration rather than using librosa. I think all issues are solved :D

[2020-07-14 15:54] dathudeptrai commented on #111
feel free to re-open :))

[2020-07-14 15:54] #111 closed

[2020-07-14 15:55] dathudeptrai commented on #114
fell free to re-open if you are still confuse :D

[2020-07-14 15:55] #114 closed

[2020-07-14 17:44] dathudeptrai commented on #86
@abylouw just want to remind you -_-.

[2020-07-14 17:45] dathudeptrai commented on #53
@sujeendran any update ?

[2020-07-14 17:46] dathudeptrai commented on #91
@Yablon can you update :))

[2020-07-14 18:01] ZDisket commented on #107
@dathudeptrai Yeah, it gives me errors if I don't fix that line.
I don't think artificially adding phonemes that matter like SIL artificially will end well.

Also, my latest model (which I now have at 160k iter) was trained with duration-based trimming, see [here](https://github.com/ZDisket/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L233). I consider the ending SIL a vital part sin

[2020-07-14 18:03] dathudeptrai commented on #107
@ZDisket :)) this line should fix :)) i think it will improve significantly

[2020-07-14 18:11] ZDisket commented on #107
@dathudeptrai [Done](https://github.com/ZDisket/TensorflowTTS/commit/a4deefc7eccdbd16ae71f129176d17d6bf3245ad)

[2020-07-14 21:10] ZDisket commented on #107
@dathudeptrai Turning int() into round() reduced the mismatch but now some are greater than the mel and even with [compensation code](https://github.com/ZDisket/TensorflowTTS/blob/master/examples/fastspeech2/mfa/postproc.py) I added I get this:

[code]
I think int() durations plus trimming is good enough.

[2020-07-15 00:47] dathudeptrai commented on #107
@ZDisket https://github.com/ZDisket/TensorflowTTS/blob/master/examples/fastspeech2/mfa/postproc.py#L66 it not correct, it may make durations negative.

well, the problem here is that we try to make it better, make it get the best performance that it can obtain. Just like in the future, we will have FastSpeech3, FastSpeech4 .... :)).

[2020-07-15 00:59] ZDisket commented on #107
@dathudeptrai I also contemplated that. Do you have any idea if not subtracting from the last silence, should I distribute the difference over all the durations? It could get messy to artificially manipulate durations like that which is why it's better to have them all be greater than the length of the mel.

[2020-07-15 01:03] dathudeptrai commented on #107
@ZDisket you can random over all position and minus only 1 until you get sum(dur) = len mel. The len mel and sum dur is differeny but smaller should be better.

[2020-07-15 01:19] ZDisket commented on #107
@dathudeptrai I haven't checked the average difference in int() dur sum and mel len with trimming enabled which should have helped. By the way, if I implement it, would you train it?
The current model I've got performs well but destabilizes on long text (greater than 8 seconds), do you know why?

[2020-07-15 01:25] dathudeptrai commented on #107
@ZDisket i can train it and implement it also. Just want let you know an idea :D. The reason of destabilizes cause by the duration mismatch, when you take int, 3.1 = 3.9. The self attention very sensitive with this kind of problem, when duration more accurate, this should be better than my charactor-based pretrained.

[2020-07-15 01:43] ZDisket commented on #107
@dathudeptrai I don't really see the value in using round() since all the manipulation required to fit them will offset the more accurate durations instead of int() where just the last phoneme was affected so making it worse so, by all means, do modify and train it yourself.

[2020-07-15 01:59] Yablon commented on #91
@dathudeptrai Oh，I will update today

[2020-07-15 02:00] ZhaoZeqing commented on #114
@dathudeptrai Many thanks! :)

[2020-07-15 03:45] dathudeptrai commented on #107
@ZDisket hi, can i ask if you can make a pull request for phoneme preprocessing, i mean we will have another folder on train/valid and it's phoneme_ids. I want training tacotron-2 for phoneme-based also :D

[2020-07-15 04:06] ZDisket commented on #107
@dathudeptrai

 I don't exactly understand what you're asking, but I can make a PR. Also, ming024's FS2 also has int() durations but his model works fine on longer prompts, it could be that my model needs more training (his is up to 300k iters)

[2020-07-15 04:11] dathudeptrai commented on #107
@ZDisket let me train phoneme and see, it should better than charactor-based here. I'm almost finished multi-gpu implementation for trainer.

[2020-07-15 04:29] ZDisket commented on #107
@dathudeptrai You training phoneme with int or round durations?

[2020-07-15 04:30] dathudeptrai commented on #107
i will training with round since it make more sense and accurate

[2020-07-15 04:40] ZDisket commented on #107
@dathudeptrai Good luck then.

[2020-07-15 08:23] abylouw commented on #86
@dathudeptrai I got sidetracked, I will do it today.

[2020-07-15 08:32] sujeendran commented on #53
@dathudeptrai Hi I haven't worked on SqueezeWave for a while as I am working on tflite c++ inference of fastspeech and mbmelgan. As manmay noted the quality is of SqueezeWave is not as good as mbmelgan, but it is definitely faster on my tests running on Jetson Nano on CPU/GPU with PyTorch compared to running FastSpeech+MBMelgan on CPU/GPU with Tensorflow2.x. On Jetson, the GPU takes 2+ seconds(eve

[2020-07-15 08:58] dathudeptrai commented on #53
@sujeendran on Jetson i think u can inference directly by install our framework without convert into pb or TFlite, i noticed that run inference with @tf.function and input_signature no need warmup compared with pb. In overall i think FastSpeech + mbmelgan is fast enough to run real-time on streaming mode. BTW, did you use 8bit or 32bit for tflite ?, and Jetson nano is **ARM** ?

[2020-07-15 09:04] unparalleled-ysj opened #115 "multi-band Melgan training"
Hi, when I use my own data to train mb-melgan, there is always a strong current sound at the end of the generated speech, is it because there are not enough iterations?
![64](https://user-images.githubusercontent.com/39238619/87525703-71959080-c6bc-11ea-93d1-4de7b502087b.png)

[2020-07-15 09:39] ZhaoZeqing commented on #115
I also trained multi-band melgan using my own data, sr is 22.05k, all conf files are same to LJSpeech, in the predictions dir, 5000steps is normal,  but starting from 10000steps, the generated audio is weried, like this:

![64](https://user-images.githubusercontent.com/8464475/87529719-fafb9180-c6c1-11ea-816b-5f7be5f77154.png)

![64](https://user-images.githubusercontent.com/8464475/87529738-ffc04

[2020-07-15 09:41] dathudeptrai commented on #115
@ZhaoZeqing @unparalleled-ysj all the things report here already has solution at #113

[2020-07-15 10:01] ZhaoZeqing commented on #115
@dathudeptrai I will try the solution! Thanks :)

[2020-07-15 10:54] dathudeptrai commented on #115
@unparalleled-ysj let me explained why ur problem occur:

1. strong current sound at the end is the padding sound. Let say our mel normalize based-on mean/std so the mel range is around -4 -> 4. If you norm the mel from 0->4 then 0 is the value of **silience voices**. But in the training progress, the padding mel is 0 then it's not a **silience voice** so it cause ur problem.
2. it's not important

[2020-07-15 12:53] abylouw commented on #86
@dathudeptrai Here is my notebook: https://github.com/abylouw/TensorflowTTS/blob/master/notebooks/multiband_melgan_from_parallelwavegan_to_tensorflowtts.ipynb

[2020-07-15 20:02] sujeendran commented on #53
@dathudeptrai You are right about using the @tf.function directly on Jetson for faster inference. But I was trying to reduce the size taken by the model files to avoid keeping the source code on the target device. But the GPU inference is still 2+ seconds at least. I need something that is below 1 second.
In case of TFLite, allowing supported type tf.float16 increased the speed by around 16x I wou

[2020-07-16 03:23] unparalleled-ysj commented on #115
I got it , thank you for your detailed reply !

[2020-07-16 03:52] Yablon commented on #91
[wavs_tts_1500.zip](https://github.com/TensorSpeech/TensorflowTTS/files/4929189/wavs_tts_1500.zip)

Finally I got this.

The model was trained with code of this [repo](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/FastPitch) for 1500 epochs using LJSpeech-1.1 data as the repo recommended.

[2020-07-16 04:19] #115 closed

[2020-07-16 07:33] learnerkun opened #116 "fastspeech2 trainning question"
[train]:   0%|                          | 200/200000 [06:02<27:51:33,  1.99it/s]2020-07-16 15:29:27,311 (train_fastspeech2:226) INFO: (Step: 200) train_duration_loss = 2.4179.
2020-07-16 15:29:27,314 (train_fastspeech2:226) INFO: (Step: 200) train_f0_loss = 1.9053.
2020-07-16 15:29:27,317 (train_fastspeech2:226) INFO: (Step: 200) train_energy_loss = 2.1922.
2020-07-16 15:29:27,321 (train_fastspeec

[2020-07-16 07:36] dathudeptrai commented on #116
@learnerkun the step is not the same because we shuffe training set before training it at every epoch :D. The bug is because **sum(durs)** != len(mel) at some samples. You need to check by urself if there are some samples has this problem :D

[2020-07-16 07:42] learnerkun commented on #116
I know there is one solution,set the batch 1,but I think this is not a good solution.I want know if there are some other solutions

[2020-07-16 07:43] learnerkun commented on #116
Ok, I will try it.

[2020-07-16 07:47] dathudeptrai commented on #91
@Yablon thanks, i think it's comparable. Seem that FastSpeech2 produce better mel than FastPitch but waveglow reconstruct audio better than mb-melgan.

[2020-07-16 07:47] #91 closed

[2020-07-16 07:48] dathudeptrai commented on #116
@learnerkun the problem is not mels length in a batch is not same but the len of mel-predicted != len of mel-groundtruth

[2020-07-16 08:22] learnerkun commented on #116
You are right,two durations files are wrong.thanks!

[2020-07-16 08:23] #116 closed

[2020-07-16 08:49] #108 closed

[2020-07-16 09:44] ZhaoZeqing commented on #115
@dathduptrai  I tried the solution at #113 , the loss explosion still occurred , but when I just modified https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L69 to batch_max_steps: 16384,  it worked. Now it trained at 55000 steps :D

[2020-07-16 09:48] dathudeptrai commented on #115
@ZhaoZeqing you can also try reduce learning-rate by replace the first value of https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L82 by 0.0005 :)). I think **STFT loss** has some data-related problems which can be solved by **reduce learning-rate**, **Clip loss** or **Increase batch_max_steps** :)).

[2020-07-17 01:37] miyoungvkim commented on #89
Hi guys, Is there any plan to share example about tflite inference in android? I'm trying to inference with tensorflow2.tflite in android studio, but I can't find out how to do it.

[2020-07-17 02:29] wql7654 opened #118 "example/tacotron2 readme replace plz"
Step 4: Extract duration from alignments for FastSpeech
You may need to extract durations for student models like fastspeech. Here we use teacher forcing with window masking trick to extract durations from alignment maps:

Extract for valid set:

CUDA_VISIBLE_DEVICES=0 python examples/tacotron2/extract_duration.py \
  --rootdir ./dump/valid/ \
  --outdir ./dump/valid/durations/ \
  --checkpoint ./

[2020-07-17 02:33] dathudeptrai commented on #118
@wql7654 what do you want to replace ?

[2020-07-17 04:18] wql7654 commented on #118
--checkpoint ./examples/tacotron2/exp/train.tracotron2.v1/checkpoints/model-65000.h5
tracotron2 --> tacotron2

[2020-07-17 07:21] rgzn-aiyun opened #119 "Increased time to create pre-training data"
Hi, I have forgotten to update too late recently, just pulled the latest code and ran a bit, and found that the generated data time has increased? It's been 10 minutes and it hasn't finished generating, why?

tensorflow-tts-preprocess --rootdir ./datasets/ --outdir ./dump/ --conf preprocess/ljspeech_preprocess.yaml
[Preprocessing]:   6% 625/10000 [10:48<2:42:07,  1.04s/it]
[Preprocessing]:   6% 62

[2020-07-17 07:23] dathudeptrai commented on #119
@rgzn-aiyun because the new version calculate f0/energy for FastSpeech2 and it's slow :D

[2020-07-17 07:34] rgzn-aiyun commented on #119
Half an hour has passed, and the pretreatment has not been completed. Is there any way to speed up the generation?

[2020-07-17 07:35] dathudeptrai commented on #119
@rgzn-aiyun the preprocessing already use multi-process, for ljspeech it need 10-15p to calculate. I think it's normal and you just need calculate once time :D.

[2020-07-17 07:38] rgzn-aiyun commented on #119
I estimate that it will take at least an hour to generate, which is unacceptable speed!

[2020-07-17 07:44] dathudeptrai commented on #119
@rgzn-aiyun why it's unacceptable speed since you just need calculate once time ?.

[2020-07-17 07:54] rgzn-aiyun commented on #119
Yes, because it is cloud computing, it can't waste too much time

[2020-07-17 07:59] dathudeptrai commented on #119
@rgzn-aiyun so maybe you need to pre-calculate local then upload to cloud ?, or you can ignore to calculate f0/energy (in case you don't training fastspeech2) by using the old preprocessing files.

[2020-07-17 08:08] rgzn-aiyun commented on #119
This is indeed a solution.

[2020-07-17 08:10] rgzn-aiyun commented on #119
Something went wrong?

Traceback (most recent call last):
  File "train_fastspeech2.py", line 515, in <module>
    main()
  File "train_fastspeech2.py", line 441, in main
    return_utt_id=False,
  File "/ai/TensorflowTTS/examples/fastspeech2/fastspeech2_dataset.py", line 111, in __init__
    duration_files = [duration_files[idx] for idx in idxs]
  File "/ai/TensorflowTTS/examples/fastspeech2/fast

[2020-07-17 08:16] rgzn-aiyun commented on #119
@dathudeptrai
Doesn't FastSpeech2 need to extract the duration?

[2020-07-17 08:18] dathudeptrai commented on #119
@rgzn-aiyun yes, fastspeech2 need extract durations, the different between fastspeech and fastspeech2 is fastspeech2 use f0/energy

[2020-07-17 08:38] rgzn-aiyun commented on #119
The author's paper does not seem to require extraction

[2020-07-17 08:40] dathudeptrai commented on #119
@rgzn-aiyun they use MFA to extract durations, fastspeech need duration file, this is a "MUST"

[2020-07-17 10:25] dathudeptrai commented on #82
@jun-danieloh you can pull my multi-gpu branch to training with mutiGPU :)), i need add some doc before merge to master. https://github.com/TensorSpeech/TensorflowTTS/pull/120

[2020-07-17 10:27] candlewill commented on #39
Count me in. I can make some contribute in Taco and melgan if you like.

[2020-07-17 16:16] ZDisket commented on #107
@dathudeptrai It seems you were very right. I [applied a patch](https://github.com/ZDisket/TensorflowTTS/commit/8bf5dcb4f543b9954402edf9909a278330217d01) and trained a model with round() durations, and now it's way more stable on longer prompts.

[2020-07-17 16:20] dathudeptrai commented on #107
@ZDisket i just heard ur samples, it looks better than the previous version, i think i will look at it again, it can be improve more :D

[2020-07-17 16:21] dathudeptrai commented on #107
@machineko i tried to training with multi-speaker on my private dataset, it very good.

[2020-07-17 16:22] ZDisket commented on #107
@dathudeptrai That model's only trained up to 40k steps, it has a lot to improve.

[2020-07-17 16:23] ZDisket commented on #119
@rgzn-aiyun As @dathudeptrai said, they use MFA to extract durations. You can either extract durations from Tacotron or head over to [this version ](https://github.com/ZDisket/TensorflowTTS/tree/master/examples/fastspeech2/mfa)which supports MFA and phonetic training. For seeing its performance, you can play with my model at [this notebook](https://colab.research.google.com/drive/1BIlkZ91Ov7KMYJsl

[2020-07-17 16:24] dathudeptrai commented on #107
@ZDisket oh, that good, the model normally convergence at 150k steps for ljspeech. i need to add some readme for multispeaker then i will work with you to optimize fastspeech2 + MFA + phoneme :D. @ZDisket will you try my multi-gpu trainer, hehe.

[2020-07-17 16:24] machineko commented on #107
@dathudeptrai Where u using taco2 trained on the same dataset to extract duration for FS2? Cause i heard its possible to train with just libri/lj pretrianed taco2 extraction but never try it.
Also if u have some code for multi-speaker ill love to have a look :P

[2020-07-17 16:26] ZDisket commented on #107
@dathudeptrai I only have one GPU. I'm also interested in multispeaker since I have a lot of small datasets.

[2020-07-17 16:27] dathudeptrai commented on #107
@machineko all model here already supported multi-speaker. As you can see, tacotron2 and fastspeech/fastspeech2 has speaker_ids parameters, you just need modify the data-loader to return the speaker_ids :)) that is all.

[2020-07-17 16:29] dathudeptrai commented on #107
@ZDisket that still ok, the new base trainer class can be train for both single and multigpu. BTW, i also have some modification to make mb-melgan/melgan.stft and tacotron more stable, hope you can train mb-melgan with the new version of this repo :)).

[2020-07-17 16:30] dathudeptrai commented on #86
@abylouw i will take a look this weekend :D

[2020-07-17 16:33] ZDisket commented on #107
@dathudeptrai I'll take a look at mb-melgan once I'm done training this model. I'm also impressed with the current model's ability as a universal vocoder, except for some metallic noise it does pretty well, do you think we could have a mb-melgan universal vocoder by training it on a diverse dataset like LibriSpeech downsampled to 22KHz?

[2020-07-17 16:36] machineko commented on #107
@dathudeptrai Ye i saw this, and what about duration extraction did u use taco2 pretrained on ljspeech or u train tacotron2 on new dataset first?

[2020-07-17 16:39] dathudeptrai commented on #107
@ZDisket sure :)) mb-melgan can be consider as universal vocoder, i want do this but i can't, i don't have GPU enough + disk space :D.

@machineko ofc i used tacotron-2 pretrained on ljspeech to extract duration for ljspeech and training fastspeech later. You can also use MFA to extract duration @ZDisket will make PR for that later i think :D.

[2020-07-17 16:44] machineko commented on #107
@dathudeptrai Sorry i wasn't precise, i was asking about "i tried to training with multi-speaker on my private dataset".
Cause i hear u can extract duration from taco2 pretrained on other datasets and then you can try Fastspeech on ur own dataset even without pretrained taco2

[2020-07-18 02:13] Dicksonchin93 commented on #107
just some ideas to bounce off here to get some extra oomph from LJSpeech with phoneme durations using MFA, you could round the top k values below 0.5 to the ceiling and round the bottom k values above 0.5, values above or below 0.5 are already rounded off to the bottom and ceiling respectively and you just need to tweak them a little bit. You do this only after the initial rounding and only on k n

[2020-07-18 04:49] ZDisket commented on #86
@abylouw How well does it work? Finetune or use as universal vocoder? Can you share audio samples?

[2020-07-18 05:04] manmay-nakhashi commented on #119
@dathudeptrai @ZDisket can we use CTC decoder like concept to get rid of Durations ?? :thinking:

[2020-07-18 05:05] dathudeptrai commented on #119
@manmay-nakhashi yes, any asr algorithm can be use to extract duration.

[2020-07-18 05:09] manmay-nakhashi commented on #119
@dathudeptrai so deepspeech uses CTC loss for alignment , if we use CTC loss and integrate it with fastspeech can we eliminate duration calculation step from tacotron2 ?

[2020-07-18 05:12] dathudeptrai commented on #119
@manmay-nakhashi yes, you can use MFA also, i will intergrated MFA to the repo soon

[2020-07-18 05:19] manmay-nakhashi commented on #119
@dathudeptrai sure :smile:

[2020-07-18 06:25] abylouw commented on #86
@ZDisket I want to compare fine-tuning to universal vocoder. I am not at my computer now, will share samples later

[2020-07-18 06:30] ZDisket commented on #119
@dathudeptrai

When?

[2020-07-18 07:13] janson91 commented on #107
hi,
I have another question:
when I train fastspeech2 on my own datasets with mfa and phoneme-based, I got an error like:

tensorflow.python.framework.errors_impl.InvalidArgumentError:  Incompatible shapes: [2,189,80] vs. [2,443,80]
[[node mean_absolute_error/sub (defined at examples/fastspeech2/train_fastspeech2.py:121) ]] [Op:__inference__one_step_fastspeech2_33441]

which seems that shape of my

[2020-07-18 08:12] dathudeptrai commented on #119
@ZDisket after merge multi-gpu branch. BTW, do you want to make a PR ?

[2020-07-18 14:07] ZDisket commented on #119
@dathudeptrai I will once I finish training the current model and if I like it. Keep in mind that my code is a mess and I have no idea what I'm doing 90% of the time.

[2020-07-18 14:08] ZDisket commented on #107
@janson91 That's weird. Did you run postproc.py? It should have solved all the conflicts, are you following the guide in my README?

[2020-07-18 14:38] machineko commented on #107
@ZDisket I have same problem and yes postproc didn't resolve issues with my dataset on your fork (ofc i change everything to fit my dataset), thats why i focus on rebuilding base FS2 for multi-speaker first and later debug problems with your fork.

[2020-07-18 15:50] ZDisket commented on #107
The model converged so fast I overfit it a bit, although it seems that later models have better audio quality but a bit more trouble on longer prompts. Audio samples: [20k](https://u.smutty.horse/lwbjcxaimvu.wav) [30k](https://u.smutty.horse/lwbjcxapcgs.wav) [50k](https://u.smutty.horse/lwbjcxaiupz.wav) [60k](https://u.smutty.horse/lwbjcxblejz.wav)
![evalcur](https://user-images.githubusercontent.

[2020-07-18 16:24] MODAK27 opened #121 "training FastSpeech2 on different language"
I am training FS2 on non English Dataset and i have transformed cleaners to "transcilerated_cleaners" and have also changed the valid letters used .
while Training I am incurring error , 2 possible reasons could be
1.Do i need to train my nw dataset on TAc02 for extracting durations that gets fit in FS2?
2.I need to change the valid symbols in Cleaners module?
File "/usr/local/lib/python3.6/dist-p

[2020-07-18 16:41] dathudeptrai commented on #121
@MODAK27 can you try set allow_pickle=True when using np.load ?. for example, you can replace https://github.com/TensorSpeech/TensorflowTTS/blob/master/examples/fastspeech2/fastspeech2_dataset.py#L203 to
[code]

In our preprocessing, for example here https://github.com/TensorSpeech/TensorflowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L306, we save the file with `allow_pickle=False` so everyt

[2020-07-18 16:47] dathudeptrai commented on #107
@ZDisket how about continue to training, i think everything is ok, the quality is good but i still think further training can improve quality. Here is my tensorboard for FastSpeech2 V1 (charactor-based) and as you know, the audio samples on the github.io is 150k checkpoints.

![v1](https://user-images.githubusercontent.com/43868663/87857452-f26cba80-c950-11ea-8c54-c7d87b64e88c.png)

[2020-07-18 16:54] ZDisket commented on #107
@dathudeptrai My model at 140k becomes [too unstable](https://u.smutty.horse/lwbjtwfznnb.wav) at longer prompts, that's why I limited to 60k or less.

[2020-07-18 16:56] dathudeptrai commented on #107
@ZDisket maybe phoneme overfit faster than charactor and i think the quality at 60k is good enough. But in fact, i think all TTS system use streaming mode so each chunk maybe just 5->10s so the problem about longer prompts is not a real problem in that case.

[2020-07-18 17:01] ZDisket commented on #107
@dathudeptrai So we're going to compensate for that problem by splitting up the prompts into chunks?

[2020-07-18 17:05] dathudeptrai commented on #107
@ZDisket yes, in the real production, i don't think there is a TTS system that inference whole text. They normally split the text into multiple chunk then when u are playing first chunk, you also inferencing second chunk. When you playing second chunk, you also inferencing third chunk, ...

[2020-07-18 17:15] ZDisket commented on #107
@dathudeptrai Alrighty, I'll publish the model at 140k and 60k. Also, MFA can also give alignments by words, meaning we can train a character-based model with MFA alignments too.

[2020-07-18 17:16] dathudeptrai commented on #107
@ZDisket how can we transform alignments by words to charactor ?

[2020-07-18 17:19] machineko commented on #107
@ZDisket i just change dataloader to return speaker id not many other changes outside some path fixes etc. to other things but my samples can be max (~14s len) so longer then LJ as I said ill probably debug in next few days, right now I'm training multi speaker on pure FS2 with taco2 extraction.

[2020-07-18 17:21] dathudeptrai commented on #107
@machineko in case you can't train a good FS2, pls re-train Tacotron-2 on ur dataset or use MFA to extract durations.

[2020-07-18 17:22] ZDisket commented on #107
@dathudeptrai https://github.com/ZDisket/TensorflowTTS/blob/master/examples/fastspeech2/mfa/postmfa.py#L94
According to TextGrid documentation on pip, [1] from the return is phonemes, [0] is words. So just change tg[1] to tg[0], although I'll probably implement option to use word alignments some time.

[2020-07-18 17:23] machineko commented on #107
@dathudeptrai Yes its probably true I'm just testing it (as i write earlier i saw in few places that ljspeech taco2 should be good enough for that :P)

Also, If duration, energy and f0 loss are not valid in later stages of training maybe we should change their weights in loss function later on so it won't affect loss function as much and can lead to more stable training later on.

[2020-07-18 17:25] dathudeptrai commented on #107
@ZDisket it's word aligment not charactor alignment ?

[2020-07-18 17:26] ZDisket commented on #107
@dathudeptrai Oops, I got the two mixed up.

[2020-07-18 21:13] MODAK27 commented on #121
Sir, I tried it.But it gives another error
"Converting sparse IndexedSlices to a dense Tensor of unknown shape. "
2020-07-18 21:10:57.684122: W tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1908] No (suitable) GPUs detected, skipping auto_mixed_precision graph optimizer
Traceback (most recent call last):
  File "/content/tts-replica/examples_tts/fastspeech2/train_fastspeech2.py", lin

[2020-07-18 23:18] Dicksonchin93 commented on #107
![image](https://user-images.githubusercontent.com/28866718/87863671-5a100f00-c92b-11ea-9261-b48bda5719d5.png)
this is my graphs for LJSpeech with MFA

[2020-07-18 23:44] ZDisket commented on #107
@Dicksonchin93 Cool. Got audio samples?

[2020-07-19 00:58] Dicksonchin93 commented on #107
[35k](https://drive.google.com/file/d/1vZT6LQPowcKpUndFLKKLffefqVAAuLoA/view?usp=sharing) [30k](https://drive.google.com/file/d/1YxGfEDbj8Q0hfDTfOXTLJPdad1BnaQS7/view?usp=sharing) and [20k](https://drive.google.com/file/d/1MEJ-2fRj-MOBStDUftV3zUR-Dcqkk7fZ/view?usp=sharing)

[2020-07-19 00:59] Dicksonchin93 commented on #107
it got nan losses for the mels at 37kth epoch so no examples after that, I'll be experimenting with more robust optimizers

[2020-07-19 01:02] ZDisket commented on #107
@Dicksonchin93 Those links are set to private. Set them to public so anyone who has it can see it.

[2020-07-19 01:03] Dicksonchin93 commented on #107
Done

[2020-07-19 01:07] ZDisket commented on #107
@Dicksonchin93 I like your 35k sample, it was the sweet spot according to my tensorboard but I missed it since I set it to save every 10k steps. Mind sharing the model?

[2020-07-19 01:15] Dicksonchin93 commented on #107
I can share it temporarily [here](https://drive.google.com/file/d/16szlXw-XmZPjby7Ww74v4ZUaHTGsfOw-/view?usp=sharing) , yeah with mixed precision

[2020-07-19 01:51] dathudeptrai commented on #107
@Dicksonchin93 disble mixed precision so you won't get nan :)). This is a rare case, the mixed_precision module is still experimental so it's not always work

[2020-07-19 01:56] dathudeptrai commented on #121
@MODAK27 here
[code]

That means the bug tell there is a sample that the sum(durations) != len(mel). I see many people got this bug, maybe i need to add some note on README to tell the user check the sum(duration) and len(mel) by theirself before training.

[2020-07-19 01:58] Dicksonchin93 commented on #107
makes sense, trying now @dathudeptrai thanks!

[2020-07-19 03:12] MODAK27 commented on #121
Thanx sir. Your work on improving opensource TTS is highly appreciated and I am learning a lot from you. 💯  As I have mentioned earlier,
I am training FS2 on non English Dataset and i have transformed cleaners to "transcilerated_cleaners" and have also changed the valid letters used .
while Training I am incurring error , 2 possible SOLUTIONS could be
1 I need to train my nw dataset on TAc02 for e

[2020-07-19 03:19] MODAK27 commented on #121
And I having one more concern, SInce I am running this on COlab (GPU/TPU) but stilll while training it's showing
 No (suitable) GPUs detected, skipping auto_mixed_precision graph optimizer

[2020-07-19 03:23] dathudeptrai commented on #121
@MODAK27

Yes, you need re-train tacotron-2 in ur dataset to get proper alignment or you can use MFA to extract durations.

Yes, if your dataset is non-english so you need to change the symbols by urself to match with ur target languages.

No (suitable) GPUs detected, skipping auto_mixed_precision graph optimizer

That mean the GPU of colab is not support mixed_precision, that fine.

BTW, can you