[2020-08-27 04:01] dathudeptrai commented on #210
the notebook to covert fastspeech and tacotron2 is here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/notebooks). For mb-megan you can do the same. About android example, please read code here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/android). Tacotron-2 android example is not supported yet, you can write it by urself :)). I'm not a person maintain android c

[2020-08-27 04:02] Zak-SA commented on #210
@dathudeptrai thank you so much

[2020-08-27 04:10] Zak-SA opened #228 "Android example using Tacotron2 and mb-melgan"
Will you share  android Example using Tacotron2 and MB-Melgan anytime soon?

Thanks

[2020-08-27 04:12] dathudeptrai commented on #228
@Zak-SA tacotron-2 so slow, can you try fastspeech ?

[2020-08-27 04:23] Zak-SA commented on #210
@dathudeptrai
i took quick look at the code to convert Tacotron2 to tflite, should I do the same for mb-melgan by modifing the code and replacing tacotron2 with mb-melgan in the convert step?

[2020-08-27 04:32] Zak-SA commented on #228
@dathudeptrai
I will try fastSpeech. But it would be good to have the android example for tacotron2

[2020-08-27 06:18] Zak-SA commented on #228
@dathudeptrai
When I tried to train Fastspeech2 I am getting this error:
Traceback (most recent call last):
  File "examples/fastspeech2/train_fastspeech2.py", line 400, in <module>
    main()
  File "examples/fastspeech2/train_fastspeech2.py", line 307, in main
    train_dataset = CharactorDurationF0EnergyMelDataset(
  File "./examples/fastspeech2/fastspeech2_dataset.py", line 98, in __init__

[2020-08-27 06:31] kau1992 commented on #228
@Zak-SA
Did you extract duration using MFA  or Tacotron-2  ?   For fastspeech training duration required.

Please check below link -
Extract duration from MFA  -
https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction

Extract duration from Tacotron-2
https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/tacotron2#step-4-extract-duration-from-alignments-for-f

[2020-08-27 06:32] dathudeptrai commented on #228
@Zak-SA did you read a tutorial carefully ?, did you extract duration from tacotron2 ?, the error is very clear `AssertionError: Number of charactor, mel, duration, f0 and energy files are different`, can you check it by urself ?

[2020-08-27 06:34] Zak-SA commented on #228
@dathudeptrai I will check it again, Thanks for the links

[2020-08-27 06:42] Zak-SA commented on #228
@dathudeptrai
I did extract duration when I was training using the old gpu but I didn't use the same folder, I thought it was already there but I didn't use it. thanks

and I can extract duration from any checkpoint right? I don't need the final tacotron2 model, correct?

[2020-08-27 07:01] Zak-SA commented on #228
@dathudeptrai i did extract the duration but the path was different.
I did read the tutorial carefully but after replacing the gpu I preprocessed the data again and it added the speaker name on the dump folder while the duration where in the old dump folder. That's why i got confused because i know I did extract the duration.
Thanks again for the help.

[2020-08-27 07:34] tekinek commented on #208
@dathudeptrai  sorry, but do you still have that notebook to convert weights from Kan's mb-melgan to this repo? and does it still work?

[2020-08-27 07:36] dathudeptrai commented on #208
i created pull request for that notebook a long time ago in Kan's repo. Pls try it first (https://github.com/kan-bayashi/ParallelWaveGAN/blob/master/notebooks/convert_melgan_from_pytorch_to_tensorflow.ipynb). If it didn't work, pls tell me, i will help.

[2020-08-27 07:37] #228 closed

[2020-08-27 07:38] tekinek commented on #228
@Zak-SA I think the safest and first try for duration extraction should go with Tactroton2. It needs you to train Tactron2 model first until around 60k steps:
https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/tacotron2#step-4-extract-duration-from-alignments-for-fastspeech

[2020-08-27 07:42] Zak-SA commented on #228
@tekinek thanks for your reply.  I extracted the duration earlier when I got to step 54k. I may redo it again if you believe that 60k is better. I thought it would be ok for 50k+ step.

[2020-08-27 08:01] tekinek commented on #228
@Zak-SA 54k should be enough. If the durations were extracted using Tacotron2, then your problem is more of man-made. Just double check your commands and their parameters.

[2020-08-27 08:13] Zak-SA commented on #228
@tekinek
Yes I explained above the problem. When I extracted the duration I was using my old gpu. So the folder name that contains the preprocessed data is "dump"
When i installed new gpu i decided to preprocess again but the updates added the speaker name for the dump folder, so I had two folders.  One had the old preprocessed data with duration extracted and the second one without it.

The probl

[2020-08-27 09:54] wyp1996 commented on #201
Hello. Thanks for your great work! I'm new to the TTS area and this notebook could be a good start.
However,  I gave it a try and found out the Chinese model at present doesn't make pauses. I wonder has this been one of your potential improvements yet?

[2020-08-27 11:06] billy800413 opened #229 "how to fine tune model from .h5 file"
Hi, I want to tune model from .h5 file. But I find  --resume command should input ckpt file. So do I need to transfer  .h5 to ckpt first?

[2020-08-27 14:00] Hymnhyz opened #230 "The Dimension of durations obtained by MFA is not equal to the Dimension of ids?How to solve it?"
Thank the author for u excellent work. When I trained my data set on fastspeeh2, I used MFA to get the durations, but when I trained the model, I found :
The Dimension of durations obtained by MFA is not equal to the Dimension of ids?
How to solve it?

[2020-08-27 14:04] machineko commented on #230
len of durations array or sum of durations?
If its sum of durations then just run last step from [mfa_example](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction)

[2020-08-27 14:05] machineko commented on #230
Are you where following [mfa_example](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction) tutorial?

[2020-08-27 14:31] ZDisket commented on #229
@billy800413 Please see https://github.com/TensorSpeech/TensorFlowTTS/issues/213#issuecomment-676857909

[2020-08-27 14:36] dathudeptrai commented on #201
cc: @azraelkuan

[2020-08-27 16:21] dathudeptrai commented on #229
close in #231

[2020-08-27 16:21] #229 closed

[2020-08-27 16:21] dathudeptrai commented on #213
close in #231

[2020-08-27 16:21] #213 closed

[2020-08-28 06:54] AnitaLiu98 commented on #161
Have you solved this problem?

[2020-08-28 08:28] azraelkuan commented on #201
@wyp1996 for now, we do not have a frontend model, but we have place #1,2,3,sil in the training

[2020-08-28 11:23] Zak-SA commented on #228
When I tried to convert fastspeech2 to Tflite, I got this error:

from tensorflow_tts.processor.ZAKspeech import symbols, _symbol_to_id
ImportError: cannot import name 'symbols' from 'tensorflow_tts.processor.ZAKspeech' (/home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/processor/ZAKspeech.py)

any ideas?

thanks

[2020-08-28 13:46] Zak-SA opened #234 "TypeError: Can't instantiate abstract class Processor with abstract methods setup_eos_token when conbverting Fastspeech2 to Tflite"
I tried to convert fastspeech2 to tflite, first I got this error:

from tensorflow_tts.processor.ZAKspeech import symbols, _symbol_to_id
ImportError: cannot import name 'symbols' from 'tensorflow_tts.processor.ZAKspeech' (/home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/processor/ZAKspeech.py)

and I solved it by adding import ZAKSPEECH_SYMBOLS as symbols. but had the issue with _symbol_t

[2020-08-28 13:55] Zak-SA commented on #234
above problem solved by modifying my processor

[2020-08-28 14:02] Zak-SA commented on #234
after fixing the above issue I am getting this error, I will try to debug it but if anyone have a suggestion it would be appreciated :
processor = ZAKSpeechProcessor(None, "arabic_cleaners")
  File "<string>", line 15, in __init__
  File "/home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/processor/base_processor.py", line 69, in __post_init__
    self.add_symbol(
  File "/home/zak/venv/lib

[2020-08-28 17:33] machineko commented on #234
At first it looks like you are overwriting [symbols](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/processor/base_processor.py#L32) so it is not list of symbols but just a string check if its true.

If not send a minimal code example, so I can follow this later.

[2020-08-28 17:36] tekinek commented on #234
@Zak-SA
It is likely the symbols in your custom processor was not exported as list but a str. In case of LJSpeech processor,  the code blow combines all the supported symbols into a list variable, `LJSPEECH_SYMBOLS`, which is referenced by `self.symbols`.

Your error message says `self.symbols `is a `str` but not a `list`, so the underlying cause might be your corresponding `YOUR_SYMBOLS` is a `st

[2020-08-28 17:44] Zak-SA commented on #234
@tekinek
@machineko
my processor is almost exactly same as LJSpeech processor (except the letters)

[2020-08-28 19:30] Zak-SA opened #235 "Android Example"
When I import the android example to Android studio I get successful build but I get this error:

2020-08-28 15:19:46.261 7907-7932/com.tensorspeech.tensorflowtts A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0xfffffff4 in tid 7932 (init-21), pid 7907 (h.tensorflowtts)

any Ideas?

Thanks

[2020-08-28 20:24] machineko commented on #234
Again if u show us minimal code example we can follow your process else i can't help you

[2020-08-28 22:57] ZDisket commented on #194
I also have NaNs when finetuning Tacotron2, happens randomly in my Spanish single-speaker dataset I'm trying to train, but 100% of the when it's any of my multispeaker datasets.

[2020-08-29 01:11] Zak-SA commented on #234
This is the code I am using to Inference from TFlite:

import numpy as np
import yaml
import tensorflow as tf

from tensorflow_tts.processor import ZAKSpeechProcessor
from tensorflow_tts.processor.ZAKspeech import ZAKSPEECH_SYMBOLS

from tensorflow_tts.configs import FastSpeechConfig, FastSpeech2Config
from tensorflow_tts.configs import MultiBandMelGANGeneratorConfig

from tensorflow_tts.models im

[2020-08-29 02:20] Zak-SA commented on #235
Problem solved.

[2020-08-29 02:20] #235 closed

[2020-08-29 07:25] jinfagang commented on #201
@dathudeptrai Does it already in master branch for support?

[2020-08-29 07:51] dathudeptrai commented on #201
@jinfagang everything is on master branch.

[2020-08-29 14:48] machineko commented on #234
@Zak-SA If you want help you need to send your processor class and how you create it cause this is the problem not your TFlite conversion code.

[2020-08-29 15:15] ZDisket commented on #234
@Zak-SA The error code contains a clue (I experienced it too)

Add a complete definition of `setup_eos_token `to your preprocessor like this (or return `None `if you don't use)
https://github.com/TensorSpeech/TensorFlowTTS/blob/0f02377f679d176ce1223c4c41750985d2d4e8c5/tensorflow_tts/processor/ljspeech.py#L158-L159

[2020-08-29 15:59] Zak-SA commented on #234
@ZDisket
I already fixed the eos issue as I mentioned earlier, my current problem is with
AttributeError: 'str' object has no attribute 'append'

@machineko

the processor is same as LjSpeech

import os
import re

import numpy as np
import soundfile as sf
from dataclasses import dataclass
from tensorflow_tts.processor import BaseProcessor
from tensorflow_tts.utils import cleaners

valid_symbols =

[2020-08-29 16:11] ZDisket commented on #234
@Zak-SA
[code]
Have you tried wrapping `_arpabet` in list like this?
[code]

[2020-08-29 16:36] Zak-SA commented on #234
@ZDisket I will try it now. Thanks

[2020-08-29 16:51] Zak-SA commented on #234
@ZDisket Same error
Traceback (most recent call last):
  File "ionference_tflite.py", line 76, in <module>
    decoder_output_tflite, mel_output_tflite = infer(input_text)
  File "ionference_tflite.py", line 39, in infer
    processor = ZAKSpeechProcessor(None, "arabic_cleaners")
  File "<string>", line 15, in __init__
  File "/home/zak/venv/lib/python3.8/site-packages/tensorflow_tts/processor/bas

[2020-08-29 16:54] dathudeptrai commented on #234
@Zak-SA after create ur processor, can you print (processor.symbols) and pass it here ?

[2020-08-29 17:08] Zak-SA commented on #234
@dathudeptrai sorry for the stupid question, but how to do so? the only output I have is the mapper

[2020-08-29 17:13] dathudeptrai commented on #234
[code]

[2020-08-29 17:23] Zak-SA commented on #234
@dathudeptrai got it. Will print it and share it here. Thanks

[2020-08-29 17:34] machineko commented on #234
You have a bug in creating symbols you never pass them to the class and dont load them from a file
your code
[code]

[2020-08-29 17:42] Zak-SA commented on #234
@machineko that worked, the append to str error is gone, now I am getting a different error

RuntimeError: tensorflow/lite/kernels/reshape.cc:55 stretch_dim != -1 (0 != -1)Node number 83 (RESHAPE) failed to prepare.

[2020-08-29 17:46] machineko commented on #234
@Zak-SA Nice i'm not sure about other errors as I don't write TFLite code (@dathudeptrai) but you should ask this question in another issue and close this so people will find response for same problems easier :)

[2020-08-29 17:48] dathudeptrai commented on #234
can you create a new issue, if you can, please provide us ur colab to reproduce ur bug :)).

[2020-08-29 17:56] Zak-SA commented on #234
@dathudeptrai I will, thanks to everyone here for all the help, you are doing a great job. The synthesis results are amazing and probable the best quality Ive ever heard.

I have two more steps to get great TTS, verify the conversion to TFlite and use the existing Android samply to build the android APK.
wouldn't get this far without all of you guys helping.

:+1:

[2020-08-29 18:03] Zak-SA opened #237 "RuntimeError when trying to inference From TFlite for Fastspeech2"
Hi,
So I converted Fastspeech2 model to TFlite, when I tried to inference from TFlite I am getting this error

decoder_output_tflite, mel_output_tflite = infer(input_text)
interpreter.invoke()
File "/home/zak/venv/lib/python3.8/site-packages/tensorflow/lite/python/interpreter.py", line 539, in invoke
    self._interpreter.Invoke()
RuntimeError: tensorflow/lite/kernels/reshape.cc:55 stretch_dim !=

[2020-08-29 18:03] dathudeptrai commented on #234
so let give us a star and share our work with ur friends :)).

BTW, i'm not a person write tflite code or android sample :). other contributor did it :)), i do not know if i can help you but i will try :)).

[2020-08-29 18:04] #234 closed

[2020-08-29 18:09] Zak-SA commented on #234
@dathudeptrai you are definitely getting many stars from me. I am recommending your work to organizations and many linguistic professionals who already admiring your work.
Keep the great work. 👍

[2020-08-29 18:20] Zak-SA commented on #237
And one more question (or request): can you please share the code and the process to convert mb-melgan to TFlite?
Thanks

[2020-08-30 04:55] jinfagang commented on #201
@dathudeptrai Any readme on how to train on Biaobei data?

[2020-08-30 05:21] azraelkuan commented on #201
@jinfagang jsut download biaobei data and extract it to `baker`
[code]

[2020-08-30 07:03] Joovvhan commented on #183
Thanks, I will try that and update my review page.

BTW, I applied [G2PK](https://github.com/Kyubyong/g2pK), Korean grapheme to phoneme conversion package, and improved the quality of the GlowTTS.

[GlowTTS without G2PK](https://joovvhan.github.io/glow-tts-demo-korean-mb-melgan/)
[GlowTTS with G2PK](https://joovvhan.github.io/glow-tts-demo-korean-mb-melgan-g2pk/)

Did your FS2 also use such a modu

[2020-08-30 07:10] dathudeptrai commented on #183
Thank you for ur infomation. I do not know the korean language so i can't support more :D. The korean model here is supported by @crux153 :))). I appreciate if someone can make a pull request to improve a base model :D

[2020-08-30 09:24] Joovvhan commented on #183
Thanks for the quick reply.

I will look through your source code and ask @crux153 by myself.

Thanks!

[2020-08-31 03:20] rgzn-aiyun commented on #216
@dathudeptrai
How does C++ reasoning compare to python's speed?

[2020-08-31 04:12] ZDisket commented on #216
@rgzn-aiyun I never tested C++ inference outside of my local machine (and a Windows Server 2012 VPS) and neither did I test Python from outside Colab. But my semi-informed estimation is that it'll be roughly equal. The resource demanding parts are in the model inference which already kinda runs on C++ under the hood, just nicely wrapped in Python code.

[2020-08-31 06:47] kau1992 opened #238 "Inference error - Fastspeech2 + MB MelGAN"
I got below error when run End-to-End Examples (inference).

Traceback (most recent call last):
  File "inference.py", line 15, in <module>
    pretrained_path="./examples/fastspeech2/exp/train.fastspeech2.v1/checkpoints/model-200000.h5"
  File "/home/t3610n2/TensorFlowTTS/tensorflow_tts/inference/auto_model.py", line 69, in from_pretrained
    model.load_weights(pretrained_path)
  File "/home/t36

[2020-08-31 07:23] dathudeptrai commented on #238
@kau1992 can you check ur "dataset" paramter in config ?. See the code here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/configs/fastspeech.py#L89-L98). Seem there is a mismatch between training config and inference :)). 149 is len(ljspeech_symbols)

[2020-08-31 07:36] ayush9096 commented on #39
I am also interested. You can count me in.

[2020-08-31 08:02] rgzn-aiyun commented on #216
C++ has higher requirements for the system environment. If the speed is similar, then python is used for reasoning.

[2020-08-31 09:30] manmay-nakhashi commented on #237
@Zak-SA  https://github.com/tensorflow/tensorflow/issues/40504

[2020-08-31 10:07] tekinek commented on #208
Hi @dathudeptrai
I've tried this notebook to convert Kan's mb-melgan. But I see that converted tensorflow model does not match the original one, and synthesized speech (mel is from my Tac2 and FS2) is nothing but a noise.

<img width="590" alt="2020-08-3117 52 51" src="https://user-images.githubusercontent.com/68597606/91708245-a51c7380-ebb3-11ea-85fc-3f25e01f4244.png">

<img width="703" alt="2020

[2020-08-31 10:09] dathudeptrai commented on #208
give me a colab.

[2020-08-31 10:11] tekinek commented on #208
@dathudeptrai  sorry, here I cannot access colab:(

[2020-08-31 10:11] dathudeptrai commented on #203
this bug is because in the duration, there is zero value :))). So, the condition is not >=0, it should be > 0.

[2020-08-31 10:12] dathudeptrai commented on #208
so let give me a notebook :)).

[2020-08-31 10:44] tekinek commented on #208
@dathudeptrai please check your e-mail.

[2020-08-31 10:55] dathudeptrai commented on #208
sorry, did you send "nguyenquananhminh@gmail.com" ?

[2020-08-31 10:57] tekinek commented on #208
@dathudeptrai yes, got it from repo page.

[2020-08-31 11:24] dathudeptrai commented on #208
Can you re send ?

[2020-08-31 12:08] DanBigioi opened #239 "Plans to implement Fast Speech 2S?"
Hey guys,

Just wondering whether you are planning on implementing the fully end to end Fast Speech 2S version of the model as detailed in the paper: https://arxiv.org/pdf/2006.04558.pdf

[2020-08-31 16:46] poria-cat opened #240 "Error when transfering fastspeech2"
Thank you for providing such a shocking framework, my work can be reduced a lot. 😊
I got duration data with tacotron pretrained model, when I transfering fastspeech2 with new data, I get it:
[code]

[2020-08-31 17:00] dathudeptrai commented on #240
@poria-cat training from scratch is still ok ?

[2020-08-31 17:14] ZDisket commented on #216
@rgzn-aiyun

I don't know where you got that from? Python inference has all the overhead from the interpreter + all the dependencies (NumPy, Tensorflow, etc...) required to run, 2GB of disk space min. Native C++ inference, at least on Windows, only requires a single 100MB DLL; on Ubuntu, that's 200MB of shared libraries. It's way more convenient and lightweight.

[2020-09-01 00:55] poria-cat commented on #240
Yes, I can training from scatch 🙊

[2020-09-01 01:43] MachineLP opened #241 "How to export .h5 to .pb ？"

[2020-09-01 07:38] MariaMsu commented on #241
Maybe [this jupyter](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/fastspeech2_inference.ipynb) [Save to Pb] will be helpfull

[2020-09-01 07:39] dathudeptrai commented on #239
@DanBigioi  i implemented it before and saw the performance is the same as 2 stages FastSpeech + mb-melgan but hard to training so i do not want to public it.

[2020-09-01 07:40] dathudeptrai commented on #241
@MachineLP https://github.com/TensorSpeech/TensorFlowTTS/tree/master/notebooks

[2020-09-01 08:50] tekinek commented on #240
@poria-cat

These numbers remind me below, but not sure if they are relevant.

[fastspeech2.v1.yaml](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/conf/fastspeech2.v1.yaml):
 decoder_hidden_size: 384

[fastspeech2.v2.yaml](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/conf/fastspeech2.v2.yaml):
 decoder_hidden_size: 256

So, are you

[2020-09-01 09:19] poria-cat commented on #240
so cool😋! The reason for the problem is really that I used the v1 configuration file, thank you very much! I can close this issue✅

[2020-09-01 09:19] #240 closed

[2020-09-01 09:52] unparalleled-ysj opened #242 "data loading error"
Hi, when I update lasted When I pulled the latest code (two hours ago), a data loading error occurred during training fastspeech2

[train]:   0%|                                                                                                                                                                                     | 0/200000 [00:00<?, ?it/s]2020-09-01 17:49:00.134586: I tensorflow/core/g

[2020-09-01 09:58] dathudeptrai commented on #242
i think the bug come from (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/fastspeech2_dataset.py#L160-L161). That mean there are some samples that duration/ids file has dtype = int64 rather than int32. I think you should iterate ur dataset and run the code above to check what sample cause this error.

[2020-09-01 10:09] unparalleled-ysj commented on #242
@dathudeptrai Okay, but when using the original data loading method, the model can be trained correctly

[2020-09-01 12:18] gbaian10 commented on #203
@dathudeptrai If my sum(duration) != len(mel),how can I fix it?
I use LJSpeech and your Tacotron2 Extract duration from Googledrive

[2020-09-01 12:36] MachineLP commented on #241
Thanks

[2020-09-01 12:36] MachineLP commented on #241
Thanks

[2020-09-01 12:37] #241 closed

[2020-09-01 13:48] manmay-nakhashi commented on #239
@dathudeptrai shouldn't it be easy as it is direct text to waveform generation ?

[2020-09-01 14:53] machineko commented on #239
@manmay-nakhashi Why should it be easy to train, its 2 models converted to one ofc. It would be harder to train you can look at 3.2.3 Ablation Study and see 2s version is very fragile and changes in energy and pitch can decrease quality very easily compared to 2 stage version.

[2020-09-01 14:55] machineko commented on #203
@gbaian10 Just pad data our change duration value of the last duration token to match len(mel)

[2020-09-01 15:15] gbaian10 commented on #203
@machineko I don't know how to do it, but I found that their length is only difference 1

[2020-09-01 15:18] machineko commented on #203
@gbaian10 add +1 to last element in duration array or just follow https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/mfa_extraction/fix_mismatch.py

[2020-09-01 15:20] gbaian10 commented on #203
+1 any element?

[2020-09-01 15:21] machineko commented on #203
@gbaian10 yes u can add it to any element

[2020-09-02 07:40] mychiux413 commented on #143
ASR dataset doesn't work, I have already tried ASR dataset (English/Mandarin) with tacotron2, the outputs are full of glitches.

To prove that the multi-lingual is trainable,
I'm experimenting tacotron2 with a dataset,
which was all generated by Google Speech Synthesis (`Speaker: cmn-TW-Wavenet-A`) in languages: Mandarin(90%) + English(10%),
I used this dataset to simulate the condition: `single s

[2020-09-02 09:30] Hymnhyz commented on #230
Thanks for the reply, I solved this problem by commenting out TensorFlowTTS/preprocess/XXX_preprocess.yaml # trim_mfa: true

[2020-09-02 09:30] #54 closed

[2020-09-02 09:31] dathudeptrai commented on #121
The repo now support three languages so i think you have an answer already, closed.

[2020-09-02 09:31] #121 closed

[2020-09-02 09:33] #134 closed

[2020-09-02 09:33] #135 closed

[2020-09-02 09:33] #140 closed

[2020-09-02 09:34] dathudeptrai commented on #142
the root of this problem is already know, i will close.

[2020-09-02 09:34] #142 closed

[2020-09-02 09:35] dathudeptrai commented on #149
close because inactivity.

[2020-09-02 09:35] #149 closed

[2020-09-02 09:36] dathudeptrai commented on #151
close because inactivity, fell free to re-open or create new issue.

[2020-09-02 09:36] #151 closed

[2020-09-02 09:36] dathudeptrai commented on #152
close because inactivity, fell free to re-open or create new issue.

[2020-09-02 09:36] #152 closed

[2020-09-02 09:37] dathudeptrai commented on #157
close because inactivity, fell free to re-open or create new issue.

[2020-09-02 09:37] #157 closed

[2020-09-02 09:37] dathudeptrai commented on #158
close because inactivity, fell free to re-open or create new issue.

[2020-09-02 09:37] #158 closed

[2020-09-02 09:37] #160 closed

[2020-09-02 09:38] dathudeptrai commented on #180
close because inactivity, fell free to re-open or create new issue.

[2020-09-02 09:38] #180 closed

[2020-09-02 09:38] Hymnhyz opened #243 "How should the text be processed during fastspeech2 inference?"
Thank you for your excellent work. I am facing a problem that is how to deal with the text when fastspeech2 reasoning. I think that g2p is used in the code to give the result directly, but the pause of the phoneme obtained by MFA is different from that obtained by g2p. How to get the input similar to the training set during inference?

[2020-09-02 09:39] dathudeptrai commented on #182
the problem is solved, i will close.

[2020-09-02 09:39] #182 closed

[2020-09-02 09:39] dathudeptrai commented on #230
@Hymnhyz let close if the issue is solved.

[2020-09-02 09:45] #230 closed

[2020-09-02 09:45] dathudeptrai commented on #239
as i said, i do not see any improvement when my fastspeech2s convergence (interms of both speed and quality) but i saw that it's very hard to training (hardest model i have ever trained). i won't public it in the near future.

[2020-09-02 09:45] #239 closed

[2020-09-02 09:47] #189 closed

[2020-09-02 09:49] dathudeptrai commented on #242
@unparalleled-ysj did you use MFA to extract durations ?, this commit may help (https://github.com/TensorSpeech/TensorFlowTTS/commit/3fe53a21fa2e209da5743ad6794731081fb39175)

[2020-09-02 10:10] unparalleled-ysj commented on #242
@dathudeptrai yes, I am use MFA to extract durations, this commit solve my problem , thanks again

[2020-09-02 10:24] machineko commented on #243
I mean g2p shouldn't add any pauses its just in my example code i add pause to end of every word for test purposes.
If you want to don't have SIL tokens after every word just change ->

[code]

to
[code]

[2020-09-02 10:30] machineko commented on #243
And for MFA phonemes and durations -> Silence is extracted from audio not from tokens so you can't follow that up in your code just from text you can mimic it using averages if you wanna.

[2020-09-02 11:52] gbaian10 commented on #203
@dathudeptrai
Include ndim 0?  I have run "fix_mismatch.py"

I checked all the duration files with sum(duration) == len(mel)
I downloaded your duration file.
"fix_mismatch.py"  fixed the last ndim +1. But ndim 0 is still 0.

[2020-09-02 14:05] dathudeptrai commented on #203
can you pass ur sample .npy that include zero value here ?

[2020-09-02 15:05] dathudeptrai commented on #203
just pass a numpy array to here (print it and pass here)

[2020-09-02 16:02] gbaian10 commented on #203
array([ 1,  5,  4,  6,  7,  6, 15,  3,  9, 18,  2,  8,  1,  2,  2,  3,  5,
        7,  8,  6,  4,  5,  8,  9, 13,  4,  3,  4,  3,  4,  2,  2,  4,  2,
        2,  4,  7,  3,  3,  4,  5,  5,  4,  5,  5,  3,  4,  5,  3,  5,  2,
        7,  5,  6,  5,  2,  2,  6,  1,  7,  7, 13,  8,  8,  5,  7, 10, 20,
       11,  6,  4,  3,  3, 13,  6,  9, 10,  4,  4,  2,  3,  7,  9,  9,  7,
        5,  3,  4,  6,  6

[2020-09-02 16:07] tekinek commented on #243
@Hymnhyz  Have you already trained a Fastspeech2 or just have done MFA alignment?

It is difficult to do an exact match, because what MFA thinks is a SIL might not be a SIL in your text or vice verse. But you can keep punctuation (such as ", : ; ?") in your text as a SIL during g2p for inference, so that the model possibly generates a short break accordingly.

[2020-09-02 16:27] ZDisket commented on #243
@Hymnhyz You go through the g2p output and build a new array, replacing punctuation with silence like this:
https://github.com/ZDisket/TensorflowTTS/blob/3471204ceca2ca823f319e50b4dea696ec381d31/tensorflow_tts/processor/ljspeech.py#L235-L252

[2020-09-03 01:47] unparalleled-ysj commented on #242
@dathudeptrai The voice generated by the model trained with the latest code in the inference process has noise at the end, which seems to be the inaccurate removal of the padding value.

![1](https://user-images.githubusercontent.com/39238619/92061803-c656ad00-edc9-11ea-86cc-4514a1a47dfe.png)
<img width="619" alt="截屏2020-09-03 上午9 44 15" src="https://user-images.githubusercontent.com/39238619/9206

[2020-09-03 04:17] l4zyf9x commented on #143
@mychiux413 You mention Google Speech Synthesis. is it this one [google-tts](https://cloud.google.com/text-to-speech). I just synthesize some random English sentences with speaker cmn-TW-Wavenet-A from this page. Chinese-speak-English Audio is audible but has a quality not good as Chinese-speak-Chinese. I think it may be the reason.
Besides the dataset problem, do you try to add language embedding

[2020-09-03 04:24] unparalleled-ysj commented on #242
@dathudeptrai sorry, is my duration file padding error, btw there is not need sum(duration) == len(mel) now? and any suggestions on the problem of disorder when synthesizing speech longer than 10s is appreciated

[2020-09-03 04:59] dathudeptrai commented on #242
that is based on ur mel length in training set. As you see, ljspeech is fine, i think the dataset need some samples that its length is around 14-15s so the model can be synthesize long sentences. You can create long sample by concat on short samples or mix other datasets and training together :).

[2020-09-03 06:25] unparalleled-ysj commented on #242
okay, thanks

[2020-09-03 06:25] #242 closed

[2020-09-03 09:56] gbaian10 commented on #203
In 12445 training data, there are a total of 7237 files have zero value.

[2020-09-03 10:01] dathudeptrai commented on #203
@gbaian10 can you pass the error when you training fs ?

[2020-09-03 10:05] dathudeptrai commented on #203
@gbaian10 sorry, i think everything is ok, even the duration of some charator is zero, the shape is still match :)).

[2020-09-03 10:08] #203 closed

[2020-09-03 10:10] #217 closed

[2020-09-03 10:10] #205 closed

[2020-09-03 10:10] #156 closed

[2020-09-03 10:11] #192 closed

[2020-09-03 10:11] dathudeptrai commented on #195
close because inactivity.

[2020-09-03 10:11] #195 closed

[2020-09-03 10:11] dathudeptrai commented on #193
close because inactivity.

[2020-09-03 10:11] #193 closed

[2020-09-03 10:14] #226 closed

[2020-09-03 10:14] dathudeptrai commented on #194
@unparalleled-ysj is this problem still ur problem ?

[2020-09-03 11:15] gbaian10 opened #244 "FastSpeech2 train error"
I have run "fix_mismatch.py"
I checked all the duration files with sum(duration) == len(mel)

root@275f4d711e01:/workspace# python examples/fastspeech2/train_fastspeech2.py --train-dir ./dump_ljspeech/train/ --dev-dir ./dump_ljspeech/valid/ --outdir ./examples/fastspeech2/exp/train.fastspeech2.v1/ --config ./examples/fastspeech2/conf/fastspeech2.v1.yaml --use-norm 1 --f0-stat ./dump_ljspeech/stats

[2020-09-03 11:27] dathudeptrai commented on #244
@gbaian10 can you also check len(charactor_id) == len(duration) == len(f0) == len(ẻnergy) ?

[2020-09-03 11:45] gbaian10 commented on #244
I insert the code( **assert len(charactor) == len(f0) == len(energy)** ) here
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2/fastspeech2_dataset.py#L173

root@275f4d711e01:/workspace# python examples/fastspeech2/train_fastspeech2.py --train-dir ./dump_ljspeech/train/ --dev-dir ./dump_ljspeech/valid/ --outdir ./examples/fastspeech2/exp/train.fastspeech2.v1/ --config

[2020-09-03 11:55] dathudeptrai commented on #244
@gbaian10 no, let check by simple for loop in separate python file.

[2020-09-03 12:28] gbaian10 commented on #244
like this?
`ids = np.load("ids/LJ001-0001-ids.npy")
len(ids)
np.sum(np.load("fix_dur/LJ001-0001-durations.npy"))
energy = np.load("raw-energies/LJ001-0001-raw-energy.npy")
len(energy)
f0 = np.load("raw-f0/LJ001-0001-raw-f0.npy")
len(f0)`

len(duration) == len(f0) == len(ẻnergy) but !=len(charactor_id)

[2020-09-03 12:31] dathudeptrai commented on #244
yes :). I will also make some functions to check, but now let check by urself.

[2020-09-03 12:39] gbaian10 commented on #244
These data come from Preprocessing.

`tensorflow-tts-preprocess --rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech`
`tensorflow-tts-normalize --rootdir ./dump_ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech`

I don't know how to fix it.

[2020-09-03 12:49] dathudeptrai commented on #244
let check first and see how many samples that don't satisfy the above condition.

[2020-09-03 13:35] gbaian10 commented on #244
All LJspeech train data are **len(duration) == len(f0) == len(ẻnergy) but != len(charactor_id)**

[2020-09-03 13:42] dathudeptrai commented on #244
@gbaian10 are u using latest code ?. U extract duration from tacotron2 or mfa?

[2020-09-03 14:05] gbaian10 commented on #244
I download the cord on 9/1. I use duration from your [GoogleDrive](https://drive.google.com/drive/u/0/folders/1kaPXRdLg9gZrll9KtvH3-feOBMM8sn3_)

[2020-09-03 14:20] dathudeptrai commented on #244
@gbaian10 ok i know the problem now. The durations that i extracted before and uploaded on google drive is old version, i will update it in this week. TO solve this problem right now, you can follow (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/tacotron2#step-4-extract-duration-from-alignments-for-fastspeech) to extract duration by urself based on pretrained model here (https

[2020-09-03 14:43] gbaian10 commented on #244
So does the problem ( **len(duration) == len(f0) == len(ẻnergy)  != len(charactor_id)** ) still need to be solved?

[2020-09-03 14:48] dathudeptrai commented on #244
@gbaian10 after extract duration by urself, the training will be ok. :D

[2020-09-03 17:17] mihaibf commented on #244
Hi, @dathudeptrai
I have tried to run fastspeech2 code today as well and got the same error as @gbaian10. I am training on LJSpeech data and I have used MFA to extract durations. Also I run python examples/mfa_extraction/fix_mismatch.py to get fix_durations. The version of code I am using is the one from 28th of August.
The error I get is:

2020-09-04 02:10:52.201492: I tensorflow/core/kernels/dat

[2020-09-03 17:30] ZDisket commented on #244
@mihaibf Can you `np.load` an -ids, -norm-feats, and -durations file (from dump/train or valid) and print it here?

[2020-09-03 17:49] gbaian10 commented on #244
I use your docker.And my Tacotron2 can be trained normally.
But I run "extract_duration.py" get error.
Details as follows：

root@275f4d711e01:/workspace# python examples/tacotron2/extract_duration.py \

2020-09-03 17:44:51.852253: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2020-09-03 17:44:51.880561: I tensorflow/stream_executor

[2020-09-03 17:55] mihaibf commented on #244
@ZDisket These are the results for the first file ids/LJ001-0001-ids.npy.

ids are:
[ 53  55  46  51  57  46  51  44   6  11  46  51  11  57  45  42  11  52
  51  49  62  11  56  42  51  56  42  11  60  46  57  45  11  60  45  46
  40  45  11  60  42  11  38  55  42  11  38  57  11  53  55  42  56  42
  51  57  11  40  52  51  40  42  55  51  42  41   6  11  41  46  43  43
  42  55  56  11  43  55

[2020-09-03 17:57] ZDisket commented on #244
@mihaibf Try printing the durations here.

[2020-09-03 18:12] mihaibf commented on #244
Durations are:
[ 3 3 10 3 5 14 21 10 12 5 3 10 9 8 3 9 14 10 8 9 4 3 5 3
5 8 9 5 9 9 7 4 9 3 3 6 7 3 3 8 4 4 6 11 22 5 7 36
7 6 9 14 18 3 5 3 3 9 5 15 9 6 3 9 7 9 9 3 3 3 7 24
5 5 8 8 4 9 5 4 3 3 10 3 14 9 6 8 9 4 7 3 3 9 4 3
6 4 4 15 3 3 9 5 8 7 4 6 9 9 6 22]

[2020-09-03 18:42] mihaibf commented on #244
@ZDisket  Do you get same ids and duration values for LJ001-0001-ids.npy?

[2020-09-03 18:54] ZDisket commented on #244
@mihaibf Your durations are way less than the ids. I don't know why since I haven't specifically inspected this implementation's MFA code, but maybe [mine](https://github.com/ZDisket/TensorflowTTS/tree/master/examples/fastspeech2/mfa) can work for you.

[2020-09-03 19:37] mihaibf commented on #244
@ZDisket Thanks, I'll try yours to see if it works. I used this MFA link when processing the data [mfa_example](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction). The example seems to be tailored for LibriTTS. What I did was to change LibriTTS parameters to LJSpeech parameters. The default LibriSpeech phoneme set is different from the LibriTTS one, maybe that's cau

[2020-09-03 19:45] mihaibf commented on #244
Hi @ZDisket , Thanks, I 'll try your code. I followed the steps suggested in the following link to pre-process the data [mfa_example](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction). The example in the link seems to be tailored for LibriTTS. What I did was to change the parameters and config files from LibriTTS to LJSpeech ones. Also, I see that the default phone

[2020-09-04 01:14] Hymnhyz commented on #243
@tekinek  Ihave already trained a Fastspeech2 with MFA. When inferring, I used custom rules to segment the input text. I processed punctuation and some conjunctions. Am I doing this right? But this kind of rule needs to be carefully compiled, otherwise it may be very different from the input of MFA.

[2020-09-04 01:19] Hymnhyz commented on #243
@ZDisket Thank you for your suggestion!

[2020-09-04 01:31] Hymnhyz commented on #243
@machineko Can fastspeech2 be improved for each speaker, the model knows where to segment the input text? MFA changed the input of fastspeeh2 into an unpunctuated but silent phoneme style. The reasoning uses plain text with punctuation marks, and only uses punctuation marks as @SIL. Will the intonation and prosody model be learned automatically?

[2020-09-04 01:38] dathudeptrai commented on #244
this is a bug related with ur gpu/cudnn, not related with my code. is ur GPU clear ? or there is other process is using ur GPU ?

[2020-09-04 01:42] gbaian10 commented on #244
No, I don't have other programs that are using GPU, I use your docker environment.

[2020-09-04 01:45] dathudeptrai commented on #244
can you share ur `train.txt` after ran mfa_extraction ?

[2020-09-04 01:49] dathudeptrai commented on #244
the bug shows that:
[code]

there is something wrong with ur cuddn or gpu, hmmm. When you extract durations, is ur gpu's memory increase ?

[2020-09-04 02:10] gbaian10 commented on #244
It succeeded, thanks
But these durations still have zero values

[2020-09-04 02:41] dathudeptrai commented on #244
zero is not a problem, sorry because this confuse :)). Let try to train

[2020-09-04 03:40] tienanh-1999 opened #245 "Error when inference FastSpeech 2"
When I run these following code
![image](https://user-images.githubusercontent.com/47650134/92196859-6845ca80-ee9a-11ea-8e0b-a353a8a22eb1.png)

I got an error
![image](https://user-images.githubusercontent.com/47650134/92196906-7f84b800-ee9a-11ea-8aaf-be249aec746e.png)

The config is unchanged when training and inference.
Thank you !

[2020-09-04 03:45] unparalleled-ysj commented on #194
@dathudeptrai I did not try tacotron2 fine-tune again, now I use MFA to extract durations

[2020-09-04 03:45] #194 closed

[2020-09-04 03:46] dathudeptrai commented on #245
if you want to load weight you need set is_build=True. If you set is_build=false then you need inference the model by passing fake input then load_weight.

[2020-09-04 03:48] tienanh-1999 commented on #245
Thank you !

[2020-09-04 03:50] dathudeptrai commented on #245
I will close since this is not a bug. BTW, since you are a vietnamese, i need you read license before decide use this framework :)). (https://github.com/TensorSpeech/TensorFlowTTS#license)

[2020-09-04 03:50] #245 closed

[2020-09-04 04:38] manmay-nakhashi commented on #237
@Zak-SA if you are using nightly version convert your model using 2.4.0-dev20200630 and you can run it or you can use 2.3.0 for stable version. for running and converting tflite graph

[2020-09-04 05:51] ayush9096 opened #246 "Pruning for Mb-MelGAN"
Hi all,
Can you guys help me, how I can apply pruning to  the mb-MelGAN network. I want to do a channel based pruning for fast inference.

[2020-09-04 08:17] gbaian10 commented on #244
It successfully started training.
Thank you!

[2020-09-04 08:17] #244 closed

[2020-09-04 08:19] dathudeptrai commented on #246
@ayush9096 https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras. Maybe you júst need wrap whole model by tfmot.sparsity.keras.prune_low_magnitude.

[2020-09-04 08:44] tienanh-1999 opened #247 "Problem when training Multiband MelGAN"
Some early steps, it is okay
![1](https://user-images.githubusercontent.com/47650134/92219259-858f8e80-eec4-11ea-8d28-dd6f097ab407.png)
![9](https://user-images.githubusercontent.com/47650134/92219401-b8398700-eec4-11ea-8c63-c3be313e56f8.png)

After that, I got a problem
![1](https://user-images.githubusercontent.com/47650134/92219466-cdaeb100-eec4-11ea-9d7f-f940f04687ac.png)
![1](https://user-ima

[2020-09-04 08:52] dathudeptrai commented on #247
@tienanh-1999 try https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/multiband_pwgan instead.

[2020-09-04 08:56] dathudeptrai commented on #247
[code]

try this. Let read the loss function here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/train_multiband_melgan.py#L109)

[2020-09-04 09:14] tienanh-1999 commented on #247
thank you, I will try this !

[2020-09-04 10:49] mihaibf commented on #244
Hi @dathudeptrai  What seems to have happened is that my Durations is based on the phoneme representation of my input, while the input ids correspond to the character level representation of my input. So I need to figure out why my ids are mapped to characters rather than phonemes. Also, for reference, one sample of my train.txt looks like:
wavs/LJ001-0001|P R IH1 N T IH0 NG SIL IH1 N DH IY0 OW1 N

[2020-09-04 11:26] dathudeptrai commented on #244
@mihaibf you need write a new LJSpeechProcessor like LibriTTSProcessor (https://github.com/TensorSpeech/TensorFlowTTS/blob/9d88e3952aac6ea15e5db8aed4712246cbc758af/tensorflow_tts/processor/libritts.py#L41). Because the Ljspeechprocessor in this repo will use charactor rather than phoneme. I think there is no bug here, just ur confuse or misunderstanding the framework :D. Let read LibriTTSProcessor

[2020-09-04 13:04] IreneZhou2018 commented on #201
@azraelkuan  As I know  the sampling rate of the audio in the Biaobei dataset is 48k, but in the baker_preprocess.yaml the sampling rate is set as 24k.  I didn't try the preprocess. Is that a mistake or I misunderstand the code?

[2020-09-04 13:13] aitalk opened #248 "Building TensorflowTTS C++ Inference on mac osx"
does anyone have instruction on how to build TensorflowTTS C++ Inference on mac machine? Thanks.

[2020-09-04 13:25] aitalk commented on #216
Any instructions on how to build the c++ inference on mac osx? Thanks

[2020-09-04 13:48] dathudeptrai commented on #201
@IreneZhou2018 the sampling rate in config is target sampling rate, if the dataset's sample rate is 48k so we re-sample it (see code here https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L194-L196)

[2020-09-04 13:49] dathudeptrai commented on #216
@ZDisket @candlewill

[2020-09-04 14:02] IreneZhou2018 commented on #201
@dathudeptrai  ok, thanks for your reply and the work is amazing!

[2020-09-04 14:38] ZDisket commented on #216
@aitalk I'm afraid you're on your own. Since Mac OS is Unix-based, you can try the same instructions for Linux. But I'm not sure.

[2020-09-04 14:43] mikus opened #249 "Parameters for MB MelGAN for 24 kHz"
Hi, I wanted to ask what should be the correct parameters for MB MelGAN with following inputs:
* sampling rate: 24 kHz
* frame shift: 12.5 ms
* frame length: 50 ms

Should I change only `sampling_rate` and `hop_size` in training configuration and `sampling_rate`, `fft_size`, `hop_size` and `win_length` in preprocessing config, or should I also tweak network parameters like `fft_lengths` in `stft_l

[2020-09-04 15:08] dathudeptrai commented on #249
@mikus ur preprocessing and training cofig should follow baker config (this dataset is also 24K). ur preprocesisng config is ok but wrong in training config. Let see ur `upsample_scales` (https://gist.github.com/mikus/34717fe4db82a425f0ca9c08b83d9cc3#file-mbmelgan_training-yaml-L24), that is wrong. Let say multiple(upsample_scales) should equal hop_size. See baker training config here (https://git

[2020-09-04 15:59] mikus commented on #249
Thx @dathudeptrai, it totally makes sense. :)
Other network parameters should stay as they are? In particular the size of FFT in the STFT loss?

[2020-09-04 16:36] dathudeptrai commented on #249
@mikus let use the same baker config first and see the performance :)

[2020-09-05 04:21] ZDisket commented on #248
@aitalk I certainly don't, other than the fact that all libraries should be cross-platform, so you'll have to compile everything from scratch.

[2020-09-05 04:27] dathudeptrai commented on #225
i think it's not a bug, fmin, fmax must be pre-define.

[2020-09-05 04:27] #225 closed

[2020-09-05 04:37] ming024 opened #250 "Multi-speaker audio samples for FastSpeech/FastSpeech 2"
It is really an astonishing large project.

I have seen that there is multi-speaker support in the preprocessing scripts and model configs. It will be great if anyone can share the multi-speaker audio samples generated with the non-autoregressive models such as FastSpeech and FastSpeech2.

[2020-09-05 04:46] dathudeptrai commented on #250
[multi-lingual-multi-speaker.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5177535/multi-lingual-multi-speaker.zip)

This is a result of my model trained on M-ailab dataset (partly) with other datasets, let say this is an audio generated by multi-lingual-multi-speaker dataset, the model is modify a bit to work with multi lingual, i also tested the public code here for multi speaker and

[2020-09-05 07:58] aitalk commented on #248
I tried. but i was able to build the required libfst and Phonetisaurus . But when compiling then cppwin, I get following errors:

In file included from TensorflowTTSCppInference/EnglishPhoneticProcessor.cpp:1:
In file included from TensorflowTTSCppInference/EnglishPhoneticProcessor.h:6:
In file included from ../../../Phonetisaurus/src/include/PhonetisaurusScript.h:39:
In file included from ../../.

[2020-09-05 10:18] #249 closed

[2020-09-07 01:57] unparalleled-ysj opened #251 "Loading pb model error"
Hi, use the latest code to train the fastspeech2 model, which can be converted to pb format correctly, but an error occurs when loading the pb model

File "test_scripts/inference.py", line 61, in LoadModelFromPB
    model = tf.saved_model.load(model_path)
  File "/root/anaconda3/envs/pb/lib/python3.7/site-packages/tensorflow/python/saved_model/load.py", line 578, in load
    return load_internal(e

[2020-09-07 05:05] dathudeptrai commented on #251
hi, i just ran a notebook (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/fastspeech2_inference.ipynb) and everything fine.

[2020-09-07 05:46] unparalleled-ysj commented on #251
The model trained in the previous version is fine using this notebook, but the model trained with the latest code will have the above problems，are you running with the latest model

[2020-09-07 05:48] dathudeptrai commented on #251
@unparalleled-ysj the logic of model didn't change in newest version, that's why the old pretrained can be load into the newest code.

[2020-09-07 05:58] #251 closed

[2020-09-07 05:58] unparalleled-ysj commented on #251
@dathudeptrai  No, I trained a single-speaker mode, the model in .h5 format can be loaded and used correctly, and it can also be converted to a model in .pb format, but the converted model in .pb format cannot be loaded correctly

[2020-09-07 06:31] dathudeptrai commented on #250
@ming024 if you don't have any question, pls close issue :D

[2020-09-07 07:27] ayush9096 commented on #246
Okay... but there are some methods using which the number of channels can be reduced, keeping the same accuracy, using something like that may be useful to speed up.

[2020-09-07 07:27] #246 closed

[2020-09-07 07:34] ayush9096 opened #252 "Combining MelGAN with Tacotron2 model trained in ESPNET"
Hi,
I am facing little difficulty in combining the Tacotron2 model trained in Espnet with the MB-MelGAN trained in TensorflowTTS.
I think it is because Espnet applies CMVN for pre-processing, and TensorflowTTS uses Sklearn preprocessing Standard Scalar().
After generating a Mel from Tacotron2 model from espnet , I am applying normalization stored in stats.npy.

After that running inference on MB-M

[2020-09-07 07:41] dathudeptrai commented on #252
after generate mel from tacotron2 you need denorm it into raw-mel then apply our normalization.

[2020-09-07 07:56] ayush9096 commented on #252
I am applying the CMVN after generating mel from ESPNET, and then applying the normalization as in stats.npy but the quality I am getting is not expected.

[2020-09-07 07:58] dathudeptrai commented on #252
@ayush9096 i do not know what is CMVN ?, and the preprocessing here is the same as espnet's vocoder used. I think the output of tacotron2 espnet can be use directly with our pretrained.

[2020-09-07 08:55] tienanh-1999 commented on #247
I solved this by decreasing the learning rate (similar to the paper).
Thank you !

[2020-09-07 09:07] dathudeptrai commented on #247
okay, let share some results if you can :)).

[2020-09-07 14:19] crux153 commented on #208
@dathudeptrai Here's some progress update.

I tried training Tacotron2 and FastSpeech2 using [another dataset](https://github.com/emotiontts/emotiontts_open_db). (It requires a Korean form to be submitted in order to get access, and redistribution is forbidden) It consists of 6,500 utterances and has length of around 9 hours, which is smaller than KSS but contains more longer samples.

![download]

[2020-09-07 14:39] crux153 commented on #183
@Joovvhan It won't take too long to apply [G2PK](https://github.com/Kyubyong/g2pK) or other Korean G2P module to this package. Actually I also thought about applying it, but since I'm using the trained model in C++ and that requires porting the G2P module itself to C++, which might take a while.

I'm satisfied with current quality of FS2 model except that it fails to synthesize long samples, and I

[2020-09-07 19:16] ZDisket commented on #252
@ayush9096 A few months ago I trained a few ESPNet models and used kan-bayashi's ParallelWaveGAN as a vocoder, which can be converted to this repo and used, so vocoders here should be compatible. Maybe you meant ESPNet2? Also, I believe stats normalization is for using with NVIDIA's Tacotron 2.

[2020-09-07 22:24] ZDisket commented on #183
@crux153

Perhaps you should consider Phonetisaurus, which the current C++ example here already uses for G2P. It's even compatible with pretrained G2P models in Montreal Forced Aligner's page (just did for Spanish).

[2020-09-08 00:13] fly2mun opened #254 "fastspeech2 data"
hello.
i try to make the fastspeech2 model used by Ljspeech data set.
but i can not train any more.

1. try to ljspeech dataset.
tensorflow-tts-preprocess
tensorflow-tts-normalize
2. I can train tacotron2 by ljspeech.

But fastspeech2 train fail.

Traceback (most recent call last):
  File "examples/fastspeech2/train_fastspeech2.py", line 412, in <module>
    main()
  File "examples/fastspeech2/tra

[2020-09-08 02:04] tienanh-1999 commented on #247
https://drive.google.com/drive/folders/1IST9UElMdxFj2SOJwQbUcNDp1PJ4Gdju?usp=sharing, here is the result after 400k steps :D

[2020-09-08 02:06] dathudeptrai commented on #247
it's good :)), let see the quality at 1M steps.

[2020-09-08 02:06] #247 closed

[2020-09-08 03:12] MachineLP opened #255 "How to speed up inference using tensorrt？"

[2020-09-08 03:47] MachineLP commented on #201
TensorFlowTTS Serving：
https://github.com/MachineLP/QDServing/tree/master/model_serving；
https://github.com/MachineLP/QDServing

[2020-09-08 03:54] MachineLP commented on #201
TensorflowTTS训练数据生成：拉取文本数据、将文本专为拼音、基于阿里云TTS生成TensorflowTTS训练音频、训练前的preprocess/normalize：https://github.com/MachineLP/TensorFlowTTS_chinese/tree/master/generate_tts_data

[2020-09-08 03:59] wyp1996 commented on #201
Hi, do you have a more specific Readme? It seems promising and I'd like to have to try :)

[2020-09-08 05:15] dathudeptrai commented on #254
you need extract duration before training FastSpeech2, you can use tacotron2 or MFA to do that.

[2020-09-08 05:16] dathudeptrai commented on #255
i will let you try tenssort and if you see any speed-up pls let me know :D

[2020-09-08 07:18] Hongpeng1992 commented on #201
it seems that fastspeech2 model  do not work properly when sentence is long ?  like 君不见 黄河之水天上来 奔流到海不复回 君不见 高堂明镜悲白发 朝如青丝暮成雪 人生得意须尽欢 莫使金樽空对月

[2020-09-08 07:25] dathudeptrai commented on #201
https://github.com/TensorSpeech/TensorFlowTTS/issues/208#issuecomment-688356211

[2020-09-08 07:35] Hongpeng1992 commented on #201
Thank you  .  I am still evaluating the model .

[2020-09-08 07:40] Hongpeng1992 commented on #208
it seems glowtts do not work better than fastspeech2 . I will upload the chinese version glowtts soon

[2020-09-08 09:29] machineko commented on #255
@MachineLP https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html There is full tutorial I was using it to get ~20-30% speed-up for Fast speech on fp16

[2020-09-08 09:33] MachineLP commented on #201
Chinese TTS欢迎加微信:lp9628进入微信群讨论

[2020-09-08 13:13] MachineLP commented on #255
thanks

[2020-09-08 13:14] MachineLP commented on #255
ok

[2020-09-08 14:10] MachineLP commented on #255
thanks，have you ever tried it？  can you share your code？

[2020-09-08 16:51] machineko commented on #255
I dont have code right now but I was using slightly modified code from this tutorial and as i said it give ~20-30% speed up using fp16

[2020-09-09 01:34] MachineLP commented on #255
Follow the tutorial with an error：
converter.convert()
  File "/home/suser/anaconda3/envs/machinelp/lib/python3.7/site-packages/tensorflow/python/compiler/tensorrt/trt_convert.py", line 1087, in convert
    frozen_func = convert_to_constants.convert_variables_to_constants_v2(func)
  File "/home/suser/anaconda3/envs/machinelp/lib/python3.7/site-packages/tensorflow/python/framework/convert_to_consta

[2020-09-09 01:56] MachineLP commented on #255
Tensorflow version 2.2/2.3, tutorial only for Tensorflow2.0?

[2020-09-09 02:35] MachineLP commented on #39
I am interested too.

[2020-09-09 03:02] cykao commented on #157
Sorry, I have checked sum(durations) == len(mel) and all elements of duration are positive, but still cannot fix it when I run train_fastspeech2. please let me know if there is a solution for this problem. The track issues are below and thank you in advance.

Traceback (most recent call last):
  File "examples/fastspeech2/train_fastspeech2.py", line 414, in <module>
    main()
  File "examples/fas

[2020-09-09 03:04] dathudeptrai commented on #157
pls create new issue, ur bug is because len(durations) != len(charactor), pls check it.

[2020-09-09 15:08] Acrobot opened #256 "FastSpeech 2: duration model produces zeros"
Hi, first of all thanks for the great repository, it's really helping me in my work!

I have a problem with FastSpeech 2 with the duration model. Using the standard configuration (the same as for LJSpeech), but own dataset (~12 GBs of recordings), training on phonemes + having external alignment, the model produces speech which is understandable, but sometimes forgets to say a phoneme. This is due

[2020-09-09 22:35] fly2mun commented on #254
I see, Thank you for your cooperation.

[2020-09-09 22:44] fly2mun opened #257 "Colab Tflite convertion code is not workig."
Thank you greate tensorflow tts
I try to working test for tensorflow tts examples. But i can find working failed.

2020/07/05 Support Convert Tacotron-2, FastSpeech to Tflite. Pls see the colab. Thank @jaeyoo from TFlite team for his support.

Please check it colab code.

Thanks moon

[2020-09-10 03:05] dathudeptrai commented on #257
Fixed it. There is a bug on tf-nightly, but the old version is ok. I will report the bug to tensorflow.

[2020-09-10 03:05] #257 closed

[2020-09-10 03:05] ZDisket commented on #256
400 to 800k iters sounds a bit excessive, I find that the best point for phonetic MFA-aligned LJSpeech in my experiments to be about 60k and often overfit at about 20k+ when finetuning with another dataset after which pronunciations start to suffer, have you tried earlier checkpoints?

[2020-09-10 03:08] dathudeptrai commented on #256
@Acrobot zero duration is ok, that represent 2 cases:

1. Unvoice charactor/phoneme.
2. Inconsistent between text input and audio, for example the text have a word "dog" but an audio don't have.

BTW, i never training the model > 200k steps :)).

[2020-09-10 03:38] dathudeptrai commented on #39
if anyone want to joint, please email me (nguyenquananhminh@gmail.com) and give me some infomations about urself, what will you contribute to the repo, ur everyday job, ...

[2020-09-10 03:57] MachineLP opened #258 "train fastspeech2.v1 error：train_mel_loss_before = nan & train_mel_loss_after = nan"
[train]:  48%|████▊     | 95400/200000 [02:45<7:39:06,  3.80it/s]2020-09-10 11:52:14,447 (base_trainer:831) INFO: (Step: 95400) train_duration_loss = 0.0353.
2020-09-10 11:52:14,448 (base_trainer:831) INFO: (Step: 95400) train_f0_loss = 0.0659.
2020-09-10 11:52:14,448 (base_trainer:831) INFO: (Step: 95400) train_energy_loss = 0.0505.
2020-09-10 11:52:14,449 (base_trainer:831) INFO: (Step: 95400) t

[2020-09-10 03:59] dathudeptrai commented on #258
stop training, load pretrained and continue training without `mixed_precision`.

[2020-09-10 04:00] MachineLP commented on #258
ok

[2020-09-10 04:12] fly2mun commented on #257
Hello i checked now.
It's work perfect.
Thanks

2020년 9월 10일 (목) 오후 12:05, dathudeptrai <notifications@github.com>님이 작성:

[2020-09-10 08:20] Zak-SA commented on #237
@manmay-nakhashi i got the error when I used the nightly version 2.4.0. I didn't try Tensorflow-gpu==2.3

[2020-09-10 09:24] dathudeptrai commented on #256
@Acrobot padding always at 0-idx.

[2020-09-10 11:50] #256 closed

[2020-09-10 16:07] #258 closed

[2020-09-11 12:36] jucaowei commented on #187
sigle_gpu got the same problem

[2020-09-11 12:38] dathudeptrai commented on #187
Disble mixed precision will
Fix ur problem.

[2020-09-11 12:52] jucaowei commented on #187
thanks

[2020-09-12 07:09] ming024 commented on #250
I think the audio quality is very good. How many speakers are there in your datasets?

[2020-09-12 07:10] dathudeptrai commented on #250
Sorry, that is private infomation :D.

[2020-09-12 08:35] ZDisket commented on #250
I have some too from MFA-aligned FS2. This is 11 speaker samples, total 18 hours of audio distributed over 136 speakers (distribution not uniform, some have as little as 20 seconds while others 50 minutes)
[11samples-50ks.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5212413/11samples-50ks.zip)

[2020-09-12 14:14] peter05010402 opened #259 "The inference process in on GPU or CPU"

[2020-09-12 14:32] dathudeptrai commented on #259
what do you mean ?

[2020-09-13 12:42] machineko commented on #255
I was using TF 2.2 also u can check [tf-trt](https://www.tensorflow.org/api_docs/python/tf/experimental/tensorrt/Converter)

[2020-09-13 13:50] peter05010402 commented on #259
Is possible inference on CPU？

[2020-09-14 02:02] tienanh-1999 opened #260 "Convert Multiband MelGAN to TFlite"
I got a problem when convert MBmelgan to TFlite. The tf-nightly is _2.4.0-dev20200913_.

The code is captured as below:

![image](https://user-images.githubusercontent.com/47650134/93036134-320e0500-f669-11ea-8c25-a983a73ad3a9.png)

Then I got an _ConverterError_:

![image](https://user-images.githubusercontent.com/47650134/93036185-5a95ff00-f669-11ea-9651-ba400b10cc41.png)

Thank you in advance.

[2020-09-14 02:18] ZDisket commented on #259
@peter05010402 Yes, CPU inference is possible and very fast. I have about 0.243 RTF FastSpeech2 + Multi-Band MelGAN with LJSpeech settings when doing C++ inference on an Athlon x4 860k.

[2020-09-14 02:24] dathudeptrai commented on #260
seem you use weightnorm :))

[2020-09-14 02:43] tienanh-1999 commented on #260
yes :D using weightnorm cannot convert to TFlite ?

[2020-09-14 02:48] dathudeptrai commented on #260
@tienanh-1999 i can :)) but need some trick :)), i think you need finetune ur model without weightnorm :))>

[2020-09-14 10:07] tienanh-1999 commented on #237
I also got this error ! Have you fixed it @Zak-SA ?

[2020-09-14 10:10] ming024 commented on #250
@dathudeptrai @ZDisket Thanks a lot, I will close this issue #250

[2020-09-14 10:10] #250 closed

[2020-09-14 13:28] sjainlucky opened #261 "Not saving Checkpoint while Training."
While training Tacotron 2 I have changed the config['save_interval_steps']=15 but the model is not saving any checkpoint at the location of outdir.

[2020-09-15 01:15] peter05010402 commented on #259
@ZDisket thank you for your reply. I'll try it.

[2020-09-15 02:09] tienanh-1999 commented on #260
successful :)) thank you !

[2020-09-15 03:06] Zak-SA commented on #237
@tienanh-1999  unfortunately not yet, still waiting to debug the issue. I did get the time to work on it.  will post any updates as soon as I have any.

[2020-09-15 08:47] Hongpeng1992 opened #262 "while tf.saved_model.save(fastspeech2, "./fspb2",signatures=fastspeech2.inference) error missing 4 required positional arguments: 'speaker_ids', 'duration_gts', 'f0_gts', and 'energy_gts'"

[2020-09-15 09:08] LLianJJun opened #263 "pwg vs. mb-melgan quality?"
hi.

Generally, Which of the best quality is pwg or mb-melgan?

In my experiment, pwg showed better performance, but I wonder it is a proper experiment.

[2020-09-15 09:09] Hongpeng1992 commented on #263
same results

[2020-09-15 09:10] dathudeptrai commented on #262
install tf2.2 instead :)), fuck tf2.3 :))

[2020-09-15 09:11] dathudeptrai commented on #263
pwg is sightly better than mb-melgan but do not forget that mb-melgan is 1x faster than pwgan :)).

[2020-09-15 09:11] LLianJJun commented on #263
@Hongpeng1992
If so, my mb-melgan training is wrong.

[2020-09-15 09:16] LLianJJun commented on #263
@dathudeptrai
I trained pwg and mb-melgan in the kan-bayashi git...
Is there any difference between the code of kan-bayashi git and yours?

Could it be less convergent? (kan-bayashi code)
There is a significant difference in quality.

I am training your mb-melgan code with the same data.

[2020-09-15 09:19] dathudeptrai commented on #263
the implementation is same so you can convert the weight from kan's repo to mine. About convergence speed, i think my TF implementation convergence faster. Before create this repo, i also use kan's code.

[2020-09-15 09:39] LLianJJun commented on #263
@dathudeptrai
thanks.
But, in my memory,  you implemented 'mb-melgan' before kan's repo. Is that correct?

[2020-09-15 09:54] dathudeptrai commented on #261
not sure what cause ur problem @@

[2020-09-16 01:38] Hongpeng1992 commented on #262
Thanks a lot , fixed

[2020-09-16 01:38] #262 closed

[2020-09-16 01:40] GavinStein1 opened #264 "Implementation with own dataset"
HI there,

I was wondering if there is support for implementing this repo with our own dataset - for purposes of cloning our own voices? Currently this project supports a limited amount of publicly available datasets.

If the above answer is in the negative, what changes are required to implement it myself?

Massive thanks for your work.

Edit: Additionally, does implementing your own dataset only

[2020-09-16 01:51] ZDisket commented on #264
@GavinStein1 If your dataset is of a language already supported here (I'll use English as an example) you can do it the lazy way - format your dataset like one that's already supported (I format my English ones like LJSpeech) and use the preprocessor already integrated. As for implementing your own dataset, there are instructions.
As far as I am aware, custom datasets only pose a problem during pr

[2020-09-16 14:07] peter05010402 commented on #259
Hi @ZDisket , I run C++ inference on CPU, it cost more than 500ms for inference "hello", detail as follow:
![image](https://user-images.githubusercontent.com/42974031/93348539-eb86f900-f868-11ea-8327-7ebd8f248f7f.png)

[2020-09-17 09:56] xiaoyangnihao opened #265 "Where can I find the implemented GMM attention for tacotron2?"

[2020-09-17 10:35] LLianJJun opened #266 "How long does "mb-melgan" take to converge?"
How long does "mb-melgan" take to converge?

The default config settings and v100 single gpu is used. (batch_size=64, batch_max_size=8192)

It seems that the training takes too long.

`[train]:   8%|▊         | 305492/4000000 [57:06:29<1897:39:04,  1.85s/it]`

Is "1.8s ~ 2s per iter" normal?

[2020-09-17 10:38] dathudeptrai commented on #266
it is not normal, it should run around 3-4it/s. Did you enable mixed precision ?, when discriminator enable you should disble it. Group convolution Mixed precision not yet fully supported and it will cause slow training.

[2020-09-17 10:39] dathudeptrai commented on #265
I think there are some implementation of GMM based on pytorch/TF1 :)) you can refer it :v.

[2020-09-17 10:43] LLianJJun commented on #266
After 20000 iter, I disable mixed precision.
I used the default config settings.
Is there a problem with the initial setup? Such cudnn, cuda driver...

`CUDA_VISIBLE_DEVICES=6 python examples/multiband_melgan/train_multiband_melgan.py \
  --train-dir ./data/dump/train/ \
  --dev-dir ./data//dump//valid/ \
  --outdir ./examples/multiband_melgan/exp/train.multiband_melgan.v1/ \
  --config ./examples

[2020-09-17 10:49] dathudeptrai commented on #266
did you cache the dataset (cache is True in config) ?. Other reasons maybe come frome ur server :)) when many people use the same disk, ram :)).

[2020-09-17 10:52] LLianJJun commented on #266
yes, "allow_cache: true"
It seems to be my server issue. I'll find the cause.

[2020-09-17 12:27] jun-danieloh opened #267 "Quick question regarding data structure."
[code]

I am looking at code but not able to find these files usages. Are these files are used while training?

[2020-09-17 14:27] dathudeptrai commented on #267
@jun-danieloh stats is mel_stat and it will use to normalize the mel, you can see a folder named `norm-feats`. `stats_f0` and `stats_energy` will use to normalize f0/energy in FastSpeech2.

[2020-09-18 05:12] jun-danieloh commented on #267
@dathudeptrai `stats.npy` is used for normalizing `*-raw-feats.npy` to `*-norm-feats.npy`, right?

[2020-09-18 05:20] dathudeptrai commented on #267
Yes

Vào Th 6, 18 thg 9, 2020 lúc 12:12 Daniel Oh <notifications@github.com> đã
viết:

[2020-09-18 05:22] #267 closed

[2020-09-18 09:38] xiaoyangnihao commented on #265
![image](https://user-images.githubusercontent.com/14233490/93582830-974d5780-f9d5-11ea-9088-c3024c7d0d80.png)

In my GMM attention，the mel_loss erro increases aperiodically, can you give some advices?

[2020-09-18 09:39] alexdemartos commented on #263
Hi @dathudeptrai . Any advice on training PWG/MB-MelGAN on "difficult" (large number of speakers) dataset? What are the config parameters that better trade off audio quality vs. speed (i.e. making the models bigger and slower, but better quality)?

Related question: has anyone tried to include learnt speaker embeddings from the FastSpeech/Taco2 models as vocoder inputs?

[2020-09-19 22:08] ethanstan opened #268 "Synthesize tacotron2 with gl"
Hello. I fine tuned a tacotron2 model with my own dataset. I would like to synthesize some audio using Griffin lim before proceeding to vocoder. Is this possible? I see the tensorflow gl notebook but it doesn’t have a place for input text and I’m not sure how to piece it together.

Also would be great if it could save synthesized audio during training under tensorboard :)

Thanks!!!

[2020-09-20 05:41] #259 closed

[2020-09-20 14:10] machineko commented on #268
Here you have example how to use gl in training [gl](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/train_fastspeech2.py#L171)

[2020-09-21 05:21] jun-danieloh commented on #212
Hi @dathudeptrai Is this implementation on going now?

[2020-09-21 05:24] dathudeptrai commented on #212
@jun-danieloh mixed precistion training is tensorflow bug, do not know if the next version of tensorflow fix it. The training speed now is comparable with pytorch float32 version.

[2020-09-21 05:27] jun-danieloh commented on #212
@dathudeptrai How did you decide whether the training speed is compared to PyTorch? If it is true, what was your change? Can you point me to your commit of changes or something?

[2020-09-21 05:29] dathudeptrai commented on #212
@dathudeptrai i used both my implementation and other pytorch implementation to training tacotron2 now, the training speed in LJSpeech of pytorch float32 is 2.8-> 3.0s while my implementaioni is 3.0-3.1. I think it's comparable. TF2.3 is faster than 2.2

[2020-09-21 05:31] jun-danieloh commented on #212
@dathudeptrai Can we switch this implementation to TF2.3 without any changes? I am using TF2.2 now.

[2020-09-21 05:33] dathudeptrai commented on #212
@jun-danieloh yes you can use tf 2.3 for training :D. Note that if you want to freeze the model to Pb, you need use 2.2 :)).

[2020-09-21 05:45] jun-danieloh commented on #212
@dathudeptrai Do you know or remember how much training speed gain is when TF2.3 used?

[2020-09-21 05:46] dathudeptrai commented on #212
3.5 -> 3.0 s.

[2020-09-21 05:49] jun-danieloh commented on #212
@dathudeptrai My PyTorch implementation takes ~3 mins per an epoch(batch 128) but this tf2.2 takes ~44 mins(batch 24) so am still trying to figure out why this is so slow compared to PyTorch's one. My GPU is 1080Ti, 12G.

[2020-09-21 05:55] jun-danieloh commented on #212
800 mel_lengths mins how much in second in wav files? I guess it is 8 second? Mine is also using fixed length and max_mel_length is set 2000 and it still shows same performance.

[2020-09-21 06:48] dathudeptrai commented on #212
max mel length should be <= 900, i think 800 is ok. 800 mel is (800 * hop_size) / hz (second). So if hop_size is 256, hz is 22050 in Ljspeech then we have 800 * 256 / 22050 = 9.28s.

[2020-09-22 03:09] jun-danieloh opened #269 "ValueError while inferencing with TF2.2"
Hi,

I am using TF2.2 and seeing errors as below. Do I miss something?

[code]

[code]

Thanks in advance!

[2020-09-22 03:19] jun-danieloh commented on #269
Resolved myself!

[2020-09-22 03:19] #269 closed

[2020-09-22 07:00] sabby993 opened #270 "Cannot get the tensorboard for training"
Hi there, I am training the tacotron 2 model for a TTS for New Zealand English and I wanted to examine my training graphs with tensorboard. However, I can't get the tensorboard to work with the train_tacotron2.py file as there is some attribute error that I am getting when I am adding the callback attribute to the trainer.fit function. Since I am new to tensorflow and tensorboard, I just wanted to

[2020-09-22 07:12] ZDisket commented on #270
@sabby993 Can you state what you want to do more specifically? Because the training scripts already output Tensorboard logs with charts to the `outdir`.

[2020-09-22 07:17] sabby993 commented on #270
@ZDisket I am not training to the complete 200k steps because I am interrupting the execution in between 4k steps. Then I am not getting the tensorboard after interrupting. So I wanted to get the tensorboard for 4k steps only.

[2020-09-22 07:52] ZDisket commented on #270
@sabby993 That's unusual, even when interrupting I still get logs.

[2020-09-22 07:56] dathudeptrai commented on #270
@sabby993 Trainer is our designed Class not Model so Trainer.fit is not Model.fit then it does not include callbacks here.

[2020-09-22 07:57] jun-danieloh opened #271 "Inference Error: Tacotron_kss + MB-MelGAN"
I am trying to load my h5 file for KSS inference but got errors as below. Can you give me a hint to debug? Looks like dimension issues but I didn't change any dimensions myself. Thanks you in advance.

[code]

[code]

[2020-09-22 08:00] ZDisket commented on #271
@jun-danieloh Which config did you initialize the Tacotron 2 with before loading weights?

[2020-09-22 08:01] jun-danieloh commented on #271
These are all that I ran before getting errors.

[code]

[2020-09-22 08:04] jun-danieloh commented on #271
@ZDisket I `git clone` this repository just few days ago.

[2020-09-22 08:09] dathudeptrai commented on #271
@jun-danieloh seem the weight have 149 charactor input embedding while kss have 81. Can you share me ur tacotron2_config when training ?

[2020-09-22 08:10] jun-danieloh opened #272 "training speed"
Hi, I am using ljspeech dataset, same default setting as repository, no mixed precision and using 1080Ti GPU.

My training is still running since last week. Is it usual to have this slow training speed? Inference pre-trained model is based on 120k but mine is still at ~90k and the inference quality is not as good as one from 120k so I still need to wait.
[code]

[2020-09-22 08:12] dathudeptrai commented on #272
@jun-danieloh can you add bellow code after (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/tacotron_dataset.py#L194-L196):

[code]

[2020-09-22 08:13] unparalleled-ysj opened #273 "data preprocess question"
Hi, I have a question, why revert "Correct preprocessing step, add eos_f0, eso_energy, eos_mel."

[2020-09-22 08:14] jun-danieloh commented on #271
@dathudeptrai Your hack is working :) What do I need to have changes permanently in config setting?

This is an yaml file for tacotron2_kss training.
[code]

[2020-09-22 08:16] dathudeptrai commented on #271
@jun-danieloh you can see here https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/configs/tacotron2.py#L62. If the dataset is kss then vocab_size = len(kss_symbols) = 81. I do not know why ur vocab_size = len(ljspeech_symbols) = 149 :)), you need to check by ur self.

[2020-09-22 08:16] jun-danieloh commented on #272
@dathudeptrai Let me try this and get back soon.

[2020-09-22 08:17] jun-danieloh commented on #271
@dathudeptrai Do I need to re-run my training? :( I should affect training quality I guess...

[2020-09-22 08:18] dathudeptrai commented on #273
:))) i think the old is better. I saw the tacotron2 model stop_token overfit (zero loss), because the last mel is zero so the model ez to recognize this pattern in teacher forcing mode.

[2020-09-22 08:18] dathudeptrai commented on #271
no need, 149 > 81 :)) then the vocab_size already cover all 81 charactor in Korean :)).

[2020-09-22 08:54] sabby993 commented on #270
@dathudeptrai Ok...so to get the tensorboard, I just need to refer to the logs saved at outdir?

[2020-09-22 09:14] #273 closed

[2020-09-22 09:40] dathudeptrai commented on #270
yes, the tensorboard in outdir :))

[2020-09-22 09:41] sabby993 commented on #270
Ok thank you for clearing that up. Much appreciated. 👍🏼

[2020-09-22 09:41] #270 closed

[2020-09-22 12:00] jun-danieloh commented on #272
When max_mel_length set 850, it shows a speed improvement from 7.13/it to 6.15/it with 1080Ti GPU.

[2020-09-22 18:09] Zak-SA opened #274 "Error when using fastspeech2 Tflite model with Android studio"
Hi,

I am getting this error when trying to run my Tflte model on Android studio:

E/InputWorker: Exception:
    java.lang.IllegalArgumentException: Cannot convert between a TensorFlowLite tensor with type FLOAT32 and a Java object of type [I (which is compatible with the TensorFlowLite type INT32).
        at org.tensorflow.lite.Tensor.throwIfTypeIsIncompatible(Tensor.java:427)
        at org.ten

[2020-09-23 04:13] dathudeptrai commented on #274
I do not really know what is the bug :(. I'm not a person contribute android code so it's hard for me to debug.

[2020-09-23 04:14] #271 closed

[2020-09-23 04:15] dathudeptrai commented on #265
@xiaoyangnihao sorry to reply late, i think the problem is because learning rate, try to reduce it at the step the model's loss exploded.

[2020-09-23 05:01] Zak-SA commented on #274
@dathudeptrai thanks for your reply. The error occurs when loading the Tflite model for fastspeech2 in android.stidio  And the second issue is when inference using Tflite model and I opened another issue earlier but no fix yet. And I noticed that you have discussions related to that issue on Tensorflow github.
I have a question for you about the Tflite model that's included and used with the Andro

[2020-09-23 10:30] thorstenMueller commented on #209
We’ve made a first taco2 model draft based on dataset v02.
Taco2 training for 460k steps and PwGAN vocoder with 925k training steps.

Some audio sample „teasers“ are available here:
https://community.mycroft.ai/t/free-german-tts-voice-for-mycroft-sneak-preview/9458?u=thorsten

[2020-09-24 11:35] jun-danieloh opened #276 "One last question regarding data structure"
[code]

How do you get this *-wave.npy from *.wav files? Is this just a numpy version of wav files? Can you add a little more details and when this files are used?

[2020-09-25 01:51] #276 closed

[2020-09-26 00:35] ZDisket commented on #266
@dathudeptrai

Any plans to add that to the multi-band melgan example readme? Seems pretty important, it sped up my V100 from 1.3it/s to 5.1it/s

[2020-09-26 04:29] dathudeptrai commented on #266
@ZDisket okay i will add it. (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/melgan#some-important-notes), seem i added it before in Melgan :D

[2020-09-26 13:40] Nistrian opened #277 "How do I prepare a dataset in another language?"
I have a normalized dataset in Russian that follows the ljspeech format. How can I skip the text normalization step? When I run `tensorflow-tts-preprocess --rootdir ./dataset --outdir ./dump --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech `following the instructions, I get the error:

[2020-09-26 13:44] dathudeptrai commented on #277
@Nistrian you should write your own Processor. Pls refer all supported processor here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/tensorflow_tts/processor).

[2020-09-27 06:55] peter05010402 opened #278 "my training audio sampling rate is 16k，how to change **_preprocess.yaml"
Hi,

my training audio sampling rate is 16k，how to change  **_preprocess.yaml

Thank you!!!

[2020-09-27 14:10] ZDisket commented on #278
@peter05010402 You change the `hop_size `to a number that equals your `num_mels `(by default 80) when you divide the sampling rate by it. For example, I just [changed ](https://github.com/ZDisket/TensorflowTTS/blob/multi-emt/preprocess/ljspeechv3_32k_preprocess.yaml)a config for a 32KHz mb-melgan with `hop_size `400 because 32000 / 400 = 80
You also have to set the `hop_size `in the training confi

[2020-09-27 22:31] Acrobot opened #279 "License question"
Hi, I already have some experience using TensorFlowTTS and my proof-of-concept prototype using it works pretty good. However, you mention in the README that:

"Overall, Almost models here are licensed under the Apache 2.0 for all countries in the world, except in Viet Nam this framework cannot be used for production in any way without permission from TensorFlowTTS's Authors. There is an exception,

[2020-09-28 02:02] #260 closed

[2020-09-28 02:27] peter05010402 commented on #278
@ZDisket Thank your reply ：）

[2020-09-28 02:27] #278 closed

[2020-09-28 02:41] leeyazhou opened #280 "[bug]ModuleNotFoundError: No module named 'examples.tacotron2'"
when i run this on google colab :
[code]

I got this:
[code]

[2020-09-28 02:43] dathudeptrai commented on #280
@leeyazhou colab ?

[2020-09-28 02:47] leeyazhou commented on #280
but I got this

[code]

[2020-09-28 03:09] dathudeptrai commented on #280
@leeyazhou you should find the way to remove examples library in colab since it will confict with our examples directory.

[2020-09-28 03:10] dathudeptrai commented on #280
@ZDisket

[2020-09-28 03:20] leeyazhou commented on #280
yes, definitely, I can find a way to make it work well. But, I think the examples should work well too. thank you @dathudeptrai

[2020-09-28 03:21] ZDisket commented on #280
@leeyazhou Make a code cell and do this after cloning TensorflowTTS and before doing anything:
[code]

[2020-09-28 06:09] peter05010402 opened #281 "Training melgan Error"
Hi
I have finished:
"tensorflow-tts-preprocess --rootdir ./[ljspeech/kss/baker/libritts] --outdir ./dump_[ljspeech/kss/baker/libritts] --config preprocess/[ljspeech/kss/baker]_preprocess.yaml --dataset [ljspeech/kss/baker/libritts]
tensorflow-tts-normalize --rootdir ./dump_[ljspeech/kss/baker/libritts] --outdir ./dump_[ljspeech/kss/baker/libritts] --config preprocess/[ljspeech/kss/baker/libritts]_

[2020-09-28 06:52] dathudeptrai commented on #281
@peter05010402 can you run Mb-melgan instead, BtW, can you share me ur preprocess config and training config ?

[2020-09-28 09:21] Zhangyabing8 commented on #166
@jiayue198509 ，可以分享下解决如何解决lib问题的么？ 谢谢！
我也遇到了同样的问题

[2020-09-28 12:15] #277 closed

[2020-09-28 13:42] #281 closed

[2020-09-29 01:52] Tetsujinfr opened #282 "Tensorflow TTS requires TF 2.3 minimum??"
hi

in the readme it says that TF TTS requires TF 2.2/2.3 (it recommends the latest 2.3 etc sure). I have TF2.2 installed with GPU support, and I cannot upgrade to 2.3, but I assume TTS should still work.

Now, when I install from source, I have the following error message:

Am I supposed to tweak the install process manually to authorize it to continue with my TF 2.2 install ?

Am I stuck? I am u

[2020-09-29 02:13] dathudeptrai commented on #282
@Tetsujinfr you can comment out this line https://github.com/TensorSpeech/TensorFlowTTS/blob/master/setup.py#L25 to avoid re-install TF

[2020-09-29 02:15] Tetsujinfr commented on #282
thanks , yes what I did for TF and for TFA too since I did install it from source separately.
battling with the llvmlite install now, but that is a classical pain on the jetson, hopefuly i will get through it.
Closing this issue for now given I have passed the initial struggle.

Thanks for your helpful quick reply

[2020-09-29 02:15] #282 closed

[2020-09-29 03:10] Tetsujinfr opened #283 "End to end example small typo"
Kind of a detail but in the end-to-end example in the readme, there is a small typo which throws an error.
Easy to fix but took me some time to figure out what was wrong until I noticed the missing "." :

Need to replace:

with

thanks

[2020-09-29 08:42] #280 closed

[2020-09-29 13:16] manmay-nakhashi opened #284 "does robotic sound like voice come from small network or alignment issues ? (in fastspeech2 plus mb-melgan)"

[2020-09-29 16:29] lukewys opened #285 "Can it run in eager excution mode?"
Hi, thanks very much for your project. I am playing around and want to do some changes to the model. However, it seems that the base_trainer basically wrapped everything in tf.function. I want to get the shape of the tensor in the forward pass as int, i.e. `last_decoder_hidden_states.shape[1]`.

In eager execution, things would be a lot easier as `last_decoder_hidden_states.shape[1].numpy()`

It s

[2020-09-30 02:14] dathudeptrai commented on #285
@lukewys tf.config.run_functions_eagerly

[2020-09-30 02:15] dathudeptrai commented on #284
i do not know :D. Maybe both :d

[2020-09-30 02:25] dathudeptrai commented on #279
@Acrobot it will be remove in the future, at this time, i relized that even my framework is just a baseline (my point view), its performance somehow better than **ALL** commercial system in my country (my point view also :))), and ofcourse because the framework is written by Tensorflow then it's ez to deploy. I think they have been investing for a very long time and i do not want make them feel ..

[2020-09-30 02:45] lukewys commented on #285
Hi @dathudeptrai , thanks very much for that!

[2020-09-30 02:45] #285 closed

[2020-10-01 00:32] luis-vera opened #286 "Errow while preprocessing ljspeech"
Hi. While I preprocessing ljspeech dataset I found this error in Runtime:

2020-09-30 21:19:38,814 (preprocess:364) INFO: Selected 'ljspeech' processor.
2020-09-30 21:19:38,967 (preprocess:403) INFO: Training items: 12444
2020-09-30 21:19:38,968 (preprocess:404) INFO: Validation items: 655
[Preprocessing train]:   0%|                                          | 0/12444 [00:00<?, ?it/s]
Traceback (m

[2020-10-01 05:27] manmay-nakhashi commented on #284
@dathudeptrai can it be something other then this two ? :sweat_smile:

[2020-10-01 17:30] Nistrian opened #287 "Not found any mels files in dump/train/."
Hello! I am trying to run fastspeech2 using a Russian dataset. I am getting the following error:

`СUDA_VISIBLE_DEVICES=0 python examples/fastspeech2/train_fastspeech2.py   --train-dir ../dump/train/   --dev-dir ../dump/valid/   --outdir fastspeech2/exp/train.fastspeech2.v1/   --config ./examples/fastspeech2/conf/fastspeech2.v1.yaml   --use-norm 1   --f0-stat ../dump/stats_f0.npy   --energy-stat .

[2020-10-01 20:36] #287 closed

[2020-10-02 00:06] Tetsujinfr opened #288 "TFLite models requires TF >=2.3?"
hi

I managed to get Tensorflow TTS infer properly the fastspeech model on Jetson NX, with Jetpack 4.4 (Cuda 10.2, Cudnn 8, Tensorflow 2.2 using GPU). So far so good.

Now, the full model is memory hungry and slow to run on the Jetson so I am trying to convert the fastspeech model (120mb) into a tflite optimized model.
In did leverage the colab notebook which I tweaked a bit to get that done, but

[2020-10-02 02:35] dathudeptrai commented on #288
@Tetsujinfr you should install tf-nightly==2.4.0-dev20200630. See colab here (https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing#scrollTo=mvLDbeJzQFeh). TF 2.3 not yet support dynamic shape.

[2020-10-02 08:53] abylouw commented on #256
Hi @dathudeptrai

I assume the padding at 0-idx comes from https://github.com/TensorSpeech/TensorFlowTTS/blob/555bf4d777211e5a4d03d13ebaca2970250378a9/tensorflow_tts/models/fastspeech.py#L168 ?

What is the pad symbol? Is it the same as a pause or silence?

Thank you

[2020-10-02 10:22] Tetsujinfr commented on #288
ok thanks that is very useful. Unfortunately it means I have to build it from source on the Jetson (only 2.2 has a package available), that might be quite tricky but I will give it a try. I am closing this issue given the root cause is identified and clear.
thanks again

[2020-10-02 10:22] #288 closed

[2020-10-03 22:59] ronggong commented on #216
@ZDisket Thanks for your work. I would like to compile the cppwin in MSVC 2019 (v142). I suppose I need to recompile the dependencies
1. libPhonetisaurus
2. OpenFST

I compiled the OpenFST from this repo https://github.com/kkm000/openfst. Then I would like to compile libPhonetisarus from your repo https://github.com/ZDisket/Phonetisaurus

I opened the QT LibPhonetisaurus.pro and tried to compile i

[2020-10-03 23:13] ZDisket commented on #216
@ronggong Looks like I forgot to add a config for compiling libPhonetisaurus for Windows.
In the .pro file, change that line to these two:
[code]
Put your two .lib files in the subfolder `libwin `where the .pro file is located.

[2020-10-04 00:01] peter05010402 opened #289 "tacotron2/extract_duration.py Error"
After finish "tacotron2/train_tacotron2.py",  I run "tacotron2/extract_duration.py", got error as follow:

<img width="1416" alt="image" src="https://user-images.githubusercontent.com/42974031/95003962-baa01580-0617-11eb-8021-87c99e0ddce2.png">

[2020-10-04 06:33] dathudeptrai commented on #289
@peter05010402 can you print(d) after (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/extract_duration.py#L181). Seem your `real_char_length` is not correct, and can you give me a alignment figure of ur tacotron2 ?

[2020-10-04 06:37] dathudeptrai commented on #256
pad positional_embedding is a zero vector.

[2020-10-04 06:38] dathudeptrai commented on #284
@manmay-nakhashi dataset quality :))). FastSpeech is limitted, i still not better than Autoregressive model as Tacotron2 in all datasets :D.

[2020-10-04 06:40] dathudeptrai commented on #286
@luis-vera did you resolve ur problem ?, seem it's not related to the code but related to ur permission in ur server :D .

[2020-10-04 06:42] #283 closed

[2020-10-04 11:00] ronggong commented on #216
@ZDisket Thanks successfully rebuilt libPhonetisaurus with MVSC 2019 v142. I had to do three more things to build it:
(1) add openfst headers with INCLUDEPATH
(2) add `#define M_LN2 0.693147180559945309417` in 3rdparty\rnnlm\rnnlmlib.cpp
(3) comment line 128-144 in src\3rdparty\lib\util.cc because CLOCK_REALTIME is undeclared.

[2020-10-04 12:10] ronggong commented on #216
@ZDisket The g2p model is unable to parse decimal numbers, such as 0.3. It returns SIL. I see there is a g2p.fst in the model folder, do you know any information about this model? Where did you get it? Maybe we can train a better model?

[2020-10-04 15:41] ZDisket commented on #216
@ronggong It's from here: https://github.com/AdolfVonKleist/phonetisaurus-downloads/tree/master/models
An old model, it can definitely be retrained (here: https://github.com/AdolfVonKleist/Phonetisaurus), although turning numbers into text isn't the G2P model's job.

[2020-10-04 16:54] machineko commented on #279
I'm not sure if I understood it correctly, are you saying that you'll rewrite this code with few tweaks in your company without @dathudeptrai agreement? If yes this is illegal in the European Union for like last 2 years so better thinks twice about it or don't tell anyone cause your company can get trouble :)

[2020-10-04 19:49] luis-vera commented on #286
I couldn't resolved it.

My question is why the problem happens with a especific file from a dataset. If I quit that file the error persists but in another file.  I was worked in my local PC.

I tried the same code in Google Colab and I found the same error. After, I changed the dataset to libriTTS and I found the same error but in the first file.

RuntimeError: Error opening 'LibriTTS\\speaker1/l

[2020-10-05 00:54] mapledxf commented on #166
把Android里tflite的版本号 改成2.3.0试试

[2020-10-05 22:38] ronggong commented on #216
@ZDisket I try to build your code in a new VS project, however, I got many errors like these:
E0266	"Path" is ambiguous	client_app_App	D:\projects\tts\depsTFTTS\include\include\PhonetisaurusRex.h	153
E0266	"BYTE" is ambiguous	client_app_App	D:\Windows Kits\10\Include\10.0.18362.0\um\OleAuto.h	618

Have you had these errors? How did you resolve them?

[2020-10-05 23:04] ZDisket commented on #216
@ronggong I have had the `BYTE `is ambiguous error, it comes from FST having its own `BYTE `type (which is used by the winAPI to define its byte) and Phonetisaurus `using namespace fst;` which causes name collision. (I keep saying I want to refactor all of Phonetisaurus code, but other things always get in my way). When I ran into this error (in TensorVox), I renamed the BYTE type to FSBYTE in the

[2020-10-06 08:28] GavinStein1 commented on #152
Hi there, this issue is occuring for me. I was wondering how I can check our sample lengths to find what our max is in our dataset?

[2020-10-06 08:30] dathudeptrai commented on #152
just load all mel-spectrogram and check its length.

[2020-10-06 21:59] ronggong commented on #216
@ronggong Thanks, it compiled! I renamed the BYTE in fst include headers and Path in Phonetisaurus headers.
As you mentioned in the compiling instruction, the /FORCE needs to be added to the Linker command line, this is not very elegant. Do you think there is a way to resolve it?

[2020-10-06 22:04] ZDisket commented on #216
@ronggong I actually fixed that properly for the Linux implementation where GCC wasn't able to use its equivalent of /FORCE. Move the LoadClusters function from the Phonetisaurus header into its own .cpp file, although I think my latest fork should have that done already: https://github.com/ZDisket/Phonetisaurus/blob/master/src/loadclusters.cpp
So theoretically if you used that one then you should

[2020-10-06 22:30] ronggong commented on #216
@ZDisket I cloned and compiled the Phonetisarus repo last week, so it should be the most recent version. If I remove /FORCE, there is the Linker error
[code]

And the g2p model has some problems, please try to synthesis "This should be like this". The phoneme sequence returned is:
DH IH0 S SH UH1 D B L AY1 K DH IH0 S
be -> B, only consonant is parsed.

[2020-10-06 22:36] ZDisket commented on #216
@ronggong That's weird, it compiled well in GCC where its equivalent of /FORCE didn't work. I'll take a deeper look. As to the G2P result, yeah the model isn't very good.

[2020-10-07 13:25] luis-vera commented on #286
Hi. I did another tries I could resolve the problem. Thanks

[2020-10-07 13:31] luis-vera opened #290 "Runtime error during training"
Hi again.

I am in training stage with TensorflowTTS and I have found the following Runtime errors (I used ljspeech as a dataset):

**Using fastspeech**

Traceback (most recent call last):
  File "examples\fastspeech\train_fastspeech.py", line 386, in <module>
    main()
  File "examples\fastspeech\train_fastspeech.py", line 291, in main
    train_dataset = CharactorDurationMelDataset(
  File ".\e

[2020-10-07 18:11] theAayushbajaj opened #291 "_ref is different from ground truth"
Is there any preprocessing been done on the audio before its fed through _pqmf_ synthesis in Multiband Melgan? I'm using my own mels generated from a different method. _ref files sound different from the ground truth. I couldn't find any preprocessing step in the pipeline.

[2020-10-07 21:40] ronggong commented on #216
@ZDisket I checked the python g2p https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/processor/ljspeech.py,
and it seems to me it's rule-based stuff because I didn't find any machine learning model used for this.

I think we can implement this piece of code in c++, as they did in java https://github.com/TensorSpeech/TensorFlowTTS/blob/70b85b9e55447942043ae662ea7add1abda511bf/

[2020-10-07 23:02] machineko commented on #290
`AssertionError: Number of charactor, mel and duration files are different (12445 vs 12445 vs 0).`

You didn't extract durations in preprocessing step

[2020-10-07 23:23] sabby993 opened #292 "Preprocessing error while doing with own dataset"
Hello there. I was trying to do the preprocessing steps for my own dataset which is New Zealand English and I ran into the following error:
2020-10-06 00:13:48.426319: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unz

[2020-10-08 00:05] luis-vera commented on #290
OK I understand but I need to know where I include the "extract durations" because I typed the commands according Readme file in preprocessing. In my case I typed the following:

tensorflow-tts-preprocess --rootdir LJSpeech-1.1 --outdir dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech

tensorflow-tts-normalize --rootdir dump_ljspeech --outdir dump_ljspeech --config pre

[2020-10-08 00:28] machineko commented on #290
Just follow tutorial [fs-example](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech)

Here

[2020-10-08 01:30] luis-vera commented on #290
Hi again. I tried with:

python examples/tacotron2/extract_duration.py --rootdir dump_ljspeech/valid/ --outdir dump_ljspeech/valid/durations/ --checkpoint examples/tacotron2/exp/train.tacotron2.v1/checkpoints/model-65000.h5 --use-norm 1 --config examples/tacotron2/conf/tacotron2.v1.yaml --batch-size 32 --win-front 3 --win-back 3

but I found an error because the directory "checkpoints" is empty so

[2020-10-08 02:18] machineko commented on #290
You have to download pretrained taco2 model just follow example tutorial :)

[2020-10-08 03:34] luis-vera commented on #290
Hi, thanks a lot for your cooperation. I downloaded the model h5 and I tried again:

Traceback (most recent call last):
  File "examples/tacotron2/extract_duration.py", line 237, in <module>
    main()
  File "examples/tacotron2/extract_duration.py", line 161, in main
    mel_outputs, post_mel_outputs, stop_outputs, alignment_historys = tacotron2(
  File "C:\Python38\lib\site-packages\tensorflow\p

[2020-10-08 07:24] dathudeptrai commented on #292
@sabby993 can you try to load that file by manual :)).
[code]

[2020-10-08 07:25] dathudeptrai commented on #291
@theAayushbajaj here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/processor/ljspeech.py#L165). Just load audio by soundfile.

[2020-10-08 07:27] dathudeptrai commented on #290
can you install a newest tensorflow 2.3.1 and tensorflow_addons 0.11.2 and try again ?

[2020-10-08 10:54] sabby993 commented on #292
@dathudeptrai There is no file called ufeffakl_nz_cw_0001.wav in my dataset. The first file is akl_nz_cw_0001.wav and that is my confusion here because there is no file in my dataset with that name. I modeled everything in my dataset according to the LJspeech dataset and I have made the metadata.csv the same structure as LJSpeech has.

[2020-10-08 11:00] dathudeptrai commented on #292
@sabby993 maybe that file exist in metadata.csv but not in wav folder :D

[2020-10-08 13:46] luis-vera commented on #290
Hi. Yes, I have it installed in my PC

2.3.1

0.11.2

[2020-10-08 21:34] machineko commented on #290
You can try TF 2.1 and some older TF addons also diffrent python version (3.6 is the official version for TensorFlow docker images).

[2020-10-09 02:12] dathudeptrai commented on #290
@luis-vera can you add this code https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L18-L20 in the head of the extract_duration.py ?

[2020-10-09 03:36] NekiMedo opened #293 ""End-to-end example" from the front page meant to be working?"
Hi, is the "End-to-end examples" Python script meant to be working without modfications? It references a few `*.h5` files and there are no such files in the repo:

    ...
    OSError: Unable to open file (unable to open file: name = './examples/fastspeech/pretrained/model-195000.h5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)

What am i missing here?

[2020-10-09 03:38] dathudeptrai commented on #293
you need to download it :))) for example here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#pretrained-models-and-audio-samples)

[2020-10-09 03:45] NekiMedo commented on #292
Is the `\ufeff` part of that path meant to be a Unicode character? [zero width no-break space](http://www.fileformat.info/info/unicode/char/feff/index.htm)
Looks like someone is inserting that char.

[2020-10-09 04:08] NekiMedo commented on #293
Thanks for the link.
At the URL pointed to by the above i can find `model-150000.h5` and when the script is modified for the file name change the error message becomes:

    ValueError: You are trying to load a weight file containing 10 layers into a model with 6 layers.

And that's before the script attempts to read `generator-1500000.h5` - which i don't know where to find either.
So i guess the

[2020-10-09 04:14] dathudeptrai commented on #293
@NekiMedo i think you use wrong config :))). Seems you are using config V2 rather V1 :)). BTW, if you want to run and try, you can use our colab :)) (https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing). Generator checkpoint here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/multiband_melgan#pretrained-models-and-audio-samples).

[2020-10-09 04:28] NekiMedo commented on #293
you are probably right although i'm only guessing that *'wrong config'* refers to this line in the code:

    fs_config = AutoConfig.from_pretrained('./examples/fastspeech/conf/fastspeech.v1.yaml')
Yeah, colab is a funny beast, Google is rather hostile towards Firefox and the page doesn't render at all; not sure that i want to install Chrome on my PC so i might revisit this later from a different

[2020-10-09 07:21] sabby993 commented on #292
@dathudeptrai I have checked...there isn't a file name of that sort in the metadata.csv file

[2020-10-09 08:47] #265 closed

[2020-10-09 08:48] xiaoyangnihao commented on #265
thanks, i will try

[2020-10-09 09:56] kb-rahul commented on #272
@dathudeptrai : I am training on dual V100 gpu. I have set max mel length to 850 as recommended above. I still see 12-14/it. Can you think of reason why? or what I could do to speed up the process?

[2020-10-09 19:22] qianhui-wan opened #294 "Error during evaluation step"
Hi, I'm training a tacotron2 model and had this error at the evaluation step during training

[code]

Is this related to the mel length of valid set that is over 2000? But I thought the 2000 limitation applies to train set only?

[2020-10-10 06:04] dathudeptrai commented on #294
@qianhui-wan 2k is maximum mel length in both training and valid. 3010 is so long, you need split/cut it into multiple chunks, a max mel length in training should be around 800-900, for validation it can be <= 1500

[2020-10-10 10:23] Nistrian opened #295 "The ids length does not match the length of the other npy arrays"
I am trying to run fastspeech2 using ljspeech dataset, which is referenced at [here](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2)
I have gone through all the steps outlined in mfa_extraction. Before trying to run fastspeech2, I decided to look at the length of the arrays contained in the dump. All arrays except **ids** have the same length. And for **all** sample

[2020-10-11 16:00] OscarVanL opened #296 "Fine-Tuning with a small dataset"
Hello!

I'm trying to evaluate ways to achieve TTS for individuals that have lost their ability to speak, the idea is to allow them to regain speech via TTS but using the voice they had prior to losing their voice. This could happen from various causes such as cancer of the larynx, motor neurone disease, etc.

These patients have recorded [voice banks](https://www.mndassociation.org/professionals/

[2020-10-12 02:10] dathudeptrai commented on #295
@Nistrian it mean the number of files, not the length of each file :D

[2020-10-12 04:08] #293 closed

[2020-10-12 04:29] dathudeptrai commented on #296
@OscarVanL Hi, great idea :D. I have some guidances for you to customized voice via fine-tuning bellow:

- About latency, fastspeech2 + mb-melgan is enough for you in this case, it can run in real-time on mobile devices with a good generated voice.
- You can use a LJSPeech pretrained model to fine-tune on ur patient-specific data. Sice ur dataset is small (100 recorđe phrases) then there are many

[2020-10-12 05:02] GavinStein1 commented on #125
Hi there, I am getting the NaN problem when training my Tacotron2. it occurs between 18.1k and 18.2k iterations.

---
# 18,100 itr #
![0_alignment](https://user-images.githubusercontent.com/46909879/95706684-d734f100-0c9a-11eb-9194-33768afd559b.png)
![1_alignment](https://user-images.githubusercontent.com/46909879/95706686-d8feb480-0c9a-11eb-8133-01fccb0af520.png)
![2_alignment](https://user-image

[2020-10-12 05:07] ZDisket commented on #296
@OscarVanL @dathudeptrai
FastSpeech2 is definitely the right architecture, it's very tolerant of small datasets (my guess is because it doesn't have to learn to align them); I've had success finetuning on even 80 seconds of audio, although that was female -> female, but there shouldn't be a problem with male voices, which I've also had success on.
Although I've had little success when finetuning m

[2020-10-12 07:23] OscarVanL commented on #296
Wow, thank you both for the detailed replies. That's really helpful!

@dathudeptrai Thank you for offering to make a PR to help train selected layers.

@ZDisket It's great to hear your success even with a limited dataset. Fortunately we have much more than 80 seconds of audio even in the worst cases.

Could you explain the idea of a universal vocoder to me? How is it possible to get a customised v

[2020-10-12 12:23] luis-vera commented on #290
I added the code in extract_duration.py and the error was this:

Traceback (most recent call last):
  File "examples/tacotron2/extract_duration.py", line 242, in <module>
    main()
  File "examples/tacotron2/extract_duration.py", line 166, in main
    mel_outputs, post_mel_outputs, stop_outputs, alignment_historys = tacotron2(
  File "C:\Python38\lib\site-packages\tensorflow\python\eager\def_func

[2020-10-12 18:35] ZDisket commented on #296
@OscarVanL Conventional text2speech works with a text2mel model, which converts text to spectrograms, and vocoder, which turns spectrograms into audio. Training a vocoder on many, many different voices can achieve a "universal vocoder" which can adapt to almost any speaker. I know the owner of [vo.codes](https://vo.codes/) uses a universal vocoder. You'll still have to finetune the text2mel though

[2020-10-12 19:43] OscarVanL commented on #296
Thank you for the explanation.

So my understanding is that I will have to train a FastSpeech2 text2mel model to create patient-specific mel spectrograms. This will involve me taking a LJSpeech pretrained model, then fine-tuning as described by @dathudeptrai with patient voice data.

After this, are there pre-trained MelGAN Universal Vocoders available to download that have already been trained on

[2020-10-12 22:22] ZDisket commented on #296
@OscarVanL

There are three MelGANs:  regular MelGAN (lowest quality), ditto + STFT loss (somewhat better), and Multi-Band (best quality and faster inference), you can hear the differences in the [demo page](https://tensorspeech.github.io/TensorFlowTTS/). There's also ParallelWaveGAN, but it's too slow on CPU to consider.

As for pretrained models, there are none trained natively with this repo on

[2020-10-12 22:41] OscarVanL commented on #296
Thank you once again for helping with my noob questions! I'll definitely check out that resource with trained models.

[2020-10-13 01:44] sabby993 commented on #292
I was able to get it working because my metadata.csv file had some unexpected spaces and after I removed them manually the preprocess worked.

[2020-10-13 01:44] #292 closed

[2020-10-13 02:05] yg1031 opened #297 "How to inference on CPU?"
I followed the example below and it worked well on Ubuntu 16.04:
https://github.com/TensorSpeech/TensorFlowTTS#end-to-end-examples
But I want to get it work on my robot without GPU, so how to inference model on CPU, is there any example?

[2020-10-13 02:13] dathudeptrai commented on #297
[code]

Add above code in the head of the runing script.

[2020-10-13 02:20] yg1031 commented on #297
It worked!
Thank you for your quick reply!

[2020-10-13 02:20] #297 closed

[2020-10-13 10:08] Zak-SA commented on #296
that's interesting subject,
Any example how to fine tune mb-melgan with a pretraind model?  in readme it only says Just load pretrained model and training from scratch with other languages. can you explain more?
thanks

[2020-10-13 10:57] xiuyayang opened #298 "How to train with dataset is vietnamese"
Hi, @dathudeptrai, thanks for great repo about Text to speech.
I have question about preprocess ljspeech. In .csv data has format
12_wav | | hai cái đầu sẽ nghĩ ra những cái mà một cái đầu không nghĩ ra nổi, and I change to  _letters = "AÁÀẠẢÃĂẰẮẶẲẴÂẤẦẬẨẪBCDĐEÉÈẺẼẸÊẾỀỂỄỆFGHIÍÌỊỈĨJKL... But when I training finished at 40k but synthesize to [audio](https://drive.google.com/file/d/1YIQmMleH-Yd_dk7tIl

[2020-10-13 13:15] dathudeptrai commented on #298
@xiuyayang did you normalize text before training ?. Seems there are some problems with the preprocessing step here :D

[2020-10-13 13:40] dzungcamlang commented on #298
@dathudeptrai, no, i don't,  i just do step by step in readme.
1. tensorflow-tts-preprocess
2. tensorflow-tts-normalize
3. Train tacotron 2
4. Extract duration to train fastspech 2.
But when i do synthesize, both model tacotron 2 and fastspeech 2 generate the same audio...
Can you let me know, what should i do.
Thanks so Much.

[2020-10-13 13:42] xiuyayang commented on #298
@dathudeptrai, no, i don't, i just do step by step in readme.

tensorflow-tts-preprocess
tensorflow-tts-normalize
Train tacotron 2
Extract duration to train fastspech 2.
But when i do synthesize, both model tacotron 2 and fastspeech 2 generate the same audio...
Can you let me know, what should i do.
Thanks so Much.

[2020-10-13 15:34] dathudeptrai commented on #298
i think the problem is in normalization step before training, maybe you should lower the text, convert number to readable form.

[2020-10-13 15:37] dathudeptrai commented on #296
@OscarVanL i just make a PR for custom trainable layers here (https://github.com/TensorSpeech/TensorFlowTTS/pull/299).

@Zak-SA You can try to train universal vocoder or load the weight from pretrained model list then training as normal (follow README.).

[2020-10-13 15:55] OscarVanL commented on #296
Amazing, thank you to both of you for going above and beyond to help!

[2020-10-13 18:21] OscarVanL opened #301 "prepare_mfa.sh: No such file or directory"
In the `prepare_mfa.sh` script [here ](https://github.com/TensorSpeech/TensorFlowTTS/blob/63d42208ec9ba9c1728cfa3499356265cd83f7e4/examples/mfa_extraction/README.md), running the script results in an error `examples/mfa_extraction/scripts/prepare_mfa.sh: line 6: cd: mfa: No such file or directory`

This is probably because the folder created with `tar -zxvf montreal-forced-aligner_linux.tar.gz` is

[2020-10-13 18:37] OscarVanL commented on #301
Ok, my assumption is wrong because the later run_mfa.py script is expecting a folder called `montreal-forced-aligner`. So in that case, I assume the below `cd mfa` is the error.

[2020-10-13 23:32] taylorlu opened #303 "Bad inference result but normal result in train/evaluate stage of Tacotron2"
Hi, thanks for your job.
But I encountered a trouble shot when inferred a sample using trained *.pth file.
This was the mel spectrum in evaluate stage when training.
![企业微信截图_20201014071408](https://user-images.githubusercontent.com/5125756/95926074-f2fcdc00-0ded-11eb-8ea1-1fe0e2d61656.png)
and this was the mel output using `decode_tacotron2.py`
![企业微信截图_20201014071241](https://user-images.githubu

[2020-10-14 01:48] xiuyayang commented on #298
Thanks @dathudeptrai  for your fast response.
In metadata.csv has texts lower and hasn't numbers.  Why ljspeech_mapper.json in dump_ljspeech has the same result when I try replace _letters = "AÁÀẠẢÃ.." instead of _letters = "ABCDEFGHIJKLMN.." and comment valid_symbols?
Can you share me intro to train tacotron 2 in Vietnamese?
Thanks so much.

[2020-10-14 02:49] dathudeptrai commented on #298
@xiuyayang you should define ur dataset parameter before preprocessing (see https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/bin/preprocess.py#L347-L359)

[2020-10-14 07:41] engineergun opened #304 "FastSpeech2 convergence problem"
First of all thanks for this awesome repository. I have trouble with training FastSpeech2. I trained both Turkish LJSpeech formatted data and directly LJSpeech1.1. According to FastSpeech2 paper, 160k steps enough for convergence. My models were trained until 320k steps but output Mel-spectrogram and audio (decoded with Griffin-Lim) were not apprehensible.

For LJSpeech dataset, I used directly de

[2020-10-14 07:44] dathudeptrai commented on #304
@engineergun i think there is something wrong with ur durations :)), f0 or energy :D

[2020-10-14 07:51] ZDisket commented on #304
@engineergun I had a similar problem with a multispeaker dataset until I halved the initial learning rate, but default hparams worked well for all single-speakers. If that doesn't work, there must be something wrong with your data or how you process it.

[2020-10-14 07:54] dathudeptrai commented on #303
@taylorlu the model is not good enough to inference without teacher forcing mode in 30k :D. maybe 60k-80k is ok :D.

[2020-10-14 07:56] engineergun commented on #304
@dathudeptrai
thank you for extremely quick response :D
My train and eval curves
![train](https://user-images.githubusercontent.com/67227318/95959808-a4f6d100-0e0b-11eb-96ed-b33fbab64474.png)
![eval](https://user-images.githubusercontent.com/67227318/95959822-aa541b80-0e0b-11eb-805b-9ba176e5cb91.png)

[2020-10-14 08:01] dathudeptrai commented on #304
ok durations loss is wrong, it should be around 0.05 -> 0.1 for durations loss :)). @ZDisket @engineergun

[2020-10-14 08:14] engineergun commented on #304
@dathudeptrai @ZDisket thanks i'll check it :) :+1:

[2020-10-14 08:14] #304 closed

[2020-10-14 17:36] OscarVanL opened #305 "Dockerfile does not install dataclasses dependency"
Hi,

I'm following the readme [here](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_libritts).

I created and started the docker container as follows:

`bash examples/fastspeech2_libritts/scripts/build.sh`

`bash examples/fastspeech2_libritts/scripts/interactive.sh`

Now when running

[code]

I get the error: `ModuleNotFoundError: No module named 'dataclasses'`

Thi

[2020-10-14 18:39] OscarVanL commented on #296
Some early observations going through the steps in `examples/mfa_extraction/README.md` and `examples/fastspeech2_libritts/README.md` with my own dataset...

* Your dataset should be in mono, or else during one of these steps the script will fail.

* Your dataset should not use dashes in the name. My dataset was named as `audio-1.wav`, `audio-2.wav`. In `fix_mismatch.py` this will cause the script

[2020-10-14 22:44] OscarVanL opened #306 "fix_mismatch.py has ZeroDivisionError if mfa with longer duration is 0"
Running fix_mismatch.py results in a ZeroDivisionError if the `mfa_longer` list has 0 elements.
[code]

[code]

This logging line is responsible, when dividing by `len(mfa_longer)`:

[code]

The next logging section directly below already has a workaround for this problem, so this just needs to be replicated for the above line...

[code]

[2020-10-15 00:06] OscarVanL opened #308 "FastSpeech2 Out of Memory when allocating tensor"
I'm trying to finetune a FastSpeech2 model as we discussed in https://github.com/TensorSpeech/TensorFlowTTS/issues/296 for this I am using the pretrained [fastspeech2.v1](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#pretrained-models-and-audio-samples) model and some of my own voice dataset.

I have followed the steps in `examples/mfa_extraction/README.md` and `ex

[2020-10-15 00:08] ZDisket commented on #308
@OscarVanL What's the maximum length of a clip and transcription in your dataset?

[2020-10-15 00:10] OscarVanL commented on #308
The longest clip is 1 minute 34 seconds. This clip is 252 words.

[2020-10-15 00:11] ZDisket commented on #308
@OscarVanL That's too long. Ideally, maximum clip length should be about 15 seconds, otherwise it will always OOM.

[2020-10-15 00:13] OscarVanL commented on #308
I see, makes sense. I'll split those up tomorrow and give it another try. I feel like I'm slowly making progress on this 😅

Thanks!

[2020-10-15 00:17] OscarVanL commented on #308
Quick question, at the bottom of [examples/mfa_extraction/README.md](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction#problems-with-mfa-extraction) it says "Looks like MFA have problems with trimmed files it works better (in my experiments) with ~100ms of silence at start and end".

If I take my existing voice clips and cut them up into ~15cm clips, won't this leav

[2020-10-15 00:19] ZDisket commented on #308
@OscarVanL I personally haven't encountered any problems with very trimmed clips, but I would recommend manually adding some silence.

[2020-10-15 08:10] ZhaoZeqing opened #309 "AttributeError: 'PerReplica' object has no attribute 'numpy' when on multi GPU training"
I'm trying to train Tacotron2 on multi GPU with P100, then got this error. It's ok with 2080Ti.

Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 488, in <module>
    main()
  File "examples/tacotron2/train_tacotron2.py", line 480, in main
    resume=args.resume,
  File "/usr/local/lib/python3.6/dist-packages/tensorflow_tts/trainers/base_trainer.py", line 852

[2020-10-15 08:19] dathudeptrai commented on #309
i know this bug :))) let me fix it :))).

[2020-10-15 08:27] #309 closed

[2020-10-15 17:56] OscarVanL commented on #308
Awesome! I got it working with the trimmed clips without any errors. It's now training! :)

[2020-10-15 21:09] #308 closed

[2020-10-15 21:10] OscarVanL commented on #306
My PR was merged so this is fixed :)

[2020-10-15 21:10] #306 closed

[2020-10-16 02:44] xiuyayang commented on #298
I do exactly what you guide, but,  result audio synthesize hurt..
Do you trained text to speech in vietnamese? Can you share me script in ljspeech.py in processor...?
Thanks so much.

[2020-10-16 05:28] dathudeptrai commented on #305
seems python3.7 have dataclasses by default :D.

[2020-10-16 06:41] JuliRao commented on #237
@Zak-SA Hi, I also encounter this bug with tf_nightly-2.4.0.dev2020916, I use a different version of tf_nightly-2.4.0.dev2020630 and the bug is gone. Maybe you can try, too.

[2020-10-16 07:28] Dominuke commented on #294
Noob question but is it possible to change the 2000 limitation? I have been trying to find where the limit is.

[2020-10-16 08:01] juunnn opened #310 "Incompatible shapes when training Fastspeech2"
Hi, first of all, I want to thank you for providing this great framework, this is really help me.
Second, I want to ask about the problem I encounter while trying to training fastspeech2. I want to try it with my own dataset, the dataset is in ljspeech format, the only different is the sample rate which is 16K instead of 22.5K. I did the prepocessing with said sample rate, doing duration extractio

[2020-10-16 09:56] dathudeptrai commented on #294
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L806. The maximum step to train tacotron2 should be < 1k.

[2020-10-16 10:51] OscarVanL commented on #310
When you prepared your dataset did you fix the frame differences?

See [this readme](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction). The specific script is at the bottom, `fix_mismatch.py`

[2020-10-16 12:31] OscarVanL commented on #296
Hi,

I've begun fine-tuning with the guidance given by @dathudeptrai :)

I've taken the LJSpeech pretrained model "fastspeech2.v1" to fine-tune.

I took the `fastspeech2.v1.yaml` config (designed for LJSpeech dataset), and made only one change, I set `var_train_expr: embeddings` from the PR dathudeptrai made. I was unsure what other hyperparameters to change.

Here you can see the TensorBoard resu

[2020-10-16 12:34] OscarVanL commented on #305
In this case, the problem is the docker image `tensorflow/tensorflow:2.2.0-gpu` includes Python 3.6.9, not Python 3.7.

Either the docker image should be upgraded, or dataclasses should be added to the dependencies.

[2020-10-16 14:22] jinfagang opened #311 "Train tactron2 baker error"
Can anyone could take a look:

[code]

[2020-10-16 14:29] jinfagang opened #312 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Trying to access element 62 in a list with 62 elements."
What this error comes from?

tensorflow.python.framework.errors_impl.InvalidArgumentError:    Trying to access element 62 in a list with 62 elements.

access 62 with list elements only 62?

[code]

[2020-10-16 14:32] jinfagang commented on #201
@dathudeptrai  I try to train get this error:

[code]
My command:

[code]

[2020-10-16 15:07] dathudeptrai commented on #312
@jinfagang what is ur tf_addons and tf version ?

[2020-10-16 15:08] dathudeptrai commented on #311
seem the vocab_size is wrong, 149 is ljspeech vocab size.

[2020-10-16 15:08] dathudeptrai commented on #305
got it, i will add it as dependencies :D

[2020-10-16 15:09] dathudeptrai commented on #296
@OscarVanL can you try to train all network ?, `var_train_expr: null` and report the tensorboard here then I can give you the right way to go :D.

[2020-10-16 15:10] OscarVanL commented on #296
Ok, thanks :D

[2020-10-16 19:35] OscarVanL commented on #296
@dathudeptrai Here's my TensorBoard after training 40k steps with `var_train_expr: null` - I don't think it's worth training any longer..

![image](https://user-images.githubusercontent.com/7999692/96301433-19d63080-0fef-11eb-9575-a7b6cfea1095.png)

[2020-10-17 01:15] jinfagang commented on #311
@dathudeptrai Thanks for your reply! I am using baker's config for train, can u help me? I don't know which where should I edit?

[2020-10-17 01:16] jinfagang commented on #312
@dathudeptrai I am simply using latest version.

[2020-10-17 01:17] jinfagang commented on #312
@dathudeptrai My bad, previously issue is I am wrongly using config, when switch to baker's config, I got this error.

I don't know how to do now. Please help me

[2020-10-17 04:37] Dominuke commented on #294
@dathudeptrai thank you for the solution, I found after preprocessing with LibriTTS there are many exceeding this limit. I will see what happens if i just push on through

[2020-10-17 08:07] taylorlu commented on #303
thanks for your suggestion, I am trying it, it seems better then before.

[2020-10-17 11:01] OscarVanL commented on #296
@dathudeptrai Here's my tensorboard with 120k steps with `train_vr_expr: null`.
![image](https://user-images.githubusercontent.com/7999692/96335421-61e96780-1070-11eb-876f-2339dcf2a2c0.png)

[2020-10-17 13:53] abylouw commented on #237
I can confirm that the tf_nightly-2.4.0.dev2020630 Python library indeed works, but I also have not been able to get the C library working.

[2020-10-17 15:48] #298 closed

[2020-10-17 16:19] dathudeptrai commented on #296
ok i can understand what is the problem with ur dataset :D. I want you try to train the model with `var_train_expr: "speaker|f0_predictor|energy_predictor|duration_predictor|f0_embeddings|energy_embeddings|mel_before|postnet|decoder/layer_._0"`

[2020-10-17 16:27] dathudeptrai commented on #237
about C library, maybe we should ask @ZDisket :v. You can refer his tensorvox here (https://github.com/ZDisket/TensorVox, will be intergrated to tensorspeech in the future :)), maybe :v: ).

[2020-10-17 16:28] #311 closed

[2020-10-17 16:29] dathudeptrai commented on #312
let me try to re-train tacotron2 based on baker config with the master code, i will reply you tmr :D.

[2020-10-17 16:35] OscarVanL commented on #296
Ok I will try that now 👍 Thanks!

[2020-10-17 16:44] dathudeptrai commented on #296
after that, maybe you should try hop_size is 240 for 24k audio and try again. MFA uses 10ms to calculate duration, so the hop_size should be 240 to match exactly with the duration extracted from MFA, if we use 300 or 256 then we should round the duration and this duration is not precise :D.

[2020-10-17 16:48] OscarVanL commented on #296
I wanted to ask a question about mfa duration...

My recordings are 44100Hz. For `txt_grid_parser --sample_rate`, do I use 44100 or 24000? Because later the preprocessing stage downsamples to 24000.

[2020-10-17 17:08] abylouw commented on #237
From what I can see @ZDisket is using the Tensorflow C++ library in TensorVox. I am trying to use the TensorFlow Lite C library.
I got it working, at least on FastSpeech2 the inference is working as expected, I still need to try MBMelGan. I needed to add the Flex delegate library. It is still a bit large, but at least inference is working.

[2020-10-17 17:24] geneing commented on #310
Looks like the error is in the encoder.  I believeI had this problem when I was using incompatible ljspeech_mapper.json when preparing data and when training. In my case it was a result of having both pip installed version, and an updated git source version on the same computer.

[2020-10-17 17:30] dathudeptrai commented on #296
I think it is 44100 but we may need ask @machineko

[2020-10-17 17:37] machineko commented on #296
Either methods should works u just need to later change sample rate for calculation in preprocessing ( downsampling first should works better but results shouldnt be noticable as small diff in durations shouldnt affect fs2 according to paper )

[2020-10-17 18:07] dathudeptrai commented on #296
1 vote for downsampling first :))) @OscarVanL

[2020-10-17 18:16] OscarVanL commented on #296
I agree. I think downsampling first will avoid any confusion or mistakes.

[2020-10-17 18:40] ZDisket commented on #296
@dathudeptrai I have two phoneme LJSpeeches, [22KHz](https://drive.google.com/drive/folders/1wlv0sVsh9QHc9IE1pKf4-kg0i6pAI-yK) and (upsampled) 24KHz with LibriTTS preprocessing settings like in kan-bayashi repo. But the phoneme IDs might differ.

[2020-10-17 18:59] ZDisket commented on #237
@abylouw I'd like to know how your TFLite mb-melgan runs. For me the audio was very noisy.

[2020-10-17 19:04] dathudeptrai commented on #237
Maybe because you used 8bit tflite :))) for melgan, you should use float16 or float32

[2020-10-17 19:18] ZDisket commented on #237
@dathudeptrai Never saw that documented, but I'll keep it in mind
@abylouw

Actually, I'm using the TF C library and a third-party wrapper (it's way easier than directly compiling the cpp one) for everything except the G2P (Phonetisaurus), but I'm working on changing that.

[2020-10-17 19:25] abylouw commented on #237
I will post a sample as soon as I am done. For now I have only tested FS2 and then used the Python Tensorflow library for vocoding on the tflite produced mels. That sounded almost the same as the Tensorflow FS2 produced mels.

I am first trying to see if I can get it fast enough for my purposes.

[2020-10-17 19:27] OscarVanL commented on #296
OK, I have downsampled to 24000Hz, redone all of the mfa extraction, preprocessing, normalisation, and changed `hop_size` to 240. I am training the layers you suggested. I will update you with a new tensorboard tomorrow :) Thank you for all your comments.

[2020-10-17 20:48] abylouw commented on #237
@ZDisket  My findings currently are:

* To get tflite working with an FS2 model you need to include the Flex delegate library, which bloats the size of tflite to 140+ MB.
* I cannot get the XNNPACK integration working (optimised implementations). It seems that it currently does not work dynamic sized layers.
* With AVX2 and other optimisations compiled in tflite, it is still much slower than TF.
*

[2020-10-18 02:52] jinfagang commented on #312
@dathudeptrai  Oh! So many thanks! I finally fixed it, it was because a stupid mistake..
I didn't install cudnn for tensorflow.

TensorFlow's error traceback so misleading... thanks for your help!

[2020-10-18 02:52] #312 closed

[2020-10-18 07:13] lalimili6 opened #314 "Compare models"
Hi, Dears
At this time, you support 6 models. Could you compare them? How can I decide to start training a model?
Pleas, list models by training time, data need for training, synthesizing voice quality, synthesizing time, synthesizing  resource, in whole which one prefer and etc.

best regards

[2020-10-18 10:40] OscarVanL commented on #296
@dathudeptrai Here's my TensorBoard for that last attempt.
![image](https://user-images.githubusercontent.com/7999692/96365205-c40ca000-1136-11eb-9701-67d50ec99593.png)

[2020-10-19 02:27] dathudeptrai commented on #296
the model overfit too much, in this case i think you should pretrained ur model by libriTTS dataset then you do not need retrained embeddings layers.

[2020-10-19 02:34] dathudeptrai commented on #237
@abylouw I will make a notebook for mb-melgan tflite convert, it almost the same as fs2/tacotron2 conveter. For mb-melgan, i do not know why you need flex delegate, the only model on this repo need to use flex delegate is tacotron2 (while loop in decoder) :D. For mb-melgan, everything is much simpler :D.

[2020-10-19 03:27] ZDisket commented on #314
@lalimili6 I'll craft a spreadsheet for such comparisons in a bit, but in the meanwhile, here's one comparing GAN vocoders I made a while ago: https://docs.google.com/spreadsheets/d/1rCIlzDdTnE-VMaA9d7D09wPjeA79y4Q_zRPIh4Bp8XI/edit?usp=sharing

[2020-10-19 04:27] ZDisket commented on #237
@dathudeptrai Flex delegate is required for FastSpeech2 TFLite because it can't be exported with only tflite built-in ops and it's required for regular TF ops (at least the last time I tried)

[2020-10-19 04:29] dathudeptrai commented on #237
hmm, maybe you are right :D, my private fastspeech2 is different so I do not need flex delegate :D.

[2020-10-19 07:49] OscarVanL commented on #296
Thank you. I will try to record some more phrases using more common words.

Curreny I am using 15 minutes of recordings I made while reading a book, maybe the words used are not diverse enough. (The book is scientific so uses some rare words, so maybe these do not match the training data well.)
I will try reading one of the same books used in the libriTTS dataset, and some common phrases.

When yo

[2020-10-19 08:19] dathudeptrai commented on #296
yes, the key to fine-tune TTS on a small dataset is that you should a good phoneme/character embeddings layers. So when you fine-tune, the model just need to learn speaker accent. The keyword for ur problem is `voice cloning`, you can refer this paper (https://arxiv.org/pdf/1806.04558.pdf). whatever your approach (fine-tune TTS or voice-cloning), you still need to pretrained ur model by large mult

[2020-10-19 09:12] machineko commented on #296
You can also mix ur dataset with other speakers and it should learn fine so u dont need to later fine tune models 😁

[2020-10-19 09:52] OscarVanL commented on #296
I don't understand how this would work. I am trying to make a TTS model that is specific to an individual's voice (voice cloning). If I train only on a mixture of voices, how will this become specific to one voice? Surely there will always need to be some fine tuning?

[2020-10-19 09:55] dathudeptrai commented on #296
you can train all in one :)). We have speaker embeddings :D. after training you just need to pass speaker id into the model :D

[2020-10-19 16:12] lalimili6 commented on #314
@ZDisket Thanks for share that sheet and explain them in details.
I look forward to more sheet however, Take it easy, In your implements and experiments can you compare models in ballpark figure?

[2020-10-19 18:55] ErfolgreichCharismatisch opened #315 "End-to-End Example aborts with ValueError: Shapes (199, 384) and (149, 384) are incompatible"
OS: Windows 10
Python: Anaconda

I chose your "End-to-End Example".

[code]

 I changed only

[code]

using the checkpoint from https://drive.google.com/open?id=1f69ujszFeGnIy7PMwc8AkUckhIaT2OD0

I got

[code]

How do I solve this?

[2020-10-20 02:16] dathudeptrai commented on #315
@ErfolgreichCharismatisch can you try fastspeech2 rather than fastspeech1 ?, (pretrained here https://drive.google.com/drive/u/1/folders/1Q7QrTMksI-5F3_44-68ex2RkOO_789TW)

[2020-10-20 04:40] jackiegeek opened #316 "how to change mb-melgan yaml config to train 8khz data"
I have change hop_size to 100 (8000/num-mels) and upsample_scales [8 4 2]

[2020-10-20 05:45] ZDisket commented on #316
@jackiegeek All left is to change the upsample scales so that `hop_size/result of multiplication between upsample scales = 4` (n of out_channels). For 32KHz (hop_size 400), I did `[5, 5, 4] `

[2020-10-20 06:09] tts-nlp commented on #316
@jackiegeek You should make the following changes：
`hop_size=100, windows_size=4000, upsample_scales=[5,5]`
for multiband=4 mode

[2020-10-20 08:19] juunnn commented on #310
Yeah, I did that until the end. It works fine

I did it and I think it works fine. This is the output that I got from doing that
[code]
But the problem is still the same.

[2020-10-20 11:19] jackiegeek commented on #316
thx very much!! As far as I know,  the parameter

fmin: 80 (if speaker is male, should be set to 55 because male voice have a low frequence)
fmax: <= sample rate / 2
hop_size = sample rate(sr) / num_mels
hop_size = out_channels * (multiplication between upsample scales  ) ( hop_size:100 = out_channels 4 * [5 * 5]

[2020-10-20 12:40] seicaratteri opened #317 "Can I retrain only FastSpeech or Tacotron without retraining MB-MelGAN?"
Hello! First of all, thank you so much for the work: it's incredibile! 🥇

I want to retrain the system on an a different voice, with hours of recordings I will make. In order to achieve so, I was thinking of retraining FastSpeech2 / Tacotron. I have a doubt: do I need to re train as well MB-MelGAN? or does it just work as universal vocoder?

One last question: is there a general better way to trai

[2020-10-20 16:32] OscarVanL opened #318 "Convert Multi-band MelGAN pretrained model to TFLite"
Hi,

I'm looking to convert the [pretrained universal vocoder for Multi-band MelGAN ](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/multiband_melgan#pretrained-models-and-audio-samples)into a TensorFlow Lite `.tflite` file for use on Android.

I'm trying to convert `multiband_melgan.v1_24k` (universal vocoder) to be a drop-in replacement for the `mbmelgan.tflite` (not a univer

[2020-10-20 16:48] OscarVanL commented on #318
Hi, apologies, I worked this out on my own.

I needed to use the MultiBangMelGANGeneratorConfig to load the `.yaml` config that comes with the model.

[2020-10-20 19:33] OscarVanL commented on #318
And now I see there's already a PR to add this functionality, lol.

[2020-10-20 19:48] OscarVanL commented on #317
Yes, I asked a similar question and the maintainers told me that it's not necessary to train a MelGAN model if you use one that has been trained on many speakers. This becomes a universal vocoder and can synthesise speech from any person.

See the first few replies on my question [here](https://github.com/TensorSpeech/TensorFlowTTS/issues/296).

Specifically, [on this page](https://github.com/Tens

[2020-10-20 20:40] OscarVanL commented on #318
So using my code to generate the `.tflite`, when I replace `mbmelgan.tflite` in the Android example I get the error.

`java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: tensorflow/lite/kernels/reshape.cc:69 num_input_elements != num_output_elements (13760 != 8480)`

Any ideas why I might be getting that error?

[2020-10-20 20:55] OscarVanL commented on #274
@Zak-SA Did you ever have success creating `.tflite` models that work with the Android example? I am trying to convert a MB-MelGAN model to work on Android with limited success...

[2020-10-20 21:40] ErfolgreichCharismatisch commented on #315
I tried all 6 fastspeech2 yaml files and I got those error messages

[code]

None of them works with your pretraining.

Two things: I am working with https://github.com/dzungcamlang/TensorflowTTS-Mode - do I need to clone this repository?

[2020-10-20 22:13] ErfolgreichCharismatisch commented on #315
Thanks.

I got that to work with the tutorials' files.

Now I get

[code]

Ideas?

[2020-10-20 22:55] ErfolgreichCharismatisch opened #319 "What differentiates your approach from commercial approaches?"
Each time a new ML TTS comes out in github, it's not quite there yet.

In part it sounds robotic and unnatural.

That besomes less with each release, but it's still there.

Compare that to commercial TTS based on ML, you notice, that there is a big difference.

My question is: do they achieve this by having more data to have their algorithm practise on or are their algorithms better?

[2020-10-21 00:17] mapledxf commented on #274
@Zak-SA please check your Android code.
one of the tflite inputs should be int format instead of float.

[2020-10-21 00:19] mapledxf commented on #274
could u show me your android code about inferencing the fastspeech tflie model?

[2020-10-21 00:26] Zak-SA commented on #274
@mapledxf thanks.

[2020-10-21 00:28] Zak-SA commented on #274
@OscarVanL Yes it's working for me now, to be honest I wasn't the one who solved the issue, I am waiting for the full details on how it was solved and as soon as I get the fix I will share it here. :)

[2020-10-21 00:36] mapledxf commented on #274
@dathudeptrai u can assign it to me if there is any question or bug relates to android stuff.

[2020-10-21 02:37] jun-danieloh commented on #212
@dathudeptrai Is this issue still not resolved? I just tried to train tacotron2 with mixed_precision setting but got errors.

[2020-10-21 04:04] dathudeptrai commented on #212
that is a tensorflow bug :)), I can't fix by myself :D .

[2020-10-21 04:04] #212 closed

[2020-10-21 04:06] dathudeptrai commented on #274
oh, I really appreciate for your support :D.

[2020-10-21 04:06] #274 closed

[2020-10-21 04:07] jackiegeek commented on #316
I find a reference 8k config file, it seems that set hop_size to 200 rather than 100 is better

https://github.com/kan-bayashi/ParallelWaveGAN/blob/d3b2b7b6b54a66a4e62b6533f8f990564258dabf/egs/yesno/voc1/conf/multi_band_melgan.v1.debug.yaml

[2020-10-21 04:07] dathudeptrai commented on #318
can you run python API for tflite successfully?

[2020-10-21 05:19] mapledxf commented on #318
@OscarVanL
Something wrong with this line:
https://github.com/TensorSpeech/TensorFlowTTS/blob/1dae63feca9259d64b1a3d6a9eeb7fe8f158eeb6/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/module/MBMelGan.java#L50

You should check the shape of the input which is generated from here:
https://github.com/TensorSpeech/TensorFlowTTS/blob/1dae63feca9259d64b1a3d6a9eeb7fe8f158eeb6/examples/an

[2020-10-21 06:17] abylouw opened #321 "MBMelGAN resume training correctly?"
I am fine tuning an MBMelGAN model and it stopped just after 100k steps.

I resumed the training at 100k with the model that was saved there and noticed that the error metrics do not continue in the same range as has been my experience with training FS2, but rather jump up a lot and then quickly start converging to the trend where the 100k errors were.

I stopped training after 105k just to check

[2020-10-21 07:22] seicaratteri commented on #317
Hello @OscarVanL, first of all thanks a lot for your answer! I was looking at the issue you posted but I still had the doubt so that's why I asked :) thank you a lot for clarifying!

Regarding the other question, do you know (or does anybody) if it's better to train a model from scratch (given that I will have around 24h of studio recordings) or if I should fine tune over one of the existing ones?

[2020-10-21 07:27] ZDisket commented on #317
@seicaratteri If you have a lot of data then it's better to train from scratch. And I believe the FastSpeech2 model is responsible for the metallic artifacts on pauses, as I never had them on my mb-melgan eval samples.

[2020-10-21 07:31] OscarVanL commented on #318
Thank you, I will check this later :)

[2020-10-21 07:53] mingkzhou commented on #312
when i test 10 sentences in baker, it's worker. But i test all the baker data (10000 sentences),i got error like fllowing:

Traceback (most recent call last):
  File "examples/tacotron2/train_tacotron2.py", line 486, in <module>
    main()
  File "examples/tacotron2/train_tacotron2.py", line 478, in main
    resume=args.resume,
  File "/home/zmk_test/anaconda3/lib/python3.7/site-packages/tensorflo

[2020-10-21 08:02] seicaratteri commented on #317
Thanks a lot @ZDisket for your answer! 🥇 I still have a doubt about fast speech 2: by listening to the samples here https://fastspeech2.github.io/fastspeech2/ ( the official website of the paper ) there are none of these artifacts. What could be the cause of if it is not the vocoder?

[2020-10-21 08:02] seicaratteri commented on #319
Following! :)

[2020-10-21 08:26] OscarVanL commented on #318
@mapledxf

I made some changes to print the shapes:
1.
[code]

2.
[code]

The console output says:

[code]

When I use the example MelGAN model (`mbmelgan.tflite`) the output looks similar, the shapes all match.

So it seems the sizes have been set correctly in the app.

One difference I see is when the app starts and prints the input/output shapes:

Your working model:
[code]

My broken model:
[c

[2020-10-21 09:17] mapledxf commented on #318
@dathudeptrai could you explain why his mb model has different shapes?
@OscarVanL Have you test your mb model by python api?

[2020-10-21 09:30] dathudeptrai commented on #318
i will make a pull request for MB_melgan converter. They way you convert to tflite seem wrong so the shape is fixed by 100 (hop_size is 300 then the output shape is 300000).

[2020-10-21 10:01] OscarVanL commented on #318
I haven't yet, I will do that later today

[2020-10-21 11:38] leijue222 commented on #143
@mychiux413 Excuse me,  could you please tell me where I can get the Chinese-English mixed dataset？

[2020-10-21 12:22] leijue222 commented on #201
1. The punctuation pause does not seem to be handled.
2. Arabic numbers cannot be directly predicted.
3. Hope this can be mixed in Chinese and English.

[2020-10-21 14:01] brendanxwhitaker opened #322 "Unsupported Ops for TFLite inference in C++"
Why is tf.while_loop used in utils/decoder.py instead of an ordinary while loop? I'm trying to compile a C++ program to run a converted version of this model in TFLite, and it looks like this OP requires the flex delegate, which makes the binary size way bigger. Is it possible to modify the model minimally to make it so it only uses ops that are natively supported by TFLite, so no select tensorflo

[2020-10-21 14:52] dathudeptrai commented on #322
I do not know :D, i just know that we need flex delegate to run tf.while_loop :D. tf.function will convert ordinary while loop to tf.while_loop automatically.

[2020-10-22 01:36] unparalleled-ysj commented on #237
@dathudeptrai @manmay-nakhashi When I used tf-nightly==2.4.0.dev20201020, I also encountered this error: RuntimeError: tensorflow/lite/kernels/reshape.cc:55 stretch_dim != -1 (0 != -1)Node number 83 (RESHAPE) failed to prepare. After reading your discussion, I used tf-nightly==2.4.0.dev20200630 and the stable version of tf2.3.0 for conversion, but both encountered this error: Segmentation fault (c

[2020-10-22 02:16] jucaowei commented on #201
hello, the link to baker dataset was expired , and the officical website show that have no right to access the dataset , i hate to say that ,but can you provide annother way to get the dataset?

[2020-10-22 02:23] leijue222 commented on #201
@jucaowei The link is  [here](https://www.data-baker.com/open_source.htmlt#/data/index/source). The data only has a female voice.

[2020-10-22 02:25] jucaowei commented on #201
thank you !!

[2020-10-22 02:27] jucaowei commented on #201
404 error  ,you can acess the website ? i got 404 not found
HTTP Status 404 – Not Found
Type Status Report
Message /open_source.htmlt
Description The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.

[2020-10-22 02:30] leijue222 commented on #201
@jucaowei
I can access the website normally. Which country are you in now? Maybe a VPN is needed for network problems?

[2020-10-22 02:35] jucaowei commented on #201
i already use VPN with HK node,not working, but  my friend access the website right now,  really appreciate for you reply

[2020-10-22 02:40] peter05010402 opened #323 "multiband_melgan inference wav is not voice"
After train 4000k steps,  multiband_melgan inference wav is not voice
the wav file as follow
[2fdb2415-5b3a-49f9-9aba-29b0a87d7967.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5419707/2fdb2415-5b3a-49f9-9aba-29b0a87d7967.zip)

[2020-10-22 02:43] ZDisket commented on #323
@peter05010402 What about previous checkpoints? I train my mb-melgans for 2.5M steps at most with elevated sample rates.

[2020-10-22 02:49] peter05010402 commented on #323
@ZDisket  Sorry, i don't understand what you said
Could you describe in detail？

[2020-10-22 02:52] ZDisket commented on #323
@peter05010402 How do the audio samples sound like at previous stages in training (900k, 1M, 1.5M)?

[2020-10-22 02:55] peter05010402 commented on #323
@ZDisket  From 20k ,100k, 1M to 4M  ， it ‘s the same

[2020-10-22 03:01] ZDisket commented on #323
@peter05010402 Then something must've gone wrong.

[2020-10-22 03:06] peter05010402 commented on #323
@ZDisket   yes.
With the same config.py,  Training in anoter dataset.  From 20k steps, the inderence wav is voice.

[2020-10-22 03:12] mychiux413 commented on #143
@leijue222 I don't have Chinese-English mixed dataset, so I just collect some Chinese-English text online by crawler or some open-data(I don't remember where it comes from), then I use google-tts to generate speech data and package them as a dataset.

[2020-10-22 03:19] jackiegeek commented on #316
@dathudeptrai if I use 16k data with hop_size 200, what is the difference if I set upsample_scales to [2, 5, 5] and [5, 5, 2] ? thx

[2020-10-22 05:43] dathudeptrai commented on #316
let try :)) i think 2 5 5 is better :D

[2020-10-22 06:37] peter05010402 commented on #323
@ZDisket  my training mb_gan instruction is as follow.    Do you think it is right?

1.  tensorflow-tts-preprocess --rootdir ./[ljspeech/kss/baker/libritts] --outdir ./dump_[ljspeech/kss/baker/libritts] --config preprocess/[ljspeech/kss/baker]_preprocess.yaml --dataset [ljspeech/kss/baker/libritts]

2.  tensorflow-tts-normalize --rootdir ./dump_[ljspeech/kss/baker/libritts] --outdir ./dump_[ljspee

[2020-10-22 07:01] dathudeptrai commented on #323
pls share ur tensorboard

[2020-10-22 07:14] dathudeptrai commented on #237
can you share ur colab ?

[2020-10-22 07:27] unparalleled-ysj commented on #237
@dathudeptrai
This is the conversion code：
`def save_fastspeech2_to_lite(model_path, config_file, save_path, processor):
    config = AutoConfig.from_pretrained(config_file)
    fastspeech2 = TFAutoModel.from_pretrained(
        config=config,
        pretrained_path=model_path,
        is_build=True,  # don't build model if you want to save it to pb. (TF related bug)
        enable_tflite_convert

[2020-10-22 07:28] dathudeptrai commented on #237
@unparalleled-ysj can you help me create a colab :)

[2020-10-22 08:42] unparalleled-ysj commented on #237
sorry, I have never used Colaboratoy, it took me some time
https://colab.research.google.com/drive/1_PNAtx94Gn16ZCjxih5YC-mi9BAondSX?usp=sharing

[2020-10-22 11:05] peter05010402 commented on #323
![image](https://user-images.githubusercontent.com/42974031/96863410-6b703680-1499-11eb-994e-9f76bd52e450.png)
![image](https://user-images.githubusercontent.com/42974031/96863473-817df700-1499-11eb-8449-a98207c752a3.png)
@dathudeptrai   Thank you

[2020-10-22 11:09] dathudeptrai commented on #323
https://github.com/TensorSpeech/TensorFlowTTS/issues/247

[2020-10-22 11:31] peter05010402 commented on #323
@dathudeptrai  Thank you!

[2020-10-22 11:31] #323 closed

[2020-10-22 12:16] manmay-nakhashi commented on #318
@OscarVanL
[code]

[2020-10-22 12:36] OscarVanL commented on #318
@manmay-nakhashi

When running that script I get the error:
[code]

After changing the shapes from 40 to 80, the code runs and generates a `.tflite` file without errors, I tried this on the Android example, and it works!

Thank you!

[2020-10-22 12:41] #318 closed

[2020-10-22 13:20] RuslanSel opened #324 "Tacotron 2 and phonemes"
Hi, @dathudeptrai, thanks for the great TTS.
Is it sufficient just insert phoneme text in .csv file for phonetic training Tacotron2?
Thanks in advance.

[2020-10-23 21:33] ronggong opened #325 "Pretrained fastspeech2 libritts model for testing?"
Hi,

Thanks for the nice work. Is there a pretrained fastspeech2 libritts model for testing? Like the one trained with ljspeech data?https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD?usp=sharing

[2020-10-23 21:48] ronggong opened #326 "Character-level processor for multispeaker fastspeech2 model."
Hi,

As far as I know, the libritts fastspeech2 recipe takes phoneme-level symbols as input, which requires a g2p processor, and ljspeech recipe takes character-level input, which is independent of the g2p processor and seems to be more straightforward. I would like to know what is the reason to choose a phoneme-level input for libritts recipe, and what are pros and cons for both input types?

To

[2020-10-23 22:36] ZDisket commented on #326
@ronggong

You can align phoneme-level inputs with Montreal Forced Aligner, which eliminates the need for a teacher model.

The cppwin example is extremely outdated. My https://github.com/ZDisket/TensorVox uses mixed dictionary lookup & TFG2P.

[2020-10-24 02:47] dathudeptrai commented on #324
no :D. You should write ur own processor like here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/tensorflow_tts/processor)

[2020-10-24 02:49] dathudeptrai commented on #326
@ronggong charactor is easy to deploy and you do not need any G2P model but you should training teacher model to get alignment (here we use Tacotron-2) :D.

[2020-10-24 02:51] dathudeptrai commented on #325
@ronggong I don't have enough resource to training libriTTS, i hope someone can try and make a pull request :D

[2020-10-24 02:53] #316 closed

[2020-10-24 02:55] dathudeptrai commented on #321
@abylouw i think it's ok, when u resume the dataset is shuffled so maybe this behaviour is normal :)).

[2020-10-24 02:56] dathudeptrai commented on #317
both fs2 and vocoder can make a metallic artifacts :)))

[2020-10-24 02:56] #286 closed

[2020-10-24 02:56] #284 closed

[2020-10-24 02:57] #291 closed

[2020-10-24 02:57] #294 closed

[2020-10-24 02:57] #295 closed

[2020-10-24 02:57] #301 closed

[2020-10-24 02:57] #303 closed

[2020-10-24 02:58] #305 closed

[2020-10-24 03:22] Nistrian commented on #310
@juunnn
Hi, I have the same problem as yours, have you found a solution?

[2020-10-24 03:31] dathudeptrai commented on #310
a bug tell that the length of character/phoneme input is different compared with f0/energy embeddings. You guys should print the shape and check this line (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/fastspeech2.py#L185). To enable debug mode, you should add `tf.config.run_functions_eagerly(True)` in the head of the training file to enable eager mode.

[2020-10-24 10:26] ronggong commented on #326
@dathudeptrai Is the teacher model hard to train for the libritts data? Is the teacher model's training script included in the example https://github.com/tensorspeech/TensorFlowTTS/tree/master/examples/fastspeech2 ?

[2020-10-24 10:31] ronggong commented on #326
@ZDisket Thanks, I am going to test TensorVox. I see you have two speaker models, Jordan Peterson and LJspeech, may I ask why didn't you train a multispeaker model?

[2020-10-24 10:32] ronggong commented on #325
@dathudeptrai Hi, do you have an estimation about how much resource is needed in terms of GPUs and duration?

[2020-10-24 13:29] OscarVanL commented on #296
So just to clarify that this should be my next attempt:

1. Take pre-trained LJSpeech model (`fastspeech2.v1`) from examples.

2. Add the dataset for the voice I wish to clone to LibriTTS dataset as another speaker.

3. Continue training ontop of pre-trained LJSpeech model, training all layers, using `--config fastspeech2libritts.yaml` and `--dataset_config libritts_preprocess.yaml`

4. When doing

[2020-10-24 13:34] ZDisket commented on #326
@ronggong I did train several multispeaker (+ multi-emotion, which the program itself supports), but they're on semi-private datasets. Also, the demo available is extremely outdated too.

[2020-10-24 14:10] machineko commented on #296
@OscarVanL You can train on a full dataset but I found it a lot easier and faster on a smaller subset with longer.

If u want to follow 20 speakers route (20 speakers with more then 20min of audio recorded) -> https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/libri_experiment/prepare_libri.ipynb

For 248 speakers on 2070 u'll probably need about 3+ days of tra

[2020-10-24 14:31] OscarVanL commented on #296
@machineko
Thanks for the tips, that makes a lot of sense why `n_speakers` is preconfigured at 20.

So you suggest to take the libritts dataset, pick 20 speakers each with >20 mins audio, then add my dataset (approx 25 mins), to give a total of 21 speakers and train from that.

When you train models with your 25 speakers, do you begin training with the repository's pre-trained LJSpeech model, or a

[2020-10-24 14:42] machineko commented on #296
I start from pretrained ljspeech, results was rly good but also my dataset quality is good enough for training even without libri dataset.

Mix of voices should be ok only female should works fine too :P

[2020-10-24 14:51] OscarVanL commented on #296
That's good to know. Thank you :)

When you say your dataset quality is good enough even without libri, how much speech do you have per speaker?

[2020-10-24 14:52] machineko commented on #296
40 min to 6h per speaker

[2020-10-24 17:34] #321 closed

[2020-10-24 20:19] ronggong commented on #326
@ZDisket I want to give it try your TensorVox, however, I can't compile it because of some dependencies missing, eg. rnnnoise. I removed this dependency from the source code and compiled it, but then some runtime dll is missing, e.g. Qt5WinExtras.dll. Could you update the compiling dependencies and runtime dll in gdrive?

[2020-10-24 20:43] ZDisket commented on #326
@ronggong Here's an updated version with LJSpeech and another model: https://drive.google.com/file/d/1Ce8Ruvd-90qcTOJu4N_-eE8S0hD2cSAe/view?usp=sharing

[2020-10-24 21:36] ronggong commented on #326
@ZDisket Nice demo, congratulations!  just curious, the g2p dictionary has different phoneme spellings for some words. e.g.
abbreviated	AH0 B R IY1 V IY0 EY2 T AH0 D
abbreviated	AH0 B R IY1 V IY0 EY2 T IH0 D

In such cases, how do you decide which one to use? I see the g2p does

I can contribute to include the multispeaker libritts model in your demo if you haven't train it. The data itself is CC

[2020-10-24 22:49] ZDisket commented on #326
@ronggong

There's no explicit mechanism for that. My guess is that it uses the first one.

[2020-10-25 03:44] dathudeptrai commented on #325
with 2080TI, you can finish training fastspeech2 around 8 hours :D

[2020-10-25 08:02] unparalleled-ysj commented on #237
@dathudeptrai Hi, is there any progress or is there anything I need to do

[2020-10-25 08:19] RuslanSel opened #327 "Running training from checkpoint"
I've got an error:
20-10-25 07:54:06.897975: W tensorflow/core/util/tensor_slice_reader.cc:95] Could not open ./examples/tacotron2/exp/train.tacotron2.v1/checkpoints/ckpt-94000.data-00000-of-00001: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?
Resume option:
  --resume "./examples/tacotron2/exp/train.

[2020-10-25 08:41] dathudeptrai commented on #237
@unparalleled-ysj can you try this colab (https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing)

[2020-10-25 08:42] dathudeptrai commented on #327
@RuslanSel i think you didn't read readme carefully :D. you should resume .../ckpt-94000

[2020-10-25 09:12] jackiegeek opened #328 "Paddings must be non-negative"
When I use sample rate 8000, hop_size = 100, upsample scare = [5, 5], when start evaluation, it raise Error:  Paddings must be non-negative: 0 -7480  ( when I use the same data  with config: sample rate 8000, hop_size = 200, upsample scare = [2, 5, 5], it works fine)

<details>
 <summary><strong>Traceback</strong> (click to expand)</summary>

[code]
</details>

[2020-10-25 12:44] RuslanSel commented on #327
Thank you! :-)

[2020-10-25 12:44] #327 closed

[2020-10-25 23:12] ronggong commented on #325
@dathudeptrai I tried with 2 gpus training with batch_size 16, which is slower than using 1 gpu with the same batch_size. Both gpus are consumed with the same amount of memory.

[2020-10-26 04:07] dathudeptrai commented on #325
yes :)). see here (https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#step-2-training-from-scratch).

[code]

[2020-10-26 05:18] dathudeptrai commented on #328
@jackiegeek can you check (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/multiband_melgan/conf/multiband_melgan.v1.yaml#L71-L72)

[2020-10-26 05:19] dathudeptrai commented on #319
@ErfolgreichCharismatisch mostly because more clean data rather than their algorithms :)).

[2020-10-26 05:30] jackiegeek commented on #328
thx!  I forget to change batch_max_steps_valid: 81920, my mistake..

[2020-10-26 06:06] xinbingzhe opened #329 "Could you give me some examples in this file?"
https://github.com/TensorSpeech/TensorFlowTTS/blob/9c33ebffebfb3fac5bdc0afa2d858e6dd9a1ed0c/tensorflow_tts/processor/baker.py#L559

[2020-10-26 06:06] jackiegeek commented on #328
I change to
[code]
but still get `Paddings must be non-negative` error

[2020-10-26 06:40] dathudeptrai commented on #329
[Uploading 000001-010000.txt…]()

[2020-10-26 06:40] dathudeptrai commented on #329
[Uploading 000001-010000.zip…]()

[2020-10-26 06:40] dathudeptrai commented on #329
[000001-010000.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/5437224/000001-010000.zip)

[2020-10-26 06:41] dathudeptrai commented on #328
can you try `batch_max_steps_valid`: 8000 as `batch_max_steps` ?

[2020-10-26 06:45] xinbingzhe commented on #329
thank you !!!

[2020-10-26 06:51] #329 closed

[2020-10-26 07:15] juunnn commented on #310
To use mfa extraction I don't have a clue, but I can move forward by first training tacotron2 and use the extract duration there. Surprisingly my tacotron2 training can produce good sound with only 25 epoch.

[2020-10-26 09:13] jackiegeek commented on #328
works! thx!

[2020-10-26 09:13] #328 closed

[2020-10-26 09:32] seicaratteri commented on #317
Thank you very much for your answer! So you would say that the reason for no metallic artifacts in the samples from the original paper is that they used Parallel WaveGAN as vocoder rather than MB-MelGAN? :)

[2020-10-26 10:28] vocajon commented on #296
Hi, I would like to achieve a similar result as is discussed above (fine tuning with a small data set). I am struggling to follow the FastSpeech2 End to End tutorial though.

Is there a Colab notebook for this process? In particular the first section  - creating the dataloader.

Or perhaps if anyone has performed the process of fine-tuning, they could share the commands used from their terminal hi

[2020-10-26 11:55] ronggong commented on #325
@dathudeptrai  thanks! Here is an error in training.
[code]
The error is in around here https://github.com/TensorSpeech/TensorFlowTTS/blob/cfcc57aa8d75a2a90fbf2176443d331b1173b028/examples/fastspeech2_libritts/train_fastspeech2.py#L170

[code]

Why do we shift the enumerate counter to start from 1?

[2020-10-26 15:14] OscarVanL commented on #296
@vocajon
Hi,

It is a little unclear at first, personally, I didn't need to create a dataloader (this confused me too). This is what I did:

The first set of instructions are [here](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_libritts). Follow step 0 to prepare the LibriTTS dataset structure. If you want to add your own speaker ontop of the LibriTTS speakers (as

[2020-10-26 15:34] vocajon commented on #296
@OscarVanL thank you very much. Just what I was looking for. Will try following these instructions.
BTW, what have your results been like? Have you had success with real life datasets from your voice bank?

[2020-10-26 15:41] OscarVanL commented on #296
It's still a work in progress, I'm not using any patient data yet, only experimenting with clips I record of my own voice. I have no results yet, I am about to start training with the approach I mentioned a couple of days ago in these comments.

[2020-10-26 15:48] OscarVanL opened #331 "prepare_libri Notebook does not filter clips exceeding max_file_len"
I ran `examples/fastspeech2_libritts/libri_experiment/prepare_libri.ipynb` to prepare the LibriTTS dataset, but have noticed clips that exceed 11 seconds (I have `max_file_len` set as 11 seconds) in the re-formatted dataset. I assume these should be filtered out.

For example, this is just one speaker's file which I assume should have been filtered out.
![image](https://user-images.githubuserconte

[2020-10-26 15:56] ronggong commented on #331
Is this a bug of the ipynb script?
[code]

I guess it actually wanted to say `if max_file_len < dur or dur < min_file_len`

[2020-10-26 15:57] OscarVanL commented on #331
Yes, looks like that's it.

[2020-10-26 16:11] ronggong commented on #317
@seicaratteri maybe you could try the espnet2 implementation https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb, they have parallel wavegan implemented. To me parallel wavegan seems to me has a better speech quality than the MB-MelGan, but also slower.

[2020-10-26 17:08] OscarVanL opened #332 "fix_mismatch.py fails if file names have dashes in them"
As part of the preprocessing, to fix mismatches of frame differences `examples/mfa_extraction/fix_mismatch.py` is run.

However, if any of your dataset's filenames have dashes in them (eg: `MyVoiceClip-001.wav`), this will fail:

[code]

A workaround would be to change the names of your files to replace the dashes with underscores...
`MyVoiceClip_001.wav`

This is because in `fix_mismatch.py` much

[2020-10-26 19:48] OscarVanL commented on #296
@machineko
When I start with the pretrained LJSpeech `model-150000.h5` using the `fastspeech2libritts.yaml` file along with Libri speakers, I get these warnings:

[code]
Is this worth worrying about, or can it be safely ignored?

[2020-10-26 21:03] OscarVanL commented on #331
Wanna make a PR or shall I?

[2020-10-26 22:21] machineko commented on #296
Dunno about that i was loading weights manually per layer, embeddings shouldn't be loaded but the rest should work fine I think.
@dathudeptrai

[2020-10-27 04:28] tekinek commented on #326
In my experience, phoneme-based model produces more natural sound than character level, as it has more symbols to represent variances in speech ( eg, 48 standard phonemes vs 26 characters in English).  If your datasets is small in size character-based training might be better. However, with a larger dataset and good MFA alignment phoneme-based training is worth a try.

[2020-10-27 12:19] OscarVanL commented on #296
Here's the tensorboard after 12 hours of training (140k steps).

Starting from pretrained LJSpeech `model-150000.h5`, `fastspeech2libritts.yaml` config with `batch_size` 16, training all layers. This is with 21 speakers, 20 from LibriTTS, and the last being my own recordings. Total of 3713 speech files, with a duration of 5 hours 36 mins.

In hindsight this dataset selection seems quite small... (

[2020-10-27 12:30] OscarVanL opened #333 "Model should raise an error if n_speakers does not match the number of speakers in dataset"
There was a transfer error when I was copying my dataset to the server I'm doing training with. As a result, only 18 of my 21 speakers transferred, but I did not notice this mistake.

Maybe an error/warning should display if the number of speakers in the training dataset does not match the `n_speakers` option in the hyperparameter configuration? This could help avoid human errors like this resulti

[2020-10-27 13:16] ahmedalbahnasawy commented on #324
@dathudeptrai @RuslanSel sorry for reopening the issue.
I see that **ids** directory is where we save text id's. Each file is a numpy array of integers (id's) and i'm dealing with non-English text mapped to phoneme using my g2p model. What i'm thinking to do is creating **ids** directory without writing my own processor by mapping my phonemes to id's, dump and save them in numpy array.
example:
[c

[2020-10-27 15:35] machineko commented on #333
Good idea u can implement it :)

[2020-10-27 16:27] zhangsanfeng86 opened #334 "Got err, When Training with 16k hz data"
Hi,
1.my preprocess16k.yaml  as follow:
![image](https://user-images.githubusercontent.com/73547638/97331121-f85d2a80-18b3-11eb-97a3-833602e5aa95.png)

2.When I run "tensorflow-tts-preprocess --rootdir ./baker/ --outdir ./dump_baker --config ./TensorFlowTTS/preprocess/baker_preprocess16k.yaml --dataset baker"
Err as follow:
![image](https://user-images.githubusercontent.com/73547638/97331234-1aef4

[2020-10-27 17:49] ZDisket commented on #324
@ahmedalbahnasawy You don't need to to do that. The LJSpeech processor can take ARPA input if you wrap it in `{ }`, so if you wanted to type `Hello!`, you'd do `{H AH L OW} ! `
See https://github.com/TensorSpeech/TensorFlowTTS/blob/f6721a737aaa80214ba9907061513481660c5a63/tensorflow_tts/processor/ljspeech.py#L182-L200

[2020-10-27 18:03] zhangsanfeng86 commented on #334
I got another Err

![image](https://user-images.githubusercontent.com/73547638/97342832-af13d780-18c1-11eb-878e-20d3bb484895.png)

[2020-10-28 00:43] GavinStein1 commented on #296
Hi there, this information is really helpful. I was just wondering how many iterations do train for with your own dataset on top of the pretrained ljspeech?

[2020-10-28 02:50] goldenl opened #335 "GPU memory allocation error on 1080ti"
Hi all and thank you for maintaining this useful repo.

How much gpu memory is needed for training multiband melgan?
I tried to train on my own dataset and got memory error at the very first evaluation.
I changed my batch_size to 32 but no luck.
I have a 1080ti GPU of 11GB.
Below is a log before core dump occured.

2020-10-28 10:01:21,880 (base_trainer:138) INFO: (Steps: 4914) Finished 42 epoch tr

[2020-10-28 03:01] dathudeptrai commented on #335
hmmm, something weird, did you share GPU with other task?

[2020-10-28 03:06] dathudeptrai commented on #334
can you give me ur folder structure :))

[2020-10-28 03:08] dathudeptrai commented on #324
yes, you can do that, you can only replace feature folder to training, but in the inference step, you need a processor or a function to convert from text -> ur phoneme. You can also do as @ZDisket suggesstion.

[2020-10-28 04:35] goldenl commented on #335
No specific tasks, but default small precesses like Xorg etc.

Wed Oct 28 12:33:19 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.80.02    Driver Version: 450.80.02    CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr

[2020-10-28 05:19] zhangsanfeng86 commented on #334
![image](https://user-images.githubusercontent.com/73547638/97395557-2a0bdb00-1920-11eb-9de5-b75e5011c0f3.png)
@dathudeptrai  thank you for ur reply!

[2020-10-28 05:22] zhangsanfeng86 commented on #334
The first question i have solved.  Because special character in training txt.

[2020-10-28 06:39] dathudeptrai commented on #333
i will implement it :D

[2020-10-28 08:51] OscarVanL commented on #296
Here's my tensorboard after training for 18 hours.

![image](https://user-images.githubusercontent.com/7999692/97412892-0fbf0680-18fa-11eb-810c-96be3320900a.png)

As mentioned before, I started with the LJSpeech pretrained model, then trained all layers using 20 speakers from LibriTTS with at least 20 minutes of speech, and adding 32 minutes of the speaker to clone. (Total: 8 hours of speech)

The

[2020-10-28 08:56] dathudeptrai commented on #296
@OscarVanL how about add more data, btw, i just commit to use official `swish` so i think the memory consuming is reduced.

[2020-10-28 09:04] joan126 opened #336 "Any plan to implement GMM Attention + Tacotron2 ?"
Hi,  is there any plan to try GMM Attention with Tacotron2?

[2020-10-28 09:08] dathudeptrai commented on #336
no plan for it :)), i do not see any benefit of GMM for now. :D.

[2020-10-28 09:19] joan126 commented on #336
1 compared with LSA, no performance improved?
2  then or long sentence synthesis?
3 what about Graves Attention?

[2020-10-28 09:29] dathudeptrai commented on #336
1. Yes, LSA is better in terms of quality.
2. The model right now can synthesize very long sentences.
3. GravesAttention is GMM attention.

[2020-10-28 09:45] joan126 commented on #336
Thanks， I am reading papers of Blizzard Challenge 2020 for Chinese Synthesis Task, at least three teams used GMM Attention instead of LSA and achieved good ranks!

[2020-10-28 11:27] ahmedalbahnasawy commented on #324
Thanks to the best @dathudeptrai and @ZDisket :D

[2020-10-28 12:04] #324 closed

[2020-10-28 12:11] OscarVanL commented on #296
I've increased the speakers from 20 to 40 from LibriTTS, to give 14 hours of speech and will try again.

Unfortunately, even with the latest repo it still runs out of memory with `batch_size` 32, so am going to keep this at 16, unless you have other suggestions :)

[2020-10-28 13:09] dathudeptrai commented on #296
if you ignore all samples that its mel_length >= 850 then you can training with batch_size 32. But i always training with batch_size 16 :D. I will also add gradient accumulate so you can training very large batch_size soon :D.

[2020-10-28 13:45] OscarVanL commented on #296
I will continue to use batch_size 16 if you also use it without problems :)
I have been using hop_size 240 as you suggested before. Thanks for explaining the advantage.

[2020-10-28 13:48] machineko commented on #296
@OscarVanL Are audio generated sounds fine? A bit higher loss != worse model in case of FS2

[2020-10-28 13:55] OscarVanL commented on #296
Do you mean the sounds in outdir/predictions/****_wav? They sound bad.

Here's some predictions from 180,000 steps from the model in the last tensorboard I sent:
[9_after.wav](https://drive.google.com/file/d/1r2fFutQ7QSA1KU_x2yPRpW0KoJ4q4Kcz/view?usp=sharing)
[9_before.wav](https://drive.google.com/file/d/1Ren441_TxrRYDoQzj8NbODfANY9cWyEt/view?usp=sharing)
[9_gt.wav](https://drive.google.com/file/

[2020-10-28 14:12] machineko commented on #296
Yes u should compare GT vs after/before samples u still need to train vocoder for better quality.

[2020-10-28 14:17] machineko commented on #296
Also if FS2 didn't work you can try train Taco2

[2020-10-28 15:02] #314 closed

[2020-10-28 15:02] #268 closed

[2020-10-28 15:02] #266 closed

[2020-10-28 15:02] #264 closed

[2020-10-28 15:02] #263 closed

[2020-10-28 15:10] dathudeptrai commented on #296
i think you should use GL first to sanity check rather than use vocoder :D.

[2020-10-28 15:54] machineko commented on #296
He is using GL 😃

[2020-10-28 16:01] dathudeptrai commented on #296
@machineko hmm, even with groundtruth, somehow his GL generated bad audio ?. I think it should be better :3

[2020-10-28 16:03] machineko commented on #296
He didnt send GL from GT data yet (he send before GL 2 Times) 😄

[2020-10-28 16:03] OscarVanL commented on #296
Oops, I updated the links :)

[2020-10-28 20:06] ronggong commented on #325
@dathudeptrai @ZDisket I finished the libritts model training, however, I am still using the LJspeech multiband melgan vocoder. Also tried the vocoder of TuckerCarlson in TensorVox demo. None of them sounds good to me. Do you have a good vocoder to use? I found the multiband_melgan.v1_24k is somehow interesting, but it's trained with 2048 FFT and 300 hopsize, although the sampling rate is 24k, whi

[2020-10-28 20:17] ZDisket commented on #325
@ronggong The vocoder of Tucker Carlson is the `multiband_melgan.v1_24k`, it's the LibriTTS mb-melgan. Although last time I heard the eval samples on its own dataset didn't sound very good, it still worked fine as a unviersal vocoder.

[2020-10-28 20:35] ronggong commented on #325
@ZDisket Your Tucker Carlson model sounds much better than my libritts model on the same vocoder? Is your Tucker fastspeech2 model trained with data of 2048 FFT and 300 hopsize? My assumption the mismatch of the FFT and hopsize is the issue.

[2020-10-28 20:38] ZDisket commented on #325
@ronggong `Is your Tucker fastspeech2 model trained with data of 2048 FFT and 300 hopsize?`
Yes. First I upsampled LJSpeech to 24KHz and trained on the same config then took my 24KHz Tucker Carlson data and finetuned the 24-LJSpeech model.

[2020-10-28 20:42] ronggong commented on #325
@ZDisket ok, I will retrain my libritts on this config.

[2020-10-28 20:54] ronggong commented on #326
@tekinek One thing needs to bring about is we need a good g2p model to convert text to phonemes. Do you aware a good g2p implementation trained for English language and better to have a c++ implementation.

[2020-10-28 21:48] ronggong commented on #325
[code]
@ZDisket I am curious that you set trim silence and trim mfa both to false. Does this work better than setting to true. Btw, what does it mean trim_mfa, trimming the alignment results?

[2020-10-28 21:57] ZDisket commented on #325
@ronggong MFA trimming trims based on forced alignment results, and I turned both trims off because I found that MFA-aligned FS2 performs better without trimming (as the audio would end too abruptly), and due to the nature of my data collection scripts, most of my datasets already come pre-trimmed.

[2020-10-29 00:19] goldenl commented on #335
@dathudeptrai Do you think these processes making the cause?

[2020-10-29 00:39] #334 closed

[2020-10-29 07:00] tekinek commented on #326
@ronggong  Sorry, for English g2p I just use https://github.com/bootphon/phonemizer; never searched beyond that.

[2020-10-29 07:32] unparalleled-ysj opened #338 "Android demo running error"
Hi, When I tried to replace the ljspeech tflite model with a new tflite model, I encountered this problem:
`com.example.myapplication E/InputWorker: Exception:
    java.lang.IllegalArgumentException: Cannot convert between a TensorFlowLite tensor with type FLOAT32 and a Java object of type [I (which is compatible with the TensorFlowLite type INT32).
        at org.tensorflow.lite.Tensor.throwIfTyp

[2020-10-29 08:01] unparalleled-ysj commented on #338
I found the problem. The model used in the Android demo is an old version, which also contains the attention mask that needs to be removed at the input.

[2020-10-29 08:01] #338 closed

[2020-10-29 10:33] OscarVanL commented on #296
Here's the tensorboard after adding more data. (40 speakers LibriTTS, 32 minutes of my speaker = 14 hours speech.)

![image](https://user-images.githubusercontent.com/7999692/97556313-3439e200-19d1-11eb-985f-257068763a57.png)

It looks like the mel loss is better this time, but not duration/energy/f0.

These are from 215k steps:

[b'8468_286673_000020_000003'_gt.wav](https://drive.google.com/file/

[2020-10-29 10:44] dathudeptrai commented on #296
maybe you need continue add more data :v

[2020-10-29 11:35] OscarVanL commented on #296
OK thanks! Do you know how many hours of speech people have had success with in the past when training LibriTTS so I get a better idea of what works?

[2020-10-29 11:39] machineko commented on #296
In taco2 blog/paper they transfer learning from ljspeech using 30min of speak and got good results, optimal was about 1.5/2h if I remember correctly

[2020-10-29 11:42] OscarVanL commented on #296
Yes I was about to try the model using the MB-MelGAN universal vocoder, I'm fighting anaconda at the moment :c

Interesting about taco2. The application for this model is on a mobile app with low latency, so FastSpeech2 appealed because of its fast synthesis and ability to run on low-end hardware. Am I right in my assumption Taco2 is more demanding for inference or has a higher latency than FS2?

[2020-10-29 12:05] OscarVanL commented on #296
OK I'm going through the `fastspeech2_inference` Notebook...
![image](https://user-images.githubusercontent.com/7999692/97567117-8f260600-19de-11eb-923b-3560dabf69af.png)

But after the 'Save to pb' section I get this error:
![image](https://user-images.githubusercontent.com/7999692/97567355-9ea54f00-19de-11eb-8d53-c6cde5f9ce3a.png)

If I change to the libritts mapper, I then get this error:
![ima

[2020-10-29 12:15] machineko commented on #296
U are using train mode so all text should be pass as phonemes

[2020-10-29 13:35] OscarVanL commented on #296
Sorry, I'm still struggling with this.
![image](https://user-images.githubusercontent.com/7999692/97580368-1aa59400-19eb-11eb-990f-818359005645.png)
So I've generated the phonemes, but it seems to struggle with spaces in between words (hence '@') when converting these into input_ids.

Do you have an up-to-date example for inference with FS2?

[2020-10-29 14:00] machineko commented on #296
Remove all empty strings  from g2p_en output as its not in your mapper for libritts. (You join it adding another layer of empty strings and you have a string with dual spaces)

smth like that ->
[code]

[2020-10-29 14:10] OscarVanL commented on #296
Yeah thank you, I spotted the mistake in the end (why I deleted my reply).

For some reason, the shape of the generated mel is very short.

![image](https://user-images.githubusercontent.com/7999692/97584612-1d56b800-19f0-11eb-83b5-f25ed3170225.png)

![image](https://user-images.githubusercontent.com/7999692/97584700-352e3c00-19f0-11eb-8acf-9a77590e0463.png)

![image](https://user-images.githubuse

[2020-10-29 14:17] machineko commented on #296
Smth is wrong i cant check code right now as im not in home (and im not na author of notebook). Ill tag @dathudeptrai and lets wait for him :)

[2020-10-29 16:17] tingyang01 commented on #237
@dathudeptrai Hi, I'm also getting the same error:
Traceback (most recent call last):
  File "J:/Work/2017/SVNWork/Samy/TTS/TensorFlowTTS-master/__Hindimodel/hi_thomas/fastspeech2_tflight.py", line 90, in infer
    self.interpreter.invoke()
  File "J:\Work\2017\SVNWork\Samy\TTS\TensorFlowTTS-master\__Hindimodel\hi_thomas\tflight\lib\site-packages\tensorflow\lite\python\interpreter.py", line 539, i

[2020-10-29 16:57] Zak-SA commented on #237
@tingyang01
How many steps did you train fastspeech2? I see the number 1505000 in fs2_h5_path
Did you mean 150000?

I don't know about tf-nightly-cpu
But I installed tf-nightly==2.4.0-dev20200630

[2020-10-29 17:11] tingyang01 commented on #237
Thanks for your reply.
150000 means the epoch number.
I also installed tf-nightly==2.4.0-dev20200630, but it was failed.
I am using python 3.6 and pip 20.2.4 on windows.
Let me share the log again.
pip install tf-nightly==2.4.0-dev20200630
ERROR: Could not find a version that satisfies the requirement tf-nightly==2.4.0-dev20200630 (from versions: 2.4.0.dev20200901, 2.4.0.dev20200902, 2.4.0.dev2020

[2020-10-30 10:10] tingyang01 opened #339 "Convert multi-band melgan model into Tflight"
I am converting the multiband-Mel gan model into Tf-light with this code.

    config_file = "./multiband_melgan.v1.yaml"
    model_path = "./mbMelgan_generator-2560000.h5"
    with open(config_file) as conf:
        config = yaml.load(conf, Loader=yaml.Loader)
    config = MultiBandMelGANGeneratorConfig(**config['multiband_melgan_generator_params'])
    mblemgan = TFMBMelGANGenerator(config=confi

[2020-10-30 10:13] tingyang01 commented on #318
Let me know how I can test the flight model of the Multi-band Mel-GAN model.
    config_file = "./multiband_melgan.v1.yaml"
    model_path = "./mbMelgan_generator-2560000.h5"
    with open(config_file) as conf:
        config = yaml.load(conf, Loader=yaml.Loader)
    config = MultiBandMelGANGeneratorConfig(**config['multiband_melgan_generator_params'])
    mblemgan = TFMBMelGANGenerator(config=con

[2020-10-30 10:16] OscarVanL commented on #318
Did you try the code from @manmay-nakhashi ? That worked for me. I can use the saved tflite for MB MelGAN on the Android example.

[2020-10-30 10:30] tingyang01 commented on #318
Hello @OscarVanL
Thanks for your reply.
I did not get any code.
Could you share the code with me?

[2020-10-30 10:31] OscarVanL commented on #318
It is the comment on this issue from 8 days ago, you can see it above. This worked for me.

[2020-10-30 10:32] tingyang01 commented on #318
I see,
Let me know also which TensorFlow and Tf-nightly version you will use.

[2020-10-30 10:34] OscarVanL commented on #318
I think I used Tensorflow 2.3.1 for this with success, but I cannot remember for sure.

[2020-10-30 10:35] tingyang01 commented on #318
Thank you let me try.
you dont use Tf-nightly?

[2020-10-30 12:53] OscarVanL commented on #318
No, in the colab it used the nightly, but I could not get this to work, so used TF 2.3.1 instead and it worked.

[2020-10-30 12:56] OscarVanL commented on #296
![image](https://user-images.githubusercontent.com/7999692/97707325-0aef8380-1aaf-11eb-86c9-3bc338eb3937.png)

It looks like adding more data helped, orange is with 14h, blue with 19.75h.

[2020-10-30 13:00] dathudeptrai commented on #296
:))) let continue add more data :))))

[2020-10-30 14:51] tingyang01 commented on #318
Hello @OscarVanL
I just converted the model into Tf-light and tested it on Android.
Thanks again

[2020-10-30 15:33] OscarVanL commented on #318
Nice, glad you got it to work :) did you use TF 2.3.1 or TF nightly?

[2020-10-30 16:31] RuslanSel opened #340 "Convert kan-bayashi Multi-band MelGAN to TensorFlowTTS"
How convert kan-bayashi's Multi-band Melgan to TensorFlowTTS?
I see only ParallelWaveGAN converter.
Thanks in advance.

[2020-10-30 16:56] ZDisket commented on #340
@RuslanSel You want to take [this notebook](https://colab.research.google.com/drive/1nh8XYQ32L5eh1qeVl-P35PBznYcKL3YO?usp=sharing), replace some configs, and do `ttstf_melgan.save_weights` to an h5 so you can use it

[2020-10-30 23:34] OscarVanL opened #341 "Error when using generated FastSpeech2 TFLite model with Android example"
Hi, this one's probably for @mapledxf and is a duplicate of this issue: https://github.com/TensorSpeech/TensorFlowTTS/issues/274

I've converted my FastSpeech2 model to a TFLite model in the way shown [on Colab](https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing#scrollTo=mvLDbeJzQFeh).

I've taken the output TFLite model, put it in the `assets` folder on the Andr

[2020-10-30 23:35] OscarVanL commented on #339
Hi, based on your comments on this issue, you have fixed this now? https://github.com/TensorSpeech/TensorFlowTTS/issues/318

[2020-10-30 23:50] mapledxf commented on #341
according to this [issue](https://github.com/TensorSpeech/TensorFlowTTS/issues/338) , new version model has removed attention mask as an input. so u should also delete attention mask input for android which is coded here https://github.com/TensorSpeech/TensorFlowTTS/issues/338

[2020-10-31 00:06] OscarVanL commented on #341
Thank you! For anyone that comes across this issue, the new line should become:

[code]

Because the inference inputs are: input_ids, speaker_ids, speed_ratio, f0_ratios, energy_ratios.

[2020-10-31 00:09] #341 closed

[2020-10-31 05:58] tingyang01 commented on #339
Yes, fixed it in TensorFlow 2.3.1.
Thank you

[2020-10-31 05:58] #339 closed

[2020-10-31 13:05] ahmedalbahnasawy commented on #252
Hi @dathudeptrai , @ZDisket ,
My text2mel model trained using Espnet1. My vocoder is MB-Melgan well trained using your's.
I would like to combine them but the generated audio is weird.
<img width="751" alt="train" src="https://user-images.githubusercontent.com/50653875/97779977-2a63da80-1b9b-11eb-9f1e-2c8204ec9932.png">
<img width="912" alt="eval" src="https://user-images.githubusercontent.com/506

[2020-10-31 13:57] OscarVanL commented on #296
![image](https://user-images.githubusercontent.com/7999692/97780876-4eb1be00-1b7f-11eb-9465-bc42df52580c.png)
Better again with more data, looks like f0 is overfitting less. Red line = 24 hrs speech (81 speakers).

I will continue to add more data until the improvements stop :) I will try 120 speakers next.

[2020-10-31 13:58] goldenl commented on #335
I tried decreasing batch size and succeeded it. Thank you all for the help.

[2020-10-31 13:58] #335 closed

[2020-10-31 17:07] ZDisket commented on #252
@ahmedalbahnasawy Were the Tacotron2 and mb-melgan done with the same preprocessing parameters? (same mel_fmin, fmax, etc). Also, can you share audio samples?

[2020-10-31 18:10] dathudeptrai commented on #341
can you make a pull request to fix a android example code :)). There are some reasons that prevent me contribute to android demo :)))

[2020-10-31 19:45] ahmedalbahnasawy commented on #252
@ZDisket yeah. both of them have the same (fs=16000,fmax=7600, fmin=80, n_mels=80 ,n_fft=1024, n_shift=256 , trimming=True, trim_threshold=60). I think i need to denormalize mels first then normalize it again but i don't know if its correct.
I have 2 samples here one using text2mel-kan-bayashi vocoder vs text2mel-tts-tf vocoder.
[samples.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/546

[2020-10-31 22:59] ronggong commented on #325
@ZDisket The Libritts voice sounds a lot better now with FFT 2048 in preprocess, which correspond to the vocoder FFT size. However, the phrase ends very abruptly as you mentioned. I already disabled trim_silence and trim_mfa in preprocess. Do you have an idea why?
If I set both trim_silence and trim_mfa to true, does this has the same effect to trim the start and end silence according to the MFA a

[2020-11-01 05:04] ZDisket commented on #325
@ronggong My script, which is entirely separate from the current MFA stuff, loads the sound file and exports trimmed WAVs, although I think there's a flaw with it.

Add SIL to the end of your input. I think the current inference only adds `END` to the end of the input, I do `SIL END` so it doesn't end abruptly.

[2020-11-01 10:32] cookingbear opened #342 "can you please provide the tf-nightly==2.4.0-dev20200630 whl file?"
I want to reproduce the tflite model according to the colab for fastspeech.
However, the tf-nightly==2.4.0-dev20200630 whl file has been gone for a while
I also tested the newest tf-nightly==2.5.0-dev20201029, the tf.repeat function would cause the errors below:

tensorflow.lite.python.convert.ConverterError: ...../lib/python3.6/site-packages/tensorflow/python/saved_model/load.py:890:0: error: 'tf

[2020-11-01 21:58] ronggong commented on #325
@ZDisket I added SIL and END, but it still ends abruptly. I probably will check the MFA alignment to see if the last phoneme is usually well aligned. Or another guess is when generating the data, maybe we didn't put the END at the end of a sentence as a label to differentiate the phoneme at the end from those in the middle of a sentence.
I also found another problem, the synthesis of the first sen

[2020-11-02 01:26] dathudeptrai commented on #325
yes :D

[2020-11-02 05:52] xiaoyangnihao commented on #336
Hope plan to implement GMM Attention + Tacotron2, too.

[2020-11-02 07:17] charlie-codes-choi opened #343 "Reusing duration from pretrained model for finetuning fastspeech2 on new speaker"
I'm currently trying to finetune fastspeech2 on a new speaker using the pretrained LJspeech model. Might be a stupid question but, would I also have to finetune the tacotron2 model to get the duration, or can I just use pretrained tacotron2 model to get the duration?

[2020-11-02 07:29] dathudeptrai commented on #343
@charlie-codes-choi you need fine-tune :D

[2020-11-02 08:15] ErfolgreichCharismatisch commented on #319
@dathudeptrai I have a dataset of high quality recordings. They are not converted to text, recordings only. Which framework would work as a good stt engine to use the combination with TensorFlowTTS?

[2020-11-02 11:57] OscarVanL commented on #296
Hi, with 120 speakers (32 hours) I am seeing higher than expected f0 loss.
![image](https://user-images.githubusercontent.com/7999692/97865711-885f0200-1d02-11eb-853d-b25007b5345a.png)

Is there any reason for this? It does not seem to be improving.

[2020-11-02 14:25] machineko commented on #296
Eval dataset is about 5% of the dataset if u don't change this value, so be aware of having some randomness in results on eval graphs :)

[2020-11-02 16:47] OscarVanL commented on #341
There is one problem...

The existing model in the example probably requires the old input shape, but newly trained models will use the new input shape.

If I fix the example, then it will probably break the `fastspeech2_quant.tflite` model under `TensorFlowTTS/examples/android/app/src/main/assets`.

So to do this pull request, we also need a newly trained Fastspeech2 model, I think.

[2020-11-02 16:54] OscarVanL opened #344 "Libritts AutoProcessor fails when text contains grammar"
Hi,

I'm trying to use the Libritts AutoProcessor for inference on my FastSpeech2 Model.

[code]
The above `processor.mode = False` is added because the text_to_sequence function does not convert the text to Phonemes by default:

https://github.com/TensorSpeech/TensorFlowTTS/blob/e42595abbf21208c81e0fabaa0b1eaeaca2c4053/tensorflow_tts/processor/libritts.py#L89-L95

But then when I process a text s

[2020-11-02 18:02] OscarVanL opened #345 "Changing Processor in Android Example from Character to Phoneme Symbols"
Hi,

Sorry to ask your help once again @mapledxf

I am trying to customise the Android example to use a custom FastSpeech2 model with the MB-MelGan Universal Vocoder.
The problem is, speech is different when using these models on Android compared to on my PC with Python inference...

With the input text: "hello world this is a test of the voice text to speech"

1. In a notebook...

This is convert

[2020-11-02 18:28] OscarVanL commented on #345
On this topic, do you have any recommendations for lightweight G2P Java libraries?

[2020-11-02 19:53] machineko commented on #344
[code]

U can just use not training mode for that before just using text_to_ph which to exactly that but as I can see there is an old version of  clean_g2p function which add silence after each word and this should be removed @dathudeptrai  :)

[code]

Example usage
[code]

[2020-11-02 20:00] machineko commented on #344
Ohh I see its not an error in the processor its just u didn't add grammar to ur mapper so it cant convert it to pause/silence token :)

,.? etc. shouldn't be considered pauses in a phoneme way so this is working as intended basically you can just add extra mapper urself.

[2020-11-02 20:03] machineko commented on #344
https://github.com/TensorSpeech/TensorFlowTTS/blob/e42595abbf21208c81e0fabaa0b1eaeaca2c4053/tensorflow_tts/processor/base_processor.py#L126

Here u can just add extra tokens to map it into silence tokens :)

[2020-11-02 21:13] ronggong commented on #325
Is there a way to workaround the warmup? If not, the way is to preload the model and do an dummy inference.

[2020-11-02 21:15] ronggong commented on #345
If you found a good G2P and tested please let me know, I am looking for a good G2P in c++. But if there is a Java version, maybe I can port it.

[2020-11-02 21:36] OscarVanL commented on #345
I tried the Sphinx G2P and it works, but it gives different results to the Python G2P because it's using a different set of phonemes...

Input text = 'hello world this is a test of the voice text to speech'

[code]

[code]

Ideally, I would use the same G2P library as used by TensorFlowTTS to get the same outcome, but this seems unlikely.

This does complicate things... Perhaps it's possible to us

[2020-11-02 23:41] OscarVanL commented on #344
I understand now :) Thank you

[2020-11-02 23:41] #344 closed

[2020-11-02 23:43] mapledxf commented on #345
@OscarVanL
unfortunately, i didn't find any java version g2p. :(

[2020-11-02 23:45] OscarVanL commented on #345
Ok, thank you for checking :)

[2020-11-02 23:45] mapledxf commented on #341
@OscarVanL   yeah, ur right. That's why i didnt make the PR to correct this.

[2020-11-02 23:46] ronggong commented on #345
Those are different phoneme sets, the G2P library gives more varieties with stress.

[2020-11-02 23:48] ronggong commented on #325
@ZDisket It seems that keep punctuations and adding silence after that can mitigate the abrupt ending problem. I am not sure if the punctuation is used as phonemes in training, will check.

[2020-11-03 00:20] GavinStein1 commented on #296
Hi there, I'm trying to follow this thread to do my own training on a small dataset (~40 mins) but I am getting lost and have a few questions.

1. For the universal vocoder, should I just download the MB-Melgan available under examples and use it, or should I continue training it on my small dataset or a multi-speaker dataset first?
2. What is MFA extraction and when should I do it?
3. The samples

[2020-11-03 01:27] OscarVanL commented on #296
Hi Gavin, I'm also new to this (hence why this thread has made it to 74 replies), I'll summarise what I can:

1. My understanding is that a Universal vocoder is fine, but you can expect to get better results if you fine-tune it on your speaker.
2. MFA (Montreal Forced Alignment) is a feature extraction stage. Your .wav files are aligned to the .txt transcriptions to make a pronunciation dictionary

[2020-11-03 03:12] dathudeptrai commented on #345
@OscarVanL @ronggong I'm also finding the G2P library that works on both java and python =))). I tried to train Tensorflow Seq2Seq for G2P and convert it to tflite. It worked but somehow my TF implementation has poor performance :D

[2020-11-03 03:25] dathudeptrai commented on #345
@OscarVanL @ronggong this is a code for training G2p (https://github.com/Kyubyong/nlp_made_easy/blob/master/PyTorch%20seq2seq%20template%20based%20on%20the%20g2p%20task.ipynb) on pytorch :)). we can port it into tensorflow or we can re-implement it by TF and convert to tflite ^^.

[2020-11-03 03:48] ZDisket commented on #345
@OscarVanL You can find the code for training TensorVox's RNN-G2p here: https://github.com/ZDisket/TensorVox/tree/master/g2p_train
Converting it to TFLite shouldn't be a problem as the model itself (my program uses dict lookup + model like g2p_en) is very simple. You also want to use very low temperature (0.01). You can see its usage [here](https://github.com/ZDisket/TensorVox/blob/2459b8b438ceb12

[2020-11-03 05:06] GavinStein1 commented on #296
I see, thank you for the answers. I am going to have a go at training with 52 speakers + my dataset, and see how I go.

One more question, when you add your dataset to libritts, do you add the speaker name and some speaker-id (e.g. 000) to the speaker.txt file? or is that not necessary? (i.e. is it enough to just format the dataset in the same structure as the other speakers?)

[2020-11-03 08:38] OscarVanL commented on #296
Good question, I first run the examples/FastSpeech2_libritts/libri_experiment/prepare_libri Jupyter notebook to prepare libriTTS into the correct folder structure.

After this, open the output folder, create a new folder with a speaker ID, I used "1".

Add your .wav and .txt inside this folder. It's also important that your files copy the same naming scheme, starting with the speaker ID, so I name

[2020-11-03 21:29] ronggong commented on #345
Kyubyong's g2p also use dict lookup and NN, however, it has the dependency of nltk to give the POS to distinguish the homographs.

[2020-11-04 01:32] fly2mun opened #346 "[question] quantazation option for tacotron2"
The default seems to be 8bit.
I want to use it in 16bit, but I am curious if it works well.
Is it possible ? Do you have a support plan?

[2020-11-04 03:29] hudsonx1123 opened #347 "[question] training chinese tacotron2 model with my own wavs"
Hi,
I try to train chinese tacotron2 model with baker.
I replaced the wav files with my own wav files and re-define 000001-010000.txt following original format.
It's ok in preprocess and traing progress, but something is wrong when I copy  the model to sample baker colab for test.
Input is about 20 chinese-words sentence.
It is just about 6 sec sentnece but  Tacotron2 + MB-MelGAN generate 1:39 wav

[2020-11-04 03:53] jackiegeek opened #348 "stream tts for mbmelgan"
I want to use mbmelgan as stream tts (send parts of mel to mbmelgan to get parts of audio), but when I concatenate parts of audio, there are obvious noise at concat position, how can I solve it? thx in advanced!

[2020-11-04 07:07] manmay-nakhashi commented on #348
@jackiegeek 1. popping noise can come if your chunks going to audio players are not consistent or
2. some times mb-melgan  models have an edge effect that can cause this problem.
for a solution you can apply overlapping windowing with queue implementation.

[2020-11-04 07:09] manmay-nakhashi commented on #345
@ronggong @OscarVanL i am using https://github.com/AdolfVonKleist/Phonetisaurus for g2p. have build it for arm.

[2020-11-04 07:10] zhangsanfeng86 opened #349 "How to control pitch ,when inference wav?"
Is it possible control pitch, When inference wav?

[2020-11-04 09:00] lalimili6 opened #350 "custom symbols"
How can I set my own symbols in preproces?
I want to train a model on own dataset.
as describe in readme I change my dataset as librispeech format.
also I change symbols and letters in `tensorflow_tts/processor/ljspeech.py` .
and run preprocess as in readme:
`tensorflow-tts-preprocess --rootdir ./ljspeech--outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech`
but

[2020-11-04 09:10] seicaratteri opened #351 "How to create my own dataset?"
Hello all! First of all, thanks for the great work - it is incredible! 🥇

I have contacted a friend who has a very great voice and we are able to do around 12h of studio recordings. I was thinking as a first approach to recreate the LJSPEECH datset with her voice - basically using the same text, but with a different voice. Is there a better way to create a dataset for training? and what are the ge

[2020-11-04 09:45] jackiegeek commented on #348
thx, I will try

[2020-11-04 11:27] OscarVanL commented on #296
Hi, I've noticed a problem across multiple models I've trained. The speech sounds tolerable, but then at the end of the sentence, it trails off into garbage.

Here are a few FS2 models saying three sentences of different lengths:

1. "Hello world this is a test of the voice text to speech"
2. "This is a test"
3. "The end of the text always goes bad"

This is using the MB-MelGAN universal vocoder :