[2021-01-30 08:42] #388 closed

[2021-01-30 11:10] dathudeptrai commented on #486
@zhouyong64 did you run our coab demo ?. https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing

[2021-01-30 12:27] zhouyong64 commented on #486
@dathudeptrai Do you mean that I can set enable_tflite_convertible to false when training the model and then convert the trained model to TFLite as per the coab demo?

[2021-01-30 13:23] dathudeptrai commented on #486
did you run the above colab ?. The above colab demo convert tacotron2 to tflite.

[2021-01-30 13:30] zhouyong64 commented on #486
@dathudeptrai No. I want to know if setting enable_tflite_convertible to be true when trainning model is necessary for it to be converted to TFLite as described in the coab demo. I'm sure the coab demo will work.

[2021-01-30 14:48] zhangsanfeng86 commented on #429
@ZhaoZeqing
Could you share some wavs  generated with hifigan?

[2021-01-30 16:41] #383 closed

[2021-01-30 19:53] PedroDKE commented on #478
@vinamramunot-tech  i'm not trying to synthesis someones else's voice, just trying to train a model on a dataset i scraped myself, but for now i'm trying to use the thorsten dataset loader for mine

@dathudeptrai  (sorry for the tag) i tried to preprocess some files using the thorsten configuration, this worked fine for most but at some point i get the following value error that can be seen bellow

[2021-01-31 05:23] zhouyong64 commented on #486
@dathudeptrai "Segmentation fault" when running the colab. It happened when "interpreter.invoke()" is called. I'm using TF2.3.1 and using the baker example.

[2021-01-31 15:20] dathudeptrai commented on #486
can you try tf-nightly ?

[2021-02-01 03:16] dathudeptrai commented on #484
@OnceJune it's not important, the loss will be reduce_mean by default in Trainer.

[2021-02-01 03:18] dathudeptrai commented on #485
@ZhaoZeqing still happened ?

[2021-02-01 03:18] dathudeptrai commented on #483
@HenrySZP https://github.com/TensorSpeech/TensorFlowTTS/tree/master/notebooks

[2021-02-01 05:30] OnceJune commented on #484
@dathudeptrai thanks

[2021-02-01 05:30] #484 closed

[2021-02-01 08:30] #483 closed

[2021-02-01 09:32] ZhaoZeqing commented on #429
I'll train hifigan with a public dataset, then share some wavs here :)

[2021-02-01 09:32] ZhaoZeqing commented on #485
@dathudeptrai Yes, it still happened.

[2021-02-01 09:33] dathudeptrai commented on #485
can you make it reproducible on colab ? then i can debug for you :).

[2021-02-01 09:34] JohnWalker-dev commented on #482
I need to know how our melgan vocoder can support long audios formation? My FS2 is giving a correct spectogram but the vocoder is not been able to convert last characters.

[2021-02-01 09:43] ZhaoZeqing commented on #485
@dathudeptrai OK, I'll try it, thanks!

[2021-02-01 09:54] zhouyong64 commented on #486
tf-nightly works well. Thanks.

[2021-02-01 11:25] #486 closed

[2021-02-01 16:36] #351 closed

[2021-02-02 03:29] #379 closed

[2021-02-03 03:34] ZhaoZeqing commented on #485
@dathudeptrai  TF2.3.1, cuda 11, V100  or multi-GPU still have some problems, but it's ok now with TF2.3, cuda 10.1 and one P100
 :)

[2021-02-03 05:46] dathudeptrai commented on #485
@ZhaoZeqing maybe because CUDA version =))

[2021-02-03 12:35] PedroDKE opened #488 "possible to see fastspeech2 metrics in TensorBoard ?"
Is there a way so see the training metrics/losses of fastspeech2 in TensorBoard?

[2021-02-03 14:47] dathudeptrai commented on #488
@PedroDKE just need:

`tensorboard --logdir PATH`.

[2021-02-03 14:53] PedroDKE commented on #488
does the basetrainer also save the file needed for tensorboard when the model gets saved after a keyboard interupt or only after the completion of the full training steps?

[2021-02-03 20:50] CaoNguyen-audio opened #489 "Duration alignments"
Xin chào. What an amazing repository. I am working on an open source project, where I am using this project. I am using a pre-trained LJspeech model. But I want to know how can I get duration of each word in the audio. I see that in text2mel_model.inference function, you guys are returning a duration too. But I am confused what this duration is representing ? Can you please be kind enough to guide

[2021-02-04 18:59] CaoNguyen-audio commented on #489
Any insights @ZDisket @dathudeptrai. Your two words answer will be a valuable source of information for me.

[2021-02-04 19:42] ZDisket commented on #489
@CaoNguyen-audio The durations returned are for every character or phoneme, depending on what you're using as input. Let's assume char, so if you input "hello bye" and the durations look like [20, 10, 15, 30, 25, 10, 30, 25]. So, to get per word durations you'd have to figure out based on your input which parts belong to certain words, then split and sum them up.
In our example input the first 5 d

[2021-02-04 20:56] CaoNguyen-audio commented on #489
Thank you so much.

[2021-02-04 20:56] #489 closed

[2021-02-05 06:58] dathudeptrai commented on #488
the tensorboard file saved in `outdir` for sure.

[2021-02-05 08:06] #390 closed

[2021-02-05 15:00] #289 closed

[2021-02-05 15:00] #402 closed

[2021-02-05 21:38] #373 closed

[2021-02-06 09:21] 980202006 commented on #201
hi， in the colab，  the energy ratio dose not work. I modify it as 0.5 or 2, but the wav has the same volumen as  before.

[2021-02-06 18:16] #382 closed

[2021-02-06 18:16] #399 closed

[2021-02-07 02:27] zhpnp commented on #376
you can see this simple [demo](https://github.com/tatans-coder/TensorflowTTS_chinese)

[2021-02-07 03:29] zhouyong64 opened #490 "Why there are two speaker embeddings in tacotron"
One speaker embedding in TFTacotronEmbeddings. Another one in the Encoder. Why need two?

[2021-02-07 03:37] zhouyong64 opened #491 "padding value for speaker_id"
In tacotron2 code, the padding value for speaker_id is 0. Could this be wrong, since 0 is the first valid speaker id? As I understand it, input_mask is used to ignore padded values. However, there are two speaker emdeddings in current implementation, one in TFTacotronEmbeddings and another in Encoder. Input_mask only work on the first speaker embedding, because the second speaker embedding comes a

[2021-02-07 17:20] dathudeptrai commented on #490
@zhouyong64 can you point out the code ?

[2021-02-07 17:22] dathudeptrai commented on #491
@zhouyong64 a shape of `speaker_id` is `batch_size`, padding value won't affect anything here, we do not use padding speaker id :D.

[2021-02-08 02:28] zhouyong64 commented on #490
In TFTacotronEncoder.call(), the inputs go through TFTacotronEmbeddings, which contains a speaker embedding. Then in the same call(), the output of biLISM is combined with another speaker embedding (Line 262).

[2021-02-08 04:25] zhouyong64 commented on #491
Thanks for explaining.

[2021-02-08 04:26] zhouyong64 commented on #491
Thanks for explaining.

[2021-02-08 04:29] dathudeptrai commented on #490
@zhouyong64 `TFTacotronEmbeddings` include `charactor_embedding` and `speaker_embedding`. We also use `speaker_embeddings` for `attention` and `decoder` module by adding it into outout of `biLSTM`.

[2021-02-08 06:45] #491 closed

[2021-02-08 07:24] wsr692 opened #492 "vietnamese romanization tool"
Hi, I am trying to develop cross-lingual TTS.
I am looking for a tool to convert vietnamese text into its closest romanization (as in english) sequence.

Any suggestions?

Thanks!

[2021-02-08 11:29] PedroDKE commented on #488
yes, found it. It seemed that it didn't safe correctly on my first try. But it did in my second. Thank you!

[2021-02-08 11:29] #488 closed

[2021-02-08 14:42] #237 closed

[2021-02-10 22:18] JohnWalker-dev opened #493 "Training from scratch"
Hello, First of all I would really appreciate your work. You guys have done a great job. I would like to know your expert advice for the following issue:
I am training the fastspeech2 model on an English audio book (~28H). I would like to know what changes do I need to make before training on my data set from scratch. In past, what the difficulty that I have experienced is that weights are explode

[2021-02-10 22:19] #482 closed

[2021-02-11 13:17] PedroDKE opened #494 "where and why to add padding"
so i have a quick and small question:

where do we add padding (eos tokens) in our sentences for training/evaluation? in the beginning, the end, somewhere in the middle or the end ?
And why do we add these extra tokens? is it in case that there is silence at the beginning/end of our training set or is there another reason?

also: are these padding tokens mapped one to one (in the mapper, is it for

[2021-02-11 13:48] #478 closed

[2021-02-12 08:56] zooeygirl opened #495 "[_Derived_]Loop execution was cancelled."
Hi there,

Thank you very much for putting this library together; it seems really cool.
Unfortunately I'm running into errors when I try to execute extract_durations and train_tacotron2. Any ideas what may be causing this?
Thanks for your help.

Traceback (most recent call last):
  File "TensorFlowTTS/examples/tacotron2/train_tacotron2.py", line 514, in <module>
    main()
  File "TensorFlowTTS/ex

[2021-02-13 15:09] PedroDKE opened #496 "Tacotron 2 NaN loss when using pretrained model as starting point"
I'm trying to finetune the pretrained Tacotron 2 model on my own (English) dataset.
I follow the steps explained [here](https://github.com/tensorspeech/TensorFlowTTS/tree/master/examples/tacotron2#finetune-tacotron-2-with-ljspeech-pretrained-on-other-languages).
My new dataset uses a processor similar to the one from the Thorsten dataset, but uses the English cleaners. To get the vocabulary length

[2021-02-13 18:18] #412 closed

[2021-02-14 04:03] dathudeptrai commented on #496
@PedroDKE training from scratch is ok, do not need to fine-tune from our checkpoints. You should be training around 60k-80k steps to be able to get a good duration for fastspeech2.

[2021-02-14 11:11] #398 closed

[2021-02-15 09:33] mikus commented on #467
One of the options for better support for multiple speakers or styles could be an adding of Variable Auto-Encoder which automatically extracts this voice/style "fingerprint".

[2021-02-15 11:21] hccho2 commented on #161
When running only on cpu, I got this error.

[2021-02-15 12:16] hccho2 commented on #312
When running only on cpu, I got this error.

[2021-02-15 21:37] AdityaJain1030 opened #497 "Error while Extracting Duration"
Hey guys! Ive been trying to figure out how to finetune fastspeech, and had an issue with extracting the durations. My code is as follows:

[code]

This returns the error

[code]

I installed the tacotron model with
[code]

Any idea what causes this error? Help would be greatly appreciated.

[2021-02-16 00:43] dathudeptrai commented on #497
@AdityaJain1030 did you preprocess dataset, what is the dataset you used ?. You should use the config in main repo here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/conf/tacotron2.v1.yaml)

[2021-02-16 00:54] AdityaJain1030 commented on #497
Yep, I preprocessed the dataset first, with
[code]
Im currently changing the config to the one you linked, hopefully this makes a difference 🙂

[2021-02-16 01:01] #497 closed

[2021-02-16 01:51] AdityaJain1030 opened #498 "local variable 'train_steps_per_epoch' referenced before assignment while trying to train fastspeech2"
I preprocessed a custom dataset for finetuning with fastspeech2. However, after running the command
[code]
I get the error
[code]

Any help with this issue would be greatly appreciated.

[2021-02-16 02:22] AdityaJain1030 commented on #498
Found the issue. My fine-tuning dataset ended up being smaller than my batch size 😁. Closing the Issue now

[2021-02-16 02:22] #498 closed

[2021-02-16 02:25] AdityaJain1030 commented on #476
@neng668 This may be an issue with your batch size. Make sure that the batch-size in the config file is greater than the number of audio clips in your dataset. See #498

[2021-02-16 11:28] Amels404 opened #499 "Inference for Tactron2 using other language"
Hello!
I have trained the tactotron2 model on an Arabic language. The problem is that I have an error when decoding for inference.

Versions:
TensorflowTTS=0.11
TensoflowGPU= 2.3.0/2.4.0
TensorflowAddons=0.12.0
Error:
Trying to access element 77 in a list with 77 elements.

Thank you for you help!

![inferencetactron2](https://user-images.githubusercontent.com/71659848/108057050-60e23a00-7052-11eb

[2021-02-16 12:15] PedroDKE commented on #496
After training the tacotron2 model to extract the durations (70k steps on ~5k audio files) i made a little script to plot the MFCC's all extracted features (f0,energy and durations). In here i saw that in some (i'd say roughly 25% of the cases) the durations dont look too good (its already improved over using MFA or a pretrained tacatron2 in my case though). Should i train the tacotron2 model for

[2021-02-16 15:54] #424 closed

[2021-02-16 20:00] ahmedalbahnasawy commented on #499
@Amels404 could you provide more details ? Are you able to generate spectrogram without using decode_tacotron2.py ? like using this colab
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/tacotron2_inference.ipynb

[2021-02-17 10:07] Amels404 commented on #499
Thank you very much for getting back.

Actually, No, I can't generate the spectrogram,  I tried it out, but I got an error to save the PB:
'tf.saved_model.save(tacotron2, "./test_saved", signatures=tacotron2.inference)'
I was unable to save the model, you can find the error in the screenshot below.

For more details, I have converted my dataset to the data format needed for the train, I changed th

[2021-02-18 03:16] OnceJune commented on #494
eos is short for [e]nd [o]f [s]entence, so the answer to your first question is, eos token should be added to the end of the input ling feat.
for your second question, why eos is necessary, in my understanding, its usage is to tell attention to give a stop token predict, since eos only occurs at the end of every training feat.
in nn networks, duration network has the knowledge that when the sent c

[2021-02-18 08:42] #401 closed

[2021-02-18 09:59] ahmedalbahnasawy commented on #499
@Amels404 I see. Well, Before you save the model you need to fit random input to the model (TF2 related). then load_weights and save it.

[2021-02-18 13:12] Amels404 commented on #499
Yes, I see, thank you for your time!

[2021-02-18 13:12] #499 closed

[2021-02-18 16:45] PedroDKE commented on #494
@OnceJune thank you!

[2021-02-18 16:45] #494 closed

[2021-02-18 18:38] PedroDKE opened #500 "FastSpeech 2 does not seem to be learning much from my dataset"
I'm trying to train a FastSpeech2 model on a dataset i scraped myself (around 7 hours of speech and 5000 audio files resampled to 22050hz). I do not expect great results, but at least something to work with. My preprocessing steps are similar to all the ones in the repository, except i had to put my min trimming db to 10.  Besides this i used the default preprocessing/normalizing steps and when i

[2021-02-18 18:48] ZDisket commented on #500
How did you extract your durations? MFA? Tacotron? Your data shouldn't be a trouble since I was able to make good sounding models out of 4 and 6 hours of 44.1KHz data.

[2021-02-18 18:48] ZDisket commented on #500
Oops I misclicked sorry, open another issue

[2021-02-18 18:59] PedroDKE commented on #500
I scaped them from librivox and alligned them to the book text by using aeneas. The allignments seem to be correct for 95%+ of my data that i'm using in this case.

[2021-02-18 19:10] ZDisket commented on #500
@PedroDKE Are your durations from the aligner or from Tacotron?

[2021-02-18 19:15] PedroDKE commented on #500
@ZDisket the aeneas alligner only works on sentence level. So I trained my own tacatron2 on the data to extract durations. I have talked about a bit in another issue (these are worst case scenarios, in most cases the durations cover the whole sentence, not perfect but i would assume it would be good enough to get some preliminary results) https://github.com/TensorSpeech/TensorFlowTTS/issues/496#is

[2021-02-18 19:40] ZDisket commented on #500
@PedroDKE
Can't help you that much since I use phoneme and MFA, but I had a similar problem in the past with some multispeaker datasets and I fixed it by changing the learning rate schedule to the one in the LibriTTS example: https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/conf/fastspeech2libritts.yaml

[2021-02-18 19:51] PedroDKE commented on #500
@ZDisket my dataset is only a single speaker atm, but i plan to extend it to multiple speakers, I will try out the learning rate schedule, thank you! Is there anything you would recommend to try out if this doesnt work?

btw, i tried to use MFA too but i found out that on the character level, it does not return me a duration for each character ? for example when i have 40 characters (including pun

[2021-02-18 20:04] ZDisket commented on #500
@PedroDKE If you use MFA you want to use it for phoneme durations and train a model based on phonetic input, you can find extraction instructions: https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/mfa_extraction, although I don't use those scripts specifically.

[2021-02-18 20:44] xDuck opened #501 "FastSpeech2 does not convert to ONNX"
I am trying to convert FastSpeech2 to ONNX with `tf2onnx` and when I run the model I get an error with an unsqueeze layer - Does anyone have insight on this?

Convert FastSpeech2 Keras -> Tensorflow
[code]

Tensorflow to ONNX (Tried to explicitly set input shapes, didn't seem to matter. Also varied opset)
[code]

Running in onnxruntime
[code]

The error I get is:
[code]

When inspecting the model

[2021-02-18 21:07] xDuck commented on #501
I also tried keras2onnx but couldn't even get the model into ONNX format.

[code]

Errors:
[code]

[2021-02-19 03:37] luan78zaoha commented on #201
@980202006  Because the audio amplitude of the training data don't change significantly, the model can not capture the influence factor of energy. So the energy ratio doesn't seem to work.

[2021-02-19 08:20] yolanda0235 commented on #466
@ZDisket  @dathudeptrai
I modified the processor , mixed ljspeech dataset and Baker dataset as English and Chinese data, and assigned them speaker ID, （Chinese is 0, English is 1）

![Selection_001](https://user-images.githubusercontent.com/50702348/108477319-07863f00-72ce-11eb-818a-daddd8a92cff.png)

I modified  tacotron2 model according to the example of multispeaker libritts. Speakerid is added

[2021-02-19 11:11] PedroDKE commented on #500
@ZDisket so i adjusted the learning rate as you said, but i'm not sure if i can see any improvements.
Here is my tensorboard
![image](https://user-images.githubusercontent.com/43861296/108496658-ab5df380-72aa-11eb-8857-09562db44694.png)

and here is the first example again at approx 145k steps. I'm not sure if the model is better or not. But the MFCC's produced still aren't really usefull (compare

[2021-02-19 17:03] xDuck commented on #501
Building the model with the TFLite param `enable_tflite_convertible=True` seems to have done the trick, sorry for confusion

[2021-02-19 17:03] #501 closed

[2021-02-20 14:59] #420 closed

[2021-02-22 11:47] PeijiYang commented on #498
hello, how to change the batch size for Tacotron2 trainging?

[2021-02-22 11:51] PeijiYang commented on #498
hhhhh, I found it in config file.

[2021-02-23 02:31] ZhaoZeqing commented on #434
@dathudeptrai This issue is ok now. I found that the speed was slow because of the long audios in my dataset.

[2021-02-23 03:25] dathudeptrai commented on #434
@ZhaoZeqing oh, good to know that :D.

[2021-02-23 03:25] #434 closed

[2021-02-23 09:00] PeijiYang commented on #429
this 16k Mandarin dataset is publication? Can you share it with me, thx.

[2021-02-23 10:34] hccho2 opened #502 "There is a small typo in melgan_stft/README.md."
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/melgan_stft/README.md#step-2-training-from-scratch

Need to replace:
[code]
with
[code]

[2021-02-24 03:43] PeijiYang commented on #201
![image](https://user-images.githubusercontent.com/17819608/108944249-56005880-7695-11eb-9c16-efb5c53a48a0.png)
is this a right loss curve? I think eval loss is Weird. Can you share your loss curve?

[2021-02-24 03:47] PeijiYang opened #503 "Are there any plans to add other vocoders？"
Do you have any plans to add other vocoders, like lpcnet, wavernn etc.

[2021-02-24 03:58] dathudeptrai commented on #503
if you know another interesting vocoder, let me know :D.

[2021-02-24 04:08] dathudeptrai commented on #201
@PeijiYang ur loss is ok, it is just overfitting a bit :)) may cause by small data :D.

[2021-02-24 05:45] Jackiexiao commented on #429
should I implement it by myself or is there any code in this repo?

[2021-02-24 05:54] dathudeptrai commented on #429
you can easily implement by urself :D

[2021-02-24 05:55] Jackiexiao commented on #429
thx

[2021-02-24 08:00] #502 closed

[2021-02-24 08:14] ZhaoZeqing commented on #429
Here it is, but it may not be downloaded directly now.
https://www.data-baker.com/open_source.html

[2021-02-24 08:49] PeijiYang commented on #353
I got the same error, how to repair it ?

[2021-02-24 21:00] abylouw commented on #467
LightSpeech https://arxiv.org/abs/2102.04040

[2021-02-24 21:12] ZDisket commented on #429
@dathudeptrai

You tried it?

[2021-02-25 06:38] dathudeptrai commented on #429
i don't remember :D

[2021-02-25 14:34] hccho2 opened #504 "HifiGAN resblocks are applied sequentially."
https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/hifigan.py#L162

[code]

![image](https://user-images.githubusercontent.com/26861167/109168022-c3110c80-77c1-11eb-9987-dc8dd337f1b2.png)

HifiGAN resblocks should be applied in parallel.

[2021-02-25 14:48] zhangsanfeng86 opened #505 "In C++ , how to inference duration_outputs?"
Hello  @ZDisket，

In Python, it can inference  duration_outputs,as follow:
![image](https://user-images.githubusercontent.com/73547638/109170238-8f32e880-77bb-11eb-8151-6b0a511f101d.png)

how to inference  duration_outputs in C++？

[2021-02-25 16:22] huseinzol05 opened #506 "Universal MelGAN"
Original paper from https://arxiv.org/abs/2011.09631

Thanks to this repository, I added [STFTDiscriminator](https://github.com/huseinzol05/malaya-speech/blob/master/malaya_speech/train/model/universal_melgan/model.py#L328) and follow parameters from the paper, https://github.com/huseinzol05/malaya-speech/blob/master/malaya_speech/config/universal_melgan.py

I able to release pretty good Universal

[2021-02-25 16:49] ZDisket commented on #505
I haven't figured out a way yet. Technically the exported model has multiple outputs that could be extracted with C++, but trying to get something other than the first one results in a bunch of bizarre errors.
My guess is that you'll have to mess with how the model is exported.

[2021-02-26 02:52] dathudeptrai commented on #504
@hccho2 i need to read paper again to check this :D.

[2021-02-26 03:05] dathudeptrai commented on #506
@huseinzol05 great!. Can we somehow support Ur universal pretrained for this repo ?

[2021-02-26 03:35] zhangsanfeng86 commented on #505
Thank you  for your reply :)

[2021-02-26 04:43] huseinzol05 commented on #506
But Text-to-Mel models in this repository got their own norm, need to un-norm and norm using my Universal MelGAN.

[2021-02-26 04:46] dathudeptrai commented on #506
@huseinzol05 can you point out where is a diff between universal melgan / melgan in terms of modeling?

[2021-02-26 05:27] huseinzol05 commented on #506
1. STFTDiscriminator, https://github.com/huseinzol05/malaya-speech/blob/master/malaya_speech/train/model/universal_melgan/model.py#L343
2. STFTDiscriminator required TFReflectionPad2d, https://github.com/huseinzol05/malaya-speech/blob/master/malaya_speech/train/model/universal_melgan/model.py#L71
3. MultiScaleDiscriminator got both WaveFormDiscriminator and STFTDiscriminator, https://github.com/hu

[2021-02-26 07:50] OnceJune commented on #506
how's the rtf of 1024 filters?

[2021-02-26 07:54] #348 closed

[2021-02-26 08:05] huseinzol05 commented on #506
what is rtf? lol, sorry, I got many definitions here

[2021-02-26 08:30] dathudeptrai commented on #506
real time factor :D

[2021-02-26 10:02] dathudeptrai commented on #504
@hccho2 here is an original implementation (https://github.com/jik876/hifi-gan/blob/master/models.py#L106-L110). Still sequential ?. Anyway, I agree that apply parallel resblock should improve latency much :D.

[2021-02-26 10:50] machineko commented on #504
XLA should "possibly" make it parallel after compilation let's check that first

[2021-02-26 11:05] huseinzol05 commented on #506
https://gist.github.com/huseinzol05/4d0d813adf7c35de9f025a78d34fd3f1

RTF:
1. single speaker melgan (17.3MB): 0.07561842918375423
2. universal melgan (309MB): 1.1712138246206785
3. universal melgan 1024 (78.4MB): 0.3548741817549521

[2021-02-26 13:57] ZDisket commented on #506
Have you tried universal multiband melgan?

[2021-02-26 14:25] hccho2 commented on #504
@dathudeptrai
The issue I'm talking about isn't the efficient side of the computation.

origin implementation:
[code]

this repo:
[code]

[2021-02-26 14:27] dathudeptrai commented on #504
@hccho2 I know it, but I think it does not affect a result much. I will fix an implementation in the next release. I will also check if the model inference faster or not :D .

[2021-02-26 14:28] hccho2 commented on #504
@dathudeptrai
Ok. thanks.

[2021-02-26 15:53] huseinzol05 commented on #506
I believe it can!
Let me try, i will post results in 1-3 weeks.

[2021-02-26 16:23] machineko commented on #504
@dathudeptrai
If u want to debug if code will be properly dispatched on gpu -> [tf-profiler](https://www.tensorflow.org/guide/profiler) its handy tool :)

[2021-02-27 03:46] #436 closed

[2021-02-27 22:00] eurdem01 opened #507 "Warning: "It is better to reconsider global gain scale value.""
During the preprocessing stage I get "ABC.. causes clipping. It is better to reconsider global gain scale value." warnings. Since I get lots of them, I thought it may affect the training much. What should I do ?
Should I use choose "gain scale value" < 1 ?

[2021-02-28 00:30] #507 closed

[2021-02-28 15:18] nmfisher commented on #467
@abylouw Here's an early version of LightSpeech here https://github.com/nmfisher/TensorFlowTTS/tree/lightspeech

Training pretty well on a Mandarin dataset so far (~30k steps) but haven't validated formally against LJSpeech (to be honest, I don't think I'll get time, so would prefer someone else to help out).

This is just the final architecture mentioned in the paper (so I haven't implemented any

[2021-02-28 16:02] dathudeptrai commented on #467
great! :D. how about a number of parameters in LightSpeech ?

[2021-02-28 17:08] holianh opened #509 "Missing Duration files"
Hi every one,
I try to train fastspeech2 on ljspeech as example folder.
I faced the problems: missing duration files, the steps i did:
1. download ljspeech dataset from [here](https://keithito.com/LJ-Speech-Dataset/) to local
2. install tensorFlowTTS:
[code]
3. Run processing:
[code]
4. follow example of training fastspeech2 instructions:
in this step, I faced the problem: how to create duration f

[2021-03-01 02:41] nmfisher commented on #467
My early version of LightSpeech is:
![image](https://user-images.githubusercontent.com/7238578/109444672-df4acd00-7a91-11eb-8129-c9ff42b95b1f.png)

By comparison, FastSpeech 2 (v1) is:

![image](https://user-images.githubusercontent.com/7238578/109444718-f7225100-7a91-11eb-9289-ab9f049956a8.png)

But given the paper claims 1.8M parameters for LightSpeech (vs 27M for FastSpeech 2), my implementatio

[2021-03-01 02:50] PeijiYang opened #510 "I get a strange loss curve, Has anyone encountered the same situation?"
![image](https://user-images.githubusercontent.com/17819608/109446024-d818c480-7a7b-11eb-9fbf-ae4ab4ab3d92.png)

Loss was interrupted in some steps, and then began to fall again. Is the size of my dataset too small?

[2021-03-01 03:37] wblgers commented on #506
Is this familiar with TFGAN?  Link below: https://arxiv.org/abs/2011.12206

[2021-03-01 04:05] luan78zaoha commented on #467
@dathudeptrai @nmfisher I also tried to reduce the model size of FastSpeech2 (but not include PostNet modular) with a parameter order: Encoder Dim > 1d_CNN > Attention = Stacks_Num. Reducing encoder-dim is the most effective way to reduce the model size. For the config of fastspeech2.baker.v2.yaml, the model size reduced from 64M to 28M, and the proportion of Postnet modules in the total model siz

[2021-03-01 04:06] dathudeptrai commented on #510
@PeijiYang a bit overfitted :))

[2021-03-01 04:08] dathudeptrai commented on #467
yeah, Postnet is only for faster convergence, we can ignore it after the training process.

[2021-03-01 04:11] dathudeptrai commented on #467
@nmfisher 6M params is small enough, did you get a good result with lighspeech ? . how fast is it ?

[2021-03-01 04:20] #442 closed

[2021-03-01 04:38] luan78zaoha commented on #467
I'm sorry that I haven't studied lightspeech in detail, and I have a question: what's the difference in details between the small-size FastSpeech and lightspeech. @nmfisher

[2021-03-01 04:41] PeijiYang commented on #510
200k step alignment figure：
![31_alignment](https://user-images.githubusercontent.com/17819608/109452617-1ec1eb00-7a8b-11eb-9e19-19c22d869a7e.png)
![30_alignment](https://user-images.githubusercontent.com/17819608/109452620-1ff31800-7a8b-11eb-85cd-0777c3115a44.png)
![29_alignment](https://user-images.githubusercontent.com/17819608/109452623-21244500-7a8b-11eb-8669-ed58c9b7472c.png)
100k:
![31_alig

[2021-03-01 05:10] dathudeptrai commented on #467
@luan78zaoha lightspeech use separableConvolution :D.

[2021-03-01 05:10] luan78zaoha commented on #467
@dathudeptrai  I used TF-LITE to inferencing on x86-linux platform. The result is that: RTF of 45M and 10M models were 55.6 and 98.0, respectively.

[2021-03-01 05:10] dathudeptrai commented on #510
@PeijiYang not really good but may enough for fastspeech training. is ur data small ?

[2021-03-01 05:11] dathudeptrai commented on #467
let wait @luan78zaoha reports lightspeech RTF :D.

[2021-03-01 05:16] ZDisket commented on #509
You either train Tacotron2 on your dataset then use that to extract durations or use a forced aligner like MFA. There's an example for doing this with LibriTTS here: https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_libritts, although I can't help with it that much because I use different scripts in my fork.

[2021-03-01 06:05] PeijiYang commented on #510
Yep, only 2 hours, 1400+ parallel data.  It is strange why there are two interruptions in the loss curve of training. Can FastSpeech use less data for better results than Tacotron2?

[2021-03-01 07:00] dathudeptrai commented on #510
@PeijiYang could be :D . let try :D.

[2021-03-01 07:01] ZDisket commented on #510
@PeijiYang

You can get a large public dataset in the same language you're using, train that first, then use your data to fine tune said model. Then you can get good results with Tacotron2 with as little as 30 minutes of audio.

[2021-03-01 07:02] PeijiYang commented on #510
Thank you, I will try it

[2021-03-01 07:07] PeijiYang commented on #510
That cool, I have one same language public dataset with about 10hours, 10000 parallel data. And it is single-speaker dataset. May it is enough to train a pretrained model for Tacotron2?

[2021-03-01 11:04] #428 closed

[2021-03-01 16:27] ZDisket commented on #510
Yes. Although if you don't value the non deterministic (one input, infinite possibilities of results) nature of Tacotron2 then I'd recommend using FastSpeech2.

[2021-03-01 19:07] nmfisher commented on #467
As @dathudeptrai mentioned, LightSpeech uses SeparableConvolution in place of regular Convolution, but then also passes various FastSpeech2 configurations through neural architecture search to determine the best configuration of kernel sizes/attention heads/attention dimensions. Basically they use NAS to find the smallest configuration that performs as well as FastSpeech2.

[2021-03-02 06:33] zhouyong64 opened #511 "bad result with multi-speaker MB-melgan"
I tried the baker example with mb-melgan and it works great. But when I add data from two other speakers to the baker speaker to make it a 3-person multi-speaker dataset, me-melgan's train and eval losses become pretty bad.

train_gen_loss:
021-03-01 21:03:40,095 (base_trainer:658) INFO: (Step: 2200) train_gen_loss = 2.5342.
2021-03-01 21:04:23,791 (base_trainer:658) INFO: (Step: 2400) train_gen_l

[2021-03-02 06:44] dathudeptrai commented on #511
@zhouyong64 you should check ur dataset and remove bad audio (almost silence, noise ...), this problem is almost caused by a dataset.

[2021-03-02 07:58] zhouyong64 commented on #511
You're right. If one of the speakers is removed, the result will be better. However, the same 3-speaker dataset works OK with WaveRNN, which seems more robust than mb-melgan.

[2021-03-02 08:02] dathudeptrai commented on #511
yes, mb-melgan is more sensitive with bad samples :(. But you can easily fix it with masked loss (pls refer https://github.com/TensorSpeech/TensorFlowTTS/issues/247) @zhouyong64

[2021-03-02 08:34] zhouyong64 commented on #511
Great, I'll try. By the way, would you consider adding a universal vocoder such as universal melgan to this repo? I think it would be a great addition, eliminating the need to train on multi-speaker data in some cases. In my experience, melgan and mb-melgan don't generalize well to unseen speakers, while WaveRNN seems a little better with respect to generalization.

[2021-03-02 08:36] dathudeptrai commented on #511
@zhouyong64 you can refer (https://github.com/TensorSpeech/TensorFlowTTS/issues/506) for the implementation of universal melgan. If you can make it work, pls create a PR for this :D.

[2021-03-02 09:17] zhouyong64 commented on #511
I'll take a look. Another thing, the masked loss trick you just mentioned, have you tried it with other models? It seems a great trick to deal with low-quality data if it can be applied to other models as well.

[2021-03-02 10:08] StarWang commented on #290
Hi @trinitylundgren did you get any luck on this issue? I got similar error as you do

[2021-03-02 10:10] dathudeptrai commented on #511
yes, you can apply it for other models but need tune the threshold value by urself :D.

[2021-03-02 10:59] #505 closed

[2021-03-02 11:38] PedroDKE opened #512 "Fastspeech 2 phoneme 'Invalid argument: Incompatible shapes' during training"
i'm trying to train a phoneme based FS2 model. I followed all the steps explained in the [libritts](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2_libritts) readme (i also did the fix mismatch step already). when I start to train my model, within the first 10 steps I get the following error:
[code]

I already checked if all my duration,f0,energies,mfcc files have th

[2021-03-03 02:10] dathudeptrai commented on #512
@PedroDKE you should check the len of (f0, energies) after reduce by its duration (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/fastspeech2_libritts/fastspeech2_dataset.py#L174-L175)

[2021-03-03 02:44] PeijiYang commented on #510
@dathudeptrai @ZDisket FastSpeech2 training seems a bit slow. I checked the GPU occupancy througn nvidia-smi, and I found that Memory-Usage is 10G, but the GPU-Util is always 0%. I don't know if this is a normal situation for training FastSpeech2. Can you tell me how many hours it takes to train FastSpeech2 with 150k steps?

[2021-03-03 02:50] ZDisket commented on #510
@PeijiYang A FastSpeech2 that finished training a day ago took about 2 days to get to 150k steps, but that is with batch_size 32 and 4 gradient accumulation steps on a single V100.

[2021-03-03 03:06] PeijiYang commented on #510
I train it on two V100 with batch_size 64. Do you have stiuation that GPU-Utils is always 0%？i guess that some data processing modules were interspersed during the training process.

[2021-03-03 05:04] ZDisket commented on #510
@PeijiYang I don't usually pay attention to GPU utilization unless I notice something wrong, so far I haven't had any of those situations.

[2021-03-03 06:51] dathudeptrai commented on #510
GPU-Util is 0% means at that time it is reading dataset (very sure :)), you should check ur CPU speed.)

[2021-03-03 07:10] PeijiYang commented on #510
The speed returned to normal after about 1000 steps, GPU Utils is high now. Thank you.

[2021-03-03 10:10] PedroDKE commented on #512
@dathudeptrai thank you for the reply.
For all my files i checked if the length from the output from 'average_by_duration(norm_mean_std(f0/energy))' is equal to the length of my id's in the "utt_ids.npy" file and they are all be the same length.

[2021-03-03 14:01] dathudeptrai commented on #512
@PedroDKE you should loop the dataset and check, you need to figure out what samples caused this problem, this issue is 100% caused by the dataset, not the model itself.

[2021-03-03 18:05] PedroDKE commented on #512
okay so using the little script i found some files that caused the issue. By going a bit further with these files I figured that some of the validation files had their durations also in the training/fix_dur folder (not sure why, probably from an earlier preprocessing , and also not sure how this passed all the checks when asserting if the folder lengths are the same etc). So by removing my datafol

[2021-03-03 18:05] #512 closed

[2021-03-04 03:30] AnitaLiu98 commented on #379
same question, any other ways to solve this problem?

[2021-03-04 11:24] zhouyong64 commented on #511
OK

[2021-03-05 03:37] HenrySZP opened #513 "How do i judge the quatily of the model Tacotron2,such as accurary rate and recall,or other standard,Can you help me?"
I want to change based on this model，so i need know the judging criteria，pls help me.........

[2021-03-05 06:13] #415 closed

[2021-03-05 06:14] #310 closed

[2021-03-05 08:09] PeijiYang commented on #510
@dathudeptrai @ZDisket It's surprise, fastspeech2 is much better than tacotron2 on my 2 hours datasets. But it is still overfitting to my training data set, and the effect is not very satisfactory. Maybe I need to try finetune fastspeech2 or tacotron2, is it a good way?

[2021-03-05 12:28] #444 closed

[2021-03-05 14:13] machineko commented on #513
Most of the time u should just use [MAE](https://www.tensorflow.org/api_docs/python/tf/keras/losses/MAE)/[MSE](https://www.tensorflow.org/api_docs/python/tf/keras/losses/MSE) loss, but smaller loss from certain point dose not convert to audio quality (or mel reconstruction in case of Taco2). [ofc. in papers u'll get some sort of MOS metrics based on human reception of audio generated by models]
Th

[2021-03-07 05:14] #449 closed

[2021-03-07 15:05] #447 closed

[2021-03-07 15:08] machineko commented on #454
@monatis

[2021-03-08 06:30] HenrySZP commented on #513
thank you，i'll try CDPAM ，how about mel_loss?if i use it , yes or no? @machineko

[2021-03-08 09:24] ChintanDonda commented on #50
I'm also facing the same issue with the below error while trying to feed in the input tensor of **dtype=tf.bfloat16**.

FYI, input tensor (3D image) goes to keras.layers.Conv2D layer.
I want to pass the input tensor with dtype=tf.bfloat16 only.

Error:
**TypeError: Input 'filter' of 'Conv2D' Op has type float32 that does not match type bfloat16 of argument 'input'.**

Any idea on how to fix this?

[2021-03-08 09:27] dathudeptrai commented on #50
@ChintanDonda let try dtype=tf.bfloat16 for conv2d .

[2021-03-08 13:39] machineko commented on #513
Mel loss in the case of this repo is MAE/MSE  so u can use it without problems just remember that audio quality isn't comparable with the loss.

[2021-03-08 21:30] #325 closed

[2021-03-09 03:04] zhangsanfeng86 opened #514 "where define the tensor name"
Hello @ZDisket，

where define the tensor name in FastSpeech2.cpp
such as:  "serving_default_input_ids"  ,   "serving_default_energy_ratios" ,"StatefulPartitionedCall"

![image](https://user-images.githubusercontent.com/73547638/110412483-40dcee00-80c7-11eb-8ba2-3b20ea6ac092.png)

[2021-03-09 05:50] #514 closed

[2021-03-09 07:57] debasish-mihup commented on #467
@dathudeptrai Can you help me implement Higan with fastspeech2 on android? I have tried to implement the same by using https://github.com/tulasiram58827/TTS_TFLite/tree/main/models pretrained model and changing the line
https://github.com/TensorSpeech/TensorFlowTTS/blob/9a107d98bd20e8030c07e03a5857f62f36d69270/examples/android/app/src/main/java/com/tensorspeech/tensorflowtts/module/FastSpeech2.jav

[2021-03-09 18:38] #450 closed

[2021-03-10 12:56] machineko commented on #513
No problem!
You can close this issue if I respond to ur questions :)

[2021-03-11 01:26] #513 closed

[2021-03-11 06:06] manmay-nakhashi commented on #503
https://arxiv.org/pdf/2011.12985.pdf

[2021-03-11 09:04] dathudeptrai commented on #503
it's really hard to implement this model :D.

[2021-03-12 11:58] #453 closed

[2021-03-12 19:53] ariG23498 opened #515 "Processor API"
I am creating a libritts processor like this:
[code]

After I have the processor I am using the `text_to_sequence` function to transform a `str` into a list of `ids`. I have been getting key errors for quite some time now. Did not find a good documentation to help resolve my problem. At a later stage found another method `inference_text_to_seq`. I would love for the maintainers to guide me to bett

[2021-03-12 20:13] ariG23498 commented on #428
Hey @OscarVanL
I have been trying to poke around on a similar topic. I have tried emulating the steps that you have taken. I have limited data, and am training just the `embedding` layer of the FS2 model for a mere 5k epochs.

I am not able to fathom the `speaker_id` part in inference step.
[code]
This just so happens that providing any value in `speaker_ids=tf.convert_to_tensor([1], dtype=tf.int3

[2021-03-13 03:22] meowtech commented on #163
@unparalleled-ysj Would you mind share your solution with us? I come across the same situation recently.

[2021-03-13 10:26] engineergun opened #516 "Is there any possible way to split a multi-speaker model into individual speaker models?"
Again and again thanks for this awesome repository. I trained a multi-speaker fastspeech2 model using fastspeech2_libritts example with 4 speakers and it works fine with the speaker_ids parameter. But, I am wondering is there any possible way to split them into individual speaker models?

[2021-03-15 02:11] OnceJune commented on #514
you can print the op name in python first

[2021-03-15 09:00] #406 closed

[2021-03-15 09:05] machineko commented on #516
You can just retrain it for few epochs on loss that will eradicate the generation of audio of any other speaker_id embedding 📦

[2021-03-15 09:07] machineko commented on #515
Give me ur discord/gitter info so I can ping u later and answer ur questions 👍🏻

[2021-03-15 10:29] ariG23498 commented on #515
Discord: Aritra#8047
Thanks for the reply 😄

[2021-03-15 12:16] ZhaoZeqing opened #517 "Zoneout in Tacotron2"
Hi~~

I added zoneout in Tacotron2 like this:
[code]
It's ok when return **rate * states + (1 - rate) * new_states** at inference time, when I only return **new_states** at inference time, voice quality is better than the former but speak more faster. A little question about this.

[2021-03-15 15:07] janbijster opened #518 "Error when training fastSpeech2: Incompatible shapes: [16,132,384] vs. [16,192,384]"
Hi, first of all: thank you very much for this valuable repo!

When I train the fastspeech2 model on my data, I keep running into the same error:

[code]

I don't believe the message about cache is the problem, this disappears when I turn off `allow_cache`.

I think the relevant line is `tensorflow.python.framework.errors_impl.InvalidArgumentError:  Incompatible shapes: [16,31,384] vs. [16,50,384]

[2021-03-15 20:03] Mercurise opened #519 "Questions on FastSpeech2 implementation"
Hi,

Thanks for your great works. Just some general questions regarding the fast-speech2 implementation.

1. In the codes, the model outputs **mel_before**, and **mel_after**. Could you let me know why we need two outputs here? Is it better to only have one Mel-spectrogram instead of two, especially for TFLite's version as it's simpler running on the edge?

2. Another question on the notebook that

[2021-03-16 03:09] dathudeptrai commented on #518
@janbijster https://github.com/TensorSpeech/TensorFlowTTS/issues/512

[2021-03-16 05:29] luan78zaoha commented on #519
Show some losses results.
- Tacotron2
![tacotron](https://user-images.githubusercontent.com/32391999/111260197-5cae3a00-865b-11eb-9ff8-e701bff32219.png)
- Fastspeech2
![fsp2](https://user-images.githubusercontent.com/32391999/111260206-6041c100-865b-11eb-9f1e-67ed787f465d.png)
- MB-MelGan
![melgan](https://user-images.githubusercontent.com/32391999/111260211-6172ee00-865b-11eb-86d5-4220d2e1f7de.pn

[2021-03-16 06:47] StuartIanNaylor opened #521 "Request: TFLite install tutorial"
Great bit of software and even a Pi4 with fastvoice/melgan can produce my 3.2 sec test audio in 16 seconds, which provides amazing quality.

If there is any chance you could provide more details or some perf tests that maybe TFL could provide or a TFL Tensorflow TTS for dummies like me would be really helpful.
I seemed to be missing the header files for flatbuffers but at that stage it was just co

[2021-03-16 06:57] OnceJune commented on #517
so is that used to tune speak speed? where to add the code?

[2021-03-16 07:30] #430 closed

[2021-03-16 07:45] dathudeptrai commented on #517
zoneout makes a generated speech faster is an existential issue for a long time and i do not know how to fix :D.

[2021-03-16 07:53] ZhaoZeqing commented on #517
@OnceJune I tried to make **rate** equal to  1, 0.05, 0.1, the speech speed changed from fast to normal.

[2021-03-16 07:55] ZhaoZeqing commented on #517
Oh! So it's an existential problem. Thanks!

[2021-03-17 01:49] StuartIanNaylor opened #522 "Request: Streaming output"
Does it have or is it possible to have a streaming output to reduce sentence latency.

The examples I have seen save complete sentence to file.

I was wondering if a 2 stage buffer could be used where an output pool buffer feeds a callback buffer that is similar to say [pyaudio](http://people.csail.mit.edu/hubert/pyaudio/docs/#example-callback-mode-audio-i-o)  or [sounddevice](https://python-sound

[2021-03-17 04:59] panyongfeng opened #523 "a question about MelGAN generator sound for short words."
Dears,
I trained MelGAN according the README with my own dataset(full of short english words sound, about 2 seconds each, and 30000 pieces).
For the most test words, the MelGAN generator is quite good, but for some short ph sound like TH and F, the generated sound is not good enough, specifically, "Three" sounds like "Tree", "Fun" sounds like "Won".
I plan to do some thing like 1) decrease the hop

[2021-03-17 10:44] StuartIanNaylor opened #524 "TensorFlowTTS_Tacotron2_with_TFLite.ipynb import error"
[code]

Hi I am trying to run the copied jupyter code locally which presume should work as long as the paths are correct.
The above import fails has there been a naming/structure change ?

Thanks

[2021-03-17 10:48] dathudeptrai commented on #524
@StuartIanNaylor change `symbols` to `LJSPEECH_SYMBOLS`

[2021-03-17 11:09] janbijster commented on #518
I think it has to do with the fact that I extracted duration with the mfa_extraction method.

After inspecting the samples, I get the idea that the error is caused by the input to the model, so the ids denoting the characters/phonemes. The ids in ids.npy seem to correspond to the charactors in the text line, while the durations seem to correspond to phonemes.

For example: the first utterance has

[2021-03-17 11:18] StuartIanNaylor commented on #524
Many apols

[code]

[2021-03-17 12:00] dathudeptrai commented on #524
@StuartIanNaylor i will fix it :D

[2021-03-17 15:02] StuartIanNaylor commented on #524
I think its just my setup as ran the fastvoice one on colab for me.
I would hazard a guess that jupyter doesn't seem to like to run from the venv I have setup.

[2021-03-17 15:02] #524 closed

[2021-03-17 19:10] Mercurise commented on #519
thanks that's quite helpful, will close the issue now.

[2021-03-17 19:11] #519 closed

[2021-03-18 02:41] PeijiYang commented on #485
@ZhaoZeqing When you finetune the multi-speaker base model, the n speaker value set 107 or 1？

[2021-03-18 03:50] ZhaoZeqing commented on #485
I used 107

[2021-03-18 03:52] StuartIanNaylor commented on #467
Note really a request but just wondering about the use of Librosa.
I have been playing around with https://github.com/google-research/google-research/tree/master/kws_streaming which uses internal methods for MFCC.
The one it uses is the pyhon.ops one but the tf.signal was also quite a perf boost on using librosa.

Is there any reason for librosa over say tf.signal.stft and tf.signal.linear_to_mel_

[2021-03-18 04:36] StuartIanNaylor commented on #521
I got the fastspeech2/melgan-tfl running Pi400 2.0Ghz.

run time 14.536419153213501 wave duration 11.133968 x1.3
run time 11.2926344871521 wave duration 8.870023 x 1.27

So frustrating close to rt but just above is the fastspeech2-tfl the faster or does the tachotron example perform quicker as struggled to get it to work.
I had a problem on run with scikitlearn `It seems that scikit-learn has not

[2021-03-18 04:52] StuartIanNaylor commented on #522
I got the fastspeech2/melgan-tfl running Pi400 2.0Ghz.

run time 8.952440023422241 wave duration 11.133968 x1.24
run time 7.136162042617798 wave duration 8.870023 x1.24

Of the 2 example text inputs using audio_after

I had a problem on run with scikitlearn `It seems that scikit-learn has not been built correctly.` but `export LD_PRELOAD=libgomp.so.1 python3` fixes that.

Streaming that output wou

[2021-03-18 05:45] maozhiqiang commented on #522
how to convert melgan to streaming outputs!

[2021-03-18 05:54] dathudeptrai commented on #522
@manmay-nakhashi

[2021-03-18 06:02] manmay-nakhashi commented on #522
@maozhiqiang @StuartIanNaylor
1. generate mel(fastspech2) till first delimiter.
2. send it to melgan(take a chunk size of 32 or 64) and send it to audio player
3. to make it more faster on edge device you can train your models for 40 mel.(it gives decent output).
4. my model size for fastspeech2 is ~7 mb and melgan is ~1 mb with 40 mel.

[2021-03-18 06:05] StuartIanNaylor commented on #522
Also I have no idea guys but when I was looking I noticed librosa.
I have been playing with https://github.com/google-research/google-research/tree/master/kws_streaming of late and found the tf.signal math libs to be faster than librosa.

Is there any reason why librosa or is it just historical?

[2021-03-18 06:07] manmay-nakhashi commented on #522
@dathudeptrai i have this older script can you modify it according to current version and push it for example ?.
[code]

[2021-03-18 06:09] StuartIanNaylor commented on #522
hey guys many thanks its a great TTS :) So good to have such a great sounding offline TTS on something like a Pi

[2021-03-18 06:50] dathudeptrai commented on #522
@manmay-nakhashi sure, let me take a look :D.

[2021-03-18 08:15] StuartIanNaylor commented on #522
PS is there a model trained with n_mel=40?

`ValueError: Shapes (384, 40) and (384, 80) are incompatible`

[2021-03-18 08:21] maozhiqiang commented on #522
hi @manmay-nakhashi @dathudeptrai ！ thanks for your reply,  My point is, How to use melgan to streaming generation for real mels ?

[2021-03-18 08:27] maozhiqiang commented on #522
you can modify config file to to, and Re extracting audio features

[2021-03-18 09:02] StuartIanNaylor commented on #522
I would have to retrain a model though wouldn't I as current one is with 80 n_mel.
Just wondering if there is a demo model completed with 40 n_mel as my 1050ti might not be up for the job :)

PS dunno if any interest but this is the tensorflow audio_ops.audio_spectrogram vs librosa

[code]
Gives an av of `(0.2, 0.2, 0.38)`
But with librosa
`(0.3, 0.29, 0.27)`
Guess not huge but the TF math does se

[2021-03-18 09:26] OnceJune commented on #522
@maozhiqiang you can make frame and samples overlapped

[2021-03-18 09:40] maozhiqiang commented on #522
hi @OnceJune ! how to set overlapped size, my result is bad to use frame syntheis

[2021-03-18 10:22] OnceJune commented on #522
@maozhiqiang what about feed by chunk, 50 frames a time maybe, which outputs 50*hop_size samples. the you play 45 frames' audio, and next run you got another 50*hop_size samples, just ola the 5*hop_size samples from last run and the first 5*hop_size samples from new run, and play 50 frames' audio(5 frames prev, 45 frames new, and you got 5 frames left for next run), and output all in the last chun

[2021-03-18 10:37] manmay-nakhashi commented on #522
@maozhiqiang i am using buffering plus overlapping chunking to meet the requirement
1. first chunk make it 25% of the audio send it for mel generation
2. meanwhile take 64 slice of mel and overlap of 10 each side and keep streaming

[2021-03-18 10:40] manmay-nakhashi commented on #522
@StuartIanNaylor you can also trim the model params if you are using 40 mel . because data complexity is less now

[2021-03-18 11:12] StuartIanNaylor commented on #522
I am not all that sure how to do that, still very much a tensorflow noob :)
Its OK I changed the parameter Yaml and obviously the input shape is now wrong.
It was just curiosity with a Pi4 as last time I tested this level of TTS it was very much a GPU affair.

I think I will take a back seat and sit in awe at the fantastic work of others as really didn't think this type of edge quality would be po

[2021-03-18 11:40] manmay-nakhashi commented on #522
@dathudeptrai i have english 40 mel model where should i upload it ?

[2021-03-18 11:52] StuartIanNaylor commented on #522
email? stuartiannaylor@outlook.com I will share it from my google drive and put a link up here.
I have no idea how to let you upload to me drive.

[2021-03-19 02:20] maozhiqiang commented on #522
hi @manmay-nakhashi @OnceJune Thank you for your warm help！ @manmay-nakhashi would you tell me how to use queue to smooth voice streaming ! thanks again!

[2021-03-19 05:49] manmay-nakhashi commented on #522
@maozhiqiang are you using python, java or c++?

[2021-03-19 06:01] maozhiqiang commented on #522
python

[2021-03-19 06:11] manmay-nakhashi commented on #522
@maozhiqiang did you try above script which i posted ?(you have to change LJprocessor according to current branch) ,
for queue implementation you can refer https://docs.python.org/3/library/queue.html , i don't have python code implemented.

[2021-03-19 06:21] maozhiqiang commented on #522
@manmay-nakhashi thanks , I will try!

[2021-03-19 08:10] engineergun commented on #516
@machineko Thanks a lot :)

[2021-03-19 08:10] #516 closed

[2021-03-19 16:45] TarasevichArtem opened #525 "Voice cloning"
Can I clone my voice? Can I use the already trained model in this case? If possible, how big is the dataset needed for further training? Are there any examples of such training (maybe in a colab)?

[2021-03-19 17:48] ZDisket commented on #525
@TarasevichArtem Yes, and you can use already trained model as pretrained checkpoint for finetuning. For that, you want at least 30 minutes of data. I've managed both Tacotron2 and FastSpeech2 with less, but the general rule is that 30 minutes is a safe minimum.

[2021-03-20 06:14] zhangsanfeng86 opened #526 "Train tacotron Error"
I run from Dockerfile.
when train tacotron2, got err as follow:
![image](https://user-images.githubusercontent.com/73547638/111861080-7e266300-8986-11eb-9da8-deba74703a4c.png)

[2021-03-20 06:20] #526 closed

[2021-03-21 11:36] ronggong opened #527 "[Fastspeech2 dataset] bucket_by_sequence_length"
Hi,

I think the fixed batch size with padded_batch of the dataset is not an efficient way to use the GPU capacity, because some batches will contain sequences with very unequal lengths, and the shorter ones need to be padded with long silence. I am working on using bucket_by_sequence_length to bucket batch where each one contains seqs with similar length. But the thing is the batch size will be v

[2021-03-21 13:46] ronggong commented on #527
https://github.com/TensorSpeech/TensorFlowTTS/blob/31e446ab5ff4c1f3d228e424ce76acd113b676d0/tensorflow_tts/trainers/base_trainer.py#L804

That's the first problem I found if using a variable batch_size.

[2021-03-21 21:24] michael-conrad commented on #143
The repo at https://github.com/Tomiinek/Multilingual_Text_to_Speech uses both a speaker embedding as well as a language embedding. Why not implement both embeddings?

[2021-03-22 03:10] PeijiYang opened #528 "please give me a MB Melgan parmeters sugguestion."
My datasets is 16 kHz, and i want set
[code]
Can you give me some suggestion about how to set mbmelgan's parameters?
[code]
is this ok?

[2021-03-22 03:47] PeijiYang commented on #421
@brendanxwhitaker Do you mean that pre-training on fs2 and finetune 2k step can achieve better results?

[2021-03-22 08:23] MMingabc opened #529 "Effect of f0 and energy Dropout in FastSpeech2"
Hi,
I am curious about the effect of f0 and energy dropout (in both the variant predictor and f0/energy embedding) in FastSpeech2 . The default dropout rate is 0.5 which is quite big and we have to turn it on during inference. What's the point? I tested the results with dropout off during inference. The sound is pale without any color. Why? What if we turn the ratio down to like 0.1 and turn it of

[2021-03-22 14:24] dathudeptrai commented on #529
@MMingabc large dropout for f0 and energy aims to reduce the contribution of f0/energy to the mel-reconstructed. In other words, it reduces the model overfitted.

[2021-03-22 14:26] dathudeptrai commented on #528
`hop_size`: 256, `upsample_scales`: [8, 4, 2].

[2021-03-22 14:29] dathudeptrai commented on #527
@ronggong so you want to use larger batch_size for a smaller sequence length ?. I think you can use fixed batch_size when using `bucket_by_sequence_length` to simplifying the problem :D.

[2021-03-22 14:36] janbijster commented on #518
I can now confirm this was the error. I extracted durations using a pretrained tacotron2 model and these had the right number of elements.

[2021-03-22 14:36] #518 closed

[2021-03-22 15:02] janbijster commented on #500
@PedroDKE did you manage to improve the results? I'm experiencing a similar issue, also with data from librivox.

[2021-03-22 15:10] PedroDKE commented on #500
@janbijster Yes & No.
No as in : for this perticular audiobook/person i did not manage to improve the results. I think the audio/speech/microphone from this person might not be suited for TTS. Mainly the MFCC extractions did not look as expessive (if you compare my screens to others MFCC's you can see that my 'waves' are less expresive imo, not sure why this is as i havent looked much into what MF

[2021-03-23 01:20] PeijiYang commented on #528
I have to set hop_size with 256 to align upstream tasks.....

[2021-03-23 01:32] OnceJune commented on #528
@PeijiYang
hop_size=sub_bands*upsample_scales[0]*upsample_scales[1]*upsample_scales[2]
multiband melgan got subbands=4, so if you want  hop_size=160, you should make upsample_scale multi to 160/4=40, 40=5*4*2, [5, 4, 2] is your upsample_scales.

[2021-03-23 01:40] PeijiYang commented on #525
I try tacotron and fs2 finetuned with 2 hours of data, the result is not very well. is it need to turn down the learning rate when finetuning?

[2021-03-23 01:42] ZDisket commented on #525
@PeijiYang If the result is bad only due to low quality audio and you can't immediately see anything wrong with the mel spectrograms then it's probably the vocoder. I don't usually turn down the learning rate when finetuning, but it may work in your case.

[2021-03-23 02:29] dathudeptrai commented on #528
so 245 is ok :D

[2021-03-23 02:31] PeijiYang commented on #528
the d

i have try and it seems ok :D

[2021-03-23 06:52] PeijiYang commented on #525
how many steps you usually set when you finetune?

[2021-03-23 06:53] ZDisket commented on #525
@PeijiYang Almost all of the time I stop at 30k with default learning rate config.

[2021-03-23 07:02] PeijiYang commented on #525
Maybe i finetune it too many steps.. :D

[2021-03-24 01:52] MMingabc commented on #529
@dathudeptrai Thanks for your reply! My FastSpeech is not very stable now. Sometimes there are artefacts especially at ends of sentences. What should I do? Looking forward to your advices,

[2021-03-24 02:14] dathudeptrai commented on #529
the simple solution for a problem with the end of sentences is that you add some words in the end and then erase it by a predicted duration :D.

[2021-03-24 06:29] wangzhengqiang commented on #201
为什么基于阿里云tts生成训练音频，不是阿里收费啊

[2021-03-24 09:42] Livjxbill993 opened #530 "can i use tf2.4.1 to run it?"

[2021-03-25 12:55] KevinTao511 commented on #201
Hi, I got the same problem, have u solve it ？ how to do it ？ thank u so much

[2021-03-26 01:45] PeijiYang commented on #201
@azraelkuan 请问sil和eos这两个token都放在末尾作为终止符，是不是重复了？

[2021-03-26 08:59] #445 closed

[2021-03-27 05:38] dathudeptrai commented on #530
absolutely :D.

[2021-03-27 17:23] ronggong commented on #527
Yes, actually I am doing that. But I found using large batch for libritts converges badly. I wonder why...

[2021-03-27 21:31] #451 closed

[2021-03-29 08:36] dathudeptrai commented on #527
large batch_size increases overfitting :D (in case training data is noise.)

[2021-03-29 14:15] machineko commented on #530
You can even run most of the stuff on tf nightly 🍡

[2021-03-29 18:24] StuartIanNaylor commented on #522
How did it go with the streaming output guys? Also @manmay-nakhashi did you ever find the n_mel=40 model?

[2021-03-29 19:12] ronggong commented on #527
This is actually interesting effect. Because I see the 2d or 3d loss is calculated by reduce_mean of all dimensions except the batch, and then divided by the batch_size * n_gpu. So I assume the loss should be more stable when the batch_size increased, because large batch has more examples, so it should lead to a loss with less variance.

I don't understand why this could lead to overfitting, and e

[2021-03-30 18:55] tekinek opened #531 "FastSpeech2 loss=NaN in early iterations"
Thanks for your great work. It has been a while since my last experiment with TensorFlowTTS. The FastSpeech2 was fine for my private dataset of local language. But with the recent codebase and baker dataset, loss values in FS2 turn NaN at early stage of training and show no sign for going back to normal:

<img width="1131" alt="nan-error" src="https://user-images.githubusercontent.com/68597606/113

[2021-03-31 03:11] dathudeptrai commented on #531
@tekinek can you try to using newer tensorflow version first ?

[2021-03-31 03:20] tekinek commented on #531
@dathudeptrai thanks, let me try tf2.3.

[2021-03-31 03:25] dathudeptrai commented on #531
Next step is check forward pass to see if it yield nan output or not. To check the output you can refer this simple code:

[code]

[2021-03-31 04:53] tekinek commented on #531
@dathudeptrai sorry, but Tensorflow 2.3 couldn't fix the problem:

![nan-error2](https://user-images.githubusercontent.com/68597606/113092085-ed6e4380-921f-11eb-8016-40f40287aff2.jpg)

[2021-03-31 09:10] tekinek commented on #531
@dathudeptrai  a NaN value in a f0 file seems to be the source of problem. The utters number 9678 and 8920 contain NaN values (I don't know why). Skipping them solves the problem (so far at 5000 iters).

For anyone with similar problem, please use the following code snippets to check your data against NaN value.

[code]

Thanks.

[2021-04-01 03:45] #531 closed

[2021-04-01 09:50] PeijiYang opened #532 "Does melgan support streaming systhesis？"
Melgan is a non-autoregressive model. Can it perform normally on streaming input?

[2021-04-03 01:49] #475 closed

[2021-04-03 07:03] #471 closed

[2021-04-03 08:03] singhaki commented on #476
@dathudeptrai it seems like pip package is not up to date. I am also getting the above error.

[2021-04-05 16:07] zhangsanfeng86 opened #533 "Train fs2 with new wav feature"
1. In Prepare dataset,  i output the wav feature to (-1,40),not (-1,80)
2. In Train fs2,  I change num_mels from 80 to 40 in fastspeech2.yaml.
   and chenge  reshape para form 80 to 40 in train_fastspeech.py https://github.com/TensorSpeech/TensorFlowTTS/blob/31e446ab5ff4c1f3d228e424ce76acd113b676d0/examples/fastspeech2/train_fastspeech2.py#L156
https://github.com/TensorSpeech/TensorFlowTTS/blob/31

[2021-04-05 18:40] #479 closed

[2021-04-06 06:25] #480 closed

[2021-04-06 07:25] #472 closed

[2021-04-07 03:13] zhangsanfeng86 opened #534 "how to print the wrong data id or filename, when got Dimensions of inputs not match error"
when train fs2, got Dimensions of inputs not match error
how to print the wrong data id or filename?

![image](https://user-images.githubusercontent.com/73547638/113804987-2fecce80-9792-11eb-9fc6-f96e7c2a7dc9.png)

[2021-04-07 05:58] Collin-Budrick commented on #467
I have no doubt this project would work wonders on Voice cloning.

[2021-04-07 06:38] #532 closed

[2021-04-07 06:39] #533 closed

[2021-04-07 16:58] PedroDKE opened #535 "Questions on FS2 evaluation and MB-Melgan finetune"
For fastspeech2:
Is there a particular reason why the split is only done in train/val and not in train/val/test ?

Mb-Melgan:
So i'd like to finetune the MB-melgan model trained on the librispeech dataset (the only model with 24khz sample rate) for my own speakers. When i used the provided config the generated audio actually gets worse instead of better after 150k iterations. I assume it is overfi

[2021-04-08 01:04] tts-nlp opened #536 "Noise problem in generating audio mute position"
hi , when training using mb_melgan config, the generator audio appear noise in end of blank! how to solve this

![b'000641'](https://user-images.githubusercontent.com/58066364/113952979-5de11a00-9849-11eb-977e-5c19d7209cef.png)
[00641.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/6275295/00641.zip)

[2021-04-08 02:13] dathudeptrai commented on #535
There are no particular reason :D, you can do it if you want.

Yes, you should training discriminator from step 0. About learning rate for generator, let decrease it :D.

[2021-04-08 02:13] dathudeptrai commented on #536
@tts-nlp it is not a problem, you can get a real length of ur audio from the mel generated.

[2021-04-08 02:44] #536 closed

[2021-04-08 08:01] krigeta opened #537 "Google Colab for Multilingual Voice cloning Training and Synthesize?"
Hello, Is there any way to train this on Google colab and then synthesize the audio to do the following task:
Japanese speaker can able to speak English and Hindi.
Hindi Speaker can able to speak Japanese and English.
English speaker can able to speak Japanese and Hindi.

It would be so awesome if someone will help as I am new to this so it is hard for me to set up, a step-by-step guidance will be

[2021-04-08 10:07] tts-nlp opened #538 "Loss explodes for training mb-melgan"
loss explodes when I use multiband_melgan.baker.v1.yaml config
![Screenshot from 2021-04-08 18-08-50](https://user-images.githubusercontent.com/58066364/114009518-cb1a9c80-9895-11eb-8904-06fb714dd414.png)

[2021-04-08 15:34] dathudeptrai commented on #538
@tts-nlp can you resume the training progress ?

[2021-04-08 15:44] krigeta commented on #537
@dathudeptrai Hello sir, if possible may you please guide me or tag someone who can do that?

[2021-04-09 00:53] tts-nlp commented on #538
I'm training from the beginning, generator training is normal, discriminator training to 300K will gradient explosion

my config changes
`batch_size=128`
tensorflow==2.4.1

training log is
![Screenshot from 2021-04-09 08-30-11](https://user-images.githubusercontent.com/58066364/114113359-fd1d1480-9910-11eb-9fd1-cbe96d825343.png)

[2021-04-09 02:02] zhangsanfeng86 commented on #538
reduce learning rate

[2021-04-09 06:04] tts-nlp commented on #538
At 300K steps, the learning rate becomes half of the before, and the loss will increase later， The learning rate has been reduced. Do need to reduce it now ?

[2021-04-09 06:21] StuartIanNaylor opened #539 "Question: Melgan Tflite"
Just a dumb question as likely a good reason but does the Melgan model not have any layers that convert to tflite?

TensorFlowTTS_FastSpeech_with_TFLite FastSpeech runs almost entirely with few delegates and it was just pure curiosity if the Melgan model would or other vocoders might be better suited for tflite?

Purely curiosity from a source of limited knowledge so not pressure for a reply but w

[2021-04-09 08:16] krigeta commented on #525
Hello, are you to find any solution to your problem because I also want to clone voice using a colab notebook.

[2021-04-09 09:19] 980202006 opened #540 "Can you give an example of TPU training?"
Thank you

[2021-04-10 04:06] dathudeptrai commented on #537
@krigeta multi lingual voice cloneing not yet support in this repo :D

[2021-04-10 06:39] krigeta commented on #537
Japanese-speaking model speak English or another language? I think this repo can do that, right?
Thank you so much for you r precious reply.

[2021-04-10 13:47] #521 closed

[2021-04-10 13:49] StuartIanNaylor commented on #467
With the fastspeech tflite model is it possible to covert to run on a Edge TPU?
If so any examples how?

[2021-04-11 12:39] dathudeptrai commented on #537
you need modify a bit our framework to support multilingual language, it's not too hard :D.

[2021-04-12 05:54] hdmjdp opened #541 "comment is right?"
https://github.com/TensorSpeech/TensorFlowTTS/blob/31e446ab5ff4c1f3d228e424ce76acd113b676d0/tensorflow_tts/models/fastspeech2.py#L175
I think the shape is [batch_size, char_len, feature], not mel_len.

[2021-04-12 08:29] dathudeptrai commented on #541
yes :D

[2021-04-12 09:05] dathudeptrai commented on #540
@980202006  maybe you need try google colab to test with TPU :D

[2021-04-13 16:18] StuartIanNaylor opened #542 "TFlite example fastspeech&melgan with TF 2.4.1"
[code]
Works with 2.3.1 tensorflow-gpu but above fails with above.
It works but just for info

[2021-04-14 01:27] StuartIanNaylor commented on #540
Are there any examples of the Coral TFLite TPU methods?

[2021-04-14 02:17] 980202006 commented on #540
thank you

[2021-04-14 02:17] #540 closed

[2021-04-14 07:43] zero15 commented on #467
Will tacotron2 support full integer quantization in tflite?
Current model use full interger quantization failed with "pybind11::init(): factory function returned nullptr."  It's likely because the model has multi subgraphs

[2021-04-14 12:08] ykzj commented on #107
@ dathudeptrai what's the progress of migrating fastspeech to TPU?

[2021-04-15 08:17] tts-nlp commented on #538
midify batch_size=64 solve the problem， thanks !

[2021-04-15 08:17] #538 closed

[2021-04-15 15:00] guoyang94 opened #543 "How to fine-tune speaker embedding in multi-speaker FastSpeech2"
A multi-speaker FastSpeech2 was trained. How to fine-tune speaker embedding part for another one target speaker. Or how to get speaker embedding for another one target speaker.

I do not understand.

[2021-04-16 04:44] #490 closed

[2021-04-16 10:28] #492 closed

[2021-04-16 13:52] dathudeptrai commented on #543
@guoyang94 what do you mean ?

[2021-04-18 18:49] StuartIanNaylor commented on #542
Anyone got any ideas as can be a bit of a pain finding correct wheels as just trying the the intel optimised tensorflow but no 2.3.1 whl unless compile.

[2021-04-19 02:33] dathudeptrai commented on #542
did you use tf-nightly ?

[2021-04-19 12:14] guoyang94 commented on #543
In TensorflowTTS，we use tf.keras.layers.Embedding to get speaker embedding for each speaker in training dataset.

tf.keras.layers.Embedding(
                config.n_speakers,
                config.encoder_self_attention_params.hidden_size）

config.n_speakers is the number of speakers in training dataset. Is right?

I want to fine tune multi-speaker FT2 to another target speaker for few-shot.

So

[2021-04-19 12:14] guoyang94 commented on #543
tf.keras.layers.Embedding(
config.n_speakers,
config.encoder_self_attention_params.hidden_size）

config.n_speakers is the number of speakers in training dataset. Is right?

I want to fine tune multi-speaker FT2 to another target speaker for few-shot.

So, I need to fine-tune speaker embedding in multi-speaker FT2 to get speaker embbeding for another target speaker.

I do't konw how to get it.

[2021-04-19 12:18] guoyang94 commented on #543
We ues tf.keras.layers.Embedding to get speaker embedding for each speaker in training dataset.
tf.keras.layers.Embedding(config.n_speakers,config.encoder_self_attention_params.hidden_size）

config.n_speakers is the number of speakers in training dataset. Is right?

I want to fine tune multi-speaker FT2 to another target speaker for few-shot.

So, I need to fine-tune speaker embedding in multi-spe

[2021-04-20 05:58] tts-nlp opened #544 "tf 2.4.1 bugs"
when training using tf 2.4.1 ,

training code
`CUDA_VISIBLE_DEVICES=0 python examples/multiband_melgan/train_multiband_melgan.py \
  --train-dir ./dump/train/ \
  --dev-dir ./dump/valid/ \
  --outdir ./examples/multiband_melgan/exp/train.multiband_melgan.v1/ \
  --config ./examples/multiband_melgan/conf/multiband_melgan.v1.yaml \
  --use-norm 1 \
`
The following error occurred

`2021-04-20 13:30:5

[2021-04-20 06:56] dathudeptrai commented on #544
@tts-nlp pls use tf 2.3.1 :)), i did not test our code with tf 2.4.1 yet :D .

[2021-04-20 07:58] tts-nlp commented on #544
@dathudeptrai thanks for your suggestion , but tensorflow 2.3.1 not support cuda11, my new GPU only support cuda 11 for training!

[2021-04-20 08:06] k-grygiel commented on #544
Did you try turning off sharding?

options = tf.data.Options()
options.experimental_distribute.auto_shard_policy = AutoShardPolicy.OFF
dataset = dataset.with_options(options)

[2021-04-20 08:19] tts-nlp commented on #544
hi @k-grygiel ,
According to your suggestion, modify as follows
`    def create(
            self,
            allow_cache=False,
            batch_size=1,
            is_shuffle=False,
            map_fn=None,
            reshuffle_each_iteration=True,
    ):
        """Create tf.dataset function."""
        output_types = self.get_output_dtypes()

        datasets = tf.data.Dataset.from_generato

[2021-04-20 08:29] k-grygiel commented on #544
Try adding this in audio_mel_dataset.py

[2021-04-20 08:36] tts-nlp commented on #544
@k-grygiel Still can't solve this error

[2021-04-20 08:43] tts-nlp commented on #544
@k-grygiel thanks! the bugs fixed !

[2021-04-20 08:44] #544 closed

[2021-04-20 08:45] dathudeptrai commented on #544
@tts-nlp can you make a pull request to fix this problem in tf 2.4.1 ?

[2021-04-20 08:48] tts-nlp commented on #544
@dathudeptrai ok

[2021-04-20 12:33] Koushik0901 commented on #513
@machineko can you let me know how you managed to implement mel generator to work with waveglow model? did you train the waveglow model or just used the pretrained waveglow?

[2021-04-20 12:36] machineko commented on #513
I used preprocessing compatible with waveglow ( written in Jax )

[2021-04-20 12:43] Koushik0901 commented on #513
can you point me to that preprocessing please?

[2021-04-20 12:48] machineko commented on #513
https://github.com/machineko/jaxaudio/blob/d5a8c8e55f090c26a8965d9463e424c0a8534b3c/jax_audio/preprocessing/transforms.py#L83

[2021-04-20 12:50] Koushik0901 commented on #513
thank you! @machineko

[2021-04-20 12:53] Livjxbill993 opened #546 "hifigan InvalidArgumentError:Paddings must be non-negative: 0 -8980"
Excuese me. when i run train_hifigan.py.  The following error occurs when training to  5000 steps
How to solve this problem?

tensorflow.python.framework.errors_impl.InvalidArgumentError: Paddings must be non-negative: 0 -8980
	 [[{{node cond_4/else/_38/cond_4/Pad}}]]
	 [[MultiDeviceIteratorGetNextFromShard]]
	 [[RemoteCall]]

[2021-04-20 14:15] dathudeptrai commented on #546
@Livjxbill993 there is something wrong with ur input data. To debug this, you should check what sample cause this error by bellow simple script:

[code]

[2021-04-21 03:00] unparalleled-ysj opened #547 "hifigan v1 gradient explosion ？"
The number of training steps can be seen from the figure
![2](https://user-images.githubusercontent.com/39238619/115490275-57629180-a290-11eb-8e80-d8be8e071d8f.png)
![1](https://user-images.githubusercontent.com/39238619/115490289-5df10900-a290-11eb-9751-58db61b9cce9.png)
![3](https://user-images.githubusercontent.com/39238619/115490382-909b0180-a290-11eb-933e-3f07ee45f1b3.png)

Some data will als

[2021-04-21 03:23] Echidonasan opened #548 "Error opening './LJSpeech-1.1/wavs/LJ047-0223.wav': System error."
I got this error when I tried to run !tensorflow-tts-preprocess on colab

![image](https://user-images.githubusercontent.com/59184604/115492153-15950500-a216-11eb-88a2-7ca64d49702e.png)

this is my colab: https://colab.research.google.com/drive/1VC5ZoFEoz4ry0lI2caA9SfoR496o_UHQ#scrollTo=AQDBmpInYI0G

How to fix it?

[2021-04-21 04:52] ZDisket commented on #547
There was a similar issue a bit ago and I replied with this: https://github.com/TensorSpeech/TensorFlowTTS/pull/387#issuecomment-813606701. Have you tried it?

[2021-04-21 06:48] unparalleled-ysj commented on #547
Okay, let me test it. By the way, should the parameter discriminator_train_start_steps be set to 100k or set to 0 like you

[2021-04-21 07:56] ZDisket commented on #547
@unparalleled-ysj Try 0 first.

[2021-04-21 20:20] #495 closed

[2021-04-21 20:20] #493 closed

[2021-04-21 21:48] ZDisket commented on #548
Can you set your Colab link so that anyone with it can view?

[2021-04-22 06:21] juunnn commented on #525
@ZDisket do you train the whole fastspeech2 model or just a specific part like in `var_train_expr: "embeddings|encoder|decoder"`?

[2021-04-22 19:38] StuartIanNaylor commented on #542
Nope tf-nightly is now far ahead of when the examples where created which is going to be tf2.5.0-rc1.

I am guessing part of the tensorflow-gpu of 2.3.1 is used that upstream is no longer the same also tensorflow 2.3.1 does the same.
From memory in 2.4 things got changed around with tensorflow being the all-in package and then a new package of tensorflow-cpu being just the cpu version.

I could us

[2021-04-22 20:56] ZDisket commented on #525
@juunnn
Whole model

[2021-04-23 03:24] dathudeptrai commented on #542
@StuartIanNaylor seems this is a bug of tf 2.4.1, tf2.3.1 or tf-nightly work well :(

[2021-04-23 07:54] StuartIanNaylor commented on #542
Doubt it will try but unlikely the api changes have reverted upstream

[2021-04-23 08:01] juunnn commented on #525
So, I tried to adapt fastspeech2 model with my existing model. I did the preprocessing same as I trained my existing model. But when I trying to execute the training this is happened.
[code]
The command that I use is something like this
[code]
pretty much the same with the config I train the base model.

[2021-04-23 08:45] dathudeptrai commented on #525
@juunnn there is something wrong with ur training samples, you need to figure out what sample cause this problem by this simple script:

[code]

let use batch_size = 1 :D

[2021-04-24 13:54] #496 closed

[2021-04-26 03:06] AjaxFB opened #549 "Trying install on Windows and conflicting dependencies."
`ERROR: Cannot install tensorflowtts==0.11, tensorflowtts==0.7, tensorflowtts==0.8, tensorflowtts==0.9 and tensorflowtts==1.1 because these package versions have conflicting dependencies.

The conflict is caused by:
    tensorflowtts 1.1 depends on tensorflow-gpu==2.3.1
    tensorflowtts 0.11 depends on tensorflow-gpu>=2.3.1
    tensorflowtts 0.9 depends on tensorflow-gpu>=2.3.0
    tensorflowtts

[2021-04-26 03:11] Liujingxiu23 opened #550 "Is Fastspeech2 really better than Fastspeech1？"
I trained Fastspeech2 using my own dataset usig code https://github.com/ming024/FastSpeech2
but the result is not good enough, seems even worse than fastspeech1.
What about your training?

[2021-04-26 05:22] JH-lee95 opened #551 "Can I add extra speakers to the pre-trained single speaker model?"
I want to convert the existing single speaker model to multi speaker model by adding some extra speakers. Is this possible? If it is, where do I have to modify?

[2021-04-26 08:42] dathudeptrai commented on #550
@Liujingxiu23 you can listen a samples here (https://tensorspeech.github.io/TensorFlowTTS/). FS2 is definitely better than FS1.

[2021-04-26 08:48] dathudeptrai commented on #551
@JH-lee95 you need to fine-tune a model after resizing speaker embeddings. To resize a speaker embedding you just need re-define speaker_embedding, here is an example to do that:

[code]

[2021-04-26 08:59] JH-lee95 commented on #551
@dathudeptrai
[NEW_SPEAKER_EMBEDDING_LAYER] <- This must be same with number of speakers, am I right?

[2021-04-26 09:03] dathudeptrai commented on #551
you can modify the number of speakers here.

[2021-04-26 09:06] JH-lee95 commented on #551
Thank you sir!

[2021-04-26 11:03] Liujingxiu23 commented on #550
@dathudeptrai  Thank you for your quick reply. I find differences between https://github.com/ming024/FastSpeech2 and fastspeech in tensorflowTTS.
And I am tring to train my own Chinese dataset using TensorflowTTS.
But I meet following mistacks:

tensorflow.python.framework.errors_impl.InvalidArgumentError: All elements in a batch must have the same rank as the padded shape for component7: expected

[2021-04-27 04:12] jarred1989 opened #552 "prosody problem for fastspeech2 with phoneme durations extracted by MFA"
With durations extracted by MFA, we take phoneme and 'sil' as input of fastspeech2. However, with this approach, the model cannot distinguish "weekend" from "week end",  "sunrise" from "sun rise",  .etc, because these word pairs have the same phoneme representations.

In other words, we lose syllable and word boundary infomations with only phoneme and 'sil' input, which cause prosody problem. The

[2021-04-27 05:59] Zak-SA opened #553 "Android using tf_nightly 2.6.0.dev20210426"
Hi, any help to use tf-nightly 2.6.0.dev20210426 or even 2.5.0 converting Fastspeech2 in android? what changes we should apply? I tried the existing android code and it didn;t work, only if I use tf-nightly 2.4.0.dev202002301 but this version can not be found anymore and will stop working on July 2021.
mbmelgan worked fine using the new version of tf-nightly but not fastspeech2

Thanks

[2021-04-27 06:03] Zak-SA commented on #553
just a clarification to my question, the conversion works fine and I can inference using the TFlite model from python, but my question is about the necessary changes for Android code including gradle.build or fastspeech2.java or any other changes to android. Thanks

[2021-04-27 06:13] Zak-SA commented on #553
@dathudeptrai I need your help good old friend

[2021-04-27 07:07] ZDisket commented on #550
@Liujingxiu23 I haven't tried FastSpeech1 but FastSpeech2 definitely yields very good performance for me. You can listen to [my samples](https://soundcloud.com/zyklone2/sets/tucker-carlson-441khz-tensorflowttsmb-melgan). I freely distribute most of my models to be used with [my program](https://github.com/ZDisket/TensorVox), if you want to test it.

One thing to note is that it's way more resilien

[2021-04-27 08:33] Liujingxiu23 commented on #550
@ZDisket Thank you very much for your reply.
I trained using https://github.com/ming024/FastSpeech2 , and the generated wavs is clear but the pitch seems a lot strange, I do not know whether this phenomenon is common and normal.
But I decided to using TensorflowTTS to train Fastspeech2 again since there are more discussions here which may help me a lot.
I am working on process dataset now. Is it a

[2021-04-27 08:52] luan78zaoha commented on #552
In training data, a word boundary could be added between each word, like "#0", the punctuation can be replaced by a symbol of "# 3", and "sil" is only placed at the beginning and end of the sentence. The model will be trained based on phoneme, "sil", "#0" and "# 3". When inferencing, the words "weekend" and "week #0 end" can be distinguished by adding #0.

[2021-04-27 09:11] t-dan opened #554 "FastSpeech2 - duration computation fails"
Hello,
I am trying to get FastSpeech2 working on LJS dataset. What I need is to extract duration files, using `examples/tacotron2/extract_duration.py` script.

However, when trying to run the script if fails with the error shown further. When I use the same model file (_checkpoints/model-200000.h5_) together with Tacotron2 to create speech (with melgan,mb-melgan,...), it works without problems.

C

[2021-04-27 11:10] jarred1989 commented on #552
@luan78zaoha  Thank you for your reply, but with 'sil' only at beginning and end, what to do with duration related to 'sil' in the middle of sentence（MFA align result may add 'sil' symbols and corresponding durations）?  And do we need to set duration of '#0' to 0?

[2021-04-27 22:02] #466 closed

[2021-04-28 03:19] luan78zaoha commented on #552
@jarred1989
- Because the beginning or end of audio file (.wav or .mp3) usually have a long silence, one symbol like “sil_0” could be used to indicate this kind of silence. In the middle of sentence, you can define different silence symbols according to durations of "sil" and "sp" from MFA. For example, the silence duration less 150ms is marked as "sil_1", the silence duration less 300ms is marked

[2021-04-28 07:00] dathudeptrai commented on #553
@Zak-SA did you try tflite nightly in android ?

[2021-04-28 07:03] dathudeptrai commented on #554
@t-dan can you remove all data preprocessed folder and do preprocessing again :))), not sure what is the problem.

[2021-04-28 10:44] jarred1989 commented on #552
@luan78zaoha Thanks again for your advice. I will try it soon, hope for good result.

[2021-04-29 06:55] juunnn commented on #525
yeah, I figured out that my preprocessing is different from the base model. Thank you.

[2021-04-30 06:01] ZDisket commented on #467
@dathudeptrai Can you help with implementing forced alignment attention loss for Tacotron2 like in [this paper](https://ieeexplore.ieee.org/document/8703406)? I've managed to turn MFA durations into alignments and put them in the dataloader, but replacing the regular guided attention loss only makes the attention learning worse, at least when finetuning a regular model.

[2021-04-30 07:55] jarred1989 commented on #429
@ZhaoZeqing I ran into the same problem for Hifigan v1, have you solved it?

[2021-05-03 16:59] Zak-SA commented on #553
@dathudeptrai yes, I already have the fastspeech2 tflite working on android  but only when converted using tf-nighlty  version 2.4.0and not the new versions, tf-nightly 2.4.0 is no longer available or supported , so I was wondering what changes should apply on the android example to make it work with the new tf-nightly. Thanks

[2021-05-03 17:16] Zak-SA commented on #553
@dathudeptrai another note, the android works if the runtime used for conversion is 1.14.0 and didn't work when I used runtime 2.3.0

[2021-05-04 03:12] dathudeptrai commented on #553
@Zak-SA I do not know but you just need to change the version of tflite in the android example and it's enough. If it doesn't work, there should be a bug in tflite-nightly then you need ask tflite authors for this bug :D.

[2021-05-04 03:12] dathudeptrai commented on #467
@ZDisket let me read the paper first :D.

[2021-05-04 03:24] Zak-SA commented on #553
@dathudeptrai do you mean in app build gradle dependencies?
as far as I know that in android you just chose 0.0.0 and you can't pin specific version but android get updates everyday.
in android/app/build.gradle from line 36 to 38

https://github.com/TensorSpeech/TensorFlowTTS/blob/ba46b472f99b09bbdfc6b9261626c10fb2f2be14/examples/android/app/build.gradle

implementation 'org.tensorflow:tensorflow-

[2021-05-04 03:30] dathudeptrai commented on #553
@Zak-SA can you follow (https://www.tensorflow.org/lite/guide/android#use_the_tensorflow_lite_aar_from_jcenter). use `org.tensorflow:tensorflow-lite-support:0.1.0` and `org.tensorflow:tensorflow-lite:0.0.0-nightly-SNAPSHOT`

[2021-05-04 03:30] ZDisket commented on #467
@dathudeptrai Since that post I discovered that MAE between the generated and forced attention works to guide it, but it's so strong that it ends up hurting performance, which could be fixed with a low enough multiplier like 0.01, although I haven't tested it extensively as I abandoned it in favor of training a universal vocoder with a trick.

[2021-05-04 03:34] Zak-SA commented on #553
@dathudeptrai I will try and let you know, I didn't change what in the example because it worked before

[2021-05-04 03:57] Zak-SA commented on #553
@dathudeptrai I changed  the dependencies and still crashes, I get
java.lang.NullPointerException: Attempt to invoke virtual method 'void org.tensorflow.lite.Interpreter.resizeInput(int, int[])' on a null object reference

the only difference between the working tflite model and the one causing the error I am getting is the tf-nightly and runtime used for conversion, the new tf-nightly uses 2.3.0

[2021-05-04 04:17] serrunlee opened #556 "'tensorflow-tts-preprocess' is not recognized as an internal or external command, operable program or batch file."
Please help me, I am studying usage TensorFlowTTS,
from https://github.com/TensorSpeech/TensorFlowTTS

I finished all installed. After that I used this command.

`
tensorflow-tts-preprocess --rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
`

But I found the problem

[code]

How should I fix it?

[2021-05-04 06:28] dathudeptrai commented on #556
@serrunlee are u using window ?

[2021-05-04 14:16] serrunlee commented on #556
I can solve the problem
Use this command

[code]

[2021-05-04 14:16] #556 closed

[2021-05-04 16:06] serrunlee opened #557 "InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse"
Help me too. I found the problem when using this command.

`set CUDA_VISIBLE_DEVICES=0 & python examples/tacotron2/train_tacotron2.py --train-dir ./dump_ljspeech/train/ --dev-dir ./dump_ljspeech/valid/ --outdir ./examples/tacotron2/exp/train.tacotron2.v1/ --config ./examples/tacotron2/conf/tacotron2.v1.yaml --use-norm 1 --mixed_precision 0 --resume ""
`

I use

Windows 10
Python 3.8
Cuda 10.1
CuDN

[2021-05-05 02:19] #504 closed

[2021-05-06 03:16] jarred1989 commented on #547
@ZDisket @unparalleled-ysj Any good news? I ran into the same problem, so I changed the optimizer and  set discriminator_train_start_steps to 0 according to #387, the synthesized waveforms are no longer silence, but they are even worse than mb-melgan.

[2021-05-06 03:38] ZDisket commented on #547
@jarred1989 A while back I came into the conclusion that there is just something wrong with TensorflowTTS HiFi-GAN that can't be alleviated with simple optimizer or config changes, so I settled with adding the MPD to MB-MelGAN, which trains slower but helps increase multispeaker performance, and may make it possible to successfully finetune another model to adapt it to a target speaker, as I am te

[2021-05-06 06:39] jarred1989 commented on #547
@ZDisket  Thanks for your opinion, I may try it out later.

[2021-05-06 07:54] juunnn opened #558 "Error preparation on 16 KHz data"
Hi, I have a dataset with 16 kHz and 22 kHz, I did the preparation with  `ljspeech_preparation.yaml` config with 22KHz, it works fine. But when I try to do the same dataset with a different sample rate it produces an error while doing `compute statistics`.
I make sure that the sample rate on the config is appropriate for the dataset.
[code]
this is the config file
[code]
Thank you for your answer.

[2021-05-07 05:40] #506 closed

[2021-05-07 05:40] #509 closed

[2021-05-07 09:12] #510 closed

[2021-05-08 02:43] #429 closed

[2021-05-10 03:13] rgzn-aiyun opened #559 "Does it support the latest version of TensorFlow 2.5.0-rc3?"
The latest version of TensorFlow 2.5.0-rc3 supports cpu acceleration:

oneAPI Deep Neural Network Library (oneDNN)
CPU performance optimizations from
Intel-optimized TensorFlow
are now available in the official x86-64 Linux and Windows builds.

They are off by default. Enable them by setting the environment variable
TF_ENABLE_ONEDNN_OPTS=1.
We do not recommend using them in GPU systems, as they ha

[2021-05-10 03:15] rgzn-aiyun commented on #559
@dathudeptrai

[2021-05-10 15:03] dathudeptrai commented on #559
@rgzn-aiyun not test yet but it should work :D

[2021-05-10 15:04] dathudeptrai commented on #558
@juunnn is the bug still exist ?

[2021-05-11 02:55] juunnn commented on #558
yeah. I use version 0.0 that I have installed before it works fine. with the newer version like 0.9 or 1.1, the problem persists.

[2021-05-11 02:57] dathudeptrai commented on #558
@juunnn 0.0 is a master branch and it's a newest version :D

[2021-05-11 09:54] davidesalvi commented on #525
Hi, did you manage to solve this problem? I'm also interested in it

[2021-05-11 12:09] skymanaditya1 opened #560 "Is there support for Hindi TTS planned anytime soon?"

[2021-05-12 09:58] samuel-lunii opened #561 "Unable to load .ckpt file while resuming Tacotron2 training because of missing .h5 file"
Hi !
I am trying to resume training from a checkpoint I saved.
Here is the command I used (python 3.7 & TF 2.3.1):

python train_tacotron2 --config examples/tacotron2/conf/tacotron2.v1.yaml --train-dir /opt/ml/input/data/training/train/ --dev-dir /opt/ml/input/data/training/valid/ --model_dir s3://sagemaker-XXXX/test_job/model --outdir s3://sagemaker-XXXX/tac2-LJ-test-6/ --resume s3://sagemaker-XX

[2021-05-12 10:07] dathudeptrai commented on #561
@samuel-lunii there should be a .h5 file in checkpoint folder (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/trainers/base_trainer.py#L959-L962). You need debug by yourself why the h5 file isn't save correctly. A `save_weights` method here (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/utils/utils.py#L48-L69). Pls modify `save_interval_steps` t

[2021-05-12 10:12] samuel-lunii commented on #561
Ok Thanks for quick reply !
There should be, indeed :)
I will try to understand why they are not saved and will let you know.

[2021-05-12 10:14] dathudeptrai commented on #560
@skymanaditya1 PR support for HindiTTS are always welcome :)))

[2021-05-12 10:35] PiotrowskiD commented on #246
Has anyone worked on this? As far as I tried the problem with using tf tools for quantization aware training and pruning are the   custom residual stack layers (they are not compatible with the way tfmot works). It would be able to use the qat and pruning as they are supposed to work really great in tf right now. And after using quantization without qat there is a lot of noise introduced

[2021-05-12 11:47] #454 closed

[2021-05-12 12:37] samuel-lunii commented on #561
alright got it :)
`s3://` paths are not taken into account by the `_path_requires_gfile()` method in `utils.py`.
I know my path is always going to be an `s3://` so I just disabled the condition in the `save_weights()` method.
Thanks a lot !

[2021-05-12 12:37] #561 closed

[2021-05-13 01:32] qxde01 opened #562 "Hope to support new algorithm :Parallel Tacotron 2: A Non-Autoregressive Neural TTS Model with Differentiable Duration Modeling"
[paper](https://arxiv.org/pdf/2103.14574.pdf)  :
Parallel Tacotron 2: A Non-Autoregressive Neural TTS Model with Differentiable Duration Modeling

![image](https://user-images.githubusercontent.com/2479536/118064298-50312e00-b3cd-11eb-84d7-850a4170004c.png)

[2021-05-13 18:18] Ellie1013 opened #563 "All training results of tacotron2 and hifiGAN is nan."
My server is...
Geforce RTX 3090, Linux 20.04
CUDA 10.1
cudnn 7.6.5

The problom is...
1. The loading time is too long.
After printing max_char_length, the loading time took about 1 hour unlike logs in the below picture.
![image](https://user-images.githubusercontent.com/60208125/118166376-5e7c5a00-b460-11eb-97ed-e1c7061f8c3e.png)

And there was another error that is 'Value 'sm_86' is not defined

[2021-05-14 04:07] dathudeptrai commented on #563
@Ellie1013 all nan issue with this repo is almost caused by data. You need to check the forward step if it's a source of nan problem: (Note that you need use batch_size=1)

[code]

[2021-05-14 08:40] dathudeptrai commented on #562
@qxde01 I have read a paper :))), right now I can say that: It's very hard to implement this model in TensorFlow even with PyTorch and we need few months to reproduce its performance :)).

[2021-05-15 16:21] ghost opened #565 "Vocoders performance / universality"
Hello !
I just rewrote the WaveGlow vocoder in tensorflow trying to improve its performance but it fails (1.7 sec generated / sec with the pytorch model drops down to less than 1.2 generated / sec in tensorflow)

What are the performances of your vocoders ? are they better ? Which kind of performance do you achieve for a full inference (text -> mel -> audio) with your vocoders ? And which one is t

[2021-05-16 12:47] dathudeptrai commented on #565
@ZDisket can you help him ?

[2021-05-16 23:42] ZDisket commented on #565
@yui-dl Most vocoders can be universal if trained on a lot of speakers from various datasets. Even one MelGAN-STFT model I trained on 20 speakers a while ago kind of worked as a universal vocoder, but not that well; you also probably want to increase the size of the model as shown in the Universal MelGAN paper: https://arxiv.org/abs/2011.09631. Also, MelGAN and especially multi-band are very fast.

[2021-05-17 03:47] qxde01 commented on #562
@dathudeptrai ,yes,thank you. I find two unofficial pytorch code:
[https://github.com/keonlee9420/Parallel-Tacotron2](https://github.com/keonlee9420/Parallel-Tacotron2)
[https://github.com/NTT123/Parallel-Tacotron-2](https://github.com/NTT123/Parallel-Tacotron-2)

[2021-05-17 03:56] dathudeptrai commented on #562
yeah, I know it. Let us see how long will the community take to make that model convergence :)).

[2021-05-17 06:31] yui-dl commented on #565
Thank you for your reply !
Quite impressive results in performance but I need a universal vocoder because I try to improve my `SV2TTSTacotron2` model, which aims to be a universal synthesizer (https://arxiv.org/abs/1806.04558) (so need of a universal vocoder :smile: )

Note that if you are interested in, the [NVIDIA WaveGlow vocoder](https://github.com/NVIDIA/waveglow) is really good vocoder (but

[2021-05-17 10:55] patrickvonplaten opened #567 "Pip install requires additional library"
Hey,

Thanks a lot for the great library.

When installing *TensorFlowTTS* via pip it seems like a dependency is missing, *e.g.*, the following commands fails:

[code]

[code]

because the package: `german_transliterate` can't be found. Only when doing

[code]

[code]

It works. It seems that `german_transliterate` is a necessary dependency to me -> should this maybe be installed automatically so

[2021-05-17 13:26] skymanaditya1 commented on #560
I am working on one now. Will have some updates to share soon!

[2021-05-17 14:45] dathudeptrai commented on #567
@patrickvonplaten Actually we can remove german_transliterate dependency in a `setup.py` in the next release of TensorFlowTTS :)). For users who want to use german TTS, they should install `german_transliterate` by themselves since there is no `german_transliterate` package in pypi :))).

[2021-05-17 17:51] Freddy-pp commented on #565
Hello, @ZDisket. Does increasing number of filters affects quality? And what else should be changed besides the number of filters to improve the quality?

[2021-05-17 18:31] PedroDKE opened #568 "Fastspeech 2 design question"
The original paper proposes the following variance predictor:
![image](https://user-images.githubusercontent.com/43861296/118535634-fcb33d00-b74a-11eb-8814-f9d871f8f113.png)

here it seems to me that the output of the lenght regulator is being used for pitch and energy prediction and not the output of the encoder as in this repo's implementation.
this repo's implementation's logic (line 162-189 of

[2021-05-17 18:32] ZDisket commented on #565
@Freddy-pp I can't confirm because aside from that change I added the MPD and while I did see a noticeable increase in multispeaker performance, I don't know which change contributed more.
My theory is that larger model = better at multi-speaker.

[2021-05-18 02:37] ZDisket commented on #565
@yui-dl

As I stated before, most if not all vocoders on this repo can be universal with the right tuning. I think your best bet will be large Multi-Band MelGAN with HiFi-GAN discriminator. I can give you a training script and config as I haven't PRed it yet.

[2021-05-18 03:23] Liujingxiu23 opened #569 "Mixed-Language Training of Fastspeech2"
My dataset: 5 speakers, 1 speaker only has wavs of chinese, 1 speaker only has wavs of English,
and the other three has Chinese wavs, Engish wavs, and Chinese-English-Mixed wavs.

I trained fastspeech2 model, and synthesized wavs:
1. When the text only has chinese chars, the pronunciations are correct and acoustic quality is high.
2. When the text is Chinese-English-Mixed, like "你还可以这样说She ordered

[2021-05-18 03:29] #523 closed

[2021-05-18 03:30] #485 closed

[2021-05-18 03:31] dathudeptrai commented on #568
@PedroDKE https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#whats-difference-

[2021-05-18 07:02] PedroDKE commented on #568
Aah i see, seems like I missed that part :D thank you!

[2021-05-18 08:31] #503 closed

[2021-05-18 10:45] #568 closed

[2021-05-18 16:49] yui-dl commented on #565
Yes indeed sorry my bad
What is the training time of these models ? Because I just have 1 GPU with 6Go RAM so  it’s more a power limitation in my case and I am not sure to be able to train it enough to have comparable results (in term of quality) compared to my current vocoder 😄
If I have the time this summer and if it is okay for you I would be quite interested to integrate some of your vocoders

[2021-05-19 09:42] tts-nlp commented on #565
hi @dathudeptrai @ZDisket , when using multi speaker data to training mb melgan , the loss explode, how to solves this! thanks
![Uploading Screenshot from 2021-05-19 17-36-29.png…]()

[2021-05-19 09:46] tts-nlp commented on #565
hi @dathudeptrai @ZDisket , when using multi speaker data to training mb melgan , the loss explode, how to solves this! thanks
![Screenshot from 2021-05-19 17-36-29](https://user-images.githubusercontent.com/58066364/118792370-2f377400-b8ca-11eb-84f3-87fffc8319dc.png)

[2021-05-19 09:47] dathudeptrai commented on #565
@tts-nlp https://github.com/TensorSpeech/TensorFlowTTS/issues/247

[2021-05-19 09:57] tts-nlp commented on #565
@dathudeptrai thanks! , I will try this!

[2021-05-19 10:47] samuel-lunii opened #570 "Strange loss curves when training MB-MelGAN on custom multi-speaker dataset"
Hi !
I am trying to learn models from scratch on my own multi-speaker dataset.
Until now, Tacotron2 training seems to work fine, according to tensorboard data :
![image](https://user-images.githubusercontent.com/40658675/118799653-42811a00-b89f-11eb-99c8-58d7d4d8574e.png)

However, I observed a strange behaviour for MB-MelGAN :
![image](https://user-images.githubusercontent.com/40658675/118799839-

[2021-05-19 10:53] dathudeptrai commented on #570
@samuel-lunii https://github.com/TensorSpeech/TensorFlowTTS/issues/247

[2021-05-19 22:56] ZDisket commented on #565
@yui-dl

About 2 days for stock MB-MelGAN on a Tesla V100, twice that. For the memory limitation, you'll probably need to use gradient accumulation.

You'll have to ask @dathudeptrai

[2021-05-20 03:09] keonlee9420 commented on #562
Hi @qxde01 and @dathudeptrai , thank you for mentioning my work.
As you may know, it's a bit hard to reproduce (mainly due to ambiguous descriptions in the paper). I've contacted the original authors, and they gave me some hints. Based on it, I'm currently debugging and tuning the model to converge. It would be boosted a lot if you can contribute as a speech domain expert. I genuinely believe in c

[2021-05-20 05:28] neso613 commented on #201
@dathudeptrai Fastspeech Chinese TTS is availavle in Pytorch for custom dataset training. How can that be converted into TFLite?
Can I get some referece How to train Chinese Fastspeech TTS?

[2021-05-20 06:20] juunnn commented on #558
I installed from pip for 0.9 version, but I build from github for the 0.0 version. Is that have any effect for the performance?

[2021-05-21 02:33] chenht2010 commented on #547
make learning rate smaller will be good. I tried on two corpus male and female, use default config, failed; smaller the lr, the result is good.

[2021-05-21 02:53] ZDisket commented on #547
@chenht2010 What learning rate did you use?

[2021-05-21 03:59] chenht2010 commented on #547
only changed the generator:
`generator_optimizer_params:`
`values: [0.000125, 0.000125, 0.000625, 0.000625, 0.0000625, 0.00003125, 0.000015625, 0.000001]`

[2021-05-21 04:03] dathudeptrai commented on #547
can you make a pull request to change the default config for better training :D ?

[2021-05-21 05:33] chenht2010 commented on #547
sure

[2021-05-21 21:23] AyseEe501 opened #572 "What should I do to add a Turkish TTS model?"
I would be glad if you could show me a way on how to proceed with Mozilla Common Voice in order to create the Turkish TTS model.I really need a lot of help in this regard. Thank you for your interest in advance.

[2021-05-22 08:44] #515 closed

[2021-05-22 09:44] #517 closed

[2021-05-23 07:55] roboticsai opened #573 "tflite model for text to speech"
I was following [this](https://colab.research.google.com/drive/1HudLLpT9CQdh2k04c06bHUwLubhGTWxA?usp=sharing#scrollTo=1EKsPwMZPbf7) guide for converting tensorflow model into tflite for the text to speech conversion purpose. But as i followd that guide, i can't see the text converion to speech demo.
Since i'm little new in text to speech and tf lite based models.
Can anyone guide me how do i use t

[2021-05-24 06:33] Ellie1013 commented on #563
@dathudeptrai
![image](https://user-images.githubusercontent.com/60208125/119306438-1b628800-bca5-11eb-9233-4467b443be6f.png)
This image is the results of output.
Every value is nan.
My dataset is wrong?

[2021-05-24 06:58] dathudeptrai commented on #563
@Ellie1013 is it still ok before 10000 steps ?

[2021-05-24 07:03] Ellie1013 commented on #563
@dathudeptrai
No, I run it on Azure cloud(V100) before 10000 steps.
Before I buy GTX 3090 server, I practiced on Azure cloud virtual machine.
The result on Azure cloud didn't have any problems, so I ran same process on GTX 3090.
I tried to run it in both of 0 step and 10000 steps, and they had nan. problem.

[2021-05-24 07:07] dathudeptrai commented on #563
@Ellie1013 did you check ?

[2021-05-24 07:31] roboticsai commented on #573
Ok got it. I have to use a vocoder model to convert the output from the tts model to the audio data.

[2021-05-24 07:31] #573 closed

[2021-05-24 07:33] roboticsai opened #574 "streaming audio not clear"
When i stream the audio data the audio is not comming clear. here is m y code:
[code]
Here when i play the audio file audio_before.wav the sound is clear. only problem is arising when playing the audio data in real time.

[2021-05-24 09:15] Ellie1013 commented on #563
I tried to run your code, but I don't know where I insert it.
In the Tacotron2 code, output isn't same with the result in below image(train_stop_token_loss, ...)
![image](https://user-images.githubusercontent.com/60208125/119325443-d433c180-bcbb-11eb-8c54-5c6907509267.png)
And every outputs are in the base_trainer, I think, so please let me know where I insert your code, then thank you

[2021-05-24 09:17] Ellie1013 commented on #563
And I tried to run on Azure cloud(V100) with the data that made in GTX 3090.
![image](https://user-images.githubusercontent.com/60208125/119325808-3b517600-bcbc-11eb-9209-50fd9c66a0d3.png)
The result is working, so I think it is not a data problem.
Maybe is there any problems when I set the learning environments?

[2021-05-24 09:58] dathudeptrai commented on #563
@Ellie1013 what is ur tf version ?

[2021-05-24 10:21] Ellie1013 commented on #563
@dathudeptrai tf2.2
I installed tf2.3, but there is a problem, so I changed tf2.2.
The problem was below the picture.
https://www.notion.so/error-daf6b74d6b404829aaf833fbb90a20e2#bc890f2f54f74524a8f22dc2df232131

[2021-05-24 10:23] samuel-lunii commented on #570
Thank you @dathudeptrai
Reducing the learning rate solved the problem :)

[2021-05-24 10:23] #570 closed

[2021-05-24 18:30] Freddy-pp commented on #565
Thank you.

I'm also interested in a large Multi-Band MelGAN with HiFi-GAN discriminator training script and config if you could share your code. Thanks in advance.

[2021-05-25 12:25] kylejmorris opened #575 "Porting to Tensorflow.js"
Hey there, love this project! I'm interested in doing a port of tacotron2 to tensorflow.js, wondering if anyone here has made any similar progress porting TfTTS models to TF.js.

**Main unknowns**
- How long it'd take to setup a pipeline config and exporter (similar to existing tensorflow libs like [https://github.com/tensorflow/models/blob/master/research/object_detection/exporter_main_v2.py](url

[2021-05-25 18:10] NoCodeAvaible commented on #563
Hey @Ellie1013,
I am currently running into the same problem with my 3080:/
Did you fixed the problem?

[2021-05-26 08:27] NoCodeAvaible commented on #563
@dathudeptrai it's because of the evaluation:) Because when I set the evaluation interval to 100 steps the loss turns nan right after the evaluation. If I set evaluation interval to 1000 steps the loss turns immediately to nan.

[2021-05-26 13:49] roboticsai opened #576 "error building on arm64"
I'm trying to build the TensorFlowTTS on raspberry pi 4B from source. I have succfully installed the Tensorflowtts but when i try to import the tensorflow_tts modules i'm getting error like:
[code]

Environment:
OS: ubuntu server 20.04
hardware: Raspberry pi 4B, 8 gb ram, arm64
Tensorflow version: Tensorflow 2.4.1.

[2021-05-26 13:53] dathudeptrai commented on #576
@roboticsai seems a problem is about sklearn not from our side? . Pls try to re-install sklearn to newest version or build it from source.

[2021-05-26 17:00] ZDisket commented on #565
@Freddy-pp It's in the .zip. Note that to use it as-is you need to resample your files to 44.1KHz, so I've attached a preprocessing config as well.
[mbmelganhfd.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/6548464/mbmelganhfd.zip)

[2021-05-26 17:31] YasaswiniU commented on #50
I'm also facing the same issue with the below error but I cannot find out where.

model.add(Conv2D(32, (5,5), input_shape=(image_x, image_y, 1), activation='relu', padding='same'))

or

model.fit(train_images1, train_labels1, validation_data=(test_images1, test_labels1), epochs=100, batch_size=100, callbacks=callbacks_list)

-----------------------------------------------------

TypeError: Input '

[2021-05-27 05:57] titipakorn opened #577 "Model overfit?"
Here is the training logs of Tacotron-2.
![messageImage_1622093966318](https://user-images.githubusercontent.com/22910644/119773183-733e0080-beea-11eb-89e2-7445d80ec211.jpg)
![messageImage_1622093986554](https://user-images.githubusercontent.com/22910644/119773189-75a05a80-beea-11eb-97d1-4e854f6918e6.jpg)
My model can only speak sentences mostly in the training set but when I tried test sentences,

[2021-05-28 06:31] Liujingxiu23 commented on #569
@zhazl  no, I did not have such problem.
input with only chinese chars : pronunciations  are good.
input with chinese and english mixed: pronunciations are sometimes bad, at a not low probability

[2021-05-28 07:04] dathudeptrai commented on #577
@titipakorn could you attach an alignment figure?

[2021-05-28 08:28] Freddy-pp commented on #565
Thanks a lot. :)

[2021-05-28 08:45] dathudeptrai commented on #575
@kylejmorris I added `help wanted` tag :D, let see if anyone else can help :D.

[2021-05-28 08:50] 3rang opened #578 "Error while training the tacotron-2 model.!"
### I followed the commands as per README, but still, I'm facing some issues. maybe (i don't have any graphics card in my systems, and I have installed all dependencies as per documents.) Please find the below error log.

#### this same issue reported with this [link](https://github.com/TensorSpeech/TensorFlowTTS/issues/69), I tried with the same comments as well but it didn't work for me.

### Er

[2021-05-28 08:52] ZDisket commented on #577
@titipakorn 5 hours with 2710 utterances is insufficient time for training a Tacotron2 model from scratch (although it can vary depending on how monotone or emotional it is, and the quality). I did manage one with 8 hours but it had many misspellings. Can you attach some audio samples with alignment figures on test sentences?
For small amounts of data I recommend first training a large, open-sourc

[2021-05-28 08:57] ZDisket commented on #578
Looks like it's failing to find some CUDA libs, I always had this error when training on a V100 instance unless I put this:
`export LD_LIBRARY_PATH=/usr/local/cuda-10.2/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}`
You might have to replace depending on where your libs are located, but normally it should work like that. Try it.

[2021-05-28 08:57] dathudeptrai commented on #578
@3rang I saw this bug in your log:

[code]

Can you fix this bug and run again ?

[2021-05-28 08:59] dathudeptrai commented on #574
@roboticsai could you reproduce it on colab ?

[2021-05-28 09:07] ZDisket commented on #572
Mozilla Common Voice is a very varied dataset, not optimal for training TTS; I remember something like this being said in the Mozilla TTS forums, but I can't find the thread. You'd be better off finding a large open dataset in Turkish and training that.

[2021-05-28 09:13] dathudeptrai commented on #572
@monatis :D

[2021-05-28 09:21] titipakorn commented on #577
Actually this model was fine-tuning from LJSpeech. Do you have any ideas to augment my original data since my language data are scarce.

Here is the alignment figure of testing sentences.

Test sentence 1
![test_sentence_s1](https://user-images.githubusercontent.com/22910644/119961474-49f7a000-bfd0-11eb-9a75-9113e9dae446.png)

Test sentence 2
![test_sentence_s2](https://user-images.githubuserconte

[2021-05-28 09:24] dathudeptrai commented on #577
@titipakorn those alignments took from training folder or you got it when doing a real inference?

[2021-05-28 09:25] titipakorn commented on #577
from real inference .

[2021-05-28 09:29] dathudeptrai commented on #577
@titipakorn I heard a generated audio and it sounds ok, so the problem is about pronunciation?

[2021-05-28 09:31] titipakorn commented on #577
Yes, it is. So I'm not sure it is about the size of training set or my grapheme-to-phoneme.

[2021-05-28 09:31] monatis commented on #572
Hi @AyseEe501, unfortunately CommonVoice is not a good fit for TTS training as it is crowd-sourced and of lower quality. We need to form a decent quality dataset to train one because we don't have one in Turkish. For example, you may record your own voice with a high-quality studio microphone and form your own dataset. I'll be hosting @ThorstenMueller, who exactly did so, at an event on June 2nd.

[2021-05-28 09:43] dathudeptrai commented on #577
@titipakorn you can train with character to check if the problem is ur G2P or not. Pronunciation problem mainly caused by the size of the training set, I think :D.

[2021-05-28 09:44] titipakorn commented on #577
Thanks for your help!

[2021-05-28 09:48] dathudeptrai commented on #577
@titipakorn let train with character and check if the problem still exists :D.

[2021-05-28 09:51] titipakorn commented on #577
I would take a lot of time since I have to train two models and each training time is about 7 days. 😔

[2021-05-28 09:54] dathudeptrai commented on #577
hmmm, try to use the weight from model trained with G2P then fintune with charactor =))).

[2021-05-28 09:55] titipakorn commented on #577
I see. Thank you!

[2021-05-28 09:56] AyseEe501 commented on #572
I understand and thank you for this nice invitation. Of course I would like to attend. I am aware that I have to improve myself on this subject.I am aware that the Common Voice dataset is troublesome in this regard. However, nowadays we have not left home due to the pandemic, it is very troublesome to prepare the dataset without any help, I cannot find anyone to help me. Thank you very much for re

[2021-05-28 10:16] monatis commented on #572
@dathudeptrai th's true, but I realized that the recording quality was poor when I listened to it with a maximum volume, so I decided to record a new one and this in in progress 😄

[2021-05-28 10:20] AyseEe501 commented on #572
@monatis Not so long ago.
Since I want to make my own TTS program for 1-1.5 months, if I had the appropriate conditions, I would definitely try my own dataset.And if I did, I would share it open source. But being alone and still a novice makes it difficult.

[2021-05-28 11:32] AyseEe501 commented on #572
Do you have an estimated completion time?

[2021-05-28 11:40] monatis commented on #572
@AyseEe501 around one month or so.

[2021-05-28 14:03] AyseEe501 commented on #572
I'm waiting impatiently then😅🤗

[2021-05-29 20:10] #500 closed

[2021-05-29 20:10] #528 closed

[2021-05-31 03:07] #529 closed

[2021-06-01 10:13] ARFR2 opened #580 "MelGAN model not found :/"
**hello**
I tried to test this on _colab_, but i couldn't load MelGAN models.
for example for 'MelGAN Original' i got this error:
`HTTPError: 404 Client Error: Not Found for url: https://huggingface.co/melgan-1M6.h5/resolve/main/model.h5`
and for the others too.

[2021-06-01 10:46] samuel-lunii opened #581 "Tacotron2 produces random mel outputs during inference (french dataset)"
Hi !
I have trained tacotron2 for 52k steps on the [SynPaFlex french dataset](https://www.ortolang.fr/market/corpora/synpaflex-corpus). I deleted sentences longer than 20 seconds from the dataset and ended up with around 30 hours of single speaker data.

I made a custom `synpaflex.py` processor in [./tensorflow_tts/processor/](https://github.com/TensorSpeech/TensorFlowTTS/tree/master/tensorflow_tt

[2021-06-01 10:47] dathudeptrai commented on #580
@ARFR2 I will update all colab now :D. But u can try:

[code]

[2021-06-01 10:57] #577 closed

[2021-06-01 11:29] dathudeptrai commented on #581
@samuel-lunii can you share ur script u used to do inference ?

[2021-06-01 11:37] ARFR2 commented on #580
Thank you.
but now I get another error on
`from tensorflow_tts.inference import TFAutoModel`
error: ImportError: No module named german_transliterate.core

[2021-06-01 11:46] dathudeptrai commented on #580
@ARFR2
[code]

[2021-06-01 11:49] samuel-lunii commented on #581
Yes, here it is :

[code]

[2021-06-01 12:02] ARFR2 opened #583 "h5py issue !"
hi
on colab,
I get this error `AttributeError: 'str' object has no attribute 'decode'`.
when i run `tacotron2 = TFAutoModel.from_pretrained("tensorspeech/tts-tacotron2-ljspeech-en", name="tacotron2")`.

I searched, and found [This issue on h5py github](https://github.com/h5py/h5py/issues/1732).
this error caused by h5py > 3.0.0

[2021-06-01 12:44] ARFR2 commented on #580
Thank you.

[2021-06-01 12:44] #580 closed

[2021-06-01 19:55] fengwang commented on #583
I solved this problem by degrading h5py to 2.10

[2021-06-01 19:59] fengwang opened #585 "processor::baker::text_to_sequence::symbol_to_id cannot handle Chinese input"
I run the script copied from huggingface page at <https://huggingface.co/tensorspeech/tts-mb_melgan-baker-ch>, the source code is

[code]

and got an error below:

[code]

[2021-06-01 20:18] tuliomagalhaes opened #586 "Control speech duration"
I am developing a TTS system that the synthetized audio duration should match a given duration.
I was looking in the issues and I found this one #489 but I'm not sure how I can manipulate this array to match my duration because I don't know exactly the scale of this values, if is in seconds, miliseconds, etc.

[2021-06-02 02:49] dathudeptrai commented on #585
@fengwang
[code]

[2021-06-02 07:46] #585 closed

[2021-06-02 08:01] dathudeptrai commented on #581
@samuel-lunii can you pull the newest code and run again ?

[2021-06-02 09:26] juunnn opened #587 "duration extraction error."
Hi. I tried to extract the duration of my audio files using tacotron2 for training the fastspeech2. I used the MFA extraction but I dont think kaldi can handle non ascii character while my model is using non ascii char as its phonemes. So I trained the tacotron2 with the same dataset that I used for extraction. I use the same tacotron config too. But this is happened several times.
[code]
is this

[2021-06-02 09:27] #558 closed

[2021-06-02 14:01] samuel-lunii commented on #581
Ah ok :)
I pulled the newest code and ran this script :

[code]

Still getting random mel outputs...

[2021-06-02 15:02] osanseviero opened #588 "🤗 Hub and TensorFlowTTS integration for Inference API"
**Hi TensorSpeech team! I propose building on top of the existing integration with 🤗 Hub to enable the Inference API and widgets**

**Current Status**
* With #555, users can easily download models from the Hub.
* With https://github.com/huggingface/huggingface_hub/pull/55, TensorFlowTTS is now a searchable library in the Hub.
<img width="1259" alt="Screen Shot 2021-06-02 at 4 49 45 PM" src="https:

[2021-06-02 15:03] dathudeptrai commented on #581
@samuel-lunii can you check if the problem is about Text2mel model or melgan model ?.

[2021-06-02 15:15] samuel-lunii commented on #581
i think it comes from Text2mel model, because I get different results each time I `print(mel_outputs)` and `plot(mel_outputs)` :

first time :
[code]
![image](https://user-images.githubusercontent.com/40658675/120505811-a0485280-c3c5-11eb-8598-d790d74cc0d0.png)

Second time :
[code]
![image](https://user-images.githubusercontent.com/40658675/120506153-edc4bf80-c3c5-11eb-892d-ac51fa1461dc.png)

Not

[2021-06-02 15:26] dathudeptrai commented on #581
@samuel-lunii can you try to disble dropout on prenet (https://github.com/TensorSpeech/TensorFlowTTS/blob/master/tensorflow_tts/models/tacotron2.py#L477) ?

[2021-06-02 15:36] samuel-lunii commented on #581
mmmmh randomness is removed (exact same results each time I `print(mel_outputs)`) but result is not speech anymore :
![image](https://user-images.githubusercontent.com/40658675/120509596-f1a61100-c3c8-11eb-82a9-12c2dc638bff.png)

[2021-06-02 16:47] dathudeptrai commented on #581
@samuel-lunii try to use the original class of Model and Config like https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/tacotron2/train_tacotron2.py#L458-L460 then load_weights as normal :D.

[2021-06-03 02:00] twister11211 opened #589 "following arguments are required"
hi I enter all arguments in the instructions but still get error messages saying

train_tacotron2.py: error: the following arguments are required: --outdir, --config

TensorFlowTTS> python examples/tacotron2/train_tacotron2.py \--train-dir ./dump/train/ \--dev-dir ./dump/valid/ \--outdir ./examples/tacotron2/exp/train.tacotron2.v1/ \--config ./examples/tacotron2/conf/tacotron2.v1.yaml \--use-norm

[2021-06-03 02:23] twister11211 commented on #589
I figured it out rookie mistake

[2021-06-03 02:23] #589 closed

[2021-06-03 02:57] dathudeptrai commented on #586
@ZDisket

[2021-06-03 03:00] dathudeptrai commented on #587
@juunnn it only happens on some samples right?, if yes, let ignore those samples :D

[2021-06-03 04:35] juunnn commented on #587
Ok, I dont know what happend. But last time I doing this on my host computer the bugs occur, but when I run the same code with the same model and the same config inside a docker env, the bug is gone. I can extract all the same audio without an error or a warning. Is there something wrong with my host computer config? As far as I recall, I install the framework using the same repo as I install in t

[2021-06-03 08:04] samuel-lunii commented on #581
Here is what I did :

[code]

Still getting the random results when dropout is active ! ><

[2021-06-03 08:07] dathudeptrai commented on #581
@samuel-lunii teacher forcing is still ok ?

[2021-06-03 08:11] ZDisket commented on #581
@samuel-lunii

That's a feature of Tacotron 2, one input, infinite possibilities which makes it ideal for emotional voices.

Can you print the `input_ids` and see what is passed into the model?

[2021-06-03 08:31] dathudeptrai commented on #581
@samuel-lunii let check if ur preprocessed input_ids is corrected or not :))).

[2021-06-03 08:39] ZDisket commented on #586
@tuliomagalhaes
The scale of the duration outputs is in mel spectrogram frames, you can verify this because `np.sum(duration_outputs)` will always equal the amount of spectrogram frames (`mel_outputs.shape[1]`) when you generate. To convert them to seconds, you use the formula `seconds = mel frames / (sampling rate / hop size)`
In order to manipulate the speed multiplier I would suggest first gene

[2021-06-03 08:41] Ellie1013 commented on #563
Yes, I fixed it. I changed the setting to tf2.4 and python3.8, then every problems were fixed

[2021-06-03 08:44] dathudeptrai commented on #563
@Ellie1013 hi, I have a plan to changing the default TF version to tf2.4 but not tested yet, could you tell me if there are some bugs when using tf2.4?

[2021-06-03 09:03] Ellie1013 commented on #563
@dathudeptrai
Still now, it doesn't make bugs because of TF version.
I run tacotron2 and hifiGAN.
I have a hifiGAN exploding gradient problem after 200K, so I try to fix it.
But I don't think the reason is TF version.
Tacotron2 learning is working well.

[2021-06-03 10:27] CracKCatZ commented on #563
Hey @Ellie1013,

did you fixed the nan loss problem?
If yes could you please tell me how?

Thanks for your reply in advance:)

[2021-06-03 12:01] samuel-lunii commented on #581
@ZDisket

Ah ok ! good to know :)

So here is the output of `print(ids)` in the above script :

`[60, 53, 47, 41, 47, 12, 50, 43, 12, 58, 43, 62, 58, 43, 12, 55, 59, 43, 12, 48, 3, 39, 60, 39, 47, 57, 12, 43, 52, 60, 47, 43, 12, 42, 3, 65, 41, 56, 47, 56, 43, 12, 54, 53, 59, 56, 12, 58, 43, 57, 58, 43, 56, 12, 50, 43, 12, 57, 63, 57, 58, 66, 51, 43, 12, 42, 43, 12, 57, 63, 52, 58, 46, 66, 57, 43,

[2021-06-03 12:20] tuliopereirazup commented on #586
Thanks for you response, I will try that. =)

[2021-06-03 12:47] samuel-lunii commented on #581
@dathudeptrai

I tried this :

[code]

And it also gave random speech.

[2021-06-03 13:05] dathudeptrai commented on #581
@samuel-lunii can you give me ur alignment figure in training progress (evaluation) and in the real inference with and without teacher forcing in the same input ?

[2021-06-03 14:46] julien-c commented on #588
on my (end user) side, bundling models into an easy-to-use end to end TTS "model" (for at least a few of your repos) would be awesome!

We already have a TTS widget so we could showcase your models super quickly.

[2021-06-03 14:59] dathudeptrai commented on #588
@julien-c @osanseviero Great!. So I need to write an End-2-End Model class that combines 2 models into 1 model ? or just need to put all of them into 1 repo? :D

[2021-06-03 15:20] osanseviero commented on #588
I think that ideally we would have a single class in a way that we could do something like this:

[code]

The corresponding repo would contain both the text to mel and mel to speech models, but it would be a nice improvement in my opinion. What do you think about it? It would also simplify usage considerably for other users

[2021-06-03 15:23] dathudeptrai commented on #588
Yeah, that would be the best choice :D.  Will do that in this week :D.

[2021-06-03 15:43] Urteilsbilder commented on #553
@Zak-SA I get the same error: Attempt to invoke virtual method 'void org.tensorflow.lite.Interpreter.resizeInput(int, int[])' on a null object reference

But the error is a consequence of this error:
W/System.err: java.lang.IllegalArgumentException: Contents of /data/user/0/com.tensorspeech.tensorflowtts/files/fastspeech2_quant.tflite does not encode a valid TensorFlow Lite model: Mmap of '/data/u

[2021-06-03 16:01] Zak-SA commented on #553
@Urteilsbilder what version of tensorflow did you use to convert the model to tflite?
Also I beleive that tensorflow dependencies migrated from jcenter and will no longer be updated from there.

[2021-06-03 16:44] tuliomagalhaes commented on #586
Thanks for you response, I will try that.

But when you say to create a custom inference function is to make all this calculation inside the DurationPredictor? Or in fact change how the prediction is done and try to predict the exactly given duration?

[2021-06-03 18:24] Urteilsbilder commented on #553
@Zak-SA I did not convert anything, already with the Tflite models that came with the project the errors came.

[2021-06-03 19:32] Zak-SA commented on #553
@Urteilsbilder that's weird, if I use tf-nightly 2.4.0 to convert the models it works fine. Only when I use newer version of tensorflow I get this issue .

[2021-06-04 08:19] ruianfrp commented on #578
When I use GPU for training, I will report an error. Is my graphics card too low-level? The error is as follows.
![aaa6](https://user-images.githubusercontent.com/48752346/120769670-ef21f380-c54f-11eb-8cfe-26256a16aa1f.png)

My graphics cards are gtx1650
python 3.7
CUDA 10.1
cudnn 7.6.5
tensorflow-gpu 2.3

After that, I searched for some solutions on the Internet, but there is still no effective s

[2021-06-04 08:25] dathudeptrai commented on #578
@ruianfrp what is a total memory of ur GPU ?

[2021-06-04 10:53] Ellie1013 commented on #547
@ZDisket Hi, I run hifiGAN with smaller lr, but the gradient exploded at 200K.
So, I tried to run with your source, but I got none value error.
Do you know the cause of the error, and your result is successful?
The error is like ..

lib/python3.8/site-packages/tensorflow_tts/trainers/base_trainer.py:300 _one_step_forward  *
        per_replica_losses = self._strategy.run(
/lib/python3.8/site-packa

[2021-06-04 11:35] Urteilsbilder commented on #553
On some devices it works and on others I get this error:
A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0xfffffff4 in tid 6679 (init-21), pid 6654 (h.tensorflowtts)

[2021-06-04 11:43] samuel-lunii commented on #581
@dathudeptrai For now, here are the alignment figures with (top) and without (bottom) teacher forcing during inference :

![image](https://user-images.githubusercontent.com/40658675/120787206-65622e00-c52f-11eb-8723-e56d002fb372.png)

I did not save alignments during training, and i'm having troubles restoring a checkpoint. I will create another issue about this.

[2021-06-04 11:50] samuel-lunii opened #590 "Tacotron2 : Unresolved object in checkpoint"
Hi :)
I try to restore a checkpoint saved during Tacotron2 training. It used to work, but I have this error since I pulled the newest code :

[code]

Thanks for your help ! :) 🙏

[2021-06-04 13:59] samuel-lunii commented on #590
I figured it out :)
it does not come from a change in the code. The thing is that I was using a different path for `--outdir` and `--resume`. However, the [load_checkpoint() method in Seq2SeqBasedTrainer](https://github.com/TensorSpeech/TensorFlowTTS/blob/fbb0655e0ec7403e442baf7d2ce7c3ed1aa4cfed/tensorflow_tts/trainers/base_trainer.py#L976) takes the `saved_path` to load checkpoint, and not the on

[2021-06-04 14:28] samuel-lunii commented on #581
And here is an alignment figure obtained during eval :
![image](https://user-images.githubusercontent.com/40658675/120816996-95222d80-c551-11eb-96c1-d0e42c1d956e.png)

[2021-06-05 20:51] #530 closed

[2021-06-05 20:51] #527 closed

[2021-06-05 20:51] #522 closed

[2021-06-06 12:01] PedroDKE commented on #586
if I'm right you can just use the durations you want (in the right format) as input to the length regulator [here](https://github.com/TensorSpeech/TensorFlowTTS/blob/fbb0655e0ec7403e442baf7d2ce7c3ed1aa4cfed/tensorflow_tts/models/fastspeech2.py#L265). This will change the duration of each grapheme/phoneme to the given one instead of the predicted one during inference

[2021-06-07 03:19] dathudeptrai commented on #590
@samuel-lunii see here (https://github.com/TensorSpeech/TensorFlowTTS/blob/fbb0655e0ec7403e442baf7d2ce7c3ed1aa4cfed/tensorflow_tts/trainers/base_trainer.py#L966). The `pretrained_path` used for restore `steps`, `epochs`, `optimizer` and `saved-path` used for load `.h5` file.

[2021-06-07 03:24] #535 closed

[2021-06-07 09:59] #590 closed

[2021-06-08 08:01] dathudeptrai commented on #581
@samuel-lunii alignment during evaluation seems valid :))). Maybe you can try use teacher forcing to extract duration and training FS2, if FS2 still has this problem, there must be a bug in preprocessing steps :(.

[2021-06-08 08:02] dathudeptrai commented on #587
@juunnn hmm, i do not know what is a source of this problem :D. If it was resolved, let close the thread :D

[2021-06-08 13:22] tuliomagalhaes opened #592 "Support for Code-Switching"
I'm looking in the code and issues and didn't found anything related to code-switching models.
Does we have some model that implements this logic?

[2021-06-09 13:51] #476 closed

[2021-06-10 02:02] juunnn commented on #587
OK, many thanks for answering.

[2021-06-10 02:02] #587 closed

[2021-06-10 12:43] #583 closed

[2021-06-10 15:07] samuel-lunii commented on #581
@dathudeptrai
So !
I struggle to extract durations, I will create a new issue about this.

Regarding preprocessed data, i made a script to compare re-synthesized normalized mel spectrograms (norm-feats) to the corresponding processed text (ids) :

[code]
Success : the [audio output](https://drive.google.com/file/d/14bnR1Ls-pe7G7XnvQeyrA_n931JVlHNK/view?usp=sharing) corresponds exactly to the resul

[2021-06-10 15:50] samuel-lunii opened #593 "extract_duration.py error : Trying to access element 133 in a list with 133 elements."
Hi !
I'm trying to extract durations in order to train FS2.
I tried with LJSpeech :

[code]

and got this error :

[code]

I tried all combinations of python (3.6, 3.7) and tensorflow (2.2.0, 2.3.1) versions, without any success :(
Any clue ?

[2021-06-10 16:14] dathudeptrai commented on #593
@samuel-lunii i think this is a bug of tensorflow, you need to reinstall it or upgrade to newest version or just remove the sample that make this bug.

[2021-06-10 23:18] bear19782002 opened #594 "When I run 'E2E-TensorflowTTS-KSS', I get an error."
Korean Colab: https://colab.research.google.com/drive/1ybWwOS5tipgPFttNulp77P6DAB5MtiuN?usp=sharing
When I run 'E2E-TensorflowTTS-KSS', I get an error.
This error has occurred since TensorFlowTTS was recently fixed.

[2021-06-11 02:26] dathudeptrai commented on #594
@bear19782002 what error ?, i will fix it

[2021-06-11 02:41] bear19782002 commented on #594
<This is an error for 'Korean Colab'>
[error1]
As you can see if you run the code in the link, the first error is that 'german transliterate' does not exist.
This can be solved by adding the following code like 'E2E-TensorflowTTS Demo'
!pip install git+https://github.com/repodiac/german_transliterate.git#egg=german_transliterate

[error2]
I get an error in the Load Model part
AttributeError: 'str'

[2021-06-11 02:43] dathudeptrai commented on #594
@bear19782002 try to !pip install h5py==2.10

[2021-06-11 02:47] bear19782002 opened #595 "How can I fix this error?"
When I run the following code in colab, an error occurs.
However, it works fine in windows or docker environment.
It seems that this error did not occur in r0.7

import os
!git clone https://github.com/TensorSpeech/TensorFlowTTS.git
os.chdir("TensorFlowTTS")
!pip install .
os.chdir("..")
import sys
sys.path.append("TensorFlowTTS/")

from examples.multiband_melgan.train_multiband_melgan import main

[2021-06-11 02:50] bear19782002 commented on #594
I already tried but got the same error.
This error occurs in parts (a) and (b).

[2021-06-11 02:55] dathudeptrai commented on #594
can you capture the bug ?

[2021-06-11 03:04] dathudeptrai commented on #595
@bear19782002 a Korean colab is fixed now.

[2021-06-11 03:05] dathudeptrai commented on #594
@bear19782002 fixed now, i just updated a colab notebook.

[2021-06-11 03:06] bear19782002 commented on #594
Confirmed that it has been modified. it works fine.

[2021-06-11 03:34] #595 closed

[2021-06-11 04:29] bear19782002 opened #596 "from~ import command error in colab when using TensorFlowTTS"
I get a ModuleNotFoundError error when I run the code below in colab
  ModuleNotFoundError: No module named 'examples.multiband_melgan'
However, it works fine in windows or docker environment.
It seems that this error did not occur in r0.7

import os
!git clone https://github.com/TensorSpeech/TensorFlowTTS.git
os.chdir("TensorFlowTTS")
!pip install .
os.chdir("..")
import sys
sys.path.append("Tens

[2021-06-11 09:00] #596 closed

[2021-06-11 11:17] krigeta commented on #537
Hello @dathudeptrai  , its been a while but I am not a professional myself so by any chance you guys may do that, that would be awesome.

Thank you

[2021-06-11 13:34] samuel-lunii commented on #593
@dathudeptrai Thanks :)
I installed the latest version of tensorflow but the bug was still there.
I surrounded [this part of `extract_durations.py`](https://github.com/TensorSpeech/TensorFlowTTS/blob/978f397c244a4987e2aa11e5db8d1e5902332826/examples/tacotron2/extract_duration.py#L159-L232) with `try: except:`, set the batch size to 1, and every sample produces an error.

Most of the time, the erro

[2021-06-11 19:29] ihshareef opened #597 "Tacotron2 inference fails, but training evaluation seems fine"
I'm training a Tacotron2 to perform duration extraction so that I can train FastSpeech2. I have a 5-hour custom non-English dataset that I prepared like LJSpeech (used default preprocessing). I'm training from scratch.

The alignments and the spectrograms generated during training seem fine, and so does the tensorboard outputs, as can be seen as follows:
![evaluation_alignment](https://user-images

[2021-06-12 05:23] dathudeptrai commented on #597
@ihshareef you need training tacotron2 atleast 50k steps.

[2021-06-12 06:06] ihshareef commented on #597
Thanks for the quick response. Will continue until 50k and check if it persists.

[2021-06-12 12:06] ihshareef commented on #597
Closing issue until I check things again with 50k iterations. Will update progress.

[2021-06-14 11:58] t2kpbraune opened #598 "Unrecognized config for tacotron2"
I'm following the [example in the readme](https://huggingface.co/tensorspeech/tts-tacotron2-thorsten-ger#converting-your-text-to-mel-spectrogram). But loading the german model fails
[code]

But in [the config file](https://huggingface.co/tensorspeech/tts-tacotron2-thorsten-ger/blob/main/config.yml#L16) there is:
[code]
Am I doing something wrong here?

[2021-06-14 13:38] t2kpbraune commented on #598
I did something wrong: Not reading the full stack trace
As it says: `ValueError: No such dataset: thorsten`
So commented out [that line in the config](https://huggingface.co/tensorspeech/tts-tacotron2-thorsten-ger/blob/1e5bc8f91842f852f834abb63c6bf838641a8800/config.yml#L19) and now the error is gone.

[2021-06-14 13:38] #598 closed

[2021-06-14 17:03] ihshareef commented on #593
Check if your CUDA/cuDNN installation is in order. I tried this out on Google Colab, and I got the same error which was resolved when I activated a GPU.

[2021-06-14 20:29] ihshareef commented on #554
The issue is here:
`Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1:`
You need to fix your CUDA installation.

[2021-06-15 08:47] #539 closed

[2021-06-17 00:14] CracKCatZ commented on #563
Sorry missed your answer @Ellie1013 ,  but thank you very very much:) Fixed it for me too:)

[2021-06-17 02:30] #563 closed

[2021-06-17 08:28] ihshareef opened #599 "FS2, strange tensorboard outputs"
I used Tacotron2 trained at 45k iterations (using teacher-forcing and window method) to extract durations for my dataset. I ran FastSpeech2 training without mixed precision. I turned off mixed precision because I was running into NaN issues.
When I checked my Tensorboard outputs at 115k iterations, I notice that the evaluation outputs don't look anything like it's supposed to.

![image](https://us

[2021-06-17 19:20] ihshareef commented on #581
Did you find a solution for the issue @samuel-lunii ?

[2021-06-17 20:42] alexdemartos commented on #467
This looks really interesting:

https://arxiv.org/pdf/2106.03167v2.pdf

[2021-06-17 21:16] osanseviero commented on #588
Hi @dathudeptrai.

Thanks for all the great work around TensorFlowTTS 😄  I was wondering if you got a chance to work on this.

Cheers!

[2021-06-18 02:03] dathudeptrai commented on #588
:D. I'm struggling with some other stuff, I will let you know when I finish the implementation :D. Hope it can finish this week :D.

[2021-06-18 03:24] tts-nlp commented on #467
I have implemented algorithm 3, but the effect is not good, my implementation is as follows

from numpy.lib.stride_tricks import as_strided
import numpy as np
from scipy import fftpack

def xcorr_offset(x1, x2):
    """
    Under MSR-LA License
    Based on MATLAB implementation from Spectrogram Inversion Toolbox
    References
    ----------
    D. Griffin and J. Lim. Signal estimation from modif

[2021-06-18 07:06] ihshareef commented on #597
Just as an update:
I guess that the dataset that I had used (~5,000 speech samples, total of 8 hours) was insufficient for the Tacotron to learn properly. I used the pretrained LJSpeech model and fine-tuned it on my dataset, and now I'm able to generate speech from Tacotron without using teacher-forcing.

[2021-06-18 07:06] #597 closed

[2021-06-18 09:08] samuel-lunii commented on #581
@ihshareef
Not yet, still investigating !

[2021-06-18 10:04] dathudeptrai commented on #597
Thanks for the report :D, it's a good new since our pretrained models are valuable :dagger:

[2021-06-18 10:45] TuniSenpao opened #600 "How to get Thorsten model as tflite file"
Hey all,
I try to implement the TensorFlowTTS in my android app. But as far as I understand I need the Thorsten model as tflite file for it. So I tried to convert it with the given notebook but it doesn't worked for me. Maybe someone can help me with this problem and tell me how this works?
Thanks

[2021-06-18 12:58] dathudeptrai commented on #599
@ihshareef I think the root caused is a bad duration extracted from Tacotron2, you may need training tacotron2 more. BTW, did you use our FS2 pretrained ?

[2021-06-18 12:59] dathudeptrai commented on #600
@TuniSenpao what is ur bug ?

[2021-06-18 12:59] #541 closed

[2021-06-18 13:39] TuniSenpao commented on #600
Well it seems like I could get the tflite file for the tacotron2 and melgan model with the help of the "TensorFlowTTS_Tacotron2_with_TFLite" notebook. But when I try to use the tacotron2.tflite file in the android app I get:
`java.lang.NullPointerException: Attempt to invoke virtual method 'void org.tensorflow.lite.Interpreter.resizeInput(int, int[])' on a null object reference
at com.tensorspeech

[2021-06-18 17:16] ihshareef commented on #599
You're right @dathudeptrai
My Tacotron was poorly-trained, once I had fixed this ([as mentioned in another issue](https://github.com/TensorSpeech/TensorFlowTTS/issues/597#issuecomment-863810593)) I was able to properly train FS2 on my dataset and infer unseen sentences. I used a pretrained model (LJSpeech again) to fine-tune FS2, so I was able to get usable results (albeit with a gravelly voice on

[2021-06-18 17:16] #599 closed

[2021-06-19 21:44] ZDisket commented on #467
@tts-nlp That looks like an implementation of Algorithm 1. For the 2nd and third, they mention a shift time transform

[2021-06-21 02:56] #548 closed

[2021-06-22 17:48] NoCodeAvaible opened #601 "Nan loss while training the tacotron2 model:/"
Hey @dathudeptrai,
when I start the training of the tacotron2 model I immediately get a nan loss.
I've already tried to resolve this problem by following the steps of [this issue](https://github.com/TensorSpeech/TensorFlowTTS/issues/563).
At first it worked well but as I tried to start the training today I ended up getting the old nan problem I was facing before following the instructions on how t

[2021-06-22 19:52] StuartIanNaylor commented on #576
Its prob dependencies of sklearn usually I run in a virtenv but to save me the hassle of working out what is needed  sudo apt-get install python3-sklearn brings in dependency needs then in my virtenv pip install and for me it works.

That is not specific for TfTTS its just something that happens with a pip install of sklearn on debian(s)

[2021-06-23 02:44] roboticsai commented on #576
After installing scikit-learn from source this issue is solved.
https://scikit-learn.org/stable/developers/advanced_installation.html

[2021-06-24 00:55] dathudeptrai commented on #588
@osanseviero Hi, sorry for the late implementation, I just won 1st Kaggle NLP competition and now I have more free time to do this feature :D. I want to share my solution here in case you interested in it (https://www.kaggle.com/c/coleridgeinitiative-show-us-the-data/discussion/248253), and ofc, i used HuggingFace Transformer :D.

[2021-06-24 03:25] Rashi2011 commented on #601
I am also facing the same issue
cuda 10.1
cudnn 7.6.5
tensorflow              2.2.0
tensorflow-addons       0.11.2
tensorflow-estimator    2.2.0
tensorflow-gpu          2.2.1

driver version  465.27

[2021-06-24 08:07] osanseviero commented on #588
This is awesome @dathudeptrai! Congratulations!!

[2021-06-24 13:18] CracKCatZ commented on #601
Hey @Rashi2011 which graphics card are you using?

[2021-06-25 05:57] Liofang commented on #433
you config is:  --resume ./examples/multiband_melgan/exp/train.multiband_melgan.v1/checkpoints/ckpt-200000
but the path you show in the fig is '/multiband_melgan/train.mb_melgan.kss.v1'

[2021-06-25 10:40] FatimaZulfiqar commented on #600
Hi I am unable to convert tacotron2 and melgan model with the help of the "TensorFlowTTS_Tacotron2_with_TFLite" notebook. I am facing issues while importing a library. Can you please help me?

[2021-06-25 10:45] FatimaZulfiqar opened #603 "Help needed regarding conversion of tactron2 and melgan model into TFlite"
Hi, I am unable to convert tacotron2 and melgan model with the help of the "TensorFlowTTS_Tacotron2_with_TFLite" notebook. I am facing issues while importing a library. Can anybody please help me and tell me exact way to convert into TFLite?

[2021-06-25 13:29] ttslr commented on #581
Hi, did you solve this problem? @samuel-lunii

[2021-06-25 14:49] #543 closed

[2021-06-25 15:21] dathudeptrai commented on #603
@FatimaZulfiqar what is ur tf version ?

[2021-06-25 15:22] #551 closed

[2021-06-25 15:23] FatimaZulfiqar commented on #603
Oh um, I am running on Colab and I think it's TensorFlow 2.6

[2021-06-26 06:22] dathudeptrai commented on #603
@FatimaZulfiqar i think you can try tf 2.3.1

[2021-06-26 08:21] FatimaZulfiqar commented on #603
Okay thank you so by downgrading tensorflow version into 2.3.1 d I still need to install tensorflow-nightly?

Also my Google Colab notebook keeps on crashing due to unknown reasons whenever I execute a cell for an inference of tflite tacotron2 model. I can't quite figure out the issue

[2021-06-26 08:27] FatimaZulfiqar commented on #603
![notebook crashes](https://user-images.githubusercontent.com/81231619/123507314-292f7280-d682-11eb-9994-1fb00c5f5b70.png)

That's the part where the notebook keep on crashing

[2021-06-26 08:29] FatimaZulfiqar commented on #603
![log](https://user-images.githubusercontent.com/81231619/123507392-7d3a5700-d682-11eb-8ab5-547562a38125.jpeg)

and that's a runtime log

[2021-06-26 14:10] Megh-Thakkar commented on #296
Hi, thanks for this extremely useful thread. I am very new to TTS and want to train on a small dataset as discussed above. I had a few clarifications (they might be very basic/naive).
1. Start with the FastSpeech2 model trained on LJSpeech (v1 (here)[https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/fastspeech2#pretrained-models-and-audio-samples]).
2. The dataset consists of arou

[2021-06-26 15:41] #546 closed

[2021-06-28 01:09] ttslr commented on #581
@samuel-lunii
hi. I test the performance using my latest checkpoint (76k), the synthesized speech sounds good.
Maybe you can further train you model and try again.

[2021-06-28 10:26] krkv commented on #549
Have you figured out what is the issue?

[2021-06-29 09:17] Liofang commented on #581
@samuel-lunii

[2021-06-29 09:21] Liofang commented on #581
same result on my datasets!
I trained fastspeech2 and tacotron2, same datasets, tacotron2 performance better on valid datasets, I saved the mel_output numpy on each eval steps, and reload those numpy, it was good.
but when I turn to inference, tacotron2 give me chaos video( but it seems the word from my datasets ) randomly.
fastspeech2 don't have this problem.

[2021-06-29 10:22] Rashi2011 commented on #601
I changed them to
cuda  11.0
cudnn   8
tensorflow 2.4.1
tensorflow-gpu   2.5
and it worked

[2021-06-29 10:23] #542 closed

[2021-06-29 12:45] oliverguhr commented on #567
A little hint would be great, that you need to install this dependency by yourself.

[2021-06-29 14:49] CracKCatZ commented on #601
Hey @Rashi2011,

thank's for your fast response:)
Are you really using cuda version 11.0 and cudnn version 8.0 or are you using for example a little higher version of cuda and cudnn for example cuda 11.3. 0 and cuda v8.2.0

Thanks for your response in advance:)

[2021-06-30 07:57] Rashi2011 commented on #601
Hii @CracKCatZ ,
No,  I am using cuda 11.0 and cudnn 8.0 only.

[2021-06-30 09:43] samuel-lunii commented on #593
@ihshareef thank you !
You are right : I ran the code on a macbook pro, which has no NVIDIA GPU.
The code runs on a VM correctly equipped :)

[2021-07-01 06:52] ihshareef commented on #592
You'd probably need phonemization in achieve this.

[2021-07-01 07:47] HarveyJiang opened #604 "🇨🇳 Chinese TTS Arabic numerals and English letters cannot be recognized as speech"
🇨🇳 Chinese TTS Arabic numerals and English letters cannot be recognized as speech， Only recognize Chinese characters。

[2021-07-01 07:48] HarveyJiang commented on #604
use tts-tacotron2-baker-ch or tts-fastspeech2-baker-ch Only recognize Chinese characters。want Arabic numerals and English letters and Chinese characters, Do I need to retrain the model?

[2021-07-02 07:28] yingfenging commented on #565
@ZDisket  hello ,

The "Multi-Band MelGAN with HiFi-GAN discriminator (MPD + MRD) " means : use the MPD(multi-period waveform discriminator from HiFi-GAN) and MRD (multi-resolution spectrogram discriminator which come from universal melgan) ?

[2021-07-02 07:34] khainh3101 opened #605 "Failed to run processing"
Hello guys, when i run command : $pip install TensorFlowTTS, then my console show "Fail to build pyword". I try to install pyworld by: pip install pyword and it has been installed. After all, i run on terminal:
tensorflow-tts-preprocess --rootdir ./ljspeech --outdir ./dump_ljspeech --config preprocess/ljspeech_preprocess.yaml --dataset ljspeech
And console show:"tensorflow-tts-preprocess: command

[2021-07-02 07:34] ZDisket commented on #565
@yingfenging Almost yes, the MRD refers to the multi-resolution discriminator already found in MB-MelGAN.

[2021-07-02 08:11] yingfenging commented on #565
@ZDisket  ok, i want to confirm again. The MRD refers the blow. Thanks in advance.
![image](https://user-images.githubusercontent.com/49307961/124243146-13bdbb00-db50-11eb-9639-38ea298b711b.png)

[2021-07-02 09:21] ZDisket commented on #565
@yingfenging I don't know which paper you got that graphic from but that seems to be it, yes.

[2021-07-02 15:56] dathudeptrai commented on #604
@HarveyJiang you need to retrain the model with your custom processor that supports both Chinese and English characters/symbols. And ofc, your data should contain both languages :D.

[2021-07-02 16:04] abaddon-moriarty opened #606 "'HifiGANGeneratorConfig' object has no attribute 'set_config_params'"
Hello,

My inference script has a new problem when initializing the hifigan model. It started to happen after i updated the scripts on my computer, until then I was running with the repo as it was 6 months ago.
![image](https://user-images.githubusercontent.com/56978503/124300463-e3c9e400-db5e-11eb-8a73-3df5dbd79b23.png)

set_config_params is still present is auto_config.py, so I don't understand

[2021-07-02 16:25] #606 closed

[2021-07-02 16:38] abaddon-moriarty commented on #606
Sorry,
problem resolved it was a line missing, it somehow got moved elsewhere.

[2021-07-03 05:02] luantunez opened #607 "emotions in speech"
Hello and thank you for sharing your work!
I was wondering if it would be possible have an emotional TTS with these tools.
Are there any pretrained models or suggestions on how to do so?
Thank you very much in advance!

[2021-07-03 11:38] #550 closed

[2021-07-04 08:52] ZDisket commented on #607
If you have a large enough dataset (12+ hours total) split by emotion, you can assign IDs to every emotion and modify the dataloader to load them as `speaker_id`, so in the final model you'll be able to control the emotion by using speaker IDs.

[2021-07-04 13:58] #552 closed

[2021-07-05 08:22] samuel-lunii commented on #581
@dathudeptrai
I managed to extract durations and to train fastspeech2, and the audio output is also nonsense speech.
Have you got any idea of what I could be doing wrong in the preprocessing step ? The only difference I can see between SynPaFlex and LJSpeech is that SynPaFlex sample rate is 44.1 kHz, so there is a resampling operation during preprocessing, because I set the sample rate to 22.05 kH

[2021-07-05 08:49] ziyigit commented on #605
You can try to install **Visual Studio** , select **desktop development with c++**, after reboot run pip install .

[2021-07-05 11:02] dathudeptrai commented on #581
@samuel-lunii can you share with me a duration list value of some samples here ? just want to make sure the duration is valid :D

[2021-07-05 11:10] samuel-lunii commented on #581
@dathudeptrai  I think I might have found the source of the problem. I made a script that displays ids and boundaries calculated from the durations, and here is the result :

![image](https://user-images.githubusercontent.com/40658675/124462123-ab5e1c00-dd91-11eb-98cd-ca252c3a00a7.png)

the waveform is displayed from preprocessed wavs. We can see that the trimming is not performed properly, becaus

[2021-07-05 11:12] samuel-lunii commented on #581
Here are the duration values of the above sample :

[code]

[2021-07-05 11:14] dathudeptrai commented on #581
yes, it could be a source of ur problem. You should tune the `trim_threshold_in_db` in the config. I remember that I have added a note in the config file about this issue.

[2021-07-05 11:24] ttslr commented on #581
HI, I also noticed this in the first round, and I trimmed all speech samples with *trim_threshold_in_db=20*, but the synthesized speech is still random when training step < 80k.

Note that the synthesized speech sounds stable after 80k in my experiments.

[2021-07-05 11:47] WadoodAbdul opened #608 "Fine-tuning procedure for mb_melgan vocoder, Voice Quality degrading with Fine-tuning."
Hello!
I'm trying to finetune a Vocoder model for Indian accents.
I've followed the suggestions from [thread #296](https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-741850534) and have arrived at a suitable acoustics model.

To improve the output voice quality of the present vocoder( multiband_melgan.v1) model, I had followed the finetuning process mentioned in [examples/multib

[2021-07-05 15:11] ihshareef opened #609 "Fine-tuned MBMelGAN (TFLITE) produces noise on Android device"
I fine-tuned MBMelGAN on my own dataset and was able to successfully run it, without any issues.
I tried to convert the MBMelGAN into a TFLITE to be used on an Android device.

The code I used for conversion is here:
[code]

I was able to succesfully generate a TFLITE model. The following output was printed:
[code]
The TFLITE model that I converted is here: https://drive.google.com/file/d/1NZTZr-t

[2021-07-05 16:11] dathudeptrai commented on #581
@ttslr Hi, seems you are an expert in this field :D. I saw you have a lot of papers about TTS :D

[2021-07-06 02:18] Shohruh92 opened #610 "'tensorflow-tts-preprocess' is not recognized as an internal or external command, operable program or batch file."

[2021-07-06 03:26] #610 closed

[2021-07-06 07:56] yingfenging commented on #565
hello, It come from  the paper MelGAN ( https://arxiv.org/abs/1910.06711 ) , the 4th page.

[2021-07-06 10:21] abaddon-moriarty opened #611 "No diagonal alignment and guided attention loss - Tacotron2"
Hi,
I'm having trouble when training my tacotron2 model on a French dataset.

My guided attention loss after going down keeps going back up, and from what I saw on the expected learning curves ([here](https://github.com/tensorspeech/TensorFlowTTS/tree/master/examples/tacotron2#learning-curves)), it should not get higher.
![image](https://user-images.githubusercontent.com/56978503/124584793-f097520

[2021-07-07 03:47] dathudeptrai commented on #608
@WadoodAbdul did you continue training after 200k steps ?, even you used pretrained, you still need training around 1M steps :D.

[2021-07-07 03:49] dathudeptrai commented on #609
@ihshareef did you check your tflite model with python api ?.

[2021-07-07 03:52] dathudeptrai commented on #611
@abaddon-moriarty the tensorboard curve is ok. You need to keep training the model up to 50-80k steps, 30k is not enough to make tacotron2 be able to use in the inference.

[2021-07-07 05:23] WadoodAbdul commented on #608
Thanks for the help, @dathudeptrai. I Had not continued after 200k steps.

Just for clarification, I have to tune the Generator+Discriminator for the rest of the steps(1M), not just the generator for 1M steps. Is that correct?

[2021-07-07 07:20] dathudeptrai commented on #608
yes :D

[2021-07-07 07:22] WadoodAbdul commented on #608
Thanks for the clarification @dathudeptrai :)

[2021-07-07 07:26] #608 closed

[2021-07-07 09:29] ihshareef commented on #609
I haven't. I had used some code-snippet that I had lifted from the issues of this repo.
However, I managed to use the following code to get a fully working TFLITE.

[code]
This worked fine for me.

[2021-07-07 09:29] #609 closed

[2021-07-07 10:45] dathudeptrai commented on #609
@ihshareef fixed, right ?

[2021-07-07 11:07] ihshareef commented on #609
Yes, fixed.

[2021-07-07 14:21] NoCodeAvaible opened #612 "QUESTION: How to demo the tacotron2 model?"
Hey guy's,

I've recently trained the tacotron2 model but now I don't know how to demo it.
My question is if there is any code to demo the tacotron2 model?

Thank's for every answer and suggestion in advance:)

[2021-07-08 03:17] ttslr commented on #581
Thank you!  I'm just an ordinary TTS researcher. :)  😄

[2021-07-08 03:28] tylerweitzman opened #613 "Training is stuck"
After I git clone to TensorFlowTTS and pip install. Note that my data is on a copy of the repo on my Google drive which I mount. The pretrained files are manually downloaded with `wget`
[code]

Output on Colab:
[code]

[2021-07-08 05:13] tylerweitzman commented on #613
I was able to get this resolved by running the command in the Colab Pro terminal and using `python3` not sure why the notebook kept getting stuck

[2021-07-08 05:13] #613 closed

[2021-07-08 05:30] HarveyJiang commented on #604
@dathudeptrai
Can I understand this way, put Chinese training dataset A and English dataset B use tensorflow-tts-preprocess & tensorflow-tts-normalize to dump folder. then use "train_tacotron2.py" --train-dir /dataset/dump/train/ 【dump train contains Chinese and English train】.
Thanks

[2021-07-08 06:12] tylerweitzman opened #614 "Speech marks / time stamps?"
Hi,
Is it possible to get with the output the time of each word?

[2021-07-08 15:37] Edward205 opened #615 "Error when installing TensorFlowTTS through pip"
I tried searching on google but couldn't find anything. If need anymore detailes ask me. Here is the error:
[code]

[2021-07-09 12:26] get2abhi opened #616 "spoken audio not clear after multiple runs"
The spoken audio slowly becomes gibberish after 1st/2nd use.

[2021-07-09 15:45] abaddon-moriarty commented on #611
@dathudeptrai , thank you for your answer. I have continued training up to 100'000 iterations.
Here are my tensorboard and my diagonal alignment.
![image](https://user-images.githubusercontent.com/56978503/125104060-45e59480-e0dd-11eb-80da-54ddcd01cca0.png)

Should I keep the training going to get results?

[2021-07-09 23:12] #612 closed

[2021-07-09 23:28] CracKCatZ opened #617 "Inference error - Tacotron2 + MB MelGAN"
Hey guy's,
when trying to run End-to-End Examples my code errors out like this:

[code]

This is my code:
[code]

This is my setup:
[code]

Please let me know if there is something wrong with the code or my setup:)
Thank's for every help and suggestion in advance :)

[2021-07-10 09:32] neso613 opened #618 "weight incompatible for German TTS"
Hi, I am trying to get german tts model but got this error while assigning weight to architecture(Tacotron2)
ValueError: Cannot assign to variable encoder/embeddings/character_embeddings/weight:0 due to variable shape (149, 512) and value shape (156, 512) are incompatible

[2021-07-10 09:39] neso613 commented on #617
Hi @CracKCatZ try this
`_, mel_outputs, stop_token_prediction, alignment_history = tacotron2.inference(
        tf.expand_dims(tf.convert_to_tensor(input_ids, dtype=tf.int32), 0),
        tf.convert_to_tensor([len(input_ids)], tf.int32),
        tf.convert_to_tensor([0], dtype=tf.int32)
    )`

[2021-07-10 10:57] CracKCatZ commented on #617
Hey @neso613,
I was already able to fix the error by myself.
But thank's for your fast response and help:)

[2021-07-10 14:36] #559 closed

[2021-07-10 14:36] #525 closed

[2021-07-10 14:36] #617 closed

[2021-07-10 19:43] PandaForce1 opened #619 "OOM tacotron2"
Hey guy's,
when trying to run the tacotron 2 training I run in the following error:

[code]

My setup:
gpu= rtx 3080
tensorflow=2.4.0
tensorflow-gpu=2.5.0
cuda=11.0
cudnn=8.0

My dataset:
ljspeech(preprocessed)

My training command line:
[code]

Hopefully someone is able to help me out with this issue:)
Thank's for every suggestion and help in advance:)

[2021-07-11 11:09] PandaForce1 commented on #619
Fixed it:)

[2021-07-11 11:09] #619 closed

[2021-07-11 15:25] Geigerkind commented on #615
I  managed to install it using the master and adjusting the setup params:
install": [
        "tensorflow-gpu>=2.3.1",
        "tensorflow-addons>=0.10.0",
        "setuptools>=38.5.1",
        "huggingface_hub==0.0.8",
        "librosa>=0.7.0",
        "soundfile>=0.10.2",
        "matplotlib>=3.1.0",
        "PyYAML>=3.12",
        "tqdm>=4.26.1",
        "h5py>=2.10.0",
        "unidecode>=1.1.

[2021-07-11 19:54] dathudeptrai commented on #618
@neso613 can you pass ur script here ?

[2021-07-11 19:54] dathudeptrai commented on #616
@get2abhi can you pass ur script to reproduce ur bug here ?

[2021-07-12 06:46] WadoodAbdul commented on #608
Hey @dathudeptrai ,
the vocoder output at 370k is still not close to human speech. Is this commonly observed and it tunes out better at higher steps?
I'm trying to keep a close watch since this training will span several days on my single GPU

I have attached a comparison of wav in case you want to have a look at it.
![b'hiMale_engtext_2164'](https://user-images.githubusercontent.com/52132963/1252

[2021-07-12 07:57] natapon-lyve commented on #618
I am also get this error. I have just clone the model from huggingface and comment the line `dataset: thorsten`. When load model from pretrained model. I also got the warning.

My code is in this [colab](https://colab.research.google.com/drive/16mWwAW37vKJ3fsGsNVQu5izZQjbhBVGt?usp=sharing)

[2021-07-12 16:29] Geigerkind opened #620 "Question: How to record your own voice such that this framework works?"
Hi!
I tried to record my own voice using https://github.com/MycroftAI/mimic-recording-studio and my headset and microphone.

With either microphone I got the following error when attempting to preprocess some files:
[code]

So how exactly do I need to record my voice such that I can produce valid files?

Cheers!

[2021-07-12 16:37] Geigerkind commented on #620
nvm. Used pydub to convert it to mono channel input.

[2021-07-12 16:37] #620 closed

[2021-07-12 16:51] Geigerkind opened #621 "Getting an used before assigned error"
Following line is the culprit:
https://github.com/TensorSpeech/TensorFlowTTS/blob/eec964d8142636c008311f26ff15ca90c5a41b2d/tensorflow_tts/trainers/base_trainer.py#L139

Also I needed to install the german transliterate myself, dont think it should throw an error If im not even using german input.

[2021-07-12 16:54] ZDisket commented on #621
@Geigerkind How many files are in your train set? This can happen when the batch size is larger than the amount of actual files.

[2021-07-12 16:59] Geigerkind commented on #621
Not many at all, just recorded a few to test it. Where can I view the batch size?

[2021-07-12 17:07] Geigerkind commented on #621
Works with a larger amount of files!
Sorry to bother!

[2021-07-12 17:07] #621 closed

[2021-07-12 18:05] Geigerkind opened #622 "Qustion: How to actually use the trained model to generate speech?"
Hello!
I have trained a model using the Tactotron2 example.
After a while I stopped and got a model at a checkpoint.

Now I would like to use this model to generate some speech from text.
Im aware that this may not produce any good results, but before I commit further to this, I would like to have a Proof of Concept running.

I followed the notebooks and the examples in this repo and this is what

[2021-07-13 06:50] TheHonestBob opened #623 "How to get duration files when train fastspeech2 on baker datasets"
I want to use baker datasets to train fastspeech2, but I can't find duration files, baker datasets has textgrid files, I also don't kown how to creat duration files.

[2021-07-13 10:14] dathudeptrai commented on #623
@TheHonestBob you need train the tacotron2 model then extract duration from it :D

[2021-07-13 10:16] dathudeptrai commented on #622
@Geigerkind what is a bug ?

[2021-07-13 10:48] Geigerkind commented on #622
Hey @dathudeptrai !
I dont think there is a bug, I think I am executing your framework wrong.
Can you provide me with an example how to exucute a self trained model and generate speech from text?

Cheers!

[2021-07-13 12:41] dathudeptrai commented on #622
@Geigerkind https://github.com/TensorSpeech/TensorFlowTTS/tree/master/notebooks

[2021-07-13 13:30] Geigerkind commented on #622
@dathudeptrai
I followed that, but there is not a single example on how to generate speech from a self trained model.
At least I cant find one.

The code I posted used the tactotron2 notebook as template.
But when I execute the code like this, I cant load the model like this
`processor = AutoProcessor.from_pretrained(model_path)`
and this
`tacotron2 = TFAutoModel.from_pretrained(model_path)`
as it

[2021-07-13 13:42] wanwen1405 opened #624 "How can I use the pretrain FastSpeech2 model on a new langauge?"
Hi Community!

Currently, the pretrained TTS models like FastSpeech2 supports ljspeech,kss,baker,libritts & thorsten datasets.

I would like to find out how I can train the model with a Singapore-English language dataset.

Singapore-English language comprises a mixture of words of many different languages - Malay, Tamil, Dialects,English & Chinese.

I have the audio waves & transcript (metadata.cs

[2021-07-13 13:51] wanwen1405 commented on #572
Hi @dathudeptrai @monatis

Currently, the pretrained TTS models like FastSpeech2 supports ljspeech,kss,baker,libritts & thorsten datasets.

I would like to find out how I can train the model with a Singapore-English language dataset.

Singapore-English language comprises a mixture of words of many different languages - Malay, Tamil, Dialects,English & Chinese.

I have my audio waves & transcript (

[2021-07-13 16:27] Geigerkind commented on #622
Okay I think I came a little bit further now:
[code]

Still getting this failure though:

[code]

[2021-07-13 16:32] CracKCatZ opened #625 "OOM witch batch_size=16"
Hey guys,

when training the tacotron model I am getting an OOM with a batch size of 16.
But I don't understand how this is even possible because I have a gpu with 11 gigs of vram and my pc is not running other processes while training. When reducing the batch size to 8 everything works fine but only 5 gigs of my vram is used while training and the training is actually pretty slow(7.50it/s).

So I

[2021-07-13 16:51] Geigerkind commented on #622
Okay, I figured out how it works:
[code]
You seem to first train a Tactotron2 model and extract durations etc.
After that you can train a "Generator" such as fastspeech or multiband_melgan with the generated files.
With these two you can generate a wav file.

In my test with 330 steps I got nothing, but maybe I will get better results as I progress.

[2021-07-13 16:51] #622 closed

[2021-07-15 05:13] TheHonestBob commented on #623
I want to use baker's textgrid files to creat duration files,I use (end_time-start_time)*sampling_rate/hop_size to get phoneme duration, I'm not sure whether I'm right or not.

[2021-07-15 06:00] TheHonestBob commented on #623
I want to use baker's textgrid files to creat duration files,I use (end_time-start_time)*sampling_rate/hop_size to get phoneme duration, I'm not sure whether I'm right or not.

[2021-07-15 09:29] samuel-lunii commented on #581
@dathudeptrai
@ttslr

an update : I trained Tacotron2 with the correctly trimmed dataset up to 86k, and still get babbling speech, even with sentences copied from the training set.

My guess is that it may come from the multi-GPU training : the maximal length of the sentences in my dataset is 20s, with a sample rate of 22.05 kHz, which does not allow me to train on a single GPU without OOM.

LJSpe

[2021-07-17 09:02] Geigerkind opened #626 "Can I use a pretrained model and "teach" it to use my voice?"
Hello,
I would like to have a model that can output my voice.
However, I don't have the time to record 24h of my voice, I probably need for a single hour several months.

So my question is, can I use a shortcut and apply my voice to one of the pretrained models?

If so, how much training data would I need for that?

[2021-07-17 14:24] dathudeptrai commented on #625
@CracKCatZ the maximum training samples should be <= 12s, pls check that :D.

[2021-07-17 14:25] dathudeptrai commented on #626
@Geigerkind i think around 4-5 hours :)).

[2021-07-17 14:26] dathudeptrai commented on #614
@tylerweitzman yes, you know the duration of each charactor so you can compute the start/end time of each word based on its charactor duration :D.

[2021-07-17 14:31] Geigerkind commented on #626
@dathudeptrai
"So my question is, can I use a shortcut and apply my voice to one of the pretrained models?"
I saw that tactotron has some sort of pretrained general model that I can use.

Can I even further reduce the training time and required data if I would use the pretrained ljspeech model?

[2021-07-17 20:08] ZDisket commented on #626
@Geigerkind You can do with as little as 30 minutes, although I would recommend up to 2 hours, if you train your voice by finetuning one of the pretrained models in the same language (so English would be LJSpeech). It also depends on what model you're training. FastSpeech2 is less data-demanding than Tacotron2.

[2021-07-18 01:24] ZDisket commented on #625
@CracKCatZ In your log, check the max_mel_length, it should've gotten printed. You probably got some very long sample(s)

[2021-07-18 08:05] Geigerkind commented on #626
Okay, so I could use the pretrained ljspeech model to train the for example multiband melgan model with my data and I should get in theory a solid generator with my voice?

Also I dont yet understand the difference between the tactotron model and the multiband melgan in general. To generate speech I seem to need two models, but what their difference is I didnt understand yet.

[2021-07-18 09:03] CracKCatZ commented on #625
Hey @dathudeptrai and @ZDisket ,

thanks for your guys fast response and help:)
I will check it:)

[2021-07-18 09:58] rgzn-aiyun commented on #467
Hey, I've seen a project about voice cloning recently.

[2021-07-18 09:59] rgzn-aiyun commented on #467
This looks really interesting:

https://github.com/KuangDD/zhrtvc

[2021-07-18 10:37] NoCodeAvaible commented on #625
Hey @dathudeptrai and @ZDisket ,
I am using the english ljspeech dataset but I checked the training samples anyway and noticed that none of the samples were longer than 12 seconds or very long.
Is there maybe something else that could be wrong?

[2021-07-18 10:38] CracKCatZ commented on #625
Hey @dathudeptrai and @ZDisket ,
I am using the english ljspeech dataset but I checked the training samples anyway and noticed that none of the samples were longer than 12 seconds or very long.
Is there maybe something else that could be wrong?

[2021-07-18 10:50] dathudeptrai commented on #625
the maximum mel frames for training should be <= 850, pls check that.

[2021-07-18 11:41] rgzn-aiyun opened #627 "Automatically generate voice data sets"
Use Google or Microsoft Synthetic Platform to generate voice data sets?
Who tested it?
@dathudeptrai

[2021-07-18 11:44] rgzn-aiyun commented on #627
Appropriate data sets have been a major obstacle to studying speech synthesis, and the ability to generate the corresponding data sets by relying on major speech synthesis platforms has been a significant advance in studying speech synthesis.

[2021-07-19 13:05] krkv commented on #625
Could you advise on how to exclude training samples which are too long?

[2021-07-20 08:18] abaddon-moriarty commented on #611
I have managed to get the diagonal alignement, the problem wasn't a lack of training, but the text to seq part.
When I fed ids input directly and not text, it worked well, now I have resolved the text2seq problem. The model works great!

[2021-07-20 08:18] #611 closed

[2021-07-20 15:35] samuel-lunii commented on #581
@dathudeptrai
@ZDisket
@ttslr

Thank you all for your help ! :)
So the problem came from multi-GPU training. Single-GPU training gave much better results ! I still get a few prononciation mistakes at 92k, but it might be because I only used 20 hours of speech.

Any idea of what happens during multi-GPU training ? Is the content of each sentence shuffled by accident across the GPUs, which would mak

[2021-07-20 17:30] dathudeptrai commented on #581
Good to know that it now worked :D. Can you share a tensorboard of multi-gpu training and single-gpu training ?, it should not be a problem :(. I tried multi-gpu many times and it's still ok, i think the problem is about  a `global_batch_size`. I think `global_batch_size` should in range(32,64) for tacotron training Tacotron2.

[2021-07-21 03:50] iamanigeeit commented on #607
I am actually working on this, because i want to disentangle speaker and emotion information.

[2021-07-21 04:21] iamanigeeit opened #628 "Why sum input and speaker embeddings?"
Hi @dathudeptrai , thanks for the work in creating and maintaining this repo!

In the below code from `tensorflow_tts/models/tacotron2.py`, class `TFTacotronEmbeddings`:

            # sum all embedding
            embeddings += extended_speaker_features

This doesn't seem correct. I think we are supposed to concat, not sum. From the paper "Towards End to End Prosody Transfer for Expressive Speech

[2021-07-21 06:23] iamanigeeit commented on #628
I'm working on implementing prosody / emotion (which will be a separate module). Would it be better to split the speaker embedding in a separate module?

[2021-07-21 10:19] samuel-lunii commented on #581
Multi-GPU :
![image](https://user-images.githubusercontent.com/40658675/126471054-ca57547f-15b5-42a4-a3ba-bae1ae0db080.png)

Single-GPU :
![image](https://user-images.githubusercontent.com/40658675/126470763-577289c3-957d-4387-8db0-93cd3cb1cb84.png)

Mmmh... I changed `batch_size` to 8 in the conf file because I used 4 GPUs. This should give `global_batch_size = 32`, according [to this calculation

[2021-07-21 10:35] luantunez commented on #607
Great! Do you have any time estimation?
Thank you!

[2021-07-22 01:32] dathudeptrai commented on #581
@samuel-lunii hmm, maybe you should use batch_size = 16 or 32 in each GPU. But see the loss curve, both single-gpu and multi-gpu is still valid to me :D

[2021-07-22 10:19] yukikazenanodesu opened #629 "Why my training data is so slow"
i use 4 NIVDIA TELESLA 100P to train the tacotron2 modle is so slow only 3s/its  be similar to my notebook divice rtx2070 what reasion couse it ？
this is my sever 4 NIVDIA TELESLA 100P
![image](https://user-images.githubusercontent.com/31941796/126624196-38eb03c2-4171-4916-a205-5a024024fb25.png)
this is my notebook rtx2070
![image](https://user-images.githubusercontent.com/31941796/126624486-0dca8

[2021-07-22 10:41] samuel-lunii commented on #581
I know ! Strange isn't it ? :)

Yes, maybe... I think I already have good enough results with 1 GPU, so I will close the issue for now. I will let you know if I switch back to multi-GPU training.

[2021-07-22 10:41] #581 closed

[2021-07-22 10:46] dathudeptrai commented on #581
@samuel-lunii pls consider to contribute french model if you can :D

[2021-07-22 10:47] samuel-lunii commented on #581
Of course ! I already sent you an e-mail about that.

[2021-07-23 03:09] iamanigeeit commented on #607
I need to finish my current experiments by Mid-Aug, so it won't be earlier than that... are you looking for a pretrained model? If you need something soon, i have written a preprocessor for the ESD dataset (https://github.com/HLTSingapore/Emotional-Speech-Data) that you can use for training.

[2021-07-23 03:20] luantunez commented on #607
Thank you very much! I will do that! Could you please give an update when you are able to release your ETTS so I can compare results?

[2021-07-23 03:46] iamanigeeit commented on #607
Let me know how i can contact you. Thanks!

[2021-07-23 03:47] luantunez commented on #607
luantunez95@gmail.com 😁

[2021-07-23 15:23] dathudeptrai commented on #629
@yukikazenanodesu because tacotron2 is a sequence2sequence model, and a decode is run sequentially.

[2021-07-23 15:24] dathudeptrai commented on #628
@iamanigeeit sum or concat is ok, it's not important but sum can be reduce a number of parameters :D.

[2021-07-23 15:25] dathudeptrai commented on #627
@rgzn-aiyun i don't know what you want to ask :D

[2021-07-23 16:13] ZDisket commented on #627
@rgzn-aiyun I mean, you definitely could, but why? This TTS is for generating good human voices, you'd just be copying someone else's already blatantly synthetic voice. Also, with finetuning, you can use way smaller datasets, as I've experimented.

[2021-07-23 17:32] #560 closed

[2021-07-24 14:40] rgzn-aiyun commented on #627
What I'm trying to say is that it is proposed to add multilingual speech synthesis.

[2021-07-24 14:43] rgzn-aiyun commented on #627
You're right, single-language synthesizing sounds are good, but there's a gap in the achievement of language!

[2021-07-25 22:33] Edward205 commented on #615
@Geigerkind I did that and it worked. Thanks

[2021-07-26 05:11] #562 closed

[2021-07-26 09:10] neso613 commented on #618
any update ?

[2021-07-26 09:30] ZDisket opened #630 "Help needed to enable TPU Training"
I've been trying to get TensorflowTTS to train on Cloud TPUs because they're really fast and easy to access with the TRC, starting with MB-MelGAN+HiFi-GAN discriminator. I've already implemented all changes, including dataloader overhauls to use TFRecords and Google Cloud required [here](https://github.com/ZDisket/TensorflowTTS/tree/tpu). When I try to train, however, I get this cryptic error, bot

[2021-07-26 09:55] dathudeptrai commented on #630
@ZDisket Let try to for loop a dataset to check if the bug come from dataset or model part.

[2021-07-26 10:00] dathudeptrai commented on #630
I think a bug come from https://github.com/ZDisket/TensorflowTTS/blob/tpu/examples/melgan/train_melgan.py#L242-L285

[2021-07-26 10:05] dathudeptrai commented on #630
@ZDisket maybe we miss else branch for https://github.com/ZDisket/TensorflowTTS/blob/tpu/examples/melgan/train_melgan.py#L260-L261 ?

[2021-07-26 11:40] #201 closed

[2021-07-26 16:27] ZDisket commented on #630
@dathudeptrai

Late reply because I posted the issue then went to sleep. I iterated over the dataset with this function.
[code]
and ran it just before self.run() in the GanBasedTrainer. Nothing happened. Looks like it's something in the training. According to the [one issue where this problem is mentioned](https://github.com/tensorflow/tensorflow/issues/37779), the person calls it a "a horrible bu

[2021-07-26 17:00] ZDisket commented on #630
Also, I am getting a separate error when training Tacotron2. This one might be easier to solve.
[code]
[taclog.txt](https://github.com/TensorSpeech/TensorFlowTTS/files/6879970/taclog.txt)

[2021-07-27 02:39] yukikazenanodesu commented on #629
thanksalot

[2021-07-27 02:39] #629 closed

[2021-07-27 02:45] yukikazenanodesu opened #631 "I want to know how to adjust the speed of the sentence synthesized by tacotron2 + MB melgan. He speaks too fast, but I don't know where to adjust the speed and timbre"
here is my result
[result.zip](https://github.com/TensorSpeech/TensorFlowTTS/files/6882332/result.zip)

[2021-07-27 02:46] yukikazenanodesu commented on #631
and one more question is that How does he deal with thousands of words of long sentences while maintaining good results

[2021-07-27 09:54] dathudeptrai commented on #630
can you try ?

[2021-07-27 11:29] OnceJune commented on #631
you might need to add prosody label to your training data and synth text

[2021-07-28 05:10] iamanigeeit commented on #628
Hmm.... but does it really reduce parameters? Currently, to sum with text embedding, it is 512-dim, but speaker embedding in the Prosody paper is 128-dim.

I think concat makes the text and speaker independent.

[2021-07-28 07:25] pranavpawar3 commented on #478
@PedroDKE Hi, were you able to complete the custom training? If so, please share inputs on the preprocessing of a custom dataset. I have scraped the LivingAudioDataset - https://github.com/Idlak/Living-Audio-Dataset/tree/master/en, and trying to train fastspeech2 on the same.

[2021-07-28 08:51] samuel-lunii commented on #586
I would also recommend not to modify the duration of consonants too much, as most of the duration reduction in each syllable with faster speech is done inside the vowels, according to e.g. [[Bartkova & Sorin 1987](https://www.sciencedirect.com/science/article/abs/pii/016763938790029X), [Kuwabara 1996](http://www.asel.udel.edu/icslp/cdrom/vol4/301/a301.pdf)] :)

Reducing consonants duration too muc

[2021-07-28 10:44] ZDisket commented on #630
@dathudeptrai I previously tried removing the collater and making it pad to the longest audio len, and it still failed.
Just to make sure, I tried again with only change being removing that if statement and it's the same. Perhaps the Tacotron issue might be more worthy of looking into?

[2021-07-28 19:17] tuliomagalhaes commented on #586
I tried what @ZDisket said, and it worked but with one problem. The generated mel spectogram is associated with the speaker and vocoder, the duration calculated with the mel spectogram vary from the generated waveform. And what @samuel-lunii have said, make sense too.

[2021-07-29 00:59] Pavel-Sara opened #632 "from_pretrained() func cannot load local pretrained repo."
When I have already downloaded the models and want to load it locally, but the function 'from_pretrained' only tries to download from internet.

[2021-07-29 01:00] #632 closed

[2021-07-29 01:01] Pavel-Sara commented on #632
need more testing without internet.

[2021-07-29 08:59] X-CCS opened #633 ".h5 model to .tflite model, voice becomes hoarse！"
+ Hi! I trained a FS2 + MBmelgan .h5 model using the Baker data set。Two H5 models were used to verify that the synthesized voice sounded fine.But after I converted this two .h5 models into the .tflite model, the same sentence became very hoarse after being synthesis.
 + Here is my code to transform the model. Is it my code error?
 + I've seen a lot of people talking about updating the latest versi

[2021-07-29 09:09] dathudeptrai commented on #632
@Pavel-Sara https://github.com/TensorSpeech/TensorFlowTTS/blob/master/test/test_auto.py#L68-L78

[2021-07-29 09:10] dathudeptrai commented on #630
@ZDisket i will pin the issue. I have no idea about TPU since i never use it :D

[2021-07-29 09:12] dathudeptrai commented on #633
@X-CCS for melgan/mb-melgan, you need to use float16 or float32. Quanize 8bit is bad unless you do fake quantize training aware.

[2021-07-29 09:14] yukikazenanodesu commented on #631
thanks

[2021-07-29 09:14] #631 closed

[2021-07-29 09:16] X-CCS commented on #633
Thank you. I used Float32 for MB-Melgan

[2021-07-29 09:16] X-CCS commented on #633
@dathudeptrai Thank you! I used Float32 for MB-Melgan

[2021-07-29 09:41] yukikazenanodesu opened #634 "How to adjust the speaking speed of tacotron + mb-melgan? Fastspeech2 can be in speed_ Ratios is adjusted here, but where is tacotron adjusted?"
![image](https://user-images.githubusercontent.com/31941796/127469669-6cdd4d95-f023-4a76-8e3d-85be25c844c7.png)
![image](https://user-images.githubusercontent.com/31941796/127469703-79a078a2-404d-4010-a8c0-7bff4658e042.png)

[2021-07-29 09:41] yukikazenanodesu commented on #634
I didn't find a place to adjust its parameters with tacotron2 ？

[2021-07-29 10:29] ZDisket commented on #634
@yukikazenanodesu Tacotron2 doesn't have speed controls. You're gonna have to either use FastSpeech2 or speed up the resulting waveform with audio editing.

[2021-07-29 10:33] abaddon-moriarty opened #635 "To what correspond the HiFi-GAN losses?"
Hi,
I'm trying to figure out, what all the losses in the HG model are, and what their ideal value should be, or what they sould go towards.

![image](https://user-images.githubusercontent.com/56978503/127474696-e0ba5441-3de1-4ffd-914b-a319e308b8ef.png)
![image](https://user-images.githubusercontent.com/56978503/127474723-6340dc1c-87cc-4578-9b86-b13647d8f496.png)

From what I could find:

- the fm_

[2021-07-30 05:30] Ellie1013 opened #636 "tacotron2 result may have noise like any machine sound"
I trained korean tacotron2 at 468K using kss data and my custom data.
And I made a wave result with mb-melgan.
The result is great, but it has noise like any machine sound.

One of machine sound that the result have is below...
https://drive.google.com/file/d/17FDKD2Yp_cWLsWsfqdKk-sWc1uuk_Gm3/view?usp=sharing

My custom data doesn't have this machine sound, it is very clear.
I trained tacotron2 wi

[2021-07-30 10:26] samuel-lunii commented on #636
@Ellie1013 Did you train MB-MelGAN with your own dataset ?

[2021-07-30 11:20] Ellie1013 commented on #636
@samuel-lunii no, I use pretrained mb-melgan from https://huggingface.co/tensorspeech/tts-mb_melgan-kss-ko

[2021-07-30 22:54] ZDisket commented on #630
It seems that the people over at TensorflowASR already have TPU support and ran into problems in the past as well - might be worth looking into: https://github.com/TensorSpeech/TensorFlowASR/issues/100

[2021-07-31 08:47] dathudeptrai commented on #636
@Ellie1013 please provide a full audio in real inference on testset. :D.

[2021-07-31 09:59] Ellie1013 commented on #636
@dathudeptrai  there are two samples, the last part has noise with normal sound in first one,
and the middle part has noise alone in second one:)
https://drive.google.com/file/d/1xgMMslT7NDWaTtBF_o5HQIYeXAvIleZ7/view?usp=sharing
https://drive.google.com/file/d/1tmre07WEZeCsme9jbItdEUznM4Rf9-YU/view?usp=sharing

[2021-07-31 17:45] ttsking opened #637 "I get random mel outputs when I training Tacotron-2 from scratch with LJSpeech dataset"
I use the most recent code and the standard LJSpeech dataset. When i inference the model, the model generates random mel outputs after the correct voice in most times.

I use the code for inference from Huggingface Hub:

[code]
After the inference, the code will print mel_outputs.shape like this:

`(1, 470, 80)`

If the middle number is in range of 400-600, it will be a good result with no random

[2021-08-02 06:50] iamanigeeit opened #638 "Tacotron2 does not work for multi-speaker"
I've tried doing inference on multi-speaker data and it fails for any `speaker_id != 0`. The `mel_outputs` terminates early and no audio is produced.

    decoder_output, mel_outputs, stop_token_prediction, alignment_history = tacotron2.inference(
            tf.expand_dims(tf.convert_to_tensor(input_ids, dtype=tf.int32), 0),
            tf.convert_to_tensor([len(input_ids)], tf.int32),

[2021-08-02 08:51] ZDisket commented on #638
@iamanigeeit That's correct. You need to modify the dataloader to load your data and provide a `speaker_id`. Here's an [example](https://github.com/ZDisket/TensorflowTTS/blob/tac2msv2/examples/tacotron2/tacotron_dataset.py).

[2021-08-02 17:15] iamanigeeit commented on #638
@ZDisket Thanks for this! Writing a separate file containing 1 `speaker_id` for each utterance seems like overkill, so i will likely just put everything in a single file.

[2021-08-02 17:25] ZDisket commented on #638
@iamanigeeit Yes, it is. At the time it was a quick and dirty solution, but do feel free to do better.

[2021-08-03 08:27] yukikazenanodesu opened #639 "How to import local trained models"
I've trained all the models, but I don't know how to import them locally

Can you tell me how to import?

[2021-08-03 10:45] #575 closed

[2021-08-03 10:45] #574 closed

[2021-08-03 10:45] #557 closed

[2021-08-04 04:12] dathudeptrai commented on #637
@ttsking can you share your alignment figure ?

[2021-08-04 04:14] dathudeptrai commented on #639
refer https://github.com/TensorSpeech/TensorFlowTTS/blob/master/test/test_auto.py#L76-L78 and https://github.com/TensorSpeech/TensorFlowTTS/tree/master/notebooks

[2021-08-04 05:45] ttsking commented on #637
@dathudeptrai Ok, Thank you.
[https://drive.google.com/drive/folders/18MXWDtQn6uJe5ebZAKm_JQgBF-OSnZq1?usp=sharing](url)

[2021-08-04 09:03] ahmedalbahnasawy commented on #255
@machineko sorry for reopening the issue.
My tensorflow-gpu version is 2.3.1.  I want to ask about the Input for a single inference call, for a network that has 5 input tensors as fastspeech2 for generating corresponding TRT engines and save it.
`converter.build(input_fn=my_input_fn)`

[2021-08-04 09:49] machineko commented on #255
I was using multiple inputs but I don't remember if this was just dict or tuple passed to an input method call or smth else but it should be easily found in TRT or TF-TRT docs.

[2021-08-04 11:02] ahmedalbahnasawy commented on #255
@machineko from the TRT docs, converter.build expects you to send it a tuple containing the inputs .

`
def build_trt():
    for _ in range(10):
         input_ids= [46, 11, 49, 52, 59, 42, 11, 62, 52, 58, 11, 56, 52, 11, 50, 58, 40, 45, 7, 148]
         input_ids=tf.expand_dims(tf.convert_to_tensor(input_ids, dtype=tf.int32), 0)
         speaker_ids=tf.convert_to_tensor([0], dtype=tf.int32)

[2021-08-04 11:36] dathudeptrai commented on #637
@ttsking can you share the alignment from the real inference without teacher forcing ?

[2021-08-04 15:39] ttsking commented on #637
@dathudeptrai Oh, how to get the alignment of inference? Sorry for my lack of experience.

[2021-08-05 02:04] twister11211 opened #641 "SavedModel for CPP inference conversion script ValueError: Shapes (150, 384) and (151, 384) are incompatible"
when running the conversion script straight through on both my own and the downloaded models in the colab I am getting a
ValueError: Shapes (150, 384) and (151, 384) are incompatible

when trying to load the weights with
fastspeech2.load_weights(fs2modelname)

I cant see why the shapes would be different and haven't had any luck figuring it out I would really appreciate any help I can get with thi

[2021-08-05 07:07] Cosjimmy opened #642 "File is not a zip file r1.6.1"
I am using centOS7 cuda 10.1, python 3.7.4 and I cloned the project r1.6.1 and used baker dataset I ran the following script:

tensorflow-tts-preprocess --rootdir ./baker --outdir ./dump_baker --config preprocess/baker_preprocess.yaml --dataset baker

but  encountered the following issue:

2021-08-05 14:50:15.439306: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully open

[2021-08-05 10:26] dathudeptrai commented on #637
@ttsking https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/tacotron2_inference.ipynb

[2021-08-05 11:25] abaddon-moriarty commented on #635
@dathudeptrai , @ZDisket Did you find any information ?

[2021-08-05 12:05] ZDisket commented on #641
@twister11211 That's because the processors have changed from that time. I've modified the notebook.

[2021-08-05 16:23] ttsking commented on #637
@dathudeptrai I use the notebook to load my own-trained models, and get these results. Pls help to check, thanks.
https://drive.google.com/drive/folders/1CEbEhIWuoDlARoQHMGntbI8AkiwEAPp1?usp=sharing

[2021-08-06 01:48] dathudeptrai commented on #637
@ttsking can you try to set window to 3 intead 6 ?

[2021-08-06 02:28] #547 closed

[2021-08-06 03:06] abylouw commented on #537
Hi @dathudeptrai,

Would multilingual support just require a language input per character/phoneme together with an embedding that gets summed with the character/phoneme embedding before the encoder or do you think there is more to it?

[2021-08-06 13:45] ttsking commented on #637
@dathudeptrai I tested window 3 and 1, looks no improvements:
https://drive.google.com/drive/folders/14ckSy9a4xBu29opPaQ-OsuWx4DqyvfKK?usp=sharing

Does it related to the training process. I use nvidia's docker 21.03-tf2-py3 and 21.06-tf2-py3. Both have this random issue. If i use Baker dataset, it's all fine.

![6-8-2021_211540_localhost](https://user-images.githubusercontent.com/74232385/1285188

[2021-08-07 00:26] twister11211 commented on #641
@ZDisket thanks that was really helpful

[2021-08-07 01:40] #569 closed

[2021-08-08 08:50] TinoGuo commented on #576
Hi @roboticsai how do resolve the build error? I cloned the repo from the git and followed the step in https://github.com/TensorSpeech/TensorFlowTTS/tree/master/examples/cpptflite, it throws me the error when try to execute `make`

[code]

thanks in advance!

[2021-08-09 15:25] zhangsanfeng86 opened #643 "When training Fastspeech2 , got Error"
When training Fastspeech2 , got Error![image](https://user-images.githubusercontent.com/73547638/128731961-c9d07402-46ba-45aa-a248-d3523db8cecf.png)

[2021-08-10 09:16] zhangsanfeng86 commented on #643
input data mistake

[2021-08-10 09:16] #643 closed

[2021-08-10 09:52] #578 closed

[2021-08-10 13:53] #553 closed

[2021-08-11 16:03] samuel-lunii opened #644 "About multi-speaker datasets and tacotron2..."
Hi !
I would like to ask a few questions about multi-speaker datasets. [This thread](https://github.com/TensorSpeech/TensorFlowTTS/issues/296#issuecomment-741850534) gives good insights about what is needed for transfer learning with short duration for each speaker in a multi-speaker dataset using FastSpeech.

My questions are about Tacotron2.

- What is the minimal total duration needed to train

[2021-08-12 09:17] dathudeptrai commented on #644
@ZDisket do you have any ideas?

[2021-08-12 09:34] ZDisket commented on #644
@dathudeptrai @samuel-lunii I haven't had much success training multispeaker Tacotron2 as the attention mechanism becomes unable to learn alignment when it is multispeaker, even for datasets that are big, good and train successfully on FastSpeech2, so I would suggest using that for multispeaker instead. Maybe we can fix the issues of fixed durations for outputs by using the stochastic duration pre

[2021-08-12 15:39] samuel-lunii commented on #644
@ZDisket
Thanks for your answers.

So I guess your answers are about FastSpeech2 ? I actually want to use Tacotron2 for expressive speech synthesis.

As mentioned in #628, I think it could be worth adapting the Tacotron2 model in a way similar to the [prosody paper](http://proceedings.mlr.press/v80/skerry-ryan18a/skerry-ryan18a.pdf) (also used in the [GST paper](http://proceedings.mlr.press/v80/wa

[2021-08-12 16:06] dathudeptrai commented on #644
@samuel-lunii

Add before ->>> speaker-dependently encoder
Add after ->>> speaker-dependently decoder

You can imagine it as Resnet.

[2021-08-13 01:24] ZDisket commented on #644
@samuel-lunii

Define "expressive".  FastSpeech2 is good at expressiveness, it's just the deterministic duration predictions that are the problem. I've had success adding an emotion embedding (a copy of the speaker embedding) for training with a multispeaker multi-emotion dataset that is categorized by those.

[2021-08-13 07:49] samuel-lunii commented on #644
@ZDisket
Ok good to know, thanks :) I will definitely have a go with multi-speaker FasteSpeech2.
However, I would like to use "GST like" architecture, in order to avoid emotion labelling...

[2021-08-13 08:32] ttsking opened #646 "Training Multi-band MelGAN gets huge loss value and cannot recover"
I use a customized Baker Dataset to train the Multi-band MelGAN model. It's fine at the beginning and the lost value suddenly goes huge.

I tested training from scratch:
![tensorboard_from scratch](https://user-images.githubusercontent.com/74232385/129327438-0c05569a-f843-4170-b66d-3b0fb63b015e.jpeg)

and Fine-tune:
![tensorboard_finetune](https://user-images.githubusercontent.com/74232385/1293274

[2021-08-13 08:32] ttsking opened #647 "Training Multi-band MelGAN gets huge loss value and cannot recover"
I use a customized Baker Dataset to train the Multi-band MelGAN model. It's fine at the beginning and the lost value suddenly goes huge.

I tested training from scratch:
![tensorboard_from scratch](https://user-images.githubusercontent.com/74232385/129327438-0c05569a-f843-4170-b66d-3b0fb63b015e.jpeg)

and Fine-tune:
![tensorboard_finetune](https://user-images.githubusercontent.com/74232385/1293274

[2021-08-13 08:42] ttsking commented on #647
Duplicated post for the poor network. Close this.

[2021-08-13 08:42] #647 closed

[2021-08-13 12:08] get2abhi commented on #616
It happens with the android out of box example.

Steps to reproduce:

Run the android example and change the speed from fast to slow. The voice output will become gibberish

[2021-08-13 15:08] ttsking commented on #646
Update: When this error occured, i use a customized Baker Dataset in sampling 24000. After that, i resampled the dataset to 48000 like the standard Baker Dataset. Then the training gets successful.  I don't know why.

![compare-24-48](https://user-images.githubusercontent.com/74232385/129378074-03a6cada-b8eb-4b59-b8ea-6a50a3b6670e.png)

[2021-08-14 07:19] #554 closed

[2021-08-16 05:41] ZDisket commented on #644
@samuel-lunii

 Someone I know used an automatic sentiment detection from text labeling model and used its output as emotion embedding.